﻿<div ng-init="checkUserAccess()">
    <form autocomplete="off" class="form-horizontal input-border-b input-placeholder-normal" name="createJobForm" novalidate>
        <div class="card">
            <div class="card-header p-a-xs no-bg">
                <div class="text-lg-right">
                    <a class="btn btn-danger btn-sm small" role="button" ng-click="goToRequirementList()">
                        <i class="fa fa-list m-r-xs"></i>List
                    </a>
                </div>
            </div>
            <div class="card-block p-a-1 clearfix">
                <fieldset class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="row m-b-xs">
                            <label class="col-sm-3">
                                Internal Requirement Id<span class="bold text-red">*</span>
                            </label>
                            <div class="col-sm-9">
                                <input tabindex="1" type="text" class="form-control form-control-sm" placeholder="Enter Internal Requirement Id"
                                       ng-model="common.requirementModel.RequisitionId"
                                       name="requisitionId"
                                       validation="required:alt=Internal requirement id is required|max_len:50" />
                            </div>
                            <span ng-show="duplicateRequisitionId">
                                <i class="fa fa-info-circle text-muted">
                                    <span class="text-muted">
                                        Internal Requirement Id is already present. Please select different Requirement Id.
                                    </span>
                                </i>
                            </span>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Requirement Title<span class="bold text-red">*</span></label>
                            <div class="col-sm-9">
                                <input tabindex="2" type="text"
                                       class="form-control form-control-sm readOnlyTransperent"
                                       placeholder="Enter Requirement title"
                                       ng-model="common.requirementModel.JobTitle"
                                       name="jobTitle"
                                       id="lookupJobTitle"
                                       readonly
                                       auto-complete ui-items="jobTitles"
                                       validation="required:alt=Job title is required."
                                       ng-click="openGenericMasterModal('Requirement Title');"
                                       ng-keyup="openGenericMasterModal('Requirement Title');" />
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">
                                Requirement Type<span class="bold text-red">*</span>
                            </label>
                            <div class="col-sm-9">
                                <input tabindex="3" type="text"
                                       class="form-control form-control-sm readOnlyTransperent"
                                       placeholder="Enter Requirement type"
                                       ng-model="common.requirementModel.JobType"
                                       name="jobType"
                                       id="lookupJobType"
                                       readonly
                                       auto-complete ui-items="JobType"
                                       validation="required:alt=Job type is required."
                                       ng-click="openGenericMasterModal('Requirement Type');"
                                       ng-keyup="openGenericMasterModal('Requirement Type');" />
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Internal Job Title</label>
                            <div class="col-sm-9">
                                <input tabindex="4" type="text" class="form-control form-control-sm" placeholder="Enter internal job title"
                                       ng-model="common.requirementModel.InternalJobTitle"
                                       name="internalJobTitle"
                                       validation="max_len:100" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Company<span class="bold text-red">*</span></label>
                            <div class="col-sm-9">
                                <select tabindex="5" name="companyId"
                                        ui-select2
                                        data-placeholder="select company"
                                        ng-model="common.requirementModel.CompanyId"
                                        ng-change="getCompanyContactsLookup(common.requirementModel.CompanyId)"
                                        validation="required:alt=company is required.">
                                    <option value=""></option>
                                    <option ng-repeat="company in lookup.company" value="{{company.Id}}"
                                            ng-bind="company.Name"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Company Contact<span class="bold text-red">*</span></label>
                            <div class="col-sm-9">
                                <select tabindex="6" name="companyContactId"
                                        ui-select2
                                        data-placeholder="Select company contact"
                                        ng-model="common.requirementModel.CompanyContactId"
                                        validation="required:alt=company contact is required.">
                                    <option value=""></option>
                                    <option ng-repeat="companyContact in companyContactList" value="{{companyContact.Id}}"
                                            ng-bind-template="{{companyContact.Name}}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Company Requirement Code</label>
                            <div class="col-sm-9">
                                <input tabindex="7" type="text" class="form-control form-control-sm" placeholder="Enter company requirement code"
                                       ng-model="common.requirementModel.ClientJobCode"
                                       name="clientJobCode"
                                       validation="max_len:50" />
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Assigned Recruiter<span class="bold text-red">*</span></label>
                            <div class="col-sm-9">
                                <select tabindex="8" name="organizationUserId"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="Select assigned recruiter"
                                        ng-model="common.requirementModel.OrganizationUserIdList"
                                        multiple="multiple"
                                        validation="required:alt=assigned recruiter is required">
                                    <option ng-repeat="organizationUser in lookup.organizationUser" value="{{organizationUser.Id}}"
                                            ng-bind="organizationUser.Name"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <fieldset class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Openings</label>
                            <div class="col-sm-9">
                                <input tabindex="9" type="text" class="form-control form-control-sm" placeholder="Enter Total Positions"
                                       ng-model="common.requirementModel.TotalPositions"
                                       name="totalPositions"
                                       validation="max_len:10|integer" />
                            </div>
                        </div>
                        <div class="row m-b-xs" ng-if="common.requirementModel.JobType=='Permanent'">
                            <label class="col-sm-3">Duration</label>
                            <div class="col-sm-9">
                                <input tabindex="10" type="text" class="form-control form-control-sm" placeholder="Enter duration"
                                       ng-model="common.requirementModel.Duration"
                                       name="duration" />
                            </div>
                        </div>
                        <div class="row m-b-xs" ng-if="common.requirementModel.JobType!='Permanent'">
                            <label class="col-sm-3">Duration<span class="bold text-red">*</span></label>
                            <div class="col-sm-9">
                                <input tabindex="10" type="text" class="form-control form-control-sm" placeholder="Enter duration"
                                       ng-model="common.requirementModel.Duration"
                                       name="duration"
                                       validation="required:alt=duration is required.|max_len:20" />
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Job Location<span class="bold text-red">*</span></label>
                            <div class="col-sm-9">
                                <input tabindex="11" type="text" class="form-control form-control-sm" placeholder="Enter location"
                                       ng-model="common.requirementModel.Location"
                                       name="location"
                                       validation="required:alt=job location is required|max_len:50" />
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">VISA Type</label>
                            <div class="col-sm-9">
                                <select tabindex="12" name="visaType" tabindex="10"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="Select VISA type"
                                        ng-model="common.requirementModel.VisaTypeId">
                                    <option value=""></option>
                                    <option ng-repeat="visaType in lookup.visaType" value="{{visaType.Id}}"
                                            ng-bind="visaType.Name"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Status</label>
                            <div class="col-sm-9">
                                <select tabindex="13" name="jobStatus"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="Select job status"
                                        ng-model="common.requirementModel.JobStatusId">
                                    <option value=""></option>
                                    <option ng-repeat="jobStatus in lookup.jobStatus" value="{{jobStatus.Id}}"
                                            ng-bind="jobStatus.Name"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Req. Open Date</label>
                            <div class="col-sm-9">
                                <datepicker date-format="MM/dd/yyyy" date-set-hidden="true"
                                            date-max-limit="{{maxDate}}">
                                    <input tabindex="14" type="text"
                                           class="form-control  form-control-sm"
                                           placeholder="Enter job open date"
                                           ng-model="common.requirementModel.JobPostedDate"
                                           name="requirementModel.jobPostedDate"
                                           validation="xseed_date|xseed_date_compare:01/01/1900,{{maxDate}}"
                                           ui-mask="99/99/9999"
                                           ui-mask-placeholder
                                           ui-mask-placeholder-char="_"
                                           model-view-value="true" />
                                </datepicker>
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Req. Closed Date</label>
                            <div class="col-sm-9">
                                <datepicker date-format="MM/dd/yyyy"
                                            date-set-hidden="true"
                                            date-min-limit="{{common.requirementModel.JobPostedDate}}">
                                    <input tabindex="15" type="text"
                                           class="form-control form-control-sm"
                                           placeholder="Enter job closed date"
                                           ng-model="common.requirementModel.JobClosedDate"
                                           name="requirementModel.jobClosedDate"
                                           validation="xseed_date|xseed_date_compare:{{common.requirementModel.JobPostedDate}},{{closedDate}}"
                                           ui-mask="99/99/9999"
                                           ui-mask-placeholder
                                           ui-mask-placeholder-char="_"
                                           model-view-value="true" />
                                </datepicker>
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Position Expiry Date</label>
                            <div class="col-sm-9">
                                <datepicker date-format="MM/dd/yyyy" date-set-hidden="true"
                                            date-min-limit="{{common.requirementModel.JobPostedDate}}">
                                    <input tabindex="16" type="text"
                                           class="form-control form-control-sm"
                                           placeholder="Enter job expiry date"
                                           ng-model="common.requirementModel.JobExpiryDate"
                                           name="jobExpiryDate"
                                           validation="xseed_date|xseed_date_compare:{{common.requirementModel.JobPostedDate}},{{closedDate}}"
                                           ui-mask="99/99/9999"
                                           ui-mask-placeholder
                                           ui-mask-placeholder-char="_"
                                           model-view-value="true" />
                                </datepicker>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <fieldset class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Client Rate</label>
                            <div class="col-sm-9">
                                <input tabindex="17" type="text" class="form-control form-control-sm" placeholder="enter client rate"
                                       ng-model="common.requirementModel.ClientRate"
                                       name="ClientRate"
                                       angular-currency="currencyOptions" />
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Pay Rate</label>
                            <div class="col-sm-9">
                                <input tabindex="18" type="text" class="form-control form-control-sm" placeholder="Enter pay rate"
                                       ng-model="common.requirementModel.PayRate"
                                       name="PayRate"
                                       angular-currency="currencyOptions" />
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Salary</label>
                            <div class="col-sm-4">
                                <input tabindex="19" type="text" class="form-control form-control-sm" placeholder="Enter Min Salary"
                                       ng-model="common.requirementModel.MinSalary"
                                       name="MinSalary"
                                       angular-currency="currencyOptions" />
                            </div>
                            <div class="col-sm-5">
                                <input tabindex="20" type="text" class="form-control form-control-sm" placeholder="Enter Max Salary"
                                       ng-model="common.requirementModel.MaxSalary"
                                       name="MaxSalary"
                                       angular-currency="currencyOptions" />
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Total Experience</label>
                            <div class="col-sm-4">
                                <select tabindex="21" name="experienceInYear"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="Select Minimum Year(s)"
                                        ng-model="common.requirementModel.ExperienceInYear">
                                    <option value=""></option>
                                    <option ng-repeat="i in 26 | range" value="{{$index}}">{{$index}}</option>
                                </select>
                            </div>
                            <span class="col-sm-1"> to </span>
                            <div class="col-sm-4">
                                <select tabindex="22" name="experienceInMonth"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="Select Maximum Year(s)"
                                        ng-model="common.requirementModel.ExperienceInMonth">
                                    <option value=""></option>
                                    <option ng-repeat="i in 26 | range" value="{{$index}}">{{$index}}</option>
                                </select>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Client Rate Type</label>
                            <div class="col-sm-9">
                                <input tabindex="23" type="text" class="form-control form-control-sm" placeholder="Enter client rate type"
                                       ng-model="common.requirementModel.ClientRateType"
                                       name="ClientRateType"
                                       validation="max_len:200" />
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Pay Rate Type</label>
                            <div class="col-sm-9">
                                <input tabindex="24" type="text" class="form-control form-control-sm" placeholder="Enter pay rate type"
                                       ng-model="common.requirementModel.PayRateType"
                                       name="PayRateType"
                                       validation="max_len:200" />
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Per Diem</label>
                            <div class="col-sm-9">
                                <input tabindex="25" type="text" class="form-control form-control-sm" placeholder="Enter per diem"
                                       ng-model="common.requirementModel.PerDiem"
                                       name="PerDiem"
                                       angular-currency="currencyOptions" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3">US Experience</label>
                            <div class="col-sm-4">
                                <select tabindex="26" name="usExperienceInYear"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="Select Minimum Year(s)"
                                        ng-model="common.requirementModel.USExperienceInYear">
                                    <option value=""></option>
                                    <option ng-repeat="i in 26 | range" value="{{$index}}">{{$index}}</option>
                                </select>
                            </div>
                            <span class="col-sm-1"> to </span>
                            <div class="col-sm-4">
                                <select tabindex="27" name="usExperienceInMonth"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="Select Maximum Year(s)"
                                        ng-model="common.requirementModel.USExperienceInMonth">
                                    <option value=""></option>
                                    <option ng-repeat="i in 26 | range" value="{{$index}}">{{$index}}</option>
                                </select>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <fieldset class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Margin</label>
                            <div class="col-sm-9">
                                <input tabindex="28" type="text" class="form-control form-control-sm" placeholder="Enter margin"
                                       ng-model="common.requirementModel.Margin"
                                       name="margin"
                                       angular-currency="currencyOptions" />
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Fee %</label>
                            <div class="col-sm-9">
                                <input tabindex="29" type="text" class="form-control form-control-sm" placeholder="Enter fee %"
                                       ng-model="common.requirementModel.FeePercent"
                                       name="FeePercent"
                                       validation="max_len:50" />
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Description</label>
                            <div class="col-sm-9">
                                <textarea tabindex="30" class="form-control" placeholder="Enter description"
                                          ng-model="common.requirementModel.JobDescription"
                                          name="jobDescription"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Country</label>
                            <div class="col-sm-9">
                                <select tabindex="31" name="countryId"
                                        ui-select2
                                        data-placeholder="Select country"
                                        ng-model="common.requirementModel.CountryId"
                                        ng-click="getStateListByCountry(common.requirementModel.CountryId)">
                                    <option value=""></option>
                                    <option ng-repeat="country in metadata.GetAncillaryInformationResponse.countryList.country" value="{{country.Id}}"
                                            ng-bind="country.Name"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">State</label>
                            <div class="col-sm-9">
                                <select tabindex="32" name="stateId"
                                        ui-select2
                                        data-placeholder="Select state"
                                        ng-model="common.requirementModel.StateId"
                                        ng-click="getCityListByState(common.requirementModel.StateId)">
                                    <!--<option>select Country</option>-->
                                    <option value=""></option>
                                    <option ng-repeat="state in stateList" value="{{state.Id}}"
                                            ng-bind="state.Name"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">City</label>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-10 p-r-0">
                                        <select tabindex="33" name="cityId"
                                                ui-select2="{allowClear: true}"
                                                data-placeholder="Select city"
                                                ng-model="common.requirementModel.CityId">
                                            <option value=""></option>
                                            <option ng-repeat="city in cityList" value="{{city.Id}}"
                                                    ng-bind="city.Name"></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-sm small btn-primary" ng-disabled="!(common.requirementModel.CountryId && common.requirementModel.StateId)" ng-click="openAddNewCityToMasterModal(common.requirementModel.CountryId, common.requirementModel.StateId)"><i class="fa fa-plus"></i>Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Zip</label>
                            <div class="col-sm-9">
                                <input tabindex="34" type="text" class="form-control form-control-sm" placeholder="Enter zip"
                                       ng-model="common.requirementModel.Zip"
                                       name="Zip"
                                       validation="xseed_zip" />
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <fieldset class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Communication Skills</label>
                            <div class="col-sm-9">
                                <select tabindex="35" name="jobCommunicationSkills"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="Select communication skills"
                                        ng-model="common.requirementModel.CommunicationSkills">
                                    <option value=""></option>
                                    <option value="Average">Average</option>
                                    <option value="Excellent">Excellent</option>
                                    <option value="Good">Good</option>
                                </select>
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Degree</label>
                            <div class="col-sm-9">
                                <input tabindex="36" type="text"
                                       class="form-control form-control-sm readOnlyTransperent"
                                       placeholder="Enter degree"
                                       ng-model="common.requirementModel.DegreeNameList"
                                       name="degree"
                                       id="lookupDegree"
                                       readonly
                                       auto-complete ui-items="degree"
                                       ng-click="openGenericMasterMultiValueModal('Degree');"
                                       ng-keyup="openGenericMasterMultiValueModal('Degree');" />

                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Technical Skills</label>
                            <div class="col-sm-9">
                                <select tabindex="37" selector
                                        multi="true"
                                        model="common.requirementModel.SkillList"
                                        options="lookup.skillListData"
                                        value-attr="label"
                                        placeholder="Type skills..."
                                        create="createFunction(input)"></select>
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Security Clearance</label>
                            <div class="col-sm-9">
                                <input tabindex="38" type="text" class="form-control form-control-sm" placeholder="Enter security clearance"
                                       ng-model="common.requirementModel.SecurityClearance"
                                       name="SecurityClearance"
                                       validation="max_len:200" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Hours</label>
                            <div class="col-sm-1">
                                <label>Weekly</label>
                            </div>
                            <div class="col-sm-3">
                                <input tabindex="39" type="text" class="form-control form-control-sm" placeholder="hrs"
                                       ng-model="common.requirementModel.WeeklyHours"
                                       name="WeeklyHours"
                                       angular-currency=""
                                       validation="numeric" />
                            </div>
                            <div class="col-sm-1">
                                <label>Total</label>
                            </div>
                            <div class="col-sm-3">
                                <input tabindex="40" type="text" class="form-control form-control-sm" placeholder="hrs"
                                       ng-model="common.requirementModel.TotalHours"
                                       name="TotalHours"
                                       angular-currency=""
                                       validation="numeric" />
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">Bussines Unit</label>
                            <div class="col-sm-9">
                                <input tabindex="41" type="text"
                                       class="form-control form-control-sm readOnlyTransperent"
                                       placeholder="Select business unit"
                                       ng-model="common.requirementModel.BusinessUnitName"
                                       name="businessUnit"
                                       id="lookupBusinessUnit"
                                       readonly
                                       auto-complete ui-items="degree"
                                       ng-click="openGenericMasterModal('Business Unit');"
                                       ng-keyup="openGenericMasterModal('Business Unit');" />
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <label class="col-sm-3">QNotes</label>
                            <div class="col-sm-9">
                                <input tabindex="42" type="text" class="form-control form-control-sm" placeholder="Enter notes and save" ng-model="common.requirementModel.qNote" name="qNote" validation="max_len:200" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="card-block" ng-if="common.requirementModel.ParsedEmailHTMLContent">
                            <h5 class="bold card-title text-primary no-bg m-b-1">Original Email Content</h5>
                            <div class="clearfix">
                                <div class="row m-b-xs">
                                    <label class="col-sm-1">From:</label>
                                    <div class="col-sm-11">
                                        <span ng-bind="common.requirementModel.ParsedEmailSourceAddress"></span>
                                    </div>

                                </div>
                                <div class="row m-b-xs">
                                    <label class="col-sm-1">Subject:</label>
                                    <div class="col-sm-7">
                                        <span ng-bind="common.requirementModel.ParsedEmailSubject"></span>
                                    </div>
                                    <span class="col-sm-4">
                                        <label class="pull-right">Date: <span ng-bind="common.requirementModel.ParsedEmailDate| date: 'MM/dd/yyyy h:mm a'"></span></label>
                                    </span>
                                </div>
                            </div>
                            <div contenteditable="true" ng-if="common.requirementModel.ParsedEmailHTMLContent" ng-bind-html="common.requirementModel.ParsedEmailHTMLContent" style="border:solid 2px #CCC;box-shadow:0px 2px 2px #CCC;padding:25px;width:100%">
                            </div>
                        </div>
                    </div>
                </fieldset>


            </div>
            <div class="card-footer">
                <fieldset class="row text-xs-center">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary btn-sm small" ng-click="checkDuplicateRequirementIdNSaveJob(common.requirementModel.RequisitionId,createJobForm);"
                                ng-if="common.requirementModel.manipulationMode=== 'Create'">
                            <i class="fa fa-plus m-r-xs"></i>Add
                        </button>&nbsp;
                        <button type="button" class="btn btn-primary btn-sm small" ng-click="checkDuplicateRequirementIdNSaveJob(common.requirementModel.RequisitionId,createJobForm);"
                                ng-if="common.requirementModel.manipulationMode=== 'Edit'">
                            <i class="fa fa-save m-r-xs" aria-hidden="true"></i>Save
                        </button>&nbsp;
                        <button type="button" class="btn btn-danger btn-sm small" ng-click="rejectRequirement(common.requirementModel.emailParserId);"
                                ng-if="common.requirementModel.HtmlText">
                            <i class="fa fa-times m-r-xs" aria-hidden="true"></i>Reject
                        </button>&nbsp;
                        <button type="button" class="btn btn-danger btn-sm small" ng-click="cancelRequirement()">
                            Cancel
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
</div>

