<div class="header-inner" ng-class="{'search-focus': main.searchFocus, 'search-focus-active': !main.app.search}">
    <div class="navbar-item brand hidden-lg-up">
        <!-- toggle offscreen menu -->
        <a href="javascript:;" ng-click="main.toggleMenu()" class="toggle-offscreen">
            <i class="material-icons">menu</i>
        </a>
    </div>
    <span class="navbar-item navbar-spacer-right hidden-sm-down m-auto">
        <a class="brand-logo" ng-href="#/dashboard" href="#/dashboard">
            <img class="expanding-hidden" src="images/logo-b.png" alt="">
        </a>
    </span>
    <span class="navbar-item navbar-spacer-right hidden-lg-up hidden-md-up m-auto">
        <a class="brand-logo" ng-href="#/dashboard" href="#/dashboard">
            <img class="expanding-hidden" src="images/Xseed_40x40.png" alt="">
        </a>
    </span>
    <div class="navbar-item m-auto" style="-webkit-box-flex: 1; -moz-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; -ms-flex-negative: 1; flex-shrink: 1; -ms-flex-preferred-size: 1; flex-basis: 1;">
        <div class="pull-right">
            <div class="user-image pull-right hidden-md-down text-xs-right font-15">
                <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>
                        <img ng-if="userDetails.ProfileImage" ng-src="{{ userDetails.ProfileImage }}" lazy-src class="avatar-2wh img-circle" title="user" />
                        <img ng-if="!userDetails.ProfileImage" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src class="avatar-2wh img-circle" title="user" />
                    </span>
                    <span ng-bind="userDetails.FirstName"></span>
                    <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </a>
                <div class="dropdown-menu m-t-n animated fadeInDown" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">
                        <div class="user-info expanding-hidden v-align-middle">
                            <span ng-bind="userDetails.FirstName"></span>
                            <span ng-bind="userDetails.LastName"></span>
                            <div class="small" ng-bind="userDetails.RoleName"></div>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" ng-click="logOut()">
                        Logout
                    </a>
                </div>
            </div>
        </div>
        <div class="btn-round btn-sm bg-white m-r-xs text-xs-right pull-right font-14 text-grey-dark">
            <span class="bold">{{pageTitle}}</span>
        </div>
    </div>
    <!--<div class="navbar-item nav navbar-nav p-l-xs">
        <div class="nav-item nav-link dropdown" uib-dropdown>
            <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle>
                <i class="material-icons">notifications</i>
                <span class="label tag label-danger" ng-bind="common.scheduleLogList.length"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right notifications animated fadeInDown" uib-dropdown-menu>
                <div class="dropdown-item">
                    <div class="notifications-wrapper slimScroll">
                        <ul class="notifications-list">
                            <li ng-repeat="schedule  in common.scheduleLogList" ng-click="openCommonReminderModal(schedule)">
                                <a href="javascript:;" class="p-t-xs p-b-xs" ng-attr-title="{{schedule.Type}}">
                                    <div class="notification-icon">
                                        <div class="circle-icon bg-success text-white" ng-if="schedule.Type == 'Call'">
                                            <i class="material-icons">phone</i>
                                        </div>
                                        <div class="circle-icon bg-danger text-white" ng-if="schedule.Type == 'Meeting'">
                                            <i class="material-icons">event</i>
                                        </div>
                                        <div class="circle-icon bg-cyan text-white" ng-if="schedule.Type == 'Interview'">
                                            <i class="material-icons">assignment_ind</i>
                                        </div>
                                        <div class="circle-icon bg-indigo text-white" ng-if="schedule.Type == 'Task'">
                                            <i class="material-icons">assignment</i>
                                        </div>
                                    </div>
                                    <div class="notification-message">
                                        <span class="clearfix" ng-bind="schedule.CandidateNames[0]"></span>
                                        <span ng-bind="schedule.Subject" class="text-grey-dark font-weight-medium"></span>
                                        <span class="time" ng-bind="schedule.StartTime|date:'medium'"></span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="notification-footer">Notifications</div>
                </div>
            </div>
        </div>
        <a href="javascript:;" class="nav-item nav-link nav-link-icon" ng-click="openChat()">
          <i class="material-icons">chat_bubble</i>
        </a>
    </div>-->
</div>