<div class="brand">
    <!-- toggle offscreen menu -->
    <a href="javascript:;" ng-click="main.toggleMenu()" class="toggle-offscreen hidden-lg-up">
        <i class="material-icons">menu</i>
    </a>
    <!-- /toggle offscreen menu -->
    <!-- logo -->
    <a class="brand-logo p-t-xs" ng-href="#/dashboard">
        <img class="expanding-hidden" src="images/logo-b.png" alt="" />
    </a>
    <!--a href="#" class="small-menu-visible brand-logo"><b>C</b></a-->
    <!-- /logo -->
</div>
<div class="nav-profile hidden-lg-up" uib-dropdown>
    <a href="javascript:;">
        <div class="user-image pull-left p-a-xs">
            <img ng-if="userDetails.ProfileImage" ng-src="{{ userDetails.ProfileImage }}" lazy-src class="avatar-3wh img-circle" title="user" />
            <img ng-if="!userDetails.ProfileImage" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src class="avatar-3wh img-circle" title="user" />
        </div>
        <div class="user-info expanding-hidden">
            <div>
                <span ng-bind="userDetails.FirstName"></span>
                <span ng-bind="userDetails.LastName"></span>
            </div>
            <div class="bold" ng-bind="userDetails.RoleName"></div>
            <div class="p-a-xs"><a class="label label-danger small" ng-click="logOut()">Logout</a></div>
        </div>
    </a>
    <!--<div class="dropdown-menu" uib-dropdown-menu>
        <a class="dropdown-item" href="javascript:;">settings</a>
        <a class="dropdown-item" href="javascript:;">upgrade</a>
        <a class="dropdown-item" href="javascript:;">
            <span class="label bg-danger pull-right">34</span>
            <span>notifications</span>
        </a>
        <div class="dropdown-divider">
        </div>
        <a class="dropdown-item" href="javascript:;">help</a>
        <a class="dropdown-item" ui-sref="user.signin">logout</a>
        <a class="dropdown-item" ng-click="logout()">logout</a>
    </div>-->
</div>
<!-- main navigation -->
<nav role="navigation" side-navigation>
    <ul class="nav">
        <!-- dashboard -->
        <li ui-sref-active="active">
            <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('dashboard')">
                <i class="material-icons text-primary">home</i>
                <span translate="menu.DASHBOARD"></span>
            </a>
        </li>
        <li ng-if="userDetails.Requirement_Read == 'True'" ui-sref-active="active">
            <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('requirementList')">
                <i class="material-icons text-cyan">assignment</i>
                <span translate="menu.Requirements"></span>
            </a>
        </li>
        <li ng-if="userDetails.Candidate_Read == 'True'" ui-sref-active="active">
            <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('candidateList')">
                <i class="material-icons text-deeppurple">person</i>
                <span translate="menu.Candidates"></span>
            </a>
        </li>
        <li ng-if="userDetails.Submission_Read == 'True'" ui-sref-active="active">
            <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('submissions')">
                <i class="material-icons text-indigo" aria-hidden="true">assignment_turned_in</i>
                <span translate="menu.Submissions"></span>
            </a>
        </li>
        <li ng-if="userDetails.Company_Read == 'True'" ui-sref-active="active">
            <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('companyList')">
                <i class="material-icons text-success">business</i>
                <span translate="menu.Company"></span>
            </a>
        </li>
        <!--<li ng-if="userDetails.Vendor_Read == 'True'" ui-sref-active="active">
            <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('vendorEmailList')">
                <i class="material-icons text-brown">assignment_ind</i>
                <span translate="menu.Vendor"></span>
            </a>
        </li>-->
        <!--<li ng-if="userDetails.Vendor_Read == 'True'" ui-sref-active="active">
            <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('resumeEmailList')">
                <i class="material-icons text-blue" aria-hidden="true">email</i>
                <span translate="menu.ResumeEmail"></span>
            </a>
        </li>-->
        <li data-ng-class="{open: $state.includes('app.apps')}">
            <a>
                <span class="menu-caret">
                    <i class="material-icons">arrow_drop_down</i>
                </span>
                <i class="material-icons text-teal">settings</i>
                <span translate="menu.Account"></span>
            </a>
            <ul class="sub-menu">
                <li ng-if="userDetails.Organization_Read == 'True'" ui-sref-active="active">
                    <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('organizationProfile')">
                        <span translate="menu.Organization"></span>
                    </a>
                </li>
                <li ng-if="userDetails.Organization_Read == 'True'" ui-sref-active="active">
                    <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('systemUsers')">
                        <span translate="menu.Users"></span>
                    </a>
                </li>
                <li ng-if="userDetails.RoleName == 'Application Administrator'" ui-sref-active=" active">
                    <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('userRoles')">
                        <span translate="menu.UserRoles"></span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('changePassword')">
                        <span translate="menu.ChangePassword"></span>
                    </a>
                </li>
                <!--<li ui-sref-active="active">
                    <a ng-href="#/userEmailConfiguration" href="javascript: void(0);" ng-click="main.toggleMenu()">
                        <span translate="menu.ConfigureEmail"></span>
                    </a>
                </li>-->

            </ul>
        </li>
        <li ng-if="userDetails.Reports_Read == 'True'" ui-sref-active="active">
            <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('reports')">
                <i class="material-icons text-primary">insert_chart</i>
                <span translate="menu.Reports"></span>
            </a>
        </li>
        <li>
            <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('queryBuilder')">
                <i class="material-icons text-danger">content_paste</i>
                <span translate="menu.QueryBuilder"></span>
            </a>
        </li>

        <li>
            <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('resumeBlasterList')">
                <i class="material-icons">send</i>
                <span translate="menu.ResumeBlaster"></span>
            </a>
        </li>
        <!-- /dashboard -->
        <!-- apps -->
    </ul>
</nav>
<!-- /main navigation -->
