﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal" name="visaTypeForm" novalidate>
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h4 class="modal-title">
                        <span>Visa Type </span>
                    </h4>
                </div>
                <div class="modal-body">
                    <fieldset class="form-group row">
                        <legend></legend>
                        <div class="col-sm-12">
                            <label class="col-sm-3">VISA Type<span class="bold text-red">*</span></label>
                            <div class="col-sm-9">
                                <select name="visaType"
                                        tabindex="54"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select VISA type"
                                        ng-model="candidateModel.VisaType"
                                        friendly-name="Other Details tab"
                                        validation="required:alt=Visa Type is required."
                                        ng-disabled="ManipulationMode === 'Edit'"
                                        ng-change="checkDulicateVisaType(candidateModel.VisaType)">
                                    <option ng-repeat="visaType in lookup.visaType" value="{{visaType.Name}}"
                                            ng-bind="visaType.Name"></option>
                                </select>
                                <span class="text-danger" ng-show="IsDuplicateVisaType">Visa type already added</span>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row">
                        <legend></legend>
                        <div class="col-sm-12">
                            <label class="col-sm-3">valid upto</label>
                            <div class="col-sm-9">
                                <datepicker date-format="MM/dd/yyyy"
                                            date-set-hidden="true"
                                            date-max-limit="{{passportVisaValidDate}}"
                                            date-min-limit="{{minDate}}"
                                            ng-disabled="common.candidateModel.VisaType=='NA'">
                                    <input type="text"
                                           tabindex="55"
                                           class="form-control"
                                           placeholder="Enter VISA valid upto"
                                           ng-model="candidateModel.VisaValidUpto"
                                           ng-disabled="candidateModel.VisaType=='NA'"
                                           name="visaValidUpto"
                                           validation="xseed_date:alt=Please enter a valid Visa valid upto date with format(mm/dd/yyyy).|xseed_date_compare:{{minDate}},{{passportVisaValidDate}}:alt=Visa Valid Upto Date needs to be a valid date between {{minDate}} and {{passportVisaValidDate}}."
                                           friendly-name="Other Details tab"
                                           ui-mask="99/99/9999"
                                           ui-mask-placeholder
                                           ui-mask-placeholder-char="_"
                                           model-view-value="true" />
                                </datepicker>

                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12 col-md-6 col-md-offset-6">
                                <span class="pull-right" ng-if="ManipulationMode === 'Create'">
                                    <a class="btn btn-danger btn-sm small pull-right" role="button" ng-click="addVisaType(candidateModel,'Create',visaTypeForm)">
                                        <i class="fa fa-plus"></i>
                                        <span>Add</span>
                                    </a>
                                </span>
                                <span class="pull-right" ng-if="ManipulationMode === 'Edit'">
                                    <a class="btn btn-danger btn-sm small pull-right" role="button" ng-click="addVisaType(candidateModel,'Edit',visaTypeForm)">
                                        <i class="fa fa-plus"></i>
                                        <span>Save</span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
