﻿<div ng-init="checkIsUserAuthorized()" class="modal sidebar-modal  chat-panel" id="Requirement-details-modal" tabindex="-1" role="dialog" aria-labelledby="chat-panel">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="chat-header">
                <a class="pull-right" ng-click="closeRequirementDetailModal()" href="javascript:;" data-dismiss="modal">
                    <i class="material-icons">close</i>
                </a>
                <div class="chat-header-title">
                    <h5>{{requirementModel.JobTitle}} </h5>
                </div>
            </div>
            <div class="modal-body flex scroll-y">

                <div class="card-header no-bg clearfix">

                    <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8">
                        <ul class="list-inline m-b-0">
                            <li class="list-inline-item">
                                <p>
                                    <label ng-if="requirementModel.JobStatus== 'Posted'" class="label label-md label-primary">
                                                                    <i class="fa fa-flag" aria-hidden="true"></i>
                                                                    <span ng-bind="requirementModel.JobStatus">{{requirementModel.JobStatusId}}</span>
                                                                </label>
                                    <label ng-if="requirementModel.JobStatus== 'Closed'" class="label label-md label-success">
                                                                    <i class="fa fa-flag" aria-hidden="true"></i>
                                                                    <span class="badge bg-success text-xs-center" ng-bind="requirementModel.JobStatus">{{requirementModel.JobStatusId}}</span>
                                                                </label>

                                    <label ng-if="requirementModel.JobStatus== 'Archive'" class="label label-md label-default">
                                                                    <i class="fa fa-flag" aria-hidden="true"></i>
                                                                    <span class="badge bg-grey text-xs-center" ng-bind="requirementModel.JobStatus">{{requirementModel.JobStatusId}}</span>
                                                                </label>
                                    <label ng-if="requirementModel.JobStatus== 'Pending'" class="label label-md label-warning">
                                                                    <i class="fa fa-flag" aria-hidden="true"></i>
                                                                    <span class="badge bg-warning text-xs-center" ng-bind="requirementModel.JobStatus">{{requirementModel.JobStatusId}}</span>
                                                                </label>
                                    <label ng-if="requirementModel.JobStatus== 'Hold'" class="label label-md label-info">
                                                                    <i class="fa fa-flag" aria-hidden="true"></i>
                                                                    <span class="badge bg-info text-xs-center" ng-bind="requirementModel.JobStatus">{{requirementModel.JobStatusId}}</span>
                                                                </label>
                                    <label ng-if="requirementModel.JobStatus== 'Open'" class="label label-md label-danger">
                                                                    <i class="fa fa-flag" aria-hidden="true"></i>
                                                                    <span class="badge bg-danger text-xs-center" ng-bind="requirementModel.JobStatus">{{requirementModel.JobStatusId}}</span>
                                                                </label>

                                </p>
                            </li>
                            <li class="list-inline-item">
                                <p>
                                    <span class="bold"><i class="fa fa-calendar"></i> Posted on</span> : <span>{{requirementModel.JobPostedDate| date:'MM-dd-yyyy'}}</span>
                                </p>
                            </li>
                        </ul>

                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 pull-right">
                        <a ng-click="applyToSelectedJob(requirementModel);" ng-if="!requirementModel.isApplied" href class="btn btn-outline-primary  btn-sm btn-icon loading-demo m-b-xs font-12 pull-right">
                            <i class="material-icons">add_circle_outline</i><span>Apply</span>
                        </a>
                        <label ng-if="requirementModel.isApplied" class="text-success bold m-r-1 pull-lg-right pull-md-right pull-sm-left"><i class="fa fa-check-circle m-r-1" aria-hidden="true"></i>Applied</label>
                    </div>


                </div>
                <div class="card-block">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header clearfix">
                                    <h6 class="bold">Summary</h6>
                                </div>
                                <div class="card-block clearfix p-a-xs">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <label class="bold font-weight-normal">Employment Type:</label>
                                            <span ng-bind="requirementModel.JobType"></span>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <label class="bold font-weight-normal">Company Requirement Code:</label>
                                            <span ng-bind="requirementModel.ClientJobCode"></span>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <label class="bold font-weight-normal">Internal Requirement Id:</label>
                                            <span ng-bind="requirementModel.RequisitionId"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <label class="bold font-weight-normal">Closed Date:</label>
                                            <span>{{requirementModel.JobClosedDate| date:'MM-dd-yyyy'}}</span>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <label class="bold font-weight-normal">Expiry Date:</label>
                                            <span>{{requirementModel.JobExpiryDate| date:'MM-dd-yyyy'}}</span>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">

                                            <h6 class="bold font-weight-normal">
                                                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                                    Description  
                                                                                </a>
                                            </h6>
                                            <p ng-bind="requirementModel.JobDescription"></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="card-header clearfix">
                                    <h6 class="bold">Other Details</h6>
                                </div>
                                <div class="card-block clearfix p-a-xs">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="bold font-weight-normal">Total Positions:</label>
                                            <span ng-bind="requirementModel.TotalPositions"></span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="bold font-weight-normal">Visa Type:</label>
                                            <span ng-repeat-start="visatype in requirementModel.VisaTypeList" ng-if="$index< requirementModel.VisaTypeList.length- 1">{{visatype.Name}}, </span>
                                            <span ng-repeat-end ng-if="requirementModel.VisaTypeList.length-1=== $index">{{visatype.Name}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="bold font-weight-normal">Max Salary:</label>
                                            <span ng-bind="requirementModel.MaxSalary"></span>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="bold font-weight-normal">Min Salary:</label>
                                            <span ng-bind="requirementModel.MinSalary"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="bold font-weight-normal">Experience:</label>
                                            <span ng-if="requirementModel.ExperienceInYear || requirementModel.ExperienceInMonth" ng-bind-template="{{requirementModel.ExperienceInYear}}.{{requirementModel.ExperienceInMonth}}"></span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="bold font-weight-normal">US Exp.:</label>
                                            <span ng-if="requirementModel.USExperienceInYear || requirementModel.USExperienceInMonth" ng-bind-template="{{requirementModel.USExperienceInYear}}.{{requirementModel.USExperienceInMonth}}"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="bold font-weight-normal">Qualification:</label>
                                            <span ng-repeat-start="degree in requirementModel.DegreeList" ng-if="$index< requirementModel.DegreeList.length- 1">{{degree.Name}}, </span>
                                            <span ng-repeat-end ng-if="requirementModel.DegreeList.length-1=== $index">{{degree.Name}}</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="bold font-weight-normal">Communication Skills:</label>
                                            <span ng-bind="requirementModel.CommunicationSkills"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="bold font-weight-normal">Technical Skills:</label>
                                            <span ng-bind="requirementModel.SkillList"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="card-header clearfix">
                                    <h6 class="bold">Location</h6>
                                </div>
                                <div class="card-block p-a-xs clearfix">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="bold font-weight-normal">Job Location:</label>
                                            <span ng-bind="requirementModel.Location"></span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="bold font-weight-normal">City:</label>
                                            <span ng-bind="requirementModel.City"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="bold font-weight-normal">State:</label>
                                            <span ng-bind="requirementModel.State"></span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="bold font-weight-normal">Country:</label>
                                            <span ng-bind="requirementModel.Country"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="bold font-weight-normal">Zip:</label>
                                            <span ng-bind="requirementModel.Zip"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
</div>