﻿<!-- //.................new codfe.................... -->
<style>
    .rating-container .caption {
        display: none;
    }
</style>

<div class="row" ng-init="step ='one';checkIsUserAuthorized();getCandidateDetail();GetDashboardCounts();initializeCandidateRatings();">
    <div class="col-lg-4">
        <div class="card profile-bio">
            <a class="background"></a>
            <a href="javascript:;" class="avatar">

                <img ng-if="candidateModel.ProfileImageFile &&
                candidateModel.ProfileImageFile.data != ''" ng-src="{{candidateModel.ProfileImageFile.data}}" alt="">
                <img ng-if="!candidateModel.ProfileImageFile ||
                candidateModel.ProfileImageFile.data === ''" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" alt="">

            </a>
            <div class="user-details">

                <div class="user-name">
                    <a href="javascript:;">{{candidateModel.FirstName}} {{candidateModel.LastName}}</a>
                    <a ng-click="editProfileView()" class="btn btn-primary   btn-sm" href="javascript:;">Edit profile</a>

                </div>
                <a ng-if="candidateModel.Designation" href="javascript:;">@ <span>{{candidateModel.Designation}}</span></a>

            </div>
            <div class="user-stats">
                <ul>
                    <li>
                        <a href="#/applicationStatus" style="text-align: center;">
                            <span class="small text-uppercase block text-muted"><strong>Applied jobs</strong></span>
                            <h5 class="m-b-0"><strong>{{AppliedCount}}</strong></h5>
                        </a>
                    </li>
                    <li>
                        <a href="#/openings" ng-click="common.step='two'" style="text-align: center;">
                            <span class="small text-uppercase block text-muted"><strong>Matching jobs</strong></span>
                            <h5 class="m-b-0"><strong>{{MatchingJobCount}}</strong></h5>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="text-center" style="text-align: center;">
                            <span class="small text-uppercase block text-muted"><strong>Rating</strong></span>
                            <input id="input-21d" ng-model="candidateModel.Rating" value="2.5" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="sm" readonly>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="profile-sidebar">
            <div class="card" style="Height:285px;">
                <div class="card-block">
                    <small class="bold text-uppercase">About</small>
                    <p ng-if="candidateModel.ProfileSummary" class="m-b-0 about-overflow"> {{candidateModel.ProfileSummary}}</p>
                    <div ng-if="!candidateModel.ProfileSummary" style="background-color: #D9DAD6;"><img style="height: 200px; width: 380px; opacity:1" src="images/text.png" alt="Candidate-profile-photo"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <div class="profile-reccomendations">
                        <small class="bold text-uppercase">Social connections</small>
                        <ul class="user-meta">
                            <li ng-if="candidateModel.LinkedInURL">
                                <a target="_blank" class="grow" href="{{candidateModel.LinkedInURL}}">
                                    <i class="fa fa-linkedin font-13
                                        text-muted"></i><span class="ml-16">
                                        LinkedIn
                                    </span>
                                </a>
                            </li>

                            <li ng-if="!candidateModel.LinkedInURL">
                                <a data-toggle="tooltip" title="Not Available" class="grow">
                                    <i class="fa fa-linkedin font-13
                                        text-muted"></i><span class="ml-16">
                                        LinkedIn
                                    </span>
                                </a>
                            </li>


                            <li ng-if="candidateModel.FacebookURL">
                                <a target="_blank" href="{{candidateModel.FacebookURL}}">
                                    <i class="fa fa-facebook
                                        font-13 text-muted"></i><span class="ml-16"> Facebook</span>
                                </a>
                            </li>

                            <li ng-if="!candidateModel.FacebookURL">
                                <a data-toggle="tooltip" title="Not Available" href="javascript:0"> <i class="fa fa-facebook
                                        font-13 text-muted"></i><span class="ml-16"> Facebook</span></a>
                            </li>


                            <li ng-if="candidateModel.TwitterURL">
                                <a target="_blank" href="{{candidateModel.TwitterURL}}">
                                    <i class="fa fa-twitter
                                        font-13 text-muted"></i><span class="ml-16"> Twitter</span>
                                </a>
                            </li>
                            <li ng-if="!candidateModel.TwitterURL">
                                <a data-toggle="tooltip" title="Not Available" href="javascript:0"> <i class="fa fa-twitter
                                        font-13 text-muted"></i><span class="ml-16"> Twitter</span></a>
                            </li>


                            <li ng-if="candidateModel.GooglePlusURL">
                                <a target="_blank" href="{{candidateModel.GooglePlusURL}}">
                                    <i class="fa
                                        fa-google-plus font-13 text-muted"></i><span class="ml-16"> Google plus</span>
                                </a>
                            </li>

                            <li ng-if="!candidateModel.GooglePlusURL">
                                <a data-toggle="tooltip" title="Not Available" >
                                    <i class="fa fa-google-plus font-13 text-muted"></i><span class="ml-16"> Google plus</span>
                                </a>
                            </li>


                            <li>
                                <a ng-click="editProfileViewForSocialmedia()" class="btn btn-primary btn-block btn-sm" href="javascript:;">Edit profile</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card card-block">
            <div class="profile-timeline-header">
                <a href="#" class="profile-timeline-user"><img src="images\video-camera.png" alt="" class="img-rounded"></a>
                <div class="profile-timeline-user-details p-t-xs">
                    <a href="#" class="bold">Video resume</a><br>
                    <span class="text-muted small" ng-if="candidateModel.VideoResume.lastModifiedDate">{{candidateModel.ModifiedOn | date }}</span>
            </div>
            </div>
            <div class="profile-timeline-content" style="Height:410px;overflow:scroll;">
                <p>

                    <div ng-if="candidateModel.VideoResume && candidateModel.VideoResume.filePath">
                        <video controls="" width="450" ng-if="candidateModel.VideoResume">
                            <source ng-src="{{trustSrc(candidateModel.VideoResume.filePath)}}" type="video/mp4">
                            Your browser does not support the video tag.
                            <track label="English" kind="subtitles" srclang="en" src="" default>
                        </video>
                    </div>
                    <h6 class="text-muted " ng-if="!candidateModel.VideoResume|| !candidateModel.VideoResume.filePath">Video resume not uploaded</h6>
                    <div ng-if="!candidateModel.VideoResume || !candidateModel.VideoResume.filePath">
                        <img style="height: 200px; width: 200px;" src="images/videocamera.png" alt="Candidate-profile-image">
                    </div>
                </p>



                <a ng-click="editProfileView()" href="javascript:" ng-if="candidateModel.VideoResume && candidateModel.VideoResume.filePath" class="btn btn-primary btn-sm btn-icon
                    loading-demo">
                    <i class="material-icons">ondemand_video </i><span>
                        Update video resume
                    </span>
                </a>

                <a ng-click="editProfileView()" href="javascript:" ng-if="!candidateModel.VideoResume || !candidateModel.VideoResume.filePath" class="btn btn-primary btn-sm btn-icon
                    loading-demo">
                    <i class="material-icons">ondemand_video </i><span>
                        Create video resume
                    </span>
                </a>

            </div>
        </div>
        <div class="card card-block">
            <div class="profile-timeline-header">
                <a href="#" class="profile-timeline-user"><img src="images\settings.png" alt="" class="img-rounded"></a>
                <div class="profile-timeline-user-details p-t-xs">
                    <a href="#" class="bold">Skills</a><br><i class="text-muted small">
                        Added
                        {{candidateModel.Skills.length}} skills
                    </i>
            </div>
            </div>
            <div class="profile-timeline-content">
                <p ng-if="candidateModel.Skills.length==0"><strong> Not Available </strong> </p>
                <p ng-if="candidateModel.Skills.length>0" class="skills-overflow">
                    <span ng-repeat="skill in candidateModel.Skills" class="badge bg-default-dark m-r-xs">{{skill}}</span>
                </p>

                <a ng-click="editProfileViewForSkills()" href="javascript:" class="btn btn-primary btn-sm btn-icon
                    loading-demo m-r-xs m-b-xs">
                    <i class="material-icons">add_circle_outline </i><span> Add more skills</span>
                </a>

            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-block" ng-init="step ='one'">
            <ul class="nav nav-tabs" role="tablist">

                <li class="nav-item"><a class="nav-link" ng-click="step='one'" ng-class="{'active' : step=='one'}" data-toggle="tab" href="#personal" role="tab" target="self">Personal</a></li>
                <li class="nav-item"><a class="nav-link" ng-click="step='two'" ng-class="{'active' : step=='two'}" data-toggle="tab" href="#other" role="tab" target="self">Other</a></li>
                <li class="nav-item"><a class="nav-link" ng-click="step='three'" ng-class="{'active' : step=='three'}" data-toggle="tab" href="#education" role="tab" target="self">Education</a></li>
                <li class="nav-item"><a class="nav-link" ng-click="step='four'" ng-class="{'active' : step=='four'}" data-toggle="tab" href="#experience" role="tab" target="self">Experience</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="personal" role="tabpanel" aria-expanded="false">
                    <div class="row">
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Primary Email</span>
                            <p>{{candidateModel.PrimaryEmail ? candidateModel.PrimaryEmail : 'Not Available'}} </p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Contact number</span>
                            <p>{{candidateModel.Mobile ? candidateModel.Mobile : 'Not Available' | ContactFilter }}</p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Birth date</span>
                            <p>
                                {{candidateModel.BirthDate ? candidateModel.BirthDate : 'Not Available'}}
                            </p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Gender</span>
                            <p>{{candidateModel.Gender ? candidateModel.Gender : 'Not Available'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="bold text-uppercase">marital status</span>
                            <p>{{candidateModel.MaritalStatus ? candidateModel.MaritalStatus : 'Not Available'}}</p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Interests/Hobbies</span>
                            <p>{{candidateModel.Interests ? candidateModel.Interests : 'Not Available'}}</p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">
                                Secondary
                                Email
                            </span>
                            <p>{{candidateModel.SecondaryEmail ? candidateModel.SecondaryEmail : 'Not Available'}}</p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Phone</span>
                            <p>{{candidateModel.Phone ? candidateModel.Phone : 'Not Available' | ContactFilter}}</p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Fax</span>

                            <p>{{candidateModel.Fax ? candidateModel.Fax : 'Not Available'| ContactFilter }}</p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Address 1</span>
                            <p>{{candidateModel.Address1 ? candidateModel.Address1 : 'Not Available'}}</p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Address 2</span>
                            <p>{{candidateModel.Address2 ? candidateModel.Address2 : 'Not Available'}}</p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Address 3</span>
                            <p>{{candidateModel.Address3 ? candidateModel.Address3 : 'Not Available'}}</p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="bold text-uppercase">City</span>
                            <p>
                                {{candidateModel.City ? candidateModel.City : 'Not Available'}}
                            </p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">State</span>
                            <p>{{candidateModel.State ? candidateModel.State : 'Not Available'}}</p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Country</span>
                            <p>{{candidateModel.Country ? candidateModel.Country : 'Not Available'}}</p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Zip Code</span>
                            <p>
                                {{candidateModel.Zip ? candidateModel.Zip : 'Not Available'}}
                            </p>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="other" role="tabpanel" aria-expanded="false">
                    <div class="row">
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Send Job Alert</span>
                            <p>{{candidateModel.SendJobAlert ? candidateModel.SendJobAlert : 'Not Available'}} </p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Have Passport</span>
                            <p>{{candidateModel.HavePassport ? candidateModel.HavePassport : 'Not Available' }}</p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Company Name</span>
                            <p>{{candidateModel.CompanyName ? candidateModel.CompanyName : 'Not Available'}}</p>
                        </div>

                        <div class="col-md-3">
                            <span class="bold text-uppercase">VISA valid upto</span>
                            <p>{{candidateModel.VisaValidUpto ? candidateModel.VisaValidUpto : 'Not Available'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Status</span>
                            <p>{{candidateModel.Status ? candidateModel.Status : 'Not Available'}}</p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Employment Type</span>
                            <p>{{candidateModel.EmployementType ? candidateModel.EmployementType : 'Not Available'}}</p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Profile Title</span>
                            <p>{{candidateModel.ProfileTitle ? candidateModel.ProfileTitle : 'Not Available'}}</p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">US Experience</span>
                           
                            <p>
                                {{candidateModel.USExperienceInYear }} Year(s)
                                {{candidateModel.USExperienceInMonth }} Month(s)
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="bold text-uppercase">SSN</span>

                            <p>{{candidateModel.SSN ? candidateModel.SSN : 'Not Available' }}</p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Availability Date</span>
                            <p>{{candidateModel.AvailabilityDate ? candidateModel.AvailabilityDate : 'Not Available'}}</p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Total Experience</span>
                            <p>
                                {{candidateModel.ExperienceInYear}} Year(s)
                                {{candidateModel.ExperienceInMonth}} Month(s)
                            </p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Current Salary</span>
                            <p>{{candidateModel.CurrentSalary ? candidateModel.CurrentSalary : 'Not Available'}}</p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Expected Salary</span>
                            <p>
                                {{candidateModel.ExpectedSalary ? candidateModel.ExpectedSalary : 'Not Available'}}
                            </p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Display Name</span>
                            <p>{{candidateModel.DisplayName ? candidateModel.DisplayName : 'Not Available'}}</p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Current Location</span>
                            <p>{{candidateModel.CurrentLocation ? candidateModel.CurrentLocation : 'Not Available'}}</p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Preferred Location</span>
                            <p>
                                {{candidateModel.PreferredLocation ? candidateModel.PreferredLocation : 'Not Available'}}
                            </p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="bold text-uppercase">WorkPhone</span>
                            <p>
                                {{candidateModel.WorkPhone ? candidateModel.WorkPhone : 'Not Available'}}
                            </p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Passport valid upto</span>

                            <p>{{candidateModel.PassportValidUpto ? candidateModel.PassportValidUpto : 'Not Available'}}</p>
                            

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">VISA Type</span>
                            <p>
                                {{candidateModel.VisaType ? candidateModel.VisaType : 'Not Available'}}
                            </p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Languages</span>
                            <br />
                            <span ng-repeat="language in candidateModel.Languages">
                                {{language}}<span ng-if="!$last">,</span>
                            </span>

                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="education" role="tabpanel" aria-expanded="false">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive scroll 
                                table-padding-small">
                                <table class="table table-sm table-bordered" ng-if="candidateModel.Educations.length> 0" aria-describedby="Candidate-education">
                                    <thead class="bg-primary">
                                        <tr>
                                            <th id="">Start Date</th>
                                            <th id="">End Date</th>
                                            <th id="">School</th>
                                            <th id="">School Type</th>
                                            <th id="">Course</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="educationItem in
                                            candidateModel.Educations">
                                            <td>{{educationItem.StartDate}}</td>
                                            <td>{{educationItem.EndDate}}</td>
                                            <td>{{educationItem.School}}</td>
                                            <td>{{educationItem.SchoolType }}</td>
                                            <td>{{educationItem.Course }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-if="!candidateModel.Educations.length" class="no-contacts layout-column">
                                <h6>
                                    Please update your education details, those will appear here!
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="experience" role="tabpanel" aria-expanded="false">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive  table-padding-small">
                                <table class="table table-sm table-bordered" ng-if="candidateModel.EmployementHistory.length" aria-describedby="Candidate-employment">
                                    0">
                                    <thead class="bg-primary">
                                        <tr>
                                            <th id="">Start Date</th>
                                            <th id="">End Date</th>
                                            <th id="">Job Title</th>
                                            <th id="">Company Name</th>
                                            <th id="">Employment Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="EmployementItem in
                                            candidateModel.EmployementHistory">
                                            <td>{{EmployementItem.StartDate}}</td>
                                            <td>{{EmployementItem.EndDate}}</td>
                                            <td>{{EmployementItem.JobTitle}}</td>
                                            <td>{{EmployementItem.CompanyName }}</td>
                                            <td>{{EmployementItem.EmployementType }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-if="!candidateModel.EmployementHistory.length" class="no-contacts layout-column">
                                <h6>
                                    Please update employment history details, those will appear here!
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>