﻿<div ng-switch="subview">
    <div ng-switch-when="candidateProfile">
        <div ng-include=" 'views/candidate/candidateProfile.html' "></div>
    </div>
    <div ng-switch-when="editProfile">
        <div ng-include=" 'views/candidate/editProfile.html' "></div>
    </div>
</div>