﻿</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-default p-a-xs clearfix">
                <div class="col-sm-10 m-b-xs">
                    <span class="h5 font-weight-medium" ng-bind="common.selectedJob.JobTitle"></span>
                    <span class="font-weight-medium text-grey" uib-tooltip="Internal Requirement Id">
                        [<span ng-bind="common.selectedJob.RequisitionId"></span>]
                    </span>
                    <!--<span uib-tooltip="Requirement Details" class="m-r-xs" ng-click="openRequirementFromOtherSection(common.selectedJob.Id);"><i class="fa fa-eye text-primary"></i></span>-->
                    <label uib-tooltip="Status" class="m-r-xs">
                        <span class="label label-md label-primary" ng-if="common.selectedJob.JobStatus== 'Archive'">{{common.selectedJob.JobStatus}}</span>
                        <span class="label label-md label-success" ng-if="common.selectedJob.JobStatus== 'Closed'">{{common.selectedJob.JobStatus}}</span>
                        <span class="label label-md label-warning" ng-if="common.selectedJob.JobStatus== 'Pending'">{{common.selectedJob.JobStatus}}</span>
                        <span class="label label-md label-info" ng-if="common.selectedJob.JobStatus== 'Hold'">{{common.selectedJob.JobStatus}}</span>
                        <span class="label label-md label-danger" ng-if="common.selectedJob.JobStatus== 'Open'">{{common.selectedJob.JobStatus}}</span>
                        <span ng-if="common.selectedJob.JobStatus=== null"></span>
                    </label>
                    <span ng-if="common.selectedJob.Country" class="m-r-xs">
                        <label uib-tooltip="Location">
                            <i class="fa fa-map-marker text-danger" aria-hidden="true"></i>
                            <span class="text-primary">
                                <span ng-bind="common.selectedJob.City"></span>
                                <span ng-if="common.selectedJob.City && common.selectedJob.State">,</span>
                                <span ng-bind="common.selectedJob.State"></span>
                                <span ng-if="common.selectedJob.State && common.selectedJob.Country">,</span>
                                <span ng-bind="common.selectedJob.Country"></span>
                            </span>
                        </label>
                    </span>
                    <label uib-tooltip="Created By" class="m-r-xs">
                        <i class="fa fa-pencil-square-o text-danger" aria-hidden="true"></i>
                        <span class="text-primary" ng-bind="common.selectedJob.CreatedBy"></span>
                    </label>
                    <span ng-if="common.candidateSearchBySourceModel.ExperienceLeve" class="m-r-xs">
                        <label uib-tooltip="Experience Level">
                            <i class="fa fa-suitcase text-danger m-r-xs"></i>
                            <span class="text-primary" ng-bind="common.candidateSearchBySourceModel.ExperienceLevel"></span>
                            <span class="text-primary"> Years</span>
                        </label>
                    </span>
                </div>
                <div class="col-sm-2 text-xs-right">
                    <a class="btn btn-danger small btn-sm" role="button" href="#/requirementList">
                        <i class="fa fa-list m-r-xs" aria-hidden="true"></i>List
                    </a>
                </div>
            </div>
            <div class="card-block p-a-xs">
                <div class="table-responsive scroll slimScroll">
                    <table ng-table="tblAppliedCandidateList" class="table table-striped table-bordered table-sm">
                        <tbody>
                            <tr ng-repeat="appliedCandidate in appliedCandidateListData">
                                <td data-title="'Name'" header-class="'bg-primary'">
                                    <a ng-click="openCandidateFromOtherSection(appliedCandidate._id);" style="color:blue;">{{appliedCandidate.FirstName + " " + appliedCandidate.LastName}}</a>
                                </td>
                                <td data-title="'Skill'" header-class="'bg-primary'" ng-bind="appliedCandidate.Skills"></td>
                                <td data-title="'Degree'" header-class="'bg-primary'" ng-bind="requirement.DegreeList"></td>
                                <td data-title="'Action'" header-class="'bg-primary'">
                                    <a tooltip-placement="top" uib-tooltip="Review" ng-click="openCandidateFromOtherSection(appliedCandidate._id);" ng-if="userDetails.Candidate_Read == 'True'">
                                        <i class="fa fa-eye fa-lg"></i>
                                    </a>
                                    &nbsp;
                                    <a tooltip-placement="top" uib-tooltip="Submit" ng-click="acceptCandidate(appliedCandidate);" ng-if="userDetails.Submission_Create == 'True'">
                                        <i class="fa fa-check fa-lg"></i>
                                    </a>&nbsp;
                                    <a tooltip-placement="top" uib-tooltip="Reject" ng-click="rejectCandidate(appliedCandidate._id);" ng-if="userDetails.Submission_Create == 'True'">
                                        <i class="fa fa-close" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="!appliedCandidateListData.length" class="no-contacts layout-column scroll-y">
                    <h3 class="text-shadow text-muted">
                        Seems to be no candidate yet applied for this requirement.
                    </h3>
                    <button class="btn btn-primary btn-sm small btn-lg" ng-click="goToCandidateList()">Click to find other candidates.</button>
                </div>
            </div>
        </div>
    </div>
</div>