﻿
<div class="session-content">
    <div class="m-a-1">
        <img src="images/logo-b.png" class="img-responsive center-block" />
    </div>
    <div class="card form-layout">
        <form role="form" name="resetPasswordForm" novalidate>
            <div class="card-header text-xs-center no-bg m-b-1">
                <h5>Reset User Password!</h5>
            </div>
            <div class="card-block">
                <fieldset class="form-group">
                    <label>New password</label>
                    <input type="password" class="form-control" id="newPassword"
                           placeholder="New Password"
                           name="newPassword" block-clipboard
                           ng-model="resetPasswordModel.NewPassword"
                           autocomplete="off"
                           validation="required|min_len:8|max_len:16|xseed_password" />
                </fieldset>

                <fieldset class="form-group">
                    <label>Confirm new password</label>
                    <input type="password" class="form-control"
                           placeholder="Confirm Password"
                           id="confirmPassword" block-clipboard name="confirmPassword"
                           ng-model="resetPasswordModel.ConfirmPassword"
                           autocomplete="off"
                           validation="required|match:resetPasswordModel.NewPassword,New Password:alt=Confirm password does not match." />
                </fieldset>
                <button class="btn btn-primary btn-block btn-lg" type="button" ng-click="resetPassword(resetPasswordForm);">
                    Submit
                </button>
                <p class="well-lg">
                </p>
            </div>
        </form>
    </div>
</div>    