﻿<div ng-switch="subview">
    <div ng-switch-when="requirementList">
        <div ng-include=" 'views/requirement/requirementList.html' "></div>
    </div>
    <div ng-switch-when="createRequirement">
        <div ng-include=" 'views/requirement/createRequirement.html' "></div>
    </div>
    <div ng-switch-when="editRequirement">
        <div ng-include=" 'views/requirement/createRequirement.html' "></div>
    </div>
    <div ng-switch-when="requirementDetail">
        <div ng-include=" 'views/requirement/requirementDetail.html' "></div>
    </div>
    <div ng-switch-when="requirementQueue">
        <div ng-include=" 'views/requirement/requirementQueue.html' "></div>
    </div>
</div>