﻿<div ng-init="checkUserAccess();getJobsByStatus('MyOpen');">
    <div class="row">
        <div class="card m-b-0">
            <div class="card-header p-t-xs p-r-xs p-l-xs p-b-2x">
                <div class="row p-b-2x">
                    <div class="col-xs-10 col-sm-11 col-md-8 col-lg-6">
                        <div class="input-group">
                            <input name="searchRequirements" class="form-control form-control-sm" type="text" placeholder="Search by: Internal Requirement Id, Title, Type, Status, Company, Assigned Recruiter" title="Search by: Internal Requirement Id, Title, Type, Status, Company, Assigned Recruiter" maxlength="100" ng-model="common.advanceSearchModel.SearchAny" ng-enter="getRequirementFilterResult()" style="padding:2px">
                            <span class="input-group-btn">
                                <button type="button" class="btn bg-primary btn-secondary small btn-sm pull-right" ng-disabled="!common.advanceSearchModel.SearchAny" ng-click="getRequirementFilterResult()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-1 col-md-1 col-md-push-3 col-lg-3 col-lg-push-3">
                        <a class="btn btn-danger btn-sm small pull-right" role="button" ng-click="createRequirementView()" ng-if="userDetails.Requirement_Create == 'True'">
                            <i class="fa fa-plus"></i>
                            <span class="hidden-sm-down">Add</span>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-md-pull-1 col-lg-3 col-lg-pull-3">
                        <span class="pull-left">
                            <span class="dropdown">
                                <button type="button" class="btn btn-primary btn-sm small dropdown-toggle" data-toggle="dropdown" ng-disabled="common.jobList.length == 0">
                                    <i class="fa fa-filter m-r-xs"></i><span class="hidden-xs-down">Filter</span>
                                </button>
                                <ul class="dropdown-menu filter-menu p-a-0" role="menu">
                                    <li ng-repeat="lookup in requirementFilterLookup" class="dropdown-item" ng-click="$event.stopPropagation()">
                                        <span ng-repeat="(key1, value1) in lookup">
                                            <a>{{key1}}</a>
                                            <ul class="level-2 slimScroll scroll list-group p-a-0">
                                                <li ng-repeat="(key2, value2) in value1" class="list-group-item">
                                                    <span>
                                                        <label>
                                                            <input type="checkbox" id="{{$index}}" ng-model="value2.selected" ng-change="addFilterItemButton(key1, value2.Id, value2.Name, value2.selected)">
                                                            {{value2.Name}}
                                                        </label>
                                                    </span>
                                                </li>
                                            </ul>
                                        </span>
                                    </li>
                                    <li class="list-group-item p-l-xs p-r-xs p-t-xs" style="height:45px">
                                        <button type="button" class="btn small btn-default btn-md width-100" ng-click="getSelectedFilterItem()" ng-disabled="filterItemCount == 0" ng-class="{'btn-primary':filterItemCount != 0}">
                                            Apply
                                        </button>
                                    </li>
                                </ul>
                            </span>
                            <button class="btn btn-primary btn-sm small loading-demo" tooltip-placement="top" uib-tooltip="Clear" ng-click="resetRequirementAdvanceSearch();" ng-disabled="!flag.advanceSearchFlag">
                                <i class="fa fa-times" aria-hidden="true"></i><span class="hidden-xs-down m-l-xs">Clear</span>
                            </button>
                        </span>
                        <span class="pull-right hidden-md-up">
                            <button type="button" class="btn btn-primary-outline btn-sm small" tooltip-placement="top" uib-tooltip="Applied Candidates" ng-click="showAppliedCandidates(common.selectedJob);">
                                <span class="pull-left">
                                    <i class="fa fa-user"></i>
                                </span>
                                <span class="tag bg-red" ng-bind="common.appliedCandidateList.length"></span>
                            </button>
                            <a type="button" class="btn btn-primary-outline btn-sm small" role="button" ng-href="#/vendorList" uib-tooltip="Client Profile List" tooltip-placement="bottom">
                                <span class="pull-left"><i class="fa fa-black-tie"></i></span>
                            </a>
                            <a type="button" class="btn btn-primary-outline btn-sm small" role="button" ng-href="#/vendorEmailList" uib-tooltip="Client Emails" tooltip-placement="bottom">
                                <span class="pull-left"><i class="fa fa-envelope"></i> </span>
                                <span class="tag bg-red" ng-bind="requirementQueueCount"></span>
                            </a>
                            <!--<a type="button" class="btn btn-primary-outline btn-sm small" role="button" ng-href="#/requirementQueue" uib-tooltip="Pending for Approval" tooltip-placement="bottom" ng-if="userDetails.RoleName == 'Application Administrator' || userDetails.RoleName == 'Delivery Manager' || userDetails.RoleName == 'Team Lead'">
                                <span class="pull-left"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                <span class="tag bg-red" ng-bind="requirementQueueTotalCount"></span>
                            </a>-->
                            <button type="button" tooltip-placement="top" uib-tooltip="export to excel" ng-click="exportToExcel(constants.sectionRequirements);" ng-disabled="common.jobList.length == 0" class="btn btn-primary-outline btn-sm small">
                                <i class="fa fa-download"></i>
                            </button>
                            <button type="button" tooltip-placement="top" uib-tooltip="print" ng-click="printDiv('requirementDiv','Requirements')" ng-disabled="common.jobList.length == 0" class="btn btn-primary-outline btn-sm small">
                                <i class="fa fa-print"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <button ng-if="userDetails.Submission_Create == 'True'" type="button" class="btn btn-primary btn-sm small" ng-click="openCandidateSearchModal();" ng-disabled="common.jobList.length == 0 || common.selectedJob.JobStatus== 'Archive' || common.selectedJob.JobStatus== 'Closed'">
                            <i class="fa fa-share-square-o hidden-sm-up" aria-hidden="true"></i><span class="hidden-xs-down">Submit Candidates</span>
                        </button>
                        <button class="btn btn-primary btn-sm small loading-demo" tooltip-placement="top" uib-tooltip="Search Candidates" ng-click="redirectToBooleanSearch();">
                            <i class="fa fa-search m-r-xs" aria-hidden="true"></i>Search Candidates
                        </button>
                        <button type="button" tooltip-placement="top" uib-tooltip="Compose Mail" ng-click="sendMailToAssignedCompanyContact();" ng-disabled="common.jobList.length == 0" class="btn btn-primary btn-sm small">
                            <i class="fa fa-envelope"></i>
                        </button>
                        <button type="button" tooltip-placement="top" uib-tooltip="Detail View" ng-if="userDetails.Requirement_Read == 'True'" ng-click="openRequirementDetailModal();" ng-disabled="common.jobList.length == 0" class="btn btn-primary btn-sm small">
                            <i class="fa fa-eye fa-lg"></i>
                        </button>
                        <button type="button" tooltip-placement="top" uib-tooltip="Edit" ng-if="userDetails.Requirement_Update == 'True'" ng-click="requirementDirectEditView();" ng-disabled="common.jobList.length == 0" class="btn btn-primary btn-sm small">
                            <i class="fa fa-pencil-square"></i>
                        </button>
                        <button class="btn btn-primary btn-sm small loading-demo" tooltip-placement="top" uib-tooltip="Salary Calculator" ng-click="displaySalaryCalculator();" ng-disabled="common.jobList.length == 0">
                            <i class="fa fa-calculator" aria-hidden="true"></i><span class="m-l-xs">Salary</span>
                            <i class="fa fa-angle-up fa-lg m-l-xs" ng-show="showPayScaleSalryCalculator"></i>
                        </button>
                        <span uib-tooltip="Filter Requirements" tooltip-placement="top">
                            <select ui-select2
                                    ng-change="getJobsByStatus(common.requirementStatusFilter)"
                                    ng-model="common.requirementStatusFilter" style="width: 120px;">
                                <option value="All">All</option>
                                <option value="MyAll">My All</option>
                                <option value="MyOpen">My Open</option>
                                <option value="MyClosed">My Closed</option>
                                <option value="MyPending">My Pending</option>
                                <option value="MyHold">My Hold</option>
                            </select>
                        </span>
                    </div>
                    <div class="text-xs-right hidden-sm-down col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <button type="button" class="btn btn-primary-outline btn-sm small" tooltip-placement="top" uib-tooltip="Applied Candidates" ng-click="showAppliedCandidates(common.selectedJob);">
                            <span class="pull-left">
                                <i class="fa fa-user"></i>
                            </span>
                            <span class="tag bg-red" ng-bind="common.appliedCandidateList.length"></span>
                        </button>
                        <a type="button" class="btn btn-primary-outline btn-sm small" role="button" ng-href="#/vendorList" uib-tooltip="Client Profile List" tooltip-placement="bottom" ng-if="userDetails.Vendor_Read == 'True'">
                            <span class="pull-left"><i class="fa fa-user-plus"></i></span>
                        </a>
                        <a type="button" class="btn btn-primary-outline btn-sm small" role="button" ng-href="#/vendorEmailList" uib-tooltip="Client Emails" tooltip-placement="bottom" ng-if="userDetails.Vendor_Read == 'True'">
                            <span class="pull-left"><i class="fa fa-envelope"></i></span>
                            <span class="tag bg-red" ng-bind="requirementQueueCount"></span>
                        </a>
                        <!--<a type="button" class="btn btn-primary-outline btn-sm small" role="button" ng-href="#/requirementQueue" uib-tooltip="Pending for Approval" tooltip-placement="bottom" ng-if="userDetails.RoleName == 'Application Administrator' || userDetails.RoleName == 'Delivery Manager' || userDetails.RoleName == 'Team Lead'">
                            <span class="pull-left"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                            <span class="tag bg-red" ng-bind="requirementQueueCount"></span>
                        </a>-->
                        <button type="button" tooltip-placement="top" uib-tooltip="Export to Excel" ng-click="exportToExcel(constants.sectionRequirements);" ng-disabled="common.jobList.length == 0" class="btn btn-primary-outline btn-sm small">
                            <i class="fa fa-download"></i>
                        </button>
                        <button type="button" tooltip-placement="top" uib-tooltip="Print" ng-click="printDiv('requirementDiv','Requirements')" ng-disabled="common.jobList.length == 0" class="btn btn-primary-outline btn-sm small">
                            <i class="fa fa-print"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 m-t-xs" ng-if="filterItemCount != 0">
                        <div id="filterItem" class="bg-default p-a-xs clearfix">
                            <div class="col-sm-10">
                                <span class="font-weight-medium text-grey-dark m-r-xs pull-left">Filters</span>
                                <span ng-repeat="filterLable in filterItemLable track by $index" class="btn btn-danger-outline btn-sm small btn-round m-r-2xs m-b-2xs" ng-click="removeFilterItemButton(filterLable.Id)" ng-if="filterLable">{{filterLable.Name}}<i class="fa fa-times-circle"></i></span>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-danger-outline btn-sm small pull-right m-b-2xs" tooltip-placement="top" uib-tooltip="Clear" ng-click="resetRequirementAdvanceSearch();">
                                    <i class="fa fa-times-circle m-r-2xs" aria-hidden="true"></i>Clear All
                                </button>
                                <button type="button" class="btn btn-primary-outline btn-sm small pull-right m-r-xs m-b-2xs" ng-click="getSelectedFilterItem()">
                                    Apply
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 p-t-xs" ng-show="showPayScaleSalryCalculator">
                        <div class="card m-a-0">
                            <div class="card-block clearfix p-a-xs">
                                <form autocomplete="off" class="form-horizontal" name="salaryCalculatorForm" novalidate>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">
                                        <span class="text-grey">Salary Calculator</span>
                                    </div>
                                    <fieldset class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-11">
                                        <div class="col-sm-3 p-l-0">
                                            <label class="text-muted">Job Title</label>
                                            <input type="text" class="form-control form-control-sm b-r" placeholder="Enter Job Title" ng-model="PayScaleSalryCalculator.JobTitle" name="PayScaleSalryCalculator.JobTitle" validation="required|max_len:50">
                                        </div>
                                        <div class="col-sm-3 p-l-0">
                                            <label class="text-muted">Country</label>
                                            <input type="text" class="form-control form-control-sm" placeholder="Enter Country Name" ng-model="PayScaleSalryCalculator.Country" name="PayScaleSalryCalculator.Country" validation="required|max_len:50">
                                        </div>
                                        <div class="col-sm-2 p-l-0">
                                            <label class="text-muted">State</label>
                                            <input type="text" class="form-control form-control-sm" placeholder="Enter State Name" ng-model="PayScaleSalryCalculator.State" name="PayScaleSalryCalculator.State" validation="required|max_len:50">
                                        </div>
                                        <div class="col-sm-2 p-l-0">
                                            <label class="text-muted">City</label>
                                            <input type="text" class="form-control form-control-sm" placeholder="Enter City Name" ng-model="PayScaleSalryCalculator.City" name="PayScaleSalryCalculator.City" validation="required|max_len:50">
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-sm m-t-2 btn-primary" style="border-radius:0" ng-click="salaryCalculator(salaryCalculatorForm);">Go</button>
                                            <span ng-click="hidePayScaleSalryCalculator();" class="text-grey pull-right m-t-2"><i class="fa fa-times-circle fa-2x"></i></span>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="isSafariBrowser">
                    <div class="col-sm-12 pull-md-right pull-lg-right">
                        <span class="validation text-danger pull-right">{{'menu.BROWSERISSUEMESSAGE'|translate}}</span>
                    </div>
                </div>
            </div>
            <div class="card-block clearfix p-l-xs p-r-xs p-t-0 p-b-0">
                <div id="requirementDiv" class="table-responsive scroll slimScroll fixed_headers td-col-md">
                    <table ng-table="common.tblRequirementList" class="table table-striped table-hover table-bordered table-sm table-hover text-nowrap small m-a-0">
                        <tbody class="slimScroll">
                            <tr ng-repeat="job in common.jobList" ng-class="{'bg-primary-lighter':job.Id == common.selectedRow}" sglclick="setClickedRow(job);hidePayScaleSalryCalculator();" ng-dblclick="setClickedRow(job);openRequirementDetailModal();">
                                <td data-title="'Status'" filter="{ 'JobStatus': 'text'}" data-sortable="'JobStatusMaster.Status'" header-class="'bg-primary-light'" class="text-xs-center">
                                    <span class="label label-md label-default" ng-if="job.JobStatus== 'Archive'" ng-bind="job.JobStatus">{{job.JobStatus}}</span>
                                    <span class="label label-md label-success" ng-if="job.JobStatus== 'Closed'" ng-bind="job.JobStatus">{{requirementModel.JobStatusId}}</span>
                                    <span class="label label-md label-warning" ng-if="job.JobStatus== 'Pending'" ng-bind="job.JobStatus">{{requirementModel.JobStatusId}}</span>
                                    <span class="label label-md label-info" ng-if="job.JobStatus== 'Hold'" ng-bind="job.JobStatus">{{requirementModel.JobStatusId}}</span>
                                    <span class="label label-md label-danger" ng-if="job.JobStatus== 'Open'" ng-bind="job.JobStatus">{{requirementModel.JobStatusId}}</span>
                                    <span ng-if="job.JobStatusId=== null"></span>


                                <td scope="row" data-title="'Internal Requirement Id'" filter="{ 'Code': 'text'}" data-sortable="'RequisitionId'" header-class="'bg-primary-light'" ng-bind="job.RequisitionId" class="text-xs-center">

                                <td scope="row" data-title="'Title'" filter="{ 'JobTitle': 'text'}" data-sortable="'JobTitle'" header-class="'bg-primary-light'" ng-bind="job.JobTitle" ng-attr-title="{{job.JobTitle}}">

                                <td scope="row" data-title="'Type'" filter="{ 'JobType': 'text'}" data-sortable="'JobTypeMaster.Type'" header-class="'bg-primary-light'" ng-bind="job.JobType">

                                <td scope="row" data-title="'Location'" filter="{ 'Location': 'text'}" data-sortable="'CountryMaster.Name'" header-class="'bg-primary-light'" ng-attr-title="{{job.City +' '+job.State+' '+job.Country}}">
                                    <span ng-bind="job.City"></span>
                                    <span ng-if="job.City && job.State">,</span>
                                    <span ng-bind="job.State"></span>
                                    <span ng-if="job.State && job.Country">,</span>
                                    <span ng-bind="job.Country"></span>


                                <td scope="row" data-title="'Company'" filter="{ 'CompanyName': 'text'}" data-sortable="'CompanyDetail.Name'" header-class="'bg-primary-light'" ng-bind="job.CompanyName" ng-attr-title="{{job.CompanyName}}">

                                <td scope="row" data-title="'Min Salary'" filter="{ 'MinSalary': 'text'}" data-sortable="'MinSalary'" header-class="'bg-primary-light'">
                                    <i class="fa fa-dollar" ng-if="job.MinSalary"></i>
                                    <span ng-bind="job.MinSalary"> </span>


                                <td scope="row" data-title="'Max Salary'" filter="{ 'MaxSalary': 'text'}" data-sortable="'MaxSalary'" header-class="'bg-primary-light'">
                                    <i class="fa fa-dollar" ng-if="job.MaxSalary"></i>
                                    <span ng-bind="job.MaxSalary"> </span>


                                <td scope="row" data-title="'Client Rate'" filter="{ 'ClientRate': 'text'}" data-sortable="'ClientRate'" header-class="'bg-primary-light'">
                                    <i class="fa fa-dollar" ng-if="job.ClientRate"></i>
                                    <span ng-bind="job.ClientRate"> </span>


                                <td scope="row" data-title="'Pay Rate'" filter="{ 'PayRate': 'text'}" data-sortable="'PayRate'" header-class="'bg-primary-light'">
                                    <i class="fa fa-dollar" ng-if="job.PayRate"></i>
                                    <span ng-bind="job.PayRate"> </span>


                                <td scope="row" data-title="'Skills'" filter="{ 'Skills': 'text'}" data-sortable="'TechnicalSkills'" header-class="'bg-primary-light'" ng-bind="job.TechnicalSkills" ng-attr-title="{{job.TechnicalSkills}}">

                                <td scope="row" data-title="'Contact(s)'" filter="{ 'Contacts': 'text'}" header-class="'bg-primary-light'" ng-attr-title="{{job.CompanyContactName}}">
                                    <a class="text-primary bold" ng-click="getCompanyContact(job.CompanyId, job.CompanyContactId);" ng-bind="job.CompanyContactName"></a>


                                <td scope="row" data-title="'Assigned Recruiter(s)'" filter="{ 'AssignedRecruiter': 'text'}" header-class="'bg-primary-light'">
                                    <span ng-if="$index< job.OrganizationUser.length- 1" ng-repeat="recruiter in job.OrganizationUser" ng-attr-title="{{recruiter.Name}}">{{recruiter.Name}},</span>
                                    <span ng-if="$index== job.OrganizationUser.length- 1" ng-repeat="recruiter in job.OrganizationUser" ng-attr-title="{{recruiter.Name}}">{{recruiter.Name}}</span>

                                <td scope="row" data-title="'Created by'" filter="{ 'CreatedOn': 'text'}" data-sortable="'CreatedOn'" header-class="'bg-primary-light'" ng-attr-title="{{job.CreatedBy + ' on ' + (job.CreatedOn | date: MM/dd/yyyy)}}">{{job.CreatedBy}} <span ng-if="job.CreatedOn"> on </span> {{job.CreatedOn | date: MM/dd/yyyy}}

                                <td data-title="'Modified by'" filter="{ 'ModifiedOn': 'text'}" data-sortable="'ModifiedOn'" header-class="'bg-primary-light'" ng-attr-title="{{job.ModifiedBy + ' on ' + (job.ModifiedOn | date: MM/dd/yyyy)}}">{{job.ModifiedBy}} <span ng-if="job.ModifiedOn"> on </span> {{job.ModifiedOn | date: MM/dd/yyyy}}


                    </table>
                    <div class="col-sm-12 p-a-3" ng-if="common.jobList.length == 0">
                        <p class="text-shadow lead text-xs-center">
                            <img src="images/search.png"><br>
                            No requirements found matching criteria!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card scroll overflow-auto tab-content-scroll m-b-0">
            <div class="card-block p-a-xs">
                <uib-tabset class="m-b-0" active="active">
                    <uib-tab heading="Activities" index="0">
                        <uib-tab-heading>
                            <span>Activities</span>
                        </uib-tab-heading>
                        <div class="activity-feed clearfix p-a-0">
                            <div class="feed-item p-a-xs" ng-repeat="activityItem in activityList" ng-hide="common.jobList.length == 0">
                                <div class="text-muted">
                                    <div ng-if="activityItem.ActivityType!='Email'" class="col-sm-12 p-a-0">
                                        <small class="text-grey col-sm-2">{{activityItem.CreatedOn | date:'MM/dd/yyyy h:mma'}}</small>
                                        <span class="font-weight-medium col-sm-2 bold">{{activityItem.Activity[0].PropertyName}}</span>
                                        <span class="font-weight-mediumr col-sm-3 text-nowrap overflow-hidden" tooltip-placement="top" uib-tooltip="Updated value">
                                            <span>
                                                {{activityItem.Activity[0].NewValue}}
                                            </span>
                                        </span>
                                        <span class="font-weight-medium col-sm-2 text-nowrap overflow-hidden" tooltip-placement="top" uib-tooltip="Old Value">
                                            <span>
                                                {{activityItem.Activity[0].OldValue}}
                                            </span>
                                        </span>
                                        <span class="font-weight-medium col-sm-2 text-xs-right" tooltip-placement="top" uib-tooltip="Created By">
                                            <i class="fa fa-user m-r-xs"></i>
                                            {{activityItem.CreatedByName }}
                                        </span>
                                        <!--<span class="text-grey col-sm-3">{{activityItem.CreatedOn | date:'MM/dd/yyyy h:mma'}}</span>-->
                                        <span class="col-sm-1 pull-right" uib-tooltip="See More">
                                            <a class="btn-sm small" ng-if="activityItem.ActivityType!='Email'" type="button" data-toggle="collapse" data-target="#{{'more'+$index}}" aria-expanded="false" aria-controls="more" ng-if="activityItem.Activity.length>1">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div ng-if="activityItem.ActivityType=='Email'" class="col-sm-12 p-a-0">
                                        <small class="text-grey col-sm-2">{{activityItem.CreatedOn | date:'MM/dd/yyyy h:mma'}}</small>
                                        <span class="font-weight-medium col-sm-2 bold" ng-click="showActivityEmail(activityItem)">
                                            <a class="btn-link">{{activityItem.ActivityType}}</a>
                                        </span>
                                        <span class="font-weight-mediumr col-sm-5">{{activityItem.Description}}</span>
                                        <span class="font-weight-medium col-sm-2 text-xs-right" tooltip-placement="top" uib-tooltip="Created By">
                                            <i class="fa fa-user m-r-xs"></i>
                                            {{activityItem.CreatedByName }}
                                        </span>
                                        <span class="col-sm-1"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 p-a-0 p-t-xs text collapse" id="{{'more'+$index}}">
                                    <div ng-repeat="activity in activityItem.Activity" class="col-sm-12 p-a-0">
                                        <span class="col-sm-2"></span>
                                        <span class="font-weight-medium col-sm-2 bold">{{activity.PropertyName}}</span>
                                        <span class="font-weight-medium col-sm-3" tooltip-placement="top" uib-tooltip="Updated value">
                                            <span>
                                                {{activity.NewValue}}
                                            </span>
                                        </span>
                                        <span class="col-sm-3" tooltip-placement="top" uib-tooltip="Old Value">
                                            <span>
                                                {{activity.OldValue}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1">
                        <uib-tab-heading>
                            <span>QNotes</span>
                        </uib-tab-heading>
                        <div class="row m-b-xs" ng-hide="common.jobList.length == 0">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-sm" title="Save" ng-click="submitQNote()" ng-disabled="!qNoteModel.qNote || qNoteModel.qNote.length> 200">
                                            <i class="fa fa-floppy-o"></i>
                                        </button>
                                    </span>
                                    <input type="text" class="form-control form-control-sm" placeholder="Please enter the notes and save" ng-model="qNoteModel.qNote" name="qNote" validation="max_len:200">
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-repeat="qNote in qNoteList" ng-hide="common.jobList.length == 0">
                            <div class="col-sm-12">
                                <div class="card m-b-xs shadow">
                                    <div class="card-header p-a-xs clearfix">
                                        <div class="user-image">
                                            <img ng-if="qNote.ProfileImageName" ng-src="{{ configuration.XSEED_ORGUSER_IMAGE_PATH + qNote.ProfileImageName }}" lazy-src="" class="avatar-2wh img-circle m-r-xs pull-left" title="user">
                                            <img ng-if="!qNote.ProfileImageName" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src="" class="avatar-2wh avatar-xs img-circle" title="user">
                                        </div>
                                        <!--<i class="fa fa-user fa-2x pull-left text-grey"></i>-->
                                        <div class="font-weight-medium text-muted">{{qNote.CreatedBy}}</div>
                                        <div class="text-grey small">{{qNote.CreatedOn| date:'MM/dd/yyyy h:mma' }}</div>
                                    </div>
                                    <div class="card-block clearfix break-word">
                                        <div class="col-sm-12">
                                            <p class="card-text">{{qNote.Description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
<script id="uib/template/tabs/tab.html" type="text/ng-template">
    <li class="nav-item">
        <a href class="nav-link" ng-click="select()" uib-tab-heading-transclude ng-class="{active: active
, disabled: disabled}">{{heading}}</a>
    </li>
</script>