﻿<div class="title-section row" ng-init="checkUserAccess()">
    <div class="col-sm-8">
        <h4>Requirement Details</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4 text-lg-right">
        <a class="btn btn-danger btn-icon m-t-1" role="button" href="#/requirementList">
            <i class="material-icons ng-binding" aria-hidden="true">view_list</i>
            <span>Requirement List</span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4>
            <span ng-bind="common.requirementModel.JobTitle"></span>
            <a ng-if="userDetails.Requirement_Update == 'True'" class="btn btn-sm btn-round btn-link" ng-click="requirementEditView()"><i class="fa fa-pencil"></i> Edit</a>
        </h4>
        <ul class="list-inline m-b-0">
            <li class="list-inline-item">
                <p class="bold">
                    <span class="text-muted"><i class="fa fa-building-o"></i></span> <span ng-bind="common.requirementModel.CompanyName"></span>
                </p>
            </li>
            <li class="list-inline-item text-muted">|</li>
            <li class="list-inline-item">
                <p class="bold">
                    <span class="text-muted"><i class="fa fa-calendar"></i> Posted on</span> : <span>{{common.requirementModel.JobPostedDate| date:'MM-dd-yyyy'}}</span>
                </p>
            </li>
            <li class="list-inline-item text-muted">|</li>
            <li class="list-inline-item">
                <p>
                    <label ng-if="common.requirementModel.JobStatus== 'Posted'" class="label label-md label-primary">
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <span ng-bind="common.requirementModel.JobStatus">{{common.requirementModel.JobStatusId}}</span>
                    </label>
                    <label ng-if="common.requirementModel.JobStatus== 'Closed'" class="label label-md label-success">
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <span ng-bind="common.requirementModel.JobStatus">{{common.requirementModel.JobStatusId}}</span>
                    </label>

                    <label ng-if="common.requirementModel.JobStatus== 'Pending'" class="label label-md label-warning">
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <span ng-bind="common.requirementModel.JobStatus">{{common.requirementModel.JobStatusId}}</span>
                    </label>
                    <label ng-if="common.requirementModel.JobStatus== 'Hold'" class="label label-md label-info">
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <span ng-bind="common.requirementModel.JobStatus">{{common.requirementModel.JobStatusId}}</span>
                    </label>
                    <label ng-if="common.requirementModel.JobStatus== 'Open'" class="label label-md label-danger">
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <span ng-bind="common.requirementModel.JobStatus">{{common.requirementModel.JobStatusId}}</span>
                    </label>

                </p>
            </li>
            <li class="list-inline-item text-muted">|</li>
            <li class="list-inline-item">
                <p class="bold">
                    <span class="text-muted"><i class="fa fa-star"></i> Priority</span> : <span ng-bind="common.requirementModel.Priority"></span>
                </p>
            </li>
        </ul>

    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="col-sm-12 p-a-0">
            <div class="card clearfix">
                <div class="card-header card-header no-bg no-border">
                    <h5 class="bold">Summary</h5>
                </div>
                <div class="card-block">
                    <div class="col-sm-4">
                        <label class="text-muted">Job Id</label>
                        <p ng-bind="common.requirementModel.RequisitionId"></p>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Closed Date</label>
                        <p ng-bind="common.requirementModel.JobClosedDate| date:'MM-dd-yyyy'"></p>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Expiry Date</label>
                        <p ng-bind="common.requirementModel.JobExpiryDate| date:'MM-dd-yyyy' "></p>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Business Unit</label>
                        <p ng-bind="common.requirementModel.BusinessUnitName"></p>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Per Diem</label>
                        <p ng-bind="common.requirementModel.PerDiem"></p>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Company Contact</label>
                        <p ng-bind="common.requirementModel.CompanyContactName"></p>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Client Rate</label>
                        <p ng-bind="common.requirementModel.ClientRate"></p>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Client Rate Type</label>
                        <p ng-bind="common.requirementModel.ClientRateType"></p>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Margin</label>
                        <p ng-bind="common.requirementModel.Margin"></p>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Pay Rate</label>
                        <p ng-bind="common.requirementModel.PayRate"></p>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Pay Rate Type</label>
                        <p ng-bind="common.requirementModel.PayRateType"></p>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Fee %</label>
                        <p ng-bind="common.requirementModel.FeePercent"></p>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Total Hours</label>
                        <p ng-bind="common.requirementModel.TotalHours"></p>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Weekly Hours</label>
                        <p ng-bind="common.requirementModel.WeeklyHours"></p>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Security Clearance</label>
                        <p ng-bind="common.requirementModel.SecurityClearance"></p>
                    </div>
                    <div class="col-sm-12">
                        <div class="description">
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-primary">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h6 class="bold">
                                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Description <i class="fa fa-chevron-circle-down"></i>
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <p ng-bind="common.requirementModel.JobDescription"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 p-a-0">
            <div class="card clearfix">
                <div class="card-header no-bg no-border">
                    <h5 class="bold">Associated Candidate(s)</h5>
                </div>
                <div class="card-block">
                    <table class="table table-bordered table-hover table-sm" ng-if="common.requirementModel.associatedCandidateList.length > 0">
                        <thead>
                            <tr>
                                <th>Candidate</th>
                                <th>Submitted by</th>
                                <th>Status</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="associatedCandidate in common.requirementModel.associatedCandidateList">
                                <td>
                                    <a ng-click="closeRequirementMoreModal();candidateDetailView(associatedCandidate.CandidateId);" style="color:blue;">{{associatedCandidate.CandidateName}}</a>
                                </td>
                                <td>{{associatedCandidate.SubmittedByName}}</td>
                                <td>{{associatedCandidate.Status}}</td>
                                <td>{{associatedCandidate.Remark}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="common.requirementModel.associatedCandidateList.length == 0">
                        <h6 class="text-shadow text-muted">
                            No associated Candidate(s).
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 p-a-0">
            <div class="card clearfix">
                <div class="card-header no-bg no-border">
                    <h5 class="bold">Applied Candidate(s)</h5>
                </div>
                <div class="card-block">
                    <table class="table table-bordered table-hover table-sm" ng-if="common.requirementModel.appliedCandidateList.length > 0">
                        <thead>
                            <tr>
                                <th>Candidate</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Skills</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="appliedCandidate in common.requirementModel.appliedCandidateList">
                                <td>
                                    <a ng-click="closeRequirementMoreModal();candidateDetailView(appliedCandidate._id);" style="color:blue;">{{appliedCandidate.FirstName + " " + appliedCandidate.LastName}}</a>
                                </td>
                                <td>{{appliedCandidate.PrimaryEmail}}</td>
                                <td>{{appliedCandidate.Mobile}}</td>
                                <td ng-bind="appliedCandidate.Skills"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div ng-if="common.requirementModel.AppliedCandidateCount == 0">
                        <h6 class="text-shadow text-muted">
                            No applied Candidate(s).
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-12 p-a-0">
            <div class="card clearfix">
                <div class="card-header no-bg no-border">
                    <h5 class="bold">Other Details</h5>
                </div>
                <div class="card-block">
                    <div class="col-sm-4">
                        <label class="text-muted">Openings</label>
                        <p ng-bind="common.requirementModel.TotalPositions"></p>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Advertised Salary</label>
                        <p ng-bind="common.requirementModel.SalaryRange"></p>
                    </div>

                    <div class="col-sm-4">
                        <label class="text-muted">Max Salary</label>
                        <p ng-bind="common.requirementModel.MaxSalary"></p>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Min. Salary</label>
                        <p ng-bind="common.requirementModel.MinSalary"></p>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Experience</label>
                        <p>
                            <span ng-bind-template="{{common.requirementModel.ExperienceInYear}}.{{common.requirementModel.ExperienceInMonth}}"></span>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Qualification</label>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <span ng-repeat-start="degree in common.requirementModel.DegreeNameList" ng-if="$index< common.requirementModel.DegreeNameList.length- 1">{{degree}}, </span>
                                <span ng-repeat-end ng-if="common.requirementModel.DegreeNameList.length-1=== $index">{{degree}}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <label class="text-muted">US Exp.</label>
                        <p>{{common.requirementModel.USExperience}}</p>
                    </div>

                    <div class="col-sm-4">
                        <label class="text-muted">Visa type</label>
                        <p>{{common.requirementModel.VisaType}}</p>
                    </div>
                    <div class="col-sm-12">
                        <label class="text-muted">Technical Skills</label>
                        <p>
                            <span ng-bind="common.requirementModel.SkillList"></span>
                        </p>
                    </div>
                    <div class="col-sm-12">
                        <label class="text-muted">Communication Skills</label>
                        <p>
                            <span ng-bind="common.requirementModel.CommunicationSkills"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-a-0">
            <div class="card clearfix">
                <div class="card-header no-bg no-border">
                    <h5 class="bold">Location</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="text-muted">Job Location</label>
                            <p ng-bind="common.requirementModel.Location"></p>
                        </div>
                        <div class="col-lg-6">
                            <label class="text-muted">City</label>
                            <p ng-bind="common.requirementModel.City"></p>
                        </div>
                        <div class="col-lg-6">
                            <label class="text-muted">State</label>
                            <p ng-bind="common.requirementModel.State"></p>
                        </div>
                        <div class="col-lg-6">
                            <label class="text-muted">Country</label>
                            <p ng-bind="common.requirementModel.Country"></p>
                        </div>
                        <div class="col-lg-6">
                            <label class="text-muted">Zip</label>
                            <p ng-bind="common.requirementModel.Zip"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-r-0">
            <div class="card clearfix">
                <div class="card-header no-bg no-border">
                    <h5 class="bold">Assigned Persons</h5>
                </div>
                <div class="card-block">
                    <span class="bold text-muted">Recruiter(s)</span>
                    <ul class="list-inline">
                        <li class="list-inline-item" ng-repeat="user in common.requirementModel.OrganizationUser">
                            <p class="padding-md label-default label-pill">
                                {{user.Name}}
                            </p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

