﻿<!-- <div class="row animated fadeIn" ng-init="clearChangePasswordModel()">
    <div class="card col-sm-10">
        <div class="card-block clearfix">
            <form class="form-horizontal row" name="changePasswordForm" novalidate>
                <div id="additional-details">
                    <fieldset class="form-group row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>Current password <span class="bold text-red">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="oldPassword" placeholder="Current Password" name="oldPassword" friendly-name="Current password" block-clipboard ng-model="changePasswordModel.OldPassword" autocomplete="off" validation="required|xseed_password|min_len:8|max_len:16"
                                />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>New password <span class="bold text-red">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="newPassword" placeholder="New Password" name="candidateLogin.newPassword" ng-model="changePasswordModel.NewPassword" friendly-name="New password" block-clipboard autocomplete="off" validation="required|xseed_password|min_len:8|max_len:16|xseed_password_different:changePasswordModel.OldPassword,New password, Current password"
                                />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>Confirm new password <span class="bold text-red">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" placeholder="Confirm Password" name="candidateLogin.confirmPassword" block-clipboard ng-model="changePasswordModel.ConfirmPassword" autocomplete="off" friendly-name="Confirm new password" validation="required|min_len:8|max_len:16|xseed_password_match:changePasswordModel.NewPassword,Confirm new password,New password"
                                />
                            </div>
                        </div>
                    </fieldset>
                </div>
                <fieldset class="form-group row">
                    <div class="col-sm-12">
                        <div class="col-sm-4 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary btn-sm small" ng-click="changePassword(changePasswordForm);">Submit</button>
                            <button type="submit" class="btn btn-secondary btn-sm small" ng-click="gotoDashboard();">Cancel</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div> -->




<div class="main-content" ng-init="clearChangePasswordModel()">
    <div class="content-view">
        <div class="bg-white">

            <div class="row">
                <form name="changePasswordForm">
                    <div class="col-md-12">
                        <h2 class="custome-devider">
                            <span><img src="images/personal.png">
                                                                            <span>Change Password</span></span>
                        </h2>
                        <div class="col-md-4 offset-md-4">

                            <div class="form-group">
                                <label for="exampleInputPassword1">Old Password</label>
                                <input class="form-control form-control-sm iscapson" id="oldPassword" name="oldPassword" block-clipboard friendly-name="Old password" ng-model="changePasswordModel.OldPassword" placeholder="Enter Old Password" type="password" validation="required" onkeyup="checkcapson(this)">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">New Password</label>
                                <input class="form-control form-control-sm iscapson" id="newPassword" name="candidateLogin.newPassword" block-clipboard friendly-name="New password" ng-model="changePasswordModel.NewPassword" placeholder="Enter New Password" type="password" validation="required|xseed_password_different:changePasswordModel.OldPassword,New password, Old password"
                                    onkeyup="checkcapson(this)">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Confirm Password</label>
                                <input class="form-control form-control-sm iscapson" id="confirmPassword" name="candidateLogin.confirmPassword" block-clipboard friendly-name="Confirm new password" ng-model="changePasswordModel.ConfirmPassword" placeholder="Enter Confirm Password" type="password"
                                    validation="required|xseed_password_match:changePasswordModel.NewPassword,Confirm new password,New password" onkeyup="checkcapson(this)">
                            </div>
                            <p class="text-danger disp-none" id="text">Caps lock is ON.</p>
                        </div>

                    </div>


                    <div class="col-md-12">
                        <div class="col-md-4 offset-md-4">
                            <button id="nextSbmt" class="btn btn-primary btn-icon btn-right btn-sm m-r-xs" data-type="next" type="button" ng-click="changePassword(changePasswordForm);"><i class="material-icons">check</i>
                                            <span>Submit</span></button>
                            <button id="nextSbmt" class="btn btn-danger btn-icon btn-right btn-sm" data-type="next" type="button" ng-click="gotoDashboard();"><i class="material-icons">close</i>
                                                <span>Cancel</span></button>

                            <br><br>
                        </div>
                    </div>
                </form>

            </div>


        </div>
    </div>
</div>