﻿<div class="row" ng-init="checkUserAccess()">
    <div ng-init="getOrganizationDetails()">
        <form class="form-horizontal input-border-b" name="frmUpdateOrganization" novalidate>
            <div class="card shadow">
                <div class="card-block clearfix">
                    <fieldset class="form-group row">
                        <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                            <div class="col-sm-3">
                                <label>Name <span class="bold text-red">*</span></label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text"
                                       name="OrganizationName"
                                       class="form-control form-control-sm"
                                       ng-model="organizationDetails.OrganizationName"
                                       placeholder="Enter Organization Name"
                                       validation="max_len:200|required" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                            <div class="col-sm-3">
                                <label>Phone Number<span class="bold text-red">*</span></label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text"
                                       class="form-control form-control-sm"
                                       name="PhoneNumber"
                                       ng-model="organizationDetails.PhoneNumber"
                                       ui-mask="(999) 999-9999"
                                       ui-mask-placeholder
                                       ui-mask-placeholder-char="_"
                                       ng-blur="removeMask()"
                                       ng-focus="placeMask()"
                                       placeholder="Enter Phone"
                                       validation="required|xseed_phone" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row">
                        <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                            <div class="col-sm-3">
                                <label>Website <span class="bold text-red">*</span></label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text"
                                       name="Website"
                                       class="form-control form-control-sm"
                                       placeholder="Enter Website"
                                       ng-model="organizationDetails.Website"
                                       validation="required|url|max_len:500" />

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                            <div class="col-sm-3">
                                <label>Address 1 <span class="bold text-red">*</span></label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text"
                                       name="Address1"
                                       class="form-control form-control-sm"
                                       placeholder="Enter Address 1"
                                       ng-model="organizationDetails.Address1"
                                       validation="max_len:100|required:alt=The address1 is required." />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row">
                        <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                            <div class="col-sm-3">
                                <label>Address 2</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text"
                                       name="Address2"
                                       class="form-control form-control-sm"
                                       placeholder="Enter Address 2"
                                       ng-model="organizationDetails.Address2"
                                       validation="min_len:2|max_len:100" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                            <div class="col-sm-3">
                                <label>Country <span class="bold text-red">*</span></label>
                            </div>
                            <div class="col-sm-9">
                                <select name="CountryId"
                                        ui-select2
                                        data-placeholder="Country"
                                        ng-model="organizationDetails.CountryId"
                                        validation="required"
                                        ng-change="getStateListByCountry(organizationDetails.CountryId)">
                                    <option value=""></option>
                                    <option ng-repeat="country in metadata.GetAncillaryInformationResponse.countryList.country" value="{{country.Id}}"
                                            ng-bind="country.Name"></option>
                                </select>

                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row">
                        <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                            <label class="col-sm-3">State</label>
                            <div class="col-sm-9">
                                <select name="stateId"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="State"
                                        ng-model="organizationDetails.StateId"
                                        ng-change="getCityListByState(organizationDetails.StateId)">
                                    <option value=""></option>
                                    <option ng-repeat="state in stateList" value="{{state.Id}}"
                                            ng-bind="state.Name"></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                            <label class="col-sm-3">City</label>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-9 p-r-0">
                                        <select name="cityId"
                                                ui-select2="{allowClear: true}"
                                                data-placeholder="City"
                                                ng-model="organizationDetails.CityId">
                                            <option value=""></option>
                                            <option ng-repeat="city in cityList" value="{{city.Id}}"
                                                    ng-bind="city.Name"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row">
                        <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                            <div class="col-sm-3">
                                <label>Logo</label>
                            </div>
                            <div class="col-sm-7">
                                <label class="file width-100">
                                    <input type="file"
                                           accept=".jpg,.jpeg,.png"
                                           nv-file-select=""
                                           uploader="upload.uploader"
                                           ng-model="organizationDetails.ProfileImageFile"
                                           ng-file-model="organizationDetails.ProfileImageFile"
                                           name="orgProfileImageFile"
                                           ng-click="enableButtonProfile(organizationDetails.ProfileImageFile , '')"
                                           check-file-size />

                                    <span class="file-custom">
                                        {{common.uploadFileName}}
                                    </span>
                                </label>
                                <br />
                                <span ng-if="common.invalidProfileImgFile" class="validation text-danger">Please select valid format.</span>
                                <span ng-if="common.maxProfileImgFileSize" class="validation text-danger">Max upload size for file is 2 mb.</span>
                                <span ng-if="common.minProfileImgFileSize" class="validation text-danger">File should not be empty.</span>
                                <i class="fa fa-info-circle text-muted">
                                    <span class="text-muted">
                                        Please select files from jpg, jpeg or png.
                                    </span>
                                </i>

                                <span ng-if="invalid" class="validation text-danger">Please select valid format.</span>
                                <span ng-if="maxSize" class="validation text-danger">Max upload size for file is 2 mb.</span>
                            </div>
                            <div class="col-sm-2">
                                <img class="avatar avatar-md avatar-3wh" ng-src="{{organizationDetails.logoImagePath}}" />
                            </div>
                        </div>
                    </fieldset>
                    <div class="row m-b-1">
                        <div class="col-sm-12">
                            <h5 class="h5 font-weight-medium"><i class="fa fa-share-alt m-r-xs" aria-hidden="true"></i>Social Media</h5>
                            <strong>Enter your social media profiles URL.</strong>
                        </div>
                    </div>
                    <fieldset class="form-group row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="col-sm-2">
                                <i class="fa fa-linkedin-square fa-2x text-linkedin"></i>
                            </div>
                            <div class="col-sm-10">
                                <input type="text"
                                       name="LinkedInURL"
                                       class="form-control form-control-sm"
                                       placeholder="Enter LinkedIn URL"
                                       ng-model="organizationDetails.LinkedInURL"
                                       validation="url|max_len:500" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="col-sm-2">
                                <i class="fa fa-twitter-square fa-2x text-twitter"></i>
                            </div>
                            <div class="col-sm-10">
                                <input type="text"
                                       name="TwitterURL"
                                       class="form-control form-control-sm"
                                       placeholder="Enter Twitter URL"
                                       ng-model="organizationDetails.TwitterURL"
                                       validation="url|max_len:500" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="col-sm-2">
                                <i class="fa fa-facebook-square fa-2x text-facebook"></i>
                            </div>
                            <div class="col-sm-10">
                                <input type="text"
                                       name="FacebookURL"
                                       class="form-control form-control-sm"
                                       placeholder="Enter Facebook URL"
                                       ng-model="organizationDetails.FacebookURL"
                                       validation="url|max_len:500" />

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="col-sm-2">
                                <i class="fa fa-google-plus-square fa-2x text-google-plus"></i>
                            </div>
                            <div class="col-sm-10">
                                <input type="text"
                                       name="GooglePlusURL"
                                       class="form-control form-control-sm"
                                       placeholder="Enter GooglePlus URL"
                                       ng-model="organizationDetails.GooglePlusURL"
                                       validation="url|max_len:500" />
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="card-footer p-a-xs text-xs-center">
                    <button type="submit" class="btn btn-primary btn-sm small" ng-click="updateOrganization(frmUpdateOrganization,organizationDetails)" ng-disabled="invalid || maxSize"><i class="fa fa-save"></i> Save</button>
                    <button type="button" class="btn btn-danger btn-sm small" ng-click="resetOrganizationDetail()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".js-example-basic-single").select2();
    });
</script>
