﻿<div class="row" ng-init="checkUserAccess();getOrganizationDetails()">
    <form>
        <div class="card">
            <div class="card-header p-a-xs clearfix">
                <div class="col-sm-12 p-l-0">
                    <span>
                        <img class="avatar avatar-md avatar-4wh img-thumbnail" ng-src="{{organizationDetails.logoImagePath}}" />
                    </span>
                    <span class="v-align-middle">
                        <span class="h5">
                            {{organizationDetails.OrganizationName}}
                        </span>
                    </span>
                    <span class="v-align-middle">
                        <a ng-if="userDetails.Organization_Update == 'True'" href="#/editOrganization" class="bg-default-round bg-grey v-align-middle" uib-tooltip="Edit">
                            <i class="material-icons ng-binding" aria-hidden="true">
                                edit
                            </i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="card-block p-a-1 clearfix">
                <div class="col-sm-6">
                    <fieldset class="row p-a-1 b-b">
                        <div class="col-sm-12">
                            <i class="fa fa-globe fa-2x text-primary pull-left m-r-xs" aria-hidden="true"></i>
                            <span>
                                <a target="_blank" href="{{organizationDetails.Website|addHttpOrHttps}}">
                                    {{organizationDetails.Website}}
                                </a>
                            </span>
                        </div>
                    </fieldset>
                    <fieldset class="row p-a-1 b-b">
                        <div class="col-sm-12">
                            <i class="fa fa-phone fa-2x text-cyan pull-left m-r-xs"></i>
                            <span><a href="tel:{{organizationDetails.PhoneNumber}}">{{organizationDetails.PhoneNumber}}</a></span>
                        </div>
                    </fieldset>
                    <fieldset class="row p-a-1 b-b">
                        <div class="col-sm-12">
                            <i class="fa fa-map-marker fa-2x text-danger pull-left m-r-xs"></i>
                            <p><span>{{organizationDetails.Address1}}</span></p>
                        </div>
                    </fieldset>
                    <fieldset class="row p-a-1 b-b">
                        <div class="col-sm-12">
                            <i class="fa fa-map-marker fa-2x text-muted pull-left m-r-xs"></i>
                            <span>{{organizationDetails.Address2}}</span>
                        </div>
                    </fieldset>
                    <fieldset class="row p-a-1 b-b" ng-if="organizationDetails.State">
                        <div class="col-sm-12">
                            <i class="fa fa-map-marker fa-2x text-muted pull-left m-r-xs"></i>
                            <span>{{organizationDetails.State}}</span>
                        </div>
                    </fieldset>
                    <fieldset class="row p-a-1 b-b" ng-if="organizationDetails.City">
                        <div class="col-sm-12">
                            <i class="fa fa-map-marker fa-2x text-muted pull-left m-r-xs"></i>
                            <span>{{organizationDetails.City}}</span>
                        </div>
                    </fieldset>
                    <fieldset class="row p-a-1">
                        <div class="col-sm-12">
                            <i class="fa fa-flag fa-2x text-indigo pull-left m-r-xs"></i>
                            <span>{{ organizationDetails.CountryId | getCountryName : metadata.GetAncillaryInformationResponse.countryList.country }}</span>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-3">
                    <div class="card-block text-xs-center p-a-2 clearfix shadow">
                        <h5><i class="fa fa-share-alt text-muted m-r-xs"></i>Social</h5>
                        <ul class="list-inline m-t-2">
                            <li class="list-inline-item" ng-if="organizationDetails.LinkedInURL">
                                <a target="_blank" ng-href="{{organizationDetails.LinkedInURL|addHttpOrHttps}}">
                                    <i class="fa fa-linkedin-square fa-2x text-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item" ng-if="organizationDetails.TwitterURL">
                                <a target="_blank" href="{{organizationDetails.TwitterURL|addHttpOrHttps}}">
                                    <i class="fa fa-twitter-square fa-2x text-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item" ng-if="organizationDetails.FacebookURL">
                                <a target="_blank" href="{{organizationDetails.FacebookURL|addHttpOrHttps}}">
                                    <i class="fa fa-facebook-square fa-2x text-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item" ng-if="organizationDetails.GooglePlusURL">
                                <a target="_blank" href="{{organizationDetails.GooglePlusURL|addHttpOrHttps}}">
                                    <i class="fa fa-google-plus-square fa-2x text-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

