﻿<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header p-a-xs clearfix">
                <div class="col-sm-8">
                    <h5 class="bold">Summary</h5>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-danger btn-sm small pull-right" role="button" href="#/home">
                        <i class="fa fa-list m-r-xs" aria-hidden="true"></i><span>API Log List</span>
                    </a>
                </div>
            </div>
            <div class="card-block overflow-hidden scroll-y">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label class="text-muted">Application</label>
                                            <p ng-bind="apiLogDetailModel.Application"></p>
                                        </td>
                                        <td>
                                            <label class="text-muted">User</label>
                                            <p ng-bind="apiLogDetailModel.User"></p>
                                        </td>
                                        <td>
                                            <label class="text-muted">Machine</label>
                                            <p ng-bind="apiLogDetailModel.Machine"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="text-muted">Request Ip Address</label>
                                            <p ng-bind="apiLogDetailModel.RequestIpAddress"></p>
                                        </td>
                                        <td>
                                            <label class="text-muted">Request Content Type</label>
                                            <p ng-bind="apiLogDetailModel.RequestContentType"></p>
                                        </td>
                                        <td>
                                            <label class="text-muted">Response Content Type</label>
                                            <p ng-bind="apiLogDetailModel.ResponseContentType"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="text-muted">Request Timestamp</label>
                                            <p>{{apiLogDetailModel.RequestTimestamp| date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
                                        </td>
                                        <td>
                                            <label class="text-muted">Response Timestamp</label>
                                            <p>{{apiLogDetailModel.ResponseTimestamp| date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
                                        </td>
                                        <td>
                                            <label class="text-muted">Request Method</label>
                                            <p ng-bind="apiLogDetailModel.RequestMethod"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="text-muted">Response Status Code</label>
                                            <p ng-bind="apiLogDetailModel.ResponseStatusCode"></p>
                                        </td>
                                        <td>
                                            <label class="text-muted">Request Uri</label>
                                            <div ng-bind="apiLogDetailModel.RequestUri" style="max-width:500px;"></div>
                                        </td>
                                        <td>
                                            <label class="text-muted">Request Route Template</label>
                                            <p ng-bind="apiLogDetailModel.RequestRouteTemplate"></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="description">
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-primary">
                                    <div class="panel-heading" role="tab" id="headingOneRequestRouteData">
                                        <h6 class="bold">
                                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOneRequestRouteData" aria-expanded="true" aria-controls="collapseOneRequestRouteData">
                                                Request Route Data <i class="fa fa-chevron-circle-down"></i>
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapseOneRequestRouteData" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOneRequestRouteData">
                                        <div>
                                            <div ng-bind="apiLogDetailModel.RequestRouteData"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="description">
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-primary">
                                    <div class="panel-heading" role="tab" id="headingOneRequestHeaders">
                                        <h6 class="bold">
                                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOneRequestHeaders" aria-expanded="true" aria-controls="collapseOneRequestHeaders">
                                                Request Headers <i class="fa fa-chevron-circle-down"></i>
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapseOneRequestHeaders" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOneRequestHeaders">
                                        <div ng-repeat="requestHeader in apiLogDetailModel.RequestHeaders">
                                            <div ng-bind="requestHeader" style="max-width:1000px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="description">
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-primary">
                                    <div class="panel-heading" role="tab" id="headingOneRequestContent">
                                        <h6 class="bold">
                                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOneRequestContent" aria-expanded="true" aria-controls="collapseOneRequestContent">
                                                Request Content Body<i class="fa fa-chevron-circle-down"></i>
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapseOneRequestContent" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOneRequestContent">
                                        <div ng-repeat="requestContent in apiLogDetailModel.RequestContentBody">
                                            <div ng-bind="requestContent"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="description">
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-primary">
                                    <div class="panel-heading" role="tab" id="headingOneResponseContent">
                                        <h6 class="bold">
                                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOneResponseContent" aria-expanded="true" aria-controls="collapseOneResponseContent">
                                                Response Content Body <i class="fa fa-chevron-circle-down"></i>
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapseOneResponseContent" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOneResponseContent">
                                        <div ng-repeat="responseContent in apiLogDetailModel.ResponseContentBody">
                                            <div ng-bind="responseContent"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>