﻿
<form role="form" name="loginForm" novalidate>
    <div class="session-content">
        <div class="m-a-1">
            <img src="images/logo-b.png" class="img-responsive center-block" />
        </div>
        <div class="card form-layout">
            <!--action="/" ui-jq="validate" ui-options="validationSignin"-->
            <div class="card-header text-xs-center m-b-1 no-bg">
                <!--<img src="images/logo-icon.png" alt="" class="m-b-1" />-->
                <h5>Welcome back!</h5>
                <p class="text-muted">
                    Sign in with username to continue.
                </p>
            </div>
            <div class="card-block">
                <fieldset class="form-group">
                    <label>
                        Enter your username
                    </label>
                    <input type="text" class="form-control" id="userName" placeholder="Email"
                           name="userName"
                           ng-model="loginRequest.userName"
                           validation="required|min_len:6|max_len:50|email" />
                    <!--autocomplete="off"-->
                </fieldset>
                <fieldset class="form-group">
                    <label>
                        Enter your password
                    </label>
                    <input type="password" class="form-control" id="password"
                           placeholder="Password"
                           name="password" ng-model="loginRequest.password"
                           autocomplete="off"
                           validation="required|min_len:8|max_len:16|xseed_password"
                           ng-enter="login(loginForm);" />
                    <!--block-clipboard ng-model="loginRequest.password"-->

                </fieldset>
                <label class="c-input c-checkbox m-b-1">
                    <input type="checkbox" ng-model="loginRequest.stayLoggedIn" />
                    <span class="c-indicator">
                    </span>
                    Stay logged in
                </label>
                <!--<button class="btn btn-primary btn-block btn-lg" type="button" ng-click="login(loginForm); getUserDetails(loginRequest.userName);">-->
                <button class="btn btn-primary btn-block btn-lg" type="button" ng-click="login(loginForm);">
                    Login
                </button>
                <p class="well-lg">
                </p>
                <div class="divider">
                    <span>
                        OR
                    </span>
                </div>
                <div class="text-xs-center">
                    <p>
                        Login with your social account
                    </p>
                    <a class="btn btn-icon-icon btn-facebook btn-lg m-b-1 m-r-1" ng-click="socialLogin('Facebook')">
                        <i class="fa fa-facebook">
                        </i>
                    </a>
                    <a class="btn btn-icon-icon btn-github btn-lg m-b-1 m-r-1">
                        <i class="fa fa-github">
                        </i>
                    </a>
                    <a class="btn btn-icon-icon btn-google btn-lg m-b-1 m-r-1">
                        <i class="fa fa-google-plus">
                        </i>
                    </a>
                    <a class="btn btn-icon-icon btn-linkedin btn-lg m-b-1 m-r-1">
                        <i class="fa fa-linkedin">
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-xs-center">
        <p>
            <a href="#forgotPassword" ng-click="gotoForgotPassword()">
                Forgot password?
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
            <a href="#register" ng-click="gotoRegister(loginForm)">
                Create an recruiter account
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
            <a href="#/candidateRegistration" ng-click="gotoRegisterCandidate(loginform)">
                Create an candidate account
            </a>
        </p>
    </div>
</form>