﻿<div class="session-content">
    <div class="m-a-1">
        <img src="images/logo-b.png" class="img-responsive center-block" />
    </div>

    <div class="card form-layout">
        <form role="form" name="candidateRegistrationForm" novalidate>
            <!--action="#/signin" ui-jq="validate"-->
            <div class="card-header text-xs-center m-b-1 no-bg">
                <h5>Register</h5>
                <p class="text-muted">
                    Create an account to continue.
                </p>
            </div>
            <div class="card-block">
                <fieldset class="form-group row">
                    <label class="col-sm-12">
                        Name
                        <span class="bold text-red">*</span>
                    </label>
                    <div class="col-sm-6">
                        <input type="text"
                               class="form-control"
                               placeholder="First Name"
                               ng-model="registerCandidateRequest.FirstName"
                               id="FirstName"
                               name="FirstName"
                               validation="required|min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe" />

                    </div>

                    <div class="col-sm-6">
                        <input type="text"
                               class="form-control"
                               placeholder="Last Name"
                               ng-model="registerCandidateRequest.LastName"
                               id="LastName"
                               name="LastName"
                               validation="required|min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe" />

                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label for="email">
                        Email address
                        <span class="bold text-red">*</span>
                    </label>
                    <input type="email"
                           class="form-control"
                           id="email"
                           placeholder="Email"
                           ng-model="registerCandidateRequest.userName"
                           ng-init="registerCandidateRequest.userName=''"
                           name="email"
                           validation="required|xseed_email|min_len:6" />
                </fieldset>
                <fieldset class="form-group">
                    <label>Mobile<span class="bold text-red">*</span></label>
                    <!--(E.g: 111-111-1111)-->
                    <input type="text"
                           class="form-control"
                           placeholder="enter mobile"
                           ng-model="registerCandidateRequest.Mobile"
                           name="mobile"
                           ui-mask="999-999-9999"
                           ui-mask-placeholder
                           ui-mask-placeholder-char="_"
                           ng-blur="removeMask()"
                           ng-focus="placeMask()"
                           validation="required:alt=Mobile is required.|xseed_mobile" />
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">
                        Password
                        <span class="bold text-red">*</span>
                    </label>
                    <input type="password"
                           class="form-control"
                           id="password"
                           placeholder="Password"
                           ng-model="registerCandidateRequest.password"
                           ng-init=""
                           name="password"
                           block-clipboard
                           autocomplete="off"
                           validation="required|min_len:8|max_len:16|xseed_password" />
                    <p ng-show="showPassNote" class="help-block">8-16 Characters</p>
                </fieldset>
                <fieldset class="form-group">
                    <label for="confirmPassword">
                        Confirm password
                        <span class="bold text-red">*</span>
                    </label>
                    <input type="password"
                           class="form-control"
                           id="confirmPassword"
                           placeholder="Confirm Password"
                           required
                           ng-model="registerCandidateRequest.confirmPassword"
                           ng-init=""
                           block-clipboard
                           name="confirmPassword"
                           autocomplete="off"
                           validation="required|match:registerCandidateRequest.password,Password:alt=Confirm password does not match." />


                </fieldset>
                <button type="button" class="btn btn-primary btn-block btn-lg" ng-disabled="candidateRegistrationForm.$invalid" ng-click="candidateRegistrationForm.$valid && registerCandidate(candidateRegistrationForm)">
                    Create your account
                </button>
                <p class="well-lg">
                </p>
                <!--<div class="divider">
                    <span>
                        OR
                    </span>
                </div>
                <div class="text-xs-center">
                    <p>
                        Signup with your social account
                    </p>
                    <a class="btn btn-icon-icon btn-facebook btn-lg m-b-1 m-r-1">
                        <i class="fa fa-facebook">
                        </i>
                    </a>
                    <a class="btn btn-icon-icon btn-github btn-lg m-b-1 m-r-1">
                        <i class="fa fa-github">
                        </i>
                    </a>
                    <a class="btn btn-icon-icon btn-google btn-lg m-b-1 m-r-1">
                        <i class="fa fa-google-plus">
                        </i>
                    </a>
                    <a class="btn btn-icon-icon btn-linkedin btn-lg m-b-1 m-r-1">
                        <i class="fa fa-linkedin">
                        </i>
                    </a>
                </div>-->
            </div>
        </form>
    </div>
</div>
<footer class="text-xs-center">
    <p>
        <a href="#login" ng-click="gotoLogin()">
            Log in instead
        </a>
    </p>
</footer>