﻿
<div class="session-content">
    <div class="m-a-1">
        <img src="images/logo-b.png" class="img-responsive center-block" />
    </div>
    <div class="card form-layout">
        <form role="form" name="forgotPasswordForm" novalidate>
            <div class="card-header text-xs-center no-bg m-b-1">
                <h5>
                    Forgot password!
                </h5>
                <p class="text-muted">
                    Enter your username / email address below and we will send you information to help you to reset your password.
                </p>
            </div>
            <div class="card-block">
                <fieldset class="form-group">
                    <label>
                        Enter your username
                    </label>
                    <input type="text" class="form-control" id="userName" placeholder="Email"
                           name="userName"
                           ng-model="forgotPasswordModel.Username"
                           autocomplete="off"
                           validation="required|min_len:6|max_len:50|email">                    
                </fieldset>
                <button class="btn btn-primary btn-block btn-lg" type="button" ng-click="forgotPassword(forgotPasswordForm);">
                    Submit
                </button>
                <p class="well-lg">
                </p>
            </div>
        </form>
    </div>
</div>
<div class="text-xs-center">
    <p>
        <a href="#login" ng-click="gotoLogin()">
            Log in instead
        </a>
    </p>
</div> 