<div ng-init="apiLogList()">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header p-a-xs">
                    <form class="search-form">
                        <i class="material-icons">search</i>
                        <input class="form-control bg-white shadow" type="text" placeholder="Search" ng-focus="main.focusOn()" ng-blur="main.focusOff()" autofocus="true" ng-model="requirementSearchData" maxlength="25">
                    </form>
                </div>
                <div class="card-block p-t-0 p-b-0 p-r-xs p-l-xs">
                    <div class="table-responsive">
                        <table ng-table="tblApiLogList" class="table table-striped  table-bordered table-sm table-hover">
                            <tbody>
                                <tr ng-repeat="apilog in apiLogList | filter:requirementSearchData">
                                    <td data-title="'System Name'" filter="{ 'SystemName': 'text'}" header-class="'bg-primary'" ng-bind="apilog.Machine" class="bold"></td>
                                    <td data-title="'Request Uri'" filter="{ 'RequestUri': 'text'}" header-class="'bg-primary'" ng-bind="apilog.RequestUri" style="max-width:400px;"></td>
                                    <td data-title="'Request Ip'" filter="{ 'RequestIp': 'text'}" header-class="'bg-primary'" ng-bind="apilog.RequestIpAddress" class="text-xs-center"></td>
                                    <td data-title="'Method'" filter="{ 'Method': 'text'}" header-class="'bg-primary'" class="text-xs-center">
                                        <label class="label label-md bg-danger" ng-bind="apilog.RequestMethod" ng-if="apilog.RequestMethod == 'GET'"></label>
                                        <label class="label label-md bg-indigo" ng-bind="apilog.RequestMethod" ng-if="apilog.RequestMethod == 'OPTIONS'"></label>
                                        <label class="label label-md bg-primary" ng-bind="apilog.RequestMethod" ng-if="apilog.RequestMethod == 'POST'"></label>
                                        <label class="label label-md bg-success" ng-bind="apilog.RequestMethod" ng-if="apilog.RequestMethod == 'PUT'"></label>
                                    </td>
                                    <td data-title="'Request Timestamp'" filter="{ 'RequestTimestamp': 'text'}" header-class="'bg-primary'">{{apilog.RequestTimestamp| date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                                    <td data-title="'Response Timestamp'" filter="{ 'ResponseTimestamp': 'text'}" header-class="'bg-primary'">{{apilog.ResponseTimestamp| date:'yyyy-MM-dd HH:mm:ss Z'}}</td>

                                    <td data-title="'Action'" header-class="'bg-primary'" class="text-xs-center">
                                        <a tooltip-placement="top" uib-tooltip="Detail View" ng-click="apilogDetailView(apilog._id);">
                                            <i class="fa fa-eye fa-lg"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>