<div class="block-ui-overlay" style="background-color: rgba(0, 0, 0, 1);"></div>
<div class="block-ui-message-container" aria-live="assertive" aria-atomic="true">
    <div class="block-ui-message no-bg" ng-class="$_blockUiMessageClass">
        <!--<div class="processingIcon"></div><p class="text-center">{{ state.message }}</p>
        <div>
            <div class="sk-three-bounce center-block">
                <div class="sk-child sk-bounce1">
                </div>
                <div class="sk-child sk-bounce2">
                </div>
                <div class="sk-child sk-bounce3">
                </div>
            </div>
        </div>-->
        <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw text-white"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>
