<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
  <div class="modal-backdrop fade in"></div>
  <div class="modal-dialog">
      <div class="modal-content  animated slideInDown">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">{{ 'TIMEOUT_MODAL_TITLE' | translate  }}</h4>
          </div>
          <div class="modal-body min-height-90">
              <p>
                  {{ 'TIMEOUT_MODAL_MSG' | translate  }}
              </p>
          </div>
          <div class="modal-footer">
              <button type="button" class="button-default" ng-click="$hide()">
                  {{ 'OK_BUTTON' | translate  }}
              </button>
          </div>
          <div class="clearfix"></div>
      </div>
  </div>
</div>
</div>
