﻿<div class="row">
    <div class="card">
        <div class="card-header p-a-xs clearfix">
            <div class="col-sm-6">
                <span ng-bind="ResumeBlasterModel.Company" class="bold h4"></span>
                <span>
                    <a class="bg-default-round bg-grey v-align-middle" role="button" ng-click="ResumeBlasterEditView()" uib-tooltip="Edit">
                        <i class="material-icons ng-binding" aria-hidden="true">
                            edit
                        </i>
                    </a>
                </span>
            </div>
            <div class="col-sm-2 pull-right text-xs-right">
                <a class="btn btn-danger btn-sm small" role="button" href="#/resumeBlasterList">
                    <i class="fa fa-list m-r-xs" aria-hidden="true"></i>List
                </a>
            </div>
        </div>
        <div class="card-block clearfix">
            <div>
                <div class="col-sm-12">
                    <ul class="fa-ul">
                        <li class="b-b">
                            <i class="fa-li fa fa-user fa-2x" aria-hidden="true"></i><label class="text-muted">Recruiter Name</label>
                            <p ng-bind="ResumeBlasterModel.RecruiterName"></p>
                        </li>
                        <li class="b-b">
                            <i class="fa-li fa fa-envelope fa-2x" aria-hidden="true"></i><label class="text-muted">Primary Email</label>
                            <p ng-bind="ResumeBlasterModel.PrimaryEmail"></p>
                        </li>
                        <li class="b-b">
                            <i class="fa-li fa fa-map-marker fa-2x" aria-hidden="true"></i><label class="text-muted">Address</label>
                            <p ng-bind="ResumeBlasterModel.Address"></p>
                        </li>
                        <li class="b-b">
                            <i class="fa-li fa fa-phone fa-2x" aria-hidden="true"></i><label class="text-muted">Phone</label>
                            <p ng-bind="ResumeBlasterModel.Phone"></p>
                        </li>
                        <li class="b-b">
                            <i class="fa-li fa fa-mobile fa-2x" aria-hidden="true"></i><label class="text-muted">Website</label>
                            <p ng-bind="ResumeBlasterModel.Website"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




