﻿<div ng-switch="subview">
    <div ng-switch-when="resumeBlasterList">
        <div ng-include=" 'views/resumeBlaster/resumeBlasterList.html' "></div>
    </div>
    <div ng-switch-when="createResumeBlaster">
        <div ng-include=" 'views/resumeBlaster/createResumeBlaster.html' "></div>
    </div>
    <div ng-switch-when="editResumeBlaster">
        <div ng-include=" 'views/resumeBlaster/createResumeBlaster.html' "></div>
    </div>
    <div ng-switch-when="ResumeBlasterDetail">
        <div ng-include=" 'views/resumeBlaster/ResumeBlasterDetail.html' "></div>
    </div>
</div>
