﻿<div class="main-content" ng-init="getResumeBlasterList()">
    <div class="content-view client-profile-list">
        <div class="row">
            <div class="col-md-6">

                <div class="form-group has-search m-b-0">
                    <span style="line-height: 1.3rem;" class="fa fa-search form-control-feedback"></span>
                    <input ng-model="txt_search" class="form-control form-control-sm" type="text" placeholder="Search">
                </div>


            </div>
            <div class="col-md-6">
                <a href ng-click="createResumeBlasterView()" class="btn btn-outline-primary
                        btn-sm btn-icon loading-demo m-b-xs font-12 pull-right"><i
                            class="material-icons"> add_circle_outline</i><span>Add
                            recruiter</span></a>
                <a href ng-click="openResumeBlasterModal('Multiple');" ng-disabled="checkedCount== 0" class="btn btn-outline-primary btn-sm btn-icon loading-demo
                        m-r-xs m-b-xs font-12 pull-right"><i class="material-icons">
                            open_in_browser</i><span>Blast resume</span></a>
            </div>
        </div>


        <div class="card-block-outer">
            <div class="table-responsive pagination-small pagination-fixed-bottom">
                <table ng-table="tblResumeBlasterList" class="table table-responsive dataTable datatable">
                    <caption></caption>
                    <thead>
                        <tr class="card">
                            <th scope="col">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
                                    <span class="custom-control-indicator"></span>
                                </label> 
                            </th>
                            <th scope="col">Name</th>
                            <th scope="col">Company</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Website</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="card panel-heading" ng-repeat="recruiter in resumeBlasterTotalList |filter:txt_search" repeat-end="InializePopoverAndTooltip()">
                            <td data-title="Check">
                                <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" ng-model="checkboxes.items[recruiter.Id]" name="filter-checkbox" value="" />
                                                <span class="custom-control-indicator"></span>
                                    </label>
                            </td>
                            <td data-title="Name">
                                <label class="labelauty-label">
                                        <p ng-click="ResumeBlasterDetailView(recruiter);" class="card-title text-primary display-flex font-12
                                            text-primary">
                                            {{recruiter.RecruiterName}}
                                        </p>
                                    </label>
                            </td>
                            <td data-title="Company">
                                <label class="labelauty-label">
                                        <p class="card-title display-flex font-12">
                                            {{recruiter.Company}}
                                        </p>
                                    </label>
                            </td>
                            <td data-title="Phone">
                                <label class="labelauty-label">
                                    <p ng-class="recruiter.Phone ? '' : (recruiter.Phone ? 'text-muted' : '')" class="card-title display-flex font-12">{{recruiter.Phone ? recruiter.Phone : 'NA' | ContactFilter}}</p>
                                </label>
                            </td>
                            <td data-title="Email">
                                <label class="labelauty-label">
                                        <p class="card-title display-flex font-12">
                                           {{recruiter.PrimaryEmail}}
                                        </p>
                                    </label>
                            </td>


                            <td data-title="Website">
                                <label class="labelauty-label">
                                        <p class="card-title display-flex font-12" style="width:250px; text-overflow: ellipsis; overflow: hidden;">
                                            <a target="_blank" class="text-primary"
                                                href="{{recruiter.Website}}">{{recruiter.Website}}</a>
                                        </p>
                                    </label>
                            </td>

                            <td data-title="Action">
                                       
                                            <button  ng-click="ResumeBlasterDetailView(recruiter);"
                                                type="button" class="btn
                                                btn-outline-primary btn-sm
                                                loading-demo m-r-xs m-b-xs font-12
                                                mb-0" data-toggle="tooltip"
                                                title=""
                                                data-original-title="View
                                                detail"> <i class="fa fa-eye"></i></button>
                                                    
                                            <button  type="button"  ng-click="ResumeBlasterDirectEditView(recruiter.Id);" class="btn
                                                btn-outline-primary btn-sm
                                                loading-demo m-b-xs font-12 mb-0"
                                                data-toggle="tooltip" title=""
                                                data-original-title="Edit">
                                                <i class="fa fa-pencil"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-if="resumeBlasterTotalList.length == 0" class="no-contacts layout-column scroll-y">
                    <h3 class="text-shadow text-muted">
                        No email received.
                    </h3>
                </div>
            </div>
        </div>
    </div>

</div>