﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <form autocomplete="off" class="form-horizontal" name="resumeBlasterPopupForm" novalidate>
                <div class="modal-header">

                    <a class="pull-right" href="javascript:;" ng-click="submitPopupCancel()" data-dismiss="modal"><i
                            class="material-icons">close</i>
                    </a>
                    <div class="social-header-title">
                        <h5> Blast Resume </h5>
                    </div>
                </div>
                <div class="modal-body clearfix">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card disp-block">
                                <div class="card-block">

                                    <label class="col-sm-4">Upload Resume <span
                                            class="bold text-red">*</span></label>
                                    <div class="col-sm-8">

                                        <div class="form-group pos-relative">
                                            <div class="input-container">
                                                <input type="file" nv-file-select="" uploader="upload.uploader" ng-model="ResumeBlasterAPIModel.Resume" ng-file-model="ResumeBlasterAPIModel.Resume" name="resume" ng-click="enableButtonResume(ResumeBlasterAPIModel.Resume)" check-resume-file validation="required:alt=Resume
                                                    file is required." id="real-input" class="browse" accept=".pdf,.doc,.docx,.txt" />
                                                <button type="button" class="browse-btn browse-btn
                                                    chk-label">
                                                    Browse File
                                                </button>
                                                <span class="text-muted file-info">
                                                    Upload a resume
                                                </span>
                                            </div>
                                            <span> Please select files from pdf,doc,docx
                                                    or txt.</span>
                                            <strong>
                                                            {{ common.uploadResumeFileName }}
                                                        </strong>
                                        </div>

                                    </div>
                                    <div class="col-sm-8 col-sm-offset-4">

                                        <br />
                                        <span ng-if="common.invalidResumeFile" class="validation text-danger">Please
                                            select valid format.</span>
                                        <span ng-if="common.maxResumeFileSize" class="validation text-danger">Max
                                            upload size for file is 5 mb.</span>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    <button class="btn btn-primary small btn-sm" type="submit" ng-click="resumeBlasterProcess(resumeBlasterPopupForm)">
                        Blast
                    </button>
                    <button type="button" class="btn btn-danger small btn-sm" ng-click="submitPopupCancel()">
                        Cancel
                    </button>


                </div>


            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<script>
    const uploadButton = document.querySelector('.browse-btn');
    const fileInfo = document.querySelector('.file-info');
    const realInput = document.getElementById('real-input');

    uploadButton.addEventListener('click', (e) => {
        realInput.click();
    });

    realInput.addEventListener('change', () => {
        const name = realInput.value.split(/\\|\//).pop();
        const truncated = name.length > 20 ?
            name.substr(name.length - 20) :
            name;

        fileInfo.innerHTML = truncated;
    });
</script>