/* Generic styles start */

body, html {
    min-height: 100%;
    height: 100%;
    word-wrap: break-word;
}

body {
    color: rgba(0, 0, 0, 0.8);
}
/*.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
/*}*/
/*.page-footer, .push {*/
/*height: 40px;*/ /* .push must be the same height as .footer */
/*}*/

/*.navbar.navbar-default {
    margin-bottom: 0px;
    border-top: 0px;
    border-radius: 0;
}

.navbar-bg {
    min-height: 65px;
    background: linear-gradient(to bottom, rgb(203, 203, 203) 0%, rgb(241, 241, 241) 100%) !important;
    margin-bottom: 0px;
}*/

/*.page-container {
    width: 100%;
}

.bg-white-gray {
    background-color: #f7f7f7;
}*/


/*.form-control {
    border-radius: 0px;
    border: solid 1px #abadb3;
    height: 30px;
    font-size: 14px;
    color: #000;
    padding: 5px 10px;
}*/

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0px;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-left-5 {
    padding-left: 5px;
}

.max-width-200 {
    max-width: 200px !important;
}

.space-10 {
    padding: 10px 0px;
}

.min-height-50 {
    min-height: 50px;
}

.min-height-65 {
    min-height: 65px;
}

.min-height-80 {
    min-height: 80px;
}

.min-height-100 {
    min-height: 100px;
}

.min-height-150 {
    min-height: 150px;
}

.min-height-200 {
    min-height: 200px;
}

.width-100 {
    width: 100% !important;
}

.padding-left-100 {
    padding-left: 100px;
}

.width-120 {
    width: 120px;
}

.width-140 {
    width: 140px;
}

.width-150 {
    width: 150px;
}

.width-160 {
    width: 160px;
}

.select2-container {
    width: 100%;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.padding-md {
    padding: 4px 8px;
}

/*.select2-container .select2-choice {
        line-height: 27px;
        height: 30px;
        padding: 0 .65rem;
    }*/

label {
    margin-bottom: .3rem;
    font-weight: 600;
}
/*.form-control {
    padding: .345rem .65rem;
    font-size: 0.875rem;
    line-height: 1.2;
}*/
.text-underline {
    text-decoration: underline;
}

.profile-img {
    width: 120px;
}

.logo-img {
    width: 150px;
}

.cmpny-logo {
    max-width: 100px;
    max-height: 60px;
}

.cmpny-list-logo {
    width: 80px;
    height: 40px;
}

.modal-60 {
    width: 60% !important;
}

.sectionHighlight {
    padding: 2px 8px;
    background-color: #e7e7e7;
    color: #222;
    line-height: 1.6rem;
    margin: auto;
}

.text-muted {
    color: #666 !important;
}

::-webkit-input-placeholder {
    font-style: italic;
    font-size: 0.875rem;
    text-transform: lowercase;
}

::-moz-placeholder {
    font-style: italic;
    font-size: 0.875rem;
    text-transform: lowercase;
}
/* firefox 19+ */
:-ms-input-placeholder {
    font-style: italic;
    font-size: 0.875rem;
    text-transform: lowercase;
}
/* ie */
input:-moz-placeholder {
    font-style: italic;
    font-size: 0.875rem;
    text-transform: lowercase;
}

.label-md {
    padding: .40em;
    font-size: 80%;
}

.label-lg {
    padding: .90em;
    font-size: 80%;
}

.avatar-2wh {
    width: 2rem;
    height: 2rem;
}

.avatar-3wh {
    width: 3rem;
    height: 3rem;
}

.avatar-4wh {
    width: 4rem;
    height: 4rem;
}

.avatar-5wh {
    width: 5rem;
    height: 5rem;
}

.avatar-6wh {
    width: 6rem;
    height: 6rem;
}

.avatar-7wh {
    width: 7rem;
    height: 7rem;
}

.border-radius-4 {
    border-radius: 6px;
}

.break-word {
    word-wrap: break-word;
}

.zindex-auto {
    z-index: auto;
}

.main-panel > .main-content > .content-view {
    padding: 1.2rem;
    /*-webkit-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;*/
}


.table tbody tr:hover a {
    color: #666;
}

.table td {
    vertical-align: middle;
    padding-left: 0.70rem;
    padding-right: 0.70rem;
}

.ng-table th {
    text-align: left;
    font-weight: 600;
}


/* pace status bar */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #1ab5e2;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.errorMsg {
    color: red;
}

.ngErrorMsg {
    color: red;
}

.search-form .material-icons {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -12px;
}

.search-form .form-control {
    padding: .535rem .75rem;
    cursor: text;
    text-indent: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
}

    .search-form .form-control:focus {
        border-bottom: 2px solid #4c7ff0;
    }

@media (max-width: 991px) {
    .message-view, .contact-view {
        z-index: 1000;
    }
}
/*ul.pagination {
    border-radius: 2px;
    list-style: none;
}

    ul.pagination li {
        display: inline-block;
        padding: 0px 10px;
        background-color: #e8e8e8;
        margin: 0px 5px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 7px 0px;
        text-align: center;
    }

        ul.pagination li:first-child, ul.pagination li:last-child {
            background-color: transparent;
            font-size: 25px;
        }

        ul.pagination li.active {
            background-color: #4c7ff0;
        }*/
/*.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination > li {
        display: inline;
    }

        .pagination > li > a, .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .pagination > li:first-child > a, .pagination > li:first-child > span {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

    .pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
    }

    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }

    .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
        color: #23527c;
        background-color: #eee;
        border-color: #ddd;
    }*/

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: auto;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 2px;
    background-color: #fff;
    box-shadow: 0px 1px 2px #ddd;
}

    .pagination > li {
        display: inline;
    }

        .pagination > li > a, .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #333;
            text-decoration: none;
            margin: auto 2px;
            font-size: 14px;
        }

        .pagination > li:first-child > a, .pagination > li:first-child > span {
            border-right: 1px solid #eee;
        }

        .pagination > li:last-child > a, .pagination > li:last-child > span {
            border-left: 1px solid #eee;
        }

        .pagination > li:first-child > a, .pagination > li:first-child > span,
        .pagination > li:last-child > a, .pagination > li:last-child > span {
            margin-left: 0;
            /*border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;*/
            /*border-radius:4px;*/
        }

    .pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
    }

    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #4c7ff0;
        border-color: #337ab7;
        border-radius: 4px;
        z-index: auto;
    }

    .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
        color: #23527c;
        background-color: #eee;
        border-color: #ddd;
    }


/*.sidebar-panel .nav-profile .uib-dropdown-menu, .sidebar-panel .nav-profile .dropdown-menu {
    left: 40%;
    width: 60%;
}*/

/*.sidebar-panel {
    width: 15rem;
}*/

/*.sidebar-panel .nav-profile a.dropdown-toggle::after {
        right: 4rem;
    }*/

.brand .brand-logo img {
    max-height: 100%;
}

.data-placeholder {
    font-size: 0.875rem;
    font-style: italic;
    text-transform: lowercase;
}
/* AngularJS Form validation styling */
.validation.help-block {
    color: #E07676;
    font-style: italic;
}

/* invalid & (dirty or touched) => red -- CSS3 only */
.ng-invalid.ng-dirty:not(:focus),
.ng-invalid.ng-touched:not(:focus) {
    border-color: #e74c3c;
}

/* valid & dirty => green */
.ng-valid.ng-dirty.ng-touched {
    border-color: #2ecc71;
}

/* error display font italic, text-danger is red in BS */
.validation.text-danger {
    font-style: italic;
}

/* AngularJS Form validation styling */


.modal-backdrop {
    z-index: 0;
}

.datepicker.dropdown-menu {
    z-index: 1151;
    /*background-color:#FFF;*/
}

.selector-dropdown {
    z-index: 1151;
}

/*scroll bar style*/
/*Default for all*/
.slimScroll::-webkit-scrollbar {
    width: 8px;
}

.slimScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #F7F9F9;
    border-radius: 10px;
    background-color: #fff;
}

.slimScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,.2);
}

.slimScroll::-webkit-scrollbar {
    height: 8px;
}

.slimScroll::-webkit-scrollbar-button:horizontal:decrement:hover {
    color: red;
}

/*Margin auto*/
.m-auto {
    margin: auto;
}

/*text darker grey */
.text-grey-darker {
    color: #151515 !important;
}

/*icons fix width*/
.size-a-28 {
    height: 28px;
    width: 28px;
}

/*All a tag in table hover*/
.table tbody td:hover a {
    color: #fff !important;
}

/*sidebar fixed bar*/
/*side bar panel fixed*/
.offcanvas .sidebar-panel-fixed {
    position: absolute;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.sidebar-panel-fixed {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: -moz-flex;
    display: -ms-flexbox;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    background-color: none;
    width: 68px;
    left: 0px;
    text-align: center;
}

    .sidebar-panel-fixed li {
        padding-top: 20px;
    }

    .sidebar-panel-fixed a:link {
        text-decoration: none;
    }

    .sidebar-panel-fixed .nav > li > a:hover, .sidebar-panel-fixed .nav > li > a:focus {
        background: none;
    }

/*z-index top*/
.z-index-top {
    z-index: 999;
}

/*Circle*/
.circle {
    line-height: 2rem;
    position: relative;
    display: table;
    width: 2rem;
    height: 2rem;
    margin: 0;
    text-align: center;
    float: left;
    border-radius: 50%;
}

.create {
    color: #4cc3f0 !important;
    border: 1px solid #4cc3f0;
    border-radius: 4px;
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
}

/*Full height col*/
.height-100 {
    position: absolute;
    top: 0;
    bottom: 0;
}

.bg-img-full {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0;
}

/*Login/signup/forgot password textbox*/
.form-control-custom, .btn-login {
    border-radius: 4px;
    border-width: 2px;
}

/*Tab custome design*/
.nav-tabs .nav-item .nav-link.active {
    background: none;
    border: none;
    color: black;
    border-bottom: 2px solid #4c7ff0;
}

.nav-tabs .nav-item .nav-link:hover, .nav-tabs .nav-item .nav-link:hover, .nav-tabs .nav-item .nav-link:focus {
    background: none;
    border: none;
    color: black;
    border-bottom: 2px solid #4c7ff0;
}

/*Copyright footer*/
.compyright-footer {
    position: absolute;
    bottom: 0;
    background: transparent;
    color: #a4a4a4;
}
.h-w-100{
    height:100%;
    width:100%;
}
