﻿<div ng-switch="subview">
    <div ng-switch-when="createCandidate">
        <div ng-include=" 'views/candidate/createCandidate.html' "></div>
    </div>
    <div ng-switch-when="editCandidate">
        <div ng-include=" 'views/candidate/createCandidate.html' "></div>
    </div>
    <div ng-switch-when="candidateDetail">
        <div ng-include=" 'views/candidate/candidateDetail.html' "></div>
    </div>
</div>