﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-md">
        <div class="modal-content animated slideInDown">
            <div class="modal-header bg-primary-lighter">
                <button type="button" class="close" data-dismiss="modal" ng-click="closeEditSubmissionStatusModal()" aria-label="Close">
                    <i class="fa fa-close"></i>
                </button>
                <h6 class="modal-title">
                    Submission Status
                </h6>
            </div>
            <div class="modal-body p-l-1 p-r-1 p-t-0 p-b-0">
                <div class="card m-b-xs m-t-xs">
                    <div class="card-block">
                        <fieldset class="form-group m-a-0 text-xs-center">
                            <div class="form-check col-sm-2">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="Internal" value="Internal" ng-click="toggleFeedback = 'Internal'" checked>
                                    Internal
                                </label>
                            </div>
                            <div class="form-check col-sm-3">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="Candidate" value="Candidate" ng-click="toggleFeedback = 'Candidate'">
                                    Candidate
                                </label>
                            </div>
                            <div class="form-check col-sm-2">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="Client" value="Client" ng-click="toggleFeedback = 'Client'">
                                    Client
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="">
                    <form autocomplete="off" class="form-horizontal" name="internalFeedbackForm" novalidate>
                        <div class="" ng-if="toggleFeedback == 'Internal'">
                            <div class="card">
                                <div class="card-block clearfix">
                                    <div class="form-group m-b-0">
                                        <h6 class="font-weight-medium m-b-1">Internal Feedback</h6>
                                    </div>
                                    <div class="form-group m-b-1">
                                        <fieldset class="form-group">
                                            <div class="col-sm-2">
                                                <label class="text-muted">Status<span class="bold text-red">*</span></label>
                                            </div>
                                            <div class="col-sm-10">
                                                <select name="submissionFeedback.submissionFeedbackStatusId" ui-select2="{allowClear: true}"
                                                        ng-model="submissionFeedback.submissionFeedbackStatusId"
                                                        ng-change="showInterviewType(submissionFeedback);"
                                                        validation="required:alt=Status is required."
                                                        data-placeholder="Select Status">
                                                    <option value=""></option>
                                                    <option ng-repeat="status in submissionFeedbackStatusList"
                                                            value="{{status.Id}}"
                                                            ng-bind="status.Name"></option>
                                                </select>
                                            </div>
                                            <div ng-if="submissionFeedback.internalStatusIsIneterview">
                                                <div class="col-sm-2">
                                                    <label class="text-muted">Interview Type:</label>
                                                </div>
                                                <div class="col-sm-10">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="submissionFeedback.interviewType"
                                                           ng-model="submissionFeedback.interviewType"
                                                           validation="min_len:2|max_len:100" />
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group">
                                            <div class="col-sm-2">
                                                <label class="text-muted">Remark</label>
                                            </div>
                                            <div class="col-sm-10">
                                                <textarea name="submissionFeedback.submissionFeedbackRemark"
                                                          ng-model="submissionFeedback.submissionFeedbackRemark"
                                                          class="form-control"
                                                          validation="min_len:2|max_len:500"></textarea>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="form-group m-b-1">
                                        <div class="col-sm-2 col-sm-offset-2">
                                            <button class="btn btn-sm small btn-primary" ng-click="saveFeedback(internalFeedbackForm,constants.submissionInternalFeedback);">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form autocomplete="off" class="form-horizontal" name="candidateFeedbackForm" novalidate>
                        <div class="" ng-if="toggleFeedback == 'Candidate'">
                            <div class="card">
                                <div class="card-block">
                                    <div class="form-group m-b-0">
                                        <h6 class="font-weight-medium m-b-1">Candidate Feedback</h6>
                                    </div>
                                    <fieldset class="form-group m-b-1">
                                        <div class="col-sm-2">
                                            <label class="text-muted">Status<span class="bold text-red">*</span></label>
                                        </div>
                                        <div class="col-sm-10">
                                            <select name="submissionFeedback.candidateFeedbackStatusId" ui-select2="{allowClear: true}"
                                                    ng-model="submissionFeedback.candidateFeedbackStatusId"
                                                    validation="required:alt=Status is required."
                                                    data-placeholder="Select Status">
                                                <option value=""></option>
                                                <option ng-repeat="status in submissionCandidateFeedbackStatusList"
                                                        value="{{status.Id}}"
                                                        ng-bind="status.Name">
                                                    {{user.Name}}
                                                </option>
                                            </select>
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group m-b-1">
                                        <div class="col-sm-2">
                                            <label class="text-muted">Remark</label>
                                        </div>
                                        <div class="col-sm-10">
                                            <textarea name="submissionFeedback.candidateFeedbackRemark"
                                                      ng-model="submissionFeedback.candidateFeedbackRemark"
                                                      class="form-control"
                                                      validation="min_len:2|max_len:500"></textarea>
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group m-b-1">
                                        <div class="col-sm-2 col-sm-offset-2">
                                            <button class="btn btn-primary btn-sm small" ng-click="saveFeedback(candidateFeedbackForm,constants.submissionCandidateFeedback);">Save</button>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form autocomplete="off" class="form-horizontal" name="clientFeedbackForm" novalidate>
                        <div class="" ng-if="toggleFeedback == 'Client'">
                            <div class="card">
                                <div class="card-block">
                                    <div class="form-group m-b-0">
                                        <h6 class="font-weight-medium m-b-1">Client Feedback</h6>
                                    </div>
                                    <fieldset class="form-group m-b-1">
                                        <div class="col-sm-2">
                                            <label class="text-muted">Status<span class="bold text-red">*</span></label>
                                        </div>
                                        <div class="col-sm-10">
                                            <select name="submissionFeedback.clientFeedbackStatusId" ui-select2="{allowClear: true}"
                                                    ng-model="submissionFeedback.clientFeedbackStatusId"
                                                    validation="required:alt=Status is required."
                                                    data-placeholder="Select Status">
                                                <option value=""></option>
                                                <option ng-repeat="status in submissionClientFeedbackStatusList"
                                                        value="{{status.Id}}"
                                                        ng-bind="status.Name">
                                                    {{user.Name}}
                                                </option>
                                            </select>
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group m-b-1">
                                        <div class="col-sm-2">
                                            <label class="text-muted">Remark</label>
                                        </div>
                                        <div class="col-sm-10">
                                            <textarea name="submissionFeedback.clientFeedbackRemark"
                                                      ng-model="submissionFeedback.clientFeedbackRemark"
                                                      class="form-control"
                                                      validation="min_len:2|max_len:500"></textarea>
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group m-b-1">
                                        <div class="col-sm-2 col-sm-offset-2">
                                            <button class="btn btn-primary btn-sm small" ng-click="saveFeedback(clientFeedbackForm,constants.submissionClientFeedback);">Save</button>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>