﻿<div ng-init="checkUserAccess();getSubmissions()">
    <div class="row">
        <div class="card m-b-0">
            <div class="card-header p-t-xs p-r-xs p-l-xs p-b-2x">
                <div class="row p-b-2x">
                    <div class="col-xs-7 col-sm-8 col-md-9 col-lg-6 col-lg-push-2">
                        <div class="input-group">
                            <input name="searchSubmission" class="form-control form-control-sm border-dark" type="text" placeholder="Search by: Candidate, Company, Internal Requirement Id, Requirement Title/ Type, Recruiter" maxlength="25" ng-model="common.advanceSearchModel.SearchIn" ng-enter="searchSubmissions()" style="padding:2px;" title="Search by: Candidate, Company,Internal Requirement Id, Requirement Title/ Type, Recruiter" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary small btn-sm pull-right" ng-disabled="!common.advanceSearchModel.SearchIn" ng-click="searchSubmissions()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2 col-lg-push-2">
                        <span class="dropdown">
                            <button type="button" class="btn btn-primary btn-sm small dropdown-toggle" data-toggle="dropdown" ng-disabled="common.jobList.length == 0">
                                <i class="fa fa-filter m-r-xs"></i><span class="hidden-xs-down">Filter</span>
                            </button>
                            <ul class="dropdown-menu filter-menu p-a-0" role="menu">
                                <li ng-repeat="lookup in submissionFilterLookup" class="dropdown-item" ng-click="$event.stopPropagation()">
                                    <span ng-repeat="(key1, value1) in lookup">
                                        <a>{{key1}}</a>
                                        <ul class="level-2 slimScroll list-group scroll p-a-0">
                                            <li ng-repeat="(key2, value2) in value1">
                                                <span>
                                                    <label>
                                                        <input type="checkbox" id="{{$index}}" ng-model="value2.selected"
                                                               ng-change="addFilterItemButton(key1, value2.Id, value2.Name, value2.selected)" />
                                                        {{value2.Name}}
                                                    </label>
                                                </span>
                                            </li>
                                        </ul>
                                    </span>
                                </li>
                                <li class="list-group-item p-l-xs p-r-xs p-t-xs" style="height:45px">
                                    <button type="button" class="btn small btn-default btn-md width-100" ng-click="getSelectedFilterItem()" ng-disabled="filterItemCount == 0" ng-class="{'btn-primary':filterItemCount != 0}">
                                        Apply
                                    </button>
                                </li>
                            </ul>
                        </span>
                        <button class="btn btn-primary btn-sm small loading-demo" tooltip-placement="top" uib-tooltip="Clear" ng-click="resetSubmissionSearch();" ng-disabled="!flag.advanceSearchFlag">
                            <i class="fa fa-times" aria-hidden="true"></i><span class="hidden-xs-down m-l-xs">Clear</span>
                        </button>
                    </div>
                    <div class="col-xs-8 col-sm-6 col-md-6 col-lg-2 col-lg-pull-8">
                        <span ng-if="userDetails.Submission_Create == 'True'">
                            <button type="button" class="btn btn-primary small btn-sm" ng-click="submissionToClient()" ng-disabled="checkedCount== 0">
                                <i class="fa fa-share-square-o hidden-sm-up" aria-hidden="true"></i><span class="hidden-xs-down">Submit to company</span>
                            </button>
                        </span>
                        <button class="btn btn-primary btn-sm small loading-demo" tooltip-placement="top" uib-tooltip="Feedback" ng-click="openEditSubmissionStatusModal();" ng-disabled="!submissions.length">
                            <i class="fa fa-share" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col-xs-4 col-sm-6 col-md-6 col-lg-2">
                        <span class="pull-right">
                            <button class="btn btn-primary-outline btn-sm small" tooltip-placement="top" uib-tooltip="Export to Excel" ng-click="exportToExcel(constants.sectionSubmissions);" ng-disabled="!submissions.length">
                                <i class="fa fa-download"></i>
                            </button>
                            <button class="btn btn-primary-outline btn-sm small" tooltip-placement="top" uib-tooltip="Print" ng-click="printDiv('submissionDiv',constants.sectionSubmissions)" ng-disabled="!submissions.length">
                                <i class="fa fa-print"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" ng-if="filterItemCount != 0">
                        <div id="filterItem" class="bg-default p-a-xs clearfix">
                            <div class="col-sm-10">
                                <span class="font-weight-medium text-grey-dark m-r-xs pull-left">Filters</span>
                                <span ng-repeat="filterLable in filterItemLable track by $index" class="btn btn-danger-outline btn-sm small btn-round" ng-click="removeFilterItemButton(filterLable.Id)" ng-if="filterLable">{{filterLable.Name}}<i class="fa fa-times-circle"></i></span>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-danger-outline btn-sm small pull-right m-b-2xs" ng-click="resetSubmissionSearch();">
                                    <i class="fa fa-times-circle m-r-2xs" aria-hidden="true"></i>Clear All
                                </button>
                                <button type="button" class="btn btn-primary-outline btn-sm small pull-right m-r-xs m-b-2xs" ng-click="getSelectedFilterItem()">
                                    Apply
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="isSafariBrowser">
                    <div class="col-sm-12 pull-md-right pull-lg-right">
                        <span class="validation text-danger pull-right">{{'menu.BROWSERISSUEMESSAGE'|translate}}</span>
                    </div>
                </div>
            </div>
            <div class="card-block clearfix p-l-xs p-r-xs p-t-0 p-b-0">
                <div id="submissionDiv" class="table-responsive scroll slimScroll fixed_headers fixed_headers-col-1-xs td-col-md">
                    <table ng-table="submissionList" class="table table-striped table-hover table-bordered table-sm table-hover text-nowrap small m-a-0">
                        <tbody class="scroll slimScroll">
                            <tr ng-repeat="submission in submissions" ng-class="{'bg-primary-lighter':submission.Id == common.selectedRowSubmission}" sglclick="setClickedRowSubmission(submission);" ng-dblclick="setClickedRowSubmission(submission);">
                                <td header-class="'bg-primary'" class="text-xs-center" header="'ng-table/headers/checkbox.html'">
                                    <input type="checkbox" ng-model="checkboxes.items[submission.Id]" />
                                </td>
                                <td header-class="'bg-primary'" data-title="'Candidate Name'" data-sortable="'CandidateName'" ng-attr-title="{{submission.CandidateList[0].Name}}">
                                    <a ng-if="submission.CandidateList[0].Name" ng-click="openCandidateFromOtherSection(submission.CandidateList[0].Id);" ng-bind="submission.CandidateList[0].Name" style="color:blue;"></a>
                                </td>
                                <td header-class="'bg-primary'" data-title="'Client Name'" data-sortable="'JobDetail.CompanyDetail.Name'" ng-bind="submission.CompanyName" ng-attr-title="{{submission.CompanyName}}"></td>
                                <td header-class="'bg-primary'" data-title="'Client Email'" ng-bind="submission.ContactEmailList" ng-attr-title="{{submission.ContactEmailList}}"></td>
                                <td header-class="'bg-primary'" data-title="'Requirement Title'" data-sortable="'JobDetail.JobTitle'" ng-attr-title="{{submission.JobTitle}}">
                                    <a ng-if="submission.JobTitle" ng-click="openRequirementFromOtherSection(submission.JobId);" ng-bind="submission.JobTitle" style="color:blue;"></a>
                                </td>
                                <td header-class="'bg-primary'" data-title="'Internal Requirement Id'" data-sortable="'JobDetail.RequisitionId'" ng-bind="submission.JobCode"></td>
                                <td header-class="'bg-primary'" data-title="'Requirement Type'" data-sortable="'JobDetail.JobTypeMaster.Type'" ng-bind="submission.JobType"></td>
                                <td header-class="'bg-primary'" data-title="'Status'" data-sortable="'Status'" ng-bind="submission.Status"></td>
                                <td header-class="'bg-primary'" data-title="'Recruiter'" data-sortable="'OrganizationUserDetail.FirstName'" ng-bind="submission.OrganizationUserName" ng-attr-title="{{submission.OrganizationUserName}}"></td>
                                <td header-class="'bg-primary'" data-title="'Submitted By'" data-sortable="'CreatedBy'" ng-bind="submission.CreatedBy" ng-attr-title="{{submission.CreatedBy}}"></td>
                                <td header-class="'bg-primary'" data-title="'Submitted Date'" data-sortable="'AssignedDate'" ng-bind="submission.AssignedDate| date: MM/dd/yyyy"></td>
                                <td header-class="'bg-primary'" data-title="'Modified by'" data-sortable="'ModifiedOn'" ng-bind="submission.ModifiedBy" ng-attr-title="{{submission.ModifiedBy + ' On ' +(submission.ModifiedOn| date: MM/dd/yyyy)}}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-sm-12 p-a-3" ng-if="submissions.length == 0">
                        <p class="text-shadow lead text-xs-center">
                            <img src="images/search.png" /><br />
                            No submissions found!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card scroll overflow-auto tab-content-scroll m-b-0">
            <div class="card-block">
                <uib-tabset class="m-b-0">
                    <uib-tab index="0" active="active">
                        <uib-tab-heading>
                            <span>Submission Status</span>
                        </uib-tab-heading>
                        <div class="activity-feed clearfix p-a-0" ng-hide="submissions.length == 0">
                            <div class="feed-item p-a-xs col-sm-12" ng-repeat="feedback in SubmissionStatusList.concat(ClientFeedbackList).concat(CandidateFeedbackList) | orderBy:'-Date'">
                                <div class="text-muted">
                                    <div>
                                        <small data-title="'Date'" ng-bind="feedback.Date| date:'MM/dd/yyyy'" class="col-sm-1"></small>
                                        <span data-title="'Type'" ng-bind="feedback.FeedbackType" class="col-sm-2"></span>
                                        <span data-title="'Status'" ng-bind="feedback.Status" class="col-sm-2"></span>
                                        <span data-title="'Remarks'" ng-bind="feedback.Remark" class="col-sm-3"></span>
                                        <span data-title="'Interview Type'" ng-bind="feedback.InterviewType" class="col-sm-2"></span>
                                        <div class="col-sm-2" uib-tooltip="Created by">
                                            <i class="fa fa-user m-r-xs"></i>
                                            <span data-title="'Created By'" ng-bind="feedback.CreatedBy"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1">
                        <uib-tab-heading>
                            <span>QNotes</span>
                        </uib-tab-heading>
                        <div class="row m-b-xs" ng-hide="submissions.length == 0">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-sm" title="Save" ng-click="submitQNoteSubmission()" ng-disabled="!qNoteModelSubmission.qNote || qNoteModelSubmission.qNote.length> 200">
                                            <i class="fa fa-floppy-o"></i>
                                        </button>
                                    </span>
                                    <input type="text" class="form-control form-control-sm" placeholder="Please enter the notes and save" ng-model="qNoteModelSubmission.qNote" name="qNote" validation="max_len:200" />
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-repeat="qNote in qNoteListSubmission" ng-hide="submissions.length == 0">
                            <div class="col-sm-12">
                                <div class="card m-b-xs shadow">
                                    <div class="card-header p-a-xs clearfix">
                                        <div class="user-image pull-left m-r-xs">
                                            <img ng-if="qNote.ProfileImageName" ng-src="{{ configuration.XSEED_ORGUSER_IMAGE_PATH + qNote.ProfileImageName }}" lazy-src class="avatar-2wh img-circle" title="user" />
                                            <img ng-if="!qNote.ProfileImageName" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src class="avatar-2wh img-circle" title="user" />
                                        </div>
                                        <!--<i class="fa fa-user fa-2x pull-left text-grey"></i>-->
                                        <div>{{qNote.CreatedBy}}</div>
                                        <div class="text-grey small">{{qNote.CreatedOn| date:'MM/dd/yyyy h:mma' }}</div>
                                    </div>
                                    <div class="card-block clearfix break-word">
                                        <div class="col-sm-12">
                                            <p class="card-text">{{qNote.Description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
</script>

<script id="uib/template/tabs/tab.html" type="text/ng-template">
    <li class="nav-item">
        <a href class="nav-link" ng-click="select()" uib-tab-heading-transclude ng-class="{active: active
, disabled: disabled}">{{heading}}</a>
    </li>
</script>
