﻿<div class="row" ng-init="checkUserAccess()">
    <div class="card">
        <div class="card-header p-a-xs clearfix" ng-if="common.companyModel.Id">
            <span>
                <img class="avatar avatar-4wh img-thumbnail" ng-src="{{ common.companyModel.logoImagePath}}" alt="Logo" />
            </span>
            <span class="h5 v-align-middle">{{common.companyModel.Name}}</span>
            <a ng-if="userDetails.Company_Update == 'True'" class="bg-default-round bg-grey v-align-middle" ng-click="companyEditView();" uib-tooltip="Edit">
                <i class="material-icons ng-binding" aria-hidden="true">
                    edit
                </i>
            </a>
            <div class="col-sm-1 pull-right">
                <a class="btn btn-danger small btn-sm pull-right" href="#/companyList">
                    <i class="fa fa-list m-r-xs"></i>List
                </a>
            </div>
        </div>
        <div class="card-block p-a-xs">
            <uib-tabset class="m-b-0" active="active">
                <uib-tab heading="Details" index="0">
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="table-responsive scroll slimScroll">
                                <table class="table table-sm table-bordered">
                                    <tbody>
                                        <tr>
                                            <td class="max-width-200">
                                                <span class="text-grey">Industry</span>
                                                <ul class="list-inline m-a-0">
                                                    <li class="list-inline-item" ng-repeat="_industryType in common.companyModel.IndustryTypeList">
                                                        <span class="sectionHighlight">{{_industryType.Name}}</span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="max-width-200">
                                                <span class="text-grey">Client size</span>
                                                <div ng-bind="common.companyModel.Size"></div>
                                            </td>
                                            <td class="max-width-200">
                                                <span class="text-grey">Client Type</span>
                                                <div ng-bind="common.companyModel.CompanyType"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="max-width-200">
                                                <div class="text-grey">Client Source</div>
                                                <div ng-bind="common.companyModel.companySource"></div>
                                            </td>
                                            <td class="max-width-200">
                                                <div class="text-grey">Via</div>
                                                <div ng-bind="common.companyModel.Via"></div>
                                            </td>
                                            <td class="max-width-200">
                                                <div class="text-grey">Via Website</div>
                                                <div>
                                                    <a target="_blank" class="text-primary" href="{{common.companyModel.ViaWebsite|addHttpOrHttps}}">
                                                        {{common.companyModel.ViaWebsite}}
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="max-width-200">
                                                <div>
                                                    <div class="text-grey">Website</div>
                                                    <div>
                                                        <a target="_blank" class="text-primary" href="{{common.companyModel.Website|addHttpOrHttps}}">
                                                            {{common.companyModel.Website}}
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="max-width-200">
                                                <div>
                                                    <div class="text-grey">
                                                        Career Page URL
                                                    </div>
                                                    <div>
                                                        <a target="_blank" href="{{common.companyModel.CareerPageURL|addHttpOrHttps}}">
                                                            {{common.companyModel.CareerPageURL}}
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="max-width-200">
                                                <div class="text-grey">
                                                    Submission Page URL
                                                </div>
                                                <div>
                                                    <a target="_blank" href="{{common.companyModel.SubmissionPageURL|addHttpOrHttps}}">
                                                        {{common.companyModel.SubmissionPageURL}}
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div ng-if="common.companyModel.Description">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <a data-toggle="collapse" data-parent="#accordion" class="text-underline text-primary collapsed" data-target="#description" aria-expanded="false" aria-controls="collapseOne">
                                                    Description
                                                </a>
                                            </div>
                                            <div id="description" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                <p data-title="'Skill'" filter="{ 'sString': 'text'}" ng-bind="common.companyModel.Description"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card m-t-1 shadow">
                                <div class="card-block clearfix">
                                    <span class="m-r-xs pull-left h5"><i class="fa fa-share-alt text-muted m-r-xs"></i>Social</span>
                                    <ul class="list-inline m-b-0">
                                        <li class="list-inline-item" ng-if="common.companyModel.LinkedInURL">
                                            <a href={{common.companyModel.LinkedInURL}} target="_blank">
                                                <i class="fa fa-linkedin-square fa-2x text-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href={{common.companyModel.TwitterURL}} ng-if="common.companyModel.TwitterURL" target="_blank">
                                                <i class="fa fa-twitter-square fa-2x text-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href={{common.companyModel.FacebookURL}} ng-if="common.companyModel.FacebookURL" target="_blank">
                                                <i class="fa fa-facebook-square fa-2x text-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href={{common.companyModel.GooglePlusURL}} ng-if="common.companyModel.GooglePlusURL" target="_blank">
                                                <i class="fa fa-google-plus-square fa-2x text-google-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="table-responsive">
                                <table class="table text-muted b-a bg-default-light table-border table-sm">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class="text-muted">
                                                    Address1
                                                </label>
                                            </td>
                                            <td ng-bind="common.companyModel.Address1"></td>
                                        </tr>
                                        <tr>
                                            <td><label class="text-muted">Address2</label></td>
                                            <td ng-bind="common.companyModel.Address2"></td>
                                        </tr>
                                        <tr>
                                            <td><label class="text-muted">Address3</label></td>
                                            <td ng-bind="common.companyModel.Address3"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="text-muted">Phone</label>
                                            </td>
                                            <td ng-bind="common.companyModel.Phone"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="text-muted">Fax</label>
                                            </td>
                                            <td ng-bind="common.companyModel.Fax"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="text-muted">City</label>
                                            </td>
                                            <td ng-bind="common.companyModel.City"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="text-muted">State</label>
                                            </td>
                                            <td ng-bind="common.companyModel.State"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="text-muted">Country</label>
                                            </td>
                                            <td ng-bind="common.companyModel.Country"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="text-muted">Zip</label>
                                            </td>
                                            <td ng-bind="common.companyModel.Zip" class="clearfix"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Contacts" index="1">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="h6">Client Contact Details</span>
                            <span ng-if="userDetails.Company_Create == 'True'" class="text-xs-right m-b-xs pull-right">
                                <a ng-href="#/createContact" class="btn btn-primary btn-sm small">Create New</a>
                            </span>
                            <div class="table-responsive scroll slimScroll">
                                <table ng-table="tblCompanyContact" class="table m-b-0 table-hover bg-white table-sm table-bordered">
                                    <tbody>
                                        <tr ng-repeat="contact in dataCompanyContact">
                                            <td data-title="'Image'" filter="{ 'Image': 'text'}" header-class="'bg-primary'" class="text-xs-center">
                                                <img ng-if="contact.ProfileImage" ng-src="{{configuration.XSEED_COMPANYCONTACT_IMAGE_PATH}}/{{contact.ProfileImage}}" class="avatar avatar-2wh img-circle" alt="Image">
                                                <img ng-if="!contact.ProfileImage" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" alt="Image" class="avatar avatar-2wh img-circle" />
                                            </td>
                                            <td data-title="'Name'" filter="{ 'Name': 'text'}" data-sortable="'FirstName'" header-class="'bg-primary'">
                                                {{contact.FirstName}} <!--{{contact.MiddleName}}--> {{contact.LastName}}
                                            </td>
                                            <td data-title="'Designation'" filter="{ 'Designation': 'text'}" data-sortable="'Designation'" header-class="'bg-primary'" ng-bind="contact.Designation"></td>
                                            <td data-title="'Primary Email'" filter="{ 'Email': 'text'}" data-sortable="'PrimaryEmail'" header-class="'bg-primary'">
                                                <span title="{{contact.PrimaryEmail}}" tooltip-placement="top">{{contact.PrimaryEmail}}</span>
                                            </td>
                                            <td data-title="'Mobile'" filter="{ 'Mobile': 'text'}" data-sortable="'Mobile'" header-class="'bg-primary'">
                                                <span class="list-inline-item" ng-if="contact.Mobile">
                                                    {{contact.Mobile}}
                                                </span>
                                            </td>
                                            <td header-class="'bg-primary'" data-title="'Action'" class="text-xs-center">
                                                <a ng-if="userDetails.Company_Update == 'True'" tooltip-placement="left" uib-tooltip="Edit" ng-click="editContactView(contact.Id,contact.CompanyId);"><i class="fa fa-edit fa-lg"></i></a>
                                                &nbsp;
                                                <a tooltip-placement="left" uib-tooltip="Detail View" data-toggle="modal" ng-click="openCompanyContactModal($index);"><i class="fa fa-eye fa-lg"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
        <div ng-if="!common.companyModel.Id" class="no-contacts fill-container layout-column scroll-y">
            <h3 class="text-shadow text-muted">
                Please select a company
            </h3>
        </div>
    </div>
</div>
<script id="uib/template/tabs/tab.html" type="text/ng-template">
    <li class="nav-item">
        <a href class="nav-link" ng-click="select()" uib-tab-heading-transclude ng-class="{active: active
, disabled: disabled}">{{heading}}</a>
    </li>
</script>

