﻿<div ng-switch="subview">

    <div ng-switch-when="companyList">
        <div ng-include=" 'views/company/companyList.html' "></div>
    </div>
    <div ng-switch-when="createCompany" >
        <div ng-include=" 'views/company/createCompany.html' "></div>
    </div>
    <div ng-switch-when="companyDetail" >
        <div ng-include=" 'views/company/companyDetail.html' "></div>
    </div>
    <div ng-switch-when="editCompany" >
        <div ng-include=" 'views/company/createCompany.html' "></div>
    </div>

    <div ng-switch-when="createContact">
        <div ng-include=" 'views/company/createContact.html' "></div>
    </div>
    <div ng-switch-when="editContact">
        <div ng-include=" 'views/company/editContact.html' "></div>
    </div>

    <div ng-switch-when="companySearch">
        <div ng-include=" 'views/company/companySearch.html' "></div>
    </div>
    <div ng-switch-when="companySearchModified">
        <div ng-include=" 'views/company/companySearchModified.html' "></div>
    </div>

</div>