﻿<form class="form-horizontal" name="frmCreateContact" novalidate>
    <div class="card shadow">
        <div class="card-block">
            <fieldset class="form-group row m-b-0">
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">First Name <span class="bold text-red">*</span></label>
                    <div class="col-sm-9">
                        <input tabindex="1"
                               type="text"
                               name="FirstName"
                               class="form-control"
                               ng-model="common.createCompanyContactRequest.FirstName"
                               placeholder="Enter First Name"
                               validation="required|min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">Middle Name</label>
                    <div class="col-sm-9">
                        <input tabindex="2"
                               type="text"
                               name="MiddleName"
                               class="form-control"
                               ng-model="common.createCompanyContactRequest.MiddleName"
                               placeholder="Enter Middle Name"
                               validation="max_len:50|xseed_alpha_dash_dot_apostrophe" />
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group row m-b-0">
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">Last Name <span class="bold text-red">*</span></label>
                    <div class="col-sm-9">
                        <input tabindex="3"
                               type="text"
                               name="LastName"
                               class="form-control"
                               ng-model="common.createCompanyContactRequest.LastName"
                               placeholder="Enter Last Name"
                               validation="required|min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">Primary Email <span class="bold text-red">*</span></label>
                    <div class="col-sm-9">
                        <input tabindex="4"
                               type="text"
                               name="PrimaryEmail"
                               class="form-control"
                               ng-model="common.createCompanyContactRequest.PrimaryEmail"
                               placeholder="Enter Primary Email"
                               validation="required|xseed_email|min_len:6|max_len:100" />
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group row m-b-0">
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">Secondary Email </label>
                    <div class="col-sm-9">
                        <input tabindex="5"
                               type="text"
                               name="SecondaryEmail"
                               class="form-control"
                               ng-model="common.createCompanyContactRequest.SecondaryEmail"
                               placeholder="Enter Secondary Email"
                               validation="xseed_email|min_len:6|max_len:100" />

                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">Profile Image</label>
                    <div class="col-sm-9">
                        <label class="file width-100">
                            <input tabindex="6"
                                   type="file"
                                   name="ProfileImageFile"
                                   class="form-control-file"
                                   ng-model="common.createCompanyContactRequest.ProfileImageFile"
                                   ng-file-model="common.createCompanyContactRequest.ProfileImageFile"
                                   ng-click="enableButtonProfile(common.createCompanyContactRequest.ProfileImageFile, 'createContact')"
                                   check-file-size />
                            <span class="file-custom overflow-hidden">
                                {{common.createCompanyContactRequest.ProfileImageFile.name}}
                            </span>
                        </label>
                        <i class="fa fa-info-circle text-muted">
                            <span class="text-muted">
                                Please select files from jpg, jpeg or png.
                            </span>
                        </i>
                        <span ng-if="common.invalidProfileImgFile" class="validation text-danger">Please select valid format.</span>
                        <span ng-if="common.maxProfileImgFileSize" class="validation text-danger">Max upload size for file is 2 mb.</span>
                        <p ng-if="common.minProfileImgFileSize" class="validation text-danger">File should not be empty.</p>

                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group row m-b-0">
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">Mobile </label>
                    <div class="col-sm-9">
                        <input tabindex="7"
                               type="text"
                               name="Mobile"
                               class="form-control"
                               ng-model="common.createCompanyContactRequest.Mobile"
                               ui-mask="999-999-9999"
                               ui-mask-placeholder
                               ui-mask-placeholder-char="_"
                               ng-blur="removeMask()"
                               ng-focus="placeMask()"
                               placeholder="enter mobile"
                               validation="xseed_mobile" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">Phone </label>
                    <div class="col-sm-9">
                        <input tabindex="8"
                               type="text"
                               name="Phone"
                               class="form-control"
                               ng-model="common.createCompanyContactRequest.Phone"
                               ui-mask="(999) 999-9999"
                               ui-mask-placeholder
                               ui-mask-placeholder-char="_"
                               ng-blur="removeMask()"
                               ng-focus="placeMask()"
                               placeholder="enter phone"
                               validation="xseed_phone">
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group row m-b-0">
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">Fax </label>
                    <div class="col-sm-9">
                        <input tabindex="9"
                               type="text"
                               name="Fax"
                               class="form-control"
                               ng-model="common.createCompanyContactRequest.Fax"
                               ui-mask="(999) 999-9999"
                               ui-mask-placeholder
                               ui-mask-placeholder-char="_"
                               ng-blur="removeMask()"
                               ng-focus="placeMask()"
                               placeholder="enter fax"
                               validation="xseed_phone:alt=Please enter valid fax number.">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">Birth Date </label>
                    <div class="col-sm-9">
                        <datepicker date-format="MM/dd/yyyy"
                                    date-set-hidden="true"
                                    date-max-limit="{{maxDate}}">
                            <input tabindex="10"
                                   type="text"
                                   name="BirthDate"
                                   class="form-control"
                                   ng-model="common.createCompanyContactRequest.BirthDate"
                                   placeholder="Enter Birth Date"
                                   validation="xseed_date|xseed_date_compare:01/01/1900,{{maxDate}}"
                                   ui-mask="99/99/9999"
                                   ui-mask-placeholder
                                   ui-mask-placeholder-char="_"
                                   model-view-value="true" />
                        </datepicker>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group row m-b-0">
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">Anniversary Date </label>
                    <div class="col-sm-9">
                        <datepicker date-format="MM/dd/yyyy"
                                    date-set-hidden="true"
                                    date-max-limit="{{maxDate}}">
                            <input tabindex=11""
                                   type=" text"
                                   name="AnniversaryDate"
                                   class="form-control"
                                   ng-model="common.createCompanyContactRequest.AnniversaryDate"
                                   placeholder="Enter Anniversary Date"
                                   validation="xseed_date|xseed_date_compare:01/01/1900,{{maxDate}}"
                                   ui-mask="99/99/9999"
                                   ui-mask-placeholder
                                   ui-mask-placeholder-char="_"
                                   model-view-value="true" />
                        </datepicker>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">Designation </label>
                    <div class="col-sm-9">
                        <input tabindex="12"
                               type="text"
                               name="Designation"
                               class="form-control"
                               ng-model="common.createCompanyContactRequest.Designation"
                               placeholder="Enter Designation"
                               validation="min_len:2|max_len:100" />
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group row m-b-0">
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">Practice Line </label>
                    <div class="col-sm-9">
                        <input tabindex="13"
                               type="text"
                               name="PracticeLine"
                               class="form-control"
                               ng-model="common.createCompanyContactRequest.PracticeLine"
                               placeholder="Enter Practice Line"
                               validation="min_len:2|max_len:100" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">Address1 </label>
                    <div class="col-sm-9">
                        <input tabindex="14"
                               type="text"
                               name="Address1"
                               class="form-control"
                               placeholder="Enter Address1"
                               ng-model="common.createCompanyContactRequest.Address1"
                               validation="min_len:2|max_len:100" />
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group row m-b-0">
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">Address2 </label>
                    <div class="col-sm-9">
                        <input tabindex="15"
                               type="text"
                               name="Address2"
                               class="form-control"
                               placeholder="Enter Address2"
                               ng-model="common.createCompanyContactRequest.Address2"
                               validation="min_len:2|max_len:100" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">Country</label>
                    <div class="col-sm-9">
                        <select tabindex="16"
                                name="CountryId"
                                ui-select2
                                data-placeholder="Country"
                                ng-model="common.createCompanyContactRequest.CountryId"
                                ng-click="getStateListByCountry(common.createCompanyContactRequest.CountryId)">
                            <!--<option>Select Country</option>-->
                            <option value=""></option>
                            <option ng-repeat="country in metadata.GetAncillaryInformationResponse.countryList.country" value="{{country.Id}}"
                                    ng-bind="country.Name"></option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group row m-b-0">
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">State</label>
                    <div class="col-sm-9">
                        <select tabindex="17"
                                name="stateId"
                                ui-select2
                                data-placeholder="State"
                                ng-model="common.createCompanyContactRequest.StateId"
                                ng-click="getCityListByState(common.createCompanyContactRequest.StateId)">
                            <!--<option>Select Country</option>-->
                            <option value=""></option>
                            <option ng-repeat="state in stateList" value="{{state.Id}}"
                                    ng-bind="state.Name"></option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">City</label>
                    <div class="col-sm-9">
                        <div class="col-sm-9">
                            <select tabindex="18"
                                    name="cityId"
                                    ui-select2="{allowClear: true}"
                                    data-placeholder="City"
                                    ng-model="common.createCompanyContactRequest.CityId">
                                <option value=""></option>
                                <option ng-repeat="city in cityList" value="{{city.Id}}"
                                        ng-bind="city.Name"></option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-sm small btn-primary" ng-disabled="!(common.createCompanyContactRequest.CountryId && common.createCompanyContactRequest.StateId)" ng-click="openAddNewCityToMasterModal(common.createCompanyContactRequest.CountryId, common.createCompanyContactRequest.StateId)"><i class="fa fa-plus"></i>Add</button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group row m-b-0">
                <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                    <label class="col-sm-3">Zip </label>
                    <div class="col-sm-9">
                        <input tabindex="19"
                               type="text"
                               class="form-control"
                               name="Zip"
                               placeholder="Enter Zip"
                               ng-model="common.createCompanyContactRequest.Zip"
                               validation="xseed_zip" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="card-footer text-sm-center">
            <button ng-click="createContact(frmCreateContact)" class="btn btn-primary btn-sm small" type="submit"><i class="fa fa-plus m-r-xs" aria-hidden="true"></i>Add</button>
            <button type="button" class="btn btn-default btn-sm small" ng-click="resetContact()">Cancel</button>
        </div>
    </div>
</form>