<!--
  sidebar panel
-->
<div class="app  contact-open offcanvas offscreen move-right" ng-class="{'offcanvas': main.app.offcanvas, 'expanding': main.app.expanding, 'fixed-header': main.app.fixedHeader, 'static': main.app.static, 'message-open': main.app.isMessageOpen, 'contact-open': main.app.isContactOpen}" ui-view style="height:100vh;">
    <div class="off-canvas-overlay" ng-click="main.toggleMenu()"></div>
    <div class="sidebar-panel" ng-include="'views/common/sidebar-panel.html'" menu-panel show="main.menu"></div>
    <!-- /sidebar panel -->
    <!-- content panel -->
    <div class="main-panel">
        <!-- top header -->
        <nav class="header navbar">
            <div ng-include="'views/common/header.html'"></div>
        </nav>
        <!-- /top header -->
        <!-- horizontal menu header -->
        <!--nav class="header-secondary navbar bg-faded shadow" ng-include="'views/common/secondary-header.html'"></nav-->
        <!-- /horizontal menu header -->
        <!-- main area -->
        <div class="main-content">
            <div class="content-view p-b-0">
                <div ng-switch="subview">
                    <div class="sidebar-panel-fixed" ng-include="'views/common/sidebar-fixed-panel.html'"></div>
                    <div ng-switch-when="dashboard" ng-controller="DashboardCtrl">
                        <div ng-include=" 'views/Dashboard.html' "></div>
                    </div>

                    <!--Applied Candidates-->
                    <div ng-switch-when="appliedCandidates" ng-controller="SearchCtrl">
                        <div ng-include=" 'views/appliedCandidates.html' "></div>
                    </div>
                    <!--Applied Candidates-->

                    <div ng-switch-when="job">
                        <div ng-include=" 'views/job.html' "></div>
                    </div>

                    <div ng-switch-when="test">
                        <div ng-include=" 'views/test.html' "></div>
                    </div>

                    <div ng-switch-when="recruiterDashboard">
                        <div ng-include=" 'views/recruiter/recruiterDashboard.html' "></div>
                    </div>

                    <div ng-switch-when="candidatesMain">
                        <div ng-include=" 'views/candidates/candidates.html' "></div>
                    </div>

                    <div ng-switch-when="regOrganization">
                        <div ng-include=" 'views/organization/registerOrg.html' "></div>
                    </div>
                    <!-- organization -->
                    <div ng-switch-when="organization" ng-controller="OrganizationCtrl">
                        <div ng-include=" 'views/organization/organization.html' "></div>
                    </div>
                    <!-- organization -->
                    <!-- Company -->
                    <div ng-switch-when="company" ng-controller="CompanyCtrl">
                        <div ng-include=" 'views/company/company.html' "></div>
                    </div>
                    <!-- Company -->
                    <!-- Vendor -->
                    <div ng-switch-when="vendor" ng-controller="VendorCtrl">
                        <div ng-include=" 'views/vendor/vendor.html' "></div>
                    </div>
                    <!-- Vendor -->
                    <!-- Resume Email -->
                    <div ng-switch-when="resumeEmail" ng-controller="ResumeEmailCtrl">
                        <div ng-include=" 'views/resumeEmail/resumeEmail.html' "></div>
                    </div>
                    <!-- Resume Email -->
                    <!-- Requirements -->
                    <div ng-switch-when="requirement" ng-controller="RequirementCtrl">
                        <div ng-include=" 'views/requirement/requirement.html' "></div>
                    </div>
                    <!-- Requirements -->
                    <!-- submissionToClient -->
                    <div ng-switch-when="submissionToClient" ng-controller="ApplicationCtrl">
                        <div ng-include=" 'views/submissionToClient.html' "></div>
                    </div>
                    <!-- submissionToClient -->
                    <!-- candidate search -->
                    <div ng-switch-when="searchCandidate" ng-controller="SearchCtrl">
                        <div ng-include=" 'views/search/searchCandidate.html' "></div>
                    </div>
                    <!-- candidate search -->
                    <!-- Candidate -->
                    <div ng-switch-when="candidate" ng-controller="CandidateCtrl">
                        <div ng-include=" 'views/candidate/candidate.html' "></div>
                    </div>
                    <!-- Candidate -->
                    <!-- Upload Resumes -->
                    <div ng-switch-when="uploadResumes">
                        <div ng-include=" 'views/candidate/uploadResumes.html' "></div>
                    </div>
                    <!-- Upload Resumes -->

                    <div ng-switch-when="changePassword">
                        <div ng-include=" 'views/users/changePassword.html' "></div>
                    </div>

                    <!-- Query Builder -->
                    <div ng-switch-when="queryBuilder" ng-controller="QueryBuilderCtrl">
                        <div ng-include=" 'views/queryBuilder/queryBuilder.html' "></div>
                    </div>
                    <!-- Query Builder -->
                    <!-- Submission -->
                    <div ng-switch-when="submission" ng-controller="SubmissionCtrl">
                        <div ng-include=" 'views/submission/submission.html' "></div>
                    </div>
                    <!-- Submission -->
                    <!-- Submission -->
                    <div ng-switch-when="reports" ng-controller="ReportsCtrl">
                        <div ng-include=" 'views/reports/report.html' "></div>
                    </div>
                    <!-- Submission -->
                    <!-- ResumeBlaster -->
                    <div ng-switch-when="resumeBlaster" ng-controller="ResumeBlasterCtrl">
                        <div ng-include=" 'views/resumeBlaster/resumeBlaster.html' "></div>
                    </div>
                    <!-- ResumeBlaster -->


                    <div ng-switch-when="switchView" ng-controller="SwitchViewCtrl">
                        <div ng-include=" 'views/switcher.html' "></div>
                    </div>

                </div>
            </div>
            <!-- bottom footer -->
            <div class="content-footer p-a-xs" ng-include="'views/common/footer.html'"></div>
            <!-- /bottom footer -->
        </div>
        <!-- /main area -->
    </div>
    <!-- /content panel -->
    <!-- options panel -->
    <!--<div class="configuration layout-column flex hidden-sm-down" ng-include="'views/common/options.html'" ng-class="{'active': main.app.options}"></div>-->
    <!-- /options panel -->
    <!-- chat -->
    <div class="chat-panel" ng-class="{'conversation-open': app.layout.isConversationOpen}" ng-include="'views/common/chat-panel.html'"></div>
    <!-- /chat -->
</div>