﻿<div class="title-section row">
    <div class="col-sm-8">
        <h4 ng-if="common.requirementModel.manipulationMode=== 'Create'">Add Requirement</h4>
        <h4 ng-if="common.requirementModel.manipulationMode=== 'Edit'">Edit Requirement</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4 text-lg-right">
        <a class="btn btn-danger btn-icon" role="button" href="#/requirementList">
            <i class="material-icons ng-binding" aria-hidden="true">view_list</i>
            <span>Requirement List</span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="form-horizontal" name="createJobForm" novalidate>
                <div class="card shadow">
                    <div class="card-block">
                        <h5 class="bold card-title text-primary no-bg m-b-1">1. Requirement Details</h5>
                        <fieldset class="form-group">
                            <legend></legend>
                            <div class="col-sm-4">
                                <label>Title<span class="bold text-red">*</span></label>
                                <select name="jobTitleId"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select requirement title"
                                        ng-model="common.requirementModel.JobTitleId" validation="required:alt=requirement title is required.">
                                    <option value=""></option>
                                    <option ng-repeat="jobTitle in lookup.jobTitle" value="{{jobTitle.Id}}"
                                            ng-bind="jobTitle.Name"></option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>Company<span class="bold text-red">*</span></label>
                                <select name="companyId"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select company"
                                        ng-model="common.requirementModel.CompanyId"
                                        ng-click="getCompanyContactListByCompany(common.requirementModel.CompanyId)" validation="required:alt=company is required.">
                                    <option value=""></option>
                                    <option ng-repeat="company in lookup.company" value="{{company.Id}}"
                                            ng-bind="company.Name"></option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>Company Contact</label>
                                <select name="companyContactId"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select company contact"
                                        ng-model="common.requirementModel.CompanyContactId">
                                    <option value=""></option>
                                    <option ng-repeat="companyContact in companyContactLookupList" value="{{companyContact.Id}}"
                                            ng-bind-template="{{companyContact.FirstName+ ' '+ companyContact.LastName}}"></option>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <legend></legend>
                            <div class="col-sm-4">
                                <label>Company Requirement Code</label>
                                <input type="text" class="form-control" placeholder="enter company requirement code"
                                       ng-model="common.requirementModel.ClientJobCode"
                                       name="clientJobCode"
                                       validation="max_len:50" />
                            </div>

                            <div class="col-sm-4">
                                <label>Requisition Id</label>
                                <input type="text" class="form-control" placeholder="Enter Requisition Id"
                                       ng-model="common.requirementModel.RequisitionId"
                                       name="requisitionId" />
                            </div>
                            <div class="col-sm-4">
                                <label>Interview Type</label>
                                <select name="interviewType"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select interview type"
                                        ng-model="common.requirementModel.InterviewType">
                                    <option value=""></option>
                                    <option value="Walkin Drive">Walkin Drive</option>
                                    <option value="Weekday">Weekday</option>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <legend></legend>
                            <div class="col-sm-4">
                                <label>Drive From Date</label>
                                <datepicker date-format="MM/dd/yyyy" date-set-hidden="true">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="enter drive from date"
                                           ng-model="common.requirementModel.DriveFromDate"
                                           name="driveFromDate"
                                           validation="xseed_date"
                                           ui-mask="99/99/9999"
                                           ui-mask-placeholder
                                           ui-mask-placeholder-char="_"
                                           model-view-value="true" />
                                </datepicker>
                            </div>
                            <div class="col-sm-4">
                                <label>Drive To Date </label>
                                <datepicker date-format="MM/dd/yyyy" date-set-hidden="true">
                                    <input ng-model="common.requirementModel.DriveToDate"
                                           type="text"
                                           class="form-control"
                                           placeholder="Enter Drive To Date"
                                           name="driveToDate"
                                           validation="xseed_date"
                                           ui-mask="99/99/9999"
                                           ui-mask-placeholder
                                           ui-mask-placeholder-char="_"
                                           model-view-value="true" />
                                </datepicker>


                            </div>
                            <div class="col-sm-4">
                                <label>Requirement Type</label>
                                <select name="jobTypeId"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select requirement type"
                                        ng-model="common.requirementModel.JobTypeId">
                                    <option value=""></option>
                                    <option ng-repeat="jobType in lookup.jobType" value="{{jobType.Id}}"
                                            ng-bind="jobType.Name"></option>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <legend></legend>
                            <div class="col-sm-4">
                                <label>Requirement Closed Date</label>
                                <datepicker date-format="MM/dd/yyyy" date-set-hidden="true">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="enter requirement closed date"
                                           ng-model="common.requirementModel.JobClosedDate"
                                           name="jobClosedDate"
                                           validation="xseed_date"
                                           ui-mask="99/99/9999"
                                           ui-mask-placeholder
                                           ui-mask-placeholder-char="_"
                                           model-view-value="true" />
                                </datepicker>

                            </div>
                            <div class="col-sm-4">
                                <label>Requirement Expiry Date</label>
                                <datepicker date-format="MM/dd/yyyy" date-set-hidden="true">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="enter requirement expiry date"
                                           ng-model="common.requirementModel.JobExpiryDate"
                                           name="jobExpiryDate"
                                           validation="xseed_date"
                                           ui-mask="99/99/9999"
                                           ui-mask-placeholder
                                           ui-mask-placeholder-char="_"
                                           model-view-value="true" />
                                </datepicker>
                            </div>
                            <div class="col-sm-4">
                                <label>Requirement Posted Date</label>
                                <datepicker date-format="MM/dd/yyyy" date-set-hidden="true">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="enter requirement posted date"
                                           ng-model="common.requirementModel.JobPostedDate"
                                           name="jobPostedDate"
                                           validation="xseed_date"
                                           ui-mask="99/99/9999"
                                           ui-mask-placeholder
                                           ui-mask-placeholder-char="_"
                                           model-view-value="true" />
                                </datepicker>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <legend></legend>
                            <div class="col-sm-4">
                                <label>Priority</label>
                                <select name="priorityId"
                                        data-placeholder="select priority"
                                        ng-model="common.requirementModel.Priority"
                                        ui-select2="{allowClear: true}">
                                    <option value=""></option>
                                    <option value="None">None</option>
                                    <option value="High">High</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Low">Low</option>
                                </select>
                            </div>
                            <div class="col-sm-8">
                                <label>Requirement Description</label>
                                <textarea class="form-control" placeholder="enter description"
                                          ng-model="common.requirementModel.JobDescription"
                                          name="jobDescription"></textarea>
                            </div>
                        </fieldset>
                    </div>
                    <div class="card-block">
                        <h5 class="bold card-title text-primary no-bg m-b-1">2. Internal Details</h5>
                        <fieldset class="form-group">
                            <legend></legend>
                            <div class="col-sm-4">
                                <label>Assigned Recruiter<span class="bold text-red">*</span></label>
                                <select name="organizationUserId"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select assigned recruiter"
                                        ng-model="common.requirementModel.OrganizationUserIdList" multiple="multiple" validation="required:alt=assigned recruiter is required">
                                    <option ng-repeat="organizationUser in lookup.organizationUser" value="{{organizationUser.Id}}"
                                            ng-bind="organizationUser.Name"></option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>Requirement Status</label>
                                <select name="cityId"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select requirement status"
                                        ng-model="common.requirementModel.JobStatusId">
                                    <option value=""></option>
                                    <option ng-repeat="jobStatus in lookup.jobStatus" value="{{jobStatus.Id}}"
                                            ng-bind="jobStatus.Name"></option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>Total Positions</label>
                                <input type="text" class="form-control" placeholder="Enter Total Positions"
                                       ng-model="common.requirementModel.TotalPositions"
                                       name="totalPositions"
                                       validation="max_len:10|integer" />
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <legend></legend>
                            <div class="col-sm-4">
                                <label>Job Location</label>
                                <input type="text" class="form-control" placeholder="enter location"
                                       ng-model="common.requirementModel.Location"
                                       name="location"
                                       validation="max_len:50" />
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <legend></legend>
                            <div class="col-sm-4">
                                <label>Country</label>
                                <select name="countryId"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select country"
                                        ng-model="common.requirementModel.CountryId"
                                        ng-click="getStateListByCountry(common.requirementModel.CountryId)">
                                    <option value=""></option>
                                    <option ng-repeat="country in metadata.GetAncillaryInformationResponse.countryList.country" value="{{country.Id}}"
                                            ng-bind="country.Name"></option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>State</label>
                                <select name="stateId"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select state"
                                        ng-model="common.requirementModel.StateId"
                                        ng-click="getCityListByState(common.requirementModel.StateId)">
                                    <option value=""></option>
                                    <option ng-repeat="state in stateList" value="{{state.Id}}"
                                            ng-bind="state.Name"></option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>City</label>
                                <select name="cityId"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select city"
                                        ng-model="common.requirementModel.CityId">
                                    <option value=""></option>
                                    <option ng-repeat="city in cityList" value="{{city.Id}}"
                                            ng-bind="city.Name"></option>
                                </select>
                            </div>
                        </fieldset>
                    </div>
                    <div class="card-block">
                        <h5 class="bold card-title text-primary no-bg m-b-1">3. Qualification Details</h5>
                        <fieldset class="form-group">
                            <legend></legend>
                            <div class="col-sm-4">
                                <label>Degree</label>
                                <select name="countryId"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select degree"
                                        ng-model="common.requirementModel.DegreeIdList"
                                        multiple="multiple">
                                    <option ng-repeat="degree in lookup.degree" value="{{degree.Id}}"
                                            ng-bind="degree.Name"></option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>Technical Skills</label>
                                <select name="skillList"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select technical skills"
                                        ng-model="common.requirementModel.SkillIdList"
                                        multiple="multiple">
                                    <optgroup ng-repeat="skill in skillStructuredData" label="{{skill.text}}">
                                        <option ng-repeat="children in skill.children" value="{{children.id}}" ng-bind="children.text"></option>
                                    </optgroup>
                                </select>
                            </div>
                        </fieldset>
                    </div>
                    <div class="card-block">
                        <h5 class="bold card-title text-primary no-bg m-b-1">4. Other Details</h5>
                        <fieldset class="form-group">
                            <legend></legend>
                            <div class="col-sm-4">
                                <label>Experience in Year(s)</label>
                                <select name="experienceInYear"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select experience in year(s)"
                                        ng-model="common.requirementModel.ExperienceInYear">
                                    <option value=""></option>
                                    <option ng-repeat="i in 50 | range" value="{{i}}">{{i}}</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>Experience in Month(s)</label>
                                <select name="experienceInMonth"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select experience in month(s)"
                                        ng-model="common.requirementModel.ExperienceInMonth">
                                    <option value=""></option>
                                    <option ng-repeat="i in 12 | range" value="{{i}}">{{i}}</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>Salary Range</label>
                                <input type="text" class="form-control" placeholder="Enter Salary Range"
                                       ng-model="common.requirementModel.SalaryRange"
                                       name="fromSalaryRange"
                                       validation="max_len:200" />
                            </div>
                        </fieldset>
                    </div>
                    <div class="card-footer bg-default text-xs-center">
                        <button type="button" class="btn btn-primary" ng-click="createJobForm.$valid && createJobProcess(createJobForm)" ng-disabled="createJobForm.$invalid"
                                ng-if="common.requirementModel.manipulationMode=== 'Create'">
                            <i class="material-icons">add_box</i> Add Requirement
                        </button>&nbsp;
                        <button type="button" class="btn btn-primary" ng-click="createJobForm.$valid && editJobProcess(createJobForm)" ng-disabled="createJobForm.$invalid"
                                ng-if="common.requirementModel.manipulationMode=== 'Edit'">
                            <i class="material-icons ng-binding" aria-hidden="true">save</i> Save
                        </button>&nbsp;
                        <button type="button" class="btn btn-default" ng-click="cancelRequirement()">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

