<!--sidebar panel-->
<div class="app expanding fixed-header" ui-view style="height:100vh;" ng-class="{'offcanvas': main.app.offcanvas, 'expanding': main.app.expanding, 'fixed-header': main.app.fixedHeader, 'static': main.app.static, 'message-open': main.app.isMessageOpen, 'contact-open': main.app.isContactOpen}">
    <div class="off-canvas-overlay" ng-click="main.toggleMenu()"></div>
    <!-- /sidebar panel -->
    <!-- content panel -->
    <div class="main-panel m-a-0">
        <!-- top header -->
        <!-- main area -->
        <div class="main-content">
            <div class="content-view p-a-0 bg-white">
                <div ng-switch="subview">
                    <div ng-switch-when="candidateLogin">
                        <div ng-include=" 'views/candidateLogin.html' " class="bg-white"></div>
                    </div>
                    <div ng-switch-when="verifyEmail" class="p-a-2">
                        <div ng-include=" 'views/verifyEmail.html' "></div>
                    </div>
                    <div ng-switch-when="candidateRegistration" class="p-a-2">
                        <div ng-include=" 'views/candidateRegistration.html' "></div>
                    </div>
                    <div ng-switch-when="forgotPassword">
                        <div ng-include=" 'views/forgotPassword.html' "></div>
                    </div>
                    <div ng-switch-when="resetPassword">
                        <div ng-include=" 'views/resetPassword.html' "></div>
                    </div>
                    <div ng-switch-when="resendEmailVerification" class="p-a-2">
                        <div ng-include=" 'views/resendEmailVerification.html' "></div>
                    </div>
                    <div ng-switch-when="test" class="p-a-2">
                        <div ng-include=" 'views/test.html' "></div>
                    </div>
                    <div ng-switch-when="associate" class="p-a-1">
                        <div ng-include=" 'views/associate.html' "></div>
                    </div>
                </div>
            </div>
            <!-- /main area -->
        </div>
    </div>