<!--
  sidebar panel
-->

<div class="app  contact-open expanding fixed-header" ui-view style="height:100vh;" ng-class="{'offcanvas': main.app.offcanvas, 'expanding': main.app.expanding, 'fixed-header': main.app.fixedHeader, 'static': main.app.static, 'message-open': main.app.isMessageOpen, 'contact-open': main.app.isContactOpen}">
    <div class="off-canvas-overlay" onclick="toggleSidebar('out')"></div>
    <div class="sidebar-panel" ng-include="'views/common/sidebar-panel.html'" menu-panel show="main.menu"></div>
    <!-- /sidebar panel -->
    <!-- content panel -->
    <div class="main-panel">
        <!-- top header -->
        <nav class="header navbar">
            <div ng-include="'views/common/header.html'"></div>
        </nav>
        <!-- /top header -->
        <!-- horizontal menu header -->
        <!-- /horizontal menu header -->
        <!-- main area -->
        <div class="main-content">
            <div class="content-view">
                <div ng-switch="subview">
                    <div ng-switch-when="home">
                        <div ng-include=" 'views/home.html' "></div>
                    </div>

                    <div ng-switch-when="job">
                        <div ng-include=" 'views/job.html' "></div>
                    </div>

                    <div ng-switch-when="test">
                        <div ng-include=" 'views/test.html' "></div>
                    </div>

                    <!-- Openings -->
                    <div ng-switch-when="opening" ng-controller="OpeningsCtrl">
                        <div ng-include=" 'views/openings/opening.html' "></div>
                    </div>
                    <!-- Openings -->
                    <!-- Candidate -->
                    <div ng-switch-when="candidate" ng-controller="CandidateCtrl">
                        <div ng-include=" 'views/candidate/candidate.html' "></div>
                    </div>
                    <!-- Candidate -->

                    <div ng-switch-when="changePassword">
                        <div ng-include=" 'views/users/changePassword.html' "></div>
                    </div>

                    <div ng-switch-when="switchView" ng-controller="SwitchViewCtrl">
                        <div ng-include=" 'views/switcher.html' "></div>
                    </div>

                </div>
            </div>
            <!-- bottom footer -->
            <div class="content-footer" ng-include="'views/common/footer.html'"></div>
            <!-- /bottom footer -->
        </div>
        <!-- /main area -->
    </div>
    <!-- /content panel -->
    <!-- options panel -->
    <!-- /options panel -->

</div>