﻿<div class="main-content" ng-init="checkUserAccess();getCandidateList();candidateFilter.CollapseStatus=false">
    <div class="content-view">   
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input name="searchCandidates" class="form-control " type="text" placeholder="Search by: Candidate Id, Name, Email, Location, Status, Skills" maxlength="100" ng-model="common.advanceSearchModel.SearchAll" ng-enter="getCandidateFilterResult()"
                           style="padding: 2px; height: 28px;" title="Search by: Candidate Id, Name, Email, Location, Status, Skills." aria-invalid="false">
                    <span class="input-group-btn">
                        <button style="    height: 28px;" type="button" class="btn bg-primary btn-secondary small btn-sm pull-right" ng-disabled="!common.advanceSearchModel.SearchAll" ng-click="getCandidateFilterResult()" aria-disabled="true" disabled="disabled">
                            <i style="font-size: 14px;" class="fa fa-search"></i> Search</button>
                    </span>
                </div>
            </div>

            <div class="col-md-6 left-buttons">
                <a target="_blank" ng-click="createCandidateView();" class="btn btn-outline-primary btn-sm btn-icon loading-demo width-136 m-b-xs font-12 pull-right" ng-if="userDetails.Candidate_Create == 'True'" href>
                    <i class="material-icons"> add_circle_outline</i><span>Add candidate</span>
                </a>
                <a target="_blank" href="#/uploadResumes" class="btn btn-outline-primary btn-sm btn-icon loading-demo m-r-xs m-b-xs font-12 pull-right"><i class="material-icons"> file_upload</i>Bulk upload</a>
                <a target="_blank" href ng-click="viewParsedResume()" class="btn btn-outline-primary btn-sm btn-icon loading-demo m-r-xs m-b-xs font-12 pull-right"><i class="material-icons"> insert_drive_file</i>Parsed resumes</a>

                <button ng-if="userDetails.Submission_Create == 'True'" type="button" disabled target="_blank" ng-click="openCandidateSubmissionModal('Multiple');" ng-disabled="checkedCount== 0" class="btn btn-primary btn-sm  btn-icon loading-demo m-r-xs m-b-xs font-12 pull-right">
                    <i class="material-icons"> check</i> Submit to client
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <select ng-model="candidateFilter.select_filterStatus" id="select_filterStatus" ng-change="GetValue()" data-placeholder="Search by status" multiple="multiple" class="select2  full-width-100" style="width: 100%">
                    <option ng-repeat="key1 in candidateFilterLookup[0].Status">{{key1.Name}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <select ng-model="candidateFilter.select_filterCreated" id="select_filterCreated" ng-change="GetValue()" data-placeholder="Search by created by" multiple="multiple" class="select2  full-width-100" style="width: 100%">
                    <option ng-repeat="key1 in candidateFilterLookup[1]['Created By']" value="{{key1.Id}}">{{key1.Name}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <button type="button" ng-click="getCandidateSelectedFilterItem()" ng-disabled="filterItemCount== 0" class="btn btn-primary btn-sm btn-icon loading-demo m-r-xs m-b-xs font-12">
                    <i class="material-icons">check</i><span>Apply</span>
                </button>
                <a href onclick="ClearFilter()" ng-click="resetCandidateAdvanceSearch();" ng-disabled="!flag.advanceSearchFlag" class="btn btn-primary btn-sm btn-icon loading-demo m-b-xs font-12 pull-right">
                    <i class="material-icons">close</i><span>Clear</span>
                </a>
            </div>
            <div class="col-md-6 left-buttons">
                <button class="btn btn-outline-primary btn-sm btn-icon loading-demo   m-b-xs font-12 pull-right" ng-click="exportToExcel(constants.sectionCandidates);">
                    <i class="material-icons">file_download</i>Export to excel
                </button>
                <button class="btn btn-outline-primary btn-sm btn-icon width-117 loading-demo m-r-xs m-b-xs font-12 pull-right" ng-click="printDiv('candidateDiv','Candidates')">
                    <i class="material-icons">local_printshop</i>Print
                </button>
                <a href="#/resumeEmails" class="btn btn-outline-primary btn-sm btn-icon width-141 loading-demo m-r-xs m-b-xs font-12 pull-right"><i class="material-icons"> email</i>Resume emails</a>
            </div>
        </div>

        <div class="card-block-outer">
            <div class="no-more-tables dataTables_wrapper container-fluid dt-bootstrap4 no-footer" id="candidateDiv">
                <table ng-table="common.tblCandidateList" id="tbl_candidate_list" class="table table-responsive dataTable datatable">
                    <caption>Candidate List</caption>
                    <thead>
                        <tr class="card">
                            <th scope="col">
                                <i ng-if="candidateFilter.CollapseStatus==true" class="fa fa-chevron-down table-collapse-arrow-th" aria-hidden="true" ng-click="collpaseAll()"> </i>
                            </th>
                            <th scope="col">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
                                    <span class="custom-control-indicator"></span><button class="btn btn-sm pull-right btnsortstyle" ng-click="sortBy('FullName')"><span><i class="btnsort">&#x25B2;</i><i class="btnsort">&#x25BC;</i></span></button>
                                </label> Name
                            </th>
                            <th scope="col">Contact</th>
                            <th scope="col">Current location</th>
                            <th scope="col">Experience</th>
                            <th scope="col">Skills</th>
                            <th scope="col"><button class="btn btn-sm pull-right btnsortstyle" ng-click="sortBy('CreatedOn')"><span><i class="btnsort">&#x25B2;</i><i class="btnsort">&#x25BC;</i></span></button>Created by</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="card panel-heading" id="tr-1" ng-repeat="candidate in common.candidateList | orderBy:propertyName:reverse" repeat-end="InializePopoverAndTooltip()">
                            <td id="{{candidate._id}}" data-title="Requirement" class="parenttr" ng-click="viewCollapseCandidateDetails($event, candidate);getCandidateRatingDetails($event, candidate._id);" chkid="{{candidate.Title}}">
                                <label class="labelauty-label">
                                    <p class="card-title display-flex font-12">
                                        <i class="fa fa-chevron-right table-collapse-arrow" aria-hidden="true"></i>
                                    </p>
                                </label>
                            </td>
                            <div ng-show="common.bulkUploadResume.length < 1">
                                <div class="card-block   text-center">
                                    <div class="sk-wave center-block">
                                        <div class="sk-rect sk-rect1"></div>
                                        <div class="sk-rect sk-rect2"></div>
                                        <div class="sk-rect sk-rect3"></div>
                                        <div class="sk-rect sk-rect4"></div>
                                        <div class="sk-rect sk-rect5"></div>
                                    </div>
                                </div>
                            </div>

                            <td data-title="Requirement">
                                <label class="labelauty-label">
                                    <p class="card-title font-12">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" ng-model="checkboxes.items[candidate._id]" class="custom-control-input" name="chkOrgRow">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                        <span ng-bind="candidate.FullName" ng-init="candidate.FullName= getCandidateFullName(candidate.Title, candidate.FirstName, candidate.MiddleName, candidate.LastName)" ng-attr-title="{{candidate.FullName}}"></span>
                                    </p>
                                    <p class="card-title display-flex font-12">
                                        <span class="badge bg-danger text-xs-center ml-26" ng-if="candidate.Status== 'Active'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                        <span class="badge bg-primary text-xs-center ml-26" ng-if="candidate.Status== 'DNC'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                        <span class="badge bg-success text-xs-center ml-26" ng-if="candidate.Status== 'New'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                        <span class="badge bg-info text-xs-center ml-26" ng-if="candidate.Status== 'Not Looking'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                        <span class="badge bg-default text-xs-center ml-26" ng-if="candidate.Status== 'Passive'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                        <span class="badge bg-info text-xs-center ml-26" ng-if="candidate.Status== 'Placed'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                        <span class="badge bg-default text-xs-center ml-26" ng-if="candidate.Status== 'Unresponsive'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                        <span ng-if="candidate.Status=== null"></span> &nbsp;&nbsp; <span ng-bind="candidate.CandidateId"></span>
                                    </p>
                                </label>
                            </td>

                            <td data-title="Contact">
                                <label class="labelauty-label">
                                    <p class="card-title  font-12">
                                        <span class="fa fa-phone color-gray"></span> {{candidate.Mobile  ? candidate.Mobile : '' | ContactFilter}}
                                    </p>
                                    <p class="card-title  font-12">
                                        <span class="fa fa-envelope color-gray"></span> <a target="_blank" href="{{candidate.PrimaryEmail ? 'mailto:'+candidate.PrimaryEmail : 'javascript:void(0);'}}">{{candidate.PrimaryEmail ? candidate.PrimaryEmail : '-' }}</a>
                                    </p>
                                </label>
                            </td>

                            <td data-title="Location">
                                <label class="labelauty-label">
                                    <p class="card-title display-flex font-12 visa-overflow">
                                        {{candidate.CurrentLocation ? candidate.CurrentLocation : ''}}
                                    </p>
                                </label>
                            </td>

                            <td data-title="Experience">
                                <label class="labelauty-label">
                                    <p class="card-title display-flex font-12">
                                        Total Exp: {{candidate.ExperienceInYear ? candidate.ExperienceInYear +' Yr. '+ (candidate.ExperienceInMonth ? candidate.ExperienceInMonth : 0) + 'Month(s)' : 'NA' }}
                                    </p>
                                    <p class="card-title display-flex font-12">
                                        US Exp: {{candidate.USExperienceInYear ? candidate.USExperienceInYear +' Yr. '+ (candidate.USExperienceInMonth ? candidate.USExperienceInMonth : 0) + 'Month(s)' : 'NA' }}
                                    </p>
                                </label>
                            </td>

                            <td data-title="Skills">
                                <label class="labelauty-label">
                                    <p ng-show="candidate.Skills" class="card-title display-flex font-12 skill-overflow" title="Skills" data-placement="top" data-trigger="hover" data-toggle="popover"data-content="{{candidate.Skills}}" ng-bind="candidate.Skills">
                                        ...</p>
                                </label>
                            </td>

                            <td data-title="Contact">
                                <label class="labelauty-label" data-placement="top" data-trigger="hover" data-toggle="popover" title="Created by" data-content="{{(candidate.CreatedByName?  candidate.CreatedByName +' on ' : ' ')  + (candidate.CreatedOn | date: MM/dd/yyyy)}}">
                                    <p class="card-title display-flex font-12" data-sortable="'CreatedByName'" ng-bind="candidate.CreatedByName"></p>
                                    <p class="card-title display-flex font-12" data-sortable="'CreatedByName'" ng-bind="candidate.CreatedOn | date: MM/dd/yyyy"></p>
                                </label>
                            </td>

                            <td data-title="Actions" class="disp-flex">
                                <button type="button" data-toggle="tooltip" title="" data-original-title="Activities" class="btn btn-outline-primary btn-sm m-r-xs loading-demo m-b-xs font-12 mb-0 pull-right" ng-click="opencandidateActivityQnotesModal(candidate)">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <div class="dropdown pull-right">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                                        <a ng-click="candidateDirectEditView(candidate);" class="dropdown-item" href="javascript:;">
                                            <i class="fa fa-pencil"></i> Edit details
                                        </a>
                                        <a ng-if="userDetails.Submission_Create == 'True'" class="dropdown-item" href="javascript:;" ng-click="openCandidateSubmissionModal('Single',candidate);" ng-disabled="checkedCount== 0">
                                            <i class="fa fa-send"></i> Submit to client
                                        </a>
                                        <a class="dropdown-item" ng-click="sendMailToSelectedCandidate(candidate);" ng-disabled="!common.candidateList.length" href="javascript:;">
                                            <i class="fa fa-envelope"></i> Send Email
                                        </a>
                                        <a class="dropdown-item" ng-click="openCandidateDetailView(candidate);" ng-disabled="!common.candidateList.length" href="javascript:;">
                                            <i class="fa fa-eye"></i> View Details
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!common.candidateList.length">
                    <p class="text-shadow lead text-xs-center">
                        <img src="images/search.png" alt="Search Image" /><br /> No records found!
                    </p>
                </div>

            </div>

        </div>
    </div>
</div>

<script>
    function ClearFilter() {
        $("select.select2").each(function() { //added a each loop here
            $(this).val("");
            $(this).trigger("change");
        });
    }
    $(document).ready(function () {
            $('.loading').fadeOut(1000);
    });
</script>

<style>
    .btnsort {
        display: inline-block;
        height: 6px;
        width: 9px;
        color: rgb(128,128,128);
    }

    .btnsortstyle {
        position: absolute;
        margin-top: -4px;
        float: right;
        margin-left: 80px;
    }
</style>