﻿<div class="main-content" ng-init="getParsedResumeList();">
    <div class="content-view client-profile-list">
        <div class="card ">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-search m-b-0">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input ng-model="search" type="text" class="form-control" placeholder="Search candidate">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a ng-click="goToCandidateList()" href class="btn btn-outline-primary  btn-sm btn-icon  loading-demo  m-b-xs font-12 pull-right">
                        <i class="material-icons"> list</i><span>View candidates</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card ">
            <div class="card-block">
                <table class="table table-responsive" ng-table="common.tblParsedResumeList">
                    <caption></caption>
                    <thead class="bg-primary">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Contact</th>
                            <th scope="col">Created date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="parsedResume in common.parsedResumeList | filter:search" ng-if="!parsedResume.IsValidResume">
                            <td data-title="Name">
                                <label class="labelauty-label">
                                    <p class="card-title display-flex font-12 text-primary" ng-bind="parsedResume.FullName" ng-init="parsedResume.FullName= getCandidateFullName(parsedResume.Title, parsedResume.FirstName, parsedResume.MiddleName, parsedResume.LastName)"
                                       ng-attr-title="{{parsedResume.FullName}}">
                                    </p>
                                </label>
                            </td>
                            <td data-title="Email">
                                <label class="labelauty-label">
                                    <p class="card-title display-flex font-12 " ng-bind="parsedResume.EmailAddress" ng-attr-title="{{parsedResume.EmailAddress}}">
                                    </p>
                                </label>
                            </td>
                            <td data-title="Contact">
                                <label class="labelauty-label">
                                    <p class="card-title display-flex font-12" ng-bind="parsedResume.Mobile" ng-attr-title="{{parsedResume.Mobile}}">
                                    </p>
                                </label>
                            </td>
                            <td data-title="Created date">
                                <label class="labelauty-label">
                                    <p class="card-title display-flex font-12"  ng-bind="parsedResume.CreatedOn | date:'medium'" ng-attr-title="{{parsedResume.CreatedOn}}">
                                    </p>
                                </label>
                            </td>
                            <td data-title="Action">
                                    <p class="card-title display-flex font-12">
                                        <button type="button" ng-click="redirectToCandidateCreateView(parsedResume);" class="btn btn-outline-primary btn-sm loading-demo m-r-xs m-b-xs font-12 mb-0"
                                                data-toggle="tooltip" title="Review" data-original-title=""> <i class="fa fa-eye"></i>
                                        </button>
                                        <button type="button" ng-click="rejectParsedResumeWithConfirmation(parsedResume._id);" class="btn btn-outline-primary  btn-sm   loading-demo   m-b-xs font-12 mb-0"
                                                data-toggle="tooltip" title="Discard" data-original-title=""> <i class="fa fa-close"></i>
                                        </button>
                                    </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="!common.parsedResumeList.length" class="no-contacts layout-column scroll-y text-xs-center">
                <h5 class="text-shadow text-muted">
                    Seems to be no candidate(s) uploaded yet.
                </h5>
            </div>
        </div>
    </div>
</div>