﻿<div class="main-content" ng-init="checkUserAccess();getResumeEmailList();getUnreadMailCount();">
    <div class="content-view">
        <div class="fill-container layout-xs b-b">

            <div class="overflow-hidden col-md-5 p-0">
                <div class="row m-x-0 fill-container">
                    <div class="col-lg-12 p-a-0 messages-list bg-white b-r flexbox-xs layout-column-xs full-height">
                        <div class="message-header">
                            <div class="message-toolbar">
                                <form class="form-inline">
                                    <input class="form-control" type="text" placeholder="Search messages" ng-model="search">
                                </form>
                            </div>
                        </div>
                        <div class="flex-xs scroll-y">
                            <div class="table-responsive pagination-small pagination-fixed-bottom">
                                <table class="message-list w-100" ng-table="tblResumeEmailList">
                                    <caption></caption>
                                    <tbody>
                                        <tr onclick="$('tr.bg-default').removeClass('bg-default'); $(this).addClass('bg-default')" ng-if="$first" ng-repeat="resumeEmail in resumeEmailList | filter:search" class="message-list-item" ng-class="{'bg-default-dark text-muted font-weight-normal':!resumeEmail.IsRead,'bg-default':$first }" ng-click="showResumeEmailDetails(resumeEmail.Id);">
                                            <td>
                                                <a href=" javascript:;" class="b-b" data-toggle="message">
                                                    <div class="circle-icon font-21 bg-primary pull-left m-r-1"> {{resumeEmail.Name[0]}}</div>
                                                    <div class="message-list-item-header">
                                                        <div class="time">{{resumeEmail.Date | date:'medium'}}</div>
                                                        <span class="bold unread" ng-bind="resumeEmail.Name"></span>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-7 p-0">{{resumeEmail.SourceEmail}}</div>
                                                        <div class="col-md-3 p-0" ng-if="selectedResumeEmail.EmailAttachment.length!=0">
                                                            <span title="Contains Attachment" class="pull-right">
                                                                <i class="material-icons font-16">attachment</i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr onclick="$('tr.bg-default').removeClass('bg-default'); $(this).addClass('bg-default')" ng-if="!$first" ng-repeat="resumeEmail in resumeEmailList | filter:search" class="message-list-item" ng-class="{'bg-default-dark text-muted font-weight-normal':!resumeEmail.IsRead,'bg-default':$first }" ng-click="showResumeEmailDetails(resumeEmail.Id);">
                                            <td>
                                                <a href=" javascript:;" class="b-b" data-toggle="message">
                                                    <div class="circle-icon font-21 bg-primary pull-left m-r-1">{{resumeEmail.Name[0]}}</div>
                                                    <div class="message-list-item-header">
                                                        <div class="time">{{resumeEmail.Date | date:'medium'}}</div>
                                                        <span class="bold unread" ng-bind="resumeEmail.Name"></span>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-7 p-0">{{resumeEmail.SourceEmail}}</div>
                                                        <div class="col-md-3 p-0" ng-if="selectedResumeEmail.EmailAttachment.length!=0">
                                                            <span title="Contains Attachment" class="pull-right">
                                                                <i class="material-icons font-16">attachment</i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flexbox-xs layout-column-xs message-view col-md-7 p-0">
                <div class="message-header">
                    <div class="message-toolbar">
                        <a ng-click="createCandidateView();" class="btn btn-outline-primary btn-sm ">Add candidate</a>
                        <a href="javascript:;" class="hidden-lg-up" data-toggle="message"><i class="material-icons m-r-1">arrow_back</i></a>
                    </div>
                </div>
                <div class="message-body flex-xs scroll-y">
                    <div class="p-a-1">
                        <div class="avatar-lg email-circle-icon pull-left m-r-1 circle-icon font-21 bg-primary">
                            {{selectedResumeEmail.Name[0]}}</div>
                        <div class="overflow-hidden">
                            <div class="date" ng-bind="selectedResumeEmail.Date | date:'medium'"></div>
                            <h4 class="lead m-t-0" ng-bind="selectedResumeEmail.Name"></h4>
                            <div class="message-sender">
                                <p>
                                    <b ng-bind="selectedResumeEmail.SourceEmail"></b><br />
                                    <b ng-bind="selectedResumeEmail.Subject"></b>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="m-a-1">
                        <div class="bg-default rounded p-a-1" ng-if="selectedResumeEmail.EmailAttachment.length > 0">
                            <p>
                                <a ng-repeat="attachment in selectedResumeEmail.EmailAttachment" target="_self" ng-href="{{'data:;base64,' + attachment.Data}}" type="application/json" download="{{attachment.Name}}" ng-if="attachment.Name" class="btn btn-sm btn-secondary btn-icon"><i class="fa fa-file-o"></i> <span>
                                        {{attachment.Name}}</span></a>
                                <a ng-repeat="attachment in selectedResumeEmail.EmailAttachment" target="_self" ng-href="{{'data:;base64,' + attachment.Data}}" type="application/json" download="{{attachment.Name}}" ng-if="!attachment.Name" class="btn btn-sm btn-secondary btn-icon"><i class="fa fa-file-o"></i>
                                    <span>{{'noName'+ $index}}</span></a>
                            </p>
                        </div>
                    </div>
                    <div class="p-a-1">
                        <p ng-bind-html="trustHtml(selectedResumeEmail.Html);"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>