﻿<div class="title-section row">
    <div class="col-sm-4 text-lg-right">
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="form-horizontal" name="companySearchForm" novalidate>
                <fieldset class="form-group" style="padding-top: 10px;padding-bottom:10px">
                    <legend></legend>
                    <div class="col-sm-2">
                        <label>Submit Resume<span class="bold text-red"></span></label>
                    </div>
                    <div class="col-sm-6">
                        <input type="file" class="form-control-file" id="exampleInputFile"
                               ng-model="candidateResumeInputModel.resume" ng-file-model="candidateResumeInputModel.resume">
                        <small class="text-muted">Provide Resume file.</small>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" ng-click="standaloneCandidateResumeParserResult(candidateResumeInputModel)">
                        </button>
                    </div>
                </fieldset>

                <div>
                    <div class="card shadow">
                        <div class="card-block" style="height: 600px">
                            
                            <fieldset class="form-group">
                                <legend></legend>
                                <div class="col-sm-4">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" ng-model="candidateResumeOutputModel.FirstName" name="FirstName" />
                                </div>
                                <div class="col-sm-4">
                                    <label>Middle Name</label>
                                    <input class="form-control" ng-model="candidateResumeOutputModel.MiddleName" name="MiddleName" />
                                </div>
                                <div class="col-sm-4">
                                    <label>Last Name</label>
                                    <input class="form-control"ng-model="candidateResumeOutputModel.LastName"name="LastName" />
                                </div>
                            </fieldset>

                            <fieldset class="form-group">
                                <legend></legend>
                                <div class="col-sm-4">
                                    <label>Email</label>
                                    <input type="text" class="form-control"ng-model="candidateResumeOutputModel.PrimaryEmail" name="PrimaryEmail" />
                                </div>
                                <div class="col-sm-4">
                                    <label>Mobile</label>
                                    <input type="text" class="form-control"ng-model="candidateResumeOutputModel.Mobile" name="Mobile" />
                                </div>
                                <div class="col-sm-4">
                                    <label>Phone number</label>
                                    <input type="text" class="form-control" ng-model="candidateResumeOutputModel.Phone" name="Phone" />
                                </div>
                            </fieldset>

                            <fieldset class="form-group">
                                <legend></legend>
                                <div class="col-sm-12">
                                    <label>Skill(s)</label>
                                    <input type="text" class="form-control" ng-model="candidateResumeOutputModel.Skills" name="Skills" />
                                    </div>
                            </fieldset>

                            <fieldset class="form-group">
                                <legend></legend>
                                <div class="col-sm-12">
                                    <label>Degree(s)</label>
                                    <input type="text" class="form-control" ng-model="candidateResumeOutputModel.DegreeList" name="Courses" />
                                </div>
                            </fieldset>

                            <fieldset class="form-group">
                                <legend></legend>
                                <div class="col-sm-12">
                                    <label>Education Institution(s)</label>
                                    <input type="text" class="form-control"ng-model="candidateResumeOutputModel.SchoolList" name="SchoolList" />
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-4">
                                    <label>Street Line</label>
                                    <input type="text" class="form-control" ng-model="candidateResumeOutputModel.Address1" name="Address1" />
                                </div>
                                <div class="col-sm-4">
                                    <label>City</label>
                                    <input type="text" class="form-control"  ng-model="candidateResumeOutputModel.City" name="City" />
                                </div>
                                <div class="col-sm-4">
                                    <label>State</label>
                                    <input type="text" class="form-control" ng-model="candidateResumeOutputModel.State" name="State" />
                                </div>
                                <div class="col-sm-4">
                                    <label>Country</label>
                                    <input type="text" class="form-control"ng-model="candidateResumeOutputModel.Country"
                                </div>
                                <div class="col-sm-4">
                                    <label>Zip</label>
                                    <input type="text" class="form-control" ng-model="candidateResumeOutputModel.Zip" name="Zip" />
                                </div>
                            </fieldset>

                            <!--<div class="card-block">-->
                            <!--<div ng-if="selectedCompany.dataSource=='Wikidata'" style="margin-top:25px">
                    <h5 class="bold card-title text-primary no-bg m-b-1">Google API</h5>
                    <fieldset class="form-group">
                        <div class="col-sm-4">
                            <label>Description</label>
                            <input type="text" class="form-control"
                                   ng-model="selectedCompany.googleDescription"
                                   name="googleDescription" />
                        </div>
                        <div class="col-sm-4">
                            <label>DetailedDescription</label>
                            <textarea class="form-control"
                                      ng-model="selectedCompany.googleDetailedDescription"
                                      name="googleDetailedDescription" />
                        </div>
                        <div class="col-sm-4">
                            <label>Website</label>
                            <input type="text" class="form-control"
                                   ng-model="selectedCompany.googleWebsite"
                                   name="googleWebsite" />
                        </div>
                </fieldset>
                    <!--<div class="card-block">-->
                            <!--<h5 class="bold card-title text-primary no-bg m-b-1">1. Profile Info</h5>-->
                            <!--<fieldset class="form-group">
                        <div class="col-sm-4">
                            <label>WikipediaPage</label>
                            <input type="text" class="form-control"
                                   ng-model="selectedCompany.googleWikipediaPage"
                                   name="googleWikipediaPage" />
                        </div>
                        <div class="col-sm-4">
                            <label>ImageLink</label>
                            <img ng-if="selectedCompany.logoLink" ng-src="{{selectedCompany.googleImageLink}}" lazy-src
                                 class="img-responsive logo-img profile-avatar">
                        </div>
                        <div class="col-sm-4">
                            <label>ResultScore</label>
                            <input type="text" class="form-control"
                                   ng-model="selectedCompany.googleResultScore"
                                   name="googleResultScore" />
                        </div>
                    </fieldset>-->
                        </div>
                    </div>
                </div>
            </form>
                </div>        
        </div>
    </div>