﻿ <!-- The Modal - view client profile -->
<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <form autocomplete="off" class="form-horizontal" name="candidateSubmissionPopupForm" novalidate>
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="submitPopupCancel();">&times;</button>
                    <h4 class="modal-title"> <i class="material-icons font-36 m-r-xs" aria-hidden="true">info_outline </i> Candidate(s) Submission</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12 col-sm-12">
                            <div class="card disp-block">
                               
                                <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">account_circle </i>Company</div>
                                <div class="card-block">
                                    <select name="companyId" class="select2 w-100" ui-select2 data-placeholder="Select Company" ng-model="CandidateSubmissionModel.CompanyId" ng-change="getRequirementListByCompany(CandidateSubmissionModel.CompanyId)"
                                            validation="required:alt=Company required.">
                                        <option value=""></option>
                                        <option ng-repeat="company in lookup.company" repeat-end="CallSelect2()" value="{{company.Id}}" ng-bind="company.Name"></option>
                                    </select>
                                </div>

                                <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">assignment </i>Requirement</div>
                                <div class="card-block">
                                    <select name="jobId" class="select2 w-100" ui-select2="{allowClear: true}" data-placeholder="Select Requirement" ng-model="CandidateSubmissionModel.JobId"
                                            validation="required:alt=Requirement needed.">
                                        <option value=""></option>
                                        <option ng-repeat="requirement in lookup.requirement" value="{{requirement.Id}}"
                                                ng-bind-template="{{requirement.RequisitionId + ' : ' + requirement.JobTitle}}"></option>
                                    </select>
                                </div>
                                <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">people </i>Selected candidate(s)</div>
                                <div class="card-block">                                 
                                    <span class="tag bg-dark m-r-xs font-12" ng-repeat="candidate in candidateSubmissionList">
                                        {{candidate.Title}} {{candidate.FirstName}} {{candidate.MiddleName}} {{candidate.LastName}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" ng-click="submitCandidateProcess(candidateSubmissionPopupForm)"  class=" btn btn-primary btn-sm btn-icon loading-demo m-r-xs font-12 "><i class=" material-icons"> check</i><span>Submit</span></button>
                    <button type="button" ng-click="submitPopupCancel();" class="btn btn-outline-danger btn-sm font-12" data-dismiss="modal">Close</button>
                </div>
                </form>

</div>
    </div>
</div>