﻿<div class="main-content">
    <div class="content-view client-profile-list">

        <div class="card">
            <div class="card-block">

                <div class="row">
                    <div class="col-md-8">

                        <div class="input-container">
                            <input type="file" accept=".pdf,.doc,.docx,.txt" ng-bulk-upload="common.bulkUploadResume"
                                multiple id="real-input">
                            <button class="browse-btn chk-label">Browse Files</button>
                            <span class="file-info">Upload resume files</span>
                        </div>
                        <span class="fa fa-info-circle "></span> Please select files from pdf,doc,docx or txt. Max upload size is 10 MB.
                    </div>

                    <div class="col-md-2">
                        <a ng-click="goToCandidateList()" href class="btn btn-outline-primary  btn-sm btn-icon  loading-demo  m-b-xs font-12 btn-block"><i class="material-icons"> list</i><span>View candidates</span></a>
                    </div>
                </div>

                <div class="row" ng-if="common.bulkUploadResume">
                    <div class="col-md-4">
                        <div ng-show="common.bulkUploadResume.length < 1">
                            <div class="card-block   text-center">
                                <div class="sk-wave center-block">
                                    <div class="sk-rect sk-rect1"></div>
                                    <div class="sk-rect sk-rect2"></div>
                                    <div class="sk-rect sk-rect3"></div>
                                    <div class="sk-rect sk-rect4"></div>
                                    <div class="sk-rect sk-rect5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="mt-5 text-xs-right">
                            <span class="font-14 font-weight-medium" ng-show="common.bulkUploadResume.totalFileSize">
                                Total Size: {{ common.bulkUploadResume.totalFileSize/1024/1024|number:3 }} MB</span></p>
                    </div>
                    <div class="col-md-2">
                        <a href="javascript:" ng-click="uploadAllResumes()" ng-disabled="!common.bulkUploadResume.length || common.bulkUploadResume.progress == 100 || !common.bulkUploadResume.totalFileSize"
                            class="btn btn-success  btn-sm btn-icon  loading-demo  m-b-xs font-12   btn-block"><i
                                class="material-icons"> file_upload</i><span>Upload all</span></a>
                    </div>
                    <div class="col-md-2">
                        <a href="javascript:" ng-click="clearAllResumes()" class="btn btn-danger  btn-sm btn-icon loading-demo m-b-xs font-12 btn-block"><i class="material-icons"> remove_circle_outline</i><span>Remove all</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" ng-show="common.bulkUploadResume">
            <div class="card-block">
                <table class="table  table-responsive">
                    <caption></caption>
                    <thead class="bg-primary">
                        <tr>
                            <th scope="col">File name</th>
                            <th scope="col">Size</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in common.bulkUploadResume track by $index" ng-if="item != null">

                            <td data-title="File name">
                                <label class="labelauty-label">
                                    <div class="card-title display-flex font-12 text-primary">
                                        <span>{{ item.name }}</span>
                                        <div class="text-danger" ng-show="item.invalidResumeFile">
                                            Error: Invalid file type!
                                        </div>
                                    </div>
                                </label>
                            </td>

                            <td data-title="Size">
                                <label class="labelauty-label">
                                    <div class="card-title display-flex font-12 ">{{ item.size/1024/1024|number:3 }} MB</div>
                                </label>
                            </td>

                            <td data-title="Status">
                                <label class="labelauty-label">
                                    <div class="card-title display-flex font-12">
                                        <span class="fa fa-clock-o font-21 text-danger"></span>
                                    </div>
                                </label>
                            </td>

                            <td data-title="Action">
                                <label class="labelauty-label">
                                    <div class="card-title display-flex font-12">
                                        <button type="button" ng-click="removeSelectedResume($index)"
                                                class="btn btn-outline-primary  btn-sm   loading-demo   m-b-xs font-12 mb-0"
                                                data-toggle="tooltip" title="" data-original-title="Discard">
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </div>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    const uploadButton = document.querySelector('.browse-btn');
    const fileInfo = document.querySelector('.file-info');
    const realInput = document.getElementById('real-input');

    uploadButton.addEventListener('click', (e) => {
        realInput.click();
    });

    realInput.addEventListener('change', () => {
        const name = realInput.value.split(/\\|\//).pop();
        const truncated = name.length > 20 ?
            name.substr(name.length - 20) :
            name;

        fileInfo.innerHTML = "..." + truncated;
    });
</script>