<div class="app expanding fixed-header" ui-view style="height:100vh;" ng-class="{'offcanvas': main.app.offcanvas, 'expanding': main.app.expanding, 'fixed-header': main.app.fixedHeader, 'static': main.app.static, 'message-open': main.app.isMessageOpen, 'contact-open': main.app.isContactOpen}">
    <div class="off-canvas-overlay" ng-click="main.toggleMenu()"></div>
    <div class="main-panel">
        <div class="main-content">
            <div class="content-view">
                <div ng-switch="subview">
                    <div ng-switch-when="login">
                        <div ng-include=" 'views/login.html' "></div>
                    </div>
                    <div ng-switch-when="register">
                        <div ng-include=" 'views/register.html' "></div>
                    </div>
                    <div ng-switch-when="forgotPassword">
                        <div ng-include=" 'views/forgotPassword.html' "></div>
                    </div>
                    <div ng-switch-when="resetPassword">
                        <div ng-include=" 'views/resetPassword.html' "></div>
                    </div>
                    <div ng-switch-when="test">
                        <div ng-include=" 'views/test.html' "></div>
                    </div>

                    <div ng-switch-when="PaymentReturn">
                        <div ng-include="'views/PaymentReturn.html'"></div>
                    </div>
                </div>
            </div>
            <!-- bottom footer -->
            <div class="content-footer p-a-xs" ng-include="'views/common/footer.html'"></div>
            <!-- /bottom footer -->
        </div>
        <!-- /main area -->
    </div>
    <!-- /content panel -->
    <!-- options panel -->
    
    <!-- /options panel -->
    <!-- chat -->
    <div class="chat-panel" ng-class="{'conversation-open': app.layout.isConversationOpen}" ng-include="'views/common/chat-panel.html'"></div>
    <!-- /chat -->
</div>