﻿<div class="main-content" ng-init="checkUserAccess();getOrganizationDetails()">
    <div class="content-view">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane active" id="company-detail" role="tabpanel" aria-expanded="true">
                    <div class="flex-xs scroll-y p-a-2">
                        <div class="column-equal m-b-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-sm-2" style="width:100px"><img ng-if="organizationDetails.logoImagePath" ng-src="{{organizationDetails.logoImagePath}}" class="avatar avatar-lg img-circle" alt="">
                                        <img ng-if="!organizationDetails.logoImagePath" ng-src="{{configuration.XSEED_NO_IMAGE_COMPANY_PATH}}" class="avatar avatar-lg img-circle" alt=""></div>

                                    <div class="col-sm-9 v-align-middle p-l-2">
                                        <h1><b>{{organizationDetails.OrganizationName}}</b></h1>
                                        <h4><a class="text-primary" target="_blank" ng-if="organizationDetails.Website" href="{{organizationDetails.Website|addHttpOrHttps}}"> {{organizationDetails.Website ? organizationDetails.Website : 'Not Available'}}</a></h4>
                                        <p style="margin-bottom: 0">
                                            <a ng-if="organizationDetails.LinkedInURL" target="_blank" href="{{organizationDetails.LinkedInURL|addHttpOrHttps}}" class="btn btn-outline-primary btn-sm"><span class="fa fa-linkedin"></span>  </a>
                                            <a ng-if="organizationDetails.TwitterURL" target="_blank" href="{{organizationDetails.TwitterURL|addHttpOrHttps}}" class="btn btn-outline-info btn-sm"><span class="fa fa-twitter"></span> </a>
                                            <a ng-if="organizationDetails.FacebookURL" target="_blank" href="{{organizationDetails.FacebookURL|addHttpOrHttps}}" class="btn btn-outline-primary btn-sm"><span class="fa fa-facebook"></span></a>
                                            <a ng-if="organizationDetails.GooglePlusURL" target="_blank" href="{{organizationDetails.GooglePlusURL|addHttpOrHttps}}" class="btn btn-outline-danger btn-sm"><span class="fa fa-google-plus"></span> </a>
                                            <a ng-if="organizationDetails.YouTubeURL" target="_blank" href="{{organizationDetails.YouTubeURL|addHttpOrHttps}}" class="btn btn-outline-danger btn-sm"><span class="fa fa-youtube-play"></span> </a>
                                            <a ng-if="userDetails.Organization_Update == 'True'" href="#/editOrganization" class="btn btn-outline-primary btn-sm pull-right">Edit </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6 v-align-middle p-l-2 separator">
                                    <h5 ng-class="organizationDetails.PhoneNumber ? '' : (!organizationDetails.PhoneNumber ? 'text-muted' : '')"><i class="material-icons" aria-hidden="true">local_phone </i> {{organizationDetails.PhoneNumber ? organizationDetails.PhoneNumber : 'Not Available' | ContactFilter}} </h5>
                                    <h5><i class="material-icons" aria-hidden="true">place </i> <span ng-class="organizationDetails.Address1 ? '' : (!organizationDetails.Address1 ? 'text-muted' : '')">{{organizationDetails.Address1 ? organizationDetails.Address1 : 'Not Available'}}</span> </h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span class="bold text-uppercase">Via website</span>
                                <p>
                                    <a class="text-primary" target="_blank" href="{{organizationDetails.Website|addHttpOrHttps}}"> {{organizationDetails.Website}}</a></p>
                                    <span ng-if="!organizationDetails.Website" class="text-muted">Not Available</span>
                            </div>
                            <div class="col-md-3">
                                <span class="bold text-uppercase">Address 1</span>
                                <p ng-class="organizationDetails.Address1 ? '' : (!organizationDetails.Address1 ? 'text-muted' : '')">{{organizationDetails.Address1 ? organizationDetails.Address1 : 'Not Available'}}</p>
                            </div>
                            <div class="col-md-3">
                                <span class="bold text-uppercase">Address 2</span>
                                <p ng-class="organizationDetails.Address2 ? '' : (!organizationDetails.Address2 ? 'text-muted' : '')">{{organizationDetails.Address2 ? organizationDetails.Address2 : 'Not Available'}}</p>
                            </div>
                            <div class="col-md-3">
                                <span class="bold text-uppercase">City</span>
                                <p ng-class="organizationDetails.City ? '' : (!organizationDetails.City ? 'text-muted' : '')">{{organizationDetails.City ? organizationDetails.City:'Not Available'}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span class="bold text-uppercase">State</span>
                                <p ng-class="organizationDetails.State ? '' : (!organizationDetails.State ? 'text-muted' : '')">{{organizationDetails.State ? organizationDetails.State:'Not Available'}}</p>
                            </div>
                            <div class="col-md-3">
                                <span class="bold text-uppercase">Country</span>
                                <p ng-class="organizationDetails.Country ? '' : (!organizationDetails.Country ? 'text-muted' : '')">{{organizationDetails.Country ? organizationDetails.Country : 'Not Available'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>