﻿<div ng-switch="subview">
    <div ng-switch-when="organizationProfile">
        <div ng-include=" 'views/organization/organizationProfile.html' "></div>
    </div>
    <div ng-switch-when="editOrganization">
        <div ng-include=" 'views/organization/editOrganization.html' "></div>
    </div>

    <div ng-switch-when="Pricing">
        <div ng-include=" 'views/organization/PricingPlan.html' "></div>
    </div>

    <div ng-switch-when="systemUsers">
        <div ng-include=" 'views/users/sysUsers.html' "></div>
    </div>

    <div ng-switch-when="createNewUser">
        <div ng-include=" 'views/users/createNewUser.html' "></div>
    </div>

    <div ng-switch-when="editUser">
        <div ng-include=" 'views/users/editUser.html' "></div>
    </div>

    <div ng-switch-when="userProfile">
        <div ng-include=" 'views/users/userProfile.html' "></div>
    </div>

    <div ng-switch-when="createUserRole" ng-controller="UserRoleCtrl">
        <div ng-include=" 'views/users/createUserRole.html' "></div>
    </div>

    <div ng-switch-when="userRoles" ng-controller="UserRoleCtrl">
        <div ng-include=" 'views/users/userRoles.html' "></div>
    </div>

    <div ng-switch-when="userEmailConfiguration">
        <div ng-include=" 'views/users/userEmailConfiguration.html' "></div>
    </div>



</div>