﻿<div class="main-content" ng-init="checkUserAccess();GetSubscriptionPlans()">
    <div class="content-view">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane active" id="company-detail" role="tabpanel" aria-expanded="true">
                    <div class="flex-xs scroll-y p-a-2">
                        <div class="column-equal m-b-2">
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <div class="text-xs-center m-b-xs b-b">
                                        <img src="images/logo-b.png" class="img-responsive center-block" alt="Logo Image" />
                                        <h5>Please select best plan for you</h5>
                                    </div>
                                    <div class="PricingPlans">
                                        <div class="container">
                                            <div class="row text-xs-center  " style="    background-color: #003087!important;
                                            border-bottom: thick solid rgb(216, 216, 216);color: #fff;background-color: #003087!important;">
                                                <div class="col-xs-12 col-sm-4">
                                                    <h3 style="margin-top: 42px;" class="my_planTitle"> Features</h3>
                                                </div>
                                                <div class="col-xs-12 col-sm-8">
                                                    <div class="row">
                                                        <div class="col-xs-4 my_planHeader my_plan1" ng-repeat="plan in PricingPlans | uniquePricingPlan :plan  ">
                                                            <div class="my_planTitle">{{plan.PlanName}}</div>
                                                            <div class="my_planPrice">${{plan.PlanPrice}}</div>
                                                            <span ng-if="userDetails.ActivePlanId==plan.Id" ng-init="GetActivePlanPrice(plan.PlanPrice)"> </span>                                                        
                                                            <div class="my_planDuration"> {{plan.Description}} </div>
                                                            <button ng-if="userDetails.ActivePlanId!=plan.Id" ng-click="SelectedPricingPlan(plan,registerResponse)" type="button" class="btn btn-warning">Upgrade</button>
                                                            <h2 style="margin-bottom: 0;" ng-if="userDetails.ActivePlanId==plan.Id">Active</h2>
                                                            <h2 style="margin-bottom: 3px;" ng-if="ActivPlanPrice > plan.PlanPrice">Expired</h2>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row  price text-xs-center" ng-repeat="plan in Name ">
                                                <div class="col-xs-12 col-sm-4 my_feature">
                                                    {{plan.Feature}}
                                                </div>

                                                <div class="col-xs-8 col-md-8" style="font-size: 1.4rem;">
                                                    <div class="col-xs-4 col-sm-4 ">
                                                        <i ng-if="plan.temprory[0].PlanId=PlanArray[0] &&plan.temprory[0].Status==1" style="color: green;">✔</i>
                                                    </div>

                                                    <div class="col-xs-4 col-sm-4 ">
                                                        <i ng-if="plan.temprory[1].PlanId=PlanArray[1] &&plan.temprory[1].Status==1" style="color: green;">✔</i>
                                                    </div>

                                                    <div class="col-xs-4 col-sm-4 ">
                                                        <i ng-if="plan.temprory[2].PlanId=PlanArray[2]&& plan.temprory[2].Status==1" style="color: green;">✔</i>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row bg-grey text-xs-center" style="padding: 10px;font-size: 18px;background-color: #003087!important;">
                                                Pay secure with PayPal
                                            </div>
                                            <div class="row bg-white  text-xs-center">
                                                <img src="images/Full_Online_Tray_RGB.png" style="margin-top: 10px;    width: 66%;" alt="Logo Image"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>