 
 
    <div class="header-inner">
        <div class="navbar-item   brand  ">
            <a href="javascript:toggleSidebar('in')" class="toggle-offscreen"><i class="material-icons">menu</i> </a>
            <a class="brand-logo hidden-xs-down"> </a>
        </div><a class="navbar-item navbar-spacer-right navbar-heading
              hidden-md-down text-white" href="#"><span>{{pageTitle}}</span></a>

        <div class="navbar-item nav navbar-nav">

            <div class="nav-item nav-link dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons">notifications</i> <span class="tag
                    tag-danger">4</span>
                </a>
                <div class="dropdown-menu
                  dropdown-menu-right notifications">
                    <div class="dropdown-item">
                        <div class="notifications-wrapper">
                            <ul class="notifications-list">
                                <li>
                                    <a href="javascript:;">
                                        <div class="notification-icon">
                                            <div class="circle-icon
                                bg-success text-white"><i class="material-icons">arrow_upward</i></div>
                                        </div>
                                        <div class="notification-message"><b>Sean</b> launched a new application <span class="time">2 seconds ago</span></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="notification-icon">
                                            <div class="circle-icon bg-danger text-white"><i class="material-icons">check</i></div>
                                        </div>
                                        <div class="notification-message"><b>Removed calendar</b> from app list <span class="time">4 hours ago</span></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="notification-icon">
                                            <span class="circle-icon bg-info text-white">J</span>
                                        </span><div class="notification-message">
                                            <b>Jack Hunt</b> has
                                            <b>joined</b> mailing list <span class="time">
                                                9
                                                days ago
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="notification-icon">
                                            <span class="circle-icon bg-primary text-white">C</span>
                                        </span><div class="notification-message">
                                            <b>Conan Johns</b>
                                            created a new list <span class="time">9 days ago</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="notification-footer">Notifications</div>
                    </div>
                </div>
            </div>

            <div class="nav-item nav-link dropdown">
                <div class="nav-profile dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <div class="user-image" style="display: -webkit-box">
                            <img style="width: 2.8rem;" src="images\avatar.jpeg" class="avatar
                          img-circle" alt="user" title="user">
                            <div class="user-info
                          expanding-hidden" style=" margin-left: 5px;">
                                <span style="color: #fff; font-weight: bold;"> Betty Simmons</span> <i class="material-icons">arrow_drop_down</i>
                                <!-- <small class="bold">Administrator</small> -->
                            </div>
                        </div>

                    </a>
                    <div class="dropdown-menu" style="width: -webkit-fill-available;">
                        <a class="dropdown-item" href="javascript:;">Settings</a>
                        <a class="dropdown-item" href="javascript:;">Upgrade</a> <a class="dropdown-item" href="javascript:;">
                            <span>Notifications</span>
                            <span class="tag bg-primary">34</span>
                        </a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="javascript:;">Help</a> <a class="dropdown-item" href="">Logout</a>
                    </div>
                </div>
            </div>

        </div>
 </div>