
<div class="brand">
    <a href="javascript:toggleSidebar('out');" class="toggle-offscreen hidden-lg-up">
        <i class="material-icons">menu</i>
    </a>
    <a class="brand-logo" ng-href="#/dashboard">
        <img class="expanding-hidden" src="images\logo-b.png" alt="">
        <img class="expanding-show mono-icon" src="images\xseed-icon.png" alt="">
    </a>

</div>
<div class="nav-profile dropdown">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
        <div class="user-image">
            <img ng-if="userDetails.ProfileImage" ng-src="{{ userDetails.ProfileImage }}" lazy-src class="avatar img-circle" alt="user" title="user" />
            <img ng-if="!userDetails.ProfileImage" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src class="avatar img-circle" alt="user" title="user" />
        </div>
        <div class="user-info expanding-hidden">
            <span ng-bind="userDetails.FirstName"></span>
            <span ng-bind="userDetails.LastName"></span>
            <small class="bold" ng-bind="userDetails.RoleName"></small>
        </div>
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="javascript:;" ng-if="userDetails.Organization_Read == 'True'" ui-sref-active="active" href="javascript: void(0);" ng-click="main.toggleMenu();goToView('organizationProfile')">
            <span  translate="menu.Organization"></span>
        </a>
        <a class="dropdown-item" href="javascript:void(0);" ng-click="logOut()">Logout</a>
    </div>

</div>
<nav>
    <p class="nav-title">NAVIGATION</p>
    <ul class="nav">
        <li data-toggle="tooltip" data-placement="right" title="{{menu.DASHBOARD}}">
            <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('dashboard')">
                <i class="material-icons text-primary">home</i>
                <span translate="menu.DASHBOARD"></span>
            </a>
        </li>

        <li data-toggle="tooltip" data-placement="right" title="{{menu.Requirements}}" ng-if="userDetails.Requirement_Read == 'True'" ui-sref-active="active">
            <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('requirementList')">
                <span class="menu-caret">
                </span><i class="material-icons text-success">library_books</i>
                <span translate="menu.Requirements"></span>
            </a>
        </li>

        <li data-toggle="tooltip" data-placement="right" title="{{menu.Candidates}}" ng-if="userDetails.Candidate_Read == 'True'" ui-sref-active="active">
            <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('candidateList')">
                <span class="menu-caret">
                </span><i class="material-icons text-danger">people</i>
                <span translate="menu.Candidates"></span>
            </a>
        </li>

        <li data-toggle="tooltip" data-placement="right" title="{{menu.Submissions}}" ng-if="userDetails.Submission_Read == 'True'" ui-sref-active="active">
            <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('submissions')">
                <span class="menu-caret">
                </span><i class="material-icons text-warning">contact_mail</i>
                <span translate="menu.Submissions"></span>
            </a>
        </li>

        <li data-toggle="tooltip" data-placement="right" title="{{menu.Company}}" ng-if="userDetails.Company_Read == 'True'" ui-sref-active="active">
            <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('companyList')">
                <span class="menu-caret">
                </span><i class="material-icons  text-info">account_balance</i>
                <span translate="menu.Company"></span>
            </a>
        </li>


            <li>
                <a href="javascript:;" data-toggle="tooltip" data-placement="right" title="{{menu.Account}}">
                    <span class="menu-caret"><i class="material-icons">arrow_drop_down</i> </span>
                    <i class="material-icons text-success">insert_chart</i>
                    <span translate="menu.Account"></span>
                </a>

                <ul class="sub-menu">
                    <li data-toggle="tooltip" data-placement="right" title="{{menu.Organization}}" ng-if="userDetails.Organization_Read == 'True'" ui-sref-active="active">
                        <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('organizationProfile')">
                            <i class="material-icons   text-secondary">library_books</i>
                            <span translate="menu.Organization"></span>
                        </a>
                    </li>
                    <li data-toggle="tooltip" data-placement="right" title="{{menu.UserRoles}}" ng-if="userDetails.RoleName == 'Application Administrator'" ui-sref-active=" active">
                        <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('userRoles')">
                            <i class="material-icons   text-secondary">library_books</i>
                            <span translate="menu.UserRoles"></span>
                        </a>
                    </li>

                    <li data-toggle="tooltip" data-placement="right" title="{{menu.ChangePassword}}" ui-sref-active="active">
                        <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('changePassword')">
                            <i class="material-icons   text-secondary">library_books</i>
                            <span translate="menu.ChangePassword"></span>
                        </a>
                    </li>
                </ul>
            </li>
    </ul>

        <p class="nav-title">OTHER</p>
                <ul class="nav">
                    <li ng-if="userDetails.Reports_Read == 'True'" ui-sref-active="active" >
                        <a href="javascript:;" data-toggle="tooltip" data-placement="right" title="{{menu.Reports}}">
                            <span class="menu-caret"><i class="material-icons">arrow_drop_down</i> </span>
                            <i class="material-icons text-success">insert_chart</i>
                            <span translate="menu.Reports"></span>
                        </a>

                        <ul class="sub-menu">
                            <li data-toggle="tooltip" data-placement="right" title="Requirement Tracker">
                                <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('reports',['type','requirement_tracker'])">
                                    <i class="material-icons   text-secondary">library_books</i>
                                    <span>Requirements Tracker</span>
                                </a>
                            </li>
                            <li data-toggle="tooltip" data-placement="right" title="Candidate report">
                                <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('reports',['type','submissions'])">
                                    <i class="material-icons   text-danger">people</i>
                                    <span>Submissions</span>
                                </a>
                            </li>
                            <li data-toggle="tooltip" data-placement="right" title="Activity Report">
                                <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('reports',['type','activity_report'])">
                                    <i class="material-icons  text-secondary ">timeline</i>
                                    <span>Activity Report</span>
                                </a>
                            </li>
                            <li data-toggle="tooltip" data-placement="right" title="Candidates">
                                <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('reports',['type','candidates'])">
                                    <i class="material-icons   text-warning">contact_mail</i>
                                    <span>Candidates</span>
                                </a>
                            </li>
                            <li data-toggle="tooltip" data-placement="right" title="Client Leads">
                                <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('reports',['type','client_leads'])">
                                    <i class="material-icons  text-info">account_balance</i>
                                    <span>Client Leads</span>
                                </a>
                            </li>
                            <li data-toggle="tooltip" data-placement="right" title="Closures">
                                <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('reports',['type','closures'])">
                                    <i class="material-icons  text-success">insert_invitation</i>
                                    <span>Closures</span>
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li data-toggle="tooltip" data-placement="right" title="{{menu.QueryBuilder}}">
                        <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('queryBuilder')">
                            <span class="menu-caret">
                            </span><i class="material-icons  text-secondary">query_builder</i>
                            <span translate="menu.QueryBuilder"></span>
                        </a>
                    </li>
                    <li data-toggle="tooltip" data-placement="right" title="{{menu.ResumeBlaster}}">
                        <a href="javascript: void(0);" ng-click="main.toggleMenu();goToView('resumeBlasterList')">
                            <span class="menu-caret">
                            </span><i class="material-icons  text-secondary">contact_mail</i>
                            <span translate="menu.ResumeBlaster"></span>
                        </a>
                    </li>

                </ul>
</nav>
