﻿<div class="title-section">
    <!--<div class="col-sm-8">
        <h4>Change User Password</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>-->
</div>

<div class="col-sm-12">
    <div class="card">
        <div class="card-block">
            <form class="form-horizontal row" name="changePasswordForm" novalidate>
                <fieldset class="form-group">
                    <div id="additional-details">
                        <div class="col-sm-4">
                            <fieldset class="form-group">
                                <label>Current password <span class="bold text-red">*</span></label>
                                <input type="password"
                                       class="form-control"
                                       id="oldPassword"
                                       placeholder="Current Password"
                                       name="oldPassword"
                                       block-clipboard
                                       friendly-name="Current password"
                                       ng-model="changePasswordModel.OldPassword"
                                       autocomplete="off"
                                       validation="required|min_len:8|max_len:16|xseed_password" />
                            </fieldset>

                            <fieldset class="form-group">
                                <label>New password <span class="bold text-red">*</span></label>
                                <input type="password"
                                       class="form-control"
                                       id="newPassword"
                                       placeholder="New Password"
                                       name="newPassword"
                                       block-clipboard
                                       ng-model="changePasswordModel.NewPassword"
                                       friendly-name="New password"
                                       autocomplete="off"
                                       validation="required|min_len:8|max_len:16|xseed_password|xseed_password_different:changePasswordModel.OldPassword,New password, Current password" />
                            </fieldset>

                            <fieldset class="form-group">
                                <label>Confirm new password <span class="bold text-red">*</span></label>
                                <input type="password"
                                       class="form-control"
                                       placeholder="Confirm Password"
                                       id="confirmPassword"
                                       block-clipboard name="confirmPassword"
                                       ng-model="changePasswordModel.ConfirmPassword"
                                       friendly-name="Confirm new password"
                                       autocomplete="off"
                                       validation="required|xseed_password_match:changePasswordModel.NewPassword,Confirm new password,New password" " />
                            </fieldset>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary" ng-click="changePassword(changePasswordForm);">Submit</button>
                        <button type="submit" class="btn btn-secondary" ng-click="gotoHome();">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>