﻿<div ng-init="getOrganizationUsers();">
    <div class="card-header p-a-xs m-b-xs clearfix">
        <div class="row m-b-xs">
            <div class="col-xs-9">
                <form class="search-form">
                    <i class="material-icons p-l-xs p-r-xs">search</i>
                    <input class="form-control form-control-sm bg-white" type="text" placeholder="Search" ng-focus="main.focusOn()"
                           ng-blur="main.focusOff()" autofocus="true" ng-model="searchUsers" maxlength="25">
                </form>
            </div>
            <div class="col-sm-3" ng-if="userDetails.Organization_Create == 'True'">
                <a class="btn btn-danger btn-sm small pull-right" role="button" href="#/createNewuser">
                    <i class="fa fa-plus m-r-xs" aria-hidden="true"></i>User
                </a>
            </div>
        </div>
    </div>
    <div>
        <uib-tabset active="active">
            <uib-tab index="0">
                <uib-tab-heading>
                    <i class="fa fa-user font-18 text-grey-dark"></i><span class="hidden-sm-down"> Active</span>
                </uib-tab-heading>
                <div class="row">
                    <div class="col-sm-12 no-contacts p-a-3 border-warning no-record-block ng-scope" ng-if="UsersIsActive">
                        <p class="text-shadow lead text-xs-center">
                            <img src="images/search.png"><br>
                            No enabled users!
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4" ng-repeat="organizationUser in organizationUsers|filter: {Name: searchUsers} " ng-if="organizationUser.IsActive">
                        <div class="card shadow m-b-xs">
                            <div class="card-block clearfix">
                                <div class="">
                                    <div class="col-xs-2 p-l-0">
                                        <!--<img data-ng-src="https://newimages.bwwstatic.com/upload10/849876/08_Jackman_085_400x400.jpg" class="avatar avatar-md img-circle" alt="" src="https://newimages.bwwstatic.com/upload10/849876/08_Jackman_085_400x400.jpg">-->
                                        <img ng-if="organizationUser.ProfileImage" class="media-object avatar avatar-4wh img-circle" ng-src="{{configuration.XSEED_ORGUSER_IMAGE_PATH + organizationUser.ProfileImage}}" lazy-src>
                                        <img ng-if="!organizationUser.ProfileImage" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src class="avatar avatar-4wh img-circle" title="user" />
                                    </div>
                                    <div class="col-xs-10 v-align-middle">
                                        <h6 class="font-weight-medium text-primary"
                                            data-title="'Name'" filter="{ 'Name': 'text'}" data-sortable="'Name'"
                                            ng-init="organizationUser.Name= getFullName(organizationUser.FirstName, organizationUser.LastName)"
                                            ng-bind="organizationUser.Name"
                                            ng-click="getOrganizationCurrentUserDetails(organizationUser.PrimaryEmail,organizationUser.UserId,organizationUser.RoleId,'userProfile');"></h6>
                                        <strong class="m-a-0" data-title="'Role'" filter="{ 'Role': 'text'}" data-sortable="'RoleName'" header-class="'bg-primary'"
                                                ng-bind="organizationUser.RoleName"></strong>
                                        <p class="m-a-0 text-grey" data-title="'Email'" filter="{ 'PrimaryEmail': 'text'}" data-sortable="'PrimaryEmail'" header-class="'bg-primary'"
                                           ng-bind="organizationUser.PrimaryEmail"></p>
                                        <p class="m-a-0 text-grey" data-title="'Contact'" filter="{ 'Contact': 'number'}" data-sortable="'Contact'" header-class="'bg-primary'"
                                           ng-bind="organizationUser.Mobile"></p>
                                        <!--<label class="c-input c-checkbox pull-right">
                                            <input type="checkbox" ng-model="organizationUser.IsActive" ng-click="EnableDisableUser(organizationUser.UserId, organizationUser.OrganizationId, organizationUser.IsActive);" />
                                            <span class="c-indicator">
                                            </span>
                                        </label>-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1">
                <uib-tab-heading>
                    <i class="fa fa-user-times font-18 text-grey-dark"></i><span class="hidden-sm-down"> Disabled</span>
                </uib-tab-heading>
                <div class="row">
                    <div class="col-sm-12 no-contacts p-a-3 border-warning no-record-block ng-scope" ng-if="UsersIsDisable">
                        <p class="text-shadow lead text-xs-center">
                            <img src="images/search.png"><br>
                            No disabled users!
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4" ng-repeat="organizationUser in organizationUsers|filter: {Name: searchUsers}" ng-if="!organizationUser.IsActive">

                        <div class="card shadow m-b-xs">
                            <div class="card-block clearfix">
                                <div class="">
                                    <div class="col-xs-2 p-l-0">
                                        <!--<img data-ng-src="https://newimages.bwwstatic.com/upload10/849876/08_Jackman_085_400x400.jpg" class="avatar avatar-md img-circle" alt="" src="https://newimages.bwwstatic.com/upload10/849876/08_Jackman_085_400x400.jpg">-->
                                        <img ng-if="organizationUser.ProfileImage" class="media-object avatar avatar-4wh img-circle" ng-src="{{configuration.XSEED_ORGUSER_IMAGE_PATH + organizationUser.ProfileImage}}" lazy-src>
                                        <img ng-if="!organizationUser.ProfileImage" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src class="avatar avatar-4wh img-circle" title="user" />
                                    </div>
                                    <div class="col-xs-10 v-align-middle">
                                        <h6 class="font-weight-medium text-primary"
                                            data-title="'Name'" filter="{ 'Name': 'text'}" data-sortable="'Name'"
                                            ng-init="organizationUser.Name= getFullName(organizationUser.FirstName, organizationUser.LastName)"
                                            ng-bind="organizationUser.Name"
                                            ng-click="getOrganizationCurrentUserDetails(organizationUser.PrimaryEmail,organizationUser.UserId,organizationUser.RoleId,'userProfile');"></h6>
                                        <strong class="m-a-0" data-title="'Role'" filter="{ 'Role': 'text'}" data-sortable="'RoleName'" header-class="'bg-primary'"
                                                ng-bind="organizationUser.RoleName"></strong>
                                        <p class="m-a-0 text-grey" data-title="'Email'" filter="{ 'PrimaryEmail': 'text'}" data-sortable="'PrimaryEmail'" header-class="'bg-primary'"
                                           ng-bind="organizationUser.PrimaryEmail"></p>
                                        <p class="m-a-0 text-grey" data-title="'Contact'" filter="{ 'Contact': 'number'}" data-sortable="'Contact'" header-class="'bg-primary'"
                                           ng-bind="organizationUser.Mobile"></p>
                                        <!--<label class="c-input c-checkbox pull-right">
                                            <input type="checkbox" ng-model="organizationUser.IsActive" ng-click="EnableDisableUser(organizationUser.UserId, organizationUser.OrganizationId, organizationUser.IsActive);" />
                                            <span class="c-indicator">
                                            </span>
                                        </label>-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </uib-tab>
        </uib-tabset>
    </div>
</div>

<script id="uib/template/tabs/tab.html" type="text/ng-template">
    <li class="nav-item">
        <a href class="nav-link" ng-click="select()" uib-tab-heading-transclude ng-class="{active: active
, disabled: disabled}">{{heading}}</a>
    </li>
</script>