﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-md">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal" name="addCityMasterForm" novalidate>
                <div class="modal-header bg-primary-lighter">
                    <button type="button" class="close" data-dismiss="modal" ng-click="submitPopupCancel();" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add City</h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="form-group m-b-xs clearfix">
                        <div class="col-sm-3">
                            <label class="text-muted">Country<span class="bold text-red">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <select name="CountryId"
                                    ui-select2
                                    data-placeholder="Select Country"
                                    ng-model="common.addCityMaster.CountryId"
                                    ng-click="getStateListByCountry(common.addCityMaster.CountryId)"
                                    validation="required:alt=country required.">
                                <option value=""></option>
                                <option ng-repeat="country in metadata.GetAncillaryInformationResponse.countryList.country" value="{{country.Id}}"
                                        ng-bind="country.Name"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group m-b-xs clearfix">
                        <div class="col-sm-3 p-t-1">
                            <label class="text-muted">State<span class="bold text-red">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <select name="companyId"
                                    ui-select2
                                    data-placeholder="Select State"
                                    ng-model="common.addCityMaster.StateId"
                                    ng-click="getCityListByState(common.addCityMaster.StateId)"
                                    validation="required:alt=State required.">
                                <option value=""></option>
                                <option ng-repeat="state in stateList" value="{{state.Id}}"
                                        ng-bind="state.Name"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group m-b-xs clearfix">
                        <div class="col-sm-3 p-t-1">
                            <label class="text-muted">City<span class="bold text-red">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" name="City"
                                   placeholder="Enter city"
                                   ng-model="common.addCityMaster.City"
                                   validation="required:alt=City is required.|max_len:50|xseed_alpha_dash_dot_apostrophe:alt=City may only contain letters, dots, dashes and apostrophe." />
                        </div>
                    </div>
                    <div class="col-sm-9 col-sm-offset-3 p-a-xs">
                        <button type="button" class="btn btn-sm small btn-primary" ng-click="addCityMaster(addCityMasterForm)">
                            Save
                        </button>
                        <button type="button" class="btn btn-sm small btn-danger" ng-click="closeAddNewCityToMasterModal();">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>