﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal" name="candidatesToSubmitForm" novalidate>
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h4 class="modal-title">
                        <span>Candidate List</span>
                    </h4>
                </div>
                <div class="modal-body p-a-1">
                    <div style="height:270px;" scrollable always-visible="true">
                        <div class="row">
                            <div class="card m-b-0">
                                <div class="card-block p-a-0">
                                    <div id="candidatesToSubmitDiv" class="table-responsive scroll slimScroll">
                                        <table ng-table="common.tblCandidatesToSubmitList" class="table table-bordered table-sm table-hover text-nowrap small p-a-xs m-a-0">
                                            <tbody>
                                                <tr ng-repeat="mCandidate in common.monsterCandidate">
                                                    <td scope="row" data-title="'Action'" header-class="'bg-primary'">
                                                        <a ng-click="downloadMonsterCandidate(mCandidate.ResumeId,mCandidate.ModifiedDate,mCandidate.FirstName,mCandidate.LastName);" style="color:blue;">Download</a>
                                                    </td>
                                                    <td scope="row" data-title="'Source'" header-class="'bg-primary'">Monster</td>
                                                    <td scope="row" data-title="'First Name'" header-class="'bg-primary'" ng-bind="mCandidate.FirstName"></td>
                                                    <td scope="row" data-title="'Last Name'" header-class="'bg-primary'" ng-bind="mCandidate.LastName"></td>
                                                    <td scope="row" data-title="'Created Date'" header-class="'bg-primary'" ng-bind="mCandidate.CreatedDate"></td>
                                                    <td scope="row" data-title="'Modified Date'" header-class="'bg-primary'" ng-bind="mCandidate.ModifiedDate"></td>
                                                    <td scope="row" data-title="'Current Job Title'" header-class="'bg-primary'" ng-bind="mCandidate.CurrentJobTitle"></td>
                                                    <td scope="row" data-title="'Current Company'" header-class="'bg-primary'" ng-bind="mCandidate.CurrentCompany"></td>
                                                    <td scope="row" data-title="'Education'" header-class="'bg-primary'" ng-bind="mCandidate.Education"></td>
                                                    <td scope="row" data-title="'Location'" header-class="'bg-primary'" ng-bind="mCandidate.Location"></td>
                                                    <td scope="row" data-title="'Relevance'" header-class="'bg-primary'" ng-bind="mCandidate.Relevance"></td>
                                                    <td scope="row" data-title="'Distance'" header-class="'bg-primary'" ng-bind="mCandidate.Distance"></td>
                                                    <td scope="row" data-title="'Resume Title'" header-class="'bg-primary'" ng-bind="mCandidate.ResumeTitle"></td>
                                                    <td scope="row" data-title="'Confidential'" header-class="'bg-primary'" ng-bind="mCandidate.Confidential"></td>
                                                    <td scope="row" data-title="'Country'" header-class="'bg-primary'" ng-bind="mCandidate.Country"></td>
                                                    <td scope="row" data-title="'State'" header-class="'bg-primary'" ng-bind="mCandidate.State"></td>
                                                    <td scope="row" data-title="'City'" header-class="'bg-primary'" ng-bind="mCandidate.City"></td>
                                                    <td scope="row" data-title="'PostalCode'" header-class="'bg-primary'" ng-bind="mCandidate.PostalCode"></td>
                                                    <td scope="row" data-title="'Service Flag'" header-class="'bg-primary'" ng-bind="mCandidate.ServiceFlag"></td>
                                                    <td scope="row" data-title="'Military Involvement'" header-class="'bg-primary'" ng-bind="mCandidate.MilitaryInvolvement"></td>
                                                    <td scope="row" data-title="'Target Job Title'" header-class="'bg-primary'" ng-bind="mCandidate.TargetJobTitle"></td>
                                                    <td scope="row" data-title="'Target Relocation'" header-class="'bg-primary'" ng-bind="mCandidate.TargetRelocation"></td>
                                                    <td scope="row" data-title="'Expected Minimum Salary'" header-class="'bg-primary'" ng-bind="mCandidate.TargetMinSalary"></td>
                                                    <td scope="row" data-title="'Expected Maximum Salary'" header-class="'bg-primary'" ng-bind="mCandidate.TargetMaxSalary"></td>
                                                    <td scope="row" data-title="'Target Salary Type'" header-class="'bg-primary'" ng-bind="mCandidate.TargetSalaryType"></td>
                                                    <td scope="row" data-title="'Target Salary Currency'" header-class="'bg-primary'" ng-bind="mCandidate.TargetSalaryCurrency"></td>
                                                    <td scope="row" data-title="'Work Auth Type'" header-class="'bg-primary'" ng-bind="mCandidate.WorkAuthType"></td>
                                                    <td scope="row" data-title="'Work Auth Country'" header-class="'bg-primary'" ng-bind="mCandidate.WorkAuthCountry"></td>
                                                    <td scope="row" data-title="'Board'" header-class="'bg-primary'" ng-bind="mCandidate.Board"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div ng-if="common.jobList.length == 0" class="no-contacts layout-column scroll-y">
                                            <h3 class="text-shadow text-muted">
                                                No requirements found matching criteria.
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>