﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-md">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal input-border-b" name="commonEmailForm" novalidate>
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <span class="h5 bold" ng-if="commonEmailModel.typeOfNotification != constants.showActivityEmail"><i class="fa fa-paper-plane m-r-xs"></i>Compose</span>
                    <span class="h5 bold" ng-if="commonEmailModel.typeOfNotification === constants.showActivityEmail"><i class="fa fa-envelope m-r-xs"></i>Sent</span>
                </div>
                <div class="modal-body p-a-1 p-t-xs p-b-xs">
                    <div class="card m-b-xs border-dark">
                        <div class="card-block p-t-xs p-b-xs">
                            <div class="form-group row m-b-xs">
                                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label text-grey align-middle m-b-0 m-t-xs">From</label>
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                    <input type="text" ng-model="commonEmailModel.FromEmailID" placeholder="From" class="form-control form-control-sm" name="From" validation="required|max_len:250" ng-disabled="commonEmailModel.typeOfNotification === constants.showActivityEmail">
                                </div>
                            </div>
                            <div class="form-group row m-b-xs">
                                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label  m-b-0 m-t-xs">To</label>
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                    <input type="text" ng-model="commonEmailModel.ToEmailID" placeholder="To" class="form-control form-control-sm" name="To" validation="required:alt=email is required.|xseed_email_list|max_len:500" ng-disabled="commonEmailModel.typeOfNotification === constants.showActivityEmail">
                                </div>
                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label  m-b-0 m-t-xs">
                                    <span class="pull-right">
                                        <a data-toggle="collapse" class="label label-default label-md text-grey m-r-xs" aria-expanded="false" aria-controls="more" data-target="#ccandbcc">Cc</a>
                                        <a data-toggle="collapse" class="label label-default label-md text-grey" aria-expanded="false" aria-controls="more" data-target="#bcc">Bcc</a>
                                    </span>
                                </div>
                            </div>
                            <div ng-class="{'collapse':!commonEmailModel.ToCC.length}" id="ccandbcc">
                                <div class="form-group row m-b-xs">
                                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label  m-b-0 m-t-xs">Cc</label>
                                    <div id="cc" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" ng-model="commonEmailModel.ToCC" placeholder="Cc" class="form-control form-control-sm" name="Cc" validation="max_len:250|xseed_email_list" ng-disabled="commonEmailModel.typeOfNotification === constants.showActivityEmail">
                                    </div>
                                </div>
                            </div>
                            <div ng-class="{'collapse':!commonEmailModel.ToBCC.length}" id="bcc">
                                <div class="form-group row m-b-0">
                                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label  m-b-0 m-t-xs">Bcc</label>
                                    <div id="bcc" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" ng-model="commonEmailModel.ToBCC" placeholder="Bcc" class="form-control form-control-sm" name="Bcc" validation="max_len:250|xseed_email_list" ng-disabled="commonEmailModel.typeOfNotification === constants.showActivityEmail">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card m-b-xs border-dark">
                        <div class="card-block p-t-xs p-b-xs">
                            <div class="form-group row m-b-0">
                                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label m-b-0 m-t-xs">Subject</label>
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                    <input type="text" ng-model="commonEmailModel.MailSubject" placeholder="Subject" class="form-control form-control-sm" name="Subject" validation="max_len:100" ng-disabled="commonEmailModel.typeOfNotification === constants.showActivityEmail">
                                </div>
                                <div class="col-sm-1" ng-if="commonEmailModel.typeOfNotification != constants.showActivityEmail">
                                    <label class="file btn btn-default btn-sm btn-icon-icon">
                                        <i class="fa fa-paperclip"></i>
                                        <input type="file" nv-file-select="" uploader="upload.uploader" multiple ng-model="commonEmailModel.MailAttachment"
                                               ng-multi-file-model="commonEmailModel.MailAttachment" name="MailAttachment" />
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card m-b-xs border-dark" ng-if="commonEmailModel.MailAttachment">
                        <div class="card-block p-t-xs p-b-xs">
                            <div class="form-group row m-b-0">
                                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label m-b-0 m-t-xs">Attached</label>
                                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                                    <span ng-repeat="file in commonEmailModel.MailAttachment track by $index" ng-if="file!=null && commonEmailModel.typeOfNotification != constants.showActivityEmail" class="btn btn-default btn-sm small btn-round" ng-click="removeAttachement($index);">{{file.name}} <i class="fa fa-close"></i> </span>
                                    <a class="btn btn-default btn-sm small btn-round" uib-tooltip="Download" ng-repeat="file in commonEmailModel.MailAttachment track by $index" ng-if="file!=null && commonEmailModel.typeOfNotification === constants.showActivityEmail" target="_self" ng-href="{{file.data}}" type="application/json" download="{{file.name}}"> {{file.name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card m-b-xs border-dark">
                        <div class="card-block p-t-xs p-b-xs">
                            <div class="form-group row m-b-0">
                                <div class="scroll-y slimScroll" style="height:250px;" scrollable always-visible="true">
                                    <div class="example" ng-if="commonEmailModel.typeOfNotification != constants.showActivityEmail">
                                        <summernote id="summernote" name="MailBody" ng-model="commonEmailModel.MailBody" placeholder="type your content here..." config="summernoteOptions" validation="required"></summernote>
                                    </div>
                                    <div ng-if="commonEmailModel.typeOfNotification === constants.showActivityEmail" ng-disabled="commonEmailModel.typeOfNotification === constants.showActivityEmail" ng-bind-html="trustHtml(commonEmailModel.MailBody)" class="card-block p-a-xs clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-0" ng-if="commonEmailModel.typeOfNotification === constants.submitCandidateByEmail">
                        <div class="col-sm-12">
                            <p class="card-subtitle">
                                <i class="fa fa-info-circle"></i>
                                <span class="text-muted">
                                    Resumes of selected candidates will be attached(if present) while sending the mail.
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-default p-a-xs">
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10" ng-if="commonEmailModel.typeOfNotification != constants.showActivityEmail">
                            <button class="btn btn-primary small btn-sm" type="submit" ng-click="commonEmailForm.$valid && sendEmailNotification(commonEmailForm)" ng-disabled="commonEmailForm.$invalid">Send</button>
                            <button type="button" class="btn btn-danger small btn-sm" ng-click="closeCommonEmailModal()">Cancel</button>
                        </div>
                        <div class="col-lg-offset-2 col-lg-10" ng-if="commonEmailModel.typeOfNotification === constants.showActivityEmail">
                            <button type="button" class="btn btn-danger small btn-sm" ng-click="closeCommonEmailModal()">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>