﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated slideInDown">
            <div class="modal-header bg-primary">
                <span class="h5">Submissions by- {{submissionsReportModel.modalTitle}}</span>
                <button type="button" class="close" data-dismiss="modal" ng-click="closeSubmissionChartDetailsModal()" aria-label="Close">
                    <i class="fa fa-close"></i>
                </button>
            </div>
            <div class="modal-body clearfix p-a-xs">
                <div style="max-height:480px;" class="scroll slimScroll" always-visible="true">
                    <div id="submissionDiv" class="table-responsive scroll slimScroll fixed_headers td-col-md">
                        <table ng-table="submissionList" class="table table-striped table-hover table-bordered table-sm table-hover text-nowrap small m-a-0">
                            <tbody class="scroll slimScroll">
                                <tr ng-repeat="submission in submissions">
                                    <td header-class="'bg-primary'" data-title="'Candidate Name'" data-sortable="'CandidateName'" ng-attr-title="{{submission.CandidateList[0].Name}}">
                                        <a ng-if="submission.CandidateList[0].Name" ng-click="openCandidateFromOtherSection(submission.CandidateList[0].Id);" ng-bind="submission.CandidateList[0].Name" style="color:blue;"></a>
                                    </td>
                                    <td header-class="'bg-primary'" data-title="'Client Name'" data-sortable="'JobDetail.CompanyDetail.Name'" ng-bind="submission.CompanyName" ng-attr-title="{{submission.CompanyName}}"></td>
                                    <td header-class="'bg-primary'" data-title="'Client Email'" ng-bind="submission.ContactEmailList" ng-attr-title="{{submission.ContactEmailList}}"></td>
                                    <td header-class="'bg-primary'" data-title="'Requirement Title'" data-sortable="'JobDetail.JobTitle'" ng-attr-title="{{submission.JobTitle}}">
                                        <a ng-if="submission.JobTitle" ng-click="openRequirementFromOtherSection(submission.JobId);" ng-bind="submission.JobTitle" style="color:blue;"></a>
                                    </td>
                                    <td header-class="'bg-primary'" data-title="'Requirement Code'" data-sortable="'JobDetail.RequisitionId'" ng-bind="submission.JobCode"></td>
                                    <td header-class="'bg-primary'" data-title="'Requirement Type'" data-sortable="'JobDetail.JobTypeMaster.Type'" ng-bind="submission.JobType"></td>
                                    <td header-class="'bg-primary'" data-title="'Status'" data-sortable="'Status'" ng-bind="submission.Status"></td>
                                    <td header-class="'bg-primary'" data-title="'Recruiter'" data-sortable="'OrganizationUserDetail.FirstName'" ng-bind="submission.OrganizationUserName"></td>
                                    <td header-class="'bg-primary'" data-title="'Submitted By'" data-sortable="'CreatedBy'" ng-bind="submission.CreatedBy"></td>
                                    <td header-class="'bg-primary'" data-title="'Submitted Date'" data-sortable="'AssignedDate'" ng-bind="submission.AssignedDate| date: MM/dd/yyyy"></td>
                                    <td header-class="'bg-primary'" data-title="'Modified By'" data-sortable="'ModifiedOn'" ng-bind="submission.ModifiedBy" ng-attr-title="{{submission.ModifiedBy + ' On ' + (submission.ModifiedOn| date: MM/dd/yyyy)}}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="submissions.length == 0" class="no-contacts layout-column">
                            <h3 class="text-shadow text-muted">
                                No submissions found.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
</script>

<script id="uib/template/tabs/tab.html" type="text/ng-template">
    <li class="nav-item">
        <a href class="nav-link" ng-click="select()" uib-tab-heading-transclude ng-class="{active: active
, disabled: disabled}">{{heading}}</a>
    </li>
</script>