﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated slideInDown">
            <div class="modal-header bg-primary">
                <span class="h5"><i class="fa fa-share-square-o m-r-xs" aria-hidden="true"></i>Submit Candidate(s)</span>
                <button type="button" class="close" data-dismiss="modal" ng-click="closeCandidateSearchModal()" aria-label="Close">
                    <i class="fa fa-close"></i>
                </button>
            </div>
            <div class="modal-body clearfix p-a-xs">
                <div style="max-height:480px;" class="scroll slimScroll" always-visible="true">
                    <div class="row m-b-xs">
                        <div class="col-sm-12">
                            <span title="Requirement"><i class="material-icons text-grey font-18 v-align-middle">assignment</i><span class="v-align-middle">{{common.selectedJob.JobTitle}} -</span></span>
                            <span title="Requirement ID" class="v-align-middle">{{common.selectedJob.RequisitionId}}</span>
                        </div>
                    </div>
                    <div class="row m-b-xs">
                        <div class="col-sm-12">
                            <form name="searchSubmissionForm" class="search-form" autocomplete="off" novalidate>
                                <div class="input-group">
                                    <i class="material-icons text-dark-default">search</i>
                                    <input name="searchCandidates" class="form-control form-control-sm p-a-0 p-l-1 p-t-xs no-bg" type="text" placeholder="Search by: CandidateId , Name , Email , Contact , CreatedBy" maxlength="100" ng-model="common.advanceSearchModel.SearchExact" ng-enter="getAdvanceSearchedCandidateList()" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn bg-primary btn-secondary small btn-sm pull-right" ng-disabled="!common.advanceSearchModel.SearchExact" ng-click="getAdvanceSearchedCandidateList()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button class="btn bg-primary btn-sm small btn-secondary loading-demo" tooltip-placement="left" uib-tooltip="Reset" ng-click="resetCandidateAdvanceSearch();" ng-disabled="!candidateAdvanceSearchFlag">
                                            <i class="fa fa-refresh"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card clearfix m-b-0">
                                <div class="card-block p-a-0 clearfix">
                                    <div id="candidateDiv" class="table-responsive scroll slimScroll fixed_headers fixed_headers-col-1-xs td-col-md">
                                        <table ng-table="common.tblCandidateList" class="table table-striped table-hover table-bordered table-sm table-hover text-nowrap small m-a-0">
                                            <tbody class="slimScroll">
                                                <tr ng-repeat="candidate in common.candidateList" ng-dblclick="openCandidateFromOtherSection(candidate._id);">
                                                    <td header-class="'bg-primary'" header="'ng-table/headers/checkbox.html'" class="text-xs-center">
                                                        <input type="checkbox" ng-model="checkboxes.items[candidate._id]" />
                                                    </td>
                                                    <td data-title="'Status'" data-sortable="'Status'" header-class="'bg-primary'" class="text-xs-center">
                                                        <span class="label label-md label-danger" ng-if="candidate.Status== 'Active'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                                        <span class="label label-md label-primary" ng-if="candidate.Status== 'DNC'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                                        <span class="label label-md label-success" ng-if="candidate.Status== 'New'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                                        <span class="label label-md label-info" ng-if="candidate.Status== 'Not Looking'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                                        <span class="label label-md label-default" ng-if="candidate.Status== 'Passive'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                                        <span class="label label-md label-info" ng-if="candidate.Status== 'Placed'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                                        <span class="label label-md label-default" ng-if="candidate.Status== 'Unresponsive'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                                        <span ng-if="candidate.Status=== null"></span>
                                                    </td>
                                                    <td data-title="'CandidateId'" data-sortable="'CandidateId'" header-class="'bg-primary'" ng-bind="candidate.CandidateId"></td>
                                                    <td data-title="'Name'" filter="{ 'FullName': 'text'}" data-sortable="'FirstName'" header-class="'bg-primary'" ng-bind="candidate.FullName" ng-init="candidate.FullName= getCandidateFullName(candidate.Title, candidate.FirstName, candidate.MiddleName, candidate.LastName)" ng-attr-title="{{candidate.FullName}}"></td>
                                                    <td data-title="'Mobile'" data-sortable="'Mobile'" header-class="'bg-primary'" ng-bind="candidate.Mobile"></td>
                                                    <td data-title="'Home Phone'" data-sortable="'Phone'" header-class="'bg-primary'" ng-bind="candidate.Phone"></td>
                                                    <td data-title="'Work Phone'" data-sortable="'WorkPhone'" header-class="'bg-primary'" ng-bind="candidate.WorkPhone"></td>
                                                    <td data-title="'Company Name'" data-sortable="'CompanyName'" header-class="'bg-primary'" ng-bind="candidate.CompanyName" ng-attr-title="{{candidate.CompanyName}}"></td>
                                                    <td data-title="'Email'" data-sortable="'PrimaryEmail'" header-class="'bg-primary'" ng-bind="candidate.PrimaryEmail" ng-attr-title="{{candidate.PrimaryEmail}}"></td>
                                                    <td data-title="'Profile Title'" data-sortable="'ProfileTitle'" header-class="'bg-primary'" ng-bind="candidate.ProfileTitle" ng-attr-title="{{candidate.ProfileTitle}}"></td>
                                                    <td data-title="'Skill'" filter="{ 'sString': 'text'}" ng-bind="candidate.Skills" data-sortable="'Skills'" header-class="'bg-primary'" ng-attr-title="{{candidate.Skills}}"></td>

                                                    <td data-title="'Total Exp'" data-sortable="'ExperienceInYear'" header-class="'bg-primary'" class="text-xs-center">
                                                        <span ng-bind="candidate.ExperienceInYear"></span>
                                                        <span ng-if="candidate.ExperienceInMonth != null && candidate.ExperienceInMonth >= 0">.</span>
                                                        <span ng-bind="candidate.ExperienceInMonth"></span>
                                                    </td>
                                                    <td data-title="'US Exp'" data-sortable="'USExperienceInYear'" header-class="'bg-primary'" class="text-xs-center">
                                                        <span ng-bind="candidate.USExperienceInYear"></span>
                                                        <span ng-if="candidate.USExperienceInMonth != null && candidate.USExperienceInMonth >= 0">.</span>
                                                        <span ng-bind="candidate.USExperienceInMonth"></span>
                                                    </td>

                                                    <td data-title="'SSN'" data-sortable="'SSN'" header-class="'bg-primary'" ng-bind="candidate.SSN"></td>
                                                    <td data-title="'Categories'" data-sortable="'Categories'" header-class="'bg-primary'" ng-bind="candidate.Categories"></td>
                                                    <td data-title="'Groups'" data-sortable="'Groups'" header-class="'bg-primary'" ng-bind="candidate.Groups"></td>
                                                    <td data-title="'Created By'" data-sortable="'CreatedByName'" header-class="'bg-primary'" ng-bind="candidate.CreatedByName" ng-attr-title="{{candidate.CreatedByName}}"></td>
                                                    <td data-title="'Created Date'" data-sortable="'CreatedOn'" header-class="'bg-primary'" ng-bind="candidate.CreatedOn| date: MM/dd/yyyy" ng-attr-title="{{candidate.CreatedOn| date: MM/dd/yyyy}}"></td>
                                                    <td data-title="'Edited Date'" data-sortable="'ModifiedOn'" header-class="'bg-primary'" ng-bind="candidate.ModifiedOn| date: MM/dd/yyyy" ng-attr-title="{{candidate.ModifiedOn| date: MM/dd/yyyy}}"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div ng-if="common.candidateList.length == 0" class="no-contacts layout-column">
                                            <h3 class="text-shadow text-muted">
                                                No candidates found matching criteria.
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer p-a-xs">
                <div class="row">
                    <div class="col-sm-12">
                        <button ng-if="userDetails.Submission_Create == 'True'" type="button" class="btn btn-success small pull-right" ng-click="openCandidateSubmissionModal('Multiple');" ng-disabled="checkedCount== 0">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
</script>

<script id="uib/template/tabs/tab.html" type="text/ng-template">
    <li class="nav-item">
        <a href class="nav-link" ng-click="select()" uib-tab-heading-transclude ng-class="{active: active
, disabled: disabled}">{{heading}}</a>
    </li>
</script>