﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-md">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal" name="RequirementTransferForm" novalidate>
                <div class="modal-header bg-primary-lighter">
                    <button type="button" class="close" data-dismiss="modal" ng-click="closeTransferRequirementModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Transfer Requirements</h4>
                </div>

                <div class="modal-body clearfix">

                    <div class="row m-b-xs">
                        <div class="col-sm-3">
                            <label class="text-muted">Old User</label>
                        </div>
                        <div class="col-sm-9">
                            <input tabindex="7" type="text" class="form-control form-control-sm" placeholder="Enter company requirement code"
                                   ng-model="TransferRequirementsModel.FullName"
                                   name="clientJobCode"
                                   validation="max_len:50"
                                   ng-disabled="true" />
                        </div>
                    </div>

                    <div class="row m-b-xs clearfix">
                        <div class="col-sm-3">
                            <label class="text-muted">New User<span class="bold text-red">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <select name="TransferedUserId"
                                    ui-select2
                                    data-placeholder="Select User"
                                    ng-model="TransferRequirementsModel.TransferedUserId"
                                    validation="required:alt=User required.">
                                <option value=""></option>
                                <option ng-repeat="users in OraganizationUsers" value="{{users.Id}}"
                                        ng-bind="users.Name"></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-9 col-sm-offset-3 p-a-xs">
                        <button type="button" class="btn btn-sm small btn-primary" ng-click="TransferRequirements(TransferRequirementsModel.UserId,TransferRequirementsModel.TransferedUserId,RequirementTransferForm)">
                            Transfer
                        </button>

                        <button type="button" class="btn btn-sm small btn-danger" ng-click="closeTransferRequirementModal()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>