﻿<div class="modal" animate="animate" modal-animation="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content animated slideInDown">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" ng-click="closeVendorDetail()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" ng-bind="vendorDetailModel.Name"></h4>
            </div>
            <div class="modal-body clearfix p-a-xs">
                <div style="height:500px;" class="scroll slimScroll" always-visible="true">
                    <div class="row p-a-2">
                        <div class="col-sm-12">
                            <div>
                                <i class="fa fa-envelope text-muted fa-2x p-r-1"></i>
                                <label class="text-muted">Source Email(s)</label>
                            </div>
                            <div><label ng-repeat="email in vendorDetailModel.SourceEmailList track by $index" class="bg-grey border-radius-4 p-l-xs m-r-xs p-r-xs text-white round" ng-bind="email"></label></div>
                            <hr />
                        </div>
                        <div class="col-sm-12">
                            <div>
                                <i class="fa fa-envelope-o text-muted fa-2x p-r-1"></i>
                                <label class="text-muted">Destination Email</label>
                            </div>
                            <div><label class="bg-grey border-radius-4 p-l-xs m-r-xs p-r-xs text-white round" ng-bind="vendorDetailModel.DestinationEmailId"></label></div>
                            <hr />
                        </div>
                        <div class="col-sm-12">
                            <div>
                                <i class="fa fa-clock-o text-muted fa-2x p-r-1"></i>
                                <label class="text-muted">Created On</label>
                            </div>
                            <div><p class="bold font-14" ng-bind="vendorDetailModel.CreatedOn | date:'medium'"></p></div>
                            <hr />
                        </div>
                        <div class="col-sm-12">
                            <div>
                                <i class="fa fa-user text-muted fa-2x p-r-1"></i>
                                <label class="text-muted">Created By</label>
                            </div>
                            <div><p class="bold font-14" ng-bind="vendorDetailModel.CreatedBy"></p></div>
                            <hr />
                        </div>
                        <div class="col-sm-12" ng-if="vendorDetailModel.ModifiedOn">
                            <div>
                                <i class="fa fa-clock-o text-muted fa-2x p-r-1"></i>
                                <label class="text-muted">Modified On</label>
                            </div>
                            <div><p class="bold font-14" ng-bind="vendorDetailModel.ModifiedOn | date:'medium'"></p></div>
                            <hr />
                        </div>
                        <div class="col-sm-12" ng-if="vendorDetailModel.ModifiedBy">
                            <div>
                                <i class="fa fa-user text-muted fa-2x p-r-1"></i>
                                <label class="text-muted">Modified By</label>
                            </div>
                            <div><p class="bold font-14" ng-bind="vendorDetailModel.ModifiedBy"></p></div>
                            <hr />
                        </div>
                        <div class="col-sm-12" ng-if="vendorDetailModel.Details">
                            <div>
                                <i class="fa fa-info-circle text-muted fa-2x p-r-1"></i>
                                <label class="text-muted">Details</label>
                            </div>
                            <div><p class="bold font-14" ng-bind="vendorDetailModel.Details"></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/. Modal -->
