<div class="title-section" ng-init="checkUserAccess();">
    <div class="row animate slideInDown hidden-sm-up m-b-1">
        <div class="col-xs-2">
            <div class="notification-bar-icon-small text-xs-center">
                <a href="#/requirementList" target="_blank">
                    <div class="bg-cyan"><i class="material-icons text-white no-bg" style="top:54%;">assignment</i></div>
                </a>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="notification-bar-icon-small text-xs-center">
                <a href="#/submissions" target="_blank">
                    <div class="bg-indigo">
                        <i class="material-icons no-bg text-white" aria-hidden="true" style="top:54%;">
                            assignment_turned_in
                        </i>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="notification-bar-icon-small text-xs-center">
                <a href="#/candidateList" target="_blank">
                    <div class="bg-deeppurple"><i class="material-icons text-white no-bg" style="top:54%;">person</i></div>
                </a>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="notification-bar-icon-small text-xs-center">
                <a href="#/companyList" target="_blank">
                    <div class="bg-blue">
                        <i class="material-icons text-white no-bg" aria-hidden="true" style="top:54%;">
                            business
                        </i>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row animate slideInDown hidden-xs-down">
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card shadow m-b-xs">
                <div class="card-block p-l-1 p-r-1 clearfix">
                    <div class="notification-bar-icon text-xs-center pull-left">
                        <div class="bg-cyan"><i class="material-icons text-white no-bg" style="top:54%;">assignment</i></div>
                    </div>
                    <div class="notification-bar-details p-l-1 p-r-xs pull-left p-r-0 p-b-xs b-r">
                        <a href="#/requirementList" target="_blank" class="notification-bar-title text-underline">Requirements</a>
                        <span class="text-muted">{{DashboardModel.JobsAddedToday}} Added Today</span>
                    </div>
                    <div class="notification-bar-details text-xs-center">
                        <p class="text-muted m-a-0">Total</p>
                        <span class="text-danger bold font-12">{{DashboardModel.TotalJobs}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card shadow m-b-xs">
                <div class="card-block p-l-1 p-r-1 clearfix">
                    <div class="notification-bar-icon text-xs-center pull-left">
                        <div class="bg-indigo">
                            <i class="material-icons no-bg text-white" aria-hidden="true" style="top:54%;">
                                assignment_turned_in
                            </i>
                        </div>
                    </div>
                    <div class="notification-bar-details p-l-1 p-r-xs pull-left p-r-0 p-b-xs b-r">
                        <a href="#/submissions" target="_blank" class="notification-bar-title text-underline">Submissions</a>
                        <span class="text-muted">{{DashboardModel.TodaysSubmission}} Added Today</span>
                    </div>
                    <div class="notification-bar-details text-xs-center">
                        <p class="text-muted m-a-0">Total</p>
                        <span class="text-danger bold font-12">{{DashboardModel.TotalSubmissions}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card shadow m-b-xs">
                <div class="card-block p-l-1 p-r-1 clearfix">
                    <div class="notification-bar-icon text-xs-center pull-left">
                        <div class="bg-deeppurple"><i class="material-icons text-white no-bg" style="top:54%;">person</i></div>
                    </div>
                    <div class="notification-bar-details p-l-1 p-r-xs pull-left p-r-0 p-b-xs b-r">
                        <a href="#/candidateList" class="notification-bar-title text-underline" target="_blank">Candidates</a>
                        <span class="text-muted">{{DashboardModel.CandidatesAddedToday}} Added Today</span>
                    </div>
                    <div class="notification-bar-details text-xs-center">
                        <p class="text-muted m-a-0">Total</p>
                        <span class="text-danger bold font-12">{{DashboardModel.TotalCandidates}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card shadow m-b-xs">
                <div class="card-block p-l-1 p-r-1 clearfix">
                    <div class="notification-bar-icon text-xs-center pull-left">
                        <div class="bg-success">
                            <i class="material-icons text-white no-bg" aria-hidden="true" style="top:54%;">
                                business
                            </i>
                        </div>
                    </div>
                    <div class="notification-bar-details p-l-1 p-r-xs pull-left p-r-0 p-b-xs b-r">
                        <a href="#/companyList" class="notification-bar-title text-underline" target="_blank">Clients</a>
                        <span class="text-muted">{{DashboardModel.ClientsAddedToday}} Added Today</span>
                    </div>
                    <div class="notification-bar-details text-xs-center">
                        <p class="text-muted m-a-0">Total</p>
                        <span class="text-danger bold font-12">{{DashboardModel.TotalClients}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-9">
            <div class="card" ng-init="getDashboardRequirementVsSubmissionReportData();">
                <div class="card-block p-a-xs clearfix">
                    <div class="sk-fading-circle center-block" ng-show="jobSubmissionChartModel.loader">
                        <div class="sk-circle1 sk-circle">
                        </div>
                        <div class="sk-circle2 sk-circle">
                        </div>
                        <div class="sk-circle3 sk-circle">
                        </div>
                        <div class="sk-circle4 sk-circle">
                        </div>
                        <div class="sk-circle5 sk-circle">
                        </div>
                        <div class="sk-circle6 sk-circle">
                        </div>
                        <div class="sk-circle7 sk-circle">
                        </div>
                        <div class="sk-circle8 sk-circle">
                        </div>
                        <div class="sk-circle9 sk-circle">
                        </div>
                        <div class="sk-circle10 sk-circle">
                        </div>
                        <div class="sk-circle11 sk-circle">
                        </div>
                        <div class="sk-circle12 sk-circle">
                        </div>
                    </div>
                    <div class="chart line">
                        <canvas height="80" id="line" class="chart chart-line" chart-data="jobSubmissionChartModel.data"
                                chart-labels="jobSubmissionChartModel.labels" chart-options="jobSubmissionChartModel.options" chart-dataset-override="datasetOverride" chart-click="onClick" chart-colors="jobSubmissionChartModel.chartColors" chart-series="jobSubmissionChartModel.series"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="card">
                <div class="card-header no-bg">
                    <h6>News Feeds</h6>
                </div>
                <div class="card-block p-a-0">
                    <ul class="list-inline p-a-1 text-md-center text-lg-left text-sm-left" ng-init="getNotificationFeeds()" ng-if="userDetails.Vendor_Read == 'True'">
                        <li class="list-inline-item p-r-1">
                            <div class="notification-bar-icon text-xs-center">
                                <div class="no-bg"><i class="material-icons text-danger no-bg" style="top:54%;">queue</i></div>
                            </div>
                            <div class="notification-bar-details p-t-xs p-l-xs p-r-0 p-b-xs">
                                <a href="#/vendorEmailList" class="notification-bar-title text-underline" target="_blank">Client Emails</a>
                                <span class="text-danger bold ng-binding">({{unreadVendorMailCount}})</span>
                                <span class="text-muted ng-binding">Pending</span>
                            </div>
                        </li>
                        <li class="list-inline-item p-r-1" ng-if="userDetails.Vendor_Read == 'True'">
                            <div class="notification-bar-icon text-xs-center">
                                <div class="no-bg"><i class="material-icons text-blue no-bg" aria-hidden="true" style="top:54%;">email</i></div>
                            </div>
                            <div class="notification-bar-details p-t-xs p-l-xs p-r-0 p-b-xs">
                                <a href="#/resumeEmails" class="notification-bar-title text-underline" target="_blank">Resume Emails</a>
                                <span class="text-danger bold ng-binding">({{unreadResumeMailCount}})</span>
                                <span class="text-muted ng-binding">Unread</span>
                            </div>
                        </li>
                        <!--<li class="list-inline-item p-r-1">
            <div class="notification-bar-icon text-xs-center">
                <div class="no-bg"><i class="material-icons text-indigo no-bg" style="top:54%;">assignment_ind</i></div>
            </div>
            <div class="notification-bar-details p-t-xs p-l-xs p-r-0 p-b-xs">
                <a href="#/vendorEmailList" class="notification-bar-title text-underline" target="_blank">Vendor Emails</a>
                <span class="text-danger bold ng-binding">({{unreadVendorMailCount}})</span>
                <span class="text-muted ng-binding">Unread</span>
            </div>
        </li>-->
                    </ul>
                    <div class="text-xs-center text-default p-a-1" ng-init="getNotificationFeeds()" ng-if="userDetails.RoleName != 'Application Administrator' && userDetails.RoleName != 'Delivery Manager' && userDetails.RoleName != 'Team Lead'">No new notifications</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card b-t border-info">
                <div class="card-header no-bg p-a-xs clearfix">
                    <span class="h6">Requirements <span class="label btn-primary btn-round active">Recent</span></span>
                    <a href="#/requirementList" class="text-underline pull-right text-primary" target="_blank">View all</a>
                </div>
                <div class="card-block p-a-0 clearfix">
                    <div class="card m-b-0">
                        <div class="card-header" ng-init="getDashboardRequirementStatusReportData();" ng-hide="!recentRequirementList || recentRequirementList.length == 0">
                            <div class="sk-fading-circle center-block" ng-show="requirementStatusChartModel.loader">
                                <div class="sk-circle1 sk-circle">
                                </div>
                                <div class="sk-circle2 sk-circle">
                                </div>
                                <div class="sk-circle3 sk-circle">
                                </div>
                                <div class="sk-circle4 sk-circle">
                                </div>
                                <div class="sk-circle5 sk-circle">
                                </div>
                                <div class="sk-circle6 sk-circle">
                                </div>
                                <div class="sk-circle7 sk-circle">
                                </div>
                                <div class="sk-circle8 sk-circle">
                                </div>
                                <div class="sk-circle9 sk-circle">
                                </div>
                                <div class="sk-circle10 sk-circle">
                                </div>
                                <div class="sk-circle11 sk-circle">
                                </div>
                                <div class="sk-circle12 sk-circle">
                                </div>
                            </div>
                            <canvas id="doughnut" class="chart chart-doughnut" chart-data="requirementStatusChartModel.data" chart-labels="requirementStatusChartModel.labels" style="width:300px;height:300px;" chart-click="getRequirementListByStatus" chart-colors="requirementStatusChartModel.chartColors" chart-options="requirementStatusChartModel.options"></canvas>
                            <div class="card-controls hidden-md-up">
                                <a href="javascript:;" class="card-collapse" data-toggle="collapse" data-target="#requirementList" aria-expanded="true" aria-controls="collapseOne"></a>
                            </div>
                        </div>
                        <div class="card-block p-a-0 collapse in" id="requirementList">
                            <div class="table-responsive scroll slimScroll">
                                <table class="table text-nowrap overflow-hidden table-sm" ng-hide="!recentRequirementList || recentRequirementList.length == 0">
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Internal Req. ID</th>
                                            <th>Title</th>
                                            <th>Assigned Recruiters</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="requirement in recentRequirementList">
                                            <td>
                                                <span class="label label-md label-default" ng-if="requirement.JobStatus== 'Archive'" ng-bind="requirement.JobStatus"></span>
                                                <span class="label label-md label-success" ng-if="requirement.JobStatus== 'Closed'" ng-bind="requirement.JobStatus"></span>
                                                <span class="label label-md label-warning" ng-if="requirement.JobStatus== 'Pending'" ng-bind="requirement.JobStatus"></span>
                                                <span class="label label-md label-info" ng-if="requirement.JobStatus== 'Hold'" ng-bind="requirement.JobStatus"></span>
                                                <span class="label label-md label-danger" ng-if="requirement.JobStatus== 'Open'" ng-bind="requirement.JobStatus"></span>
                                                <span ng-if="requirement.JobStatusId === null"></span>
                                            </td>

                                            <td>
                                                <span ng-bind="requirement.RequisitionId"></span>
                                            </td>

                                            <td>
                                                <a class="text-primary text-underline" ng-bind="requirement.JobTitle" ng-click="openRequirementFromOtherSection(requirement.Id)"></a>
                                            </td>

                                            <td>
                                                <span ng-repeat="recruiter in requirement.OrganizationUser">
                                                    <span ng-if="!$last" ng-attr-title="{{recruiter.Name}}">{{recruiter.Name}},</span>
                                                    <span ng-if="$last" ng-attr-title="{{recruiter.Name}}">{{recruiter.Name}}</span>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12 no-contacts p-a-3 border-warning no-record-block" ng-if="!recentRequirementList || recentRequirementList.length == 0">
                                <p class="text-shadow lead text-xs-center">
                                    <img src="images/search.png"><br>
                                    No records added!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card b-t border-success">
                <div class="card-header p-a-xs clearfix no-bg">
                    <span class="h6">Submissions <span class="label btn-primary btn-round active">Recent</span></span>
                    <a href="#/submissions" class="text-underline pull-right text-primary" target="_blank">View all</a>
                </div>
                <div class="card-block p-a-0 clearfix">
                    <div class="card m-b-0">
                        <div class="card-header" ng-init="getDashboardSubmissionReportData();" ng-hide="!recentSubmissionList || recentSubmissionList.length == 0">
                            <div class="sk-fading-circle center-block" ng-show="showSubmissionLoader">
                                <div class="sk-circle1 sk-circle">
                                </div>
                                <div class="sk-circle2 sk-circle">
                                </div>
                                <div class="sk-circle3 sk-circle">
                                </div>
                                <div class="sk-circle4 sk-circle">
                                </div>
                                <div class="sk-circle5 sk-circle">
                                </div>
                                <div class="sk-circle6 sk-circle">
                                </div>
                                <div class="sk-circle7 sk-circle">
                                </div>
                                <div class="sk-circle8 sk-circle">
                                </div>
                                <div class="sk-circle9 sk-circle">
                                </div>
                                <div class="sk-circle10 sk-circle">
                                </div>
                                <div class="sk-circle11 sk-circle">
                                </div>
                                <div class="sk-circle12 sk-circle">
                                </div>
                            </div>
                            <canvas id="bar" class="chart chart-bar"
                                    chart-data="submissionsReportModel.data" chart-labels="submissionsReportModel.labels" chart-options="submissionsReportModel.options" chart-click="getSubmissionListByUser"></canvas>
                            <div class="card-controls hidden-md-up">
                                <a href="javascript:;" class="card-collapse" card-control-collapse="" data-toggle="collapse" data-target="#submissionsList" aria-expanded="false" aria-controls="collapseOne"></a>
                            </div>
                        </div>
                        <div class="card-block p-a-0 collapse in" id="submissionsList">
                            <div class="table-responsive scroll slimScroll">
                                <table class="table table-sm text-nowrap" ng-hide="!recentSubmissionList || recentSubmissionList.length == 0">
                                    <thead>
                                        <tr>
                                            <th>Candidate Name</th>
                                            <th>Client Name</th>
                                            <th>Requirement Title</th>
                                            <th>Assigned Recruiters</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="submission in recentSubmissionList">
                                            <td>
                                                <a class="text-primary text-underline" ng-bind="submission.CandidateList[0].Name" ng-click="openCandidateFromOtherSection(submission.CandidateList[0].Id)"></a>
                                            </td>
                                            <td>
                                                <span ng-bind="submission.CompanyName"></span>
                                            </td>
                                            <td>
                                                <a class="text-primary text-underline" ng-bind="submission.JobTitle" ng-click="openRequirementFromOtherSection(submission.JobId)"></a>
                                            </td>

                                            <td>
                                                <span ng-bind="submission.OrganizationUserName"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12 no-contacts p-a-3 border-warning no-record-block" ng-if="!recentSubmissionList || recentSubmissionList.length == 0">
                                <p class="text-shadow lead text-xs-center">
                                    <img src="images/search.png"><br>
                                    No records added!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card b-t border-primary">
                <div class="card-header clearfix p-a-xs no-bg">
                    <span class="h6">Candidates <span class="label btn-primary btn-round active">Recent</span></span>
                    <a href="#/candidateList" class="text-underline pull-right text-primary" target="_blank">View all</a>
                </div>
                <div class="card-block p-a-0 clearfix">
                    <div class="card m-b-0">
                        <div class="card-header" ng-init="getDashboardCandidateAddedReportData();" ng-hide="!candidateAddedChartModel.data || candidateAddedChartModel.data.length == 0">
                            <div class="sk-fading-circle center-block" ng-show="candidateAddedChartModel.loader">
                                <div class="sk-circle1 sk-circle">
                                </div>
                                <div class="sk-circle2 sk-circle">
                                </div>
                                <div class="sk-circle3 sk-circle">
                                </div>
                                <div class="sk-circle4 sk-circle">
                                </div>
                                <div class="sk-circle5 sk-circle">
                                </div>
                                <div class="sk-circle6 sk-circle">
                                </div>
                                <div class="sk-circle7 sk-circle">
                                </div>
                                <div class="sk-circle8 sk-circle">
                                </div>
                                <div class="sk-circle9 sk-circle">
                                </div>
                                <div class="sk-circle10 sk-circle">
                                </div>
                                <div class="sk-circle11 sk-circle">
                                </div>
                                <div class="sk-circle12 sk-circle">
                                </div>
                            </div>
                            <canvas id="bar" class="chart chart-bar"
                                    chart-data="candidateAddedChartModel.data" chart-labels="candidateAddedChartModel.labels" chart-options="candidateAddedChartModel.options" chart-click="getCandidateListByUser"></canvas>
                            <div class="card-controls hidden-md-up">
                                <a href="javascript:;" class="card-collapse" card-control-collapse="" data-toggle="collapse" data-target="#candidateList" aria-expanded="false" aria-controls="collapseOne"></a>
                            </div>
                        </div>
                        <div class="card-block p-a-0 collapse in" id="candidateList">
                            <div class="table-responsive scroll slimScroll">
                                <table class="table text-nowrap table-sm" ng-hide="!candidateAddedChartModel.data || candidateAddedChartModel.data.length == 0">
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Created By</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="candidate in recentCandidateList">
                                            <td>
                                                <span class="label label-md label-danger" ng-if="candidate.Status== 'Active'" ng-bind="candidate.Status"></span>
                                                <span class="label label-md label-primary" ng-if="candidate.Status== 'DNC'" ng-bind="candidate.Status"></span>
                                                <span class="label label-md label-success" ng-if="candidate.Status== 'New'" ng-bind="candidate.Status"></span>
                                                <span class="label label-md label-info" ng-if="candidate.Status== 'Not Looking'" ng-bind="candidate.Status"></span>
                                                <span class="label label-md label-default" ng-if="candidate.Status== 'Passive'" ng-bind="candidate.Status"></span>
                                                <span class="label label-md label-info" ng-if="candidate.Status== 'Placed'" ng-bind="candidate.Status"></span>
                                                <span class="label label-md label-default" ng-if="candidate.Status== 'Unresponsive'" ng-bind="candidate.Status"></span>
                                                <span ng-if="candidate.Status=== null"></span>
                                            </td>
                                            <td>
                                                <a class="text-primary text-underline" ng-bind="candidate.FullName" ng-init="candidate.FullName= getCandidateFullName(candidate.Title, candidate.FirstName, candidate.MiddleName, candidate.LastName)" ng-attr-title="{{candidate.FullName}}" ng-click="openCandidateFromOtherSection(candidate._id)"></a>
                                            </td>
                                            <td>
                                                <span ng-bind="candidate.PrimaryEmail"></span>
                                            </td>
                                            <td>
                                                <span ng-bind="candidate.CreatedByName"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12 no-contacts p-a-3 border-warning no-record-block" ng-if="!candidateAddedChartModel.data || candidateAddedChartModel.data.length == 0">
                                <p class="text-shadow lead text-xs-center">
                                    <img src="images/search.png"><br>
                                    No records added!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>