﻿<div class="session-content p-a-0">
    <div class="card p-a-xs col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <form role="form" name="forgotPasswordForm" novalidate>
            <div class="text-xs-center m-b-1 b-b">
                <a href="#" ng-href="{{configuration.XSEED_HOME_LINK}}">
                    <img src="images/logo-b.png" class="img-responsive center-block" />
                </a>
                <h5>
                    Forgot password!
                </h5>
            </div>
            <fieldset class="form-group">
                <p class="text-muted">
                    Enter your email address.<br />We will send you information to help you to reset your password.
                </p>
                <label>
                    Enter your email
                </label>
                <input type="text" class="form-control form-control-sm" id="userName" placeholder="Email"
                       name="userName"
                       ng-model="forgotPasswordModel.Username"
                       autocomplete="off"
                       validation="required|min_len:6|max_len:100|email">
            </fieldset>
            <button class="btn btn-primary btn-block btn-lg" type="button" ng-click="forgotPassword(forgotPasswordForm);">
                Submit
            </button>
            <p class="well-lg">
            </p>
            <div class="text-xs-center">
                <p>
                    <a href="#login" ng-click="gotoLogin()">
                        Log in instead
                    </a>
                </p>
            </div>
        </form>
    </div>
</div>

