﻿<div class="jumbotron-fluid bg-white">
    <nav class="navbar bg-white navbar-fixed-top shadow">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img class="expanding-hidden" src="images/logo-b.png" alt="">
                </a>
            </div>
            <!--<ul class="nav nav-pills pull-right">
                <li class="nav-item">
                    <a class="nav-link" href="#/login">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/register">
                        Register
                    </a>
                </li>
            </ul>-->
        </div>
    </nav>
    <div class="col-sm-12 p-l-2 p-r-2 p-t-3 p-b-2 m-t-1 parallax-scroll" style="background-image: url(images/business_hd_image.jpg);height:500px;">
        <div class="blur-8" style="background-color: rgba(255, 255, 255, 0.79);"></div>
        <div>
            <div class="col-sm-12 text-xs-center animated " style="font-size: 80px;">
                <strong class="text-primary">X</strong><span>SEED</span>
            </div>
            <div class="col-sm-12 text-xs-center">
                <h1 class="h2 animated fadeIn">
                    The <span class="h1 text-success font-weight-medium">KEY</span> for us, number one, has always been hiring very <span class="h1 text-success font-weight-medium">SMART</span> people.
                </h1>
                <!--<span>
                    <a href="#" class="btn btn-primary-outline btn-lg m-t-1">Get More</a>
                </span>-->
            </div>
        </div>
        <div>
            <div class="col-sm-4 text-xs-center col-sm-offset-2 m-t-1 animated slideInLeft">
                <div class="p-a-1 border-radius-4" style="background-color: rgba(0, 0, 0, 0.85);">
                    <i aria-hidden="true" class="fa fa-briefcase fa-2x text-success"></i>
                    <h3 class="font-weight-medium h3 text-info">Employer</h3>
                    <p class="text-white">
                        Get connected with us for your hiring need.
                    </p>
                    <div><a href="#/login" class="btn btn-primary">Login</a></div>
                </div>
            </div>
            <div class="col-sm-4 text-xs-center m-t-1 animated slideInRight">
                <div class="p-a-1 border-radius-4" style="background-color: rgba(0, 0, 0, 0.85);">
                    <i class="fa fa-user fa-2x text-success" aria-hidden="true"></i>
                    <h3 class="font-weight-medium h3 text-info">Candidate</h3>
                    <p class="text-white">Looking for a change in job? Submit your resume.</p>
                    <div>
                        <a href="#" ng-href="{{configuration.XSEED_CANDIDATE_LOGIN_LINK}}" class="btn btn-primary">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 p-a-3" style="background: #FFF;">
        <div class="container">
            <div class="row m-b-3">
                <div class="col-sm-12 text-dark text-xs-center">
                    <!--Services Heading-->
                    <h2 class="h2 bold">XSEED <span class="text-primary">Corporate Services</span></h2>
                    <h5 class="h5">INDUSTRY SPECIFIC RECRUITMENT SOLUTIONS </h5>
                </div>
            </div>
            <div class="row m-b-1">
                <div class="col-md-4 col-sm-6">
                    <div class="p-a-2">
                        <div class="m-b-1 clearfix">
                            <i class="fa-pull-left fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
                            <span class="h5">Centralize Communications</span>
                        </div>
                        <p class="text-muted text-justify">Use XSeed to centralize everything so your team is always on the same page about the “whos,” “whats,” and “whens.”</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="p-a-2">
                        <div class="m-b-1 clearfix">
                            <i class="fa-pull-left fa fa-desktop fa-2x" aria-hidden="true"></i>
                            <span class="h5">Dashboards</span>
                        </div>
                        <p class="text-muted text-justify">Keep an eye on the stats and trends associated with users, groups, and divisions with our dashboards to help to keep everyone on track, and without getting bogged down with semantics.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="p-a-2">
                        <div class="m-b-1 clearfix">
                            <i class="fa-pull-left fa fa-line-chart fa-2x" aria-hidden="true"></i>
                            <span class="h5">Status Tracking/Pipeline</span>
                        </div>
                        <p class="text-muted text-justify">From identification to submission, interviews to placements, XSeed applicant tracking software simplifies the process of recruitment every step of the way.</p>
                    </div>
                </div>
            </div>
            <div class="row m-b-2">
                <div class="col-md-4 col-sm-6">
                    <div class="p-a-2">
                        <div class="m-b-1 clearfix">
                            <i class="fa-pull-left fa fa-search fa-2x" aria-hidden="true"></i>
                            <span class="h5">Advanced Job Search</span>
                        </div>
                        <p class="text-muted text-justify">Allows jobseekers to search for job listings with detailed criteria. Jobseekers can search by the job type / term, company name, industry, function / category, keyword and even by location easily.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="p-a-2">
                        <div class="m-b-1 clearfix">
                            <i class="fa-pull-left fa fa-cloud-download fa-2x" aria-hidden="true"></i>
                            <span class="h5">Resume Builder and Parser</span>
                        </div>
                        <p class="text-muted text-justify">Increase real productivity of a recruiter. Populate the resume database from different sources and add it to the database automatically. No more manual entry needed.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="p-a-2">
                        <div class="m-b-1 clearfix">
                            <i class="fa-pull-left fa fa-dropbox fa-2x" aria-hidden="true"></i>
                            <div class="h5">Admin, Employer, Jobseeker</div>
                        </div>
                        <p class="text-muted text-justify">Provides user friendly, featured Admin / Employer / Jobseeker panel which allows to manage users, resumes profiles etc.</p>
                    </div>
                </div>
            </div>
            <div class="row m-b-2">
                <div class="col-md-4 col-sm-6">
                    <div class="p-a-2">
                        <div class="m-b-1 clearfix">
                            <i class="fa-pull-left fa fa-gift fa-2x" aria-hidden="true"></i>
                            <span class="h4">Job Posting</span>
                        </div>
                        <p class="text-muted text-justify">Employers can post their job requirements, apply filter options which enables employers to receive the resumes from candidates matching their posted their criteria.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="p-a-2">
                        <div class="m-b-1 clearfix">
                            <i class="fa-pull-left fa fa-file-video-o fa-2x" aria-hidden="true"></i>
                            <span class="h5">Video Resume Uploading</span>
                        </div>
                        <p class="text-muted text-justify">This feature is intended to enhance the standard resume. Jobseeker van upload their video resume along with standard resume. A good video resume can assist job seekers to effectively market themselves.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="p-a-2">
                        <div class="m-b-1 clearfix">
                            <i class="fa-pull-left fa fa-globe fa-2x" aria-hidden="true"></i>
                            <span class="h4">Email Parsing</span>
                        </div>
                        <p class="text-muted text-justify">An mail parser is a technology that allows you to integrate your campaign with these and other services so that when a transaction is made with that service, a subscriber can be added to your campaign.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 p-l-2 p-r-2 p-t-3 p-b-3 parallax-scroll" style="background-image: url(images/business_handshake.jpg);">
        <div class="blur-8" style="background-color: #d4d2d2;"></div>
        <div class="col-sm-12">
            <div class="container">
                <div class="col-sm-4">
                    <h2 class="bold" style="font-size:35px;">Partner with<br /><strong class="bold text-primary" style="font-size:70px;">XSEED</strong></h2>
                </div>
                <div class="col-sm-8">
                    <h4 class="h4 m-b-2 font-weight-medium">INCREASE YOUR STRENGTH OR HAPPY EMPLOYEE QUOTIENT </h4>
                    <p class="font-18">Using Xseed application is a great experience a very user friendly user interface is the key of this application as a employer we can find experienced resources very quickly through Xseed. </p>
                </div>
            </div>
        </div>
        <!--<div class="text-xs-center text-white" style="background-color: #01d5eb; height: 50px; background-color: rgba(1, 213, 235, 0.27); position: absolute; height: 50px; left: 0px; right: 0; bottom: 0; ">
            <h2>Recruiting, Staffing & Consulting</h2>
        </div>-->
    </div>
    <section class="col-sm-12 bg-white p-a-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 m-t-3">
                    <img class="expanding-hidden" src="images/logo-b.png" alt="">
                </div>
                <!-- About Us-->
                <div class="col-md-3 col-sm-6 footer-box">
                    <div class="m-b-2">
                        <h5 class="bold">Company</h5>
                        <a class="text-primary" href="http://www.tcognition.com">tCognition Inc.</a>
                    </div>
                    <div>
                        <h5 class="bold">Location</h5>
                        <address>
                            70 Kemble St, Boston, MA 02119, USA
                            <br />
                            <a class="text-primary" href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2948.4540435257895!2d-71.058612!3d42.354161999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3708257f55e91%3A0xab1679abfdbae39c!2sTCognition+Testing+Center!5e0!3m2!1sen!2sin!4v1430382175393" target="_blank"><strong><i class="fa fa-map-marker m-r-xs" aria-hidden="true"></i>Locate us on map</strong></a>
                        </address>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="m-b-2">
                        <h5 class="bold">Phone</h5>
                        <span>(617) 357-INFO (4636)</span>
                    </div>
                    <div>
                        <h5 class="bold">Email</h5>
                        <a class="text-primary" href="mailto:support@xseed.com">support@xseed.com</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="m-b-2">
                        <h5 class="bold">Connect with us</h5>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/company/57619/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/tCognition/" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/tCognition?lang=en" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h5 class="bold">Website</h5>
                        <span><a class="text-underline text-primary" href="http://www.tCognition.com" target="_blank">www.tcognition.com</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-sm-12 text-center bg-grey-darker text-xs-center p-t-1 p-b-1">
        <p class="text-white">©2017, tCognition Inc. All rights reserved.</p>
    </div>
</div>
