﻿<form role="form" name="loginForm" novalidate>
    <div class="session-content p-a-0">
        <div class="card p-a-xs col-lg-4 col-md-6 col-sm-8 col-xs-12">
            <div class="text-xs-center m-b-1 b-b width-100">
                <a href="#" ng-href="{{configuration.XSEED_HOME_LINK}}">
                    <img src="images/logo-b.png" class="img-responsive center-block" />
                </a>
                <h5>Welcome back!</h5>
                <p>
                    Sign in with email to continue.
                </p>
            </div>
            <div class="card-block clearfix">
                <div class="card width-100" ng-if="!showOtherLogin">
                    <div class="card-block clearfix shadow">
                        <fieldset class="form-group form-group-sm">
                            <span class="text-grey col-sm-1" id="basic-addon1">
                                <i class="fa fa-user"></i>
                            </span>
                            <div class="col-sm-11">
                                <input type="text" class="form-control form-control-sm" aria-describedby="basic-addon1" id="userName" placeholder="Recruiter Email ID"
                                       name="loginRequest.userName"
                                       ng-model="loginRequest.userName"
                                       validation="required|min_len:6|max_len:100|email" />
                            </div>
                        </fieldset>
                        <fieldset class="form-group form-group-sm m-b-xs">
                            <span class="text-grey col-sm-1" id="basic-addon1">
                                <i class="fa fa-key"></i>
                            </span>
                            <div class="col-sm-11">
                                <input type="password" class="form-control form-control-sm" id="password"
                                       placeholder="Password"
                                       name="loginRequest.password" ng-model="loginRequest.password"
                                       autocomplete="off"
                                       validation="required|min_len:8|max_len:16|xseed_password"
                                       ng-enter="login(loginForm);" />
                            </div>
                        </fieldset>
                        <div class="col-lg-10 col-lg-offset-1 m-b-xs">
                            <label class="c-input c-checkbox">
                                <input type="checkbox" ng-model="loginRequest.stayLoggedIn" />
                                <span class="c-indicator">
                                </span>
                                Stay logged in
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn btn-primary btn-block btn-md m-b-xs" type="button" ng-click="login(loginForm);">
                                Login
                            </button>
                        </div>
                        <div class="col-sm-12 text-primary">
                            <a href="#forgotPassword" ng-click="gotoForgotPassword()" class="pull-right">
                                Forgot Password?
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>