﻿<div class="card card-block form-layout input-border-b">
    <div class="session-content p-a-0">
        <form role="form" name="registrationForm" novalidate style="width:100%;">
            <div class="text-xs-center m-b-xs b-b">
                <img src="images/logo-b.png" class="img-responsive center-block" />
                <h5>Register</h5>
                <p class="text-muted">
                    Create an account to continue.
                </p>
            </div>
            <fieldset class="form-group m-b-0 row">
                <div class="col-sm-2 p-t-1">
                    <label>
                        Name
                        <span class="bold text-red">*</span>
                    </label>
                </div>
                <div class="col-sm-5">
                    <input type="text"
                           class="form-control"
                           placeholder="First Name"
                           ng-model="registerRequest.FirstName"
                           id="FirstName"
                           name="FirstName"
                           validation="required|min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe" />

                </div>
                <div class="col-sm-5">
                    <input type="text"
                           class="form-control"
                           placeholder="Last Name"
                           ng-model="registerRequest.LastName"
                           id="LastName"
                           name="LastName"
                           validation="required|min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe" />

                </div>
            </fieldset>
            <fieldset class="form-group m-b-0 row">
                <div class="col-sm-2 p-t-1">
                    <label for="email">
                        Email
                        <span class="bold text-red">*</span>
                    </label>
                </div>
                <div class="col-sm-10">
                    <input type="email"
                           class="form-control"
                           id="email"
                           placeholder="Email"
                           ng-model="registerRequest.userName"
                           ng-init="registerRequest.userName=''"
                           name="email"
                           validation="required|xseed_email|min_len:6|max_len:100" />
                </div>
            </fieldset>
            <fieldset class="form-group m-b-0 row">
                <div class="col-sm-2 p-t-1 text-nowrap">
                    <label for="password">
                        Password
                        <span class="bold text-red">*</span>
                    </label>
                </div>
                <div class="col-sm-10">
                    <input type="password"
                           class="form-control"
                           id="password"
                           placeholder="Password"
                           ng-model="registerRequest.password"
                           name="registerRequest.password"
                           block-clipboard
                           autocomplete="off"
                           validation="required|min_len:8|max_len:16|xseed_password" />
                    <p ng-show="showPassNote" class="help-block">8-16 Characters</p>
                    <!--<p ng-show="((!registrationForm.password.$error.minlength && registrationForm.password.$error.pattern) && (registrationForm.password.$onblurInvalid || registrationFormSubmitted))"
               class="errorMsg">
                Minimum of 8 characters - must have at least 1 letter and 1 number. Special
                characters are permitted. Password is case-sensitive.
            </p>-->
                </div>
            </fieldset>
            <fieldset class="form-group m-b-0 row">
                <div class="col-sm-2 p-t-1">
                    <label for="confirmPassword">
                        Confirm
                        <span class="bold text-red">*</span>
                    </label>
                </div>
                <div class="col-sm-10">
                    <input type="password"
                           class="form-control"
                           id="confirmPassword"
                           placeholder="Confirm Password"
                           ng-model="registerRequest.confirmPassword"
                           ng-init=""
                           block-clipboard
                           name="registerRequest.confirmPassword"
                           autocomplete="off"
                           validation="required|match:registerRequest.password,Password:alt=Confirm password does not match." />
                </div>
            </fieldset>
            <fieldset class="form-group m-b-0 row">
                <div class="col-sm-2 p-t-1 text-nowrap">
                    <label for="organizationName">
                        Organization
                        <span class="bold text-red">*</span>
                    </label>
                </div>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="organizationName"
                           placeholder="Organization Name"
                           ng-model="registerRequest.organizationName"
                           ng-init=""
                           name="organizationName"
                           validation="required|min_len:2|max_len:200" />
                </div>
            </fieldset>
            <fieldset class="form-group m-b-1 row">
                <div class="col-sm-2 p-t-1">
                    <label for="website">
                        Website
                        <span class="bold text-red">*</span>
                    </label>
                </div>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="website"
                           placeholder="Organization WebSite"
                           ng-model="registerRequest.website"
                           ng-init=""
                           name="website"
                           validation="required|url|max_len:500">
                </div>
            </fieldset>
            <button type="button" class="btn btn-primary btn-block btn-lg m-b-xs" ng-click="register(registrationForm)">
                Create Account
            </button>
        </form>
    </div>
    <footer class="text-xs-center">
        <p>
            <a href="#login" ng-click="gotoLogin()">
                Log in instead
            </a>
        </p>
    </footer>
</div>
