﻿<div class="main-content" ng-init="getLookUpSkill()">



    <div class="content-view">
        <div class="container-fluid">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" ng-click="dropdownplaceholder()" data-toggle="tab" href="#Easy" role="tab" aria-expanded="false">Easy</a></li>
                <li class="nav-item"><a class="nav-link" ng-click="dropdownplaceholder()" data-toggle="tab" href="#advance" role="tab" aria-expanded="false">Advance</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#decode" role="tab" aria-expanded="false">Decode</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" ng-click="getBooleanQueries()" href="#saved" role="tab" aria-expanded="false">Saved</a></li>
                <li class="nav-item"><a class="nav-link" ng-click="dropdownplaceholder()" data-toggle="tab" href="#googletag" role="tab" aria-expanded="false">Google Tag</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="Easy" role="tabpanel" aria-expanded="true">

                    <div class="form-group">

                        <h6 class="text-primary m-b-0">Easy Query Builder</h6>

                    </div>
                    <hr>
                    <form>
                        <div class="form-group row m-b-0">

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="f-w-600">Primary Skills</label>
                                    <select data-placeholder="Select Primary Skills..." multiple="multiple" ng-model="andSearchText" class="select2" style="width: 100%" ng-options="skill.label as skill.label for skill in skills"></select>
                                </div>
                                <div class="form-group">
                                    <label class="f-w-600">Secondary Skills</label>
                                    <select ng-model="orSearchText" api="orAPI" multi="true" value-attr="label" data-placeholder="Select Secondary Skills..." multiple="multiple" class="select2" style="width: 100%" ng-options="skill.label as skill.label for skill in skills"></select>
                                </div>
                                <div class="form-group">
                                    <label class="f-w-600">Not Required Skills</label>
                                    <select ng-model="notSearchText" api="notAPI" multi="true" value-attr="label" data-placeholder="Not Required Skills..." multiple="multiple" class="select2" style="width: 100%" ng-options="skill.label as skill.label for skill in skills"></select></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="font-18" style="margin-bottom:1px;">Your generated query</label>
                                    <textarea class="form-control" id="queryString" name="queryString" ng-model="queryString" rows="10" placeholder="boolean search string" readonly></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-0">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary btn-icon pull-right btn-sm" id="generateQuery" name="generateQuery" ng-click="generateQuery(andSearchText,orSearchText,notSearchText);andAPI.unset();orAPI.unset();notAPI.unset();"><i class="material-icons">code </i>Generate Query</button>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-icon pull-right btn-sm" id="copyToClipboard" name="copyToClipboard" ngclipboard data-clipboard-target="#queryString"><i class="material-icons font-18">content_copy </i>Copy to clipboard</button>
                                <button type="submit" class="btn btn-danger btn-icon pull-right btn-sm m-r-1" id="reset" name="reset" ng-click="resetText()"><i class="material-icons">refresh </i>reset</button>


                            </div>
                        </div>

                    </form>
                </div>
                <div class="tab-pane" id="advance" role="tabpanel" aria-expanded="true">
                    <div class="form-group">

                        <h6 class="text-primary m-b-0">Advance Query Builder</h6>

                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="p-b-xs">
                                <i class="fa fa-info-circle"></i>
                                <span class="text-gray">
                                    To search something with only adding starting few letters of word, add (*) symbol after it.
                                    <br>
                                    For example, "nurs*" will find documents containing the words nurse, nursing and nurses.
                                </span>
                                <a class="text-primary" data-toggle="modal" data-target="#help-modal">For more help click here</a>
                            </div>
                            <div class="form-group">
                                <label class="f-w-600">Primary Skills</label>
                                <select ng-model="advanceSearchText" multi="true" api="advanceSearchAPI" value-attr="label" data-placeholder="Select Primary Skills..." multiple="multiple" class="select2" style="width: 100%" ng-options="skill.label as skill.label for skill in skills"></select>
                            </div>

                            <div class="form-group">
                                <label class="f-w-600">Operations</label>
                                <button type="submit" id="andButton" name="andButton" ng-click="andOperation(advanceSearchText); advanceSearchAPI.unset();" class="btn btn-outline-primary btn-sm m-l-xs m-l-xs m-r-xs m-b-xs font-12">AND</button>
                                <button type="button" id="orButton" name="orButton" ng-click="orOperation(advanceSearchText); advanceSearchAPI.unset();" class="btn btn-outline-danger btn-sm m-r-xs m-b-xs font-12">OR</button>
                                <button type="button" id="notButton" name="notButton" ng-click="notOperation(advanceSearchText); advanceSearchAPI.unset();" class="btn btn-outline-success btn-sm m-r-xs m-b-xs font-12">NOT</button>
                                <button type="button" id="nearButton" name="nearButton" ng-click="nearOperation(advanceSearchText); advanceSearchAPI.unset();" class="btn btn-outline-info btn-sm m-r-xs m-b-xs font-12">NEAR</button>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group-lg m-b-1">
                                <label class="font-18">Your generated query</label>
                                <textarea id="advanceQueryString" name="advanceQueryString" ng-model="advanceQueryString" placeholder="boolean search string" rows="7" readonly="" class="form-control ng-pristine ng-untouched ng-valid" aria-multiline="true" aria-invalid="false"></textarea>
                            </div>
                            <div class="form-group-lg m-b-1">


                                <button type="submit" ng-click="fillModal(advanceQueryString)" class="btn btn-primary btn-icon pull-right btn-sm font-12"><i class="material-icons font-18">save </i>Save Query</button>
                                <button type="submit" id="advanceCopy" name="advanceCopy" ngclipboard data-clipboard-target="#advanceQueryString" class="btn btn-primary btn-icon pull-right btn-sm m-r-1 font-12"><i class="material-icons font-18">content_copy </i>Copy to clipboard</button>
                                <button type="submit" id="advanceReset" name="advanceReset" ng-click="advanceResetText()" class="btn btn-danger btn-icon pull-right btn-sm m-r-1 font-12"><i class="material-icons">refresh </i>reset</button>
                            </div>
                        </div>
                    </div>





                </div>
                <div class="tab-pane" id="decode" role="tabpanel" aria-expanded="true">
                    <div class="form-group">

                        <h6 class="text-primary m-b-0">Decode Query</h6>

                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <form class="form-horizontal">
                                <div class="form-group-lg m-b-1">
                                    <label class="font-18">Query</label>
                                    <textarea id="advanceEncodedQueryString" name="advanceEncodedQueryString" ng-model="decode.advanceEncodedQueryString" placeholder="boolean search string" rows="15" class="form-control ng-pristine ng-untouched ng-valid" aria-multiline="true" aria-invalid="false"></textarea>
                                </div>
                                <div class="form-group-lg m-b-1">

                                    <button type="submit" id="resetDecode" name="resetDecode" ng-click="resetDecode()" class="btn btn-danger btn-icon pull-right btn-sm  font-12"><i class="material-icons">refresh </i>reset</button>
                                    <button type="submit" id="advanceDecodeQuery" name="advanceDecodeQuery" ng-click="advanceDecodeQuery(decode.advanceEncodedQueryString)" class="btn btn-primary btn-icon pull-right btn-sm m-r-1 font-12"><i class="material-icons font-18">code </i>Decode Query</button>


                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="f-w-600 mt-7">Mandatory Primary Skills</label>
                                <input id="advanceAndQuerySearchText" name="advanceAndQuerySearchText" ng-model="query.advanceAndQuerySearchText" class="form-control" type="text" placeholder="Mandatory Primary Compulsory Skills
                                            " id="example-text-input" readonly>
                            </div>
                            <div class="form-group">
                                <label class="f-w-600">Mandatory Secondary Skills (Groups)</label>
                                <input id="advanceOrOptionalQuerySearchText" name="advanceOrOptionalQuerySearchText" ng-model="query.advanceOrOptionalQuerySearchText" class="form-control" type="text" placeholder="Mandatory Secondary Skills (Grouped)
                                            " id="example-text-input" readonly>
                            </div>
                            <div class="form-group">
                                <label class="f-w-600">Optional Skills</label>
                                <input id="advanceOrSearchText" name="advanceOrSearchText" ng-model="query.advanceOrSearchText" class="form-control" type="text" placeholder="Optional Skills
                                            " id="example-text-input" readonly>
                            </div>
                            <div class="form-group">
                                <label class="f-w-600">Excluded Skills</label>
                                <input id="advanceNotSearchText" name="advanceNotSearchText" ng-model="query.advanceNotSearchText" class="form-control" type="text" placeholder="Excluded Skills" id="example-text-input" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="saved" role="tabpanel" aria-expanded="true">
                    <div class="form-group ">
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <h6 class="text-primary line-height-2">Saved boolean queries</h6>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <div class="form-group has-search m-b-0">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input ng-focus="main.focusOn()" ng-blur="main.focusOff()" ng-model="filter.$" id="txt-search" type="text" class="form-control" placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <div class="content-view query-builder">
                        <div class="card-block-outer ">
                            <div class="table-responsive pagination-small pagination-fixed-bottom">
                                <table ng-table="tblBooleanQueryList" class="table table-responsive dataTable datatable ng-scope ng-table">
                                    <caption></caption>
                                    <th scope="col"ead>
                                        <tr text-align="left" class="card panel-heading">
                                            <th scope="col" class="text-xs-left">Tag</th>
                                            <th scope="col" class="text-xs-left">Query</th>
                                            <th scope="col" class="text-xs-left">Created By</th>
                                            <th scope="col" class="text-xs-left">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="query in dataBooleanQueryList" class="card panel-heading">
                                            <td data-title="Tag" filter="{ 'Tag': 'text'}" data-sortable="'Tag'" ng-bind="query.Tag">
                                                <label class="labelauty-label">
                                                    <p class="card-title display-flex font-12 text-primary">
                                                        {{query.Tag}}
                                                    </p>
                                                </label>
                                            </td>
                                            <td data-title="Query" ng-bind="query.Query" id="{{'query'+ $index}}" data-title="'Query'">
                                                <label class="labelauty-label">
                                                    <p class="card-title display-flex font-12 ">
                                                        {{query.Query}}
                                                    </p>
                                                </label>
                                            </td>
                                            <td data-title="Created By" filter="{ 'CreatedBy': 'text'}" ng-bind="query.CreatedBy" class="width-11">
                                                <label class="labelauty-label">
                                                    <p class="card-title display-flex font-12">
                                                        {{query.CreatedBy}}
                                                    </p>
                                                </label>
                                            </td>
                                            <td data-title="Action" class="width-11" ngclipboard data-clipboard-target="#{{'query'+ $index}}">
                                                <label class="labelauty-label">
                                                    <p class="card-title display-flex font-12">
                                                        <button type="button" class="btn btn-outline-info btn-sm m-r-xs m-b-xs font-12">Copy</button>
                                                    </p>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="no-more-tables" ng-if="dataBooleanQueryList.length == 0">
                                <p class="text-shadow lead text-xs-center">
                                    <br /> No records found!
                                </p>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="googletag" role="tabpanel" aria-expanded="true">
                    <form>
                        <div class="form-group">

                            <h6 class="text-primary m-b-0">Google Tag Search</h6>

                        </div>
                        <hr>
                        <div class="form-group row m-b-0">
                            <div class="col-md-6">
                                <div class="form-group m-b-xs">
                                    <label class="f-w-600 ">File Type</label>
                                    <select data-placeholder="Select File Type" multiple="multiple" class="select2" style="width: 100%" ng-model="googleTagFileTypeText" value-attr="label">
                                        <option>pdf</option>
                                        <option>docx</option>
                                        <option>doc</option>
                                        <option>txt</option>
                                        <option>rtf</option>
                                    </select>
                                </div>
                                <div class="form-group m-b-xs">
                                    <label class="f-w-600 ">Intitle</label>
                                    <select data-placeholder="Select Intitle" multiple="multiple" class="select2" style="width: 100%" ng-model="googleTagInTitle" value-attr="label">
                                        <option>Resume</option>
                                        <option>Bio-data</option>
                                        <option>Curriculum Vitae</option>

                                    </select>
                                </div>
                                <div class="form-group m-b-xs">
                                    <label class="f-w-600">INURL</label>
                                    <select ng-model="googleTagInURL" data-placeholder="Select INURL Type(s)" multiple="multiple" class="select2" style="width: 100%">
                                        <option>Resume</option>
                                        <option>CV</option>
                                        <option>Bio</option>
                                    </select>
                                    </select>
                                </div>
                                <div class="form-group m-b-xs">
                                    <label class="f-w-600">Skills</label>
                                    <select ng-model="googleTagSkillText" data-placeholder="Select Skills" multiple="multiple" class="select2" style="width: 100%" ng-options="skill.label as skill.label for skill in skills"></select>
                                    </select>
                                </div>
                                <div class="form-group m-b-xs">
                                    <label class="f-w-600">Location</label>


                                    <input type="text" id="input-tags" value="" placeholder="Add Location(s)" ng-model="googleTagLocation">



                                </div>
                                <div class="form-group">
                                    <label class="f-w-600">Country</label>
                                    <select ng-model="googleTagCountryText" value-attr="label" data-placeholder="Select Country(s)" multiple="multiple" class="select2" style="width: 100%">
                                        <option ng-repeat="country in metadata.GetAncillaryInformationResponse.countryList.country" value="{{country.Name}}">
                                            {{country.Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group-lg m-b-1">
                                    <label class="font-18" style="margin-bottom:10px;">Your generated query</label>
                                    <textarea id="queryStringGoogletag" name="queryStringGoogletags" ng-model="queryStringGoogletag" placeholder="boolean search string" rows="21" readonly="" class="form-control ng-pristine ng-untouched ng-valid" aria-multiline="true" aria-invalid="false"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-0">
                            <div class="col-md-6">
                                <button class="btn btn-primary btn-icon pull-right btn-sm font-12" ng-click="generateQueryGoogletag(googleTagFileTypeText,googleTagInTitle,googleTagInURL,googleTagSkillText,googleTagLocation,googleTagCountryText)">
                                    <i class="material-icons">code</i>Generate Query
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" ng-click="fillModal(queryStringGoogletag)" class="btn btn-success btn-icon pull-right btn-sm  font-12">
                                    <i class="material-icons font-18">content_copy</i>Save Query
                                </button>
                                <button type="submit" id="copyToClipboard" name="copyToClipboard" ngclipboard data-clipboard-target="#queryStringGoogletag" class="btn btn-primary btn-icon pull-right btn-sm m-r-1  font-12">
                                    <i class="material-icons font-18">content_copy</i>Copy to clipboard
                                </button>
                                <button type="submit" id="reset" name="reset" ng-click="resetGoogleQueryText()" class="btn btn-danger btn-icon pull-right btn-sm m-r-1  font-12">
                                    <i class="material-icons">
                                        refresh
                                    </i>reset
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- //........save query modal -->
<div id="AdvanceQueryModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="saveBooleanQueryForm" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>

                    <h4 class="modal-title">
                        <span>Save Boolean Query </span>
                    </h4>

                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-block">
                            <div class="row">

                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Tag:</label>
                                    <input type="text" class="form-control" id="advanceQueryTag" ng-model="saveBooleanQueryModel.Tag" name="advanceQueryTag" validation="max_len:50">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">Boolean Query:</label>
                                    <textarea class="form-control" id="message-text" ng-model="saveBooleanQueryModel.Query" readonly="readonly"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button id="advanceSave" name="advanceSave" class="btn btn-primary  btn-sm btn-icon loading-demo  m-r-xs  m-b-xs font-12  " ng-click="saveBooleanQueries(saveBooleanQueryForm)">
                        <i class="material-icons">  check </i> Submit</a>

                        <button type="button" class="btn btn-danger btn-sm btn-icon loading-demo    m-b-xs font-12" data-dismiss="modal"><i class="material-icons">  close </i>Close</button>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- save query modal ends -->
<!-- //..........what is boolean search modal -->
<div class="modal fade sidebar-modal chat-panel in" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="chat-panel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="chat-header">
                <a class="pull-right" href="javascript:;" data-dismiss="modal"><i class="material-icons">close</i></a>
                <div class="chat-header-title">
                    <h5> <i class="material-icons" aria-hidden="true">help </i> What Is Boolean Search? </h5>

                </div>

            </div>
            <div class="modal-body flex scroll-y">
                <div class="container-fluid">

                    <div class="tab-content">

                        <div class="row">
                            <p class="col-md-12 m-b-0">
                                It's an information retrieval technique that allows several search words and phrases to be combined using operators or commands. Operators are instructions to the search engine such as "and," "or," "not" and "near." Learning
                                to use these Boolean operators for keyword searches will help narrow your results.
                            </p>
                        </div>
                        <hr>

                        <h5 class="ng-scope">Basic Boolean Operators:</h5>
                        <h6 class="text-primary ng-scope">Or</h6>
                        <p class="ng-scope">
                            This operator combines keywords so that a document is retrieved if it contains any or all of the keywords.<br> For example, searching for "developer or engineer" will find all documents in which the words "developer" or "engineer"
                            appear. "Or" is the default command on most, but not all, search engines, so if you use more than one word in a search without an operator, the search engine assumes each word is linked by "or."
                        </p>
                        <h6 class="text-primary ng-scope">And</h6>
                        <p class="ng-scope">
                            Use "and" to combine terms so that information is retrieved only if all terms occur in the same document.<br> For example, "software and engineer" will find only documents where both keywords occur.
                        </p>

                        <h6 class="text-primary ng-scope">Not</h6>
                        <p class="ng-scope">
                            The "not" operator prevents retrieval of documents in which specified terms occur together. This operator is also helpful when a keyword has multiple meanings.<br> For example, "engineer not software" will find documents in
                            which "engineer" occurs but "software" does not.
                        </p>
                        <h6 class="text-primary ng-scope">Near</h6>
                        <p class="ng-scope">
                            The "near" operator indicates that the search words you have entered must appear within a certain number of words of each other (usually between one and 20).<br> For example, a search for "sales near management" would turn
                            up results in which the two words appear close together.
                        </p>
                        <h6 class="text-primary ng-scope">Wildcard Symbol: *</h6>

                        <p class="ng-scope">
                            The asterisk can replace one or more letters at the end of a word. This might help you search for something that can be phrased differently.<br> For example, "nurs*" will find documents containing the words nurse, nursing and
                            nurses.
                        </p>
                        <h6 class="text-primary ng-scope">
                            Quotation Marks: " "
                        </h6>
                        <p class="ng-scope">
                            This operator searches for words or a phrase exactly as typed. Putting quotation marks around the words "ultrasound technologist" will find only those documents containing those two words in that exact order.
                        </p>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- //...........modal ends -->

<script>
    $('#input-tags').selectize({
        delimiter: ',',
        persist: false,
        create: function create(input) {
            return {
                value: input,
                text: input
            };
        }
    });
    setTimeout(function () {
        $(".select2").each(function () { //added a each loop here
            $(this).val("");
            $(this).trigger("change");
        });
    }, 1000);
</script>