<div class="session-content p-a-0">
    <div class="col-sm-12">
        <div class="p-b-1 text-xs-center">
            <a class="m-b-3" href="#" ng-href="{{configuration.XSEED_HOME_LINK}}">
                <img src="images/logo-b.png" class="img-responsive" />
            </a>
        </div>
        <div class="col-lg-6 col-lg-offset-3 offset-md-3">
            <form role="form" name="associateForm" novalidate>
                <div class="card m-b-0">
                  <div class="card-block">
                    <div class="m-b-xs text-xs-center">
                      <h5>
                        Associate your {{externalAuthData.provider}} Account
                      </h5>
                      <p class="text-success">You have successfully authenticated with <strong>{{externalAuthData.provider}} </strong>. Please enter a user name below and click the Continue button to log in into XSeed.</p>
                    </div>
                    <fieldset class="form-group">
                      <label>
                        Enter your username
                      </label>
                      <input type="text" class="form-control form-control-custom" id="userName" placeholder="Email" name="userName" ng-model="externalAuthData.userName" autocomplete="off" validation="required|min_len:6|max_len:50">
                    </fieldset>
                    <fieldset class="form-group row">
                      <label for="" class="col-sm-12">
                        Name
                      </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control form-control-custom" placeholder="First Name" ng-model="externalAuthData.firstName" id="FirstName" name="FirstName" validation="required|min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe" />

                      </div>
                      <div class="col-sm-6">
                        <input type="text" class="form-control form-control-custom" placeholder="Last Name" ng-model="externalAuthData.lastName" id="LastName" name="LastName" validation="required|min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe" />

                      </div>
                    </fieldset>
                    <fieldset class="form-group">
                      <label for="email">
                        Email address

                      </label>
                      <input type="email" class="form-control form-control-custom" id="email" placeholder="Email" ng-model="externalAuthData.email" name="email" validation="required|xseed_email|min_len:6|max_len:50" />
                    </fieldset>
                    <fieldset class="form-group">
                      <label for="">Mobile </label>
                      <!--(E.g: 111-111-1111)-->
                      <input type="text" class="form-control form-control-custom" placeholder="Enter Mobile" ng-model="externalAuthData.mobile" name="mobile" ui-mask="(999)-999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" ng-blur="removeMask()" ng-focus="placeMask()"
                             validation="required:alt=Mobile is required.|xseed_mobile" />
                    </fieldset>
                    <fieldset class="form-group">

                      <!--<div>-->
                      <!--ng-if="common.candidateModel.manipulationMode === 'Create' || common.candidateModel.manipulationMode === 'CreateParsed'"-->
                      <!--<span class="fa fa-info-circle text-muted"></span>
      <span class="file-info">
        Please select files from pdf,doc or docx.
      </span>
    </div>-->
                      <label for="Resume">
                        Upload Resume
                      </label>
                      <div class=" btn input-container " style="width:100%;padding:0px">
                        <input type="file" id="real-input" class=" form-control form-control-custom browse-btn  btn" accept=".pdf,.doc,.docx,.txt" ng-model="externalAuthData.Resume" ng-file-model="externalAuthData.Resume" name="resumeFile" onchange="angular.element(this).scope().uploadResume(this.files)"
                               validation="required:alt=resume is required" />
                        <span class="text-muted file-info" style="vertical-align:-webkit-baseline-middle;">
                          select files from pdf,doc or docx.
                        </span>
                        <button type="button" style="float:right" class=" browse-btn-resume btn btn-outline-primary" ng-click="add()">
                          Browse File
                        </button>
                      </div>

                    </fieldset>
                    <fieldset class="form-group">
                      <label for="Skills">
                        Skills
                      </label>
                      <select data-placeholder="Select Skills" multiple="multiple" ng-model="externalAuthData.Skills" name="Skills" class="select2 btn" style="width: 100%" ng-options="skill.label as skill.label for skill in lookup.skillListData" validation="required:alt=Skill(s) required"></select>
                    </fieldset>
                    <button class="btn btn-primary btn-block btn-login" type="button" ng-click="registerCandidate(associateForm);">
                      Continue
                    </button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="text-xs-center m-t-1">
    <span>
        Already have an account?
    </span>
    <a class="bold text-primary" href="#login" ng-click="toggleLoginRegistration(1)">
        LOGIN
    </a>
</div>
<div class="text-xs-center m-t-1" ng-include="'views/common/footer.html'"></div>
<script>

  const fileInfo = document.querySelector('.file-info');
  const realInput = document.getElementById('real-input');
  const uploadButton = document.querySelector('.browse-btn-resume');

  uploadButton.addEventListener('click', (e) => {
    realInput.click();
  });

  realInput.addEventListener('change', () => {
    const name = realInput.value.split(/\\|\//).pop();
    const truncated = name.length > 60 ?
      name.substr(name.length - 60) :
      name;

    fileInfo.innerHTML = truncated;
  });
  function realInputClick() {
    realInput.click();
  }
  //function uploadrealuploadButton() {
  //    const name = realInput.value.split(/\\|\//).pop();
  //    const truncated = name.length > 60 ? name.substr(name.length - 60) : name
  //    fileInfo.innerHTML = truncated;
  //}
  //.......................

  const fileInfo1 = document.querySelector('.file-info1');
  const realInput1 = document.getElementById('real-input1');

  //uploadButton1.addEventListener('click', (e) => {
  //    realInput1.click();
  //});

  //realInput1.addEventListener('change', () => {
  //    const name1 = realInput1.value.split(/\\|\//).pop();
  //const truncated1 = name1.length > 20 ?
  //    name1.substr(name1.length - 20) :
  //    name1;

  //fileInfo1.innerHTML = truncated1;
  //});

  function realInput1Click() {
    realInput1.click();
  }
  function uploadrealuploadButton1() {
    const name1 = realInput1.value.split(/\\|\//).pop();
    const truncated1 = name1.length > 20 ? name1.substr(name1.length - 20) : name1;
    fileInfo1.innerHTML = truncated1;
  }

  //.......for video resume

  const fileInfov = document.querySelector('.file-infov');
  const realInputv = document.getElementById('real-inputv');
  function realInputvClick() {
    realInputv.click();
  }
  function uploadrealInputv() {
    var namev = realInputv.value.split(/\\|\//).pop();
    var truncatedv = namev.length > 20 ? namev.substr(namev.length - 20) : namev;
    fileInfov.innerHTML = truncatedv;
  }
</script>

