<div class="session-content p-a-0" style="display:block;" ng-init="joinedCandidate()">
  <div class="row">
    <div class="col-sm-2 hidden-md-up"></div>
    <div class="col-sm-8 col-lg-4">
      <div class="p-a-1">
        <a class="m-b-3" href ng-href="{{configuration.XSEED_HOME_LINK}}">
          <img src="images/logo-b.png" class="img-responsive" />
        </a>
      </div>
      <div id="login" ng-show="toggleLoginRegistrationFlag == 1">
        <form role="form" name="loginForm" novalidate>
          <div class="p-a-3">
            <div class="m-b-2">
              <h4 class="font-weight-bold">Welcome to VrATS!</h4>
            </div>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-custom" id="userName" placeholder="Email" name="loginRequest.userName" ng-model="loginRequest.userName" validation="required|min_len:6|max_len:100|email" />
            </fieldset>
            <fieldset class="form-group">
              <div class="input-group">
                <input type="password" onkeyup="ClearError('password','password-error')" class="form-control form-control-custom" id="password" placeholder="Password" name="loginRequest.password" ng-model="loginRequest.password" autocomplete="off" ng-enter="login(loginForm);" />
                <span class="input-group-addon bg-white" style="border-color: #cccccc;">
                  <i style="font-size: 18px !important;"
                     class="fa fa-eye-slash reveal"></i>
                </span>
              </div>
              <label id="password-error" class="error disp-none chk-label" for="password">
                Password is required
              </label>
            </fieldset>
            <div class="row m-b-2">
              <div class="col-sm-12">
                <span class="pull-left">
                  <label class="c-input c-checkbox ">
                    <label class="custom-control  custom-checkbox m-b-1">
                      <input ng-model="loginRequest.stayLoggedIn" type="checkbox"
                             class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Stay logged in</span>
                    </label>


                </span>
                <span class="pull-right">
                  <a class="text-primary" href="#forgotPassword" ng-click="gotoForgotPassword()">
                    Forgot Password?
                  </a>
                </span>
              </div>
            </div>
            <div class="row m-b-2">
              <div class="col-sm-6">
                <button class="btn btn-primary pull-left btn-block m-b-xs btn-login" type="button" ng-click="login(loginForm);">
                  LOGIN
                </button>
              </div>
              <div class="col-sm-6">
                <a ng-click="toggleLoginRegistration(2);getJobSearchOptions();" href class="btn btn-outline-primary btn-block pull-right btn-login">
                  SIGN UP
                </a>
              </div>
            </div>
            <div class="row text-xs-center">
              <div class="col-sm-12">
                <h6 class="font-weight-bold">or you can also login using</h6>
                <div class="animated fadeIn">
                  <a ng-click="socialLogin('LinkedIn');getJobSearchOptions();" title="Linkedin">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x" style="color:#0177B5;"></i>
                      <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                  <a ng-click="socialLogin('Facebook');getJobSearchOptions();" title="Facebook">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x" style="color:#486faa;"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                  <a ng-click="socialLogin('Google');getJobSearchOptions();" title="Google Plus">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x" style="color:#ea634e;"></i>
                      <i class="fa fa-google fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                  <a ng-click="socialLogin('Twitter');getJobSearchOptions();" title="Twitter">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x" style="color:#4dd1f8;"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div id="register" ng-show="toggleLoginRegistrationFlag == 2">
        <form role="form" name="candidateRegistrationForm" novalidate>
          <div class="p-l-3 p-r-3 p-b-xs p-t-xs">
            <div class="m-b-xs">
              <h4 class="font-weight-bold">Create your account</h4>
            </div>
            <fieldset class="form-group row">
              <label class="col-sm-12" for="FirstName">
                Name

              </label>
              <div class="col-sm-6">
                <input type="text" class="form-control form-control-custom" placeholder="First Name" ng-model="registerCandidateRequest.FirstName" id="FirstName" name="FirstName" validation="required"
                       onkeypress="return onlyCharacter(event)" validation="required:alt=First name is required.|xseed_max_len:First Name,50|xseed_alpha_dash_dot_apostrophe:alt=First Name may only contain letters, dots, dashes and apostrophe." />

              </div>

              <div class="col-sm-6">
                <input type="text" class="form-control form-control-custom" placeholder="Last Name" ng-model="registerCandidateRequest.LastName" id="LastName" name="LastName" validation="required"
                       onkeypress="return onlyCharacter(event)" validation="required:alt=First name is required.|xseed_max_len:First Name,50|xseed_alpha_dash_dot_apostrophe:alt=First Name may only contain letters, dots, dashes and apostrophe." />

              </div>
            </fieldset>
            <fieldset class="form-group">
              <label for="email">
                Email Address
              </label>
              <input type="email" class="form-control form-control-custom" id="email" placeholder="Email Address" ng-model="registerCandidateRequest.UserName" ng-init="registerCandidateRequest.UserName=''" name="email" validation="required|xseed_email" />
            </fieldset>
            <fieldset class="form-group">
              <label for="">Mobile</label>
              <input type="text" class="form-control form-control-custom" placeholder="Enter Mobile" ng-model="registerCandidateRequest.Mobile" name="mobile" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" ng-blur="removeMask()" ng-focus="placeMask()"
                     validation="required:alt=Mobile is required.|xseed_mobile" />
            </fieldset>
            <fieldset class="form-group">
              <label for="password">
                Password
              </label>
              <input type="password" class="form-control form-control-custom" id="registrationPassword" placeholder="Password" ng-model="registerCandidateRequest.password" name="registerCandidateRequest.password" block-clipboard autocomplete="off" validation="required|min_len:8|max_len:16|xseed_password" />
            </fieldset>
            <fieldset class="form-group">
              <label for="confirmPassword">
                Confirm Password
              </label>
              <input type="password" class="form-control form-control-custom" id="confirmPassword" placeholder="Confirm Password" required ng-model="registerCandidateRequest.confirmPassword" ng-init="" block-clipboard name="registerCandidateRequest.confirmPassword"
                     autocomplete="off" validation="required|match:registerCandidateRequest.password,Password:alt=Password does not match." />
            </fieldset>
            <fieldset class="form-group">

              <!--<div>-->
              <!--ng-if="common.candidateModel.manipulationMode === 'Create' || common.candidateModel.manipulationMode === 'CreateParsed'"-->
              <!--<span class="fa fa-info-circle text-muted"></span>
                <span class="file-info">
                  Please select files from pdf,doc or docx.
                </span>
              </div>-->
              <label for="Resume">
                Upload Resume
              </label>
              <div class=" btn input-container " style="width:100%;padding:0px">
                <input type="file" id="real-input" class=" form-control form-control-custom browse-btn  btn" accept=".pdf,.doc,.docx,.txt" ng-model="registerCandidateRequest.Resume" ng-file-model="registerCandidateRequest.Resume" name="resumeFile" onchange="angular.element(this).scope().uploadResume(this.files)"
                       validation="required:alt=resume is required" />
                <span class="text-muted file-info" style="vertical-align:-webkit-baseline-middle;">
                  select files from pdf,doc or docx.
                </span>
                <button type="button" style="float:right" class=" browse-btn-resume btn btn-outline-primary" ng-click="add()">
                  Browse File
                </button>
              </div>

            </fieldset>
            <fieldset class="form-group">
              <label for="Skills">
                Skills
              </label>
              <select data-placeholder="Select Skills" multiple="multiple" ng-model="registerCandidateRequest.Skills" name="Skills" class="select2 btn" style="width: 100%" ng-options="skill.label as skill.label for skill in lookup.skillListData" validation="required:alt=skills required"></select>
            </fieldset>
            <div class="row" style="margin-top:30px;">
              <div class="col-sm-12">
                <button type="button" class="btn btn-primary btn-block btn-login" ng-click="registerCandidate(candidateRegistrationForm)">
                  SIGN UP
                </button>
              </div>
            </div>
            <div class="text-xs-center m-t-1">
              <span>
                Already have an account?
              </span>
              <a class="bold text-primary" ng-click="toggleLoginRegistration(1)">
                LOGIN
              </a>
            </div>
          </div>
        </form>
      </div>
      <div class="text-xs-center m-t-xs" ng-include="'views/common/footer.html'"></div>
    </div>
    <div class="hidden-md-down col-lg-8 bg-img-full" style="background-image: url(images/homeback.png); height: 100vh;;">
      <div class="p-a-3">
        <div class="row">
          <div class="col-sm-12 p-t-3 m-b-3">
            <div class="p-t-1">
              <div class="text-white lead text-sm-center">
                <span style="color: #01ecfc;font-size:30px;">Video Resume Applicant Tracking System</span>
              </div>
              <div class="text-white font-18">
                Designed to achieve the right position for you. Find better jobs, company info and much more.
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 ">

            <div class="col-md-3 col-sm-3 text-sm-center">
              <img src="images/f-search.png" />
              <h5 class="text-white">Advance<br />Search</h5>
            </div>
            <div class="col-md-3 col-sm-3 text-sm-center">
              <img src="images/noti.png" />
              <h5 class="text-white">Job<br />Alerts</h5>
            </div>
            <div class="col-md-3 col-sm-3 text-sm-center">
              <img src="images/parser.png" />
              <h5 class="text-white">Resume<br />Parser</h5>
            </div>
            <div class="col-md-3 col-sm-3 text-sm-center">
              <img src="images/apply.png" />
              <h5 class="text-white">Apply<br />Job</h5>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

  const fileInfo = document.querySelector('.file-info');
  const realInput = document.getElementById('real-input');
  const uploadButton = document.querySelector('.browse-btn-resume');

  uploadButton.addEventListener('click', (e) => {
    realInput.click();
  });

  realInput.addEventListener('change', () => {
    const name = realInput.value.split(/\\|\//).pop();
    const truncated = name.length > 60 ?
      name.substr(name.length - 60) :
      name;

    fileInfo.innerHTML = truncated;
  });
  function realInputClick() {
    realInput.click();
  }
  //function uploadrealuploadButton() {
  //    const name = realInput.value.split(/\\|\//).pop();
  //    const truncated = name.length > 60 ? name.substr(name.length - 60) : name
  //    fileInfo.innerHTML = truncated;
  //}
  //.......................

  const fileInfo1 = document.querySelector('.file-info1');
  const realInput1 = document.getElementById('real-input1');

  //uploadButton1.addEventListener('click', (e) => {
  //    realInput1.click();
  //});

  //realInput1.addEventListener('change', () => {
  //    const name1 = realInput1.value.split(/\\|\//).pop();
  //const truncated1 = name1.length > 20 ?
  //    name1.substr(name1.length - 20) :
  //    name1;

  //fileInfo1.innerHTML = truncated1;
  //});

  function realInput1Click() {
    realInput1.click();
  }
  function uploadrealuploadButton1() {
    const name1 = realInput1.value.split(/\\|\//).pop();
    const truncated1 = name1.length > 20 ? name1.substr(name1.length - 20) : name1;
    fileInfo1.innerHTML = truncated1;
  }

  //.......for video resume

  const fileInfov = document.querySelector('.file-infov');
  const realInputv = document.getElementById('real-inputv');
  function realInputvClick() {
    realInputv.click();
  }
  function uploadrealInputv() {
    var namev = realInputv.value.split(/\\|\//).pop();
    var truncatedv = namev.length > 20 ? namev.substr(namev.length - 20) : namev;
    fileInfov.innerHTML = truncatedv;
  }


  function ClearError(el, err) {

    if ($("#" + el).val() != "") {
      $("#" + err).hide();
    } else {
      $("#" + err).show();
    }
  }


  $(".reveal").on('click', function () {
    var $pwd = $("#password");
    $('.reveal').toggleClass("fa-eye-slash fa-eye");

    //$('.reveal').removeClass("fa fa-eye reveal");
    // $('.reveal').addClass("fa fa-eye-slash reveal");

    if ($pwd.attr('type') === 'password') {
      $pwd.attr('type', 'text');
    } else {
      $pwd.attr('type', 'password');
    }
  });
</script>
