﻿<div class="session-content p-t-xs">
    <div class="card col-xs-12 col-sm-8 col-md-6 col-lg-5">
        <form role="form" name="candidateRegistrationForm" novalidate>
            <div class="card-header p-a-xs text-xs-center no-bg">
                <a href="#" ng-href="{{configuration.XSEED_HOME_LINK}}">
                    <img src="images/logo-b.png" class="img-responsive center-block" />
                </a>
                <h5>Register</h5>
                <p class="text-muted">
                    Create an account to continue.
                </p>
            </div>
            <div class="card-block p-t-xs">
                <fieldset class="form-group row">
                    <label class="col-sm-12">
                        Name
                        <span class="bold text-red">*</span>
                    </label>
                    <div class="col-sm-6">
                        <input type="text"
                               class="form-control"
                               placeholder="First Name"
                               ng-model="registerCandidateRequest.FirstName"
                               id="FirstName"
                               name="FirstName"
                               validation="required|min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe" />

                    </div>

                    <div class="col-sm-6">
                        <input type="text"
                               class="form-control"
                               placeholder="Last Name"
                               ng-model="registerCandidateRequest.LastName"
                               id="LastName"
                               name="LastName"
                               validation="required|min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe" />

                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label for="email">
                        Email address
                        <span class="bold text-red">*</span>
                    </label>
                    <input type="email"
                           class="form-control"
                           id="email"
                           placeholder="Email"
                           ng-model="registerCandidateRequest.userName"
                           ng-init="registerCandidateRequest.userName=''"
                           name="email"
                           validation="required|xseed_email|min_len:6|max_len:100" />
                </fieldset>
                <fieldset class="form-group">
                    <label>Mobile<span class="bold text-red"></span></label>
                    <!--(E.g: 111-111-1111)-->
                    <input type="text"
                           class="form-control"
                           placeholder="Enter Mobile"
                           ng-model="registerCandidateRequest.Mobile"
                           name="mobile"
                           ui-mask="999-999-9999"
                           ui-mask-placeholder
                           ui-mask-placeholder-char="_"
                           ng-blur="removeMask()"
                           validation="xseed_mobile" />
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">
                        Password
                        <span class="bold text-red">*</span>
                    </label>
                    <input type="password"
                           class="form-control"
                           id="password"
                           placeholder="Password"
                           ng-model="registerCandidateRequest.password"
                           name="registerCandidateRequest.password"
                           
                           autocomplete="off"
                           validation="required|min_len:8|max_len:16|xseed_password" />
                </fieldset>
                <fieldset class="form-group">
                    <label for="confirmPassword">
                        Confirm password
                        <span class="bold text-red">*</span>
                    </label>
                    <input type="password"
                           class="form-control"
                           id="confirmPassword"
                           placeholder="Confirm Password"
                           required
                           ng-model="registerCandidateRequest.confirmPassword"
                           ng-init=""
                           
                           name="registerCandidateRequest.confirmPassword"
                           autocomplete="off"
                           validation="required|match:registerCandidateRequest.password,Password:alt=Confirm password does not match." />
                </fieldset>
                <button type="button" class="btn btn-primary btn-block btn-lg" ng-click="registerCandidate(candidateRegistrationForm)">
                    Create your account
                </button>
                <p class="well-lg">
                </p>
                <!--<div class="divider">
                    <span>
                        OR
                    </span>
                </div>
                <div class="text-xs-center">
                    <p>
                        Signup with your social account
                    </p>
                    <a class="btn btn-icon-icon btn-facebook btn-lg m-b-1 m-r-1">
                        <i class="fa fa-facebook">
                        </i>
                    </a>
                    <a class="btn btn-icon-icon btn-github btn-lg m-b-1 m-r-1">
                        <i class="fa fa-github">
                        </i>
                    </a>
                    <a class="btn btn-icon-icon btn-google btn-lg m-b-1 m-r-1">
                        <i class="fa fa-google-plus">
                        </i>
                    </a>
                    <a class="btn btn-icon-icon btn-linkedin btn-lg m-b-1 m-r-1">
                        <i class="fa fa-linkedin">
                        </i>
                    </a>
                </div>-->
            </div>
            <div class="text-xs-center">
                <p>
                    <a href="#candidateLogin" ng-click="gotoLogin()">
                        Log in instead
                    </a>
                </p>
            </div>
        </form>
        <div class="text-xs-center hidden-lg-up" ng-include="'views/common/footer.html'"></div>
    </div>
</div>