﻿<!-- <div class="session-content p-a-0">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 p-a-xs">
        <form role="form" name="forgotPasswordForm" novalidate>
            <div class="p-a-2 text-xs-center">
                <a class="m-b-3" href="#" ng-href="{{configuration.XSEED_HOME_LINK}}">
                    <img src="images/logo-b.png" class="img-responsive" />
                </a>
            </div>
            <div class="card">
                <div class="card-block text-xs-center">
                    <div class="text-xs-center m-b-1">
                        <h5 class="bold">
                            Forgot password!
                        </h5>
                    </div>
                    <fieldset class="form-group">
                        <p class="text-muted">
                            Enter your email address.<br />We will send you information to help you to reset your password.
                        </p>
                        <input type="text" class="form-control form-control-custom" id="userName" placeholder="Enter your email" name="userName" ng-model="forgotPasswordModel.Username" autocomplete="off" validation="required|min_len:6|max_len:100|email">
                    </fieldset>
                    <button class="btn btn-primary btn-block btn-login" type="button" ng-click="forgotPassword(forgotPasswordForm);">
                        Submit
                    </button>
                    <div class="text-xs-center m-t-1">
                        <a class="bold text-primary" href="#candidateLogin" ng-click="toggleLoginRegistration(1)">
                            LOGIN
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="text-xs-center m-t-1" ng-include="'views/common/footer.html'"></div>
</div> -->

<div ng-init="ChangeAppClass()" style="background-image:
         url(images/hero-bg3.jpg);
         background-position: bottom;
         background-size: cover;">
    <div class="session-panel">
        <div class="session">
            <div class="session-content">
                <div class="card card-block form-layout" style="max-width:
                     450px;">

                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" id="validate" name="forgotPasswordForm" novalidate="novalidate">
                                <div class="text-xs-center">
                                    <a href ng-href="{{configuration.XSEED_HOME_LINK}}">
                                        <img src="images/logo-b.png">
                                    </a>
                                    <h5>Reset password</h5>
                                    <p class="text-muted">Enter your email and we'll send you instructions on how to reset your password.
                                    </p>
                                </div>
                                <fieldset class="form-group">
                                    <label class="chk-label" for="username">Your email address</label>
                                    <div class="input-group">
                                        <span class="input-group-addon bg-white
                                            border-left-0" style="border-color:
                                            #7fc35c;"><i class="fa fa-envelope"></i></span>
                                        <input onkeyup="validateEmail(this.value,'userName','username-error2','btn_submit' )" onkeydown="ClearError('userName','username-error')" type="text" class="form-control
                                            form-control valid" placeholder="email address" required="" aria-required="true" aria-invalid="false" id="userName" name="userName" ng-model="forgotPasswordModel.Username" autocomplete="off" validation="">
                                    </div>
                                    <label id="username-error" class="error disp-none chk-label" for="username">This field in required
                                        </label>
                                    <label id="username-error2" class="error chk-label" for="username"> 
                                        </label>
                                </fieldset>
                                <button id="btn_submit" disabled ng-click="forgotPassword(forgotPasswordForm);" class="btn btn-primary btn-block
                                      m-b-2" type="button">Reset password</button>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 col-sm-12">
                                        <label class="custom-control
                                            custom-checkbox m-b-1">  <a href="#login" ng-click="gotoLogin()"> <span
                                               class="custom-control-description
                                               pull-right">Back to login</span></a></label>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>


                </div>
            </div>
            <p class="text-white text-xs-center">&copy;{{date | date:'yyyy'}}, tCognition Inc. All rights reserved.</p>

        </div>
    </div>
</div>

<style>
    .form-layout label.disp-none {
        display: none;
    }
</style>
<script>
    function ClearError(el, err) {
        // document.getElementById("username-error2").innerHTML = "";
        if ($("#" + el).val() != "") {
            $("#" + err).hide();

        } else {
            $("#" + err).show();
        }
    }
</script>