﻿<div ng-init="checkIsUserAuthorized();getAppliedJobStatus()">
    <div class="row animated fadeIn">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header no-bg clearfix">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group has-search m-b-0">
                                <span style="line-height: 1.3rem;" class="fa fa-search form-control-feedback"></span>
                                <input class="form-control form-control-sm" ng-model="appliedJobStatusFilter.$" type="text" placeholder="Search">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-block p-a-xs">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="no-more-tables dataTables_wrapper container-fluid dt-bootstrap4 no-footer StatusTablemargin">
                                <table ng-table="tblRequirementStatus" class="table table-responsive dataTable datatable">
                                    <caption></caption>
                                    <thead>
                                        <tr class="card">

                                            <th id="">Job title</th>
                                            <th id="">Job status</th>
                                            <th id="">Applied date</th>
                                            <th id="">Application status</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="application in dataAppliedJobStatus">
                                            <td class="text-primary" data-title="Job Title" ng-bind="application.JobTitle" ng-click="jobDetailView(application.JobId);" href></td>
                                            <td data-title="Job Status" ng-bind="application.JobStatus"></td>
                                            <td data-title="Applied Date" ng-bind="application.AppliedDate | date:'MM/dd/yyyy'"></td>
                                            <td data-title="Application Status" ng-bind="application.Status"></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="dataAppliedJobStatus.length == 0">
                                    <p class="text-shadow lead text-xs-center">
                                        <img src="images/search.png" alt="Search Icon PNG"/><br /> No records found!
                                    </p>
                                </div>

                            </div>

                            <div class="no-contacts p-a-3 border-warning text-xs-center" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!dataAppliedJobStatus">
                                <p class="text-shadow lead">
                                    <img src="images/search.png" alt="Search Icon PNG"/><br />
                                    <div class="m-b-xs">You have not applied to any jobs yet!</div>
                                    <a href class="btn   btn-outline-primary" ng-click="goToOpenings()">Apply Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>