﻿<div class="row" ng-init="checkIsUserAuthorized()">
    <div class="card">
        <div class="card-header no-bg clearfix">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 pull-lg-right pull-md-right pull-sm-left">
                    <a class="btn btn-danger btn-sm small pull-lg-right pull-md-right pull-right" role="button" ng-href="#/openings">
                        <i class="fa fa-list m-r-xs" aria-hidden="true"></i>Job List
                    </a>
                    <button class="btn btn-primary btn-sm small m-r-xs pull-lg-right pull-md-right pull-sm-left" role="button" ng-click="applyToSelectedJob(requirementModel);" ng-if="!requirementModel.isApplied">
                        Apply
                    </button>
                    <label ng-if="requirementModel.isApplied" class="text-success bold m-r-1 pull-lg-right pull-md-right pull-sm-left"><i class="fa fa-check-circle m-r-1" aria-hidden="true"></i>Applied</label>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <h5 class="title">
                        <span ng-bind="requirementModel.JobTitle"></span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="row p-t-xs">
                <div class="col-sm-12">
                    <ul class="list-inline m-b-0">
                        <li class="list-inline-item">
                            <p>
                                <label ng-if="requirementModel.JobStatus== 'Posted'" class="label label-md label-primary">
                                    <i class="fa fa-flag" aria-hidden="true"></i>
                                    <span ng-bind="requirementModel.JobStatus">{{requirementModel.JobStatusId}}</span>
                                </label>
                                <label ng-if="requirementModel.JobStatus== 'Closed'" class="label label-md label-success">
                                    <i class="fa fa-flag" aria-hidden="true"></i>
                                    <span ng-bind="requirementModel.JobStatus">{{requirementModel.JobStatusId}}</span>
                                </label>

                                <label ng-if="requirementModel.JobStatus== 'Archive'" class="label label-md label-default">
                                    <i class="fa fa-flag" aria-hidden="true"></i>
                                    <span ng-bind="requirementModel.JobStatus">{{requirementModel.JobStatusId}}</span>
                                </label>
                                <label ng-if="requirementModel.JobStatus== 'Pending'" class="label label-md label-warning">
                                    <i class="fa fa-flag" aria-hidden="true"></i>
                                    <span ng-bind="requirementModel.JobStatus">{{requirementModel.JobStatusId}}</span>
                                </label>
                                <label ng-if="requirementModel.JobStatus== 'Hold'" class="label label-md label-info">
                                    <i class="fa fa-flag" aria-hidden="true"></i>
                                    <span ng-bind="requirementModel.JobStatus">{{requirementModel.JobStatusId}}</span>
                                </label>
                                <label ng-if="requirementModel.JobStatus== 'Open'" class="label label-md label-danger">
                                    <i class="fa fa-flag" aria-hidden="true"></i>
                                    <span ng-bind="requirementModel.JobStatus">{{requirementModel.JobStatusId}}</span>
                                </label>

                            </p>
                        </li>
                        <li class="list-inline-item">
                            <p class="bold">
                                <span class="text-muted"><i class="fa fa-calendar"></i> Posted on</span> : <span>{{requirementModel.JobPostedDate| date:'MM-dd-yyyy'}}</span>
                            </p>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header clearfix">
                            <h6 class="bold">Summary</h6>
                        </div>
                        <div class="card-block clearfix p-a-xs">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">Employment Type:</label>
                                    <span ng-bind="requirementModel.JobType" class="bold"></span>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">Company Requirement Code:</label>
                                    <span ng-bind="requirementModel.ClientJobCode" class="bold"></span>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">Internal Requirement Id:</label>
                                    <span ng-bind="requirementModel.RequisitionId" class="bold"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">Closed Date:</label>
                                    <span class="bold">{{requirementModel.JobClosedDate| date:'MM-dd-yyyy'}}</span>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">Expiry Date:</label>
                                    <span class="bold">{{requirementModel.JobExpiryDate| date:'MM-dd-yyyy'}}</span>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="description">
                                        <div id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h6 class="text-muted font-weight-normal">
                                                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            Description <i class="fa fa-chevron-circle-down"></i>
                                                        </a>
                                                    </h6>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <p ng-bind="requirementModel.JobDescription"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header clearfix">
                            <h6 class="bold">Other Details</h6>
                        </div>
                        <div class="card-block clearfix p-a-xs">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">Total Positions:</label>
                                    <span ng-bind="requirementModel.TotalPositions" class="bold"></span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">Visa Type:</label>
                                    <span ng-bind="requirementModel.VisaType" class="bold"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">Max Salary:</label>
                                    <span ng-bind="requirementModel.MaxSalary" class="bold"></span>
                                </div>
                                <div class="col-sm-6 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">Min Salary:</label>
                                    <span ng-bind="requirementModel.MinSalary" class="bold"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">Experience:</label>
                                    <span class="bold" ng-if="requirementModel.ExperienceInYear || requirementModel.ExperienceInMonth" ng-bind-template="{{requirementModel.ExperienceInYear}}.{{requirementModel.ExperienceInMonth}}"></span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">US Exp.:</label>
                                    <span class="bold" ng-if="requirementModel.USExperienceInYear || requirementModel.USExperienceInMonth" ng-bind-template="{{requirementModel.USExperienceInYear}}.{{requirementModel.USExperienceInMonth}}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">Qualification:</label>
                                    <span class="bold" ng-repeat-start="degree in requirementModel.DegreeList" ng-if="$index< requirementModel.DegreeList.length- 1">{{degree.Name}}, </span>
                                    <span class="bold" ng-repeat-end ng-if="requirementModel.DegreeList.length-1=== $index">{{degree.Name}}</span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">Communication Skills:</label>
                                    <span class="bold" ng-bind="requirementModel.CommunicationSkills"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">Technical Skills:</label>
                                    <span class="bold" ng-bind="requirementModel.SkillList"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header clearfix">
                            <h6 class="bold">Location</h6>
                        </div>
                        <div class="card-block p-a-xs clearfix">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">Job Location:</label>
                                    <span ng-bind="requirementModel.Location" class="bold"></span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">City:</label>
                                    <span ng-bind="requirementModel.City" class="bold"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">State:</label>
                                    <span ng-bind="requirementModel.State" class="bold"></span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">Country:</label>
                                    <span ng-bind="requirementModel.Country" class="bold"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="text-muted font-weight-normal">Zip:</label>
                                    <span ng-bind="requirementModel.Zip" class="bold"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



