﻿<div ng-switch="subview">
    <div ng-switch-when="openings">
        <div ng-include=" 'views/openings/openings.html' "></div>
    </div>
    <div ng-switch-when="jobDetail">
        <div ng-include=" 'views/openings/jobDetail.html' "></div>
    </div>
    <div ng-switch-when="applicationStatus">
        <div ng-include=" 'views/openings/applicationStatus.html' "></div>
    </div>
</div>