﻿<div ng-init="checkIsUserAuthorized();initOpenings()" ng-controller="OpeningsCtrl">
    <div class="row animated fadeIn">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li ng-class="{'active' : common.step=='one'}" class="nav-item">
                    <a ng-click="getDefaultJobOpenings()" ng-class="{'active' : common.step=='one'}" class="nav-link" target="_self" role="tab" aria-expanded="true" data-toggle="tab" data-target="#topJobs">
                        <i class="fa fa-suitcase m-r-xs" aria-hidden="true"></i><span class="hidden-sm-down hidden-md-down">Top Jobs</span>
                    </a>
                </li>
                <li ng-class="{'active' : common.step=='two'}" class="nav-item">
                    <a ng-click="getJobOpenings()" ng-class="{'active' : common.step=='two'}" class="nav-link" target="_self" role="tab" aria-expanded="true" data-toggle="tab" data-target="#matchingJobs">
                        <i class="fa fa-files-o m-r-xs" aria-hidden="true"></i><span class="hidden-sm-down hidden-md-down">Matching Jobs</span>
                    </a>
                </li>
                <li ng-class="{'active' : common.step=='three'}" class="nav-item">
                    <a ng-click="getJobSearchOptions()" ng-class="{'active' : common.step=='three'}" class="nav-link" target="_self" role="tab" aria-expanded="true" data-toggle="tab" data-target="#searchJobs">
                        <i class="fa fa-search m-r-xs" aria-hidden="true"></i><span class="hidden-sm-down hidden-md-down">Search Jobs</span>
                    </a>
                </li>
            </ul>




            <div class="tab-content">
                <div id="topJobs" class="tab-pane" ng-class="{'active' : common.step=='one'}" aria-expanded="true">
                    <h6 class="hidden-lg-up m-b-1">Top Jobs-</h6>
                    <div class="row">
                        <div class="col-sm-12 m-b-xs">
                            <div class="form-group has-search m-b-0 col-sm-10">
                                <span style="line-height: 1.3rem;" class="fa fa-search form-control-feedback"></span>
                                <input class="form-control form-control-sm" ng-keydown="onKeydown($event)" ng-enter="searchTopJobsClick(searchJobsInput)" ng-model="searchJobsInput" type="text" placeholder="Search">
                            </div>
                            <div class="col-sm-2">

                                <a href ng-click="searchTopJobsClick(searchJobsInput)" class="m-r-xs btn btn-primary btn-filterItem btn-sm btn-icon loading-demo m-b-xs font-12">
                                    <i class="material-icons">search</i><span>Search</span>
                                </a>

                                <a href ng-if="isSearched" ng-click="searchClearClick()" ng-hide="searchJobsInput==0" class="btn btn-primary btn-filterItem btn-sm btn-icon loading-demo m-b-xs font-12">
                                    <i class="material-icons">close</i><span>Clear</span>
                                </a>


                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="no-more-tables dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                <table ng-table="tblRequirementList" class="table table-responsive dataTable datatable">
                                    <caption></caption>
                                    <thead>
                                        <tr class="card">

                                            <th id="">Job title</th>
                                            <th id="">Job type</th>
                                            <th id="">Technical skill</th>
                                            <th id="">Location</th>
                                            <th id="" class="text-xs-center">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="job in  dataRequirementList" repeat-end="InializePopoverAndTooltip()">
                                            <td class="text-primary" data-title="Job Title" ng-bind="job.JobTitle" ng-click="candidateJobDetailView(job);" href></td>
                                            <td data-title="Job Type" ng-bind="job.JobType"></td>
                                            <td data-title="Skills">

                                                <label class="labelauty-label">
                                                    <p ng-show="job.TechnicalSkills" class="card-title display-flex font-12 skill-overflow" title="Skills"
                                                       data-placement="top" data-trigger="hover" data-toggle="popover"
                                                       data-content="{{job.TechnicalSkills}}" ng-bind="job.TechnicalSkills">
                                                        ...
                                                    </p>
                                                    <p ng-if="!job.TechnicalSkills" class="card-title display-flex font-12 skill-overflow">
                                                        ...
                                                    </p>
                                                </label>

                                            </td>
                                            <td data-title="Location" ng-bind="job.Location"></td>
                                            <td data-title="Action" class="text-xs-center">

                                                <a ng-click="applyToSelectedJob(job);" ng-if="!job.isApplied" href class="btn btn-outline-primary  btn-sm btn-icon loading-demo m-b-xs font-12">
                                                    <i class="material-icons">add_circle_outline</i><span>Apply</span>
                                                </a>

                                                <span ng-if="job.isApplied" data-toggle="tooltip" title="" data-original-title="Applied" class="bold"><i class="fa fa-check fa-lg text-success" aria-hidden="true"></i></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!dataRequirementList.length || (dataRequirementList|filter:search).length ==0">
                                <p class="text-shadow lead text-xs-center">
                                    <img src="images/search.png" alt="Search Icon PNG"/><br /> Please change criteria to search!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="matchingJobs" class="tab-pane" ng-class="{'active' : common.step=='two'}" aria-expanded="true">
                    <h6 class="hidden-lg-up m-b-1">Matching Jobs-</h6>
                    <div class="row">
                        <div class="col-sm-12 m-b-xs">
                            <div class="form-group has-search m-b-0 col-sm-10">
                                <span style="line-height: 1.3rem;" class="fa fa-search form-control-feedback"></span>
                                <input class="form-control form-control-sm" ng-enter="searchMatchingJobClick(searchMatchingJobsInput)" ng-model="searchMatchingJobsInput" type="text" placeholder="Search">
                            </div>
                            <div class="col-sm-2">

                                <a href ng-click="searchMatchingJobClick(searchMatchingJobsInput)" class="m-r-xs btn btn-primary btn-filterItem btn-sm btn-icon loading-demo m-b-xs font-12">
                                    <i class="material-icons">search</i><span>Search</span>
                                </a>

                                <a href ng-if="isMatchSearched" ng-click="searchMatchClearClick()" ng-hide="searchMatchingJobsInput==0" class="btn btn-primary btn-filterItem btn-sm btn-icon loading-demo m-b-xs font-12">
                                    <i class="material-icons">close</i><span>Clear</span>
                                </a>


                            </div>

                        </div>
                        <div class="col-sm-12">
                            <div class="no-more-tables dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                <table ng-table="tblMatchingRequirementList" class="table table-responsive dataTable datatable">
                                    <caption></caption>
                                    <thead>
                                        <tr class="card">
                                            <th id="">Job title</th>
                                            <th id="">Job type</th>
                                            <th id="">Technical skill</th>
                                            <th id="">Location</th>
                                            <th id="" class="text-xs-center">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="job in dataMatchingRequirementList | filter : search" repeat-end="InializePopoverAndTooltip()">

                                            <td class="text-primary" data-title="Job Title" ng-bind="job.JobTitle" ng-click="candidateJobDetailView(job);" href></td>
                                            <td data-title="Job Type" ng-bind="job.JobType"></td>
                                            <td data-title="Skills">
                                                <label class="labelauty-label">
                                                    <p ng-show="job.TechnicalSkills" class="card-title display-flex font-12 skill-overflow" title="Skills"
                                                       data-placement="top" data-trigger="hover" data-toggle="popover"
                                                       data-content="{{job.TechnicalSkills}}" ng-bind="job.TechnicalSkills">
                                                        ...
                                                    </p>
                                                    <p ng-if="!job.TechnicalSkills" class="card-title display-flex font-12 skill-overflow">
                                                        ...
                                                    </p>
                                                </label>
                                            </td>
                                            <td data-title="Location" ng-bind="job.Location"></td>
                                            <td data-title="Action" class="text-xs-center">

                                                <a ng-click="applyToSelectedJob(job);" ng-if="!job.isApplied" href class="btn btn-outline-primary  btn-sm btn-icon loading-demo m-b-xs font-12">
                                                    <i class="material-icons">add_circle_outline</i><span>Apply</span>
                                                </a>

                                                <span ng-if="job.isApplied" data-toggle="tooltip" title="" data-original-title="Applied" class="bold"><i class="fa fa-check fa-lg text-success" aria-hidden="true"></i></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!dataMatchingRequirementList.length">
                                <p class="text-shadow lead text-xs-center">
                                    <img src="images/search.png" alt="Search Image Icon"/><br /> Please update your profile to get more job openings!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="searchJobs" class="tab-pane" ng-class="{'active' : common.step=='three'}" aria-expanded="true">
                    <h6 class="hidden-lg-up m-b-1">Search Jobs-</h6>
                    <div class="card-block p-a-xs">
                        <form class="form-horizontal input-border-b input-placeholder-normal" name="searchJobsForm" novalidate autocomplete="off">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 p-b-xs">
                                    <div class="col-sm-2">
                                        <label>Skills</label>
                                    </div>
                                    <div class="col-sm-10">

                                        <select data-placeholder="Select Skills" multiple="multiple" ng-model="searchModel.Skills" class="select2" style="width: 100%" ng-options="skill.label as skill.label for skill in lookup.skillListData"></select>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 p-b-xs">
                                    <div class="col-sm-2">
                                        <label>Degree</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <select class="select2" name="degree" multiple="multiple" data-placeholder="Select Degree" ng-model="searchModel.DegreeList" validation="" style="width: 100%">
                                            <option ng-repeat="Degree in lookup.degree" value="{{Degree.Name}}">{{Degree.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 p-b-xs">
                                    <div class="col-sm-2">
                                        <label>Job Title</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-sm" placeholder="Search By Job Title" ng-model="searchModel.JobTitle" name="JobTitle" validation="max_len:50" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label>Location</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-sm" placeholder="Search By Location" ng-model="searchModel.Location" name="Location" validation="max_len:50" onkeypress="return onlyCharacter(event)" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 p-b-xs">
                                    <div class="col-sm-2">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="select2" style="width: 100%" ng-model="searchModel.ExperienceInYear">
                                            <option value="">Select Year</option>
                                            <option ng-repeat="i in 50 | range" value="{{i-1}}">
                                                {{i-1}}
                                            </option>
                                        </select>

                                    </div>
                                    <div class="col-sm-4">
                                        <select class="select2" style="width: 100%" ng-model="searchModel.ExperienceInMonth">
                                            <option value="">Select Month</option>
                                            <option ng-repeat="i in 11 | range" value="{{i}}">
                                                {{i}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href ng-disabled="!searchModel.Skills.length && !searchModel.DegreeList.length && !searchModel.JobTitle && !searchModel.Location && !searchModel.ExperienceInYear && !searchModel.ExperienceInMonth" ng-click="searchJobs(searchJobsForm)" class="btn btn-primary btn-filterItem btn-sm btn-icon loading-demo m-b-xs font-12 pull-right">
                                            <i class="material-icons">search</i><span>Search</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="no-more-tables dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <table ng-table="tblSearchedRequirementList" class="table table-responsive dataTable datatable">
                                <caption></caption>
                                <thead>
                                    <tr class="card">

                                        <th id="">Job Title</th>
                                        <th id="">Job Type</th>
                                        <th id="">Technical Skill</th>
                                        <th id="">Location</th>
                                        <th id="" class="text-xs-center">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="job in dataSearchedRequirementList">


                                        <td class="text-primary" data-title="Job Title" ng-bind="job.JobTitle" ng-click="candidateJobDetailView(job);" href></td>
                                        <td data-title="Job Type" ng-bind="job.JobType"></td>
                                        <td data-title="Skills">
                                            <label class="labelauty-label">
                                                <p ng-show="job.TechnicalSkills" class="card-title display-flex font-12 skill-overflow" title="Skills"
                                                   data-placement="top" data-trigger="hover" data-toggle="popover"
                                                   data-content="{{job.TechnicalSkills}}" ng-bind="job.TechnicalSkills">
                                                    ...
                                                </p>
                                                <p ng-if="!job.TechnicalSkills" class="card-title display-flex font-12 skill-overflow">
                                                    ...
                                                </p>
                                            </label>
                                        </td>
                                        <td data-title="Location" ng-bind="job.Location"></td>
                                        <td data-title="Action" class="text-xs-center">

                                            <a ng-click="applyToSelectedJob(job);" ng-if="!job.isApplied" href class="btn btn-outline-primary  btn-sm btn-icon loading-demo m-b-xs font-12">
                                                <i class="material-icons">add_circle_outline</i><span>Apply</span>
                                            </a>

                                            <span ng-if="job.isApplied" data-toggle="tooltip" title="" data-original-title="Applied" class="bold"><i class="fa fa-check fa-lg text-success" aria-hidden="true"></i></span>
                                        </td>


                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!searchedJobList">
                            <p class="text-shadow lead text-xs-center">
                                <img src="images/search.png" alt="Search Icon Image"/><br /> Please Select Criteria To Search!
                            </p>
                        </div>
                        <div class="no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="searchedJobList.length == 0">
                            <p class="text-shadow lead text-xs-center">
                                <img src="images/search.png" alt="Search Icon Image"/><br />No Records Found!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>