﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-md">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal input-border-b" name="advanceSearchForm" novalidate>
                <div class="modal-header bg-primary-lighter">
                    <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h6 class="modal-title"><i class="fa fa-search m-r-xs"></i>Advance search <!--<span ng-bind="common.currentSection"></span>--></h6>
                </div>
                <div class="modal-body p-a-xs">
                    <div class="form-group row m-a-0 noFocus">
                        <label class="col-sm-4 m-a-0 p-t-1 col-form-label">Keyword search in<span class="bold text-red">*</span></label>
                        <div class="col-sm-8">
                            <select name="searchIn"
                                    ui-select2="{allowClear: true}"
                                    data-placeholder="select filter(s)"
                                    ng-model="common.advanceSearchModel.SearchIn"
                                    multiple="multiple"
                                    validation="required:alt=filter is required">
                                <option ng-repeat="section in common.advanceSearchLookUpBySection" value="{{section.Id}}"
                                        ng-bind="section.Name"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row m-a-0">
                        <label class="col-sm-4 col-form-label m-a-0 p-t-1">All of these words</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="common.advanceSearchModel.SearchAll" placeholder="type words" class="form-control form-control-sm" name="All" validation="max_len:250">
                        </div>
                    </div>
                    <div class="form-group row m-a-0">
                        <label class="col-sm-4 col-form-label m-a-0 p-t-1">Any of these words</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="common.advanceSearchModel.SearchAny" placeholder="type words" class="form-control form-control-sm" name="Any" validation="max_len:250">
                        </div>
                    </div>
                    <div class="form-group row m-a-0">
                        <label class="col-sm-4 col-form-label m-a-0 p-t-1">None of these words</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="common.advanceSearchModel.SearchNone" placeholder="type words" class="form-control form-control-sm" name="None" validation="max_len:250">
                        </div>
                    </div>
                    <div class="form-group row m-a-0">
                        <label class="col-sm-4 col-form-label m-a-0 p-t-1">Exact Phrase</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="common.advanceSearchModel.SearchExact" placeholder="type words" class="form-control form-control-sm" name="Exact" validation="max_len:250">
                        </div>
                    </div>
                    <div class="form-group row m-a-0">
                        <label class="col-sm-4 col-form-label m-a-0 p-t-1">Zip Code</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="common.advanceSearchModel.SearchZip" placeholder="type zip" class="form-control form-control-sm" name="Zip" validation="xseed_zip">
                        </div>
                    </div>
                    <div class="row p-a-xs">
                        <div class="col-sm-offset-4">
                            <button class="btn btn-primary btn-sm small" type="submit" ng-click="getAdvanceSearchResult(advanceSearchForm,common.currentSection)">Search</button>
                            <button type="button" class="btn btn-danger btn-sm small" ng-click="closeAdvanceSearchModal()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>