﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal" name="commonReminderForm" novalidate>
                <div class="modal-header bg-primary-lighter">
                    <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h4 class="modal-title">
                        <span ng-bind="common.commonReminderModel.Type"></span> -
                        <span ng-bind="common.commonReminderModel.CandidateNames"></span>
                        <a class="btn btn-sm btn-round btn-link text-white" ng-click="editScheduleView(common.commonReminderModel);"><i class="fa fa-pencil"></i> Edit</a>
                    </h4>
                </div>
                <div class="modal-body p-a-xs">
                    <div style="height:480px;" class="scroll slimScroll" always-visible="true">
                        <div class="col-sm-12 p-a-0">
                            <div class="card clearfix">
                                <div class="card-header card-header no-bg no-border p-a-xs">
                                    <span class="bold">Summary</span>
                                </div>
                                <div class="card-block p-a-xs clearfix">
                                    <div class="table-responsive">
                                        <table class="table table-sm small table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label class="text-grey">Type:</label>
                                                        <span ng-bind="common.commonReminderModel.Type"></span>
                                                    </td>
                                                    <td>
                                                        <label class="text-grey">Priority:</label>
                                                        <span ng-bind="common.commonReminderModel.Priority"></span>
                                                    </td>
                                                    <td>
                                                        <label class="text-grey">Start Date:</label>
                                                        <span ng-bind="common.commonReminderModel.StartDate| date:'MM-dd-yyyy' "></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="text-grey">End Date:</label>
                                                        <span ng-bind="common.commonReminderModel.EndDate"></span>
                                                    </td>
                                                    <td>
                                                        <label class="text-grey">Start Time:</label>
                                                        <span ng-bind="common.commonReminderModel.StartTime | date:'shortTime'"></span>
                                                    </td>
                                                    <td>
                                                        <label class="text-grey">End Time:</label>
                                                        <span ng-bind="common.commonReminderModel.EndTime | date:'shortTime'"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="text-grey">Reminder Time:</label>
                                                        <span ng-bind="common.commonReminderModel.ReminderTime "></span>
                                                    </td>
                                                    <td>
                                                        <label class="text-grey">Auto FollowUp:</label>
                                                        <span ng-bind="common.commonReminderModel.FollowUp"></span>
                                                    </td>
                                                    <td>
                                                        <label class="text-grey">Company Name:</label>
                                                        <span ng-bind="common.commonReminderModel.CompanyName"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="text-grey">Job Title:</label>
                                                        <span ng-bind="common.commonReminderModel.JobTitle"></span>
                                                    </td>
                                                    <td>
                                                        <label class="text-grey">Contact:</label>
                                                        <span ng-bind="common.commonReminderModel.Contact"></span>
                                                    </td>
                                                    <td>
                                                        <label class="text-grey">Candidate Name:</label>
                                                        <span ng-bind="common.commonReminderModel.CandidateNames"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="text-grey">Created By:</label>
                                                        <span ng-bind="common.commonReminderModel.CreatedByName"></span>
                                                    </td>
                                                    <td>
                                                        <label class="text-grey">Created On:</label>
                                                        <span ng-bind="common.commonReminderModel.CreatedOn | date:'medium'"></span>
                                                    </td>
                                                    <td>
                                                        <label class="text-grey">Modified By:</label>
                                                        <span ng-bind="common.commonReminderModel.ModifiedByName"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="text-grey">Modified On:</label>
                                                        <span ng-bind="common.commonReminderModel.ModifiedOn | date:'medium'"></span>
                                                    </td>
                                                    <td>
                                                        <label class="text-grey">Subject:</label>
                                                        <span ng-bind="common.commonReminderModel.Subject"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="description">
                                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading" role="tab" id="headingOne">
                                                        <span class="bold">
                                                            <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                                Notes <i class="fa fa-chevron-circle-down"></i>
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                        <p ng-bind="common.commonReminderModel.Notes"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <!--<button class="btn btn-primary" type="submit" ng-click="action(commonReminderForm)">Save</button>-->
                                    <!--<button type="button" class="btn btn-danger" ng-click="closeCommonReminderModal();">Close</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>