﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal" name="commonScheduleForm" novalidate>
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h4 class="modal-title">
                        Appointment-
                        <span ng-bind="common.commonScheduleModel.CandidateNames"></span>
                    </h4>
                </div>
                <div class="modal-body p-a-1" ng-init="buildLookUpBySectionForSchedule(constants.sectionRequirements);">
                    <div style="height:400px;" class="scroll slimScroll" always-visible="true">
                        <fieldset class="form-group row m-b-xs">
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <label>Type<span class="bold text-red">*</span></label>
                                <input type="text" class="form-control form-control-sm" placeholder="Enter Type"
                                       ng-model="common.commonScheduleModel.Type"
                                       name="Type"
                                       ng-disabled="common.commonScheduleModel.Type"
                                       validation="required:alt=type is required|max_len:50" />
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <label>Company</label>
                                <select name="companyId"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="Select Company"
                                        ng-model="common.commonScheduleModel.CompanyId"
                                        ng-click="getRequirementListByCompany(common.commonScheduleModel.CompanyId);getCompanyContactsLookup(common.commonScheduleModel.CompanyId)">
                                    <!--<option value=""></option>-->
                                    <option ng-repeat="company in common.scheduleLookUpBySection.companyLookUp" value="{{company.Id}}"
                                            ng-bind="company.Name"></option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <label>Contact</label>
                                <select name="Contact"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select contact"
                                        ng-model="common.commonScheduleModel.ContactId">
                                    <!--<option value=" "></option>-->
                                    <option ng-repeat="contact in companyContactList" value="{{contact.Id}}"
                                            ng-bind="contact.Name"></option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <label>Requirement</label>
                                <select name="Requirement"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select requirement"
                                        ng-model="common.commonScheduleModel.JobId">
                                    <!--<option value=""></option>-->
                                    <option ng-repeat="requirement in common.scheduleLookUpBySection.requirementLookUp" value="{{requirement.Id}}"
                                            ng-bind="requirement.JobTitle"></option>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-group row m-b-xs">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="col-sm-6 p-l-0">
                                    <label>Start Time</label>
                                    <datepicker date-format="MM/dd/yyyy" date-set-hidden="true">
                                        <input type="text"
                                               class="form-control form-control-sm"
                                               placeholder="enter start time"
                                               ng-model="common.commonScheduleModel.StartDate"
                                               name="StartTime"
                                               validation="xseed_date"
                                               ui-mask="99/99/9999"
                                               ui-mask-placeholder
                                               ui-mask-placeholder-char="_"
                                               model-view-value="true" />
                                    </datepicker>
                                </div>
                                <div class="col-sm-6 p-l-0">
                                    <div uib-timepicker ng-model="common.commonScheduleModel.StartTime" hour-step="hstep" minute-step="mstep" show-meridian="true"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="col-sm-6 p-l-0">
                                    <label>End Time</label>
                                    <datepicker date-format="MM/dd/yyyy" date-set-hidden="true">
                                        <input type="text"
                                               class="form-control form-control-sm"
                                               placeholder="enter end time"
                                               ng-model="common.commonScheduleModel.EndDate"
                                               name="EndTime"
                                               validation="xseed_date"
                                               ui-mask="99/99/9999"
                                               ui-mask-placeholder
                                               ui-mask-placeholder-char="_"
                                               model-view-value="true" />
                                    </datepicker>
                                </div>
                                <div class="col-sm-6 p-l-0">
                                    <div uib-timepicker ng-model="common.commonScheduleModel.EndTime" hour-step="hstep" minute-step="mstep" show-meridian="true"></div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group row m-b-xs">
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <label>Auto Followup</label>
                                <select name="AutoFollowup"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select auto followup"
                                        ng-model="common.commonScheduleModel.FollowUp">
                                    <option value=""></option>
                                    <option ng-repeat="item in common.scheduleLookUpBySection.AutoFollowUpLookUp" value="{{item.Id}}"
                                            ng-bind="item.Name"></option>
                                </select>

                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <label>Reminder</label>
                                <select name="Reminder"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select reminder"
                                        ng-model="common.commonScheduleModel.ReminderTime">
                                    <option value=""></option>
                                    <option ng-repeat="item in common.scheduleLookUpBySection.ReminderLookUp" value="{{item.Id}}"
                                            ng-bind="item.Name"></option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label>Priority</label>
                                <select name="Priority"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select priority"
                                        ng-model="common.commonScheduleModel.Priority">
                                    <option value=""></option>
                                    <option ng-repeat="priority in common.scheduleLookUpBySection.priorityLookUp" value="{{priority.Id}}"
                                            ng-bind="priority.Name"></option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label>Subject</label>
                                <input type="text" class="form-control form-control-sm" placeholder="Enter Subject"
                                       ng-model="common.commonScheduleModel.Subject"
                                       name="Subject"
                                       validation="required:alt=subject is required|max_len:200" />
                            </div>
                        </fieldset>
                        <fieldset class="form-group row m-b-xs">
                            <div class="col-sm-12">
                                <label>Notes</label>
                                <textarea class="form-control form-control-sm" style="min-height:150px;" placeholder="enter notes"
                                          ng-model="common.commonScheduleModel.Notes"
                                          name="Notes"
                                          validation="max_len:500"></textarea>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-primary btn-sm small" type="submit" ng-if="!flag.isEditSchedule" ng-click="saveSchedule(commonScheduleForm, common.currentSection)">Save</button>
                            <button class="btn btn-primary btn-sm small" type="submit" ng-if="flag.isEditSchedule" ng-click="editSchedule(commonScheduleForm, common.currentSection)">Update</button>
                            <button type="button" class="btn btn-danger btn-sm small" ng-click="closeCommonScheduleModal();">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>