﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal" name="genericCreateEditLookupPopupForm" novalidate>
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h4 class="modal-title">
                        <span>{{genericLookupEvent}} Lookup </span>
                    </h4>
                </div>
                
                <div class="modal-body">
                    <div class="row">
                        <div ng-class="genericLookUpType == 'Visa Type'? 'col-sm-12' : 'col-sm-6'">
                            <fieldset class="form-group">
                                <label>Value<span class="bold text-red">*</span></label>
                                <input type="hidden" ng-model="genericLookup.Id" class="form-control" id="lookupId" />
                                <input type="text" class="form-control" id="lookupValue" placeholder="Lookup Value"
                                       name="lookupValue"
                                       ng-model="genericLookup.Name"
                                       validation="required|min_len:2|max_len:200" />
                            </fieldset>
                        </div>
                        <div class="col-sm-6" ng-if="genericLookUpType != 'Visa Type'">
                            <fieldset class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" id="lookupDescritpion" placeholder="Lookup Description"
                                       name="lookupDescritpion"
                                       ng-model="genericLookup.Description"
                                       validation="min_len:2|max_len:200" />
                            </fieldset>
                        </div>
                        <span ng-show="duplicateLookupName">
                            <i class="fa fa-info-circle text-muted">
                                <span class="text-muted">
                                    Lookup Value is already present. Please select different Lookup Value.
                                </span>
                            </i>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="duplicateCheckNSaveLookUp(genericCreateEditLookupPopupForm,genericLookup.Name);">Save</button>
                    <button type="button" class="btn btn-primary" ng-click="closeGenericCreateEditMasterModal();">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>