﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content animated slideInDown">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-label="Close">
                    <i class="fa fa-close"></i>
                </button>
                <h4 class="modal-title">
                    <span>Lookup for {{genericLookUpType}}</span>
                </h4>
            </div>
            <div class="modal-body p-a-xs">
                <form autocomplete="off" class="form-horizontal" name="candidateSubmissionPopupForm" novalidate>
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <div class="table-responsive">
                                    <table ng-table="tableParams" class="table table-hover table-sm small table-bordered" show-filter="true">
                                        <tr ng-repeat="lookup in $data" ng-click="SetModalValue(lookup);">
                                            <td data-title="'Lookup Value'" header-class="'bg-primary'" filter="{ 'Name': 'text'}" data-sortable="'Name'" ng-bind="lookup.Name" title="Click to select"></td>

                                            <td data-title="'Lookup Description'" header-class="'bg-primary'" filter="{ 'Description': 'text'}" data-sortable="'Description'" ng-bind="lookup.Description" title="Click to select"></td>

                                            <td data-title="'Action'" header-class="'bg-primary'">
                                                <a tooltip-placement="top" uib-tooltip="Edit" ng-click="openGenericCreateEditMasterModal(lookup, 'Edit');">
                                                    <i class="fa fa-edit fa-lg"></i>
                                                </a>
                                                <!--&nbsp;
                                            <a tooltip-placement="top" uib-tooltip="Delete" ng-click="deleteGenericMaster(lookup.Id);">
                                                <i class="fa fa-remove" aria-hidden="true"></i>
                                            </a>-->
                                            </td>
                                        </tr>
                                    </table>

                                    <div ng-if="genericLookup.length == 0" class="no-contacts layout-column">
                                        <h3 class="text-shadow text-muted">
                                            No lookup value present.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm small" ng-click="openGenericCreateEditMasterModal(null, 'New');">
                    <i class="fa fa-plus m-r-xs"></i>Create New
                </button>
                <button type="button" class="btn btn-primary btn-sm small" ng-click="closeGenericMasterModal();">Close</button>
            </div>
        </div>
    </div>
</div>