﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal" name="multiValueMasterPopupForm" novalidate>
                <div class="modal-header bg-primary-lighter">
                    <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>Lookup for {{genericLookUpType}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form class="search-form">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon bg-primary">
                                    <i class="fa fa-search"></i>
                                </div>
                                <input class="form-control form-control-sm bg-white" type="text" placeholder="Search" ng-focus="main.focusOn()" ng-blur="main.focusOff()" autofocus="true" ng-model="genericLookupFilter.$" maxlength="25">
                            </div>
                        </form>
                    </div>
                    <br />
                    <div class="row">
                        <div class="table-responsive scroll slimScroll">
                            <p>
                                <button type="button" class="btn btn-sm small btn-primary btn-sm" ng-click="genericMasterMultiData('Multiple',genericLookUpType);" ng-disabled="slicedGenericLookupList.length == 0">
                                    Save Changes
                                </button>
                            </p>
                            <!--<table class="table table-sm table-bordered ng-table">-->
                            <table ng-table="tableMultiValueParams" class="table table-hover table-sm small table-bordered">
                                <!--<table ng-table="tableParams" class="table table-hover table-bordered bg-white">-->

                                <tr ng-repeat="lookup in slicedGenericLookupList">
                                    <td header-class="'bg-primary'" header="'ng-table/headers/checkbox.html'" class="text-xs-center">
                                        <input type="checkbox" ng-model="checkboxes.items[lookup.Id]" />
                                    </td>

                                    <td data-title="'Lookup Value'" header-class="'bg-primary'" filter="{ 'Name': 'text'}" data-sortable="'Name'" ng-bind="lookup.Name" style="max-width: 40px; overflow: hidden; text-overflow: ellipsis;" title="Click to select" ng-click="SetModalValue(lookup);"></td>

                                    <td ng-if="genericLookUpType != 'Visa Type'" data-title="'Lookup Description'" header-class="'bg-primary'" filter="{ 'Description': 'text'}" data-sortable="'Description'" ng-bind="lookup.Description" style="max-width: 40px; overflow: hidden; text-overflow: ellipsis;" title="Click to select" ng-click="SetModalValue(lookup);"></td>

                                    <td data-title="'Action'" header-class="'bg-primary'">
                                        <a tooltip-placement="top" uib-tooltip="Edit" ng-click="openGenericCreateEditMasterModal(lookup, 'Edit');">
                                            <i class="fa fa-edit fa-lg"></i>
                                        </a>
                                        <!--&nbsp;
                                    <a tooltip-placement="top" uib-tooltip="Delete" ng-click="deleteGenericMaster(lookup.Id);">
                                        <i class="fa fa-remove" aria-hidden="true"></i>
                                    </a>-->
                                    </td>
                                </tr>

                            </table>

                            <div ng-if="slicedGenericLookupList.length == 0" class="no-contacts layout-column">
                                <h3 class="text-shadow text-muted">
                                    No lookup value present.
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm small" ng-click="openGenericCreateEditMasterModal(null, 'New');">
                        <i class="fa fa-plus m-r-xs"></i>Create New
                    </button>
                    <button type="button" class="btn btn-primary btn-sm small" ng-click="closeGenericMasterMultiValueModal();">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
</script>