﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal" name="commonScheduleForm" novalidate>
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" ng-click="closeRequirementDetailModal(false)" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <span class="modal-title">
                        <span class="h4 v-align-middle" ng-bind="common.requirementModel.JobTitle"></span>
                        <a class="bg-default-round v-align-middle" ng-if="userDetails.Requirement_Update == 'True' && common.currentSection == constants.sectionRequirements" ng-click="requirementEditView()" uib-tooltip="Edit" tooltip-placement="right">
                            <i class="material-icons ng-binding" aria-hidden="true">
                                edit
                            </i>
                        </a>
                    </span>
                </div>
                <div class="modal-body p-a-xs">
                    <div style="height:500px;" class="scroll slimScroll">
                        <div class="row p-l-xs p-r-xs">
                            <div class="col-sm-12">
                                <ul class="list-inline m-b-0">
                                    <li class="list-inline-item" title="Company">
                                        <span class="bold">
                                            <span class="text-grey"><i class="fa fa-building-o m-r-xs"></i></span><span ng-bind="common.requirementModel.CompanyName"></span>
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span class="bold">
                                            <span class="text-grey"><i class="fa fa-calendar m-r-xs"></i>Req. Opened on</span> : <span>{{common.requirementModel.JobPostedDate| date:'MM-dd-yyyy'}}</span>
                                        </span>
                                    </li>
                                    <li class="list-inline-item" title="Job Status">
                                        <span>
                                            <label ng-if="common.requirementModel.JobStatus== 'Posted'" class="label label-md label-primary">
                                                <span ng-bind="common.requirementModel.JobStatus">{{common.requirementModel.JobStatusId}}</span>
                                            </label>
                                            <label ng-if="common.requirementModel.JobStatus== 'Closed'" class="label label-md label-success">
                                                <span ng-bind="common.requirementModel.JobStatus">{{common.requirementModel.JobStatusId}}</span>
                                            </label>
                                            <label ng-if="common.requirementModel.JobStatus== 'Archive'" class="label label-md label-default">
                                                <span ng-bind="common.requirementModel.JobStatus">{{common.requirementModel.JobStatusId}}</span>
                                            </label>
                                            <label ng-if="common.requirementModel.JobStatus== 'Pending'" class="label label-md label-warning">
                                                <span ng-bind="common.requirementModel.JobStatus">{{common.requirementModel.JobStatusId}}</span>
                                            </label>
                                            <label ng-if="common.requirementModel.JobStatus== 'Hold'" class="label label-md label-info">
                                                <span ng-bind="common.requirementModel.JobStatus">{{common.requirementModel.JobStatusId}}</span>
                                            </label>
                                            <label ng-if="common.requirementModel.JobStatus== 'Open'" class="label label-md label-danger">
                                                <span ng-bind="common.requirementModel.JobStatus">{{common.requirementModel.JobStatusId}}</span>
                                            </label>
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="bold">
                                            <span class="text-grey"><i class="fa fa-industry m-r-xs"></i>Internal Job Title</span> : <span ng-bind="common.requirementModel.InternalJobTitle"></span>
                                        </p>
                                    </li>
                                    <!--<li class="list-inline-item text-grey">|</li>
                    <li class="list-inline-item">
                        <p class="bold">
                            <span class="text-grey"><i class="fa fa-star"></i> Priority</span> : <span ng-bind="common.requirementModel.Priority"></span>
                        </p>
                    </li>-->
                                </ul>
                            </div>
                        </div>
                        <div class="row p-l-xs p-r-xs">
                            <div class="col-sm-12">
                                <div class="card clearfix border-dark m-b-xs">
                                    <div class="card-header">
                                        <span class="bold">Summary</span>
                                    </div>
                                    <div class="card-block p-a-xs clearfix">
                                        <div class="table-responsive scroll slimScroll">
                                            <table class="table table-sm small table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">Internal Requirement Id</label>
                                                            <div ng-bind="common.requirementModel.RequisitionId"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Req. Closed Date</label>
                                                            <div ng-bind="common.requirementModel.JobClosedDate| date:'MM-dd-yyyy'"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Position Expiry Date</label>
                                                            <div ng-bind="common.requirementModel.JobExpiryDate| date:'MM-dd-yyyy' "></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">Business Unit</label>
                                                            <div ng-bind="common.requirementModel.BusinessUnitName"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Per Diem</label>
                                                            <i class="fa fa-dollar" ng-if="common.requirementModel.PerDiem"></i>
                                                            <div ng-bind="common.requirementModel.PerDiem"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Company Contact</label>
                                                            <div ng-bind="common.requirementModel.CompanyContactName"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">Client Rate</label>
                                                            <i class="fa fa-dollar" ng-if="common.requirementModel.ClientRate"></i>
                                                            <div ng-bind="common.requirementModel.ClientRate"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Client Rate Type</label>
                                                            <div ng-bind="common.requirementModel.ClientRateType"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Margin</label>
                                                            <div ng-bind="common.requirementModel.Margin"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">Pay Rate</label>
                                                            <i class="fa fa-dollar" ng-if="common.requirementModel.PayRate"></i>
                                                            <div ng-bind="common.requirementModel.PayRate"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Pay Rate Type</label>
                                                            <div ng-bind="common.requirementModel.PayRateType"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Fee %</label>
                                                            <div ng-bind="common.requirementModel.FeePercent"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">Total Hours</label>
                                                            <div ng-bind="common.requirementModel.TotalHours"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Weekly Hours</label>
                                                            <div ng-bind="common.requirementModel.WeeklyHours"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Security Clearance</label>
                                                            <div ng-bind="common.requirementModel.SecurityClearance"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">Company Requirement Code</label>
                                                            <div ng-bind="common.requirementModel.ClientJobCode"></div>
                                                        </td>
                                                        <!--<td>
                                                            <label class="text-grey">Degree</label>
                                                            <div>
                                                                <span ng-repeat-start="degree in common.requirementModel.DegreeNameList" ng-if="$index< common.requirementModel.DegreeNameList.length- 1">{{degree}}, </span>
                                                                <span ng-repeat-end ng-if="common.requirementModel.DegreeNameList.length-1=== $index">{{degree}}</span>
                                                            </div>
                                                        </td>-->
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <span class="bold">
                                                        <a data-toggle="collapse" class="text-underline text-primary" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                            Description
                                                        </a>
                                                    </span>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <p ng-bind="common.requirementModel.JobDescription"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="card clearfix border-dark m-b-xs">
                                    <div class="card-header">
                                        <span class="bold">Other Details</span>
                                    </div>
                                    <div class="card-block clearfix p-a-xs">
                                        <div class="table-responsive scroll slimScroll">
                                            <table class="table table-sm small table-bordered">
                                                <tr>
                                                    <td>
                                                        <label class="text-grey">Openings</label>
                                                        <div ng-bind="common.requirementModel.TotalPositions"></div>
                                                    </td>
                                                    <td>
                                                        <label class="text-grey">Max Salary</label>
                                                        <i class="fa fa-dollar" ng-if="common.requirementModel.MaxSalary"></i>
                                                        <div ng-bind="common.requirementModel.MaxSalary"></div>
                                                    </td>
                                                    <td>
                                                        <label class="text-grey">Min. Salary</label>
                                                        <i class="fa fa-dollar" ng-if="common.requirementModel.MinSalary"></i>
                                                        <div ng-bind="common.requirementModel.MinSalary"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="text-grey">Total Experience</label>
                                                        <div ng-if="common.requirementModel.ExperienceInYear!=null" ng-bind-template="{{common.requirementModel.ExperienceInYear}} - {{common.requirementModel.ExperienceInMonth}} years"></div>
                                                        <div ng-if="common.requirementModel.ExperienceInYear==null" ng-bind-template="-"></div>
                                                    </td>
                                                    <td>
                                                        <label class="text-grey">US Experience</label>
                                                        <!--<div>{{common.requirementModel.USExperience}}</div>-->
                                                        <div ng-if="common.requirementModel.USExperienceInYear!=null" ng-bind-template="{{common.requirementModel.USExperienceInYear}} - {{common.requirementModel.USExperienceInMonth}} years"></div>
                                                        <div ng-if="common.requirementModel.USExperienceInYear==null" ng-bind-template="-"></div>
                                                    </td>
                                                    <td>
                                                        <label class="text-grey">Visa type</label>
                                                        <div>{{common.requirementModel.VisaType}}</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <label class="text-grey">Degree(Qualification)</label>
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <span ng-repeat-start="degree in common.requirementModel.DegreeNameList" ng-if="$index< common.requirementModel.DegreeNameList.length- 1">{{degree}}, </span>
                                                                <span ng-repeat-end ng-if="common.requirementModel.DegreeNameList.length-1=== $index">{{degree}}</span>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <label class="text-grey">Communication Skills</label>
                                                        <div ng-bind="common.requirementModel.CommunicationSkills"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">
                                                        <label class="text-grey">Technical Skills</label>
                                                        <div ng-bind="common.requirementModel.SkillList"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">
                                                        <label class="text-grey">Duration</label>
                                                        <div ng-bind="common.requirementModel.Duration"></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="card clearfix border-dark m-b-xs">
                                    <div class="card-header">
                                        <span class="bold">Assigned Persons</span>
                                    </div>
                                    <div class="card-block clearfix p-a-xs">
                                        <span class="bold text-grey">Recruiter(s)</span>
                                        <ul class="list-inline">
                                            <li class="list-inline-item" ng-repeat="user in common.requirementModel.OrganizationUser">
                                                <p class="padding-md label-default label-pill">
                                                    {{user.Name}}
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card clearfix border-dark m-b-xs">
                                    <div class="card-header">
                                        <span class="bold">Associated Candidate(s)</span>
                                    </div>
                                    <div class="card-block p-a-xs clearfix">
                                        <div class="table-responsive scroll slimScroll">
                                            <table class="table table-bordered table-hover table-sm" ng-if="common.requirementModel.AssociateCandidate.length > 0">
                                                <thead>
                                                    <tr>
                                                        <th>Candidate</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="associatedCandidate in common.requirementModel.AssociateCandidate">
                                                        <td>
                                                            <a ng-click="openCandidateFromOtherSection(associatedCandidate.Id);" style="color:blue;">{{associatedCandidate.Name}}</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div ng-if="common.requirementModel.AssociateCandidate.length == 0">
                                            <h6 class="text-shadow text-grey">
                                                No associated Candidate(s).
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="card clearfix border-dark m-b-xs">
                                    <div class="card-header">
                                        <span class="bold">Applied Candidate(s)</span>
                                    </div>
                                    <div class="card-block p-a-xs clearfix">
                                        <div class="table-responsive scroll slimScroll">
                                            <table class="table table-bordered table-hover table-sm" ng-if="common.appliedCandidateList.length > 0">
                                                <thead>
                                                    <tr>
                                                        <th>Candidate</th>
                                                        <th>Email</th>
                                                        <th>Mobile</th>
                                                        <th>Skills</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="appliedCandidate in common.appliedCandidateList">
                                                        <td>
                                                            <a ng-click="openCandidateFromOtherSection(appliedCandidate._id);" style="color:blue;">{{appliedCandidate.FirstName + " " + appliedCandidate.LastName}}</a>
                                                        </td>
                                                        <td>{{appliedCandidate.PrimaryEmail}}</td>
                                                        <td>{{appliedCandidate.Mobile}}</td>
                                                        <td ng-bind="appliedCandidate.Skills"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div ng-if="common.appliedCandidateList.length == 0">
                                            <h6 class="text-shadow text-grey">
                                                No applied Candidate(s).
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card clearfix border-dark m-b-xs">
                                    <div class="card-header">
                                        <span class="bold">Location</span>
                                    </div>
                                    <div class="card-block clearfix p-a-xs">
                                        <div class="table-responsive scroll slimScroll">
                                            <table class="table table-sm small table-bordered">
                                                <tr>
                                                    <td>
                                                        <label class="text-grey">Job Location</label>
                                                        <div ng-bind="common.requirementModel.Location"></div>
                                                    </td>
                                                    <td>
                                                        <label class="text-grey">City</label>
                                                        <div ng-bind="common.requirementModel.City"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="text-grey">State</label>
                                                        <div ng-bind="common.requirementModel.State"></div>
                                                    </td>
                                                    <td>
                                                        <label class="text-grey">Country</label>
                                                        <div ng-bind="common.requirementModel.Country"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="text-grey">Zip</label>
                                                        <div ng-bind="common.requirementModel.Zip"></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>