﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal" name="candidateSubmissionPopupForm" novalidate>
                <div class="modal-header bg-primary-lighter">
                    <button type="button" class="close" data-dismiss="modal" ng-click="closeSearchCandidateSubmissionModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Candidate Submission</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group m-b-0 clearfix">
                        <div class="col-sm-2">
                            <label class="text-muted">Candidate(s)</label>
                        </div>
                        <div class="col-sm-9">
                            <span ng-repeat-start="candidate in sourceCandidates" ng-if="$index < sourceCandidates.length - 1">
                                {{candidate.Name}},
                            </span>
                            <span ng-repeat-end="candidate in sourceCandidates" ng-if="$index == sourceCandidates.length- 1">
                                {{candidate.Name}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group m-b-xs clearfix">
                        <div class="col-sm-2 p-t-1">
                            <label class="text-muted">Company<span class="bold text-red">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <select name="companyId"
                                    ui-select2
                                    data-placeholder="Select Company"
                                    ng-model="CandidateSubmissionModel.CompanyId"
                                    ng-click="getRequirementListByCompany(CandidateSubmissionModel.CompanyId)"
                                    validation="required:alt=Company required.">
                                <option value=""></option>
                                <option ng-repeat="company in lookup.company" value="{{company.Id}}"
                                        ng-bind="company.Name"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group m-b-xs clearfix">
                        <div class="col-sm-2 p-t-1">
                            <label class="text-muted">Requirement<span class="bold text-red">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <select name="jobId" ui-select2="{allowClear: true}"
                                    data-placeholder="Select Requirement"
                                    ng-model="CandidateSubmissionModel.JobId"
                                    validation="required:alt=Requirement needed.">
                                <option value=""></option>
                                <option ng-repeat="requirement in lookup.requirement" value="{{requirement.Id}}"
                                        ng-bind-template="{{requirement.RequisitionId + ' : ' + requirement.JobTitle}}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm small btn-primary" ng-click="submitCandidateProcess(candidateSubmissionPopupForm)">
                        Submit
                    </button>
                    <button type="button" class="btn btn-sm small btn-danger" ng-click="closeSearchCandidateSubmissionModal();">Cancel</button>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>