﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal" name="submissionByEmailForm" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Would you like to submit candidate to client</h4>
                    <fieldset class="col-sm-12" ng-hide="isSubmitByEmail">
                        <hr />
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-primary" ng-click="submitBySubmissionUrl()" ng-disabled="!commonEmailModel.companySubmissionUrl">Submit on client portal</button>
                            <span ng-if="!commonEmailModel.companySubmissionUrl">Update company details to add submission page Url</span>
                        </div>
                        <div class="col-sm-2">

                        </div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-primary" ng-click="closeCandidateSubmissionEmailModal();openCandidateSubmissionEmailModal();" ng-disabled="submissionEmailModel.companySubmissionUrl">Submit by email</button>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>