﻿<div class="modal sidebar-modal chat-panel" tabindex="-1" role="dialog" ng-controller="ModalCtrl" aria-labelledby="chat-panel">
    <div class="modal-backdrop fade in"></div>

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="chat-header">
                <a class="pull-right" href="javascript:;" data-dismiss="modal" ng-click="closeActivityNoteModal()"><i class="material-icons">close</i></a>
                <div class="chat-header-title">
                    <h5> {{SelectedOrganizationUser}} </h5>
                </div>

            </div>
            <div class="modal-body flex scroll-y">
                <div class="container-fluid">

                    <ul class="nav nav-tabs" role="tablist">

                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" target="self" href="#activityJob" role="tab" aria-expanded="false">Activity</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" target="self" href="#QnotesJob" role="tab" aria-expanded="false">Quick Notes</a></li>
                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane active" id="activityJob" role="tabpanel" aria-expanded="true">
                            <div class="timeline stacked">
                                <div ng-repeat="activity in activityList " ng-if="activity.ActivityType!='Note'" id="accordion" role="tablist" aria-multiselectable="true" class="break-word">
                                    <div class="timeline-card m-t-0 m-b-1">
                                        <div class="col v-align-middle contact-avatar pull-left">
                                            <div class="circle-icon bg-primary">{{activity.CreatedByName[0]}}</div>
                                        </div>
                                        <section class="timeline-content">
                                            <div class="timeline-body color-grey full-width-100" ng-if="activity.ActivityType!='Email'">
                                                <div class="timeline-heading">{{activity.CreatedByName}}<span class="p-l-1">{{activity.Activity[0].PropertyName}}</span> <span class="pull-right color-dark-gray small">{{activity.Activity[0].DateChanged |date:'MM-dd-yyyy hh:mm:ss' }}<a data-toggle="collapse" data-parent="#accordion" target="_self" href="#CollapseOne{{$index}}" aria-expanded="false" aria-controls="CollapseOne{{$index}}" class="collapsed"><i class="material-icons color-gray font-18 p-l-1 p-r-1" aria-hidden="true">keyboard_arrow_down </i></a></span></div>

                                                <div id="CollapseOne{{$index}}" class="card-block panel-collapse collapse pull-left p-0 col-md-12" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                                                    <div class="m-b-0 c1 col-md-4  col-sm-4  col-xs-4  p-0 bold">Field</div>
                                                    <div class="m-b-0 c1 col-md-4  col-sm-4  col-xs-4 bold">New value</div>
                                                    <div class="m-b-0 c1 col-md-4  col-sm-4  col-xs-4 bold">Old value</div>
                                                    <div class="row" ng-repeat="activitydetails in activity.Activity">

                                                        <div class="m-b-0 c1 col-md-4  col-sm-4  col-xs-4">{{activitydetails.PropertyName}}</div>
                                                        <div class="m-b-0 c1 col-md-4  col-sm-4  col-xs-4" ng-if="activitydetails.NewValue.length>0">{{activitydetails.NewValue}}</div>
                                                        <div class="m-b-0 c1 col-md-4  col-sm-4  col-xs-4" ng-if="activitydetails.NewValue.length==0">-</div>
                                                        <div class="m-b-0 c1 col-md-4  col-sm-4  col-xs-4" ng-if="activitydetails.OldValue.length>0">{{activitydetails.OldValue}}</div>
                                                        <div class="m-b-0 c1 col-md-4  col-sm-4  col-xs-4" ng-if="activitydetails.OldValue.length==0">-</div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-if="activity.ActivityType=='Email'" class="timeline-body color-grey full-width-100">
                                                <div class="timeline-heading">{{activity.CreatedByName}}<span class="p-l-1" ng-click="showActivityEmail(activity)">{{activity.ActivityType}}</span> <span class="pull-right color-dark-gray small">{{activity.CreatedOn |date:'MM-dd-yyyy hh:mm:ss' }}</span></div>
                                            </div>
                                        </section>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="QnotesJob" role="tabpanel" aria-expanded="false">
                            <form class="form-inline">

                                <div class="chat-conversation-user them p-l-0 p-r-0" ng-repeat="notes in activityList " ng-if="notes.ActivityType=='Note'" repeat-end="InializePopoverAndTooltip()">
                                    <div class="chat-conversation-title">
                                        <img ng-if="qNote.ProfileImageName" ng-src="{{configuration.XSEED_ORGUSER_IMAGE_PATH + qNote.ProfileImageName}}" class="avatar avatar-xs img-circle m-r-1 pull-left" title="user" alt="Avatar Image">
                                        <img ng-if="!qNote.ProfileImageName" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" class="avatar avatar-xs img-circle m-r-1 pull-left" title="user" alt="Avatar Image">

                                    </div>
                                    <div class="chat-conversation-message full-width-100 color-grey">
                                        <div class="timeline-heading bold">{{notes.CreatedByName}}<span class="pull-right color-dark-gray small">{{notes.CreatedOn | date:'MM-dd-yyyy hh:mm:ss'}}</span></div>
                                        <div ng-bind-html="TrustAsHTML(notes.Description)"></div>

                                    </div>
                                </div>

                            </form>
                        </div>


                        <div class="tab-pane" id="activityCandidate" role="tabpanel" aria-expanded="true">
                            <div class="timeline stacked">
                                <div ng-repeat="activity in CandidateActivityList " ng-if="activity.ActivityType!='Note'" id="accordion" role="tablist" aria-multiselectable="true" class="break-word">
                                    <div class="timeline-card m-t-0 m-b-1">
                                        <div class="col v-align-middle contact-avatar pull-left">
                                            <div class="circle-icon bg-primary">{{activity.CreatedByName[0]}}</div>
                                        </div>
                                        <section class="timeline-content">
                                            <div class="timeline-body color-grey full-width-100" ng-if="activity.ActivityType!='Email'">
                                                <div class="timeline-heading">{{activity.CreatedByName}}<span class="p-l-1">{{activity.Activity[0].PropertyName}}</span> <span class="pull-right color-dark-gray small">{{activity.Activity[0].DateChanged |date:'MM-dd-yyyy hh:mm:ss' }}<a data-toggle="collapse" data-parent="#accordion" target="_self" href="#CollapseTwo{{$index}}" aria-expanded="false" aria-controls="CollapseTwo{{$index}}" class="collapsed"><i class="material-icons color-gray font-18 p-l-1 p-r-1" aria-hidden="true">keyboard_arrow_down </i></a></span></div>

                                                <div id="CollapseTwo{{$index}}" class="card-block panel-collapse collapse pull-left p-0 col-md-12" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                                                    <div class="m-b-0 c1 col-md-4  col-sm-4  col-xs-4  p-0 bold">Field</div>
                                                    <div class="m-b-0 c1 col-md-4  col-sm-4  col-xs-4 bold">New value</div>
                                                    <div class="m-b-0 c1 col-md-4  col-sm-4  col-xs-4 bold">Old value</div>
                                                    <div class="row" ng-repeat="activitydetails in activity.Activity">

                                                        <div class="m-b-0 c1 col-md-4  col-sm-4  col-xs-4">{{activitydetails.PropertyName}}</div>
                                                        <div class="m-b-0 c1 col-md-4  col-sm-4  col-xs-4" ng-if="activitydetails.NewValue.length>0">{{activitydetails.NewValue}}</div>
                                                        <div class="m-b-0 c1 col-md-4  col-sm-4  col-xs-4" ng-if="activitydetails.NewValue.length==0">-</div>
                                                        <div class="m-b-0 c1 col-md-4  col-sm-4  col-xs-4" ng-if="activitydetails.OldValue.length>0">{{activitydetails.OldValue}}</div>
                                                        <div class="m-b-0 c1 col-md-4  col-sm-4  col-xs-4" ng-if="activitydetails.OldValue.length==0">-</div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-if="activity.ActivityType=='Email'" class="timeline-body color-grey full-width-100">
                                                <div class="timeline-heading">{{activity.CreatedByName}}<span class="p-l-1" ng-click="showActivityEmail(activity)">{{activity.ActivityType}}</span> <span class="pull-right color-dark-gray small">{{activity.CreatedOn |date:'MM-dd-yyyy hh:mm:ss' }}</span></div>
                                            </div>
                                        </section>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="QnotesCandidate" role="tabpanel" aria-expanded="false">
                            <form class="form-inline">

                                <div class="chat-conversation-user them p-l-0 p-r-0" ng-repeat="notes in CandidateActivityList " ng-if="notes.ActivityType=='Note'" repeat-end="InializePopoverAndTooltip()">
                                    <div class="chat-conversation-title">
                                        <img ng-if="qNote.ProfileImageName" ng-src="{{configuration.XSEED_ORGUSER_IMAGE_PATH + qNote.ProfileImageName}}" class="avatar avatar-xs img-circle m-r-1 pull-left" title="user" alt="Avtar Image">
                                        <img ng-if="!qNote.ProfileImageName" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" class="avatar avatar-xs img-circle m-r-1 pull-left" title="user" alt="Avtar Image">

                                    </div>
                                    <div class="chat-conversation-message full-width-100 color-grey">
                                        <div class="timeline-heading bold">{{notes.CreatedByName}}<span class="pull-right color-dark-gray small">{{notes.CreatedOn | date:'MM-dd-yyyy hh:mm:ss'}}</span></div>
                                        <div ng-bind-html="TrustAsHTML(notes.Description)"></div>

                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    /************ For QNote validation **************/

    $('#summernote').on('summernote.keyup', function(we, e) {
        console.log('Key is released:', e.keyCode);
    });
</script>