﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-md">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal" name="addCityMasterForm" novalidate>
                <div class="modal-header bg-primary">

                    <button type="button" ng-click="$hide()" class="close" data-dismiss="modal">×</button>


                    <h4 class="modal-title">Add City</h4>
                </div>
                <div class="modal-body clearfix">

                    <div class="card">
                        <div class="card-block">
                            <div class="row">

                                <div class="form-group m-b-xs clearfix">
                                    <div class="col-sm-3">
                                        <label>Country<span class="bold text-red">*</span></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <select class="select2 full-width-100" name="CountryId" ui-select2 data-placeholder="Select Country"
                                            ng-model="common.addCityMaster.CountryId"
                                            ng-click="getStateListByCountry(common.addCityMaster.CountryId)"
                                            validation="required:alt=country required.">
                                            <option value=""></option>
                                            <option
                                                ng-repeat="country in metadata.GetAncillaryInformationResponse.countryList.country"
                                                value="{{country.Id}}" ng-bind="country.Name"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group m-b-xs clearfix">
                                    <div class="col-sm-3 ">
                                        <label>State<span class="bold text-red">*</span></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <select class="select2 full-width-100" name="companyId" ui-select2 data-placeholder="Select State"
                                            ng-model="common.addCityMaster.StateId"
                                            ng-click="getCityListByState(common.addCityMaster.StateId)"
                                            validation="required:alt=State required.">
                                            <option value=""></option>
                                            <option ng-repeat="state in stateList" value="{{state.Id}}"
                                                ng-bind="state.Name"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group m-b-xs clearfix">
                                    <div class="col-sm-3">
                                        <label>City</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm" name="City"
                                            placeholder="Enter city" ng-model="common.addCityMaster.City"
                                           />
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                     
                </div>
                <div class="modal-footer">


                        <button class="btn btn-primary  btn-sm btn-icon loading-demo  m-r-xs  m-b-xs font-12  "  ng-click="addCityMaster(addCityMasterForm)" ><i class="material-icons">  check </i> Save</a>
 
                            <button type="button" class="btn btn-danger btn-sm btn-icon loading-demo    m-b-xs font-12" ng-click="closeAddNewCityToMasterModal();"><i class="material-icons">  close </i>Close</button>
                         
                    </div>
            </form>
        </div>
    </div>
</div>