﻿<div class="modal sidebar-modal chat-panel" tabindex="-1" role="dialog" ng-controller="ModalCtrl" aria-labelledby="chat-panel" ng-init="ExportMode=false;InializePopoverAndTooltip();CreatePreviewResumeLink(common.selectedCandidate._id);">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="chat-header">
                <a class="pull-right" href="javascript:;" data-dismiss="modal" ng-click="closeCandidateResumeModel();">
                    <i class="material-icons">close</i>
                </a>
                <div class="chat-header-title">
                    <h5>{{common.candidateModel.FirstName +' '+ common.candidateModel.LastName }}</h5>
                </div>
            </div>
            <div class="modal-body flex scroll-y">
                <div class="container-fluid">

                    <ul class="nav                                                                        nav-tabs" role="tablist">
                        <li ng-click="ExportMode=false" class="nav-item"><a class="nav-link active" data-toggle="tab" href="#fileresume" role="tab" aria-expanded="true" target="_self">Resume</a></li>
                        <li ng-click="ExportMode=true" class="nav-item"><a class="nav-link" data-toggle="tab" href="#videoresume" role="tab" aria-expanded="true" target="_self">Video Resume</a></li>
                        <button ng-if="ExportMode==false" type="button" class="pull-right btn mt-10 btn-sm btn-outline-primary btn-icon m-r-xs m-b-xs" ng-if="common.candidateModel.ResumeList" ng-click="openResumePreviewModal(common.candidateModel._id);"><i class="material-icons">file_download </i><span>Download Resume</span></button>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="fileresume">
                            <iframe title="" id="resume_iframe" style='width:100%;height:500px'  src="{{trustSrc(common.candidateModel.Resume.filePath)}}"></iframe>


                            <h6 ng-if="!common.candidateModel.ResumeList" class="text-muted text-xs-center">Resume file not uploaded</h6>

                        </div>
                        <div class="tab-pane" id="videoresume">
                            <video id="video" width="490" controls autoplay>
                                <source src="{{trustSrc(common.candidateModel.VideoResume.filePath)}}" type="video/mp4">
                            </video>

                        </div>
                        
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #custom-seekbar {
        cursor: pointer;
        height: 10px;
        margin-bottom: 10px;
        outline: thin solid orange;
        overflow: hidden;
        position: relative;
        width: 400px;
    }

        #custom-seekbar span {
            background-color: orange;
            position: absolute;
            top: 0;
            left: 0;
            height: 10px;
            width: 0px;
        }

    /* following rule is for hiding Stack Overflow's console  */
    .as-console-wrapper {
        display: none !important;
    }

</style>

<script>

    var vid = document.getElementById("video");
    vid.ontimeupdate = function () {
        var percentage = (vid.currentTime / vid.duration) * 100;
        $("#custom-seekbar span").css("width", percentage + "%");
    };

    $("#custom-seekbar").on("click", function (e) {
        var offset = $(this).offset();
        var left = (e.pageX - offset.left);
        var totalWidth = $("#custom-seekbar").width();
        var percentage = (left / totalWidth);
        var vidTime = vid.duration * percentage;
        vid.currentTime = vidTime;
    });//click()
</script>