﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal" name="candidateDetailForm" novalidate>
                <div class="modal-header p-a-xs bg-primary">
                    <button type="button" class="close" data-dismiss="modal" ng-click="closeCandidateDetailModal(false)" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <span>
                        <img ng-if="common.candidateModel.ProfileImageFile.data" class="avatar avatar-3wh img-circle img-responsive" ng-src="{{common.candidateModel.ProfileImageFile.data}}" alt="Generic placeholder image" />
                        <img ng-if="!common.candidateModel.ProfileImageFile.data" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src class="avatar avatar-4wh img-circle" title="user" alt="Avtar Image" />
                    </span>
                    <span class="modal-title">
                        <span class="h4 v-align-middle" ng-bind-template="{{common.candidateModel.FirstName}} {{common.candidateModel.MiddleName}} {{common.candidateModel.LastName}}"></span>
                        <a class="bg-default-round v-align-middle" ng-if="userDetails.Candidate_Update == 'True' && common.currentSection == constants.sectionCandidates" ng-click="candidateEditView();" uib-tooltip="Edit" tooltip-placement="right">
                            <i class="material-icons ng-binding" aria-hidden="true">
                                edit
                            </i>
                        </a>
                    </span>
                </div>
                <div class="modal-body p-a-xs">
                    <div style="height:500px;" class="scroll slimScroll" always-visible="true">
                        <div class="row p-l-xs p-r-xs">
                            <div class="col-sm-12">
                                <ul class="list-inline m-b-0">
                                    <li class="list-inline-item" title="Email">
                                        <i class="fa fa-envelope m-r-xs"></i><span ng-bind="common.candidateModel.PrimaryEmail"></span>
                                    </li>
                                    <li class="list-inline-item" title="Contact Number">
                                        <i class="fa fa-phone m-r-xs"></i><span ng-bind="common.candidateModel.Mobile"></span>
                                    </li>
                                    <li class="list-inline-item">
                                        <button class="btn btn-sm small btn-danger m-b-xs" ng-if="common.candidateModel.ResumeList" ng-click="openResumePreviewModal(common.candidateModel._id);">View Resume</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row p-l-xs p-r-xs">
                            <div class="col-sm-12">
                                <div class="card clearfix border-dark m-b-xs">
                                    <div class="card-header">
                                        <span class="bold"><i class="fa fa-user m-r-xs" aria-hidden="true"></i>Personal Details</span>
                                    </div>
                                    <div class="card-block p-a-xs clearfix">
                                        <div class="table-responsive scroll slimScroll">
                                            <table class="table table-sm small table-bordered">
                                                <caption></caption>
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">Gender</label>
                                                            <div ng-bind="common.candidateModel.Gender"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Marital Status</label>
                                                            <div ng-bind="common.candidateModel.MaritalStatus"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Interests/Hobbies</label>
                                                            <div ng-bind="common.candidateModel.Interests"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">Secondary Email</label>
                                                            <div ng-bind="common.candidateModel.SecondaryEmail"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Home Phone</label>
                                                            <div ng-bind="common.candidateModel.Phone"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Fax</label>
                                                            <div ng-bind="common.candidateModel.Fax"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">Address 1</label>
                                                            <div ng-bind="common.candidateModel.Address1"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Address 2</label>
                                                            <div ng-bind="common.candidateModel.Address2"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Address 3</label>
                                                            <div ng-bind="common.candidateModel.Address3"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">City</label>
                                                            <div ng-bind="common.candidateModel.City"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">State</label>
                                                            <div ng-bind="common.candidateModel.State"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Country</label>
                                                            <div ng-bind="common.candidateModel.Country"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">Zip</label>
                                                            <div ng-bind="common.candidateModel.Zip"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Birth Date</label>
                                                            <div>{{common.candidateModel.BirthDate| date:'MM-dd-yyyy'}}</div>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <label class="text-grey">Technical Skills</label>
                                                            <div ng-bind="common.candidateModel.Skills"></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-l-xs p-r-xs">
                            <div class="col-sm-12">
                                <div class="card clearfix border-dark m-b-xs">
                                    <div class="card-header">
                                        <span class="bold"><i class="fa fa-file-text m-r-xs"></i>Other details</span>
                                    </div>
                                    <div class="card-block p-a-xs clearfix">
                                        <div class="no-more-tables dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                            <table class="dataTable card table table-responsive dragscroll">
                                                <caption></caption>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">Send Job Alert</label>
                                                            <div ng-if="common.candidateModel.SendJobAlert"> Yes </div>
                                                            <div ng-if="!common.candidateModel.SendJobAlert"> No </div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Have Passport</label>
                                                            <div ng-if="common.candidateModel.HavePassport"> Yes </div>
                                                            <div ng-if="!common.candidateModel.HavePassport"> No </div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Can Relocate</label>
                                                            <div ng-if="common.candidateModel.CanReLocate"> Yes </div>
                                                            <div ng-if="!common.candidateModel.CanReLocate"> No </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">Referred By</label>
                                                            <div ng-bind="common.candidateModel.ReferredBy"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Source</label>
                                                            <div ng-bind="common.candidateModel.Source"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Company Name</label>
                                                            <div ng-bind="common.candidateModel.CompanyName" class="overflow-hidden"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">Status</label>
                                                            <div ng-bind="common.candidateModel.Status"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Rating</label>
                                                            <div ng-bind="common.candidateModel.Rating"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Employment Type</label>
                                                            <div ng-bind="common.candidateModel.EmployementType"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">Pay Rate</label>
                                                            <div><i class="fa fa-dollar" ng-if="common.candidateModel.PayRate"></i><span ng-bind="common.candidateModel.PayRate"></span></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Bill Rate</label>
                                                            <div><i class="fa fa-dollar" ng-if="common.candidateModel.BillRate"></i><span ng-bind="common.candidateModel.BillRate"></span></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Compensation</label>
                                                            <div><i class="fa fa-dollar" ng-if="common.candidateModel.Compensation"></i><span ng-bind="common.candidateModel.Compensation"></span></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">US Experience</label>
                                                            <div ng-bind-template="{{common.candidateModel.USExperienceInYear}}.{{common.candidateModel.USExperienceInMonth}}"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">SSN</label>
                                                            <div ng-bind="common.candidateModel.SSN"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Availability Date</label>
                                                            <div ng-bind="common.candidateModel.AvailabilityDate"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">Categories</label>
                                                            <div ng-bind="common.candidateModel.Categories"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Groups</label>
                                                            <div ng-bind="common.candidateModel.Groups"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Profile Title</label>
                                                            <div ng-bind="common.candidateModel.ProfileTitle"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">Total Experience</label>
                                                            <div ng-bind-template="{{common.candidateModel.ExperienceInYear}}.{{common.candidateModel.ExperienceInMonth}}"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Current Salary</label>
                                                            <div><i class="fa fa-dollar" ng-if="common.candidateModel.CurrentSalary"></i><span ng-bind="common.candidateModel.CurrentSalary"></span></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Expected Salary</label>
                                                            <div><i class="fa fa-dollar" ng-if="common.candidateModel.ExpectedSalary"></i><span ng-bind="common.candidateModel.ExpectedSalary"></span></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">Display Name</label>
                                                            <div ng-bind="common.candidateModel.DisplayName"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Current Location</label>
                                                            <div ng-bind="common.candidateModel.CurrentLocation"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Preferred Location: </label>
                                                            <div ng-bind="common.candidateModel.PreferredLocation"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="text-grey">WorkPhone</label>
                                                            <div ng-bind="common.candidateModel.WorkPhone"></div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">Passport valid upto</label>
                                                            <div>{{common.candidateModel.PassportValidUpto| date:'MM-dd-yyyy'}}</div>
                                                        </td>
                                                        <td>
                                                            <label class="text-grey">VISA Type</label>
                                                            <div ng-bind="common.candidateModel.VisaType"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <label class="text-grey">VISA valid upto</label>
                                                            <div>{{common.candidateModel.VisaValidUpto| date:'MM-dd-yyyy'}}</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <label class="text-grey">Profile Summary</label>
                                                            <div ng-bind="common.candidateModel.ProfileSummary" class="overflow-hidden"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <label class="text-grey">Languages</label>
                                                            <div ng-bind="common.candidateModel.Languages"></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-l-xs p-r-xs">
                            <div class="col-sm-12">
                                <div class="card clearfix border-dark m-b-xs">
                                    <div class="card-header">
                                        <span class="bold"><i class="fa fa-graduation-cap m-r-xs" aria-hidden="true"></i>Educational Details</span>
                                    </div>
                                    <div class="card-block p-a-xs clearfix">
                                        <div class="table-responsive scroll slimScroll">
                                            <table class="table table-sm small table-bordered" ng-if="common.candidateModel.Educations.length> 0">
                                                <caption></caption>
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Start Date</th>
                                                        <th scope="col">End Date</th>
                                                        <th scope="col">School</th>
                                                        <th scope="col">School Type</th>
                                                        <th scope="col">Course</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="educationItem in common.candidateModel.Educations">
                                                        <td>{{educationItem.StartDate}}</td>
                                                        <td>{{educationItem.EndDate}}</td>
                                                        <td>{{educationItem.School}}</td>
                                                        <td>{{educationItem.SchoolType }}</td>
                                                        <td>{{educationItem.Course }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-l-xs p-r-xs">
                            <div class="col-sm-12">
                                <div class="card clearfix border-dark m-b-xs">
                                    <div class="card-header">
                                        <span class="bold"><i class="fa fa-suitcase m-r-xs" aria-hidden="true"></i>Employment Details</span>
                                    </div>
                                    <div class="card-block p-a-xs clearfix">
                                        <div class="table-responsive scroll slimScroll">
                                            <table class="table table-sm small table-bordered" ng-if="common.candidateModel.EmployementHistory.length> 0">
                                                <caption></caption>
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Start Date</th>
                                                        <th scope="col">End Date</th>
                                                        <th scope="col">Job Title</th>
                                                        <th scope="col">Company Name</th>
                                                        <th scope="col">Employment Type</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="EmployementItem in common.candidateModel.EmployementHistory">
                                                        <td>{{EmployementItem.StartDate}}</td>
                                                        <td>{{EmployementItem.EndDate}}</td>
                                                        <td>{{EmployementItem.JobTitle}}</td>
                                                        <td>{{EmployementItem.CompanyName }}</td>
                                                        <td>{{EmployementItem.EmployementType }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-l-xs p-r-xs">
                            <div class="col-sm-12">
                                <div class="card clearfix border-dark m-b-xs">
                                    <div class="card-header">
                                        <span class="bold"><i class="fa fa-share-alt m-r-xs"></i>Social Media Contact</span>
                                    </div>
                                    <div class="card-block p-a-xs clearfix">
                                        <ul class="list-inline">
                                            <li class="list-inline-item" ng-if="common.candidateModel.LinkedInURL">
                                                <a href={{common.candidateModel.LinkedInURL}} target="_blank">
                                                    <i class="fa fa-linkedin-square fa-2x text-linkedin m-r-xs"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href={{common.candidateModel.TwitterURL}} ng-if="common.candidateModel.TwitterURL" target="_blank">
                                                    <i class="fa fa-twitter-square fa-2x text-twitter m-r-xs"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href={{common.candidateModel.FacebookURL}} ng-if="common.candidateModel.FacebookURL" target="_blank">
                                                    <i class="fa fa-facebook-square fa-2x text-facebook m-r-xs"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href={{common.candidateModel.GooglePlusURL}} ng-if="common.candidateModel.GooglePlusURL" target="_blank">
                                                    <i class="fa fa-google-plus-square fa-2x text-google-plus m-r-xs"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>