﻿<div ng-init="common.qNoteList.EditMode=false" class="modal sidebar-modal chat-panel" tabindex="-1" role="dialog" ng-controller="ModalCtrl" aria-labelledby="chat-panel">
    <div class="modal-backdrop fade in"></div>

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="chat-header">
                <a class="pull-right" href="javascript:;" data-dismiss="modal" ng-click="closecandidateActivityQnotesModal()"><i class="material-icons">close</i></a>
                <div class="chat-header-title">
                    <h5> {{common.selectedCandidate.FirstName}} {{common.selectedCandidate.LastName}}</h5>

                </div>

            </div>
            <div class="modal-body flex scroll-y">
                <div class="container-fluid">

                    <ul class="nav nav-tabs" role="tablist">

                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" target="self" href="#activityCandidate" role="tab" aria-expanded="false">Activity</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" target="self" href="#QnotesCandidate" role="tab" aria-expanded="false">Quick Notes</a></li>
                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane active" id="activityCandidate" role="tabpanel" aria-expanded="true">
                            <div class="timeline stacked">
                                <div ng-repeat="activity in activityListCandidate" id="accordion" role="tablist" aria-multiselectable="true" class="break-word">
                                    <div class="timeline-card m-t-0 m-b-1">
                                        <div class="col v-align-middle contact-avatar pull-left">
                                            <div class="circle-icon bg-primary">{{activity.CreatedByName[0]}}</div>
                                        </div>
                                        <section class="timeline-content">
                                            <div class="timeline-body color-grey full-width-100" ng-if="activity.ActivityType!='Email'">
                                                <div class="timeline-heading">{{activity.CreatedByName}}<span class="p-l-1">{{activity.Activity[0].PropertyName}}</span> <span class="pull-right color-dark-gray small">{{activity.Activity[0].DateChanged |date:'MM-dd-yyyy hh:mm:ss' }}<a data-toggle="collapse" data-parent="#accordion" target="_self" href="#CollapseOne{{$index}}" aria-expanded="false" aria-controls="CollapseOne{{$index}}" class="collapsed"><i class="material-icons color-gray font-18 p-l-1 p-r-1" aria-hidden="true">keyboard_arrow_down </i></a></span></div>

                                                <div id="CollapseOne{{$index}}" class="card-block panel-collapse collapse pull-left p-0 col-md-12" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                                                    <div class="m-b-0 c1 col-md-4 col-sm-4 col-xs-4 p-0 bold">Field</div>
                                                    <div class="m-b-0 c1 col-md-4 col-sm-4 col-xs-4 bold">New value</div>
                                                    <div class="m-b-0 c1 col-md-4 col-sm-4 col-xs-4 bold">Old value</div>
                                                    <div class="row" ng-repeat="activitydetails in activity.Activity">

                                                        <div class="m-b-0 c1 col-md-4 col-sm-4 col-xs-4">{{activitydetails.PropertyName}}</div>
                                                        <div class="m-b-0 c1 col-md-4 col-sm-4 col-xs-4" ng-if="activitydetails.NewValue.length>0">{{activitydetails.NewValue}}</div>
                                                        <div class="m-b-0 c1 col-md-4 col-sm-4 col-xs-4" ng-if="activitydetails.NewValue.length==0">-</div>
                                                        <div class="m-b-0 c1 col-md-4 col-sm-4 col-xs-4" ng-if="activitydetails.OldValue.length>0">{{activitydetails.OldValue}}</div>
                                                        <div class="m-b-0 c1 col-md-4 col-sm-4 col-xs-4" ng-if="activitydetails.OldValue.length==0">-</div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-if="activity.ActivityType=='Email'" class="timeline-body color-grey full-width-100">
                                                <div class="timeline-heading">{{activity.CreatedByName}}<span class="p-l-1" ng-click="showActivityEmail(activity)">{{activity.ActivityType}}</span> <span class="pull-right color-dark-gray small">{{activity.CreatedOn |date:'MM-dd-yyyy hh:mm:ss' }}</span></div>
                                            </div>
                                        </section>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="QnotesCandidate" role="tabpanel" aria-expanded="false">
                            <form class="form-inline">
                                <div class="form-group full-width-100">
                                    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                                    <div>
                                        <div class="text-danger disp-none" id="error-summernote">Field is required.</div>
                                        <summernote id="summernote" name="qNote" ng-model="qNoteModelCandidate.qNote" placeholder="Please enter notes" config="summernoteOptions" validation=""></summernote>


                                        <a ng-if="common.qNoteList.EditMode==false" class="font-12 bg-primary text-white form-control-sm pull-right m-t-1" ng-click="submitQNoteCandidate()" ng-disabled="!qNoteModelCandidate.qNote">Submit</a>
                                        <a ng-if="common.qNoteList.EditMode==true" class="font-12 bg-danger text-white form-control-sm pull-right m-t-1" ng-click="CancelUpdateQNoteCandidate()" ng-disabled="!qNoteModelCandidate.qNote">Cancel</a>
                                        <a ng-if="common.qNoteList.EditMode==true" class="font-12 bg-primary text-white form-control-sm pull-right m-t-1 m-r-xs" ng-click="UpdateQNoteCandidate(common.qNoteList.EditID)" ng-disabled="!qNoteModelCandidate.qNote">Update</a>
                                    </div>
                                </div>
                                <br>
                                <br>

                                <div class="chat-conversation-user them p-l-0 p-r-0" ng-repeat="notes in qNoteListCandidate" repeat-end="InializePopoverAndTooltip()">
                                    <div class="chat-conversation-title">
                                        <img ng-if="qNote.ProfileImageName" ng-src="{{configuration.XSEED_ORGUSER_IMAGE_PATH + qNote.ProfileImageName}}" class="avatar avatar-xs img-circle m-r-1 pull-left" title="user" alt="Avatar Image">
                                        <img ng-if="!qNote.ProfileImageName" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" class="avatar avatar-xs img-circle m-r-1 pull-left" title="user" alt="Avatar Image">

                                    </div>
                                    <div class="chat-conversation-message full-width-100 color-grey">
                                        <div class="timeline-heading bold">{{notes.CreatedBy}}<span class="pull-right color-dark-gray small">{{notes.CreatedOn | date:'MM-dd-yyyy hh:mm:ss'}}</span></div>
                                        <div ng-bind-html="TrustAsHTML(notes.Description)"></div>

                                        <button ng-if="notes.CreatedById == userDetails.UserId" type="button" ng-click="deleteQNotecandidate(notes.Id,$index)" data-original-title="Delete" class="btn btn-outline-danger btn-sm loading-demo m-b-xs   font-12 mb-0 pull-right" ng-disabled="qNoteModelCandidate.qNote">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        <button ng-if="notes.CreatedById == userDetails.UserId" ng-click="StartEditQNotes(notes,$index)" type="button" data-toggle="tooltip" data-original-title="Edit" class="btn btn-outline-primary btn-sm m-r-xs loading-demo m-b-xs font-12 mb-0 pull-right">
                                                    <i class="fa fa-pencil"></i>
                                                </button>


                                    </div>
                                </div>

                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    /************ For QNote validation **************/

    $('#summernote').on('summernote.keyup', function(we, e) {
        console.log('Key is released:', e.keyCode);
    });
</script>