﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl" id="emailModal">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal input-border-b" name="commonEmailForm" novalidate>
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-label="Close">
                        &times;
                    </button>
                    <h4 class="modal-title" ng-if="commonEmailModel.typeOfNotification != constants.showActivityEmail">
                        <i class="material-icons font-36 m-r-xs" aria-hidden="true">email </i> Compose email
                    </h4>
                    <h4 class="modal-title" ng-if="commonEmailModel.typeOfNotification === constants.showActivityEmail">
                        <i class="material-icons font-36 m-r-xs" aria-hidden="true">email </i> Sent email
                    </h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card disp-block">
                                <div class="card-block ">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">
                                                <label class="chk-label">From</label>
                                            </div>
                                            <div class="col-md-10 col-sm-10">
                                                <input readonly ng-model="commonEmailModel.FromEmailID" placeholder="From" class="form-control form-control-sm" id="exampleInputPasswordAgain1" type="text" name="From" validation="required|max_len:250" ng-disabled="commonEmailModel.typeOfNotification === constants.showActivityEmail">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">
                                                <label>To</label>
                                            </div>
                                            <div class="col-md-8 col-sm-8">
                                                <input type="text" id="input-tags" class="form-control form-control-sm" ng-model="commonEmailModel.ToEmailID" placeholder="To" name="To" validation="required:alt=email is required.|xseed_email_list|max_len:500" ng-disabled="commonEmailModel.typeOfNotification === constants.showActivityEmail">

                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <button data-toggle="collapse" href="#ccandbcc" aria-expanded="false" aria-controls="ccandbcc" type="button" class="btn btn-outline-primary btn-sm loading-demo font-12 mb-0 email-cc-btn">
                                                    Cc
                                                </button>
                                                <button data-toggle="collapse" href="#bcc" aria-expanded="false" aria-controls="bcc" type="button" class="btn btn-outline-primary btn-sm loading-demo font-12 mb-0 email-cc-btn">
                                                    Bcc
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-class="{'collapse':!commonEmailModel.ToCC.length}" id="ccandbcc">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">
                                                <label class="chk-label" for="exampleInputPassword1">Cc</label>
                                            </div>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="text" ng-model="commonEmailModel.ToCC" placeholder="Cc" class="demo-default form-control form-control-sm" name="Cc" validation="max_len:250|xseed_email_list" ng-disabled="commonEmailModel.typeOfNotification === constants.showActivityEmail">
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-class="{'collapse':!commonEmailModel.ToBCC.length}" id="bcc">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">
                                                <label class="chk-label" for="exampleInputPassword1">Bcc</label>
                                            </div>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="text" ng-model="commonEmailModel.ToBCC" placeholder="Bcc" class="demo-default form-control form-control-sm" name="Bcc" validation="max_len:250|xseed_email_list" ng-disabled="commonEmailModel.typeOfNotification === constants.showActivityEmail">
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="card disp-block">
                                <div class="card-block ">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-2
                                                    col-sm-2">
                                                <label class="chk-label" for="exampleInputPassword1">Subject</label>
                                            </div>
                                            <div class="col-md-8 col-sm-8">
                                                <input class="form-control form-control-sm" ng-model="commonEmailModel.MailSubject" placeholder="Subject" type="text" name="Subject" validation="max_len:100" ng-disabled="commonEmailModel.typeOfNotification === constants.showActivityEmail">
                                            </div>
                                            <div class="col-md-2 col-sm-2" ng-if="commonEmailModel.typeOfNotification != constants.showActivityEmail">
                                                <label class="file chk-label" for="MailAttachment">

                                                    <i class="material-icons color-gray" aria-hidden="true">attachment
                                                    </i>
                                                    <input type="file" nv-file-select="" uploader="upload.uploader"
                                                        multiple ng-model="commonEmailModel.MailAttachment"
                                                        ng-multi-file-model="commonEmailModel.MailAttachment"
                                                        name="MailAttachment" id="MailAttachment" />
                                                </label>
                                            </div>
                                        </div> <br>
                                        <div class="row" ng-if="commonEmailModel.MailAttachment">
                                            <div class="col-md-12 col-sm-12">
                                                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label m-b-0 m-t-xs">&nbsp;</label>
                                                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 ">
                                                    <div class="col-md-6 col-sm-6 p-0" ng-repeat="file in commonEmailModel.MailAttachment track by $index" ng-if="file!=null && commonEmailModel.typeOfNotification != constants.showActivityEmail">
                                                        <p class="email-attachment-overflow badge_large bg-primary bg-grey-dark">
                                                            <i ng-click="removeAttachement($index);" class="fa fa-close"></i> {{file.name}}
                                                        </p>
                                                    </div>

                                                    <a class="btn btn-default btn-sm small btn-round" uib-tooltip="Download" ng-repeat="file in commonEmailModel.MailAttachment track by $index" ng-if="file!=null && commonEmailModel.typeOfNotification === constants.showActivityEmail" target="_self" ng-href="{{file.data}}"
                                                        type="application/json" download="{{file.name}}">{{file.name}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12" ng-if="commonEmailModel.typeOfNotification != constants.showActivityEmail">

                                                <summernote id="summernote" name="MailBody" ng-model="commonEmailModel.MailBody" placeholder="type your content here..." config="summernoteOptions" validation="required"></summernote>
                                            </div>
                                            <div ng-if="commonEmailModel.typeOfNotification === constants.showActivityEmail" ng-disabled="commonEmailModel.typeOfNotification === constants.showActivityEmail" class="card-block p-a-xs clearfix  ">
                                                <div class="bg-white p-1 col-md-12" ng-bind-html="trustHtml(commonEmailModel.MailBody)"></div>
                                            </div>


                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="modal-footer">
                    <div class="form-group">
                        <div ng-if="commonEmailModel.typeOfNotification != constants.showActivityEmail">
                            <button class="btn btn-primary small btn-sm" type="submit" ng-click="commonEmailForm.$valid && sendEmailNotification(commonEmailForm)" ng-disabled="commonEmailForm.$invalid">
                                Send
                            </button>
                            <button type="button" class="btn btn-danger small btn-sm" ng-click="closeCommonEmailModal()">
                                Cancel
                            </button>
                        </div>
                        <div ng-if="commonEmailModel.typeOfNotification === constants.showActivityEmail">
                            <button type="button" class="btn btn-danger small btn-sm" ng-click="closeCommonEmailModal()">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>