﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated slideInDown">
            <div class="modal-header bg-primary">
                <button type="button" ng-click="closeCandidateChartDetailsModal()" class="close" data-dismiss="modal">×</button>
                <span class="h5">Candidates by- {{candidateAddedChartModel.modalTitle}}</span>

            </div>
            <div class="modal-body clearfix p-a-xs">
                <div style="max-height:480px;" class="scroll slimScroll" always-visible="true">


                    <div id="candidateDiv" class="no-more-tables dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <table ng-table="common.tblCandidateList" class="table table-striped table-hover table-bordered  table-hover text-nowrap dataTable card table table-responsive dragscroll m-a-0">
                            <caption></caption>
                            <tbody class="slimScroll">
                                <tr ng-repeat="candidate in common.candidateList" repeat-end="InitDragScroll()">
                                    <td data-title="'Status'" data-sortable="'Status'" header-class="'bg-primary'" class="text-xs-center">
                                        <span class="label label-md label-danger" ng-if="candidate.Status== 'Active'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                        <span class="label label-md label-primary" ng-if="candidate.Status== 'DNC'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                        <span class="label label-md label-success" ng-if="candidate.Status== 'New'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                        <span class="label label-md label-info" ng-if="candidate.Status== 'Not Looking'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                        <span class="label label-md label-default" ng-if="candidate.Status== 'Passive'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                        <span class="label label-md label-info" ng-if="candidate.Status== 'Placed'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                        <span class="label label-md label-default" ng-if="candidate.Status== 'Unresponsive'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                        <span ng-if="candidate.Status=== null"></span>
                                    </td>
                                    <td data-title="'Candidate Id'" data-sortable="'CandidateId'" header-class="'bg-primary'" ng-bind="candidate.CandidateId"></td>
                                    <td data-title="'Name'" filter="{ 'FullName': 'text'}" data-sortable="'FirstName'" header-class="'bg-primary'">
                                        <p class="text-primary m-b-0" ng-bind="candidate.FullName" ng-init="candidate.FullName= getCandidateFullName(candidate.Title, candidate.FirstName, candidate.MiddleName, candidate.LastName)" ng-attr-title="{{candidate.FullName}}" ng-click="openCandidateDetailView(candidate._id);"></p>
                                    </td>
                                    <td data-title="'Mobile'" data-sortable="'Mobile'" header-class="'bg-primary'" ng-bind="candidate.Mobile"></td>
                                    <td data-title="'Home Phone'" data-sortable="'Phone'" header-class="'bg-primary'" ng-bind="candidate.Phone"></td>
                                    <td data-title="'Work Phone'" data-sortable="'WorkPhone'" header-class="'bg-primary'" ng-bind="candidate.WorkPhone"></td>
                                    <td data-title="'Company Name'" data-sortable="'CompanyName'" header-class="'bg-primary'" ng-bind="candidate.CompanyName" ng-attr-title="{{candidate.CompanyName}}"></td>
                                    <td data-title="'Email'" data-sortable="'PrimaryEmail'" header-class="'bg-primary'" ng-bind="candidate.PrimaryEmail" ng-attr-title="{{candidate.PrimaryEmail}}"></td>
                                    <td data-title="'Profile Title'" data-sortable="'ProfileTitle'" header-class="'bg-primary'" ng-bind="candidate.ProfileTitle" ng-attr-title="{{candidate.ProfileTitle}}"></td>
                                    <td data-title="'Skill'" filter="{ 'sString': 'text'}" ng-bind="GetTechnicalSkills(candidate.Skills)" data-sortable="'Skills'" header-class="'bg-primary'" ng-attr-title="{{candidate.Skills}}"></td>

                                    <td data-title="'Total Exp'" data-sortable="'ExperienceInYear'" header-class="'bg-primary'" class="text-xs-center">
                                        <span ng-bind="candidate.ExperienceInYear"></span>
                                        <span ng-if="candidate.ExperienceInMonth != null && candidate.ExperienceInMonth >= 0">.</span>
                                        <span ng-bind="candidate.ExperienceInMonth"></span>
                                    </td>
                                    <td data-title="'US Exp'" data-sortable="'USExperienceInYear'" header-class="'bg-primary'" class="text-xs-center">
                                        <span ng-bind="candidate.USExperienceInYear"></span>
                                        <span ng-if="candidate.USExperienceInMonth != null && candidate.USExperienceInMonth >= 0">.</span>
                                        <span ng-bind="candidate.USExperienceInMonth"></span>
                                    </td>

                                    <td data-title="'SSN'" data-sortable="'SSN'" header-class="'bg-primary'" ng-bind="candidate.SSN"></td>
                                    <td data-title="'Categories'" data-sortable="'Categories'" header-class="'bg-primary'" ng-bind="candidate.Categories"></td>
                                    <td data-title="'Groups'" data-sortable="'Groups'" header-class="'bg-primary'" ng-bind="candidate.Groups"></td>
                                    <td data-title="'Created By'" data-sortable="'CreatedOn'" header-class="'bg-primary'" ng-bind="candidate.CreatedByName" ng-attr-title="{{candidate.CreatedByName + ' On '+ (candidate.CreatedOn| date: MM/dd/yyyy)}}"></td>
                                    <td data-title="'Modified By'" data-sortable="'ModifiedOn'" header-class="'bg-primary'" ng-bind="candidate.ModifiedByName" ng-attr-title="{{candidate.ModifiedByName+ ' On '+(candidate.ModifiedOn| date: MM/dd/yyyy)}}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="common.candidateList.length == 0" class="no-contacts layout-column">
                            <h3 class="text-shadow text-muted">
                                No candidates found matching criteria.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
</script>

<script id="uib/template/tabs/tab.html" type="text/ng-template">
    <li class="nav-item">
        <a href class="nav-link" ng-click="select()" uib-tab-heading-transclude ng-class="{active: active
, disabled: disabled}">{{heading}}</a>
    </li>
</script>