﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated slideInDown">
            <div class="modal-header bg-primary">
                <button type="button" ng-click="closeRequirementChartDetailsModal()" class="close" data-dismiss="modal">×</button>
                <span class="h5">{{requirementStatusChartModel.modalTitle}} Requirements</span>

            </div>
            <div class="modal-body clearfix p-a-xs">
                <div style="max-height:480px;" class="scroll slimScroll" always-visible="true">
                    <div id="requirementDiv" class="no-more-tables dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <table ng-table="common.tblRequirementList" class="table table-striped table-hover table-bordered table-sm table-hover text-nowrap dataTable card table table-responsive dragscroll m-a-0">
                            <caption></caption>
                            <tbody class="slimScroll">
                                <tr ng-repeat="job in common.jobList" repeat-end="InitDragScroll()">
                                    <td data-title="'Status'" filter="{ 'JobStatus': 'text'}" data-sortable="'JobStatusMaster.Status'" header-class="'bg-primary'" class="text-xs-center">
                                        <span class="label label-md label-default" ng-if="job.JobStatus== 'Archive'" ng-bind="job.JobStatus">{{job.JobStatus}}</span>
                                        <span class="label label-md label-success" ng-if="job.JobStatus== 'Closed'" ng-bind="job.JobStatus">{{requirementModel.JobStatusId}}</span>
                                        <span class="label label-md label-warning" ng-if="job.JobStatus== 'Pending'" ng-bind="job.JobStatus">{{requirementModel.JobStatusId}}</span>
                                        <span class="label label-md label-info" ng-if="job.JobStatus== 'Hold'" ng-bind="job.JobStatus">{{requirementModel.JobStatusId}}</span>
                                        <span class="label label-md label-danger" ng-if="job.JobStatus== 'Open'" ng-bind="job.JobStatus">{{requirementModel.JobStatusId}}</span>
                                        <span ng-if="job.JobStatusId=== null"></span>
                                    </td>

                                    <td  data-title="'Internal Requirement Id'" filter="{ 'Code': 'text'}" data-sortable="'RequisitionId'" header-class="'bg-primary'" ng-bind="job.RequisitionId" class="text-xs-center"></td>

                                    <td  data-title="'Title'" filter="{ 'JobTitle': 'text'}" data-sortable="'JobTitle'" header-class="'bg-primary'">
                                        <p class="text-primary mb-0" ng-bind="job.JobTitle" ng-attr-title="{{job.JobTitle}}" ng-click="openRequirementFromOtherSection(job.Id);"></p>
                                    </td>

                                    <td  data-title="'Type'" filter="{ 'JobType': 'text'}" data-sortable="'JobTypeMaster.Type'" header-class="'bg-primary'" ng-bind="job.JobType"></td>

                                    <td  data-title="'Location'" filter="{ 'Location': 'text'}" data-sortable="'CountryMaster.Name'" header-class="'bg-primary'" ng-attr-title="{{job.City +' '+job.State+' '+job.Country}}">
                                        <span ng-bind="job.City"></span><span ng-if="job.City && job.State">, </span>
                                        <span ng-bind="job.State"></span><span ng-if="job.State && job.Country">, </span>
                                        <span ng-bind="job.Country"></span>
                                    </td>

                                    <td  data-title="'Company'" filter="{ 'CompanyName': 'text'}" data-sortable="'CompanyDetail.Name'" header-class="'bg-primary'" ng-bind="job.CompanyName" ng-attr-title="{{job.CompanyName}}"></td>

                                    <td  data-title="'Min Salary'" filter="{ 'MinSalary': 'text'}" data-sortable="'MinSalary'" header-class="'bg-primary'">
                                        <i class="fa fa-dollar" ng-if="job.MinSalary"></i>
                                        <span ng-bind="job.MinSalary"> </span>
                                    </td>

                                    <td  data-title="'Max Salary'" filter="{ 'MaxSalary': 'text'}" data-sortable="'MaxSalary'" header-class="'bg-primary'">
                                        <i class="fa fa-dollar" ng-if="job.MaxSalary"></i>
                                        <span ng-bind="job.MaxSalary"> </span>
                                    </td>

                                    <td  data-title="'Client Rate'" filter="{ 'ClientRate': 'text'}" data-sortable="'ClientRate'" header-class="'bg-primary'">
                                        <i class="fa fa-dollar" ng-if="job.ClientRate"></i>
                                        <span ng-bind="job.ClientRate"> </span>
                                    </td>

                                    <td  data-title="'Pay Rate'" filter="{ 'PayRate': 'text'}" data-sortable="'PayRate'" header-class="'bg-primary'">
                                        <i class="fa fa-dollar" ng-if="job.PayRate"></i>
                                        <span ng-bind="job.PayRate"> </span>
                                    </td>

                                    <td  data-title="'Skills'" filter="{ 'Skills': 'text'}" data-sortable="'TechnicalSkills'" header-class="'bg-primary'" ng-bind="GetTechnicalSkills(job.TechnicalSkills)"></td>

                                    <td  data-title="'Contact(s)'" filter="{ 'Contacts': 'text'}" header-class="'bg-primary'" ng-attr-title="{{job.CompanyContactName}}">
                                        <a class="text-primary" class="text-primary bold" ng-click="getCompanyContact(job.CompanyId, job.CompanyContactId);" ng-bind="job.CompanyContactName"></a>
                                    </td>

                                    <td  data-title="'Assigned Recruiter(s)'" filter="{ 'AssignedRecruiter': 'text'}" header-class="'bg-primary'">
                                        <label class="labelauty-label" title="Assinged recruiters" ng-repeat="recruiter in job.OrganizationUser">
                                            <span ng-if="!$last">{{recruiter.Name}},&nbsp;</span>
                                            <span ng-if="$last">{{recruiter.Name}}</span>
                                        </label>
                                    </td>

                                    <td  data-title="'Created by'" filter="{ 'CreatedOn': 'text'}" data-sortable="'CreatedOn'" header-class="'bg-primary'" ng-attr-title="{{job.CreatedBy + ' on ' + (job.CreatedOn | date: MM/dd/yyyy)}}">{{job.CreatedBy}}</td>

                                    <td data-title="'Modified by'" filter="{ 'ModifiedOn': 'text'}" data-sortable="'ModifiedOn'" header-class="'bg-primary'" ng-attr-title="{{job.ModifiedBy + ' on ' + (job.ModifiedOn | date: MM/dd/yyyy)}}">{{job.ModifiedBy}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="common.jobList.length == 0" class="no-contacts layout-column scroll-y">
                            <h3 class="text-shadow text-muted">
                                No requirements found matching criteria.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
</script>

<script id="uib/template/tabs/tab.html" type="text/ng-template">
    <li class="nav-item">
        <a href class="nav-link" ng-click="select()" uib-tab-heading-transclude ng-class="{active: active
, disabled: disabled}">{{heading}}</a>
    </li>
</script>