﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content animated slideInDown">
            <div class="modal-header bg-primary">

                <button type="button" ng-click="$hide()" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">
                    <span>Lookup for {{genericLookUpType}}</span>
                </h4>
            </div>
            <div class="modal-body p-a-xs">
                <form autocomplete="off" class="form-horizontal" name="candidateSubmissionPopupForm" novalidate>
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <div class="table-responsive">
                                    <table ng-table="tableParams" class="table table-hover table-sm  table-bordered" show-filter="true">
                                        <caption></caption>
                                        <tr ng-repeat="lookup in $data" ng-click="SetModalValue(lookup);">
                                            <td data-title="'Lookup Value'" header-class="'bg-primary'" filter="{ 'Name': 'text'}" data-sortable="'Name'" ng-bind="lookup.Name" title="Click to select"></td>

                                            <td data-title="'Lookup Description'" style="min-width:60px;max-width:40px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;" header-class="'bg-primary'" filter="{ 'Description': 'text'}" data-sortable="'Description'" ng-bind="lookup.Description" title="Click to select"></td>

                                            <td data-title="'Action'" header-class="'bg-primary'">

                                                <button ng-click="openGenericCreateEditMasterModal(lookup, 'Edit');" type="button" class="btn btn-outline-primary btn-sm loading-demo font-12 mb-0" data-toggle="tooltip" title="" data-original-title="Edit details"> <i class="fa fa-pencil"></i> </button>
                                                
                                            </td>
                                        </tr>
                                    </table>

                                    <div ng-if="genericLookup.length == 0" class="no-contacts layout-column">
                                        <h5 class="text-shadow text-muted text-xs-center">
                                            No lookup value present.
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary  btn-sm btn-icon loading-demo  m-r-xs  m-b-xs font-12  " ng-click="openGenericCreateEditMasterModal(null, 'New');"><i class="material-icons">  add_circle_outline </i> Create new</a>
 
                <button type="button" class="btn btn-danger btn-sm btn-icon loading-demo    m-b-xs font-12" ng-click="closeGenericMasterModal();"><i class="material-icons">  close </i>Close</button>
            </div>
        </div>
    </div>
</div>