﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl"  >
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal" name="multiValueMasterPopupForm" novalidate>
                <div class="modal-header bg-primary">
                        <button type="button"  ng-click="$hide()" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">
                        <span>Lookup for {{genericLookUpType}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-block">

                            <div class="row">
                                <form class="search-form">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon bg-primary">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <input class="form-control form-control-sm bg-white" type="text"
                                               placeholder="Search" ng-focus="main.focusOn()" onkeydown="singlespace(this)" ng-blur="main.focusOff()"
                                               autofocus="true" ng-model="genericLookupFilter.$" maxlength="25">
                                    </div>
                                    <br>
                                </form>
                            </div>
                            
                            <div class="row">
                                <div class="table-responsive scroll slimScroll">
                                    <table ng-table="tableMultiValueParams"
                                        class="table table-hover table-sm  table-bordered">
                                        <caption></caption>
                                        <tr ng-repeat="lookup in slicedGenericLookupList">
                                             <td  header-class="'bg-primary'" header="'ng-table/headers/checkbox.html'"
                                                class="text-xs-center">
                                                <input type="checkbox" ng-model="checkboxes.items[lookup.Id]" />
                                            </td> 

                                            <td data-title="'Lookup Value'" header-class="'bg-primary'"
                                                filter="{ 'Name': 'text'}" data-sortable="'Name'" ng-bind="lookup.Name"
                                                style="max-width: 40px; overflow: hidden; text-overflow: ellipsis;"
                                                title="Click to select" ng-click="SetModalValue(lookup);"></td>

                                            <td ng-if="genericLookUpType != 'Visa Type'"
                                                data-title="'Lookup Description'" header-class="'bg-primary'"
                                                filter="{ 'Description': 'text'}" data-sortable="'Description'"
                                                ng-bind="lookup.Description"
                                                style="max-width: 40px; overflow: hidden; text-overflow: ellipsis;"
                                                title="Click to select" ng-click="SetModalValue(lookup);"></td>

                                            <td data-title="'Action'" header-class="'bg-primary'">
                                               

                                                <button  ng-click="openGenericCreateEditMasterModal(lookup, 'Edit');" type="button" class="btn btn-outline-primary btn-sm loading-demo font-12 mb-0" data-toggle="tooltip" title="" data-original-title="Edit details"> <i class="fa fa-pencil"></i> </button>
                                                <button ng-click="openGenericCreateEditMasterModal(lookup, 'Delete');" type="button" class="btn btn-outline-danger btn-sm loading-demo font-12 mb-0" data-toggle="tooltip" title="" data-original-title="Delete details"> <i class="fa fa-trash-o"></i> </button>
        
                                                 
                                            </td>
                                        </tr>

                                    </table>
                                    
                                        <button type="button" class="pull-right btn btn-sm small btn-primary btn-sm"
                                            ng-click="genericMasterMultiData('Multiple',genericLookUpType);"
                                            ng-disabled="slicedGenericLookupList.length == 0">
                                            Save Changes
                                        </button>
                                     

                                    <div ng-if="slicedGenericLookupList.length == 0" class="no-contacts layout-column">
                                        <h5 class="text-shadow text-muted text-xs-center">
                                            No lookup value present.
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"> 
                        <button class="btn btn-primary  btn-sm btn-icon loading-demo  m-r-xs  m-b-xs font-12  " ng-click="openGenericCreateEditMasterModal(null, 'New');" ><i class="material-icons">  add_circle_outline </i> Create new</a>

                            <button type="button" class="btn btn-danger btn-sm btn-icon loading-demo    m-b-xs font-12" ng-click="closeGenericMasterMultiValueModal();"><i class="material-icons">  close </i>Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
</script>