﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal" name="genericCreateEditLookupPopupForm" novalidate>
                <div class="modal-header bg-primary">
                        <button type="button"  ng-click="$hide()" class="close" data-dismiss="modal">×</button>
                    
                    <h4 class="modal-title">
                        <span>{{genericLookupEvent}} Lookup </span>
                    </h4>
                </div>

                <div class="modal-body">

                    <div class="card">
                        <div class="card-block">


                            <div class="row">
                                <div ng-class="genericLookUpType == 'Visa Type'? 'col-sm-12' : 'col-sm-6'">
                                    <fieldset class="form-group">
                                        <legend></legend>
                                        <label>Value<span class="bold text-red">*</span></label>
                                        <input type="hidden" ng-model="genericLookup.Id" class="form-control form-control-sm"
                                            id="lookupId"  />
                                        <input type="text" onkeydown="singlespace(this)" class="form-control form-control-sm" id="lookupValue"
                                               placeholder="Lookup Value" name="lookupValue" ng-model="genericLookup.Name"
                                               validation="required|min_len:2|max_len:200" />
                                    </fieldset>
                                </div>
                                <div class="col-sm-6" ng-if="genericLookUpType != 'Visa Type'">
                                    <fieldset class="form-group">
                                        <legend></legend>
                                        <label>Description</label>
                                        <input type="text" onkeydown="singlespace(this)" class="form-control form-control-sm" id="lookupDescritpion"
                                               placeholder="Lookup Description" name="lookupDescritpion"
                                               ng-model="genericLookup.Description" validation="min_len:2|max_len:200" />
                                    </fieldset>
                                </div>
                                <span ng-show="duplicateLookupName">
                                    <i class="fa fa-info-circle text-muted">
                                        <span class="text-muted">
                                            Lookup Value is already present. Please select different Lookup Value.
                                        </span>
                                    </i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-primary  btn-sm btn-icon loading-demo  m-r-xs  m-b-xs font-12  "
                        ng-click="duplicateCheckNSaveLookUp(genericCreateEditLookupPopupForm,genericLookup.Name);"><i
                            class="material-icons"> check </i> Save</a>
                        <button type="button" class="btn btn-danger btn-sm btn-icon loading-demo    m-b-xs font-12"
                            ng-click="closeGenericCreateEditMasterModal();"><i class="material-icons"> close
                            </i>Close</button>



                </div>
            </form>
        </div>
    </div>
</div>