<div ng-init="openrequirementPreviewModal();" class="modal sidebar-modal chat-panel" tabindex="-1" role="dialog" ng-controller="ModalCtrl" id="Submit-candidate-modal" aria-labelledby="chat-panel">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="chat-header">
                <a class="pull-right" href="javascript:;" data-dismiss="modal" ng-click="closerequirementActivityPreviewModal()"><i class="material-icons">close</i></a>
                <div class="chat-header-title">
                  <h5>Preview </h5>
                </div>
            </div>
            <div class="modal-body flex scroll-y">
                <div class="container-fluid">

                    <div class="tab-content">

                        <div class="tab-pane active" id="activity" role="tabpanel" aria-expanded="true">
                                <div class="row">
                                    
                                        <h5>Requirement</h5>
                                        <label>Requirement Title-</label>
                                        <label id="reqTitle"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label >Internal Job Title-</label>
                                        <label id ="internalTitle"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Company-</label>
                                        <label id="Company"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Company Contact-</label>
                                        <label id="cmpContact"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>External Requirement Id-</label>
                                        <label id="extReq"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Requirement Type-</label>
                                        <label id="reqType"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Assigned Recruiter-</label>
                                        <label id="assignRec"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Description-</label>
                                        <label id="Desc"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <h5>Rates</h5>
                                        <label>Client Rate-</label>
                                        <label id="clientRate"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Client Rate Type-</label>
                                        <label id="clientRateType"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Pay Rate-</label>
                                        <label id="payRate"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Pay Rate Type-</label>
                                        <label id="payRateType"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Min. Salary-</label>
                                        <label id="minSal"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Max. Salary-</label>
                                        <label id="maxSal"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Margin-</label>
                                        <label id="margin"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Fee %-</label>
                                        <label id="previewfee"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Per Diem-</label>
                                        <label id="perDiem"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <h5>Location</h5>
                                        <label>Country-</label>
                                        <label id="country"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>State-</label>
                                        <label id="state"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>City-</label>
                                        <label id="city"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Zip Code-</label>
                                        <label id="zip"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Job Location-</label>
                                        <label id="jobLoc"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>VISA Type-</label>
                                        <label id="visaType"></label> 
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Status-</label>
                                        <label id="status"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Openings-</label>
                                        <label id="opening"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Duration-</label>
                                        <label id="duration1"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Requirement Open Date-</label>
                                        <label id="reqOpenDate"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Requirement Close Date-</label>
                                        <label id="reqCloseDate"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Position Expiry Date-</label>
                                        <label id="positionExpDate"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <h5>Skills</h5>
                                        <label>Communication Skills-</label>
                                        <label id="commSkills"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Degree-</label>
                                        <label id="degree"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Weekly Hours-</label>
                                        <label id="weekHrs"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Total Hours-</label>
                                        <label id="totalHrs"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Business Unit-</label>
                                        <label id="bussUnit"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Security Clearance-</label>
                                        <label id="secClr"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Quick Notes-</label>
                                        <label id="qckNotes"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Technical Skills-</label>
                                        <label id="techSkills"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <h6>Total Experience</h6>
                                        <label>Min. Experience (yrs.)-</label>
                                        <label id="tminExp"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Max. Experience (yrs.)-</label>
                                        <label id="tmaxExp"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <h6>US Experience</h6>
                                        <label>Min. Experience (yrs.)-</label>
                                        <label id="uminExp"></label>
                                    
                                </div>
                                <div class="row">
                                    
                                        <label>Max. Experience (yrs.)-</label>
                                        <label id="umaxExp"></label>
                                    
                                </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var jobTitle = $('#lookupJobTitle').val();
        var InternalJobTitle = $('#InternalJobTitle').val();
        var Company = $('#companyId option:selected').text();
        var CompanyContact = $('#companyContactId option:selected').text();
        var ExternalRequirementId = $('#ExternalRequirementId').val();
        var RequirementType = $('#JobType').val();
        var AssignedRecruiter = $('#organizationUser option:selected').text();
        var Description = $('#jobDescription').val();
        var ClientRate = $('#ClientRate').val();
        var ClientRateType = $('#example_username').val();
        var PayRate = $('#PayRate').val();
        var PayRateType = $('#exampleInputPassword1').val();
        var MinSalary = $('#minsalExample').val();
        var MaxSalary = $('#maxsalExample').val();
        var Margin = $('#example_margin').val();
        var Fee = $('#fee').val();
        var PerDiem = $('#PerDiem').val();
        var Country = $('#CountryId option:selected').text();
        var State = $('#StateId option:selected').text();
        var City = $('#CityId option:selected').text();
        var ZipCode = $('#ZipCode').val();
        var JobLocation = $('#location').val();
        var LookVisaType = $('#lookupVisaType option:selected').val();
        var Status = $('#jobStatus option:selected').text();
        var Openings = $('#totalPositions').val();
        var Duration = $('#duration').val();
      var RequirementOpenDate = $('#RequirementOpenedDate').val();
      var RequirementCloseDate = $('#RequirementClosedDate').val();
        var PositionExpiryDate = $('#positionexpiry').val();
        var CommunicationSkills = $('#CommunicationSkills').val();
        var Degree = $('#lookupDegree').val();
        var WeeklyHours = $('#WeeklyHours').val();
        var TotalHours = $('#TotalHours').val();
        var BusinessUnit = $('#lookupBusinessUnit').val();
        var SecurityClearance = $('#SecurityClearance').val();
        var QuickNotes = $('#QuickNotes').val();
        var TechnicalSkills = $('#SkillList').val();
        var TexperienceInYear = $('#experienceInYear').val();
        var TexperienceInMonth = $('#experienceInMonth').val();
        var usExperienceInYear = $('#usExperienceInYear').val();
        var usExperienceInMonth = $('#usExperienceInMonth').val();
        document.getElementById('reqTitle').innerHTML = jobTitle;      
        document.getElementById('internalTitle').innerHTML = InternalJobTitle;
        document.getElementById('Company').innerHTML = Company;
        document.getElementById('cmpContact').innerHTML = CompanyContact;
        document.getElementById('reqType').innerHTML = RequirementType;
        document.getElementById('extReq').innerHTML = ExternalRequirementId;
        document.getElementById('assignRec').innerHTML = AssignedRecruiter;
        document.getElementById('Desc').innerHTML = Description;
        document.getElementById('clientRate').innerHTML = ClientRate;    
        document.getElementById('clientRateType').innerHTML = ClientRateType;
        document.getElementById('payRate').innerHTML = PayRate;
        document.getElementById('payRateType').innerHTML = PayRateType;
        document.getElementById('minSal').innerHTML = MinSalary;
        document.getElementById('maxSal').innerHTML = MaxSalary;         
        document.getElementById('margin').innerHTML = Margin;
        document.getElementById('previewfee').innerHTML = Fee;
        document.getElementById('perDiem').innerHTML = PerDiem;
        document.getElementById('country').innerHTML = Country;
        document.getElementById('state').innerHTML = State;
        document.getElementById('city').innerHTML = City;
        document.getElementById('zip').innerHTML = ZipCode;
        document.getElementById('jobLoc').innerHTML = JobLocation;
        document.getElementById('visaType').innerHTML = LookVisaType;     
        document.getElementById('status').innerHTML = Status;
        document.getElementById('opening').innerHTML = Openings;
        document.getElementById('duration1').innerHTML = Duration;
        document.getElementById('reqOpenDate').innerHTML = RequirementOpenDate;
        document.getElementById('reqCloseDate').innerHTML = RequirementCloseDate;
        document.getElementById('positionExpDate').innerHTML = PositionExpiryDate;      
        document.getElementById('commSkills').innerHTML = CommunicationSkills;
        document.getElementById('degree').innerHTML = Degree;
        document.getElementById('weekHrs').innerHTML = WeeklyHours;
        document.getElementById('totalHrs').innerHTML = TotalHours;
        document.getElementById('bussUnit').innerHTML = BusinessUnit;
        document.getElementById('secClr').innerHTML = SecurityClearance;
        document.getElementById('techSkills').innerHTML = TechnicalSkills; 
        document.getElementById('qckNotes').innerHTML = QuickNotes;
        document.getElementById('tminExp').innerHTML = TexperienceInYear;
        document.getElementById('tmaxExp').innerHTML = TexperienceInMonth;
        document.getElementById('uminExp').innerHTML = usExperienceInYear;
        document.getElementById('umaxExp').innerHTML = usExperienceInMonth;
    });
</script>

