﻿<div ng-controller="SubmissionCtrl" class="modal sidebar-modal  chat-panel" id="Requirement-details-modal" tabindex="-1" role="dialog" aria-labelledby="chat-panel">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="chat-header">
                <a class="pull-right" ng-click="closeRequirementDetailModal(false)" href="javascript:;" data-dismiss="modal">
                    <i class="material-icons">close</i>
                </a>
                <div class="chat-header-title">
                    <h5>{{common.requirementModel.JobTitle}} </h5>
                </div>
            </div>
            <div class="modal-body flex scroll-y">
                <div class="container-fluid">

                    <div class="tab-content">
                        <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">assignment</i>Requirement Details</div>

                        <div class="row card-block p-l-0">
                            <div class="col-md-12">

                                <div class="col-md-6 p-0">
                                    <div class="col-md-6 p-0 f-w-600">
                                        <div>Open Date</div>
                                        <div>Close Date</div>
                                    </div>
                                    <div class="col-md-6 p-0">
                                        <div>{{common.requirementModel.JobPostedDate ? common.requirementModel.JobPostedDate : '-'}}</div>

                                        <div>{{common.requirementModel.JobClosedDate ? common.requirementModel.JobClosedDate : '-'}}</div>
                                    </div>
                                </div>
                                <div class="col-md-6 p-0">
                                    <div class="col-md-6 p-0 f-w-600">
                                        <div>Status</div>
                                        <div>Type</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>{{common.requirementModel.JobStatus ? common.requirementModel.JobStatus : '-'}}</div>

                                        <div>{{common.requirementModel.JobType ? common.requirementModel.JobType : '-'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">edit</i>Requirement Description</div>
                        <div class="row card-block p-l-0">
                            <div class="col-md-12">
                                <div class="disp-block">
                                    <div class="card-block internal-div-height-overflow">
                                        <div class="table-responsive scroll slimScroll">
                                            <p ng-if="common.requirementModel.JobDescription" ng-bind-html="TrustAsHTML(common.requirementModel.JobDescription)"> </p>
                                            <p ng-if="!common.requirementModel.JobDescription">-</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>






                        <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">business </i>Company Detail</div>

                        <div class="row card-block p-l-0">
                            <div class="col-md-12">
                                <div class="col-md-4 p-0 f-w-600">
                                    Contact Email
                                </div>
                                <div class="col-md-8 p-0">
                                    {{common.requirementModel.CompanyContactName ? common.requirementModel.CompanyContactName : '-'}}
                                </div>
                                <div class="col-md-4 p-0 f-w-600">
                                    Ext. Req. Id
                                </div>
                                <div class="col-md-3 p-0">
                                    {{common.requirementModel.RequisitionId ? common.requirementModel.RequisitionId : '-'}}
                                </div>
                                <div class="col-md-3 p-0 f-w-600">
                                    Openings
                                </div>
                                <div class="col-md-2 p-0">
                                    {{common.requirementModel.TotalPositions ? common.requirementModel.TotalPositions : '-'}}
                                </div>
                                <div class="col-md-4 p-0 f-w-600">
                                    City
                                </div>
                                <div class="col-md-8 p-0">
                                    {{common.requirementModel.City ? common.requirementModel.City : '-'}}
                                </div>
                            </div>



                        </div>

                        <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">access_time  </i>Duration</div>

                        <div class="row card-block p-l-0">
                            <div class="col-md-12">

                                <div class="col-md-6 p-0">
                                    <div class="col-md-6 p-0 f-w-600">
                                        <div>Duration</div>
                                        <div>Weekly</div>
                                    </div>
                                    <div class="col-md-6 p-0">
                                        <div>{{common.requirementModel.Duration ? common.requirementModel.Duration : '-'}}</div>

                                        <div>{{common.requirementModel.WeeklyHours ? common.requirementModel.WeeklyHours : '-'}}</div>
                                    </div>
                                </div>
                                <div class="col-md-6 p-0">
                                    <div class="col-md-6 p-0 f-w-600">
                                        <div>Position Expiry</div>
                                        <div>Total</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>{{ common.requirementModel.JobExpiryDate ? common.requirementModel.JobExpiryDate : '-' | date:'MM-dd-yyyy' }}</div>

                                        <div>{{common.requirementModel.TotalHours ? common.requirementModel.TotalHours : '-'}}</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">access_time  </i>Experiance</div>

                        <div class="row card-block p-l-0">
                            <div class="col-md-12">

                                <div class="col-md-6 p-0">
                                    <div class="col-md-6 p-0 f-w-600">
                                        <div>Total Exp</div>

                                    </div>
                                    <div class="col-md-6 p-0">

                                        <div ng-if="common.requirementModel.ExperienceInYear!=null" ng-bind-template="{{common.requirementModel.ExperienceInYear}} - {{common.requirementModel.ExperienceInMonth}} years"></div>
                                        <div ng-if="common.requirementModel.ExperienceInYear==null" ng-bind-template="-"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 p-0">
                                    <div class="col-md-6 p-0 f-w-600">
                                        <div>US Exp</div>

                                    </div>
                                    <div class="col-md-6">
                                        <div ng-if="common.requirementModel.USExperienceInYear!=null" ng-bind-template="{{common.requirementModel.USExperienceInYear}} - {{common.requirementModel.USExperienceInMonth}} years"></div>
                                        <div ng-if="common.requirementModel.USExperienceInYear==null" ng-bind-template="-"></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">people   </i>Assigned Recruter(s)</div>

                        <div class="row card-block p-l-0">
                            <div class="col-sm-6 p-b-3px" ng-repeat="assignedRecruiters	in common.requirementModel.OrganizationUser">

                                <a> <span class="badge_large bg-primary bg-grey-dark">{{assignedRecruiters.Name ? assignedRecruiters.Name : '-'}}</span></a>

                            </div>
                        </div>

                        <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">people   </i>Associated Candidate(s)</div>

                        <div class="row card-block p-l-0">
                            <div class="col-sm-6 p-b-3px" ng-repeat="associatedCandidate in common.requirementModel.AssociateCandidate">

                                <a ng-click="ShowAssociatedCandidateProfile(associatedCandidate.Id);" href "> <span class="badge_large bg-primary bg-grey-dark ">{{associatedCandidate.Name ? associatedCandidate.Name : '-'}}</span></a>

                        </div>
                    </div>

                    <div class="card-header f-w-500 "><i class="material-icons font-21 m-r-xs color-dark-gray " aria-hidden="true ">people   </i>Applied Candidate(s)</div>

                    <div class="row card-block p-l-0 ">


                        <div class="col-sm-6 p-b-3px " ng-repeat="appliedCandidate in common.appliedCandidateList ">
                            <span ng-if="!common.appliedCandidateList.length "> - </span>
                            <a href ng-click="showAppliedCandidates_click(appliedCandidate._id); "> <span class="badge_large bg-primary bg-grey-dark ">{{appliedCandidate.FirstName + " " + appliedCandidate.LastName}}</span></a>

                        </div>
                    </div>

                    <div class="card-header f-w-500 "><i class="material-icons font-21 m-r-xs color-dark-gray " aria-hidden="true ">school    </i>Degree</div>

                    <div class="row card-block p-l-0 ">
                        <div class="col-md-12 ">
                            <ul class="list-inline ">
                                <li class="list-inline-item ">
                                    <span ng-if="!common.requirementModel.DegreeNameList "> - </span>
                                    <span ng-repeat-start="degree in common.requirementModel.DegreeNameList " ng-if="$index< common.requirementModel.DegreeNameList.length- 1 ">{{degree}}, </span>
                                    <span ng-repeat-end ng-if="common.requirementModel.DegreeNameList.length-1===$ index ">{{degree}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-header f-w-500 "><i class="material-icons font-21 m-r-xs color-dark-gray " aria-hidden="true ">school    </i>Skills</div>

                    <div class="row card-block p-l-0 ">
                        <div class="col-md-12 ">

                            <p ng-if="common.requirementModel.SkillList ">
                                <span ng-repeat="skill in common.requirementModel.SkillList track by $index ">
                                    <span class="badge bg-grey ">{{skill}}</span>
                                </span>
                            </p>
                        </div>
                    </div>

                    <!-- <div class="card-header f-w-500 "><i class="material-icons font-21 m-r-xs color-dark-gray " aria-hidden="true ">assignment     </i>Certification</div>

                    <div class="row card-block p-l-0 ">
                        <div class="col-md-12 ">
                            Bachelor of Computer Science, Bachelor of Engineering
                        </div>
                    </div> -->

                    <div class="card-header f-w-500 "><i class="material-icons font-21 m-r-xs color-dark-gray " aria-hidden="true ">attach_money     </i>Rate Detail</div>

                    <div class="row card-block p-l-0 ">
                        <div class="col-md-12 ">

                            <div class="col-md-6 p-0 ">
                                <div class="col-md-6 p-0 f-w-600 ">
                                    <div> Unit </div>
                                    <div>Per Diem</div>
                                    <div>Margin</div>

                                </div>
                                <div class="col-md-6 p-0 ">
                                    <div>{{common.requirementModel.BusinessUnitName ? common.requirementModel.BusinessUnitName : '-' }}</div>
                                    <div>{{ common.requirementModel.PerDiem ? common.requirementModel.PerDiem : '-'}}</div>
                                    <div>${{common.requirementModel.Margin ? common.requirementModel.Margin : '-'}}</div>

                                </div>
                            </div>
                            <div class="col-md-6 p-0 ">
                                <div class="col-md-6 p-0 f-w-600 ">
                                    <div>Client Rate</div>
                                    <div> Rate Type</div>
                                    <div>Fee %</div>
                                </div>
                                <div class="col-md-6 p-0 ">
                                    <div>${{common.requirementModel.ClientRate ? common.requirementModel.ClientRate : '-'}}</div>
                                    <div>{{common.requirementModel.ClientRateType ? common.requirementModel.ClientRateType : '-'}} </div>
                                    <div>{{common.requirementModel.ClientRateType ? common.requirementModel.FeePercent : '-'}}</div>
                                </div>
                            </div>
                            <div class="col-md-6 p-0 ">
                                <div class="col-md-6 p-0 f-w-600 ">
                                    <div>Pay Rate</div>
                                    <div>Pay Rate Type</div>
                                    <div>Salary $</div>

                                </div>
                                <div class="col-md-6 p-0 ">
                                    <div>${{common.requirementModel.PayRate ? common.requirementModel.PayRate : '-'}}</div>
                                    <div>{{common.requirementModel.PayRateType ? common.requirementModel.PayRateType : '-'}}</div>
                                    <div>{{common.requirementModel.MinSalary ? common.requirementModel.MinSalary : '-'}} - {{common.requirementModel.MaxSalary ? common.requirementModel.MaxSalary : '-'}}</div>
                                </div>
                            </div>

                        </div>
                    </div>



                    <div id="four145c0a4e4-b29b-477c-84e5-635ca2a6a08a " class="tab-pane active " role="tabpanel " aria-expanded="true ">
                        <div class="row card-block p-l-0 ">
                            <div class="col-md-12 ">
                                <div class="col-md-6 col-sm-6 p-0 f-w-600 ">
                                    <div>Communication</div>
                                </div>
                                <div class="col-md-6 col-sm-6 p-0 ">
                                    <div>{{common.requirementModel.CommunicationSkills}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12 p-0 ">
                                <br>
                                <div class="card disp-block ">
                                    <div class="card-header f-w-500 "><i class="material-icons font-21 m-r-xs color-dark-gray " aria-hidden="true ">security </i>{{common.requirementModel.SecurityClearance}}</div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
</div>