<div ng-init="requirementShareModal();" class="modal chat-panel" tabindex="-1" role="dialog" ng-controller="ModalCtrl" id="Submit-candidate-modal" aria-labelledby="chat-panel">
  <div class="modal-backdrop fade in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="chat-header">
        <a class="pull-right" href="javascript:;" data-dismiss="modal" ng-click="closerequirementShareModal()"><i class="material-icons">close</i></a>
        <div class="chat-header-title">
          <h5>Share </h5>
        </div>
      </div>
      <div class="modal-body flex scroll-y">
        <div class="container-fluid">

          <div class="tab-content">

            <div class="tab-pane active" id="activity" role="tabpanel" aria-expanded="true">

              <a href="http://www.xseed.com/index.html/#/reqdetail?reqid=req-12312" id="socialLink" title="[MESSAGE]" class="_hs_socialshare">Share</a>
              <button type="button" class="btn btn-default" style="color:Highlight" ng-click="telegramSend()"><i class="fa fa-send" style="color:Highlight"></i> Telegram</button>
              <button type="button" class="btn btn-default" style="color:Highlight" ng-click="requirementFacebookModal()"> Facebook</button>
              <button type="button" class="btn btn-default" style="color:Highlight" ng-click="requirementWhatsAppModal()"> Whatsapp</button>
              <br />
              <br />
              <button type="button" class="btn btn-default" style="color:Highlight" ng-click="requirementLinkedinModal()"> LinkedIn</button>
              <br />
              <br />
              <textarea rows="12" class="form-control" id="reqDetails">
                          
                        </textarea>
              <a href="#" id="cpyText" class="text-blue" onclick="copy()"><i class="fa fa-copy" style="color:Highlight"></i> Copy</a> content for sharing to social media.


            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function copy() {
    var copyText = document.getElementById("reqDetails");
    copyText.select();
    copyText.setSelectionRange(0, 99999)
    document.execCommand("copy");
    alert("Copy to clipboard!!");
  }
</script>

