<div ng-init="requirementPostingModal();" class="modal chat-panel" tabindex="-1" role="dialog" ng-controller="ModalCtrl" id="Submit-candidate-modal" aria-labelledby="chat-panel">
  <div class="modal-backdrop fade in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="chat-header">
        <a class="pull-right" href="javascript:;" data-dismiss="modal" ng-click="closerequirementPostingModal()"><i class="material-icons">close</i></a>
        <div class="chat-header-title">
          <h5>Share </h5>
        </div>
      </div>
      <div class="modal-body flex scroll-y">
        <div class="container-fluid">

          <div class="tab-content">

            <div class="tab-pane active" id="activity" role="tabpanel" aria-expanded="true">

              <a class="btn btn-default" style="color:Highlight" href="https://www.linkedin.com/talent/post-a-job" target="_blank"> LinkedIn</a>
              <a class="btn btn-default" style="color:Highlight" href="https://www.indeed.com/hire/post-job" target="_blank"> Indeed</a>
                <a class="btn btn-default" style="color:Highlight" href="https://hiring.careerbuilder.com/post-jobs" target="_blank"> Career Builder</a>
                <a class="btn btn-default" style="color:Highlight" href="https://www.dice.com/employer/post-a-job" target="_blank"> Dice</a>
              <br />
              <br />
            </div>
            <div class="tab-pane active" id="activity" role="tabpanel" aria-expanded="true">
                <a class="btn btn-default" style="color:Highlight" href="https://www.naukri.com/recruit/job-posting" target="_blank"> Naukri</a>
              <br />
              <br />
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function copy() {
    var copyText = document.getElementById("reqDetails");
    copyText.select();
    copyText.setSelectionRange(0, 99999)
    document.execCommand("copy");
    alert("Copy to clipboard!!");
  }
</script>

