﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal" name="candidatesToSubmitForm" novalidate>
                <div class="modal-header p-a-xs bg-primary-lighter">
                    <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <div class="row">
                        <h4 class="modal-title">
                            Resume
                        </h4>
                    </div>
                </div>
                <div class="modal-body p-a-1">
                    <div class="row">
                        <div class="col-sm-12">
                            <!--{{resumeLink|json}}-->
                            <iframe name="cctsl_frame" title="" id="cctsl_frame" ng-src="{{trustSrc(resumeLink)}}" style="width:100%;border:0px;min-height:500px;"></iframe>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>