<div class="modal  sidebar-modal  social-panel" tabindex="-1" role="dialog" aria-labelledby="chat-panel">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="social-header">
                <a class="pull-right" href="javascript:;" ng-click="ResumeBlasterDetailViewClose()" data-dismiss="modal"><i
                                        class="material-icons">close</i>
                                    </a>
                <div class="social-header-title">
                    <h5> {{ResumeBlasterModel.Company }} </h5>
                </div>
            </div>
            <div class="modal-body flex scroll-y">
                <div class="container-fluid">

                    <div class="tab-content">
                        <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">account_circle </i>Recruiter Name</div>
                        <div class="row card-block p-l-0">
                            <div class="col-md-12">
                                {{ResumeBlasterModel.RecruiterName ? ResumeBlasterModel.RecruiterName : '-'}}
                            </div>
                        </div>

                        <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">business </i>Company Name</div>
                        <div class="row card-block p-l-0">
                            <div class="col-md-12">
                                {{ResumeBlasterModel.Company ? ResumeBlasterModel.Company : '-' }}
                                <p class="email-attachment-overflow"> <a target="_blank" href=" {{ResumeBlasterModel.Website }}" class="text-primary"> {{ResumeBlasterModel.Website }}</a> </p>
                            </div>
                        </div>

                        <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">email </i>Primary Email</div>
                        <div class="row card-block p-l-0">
                            <div class="col-md-12">
                                {{ResumeBlasterModel.PrimaryEmail ? ResumeBlasterModel.PrimaryEmail:'-' }}
                            </div>
                        </div>

                        <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">contact_phone </i>Mobile</div>
                        <div class="row card-block p-l-0">
                            <div class="col-md-12">
                                {{ResumeBlasterModel.Mobile ? ResumeBlasterModel.Mobile : '-'| ContactFilter }}
                            </div>
                        </div>

                        <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">home </i>Home Phone</div>
                        <div class="row card-block p-l-0">
                            <div class="col-md-12">
                                {{ResumeBlasterModel.Phone ? ResumeBlasterModel.Phone : '-'| ContactFilter }}
                            </div>
                        </div>

                        <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">location_on </i>Address</div>
                        <div class="row card-block p-l-0">
                            <div class="col-md-12">
                                {{ResumeBlasterModel.Address ? ResumeBlasterModel.Address : '-' }}
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>