﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl" id="Submit-candidate-modal">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="closeCandidateSearchModal()">&times;</button>
                <h4 class="modal-title">
                    <i class="material-icons font-36 m-r-xs" aria-hidden="true">people </i> Submit Candidate(s)

                </h4>
                <p class="m-b-0 m-l-40"> {{common.selectedJob.JobTitle}} - {{common.selectedJob.RequisitionId}}</p>

            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">


                        <input id="txt-search" class="form-control form-control-sm full-width-100" type="text" placeholder="Search by: Candidate Id, Name, Email, Contact, Created By" ng-model="common.advanceSearchModel.SearchExact" ng-enter="getAdvanceSearchedCandidateList()">



                    </div>
                    <div class="col-md-4 left-buttons">
                        <button type="button" class="btn btn-primary  btn-sm btn-icon  loading-demo    font-12 " ng-disabled="!common.advanceSearchModel.SearchExact" ng-click="getAdvanceSearchedCandidateList()"><i class="material-icons"> search</i><span>Search</span></button>
                        <button type="button" class="btn btn-primary  btn-sm btn-icon loading-demo m-r-xs   font-12 " ng-click="resetCandidateAdvanceSearch();" ng-disabled="!candidateAdvanceSearchFlag"><i class="material-icons"> refresh</i><span>Refresh list</span></button>

                    </div>


                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card-block-outer  ">

                            <div class="no-more-tables dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                <table ng-table="common.tblCandidateList" class="dataTable card table table-responsive dragscroll">
                                    <caption></caption>
                                    <thead>
                                        <tr class="card">

                                            <th scope="col">
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox"
                                                           class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>

                                                </label>
                                            </th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Candidate ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Mobile No</th>
                                            <th scope="col">Home phone</th>
                                            <th scope="col">Work phone</th>
                                            <th scope="col">Company name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Profile title</th>
                                            <th scope="col">Skills</th>
                                            <th scope="col">Total Exp</th>
                                            <th scope="col">US Exp</th>
                                            <th scope="col">SSN</th>
                                            <th scope="col">Categories</th>
                                            <th scope="col">Groups</th>
                                            <th scope="col">Created by</th>
                                            <th scope="col">Modified by</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="card" ng-repeat="candidate in common.candidateList" repeat-end="InitDragScroll()">
                                            <td>
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" ng-model="checkboxes.items[candidate._id]"
                                                           class="custom-control-input" name="chkOrgRow">
                                                    <span class="custom-control-indicator"></span>
                                                </label>
                                            </td>

                                            <td data-title="Status">
                                                <span class="badge bg-danger font-11" ng-if="candidate.Status== 'Active'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                                <span class="badge bg-primary font-11" ng-if="candidate.Status== 'DNC'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                                <span class="badge bg-success font-11" ng-if="candidate.Status== 'New'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                                <span class="badge bg-info font-11" ng-if="candidate.Status== 'Not Looking'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                                <span class="badge bg-default font-11" ng-if="candidate.Status== 'Passive'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                                <span class="badge bg-info font-11" ng-if="candidate.Status== 'Placed'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                                <span class="badge bg-default font-11" ng-if="candidate.Status== 'Unresponsive'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                                <span ng-if="candidate.Status=== null"></span>
                                            </td>
                                            <td data-title="Candidate ID" ng-bind="candidate.CandidateId"></td>
                                            <td data-title="Name" ng-bind="candidate.FullName" ng-init="candidate.FullName= getCandidateFullName(candidate.Title, candidate.FirstName, candidate.MiddleName, candidate.LastName)" ng-attr-title="{{candidate.FullName}}"></td>
                                            <td data-title="Mobile No" ng-bind="candidate.Mobile"></td>
                                            <td data-title="Home phone" ng-bind="candidate.Phone"></td>
                                            <td data-title="Work phone" ng-bind="candidate.WorkPhone"></td>
                                            <td data-title="Company name" ng-bind="candidate.CompanyName" ng-attr-title="{{candidate.CompanyName}}"></td>
                                            <td data-title="Email" ng-bind="candidate.PrimaryEmail" ng-attr-title="{{candidate.PrimaryEmail}}"></td>
                                            <td data-title="Profile title" ng-bind="candidate.ProfileTitle" ng-attr-title="{{candidate.ProfileTitle}}"></td>
                                            <td data-title="Skills" title="Skills" data-placement="top" data-trigger="hover" data-toggle="popover"></td>
                                            <td data-title="'Total Exp'" data-sortable="'ExperienceInYear'" header-class="'bg-primary'" class="text-xs-center">
                                                <span ng-bind="candidate.ExperienceInYear"></span>
                                                <span ng-if="candidate.ExperienceInMonth != null && candidate.ExperienceInMonth >= 0">.</span>
                                                <span ng-bind="candidate.ExperienceInMonth"></span>
                                            </td>
                                            <td data-title="'US Exp'" data-sortable="'USExperienceInYear'" header-class="'bg-primary'" class="text-xs-center">
                                                <span ng-bind="candidate.USExperienceInYear"></span>
                                                <span ng-if="candidate.USExperienceInMonth != null && candidate.USExperienceInMonth >= 0">.</span>
                                                <span ng-bind="candidate.USExperienceInMonth"></span>
                                            </td>


                                            <td data-title="'SSN'" data-sortable="'SSN'" header-class="'bg-primary'" ng-bind="candidate.SSN"></td>
                                            <td data-title="'Categories'" data-sortable="'Categories'" header-class="'bg-primary'" ng-bind="candidate.Categories"></td>
                                            <td data-title="'Groups'" data-sortable="'Groups'" header-class="'bg-primary'" ng-bind="candidate.Groups"></td>
                                            <td data-title="'Created By'" data-sortable="'CreatedByName'" header-class="'bg-primary'" ng-bind="candidate.CreatedByName" ng-attr-title="{{candidate.CreatedByName}}"></td>
                                            <td data-title="'Created Date'" data-sortable="'CreatedOn'" header-class="'bg-primary'" ng-bind="candidate.CreatedOn| date: MM/dd/yyyy" ng-attr-title="{{candidate.CreatedOn| date: MM/dd/yyyy}}"></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>



                        </div>
                    </div>
                </div>


            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button ng-if="userDetails.Submission_Create == 'True'" ng-click="openCandidateSubmissionModal('Multiple');" ng-disabled="checkedCount== 0" type="button" class="btn btn-primary  btn-sm btn-icon loading-demo m-r-xs   font-12 "><i class="material-icons"> check</i><span>Submit</span></button>
                <button type="button" class="btn btn-danger btn-icon loading-demo btn-sm font-12" data-dismiss="modal" ng-click="closeCandidateSearchModal()"><i class="material-icons"> close</i><span>Cancel</span></button>
            </div>

        </div>
    </div>
</div>


<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
</script>



<script id="uib/template/tabs/tab.html" type="text/ng-template">
    <li class="nav-item">
        <a href class="nav-link" ng-click="select()" uib-tab-heading-transclude ng-class="{active: active
, disabled: disabled}">{{heading}}</a>
    </li>
</script>
<script>
    $('input[name="chkOrgRow"]').on('change', function() {
        $(this).closest('tr').toggleClass('bg-grey-light', $(this).is(':checked'));
    });
</script>