﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal" name="submissionByEmailForm" novalidate>
                <div class="modal-header">

                    <button type="button" ng-click="$hide()" class="close" data-dismiss="modal">×</button>
                    <h5 class="modal-title">Would you like to submit candidate to Company?</h5>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <fieldset class="col-sm-12" ng-hide="isSubmitByEmail">
                                    <legend></legend>
                                    <hr />
                                    <div class="col-sm-5">

                                        <button type="button" ng-click="submitBySubmissionUrl()" ng-disabled="!commonEmailModel.companySubmissionUrl" class="btn
                                        btn-outline-primary btn-sm btn-icon
                                        loading-demo m-r-xs m-b-xs font-12
                                        pull-right">
                                            <i class="material-icons"> language</i>Submit on Company portal
                                        </button>

                                        <span ng-if="commonEmailModel.companySubmissionUrl">Update company details to add submission page URL</span>
                                    </div>
                                    <div class="col-sm-2">

                                    </div>
                                    <div class="col-sm-5">
                                        <button type="button" ng-click="closeCandidateSubmissionEmailModal();openCandidateSubmissionEmailModal();" ng-disabled="submissionEmailModel.companySubmissionUrl" class="btn
                                        btn-outline-primary btn-sm btn-icon
                                        loading-demo m-r-xs m-b-xs font-12
                                        pull-right">
                                            <i class="material-icons"> email</i>Submit by email
                                        </button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>