﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form autocomplete="off" class="form-horizontal" name="RequirementTransferForm" novalidate>
                <div class="modal-header">
                    <button type="button" ng-click="closeTransferRequirementModal()" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">
                        <span>Transfer Requirements</span>
                    </h4>
                </div>

                <div class="modal-body clearfix">
                    <div class="card">
                        <div class="card-block">
                            <div class="row m-b-xs">
                                <div class="col-sm-3">
                                    <label>Old User</label>
                                </div>
                                <div class="col-sm-9">
                                    <input tabindex="7" type="text" class="form-control form-control-sm" placeholder="Enter company requirement code" ng-model="TransferRequirementsModel.FullName" name="clientJobCode" validation="max_len:50" ng-disabled="true" />
                                </div>
                            </div>

                            <div class="row m-b-xs clearfix">
                                <div class="col-sm-3">
                                    <label>New User<span class="bold text-red">*</span></label>
                                </div>
                                <div class="col-sm-9">
                                    <select class="select2" style="width: 100%" name="TransferedUserId" data-placeholder="Select User" ng-model="TransferRequirementsModel.TransferedUserId" validation="required:alt=User required.">
                                <option value=""></option>
                                <option ng-repeat="users in OraganizationUsers" repeat-end="CallSelect2()" value="{{users.Id}}"
                                        ng-bind="users.Name"></option>
                            </select>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button ng-click="TransferRequirements(TransferRequirementsModel.UserId,TransferRequirementsModel.TransferedUserId,RequirementTransferForm)" ng-disabled="checkedCount== 0" type="button" class="btn  btn-primary btn-sm  btn-icon  loading-demo   m-r-xs font-12"
                        aria-disabled="false"><i class="material-icons"> check</i> Transfer</button>

                    <button type="button" class="btn btn-danger btn-icon loading-demo btn-sm font-12" data-dismiss="modal" ng-click="closeTransferRequirementModal()"><i class="material-icons"> close</i><span>Cancel</span></button>
                </div>

            </form>
        </div>
    </div>
</div>