﻿
<div class="row">
    <div class="col-md-12 text-xs-center">

        <i class="fa fa-dropbox" style=" font-size: 200px; color: #e6e6e6;"></i>
        <br /><br />
        <div class="error-message">
            <h2 style="font-size: 52px;">Coming soon</h2>
            <p>Sorry, we will reach you soon for the content you were looking for.</p>
            <a href="#/dashboard"><i class="fa fa-reply-all"></i> Go Back Home</a>
        </div>
    </div>
</div>
