<div class="header-inner">
    <div class="navbar-item   brand  ">
        <a href="javascript:toggleSidebar('in')" class="toggle-offscreen"><i class="material-icons">menu</i> </a>
        <a class="brand-logo hidden-xs-down"> </a>
    </div>
    <a class="navbar-item navbar-spacer-right navbar-heading hidden-md-down text-white" href><span>{{pageTitle}}</span></a>
    <span  class="navbar-item navbar-spacer-right navbar-heading hidden-md-down text-white" href="">
        <span class="ng-binding pull-right" style="font-weight: 400; font-size: 14px; line-height: 24px;">
            To explore more features, <a href="#/Pricing" style="text-decoration: underline !important;">upgrade</a> your plan
       </span>
    </span>
    <span class="col-md-2" style=" padding-top: 16px;">
        <select class="full-width-100 form-control" style="width: 100%" ng-model="userDetails.OrganizationId" ng-change="refresh();">
            <option ng-repeat="key1 in userDetails.ChildOrganizations" value="{{key1.organizationId}}">{{key1.OrganizationName}}</option>
        </select>
    </span>
    
    <div class="navbar-item nav navbar-nav">

        <div class="nav-item nav-link dropdown">
            <div class="nav-profile dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <div class="user-image" style="display: -webkit-box">
                        <img ng-if="userDetails.ProfileImage" style=" width: 2.5rem; height: 2.5rem;" ng-src="{{ userDetails.ProfileImage }}" class="avatar img-circle" alt="user" title="user">
                        <img ng-if="!userDetails.ProfileImage" style="width: 2.5rem; height: 2.5rem;" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" class="avatar img-circle" alt="user" title="user">

                        <div class="user-info expanding-hidden" style=" margin-left: 5px;">
                            <span style="color: #fff;  "> {{userDetails.FirstName}} {{userDetails.LastName}}</span> <i class="material-icons">arrow_drop_down</i>
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu" style="width: -webkit-fill-available;">
                    <a ng-class="{'stop-pointer': userDetails.IsSubscriptionExpired == 1}" ng-if="userDetails.Organization_Read == 'True'" class="dropdown-item" href="javascript: void(0);" ng-click="main.toggleMenu();goToView('organizationProfile')" translate="menu.Organization"></a>
                    <a class="dropdown-item" href="javascript:void(0);" ng-click="logOut()">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>