<div class="brand">
    <a href="javascript:toggleSidebar('out');" class="toggle-offscreen hidden-lg-up">
        <i class="material-icons">menu</i>
    </a>
    <a ng-class="{'stop-pointer': userDetails.IsSubscriptionExpired == 1}" class="brand-logo" ng-href="#/dashboard">
        <img class="expanding-hidden" src="images\logo-b.png" alt="">
        <img class="expanding-show mono-icon" src="images\xseed-icon.png" alt="">
    </a>

</div>
<div class="nav-profile dropdown">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
        <div class="user-image">
            <img ng-if="userDetails.ProfileImage" ng-src="{{ userDetails.ProfileImage }}" lazy-src class="avatar img-circle" alt="user" title="user" />
            <img ng-if="!userDetails.ProfileImage" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src class="avatar img-circle" alt="user" title="user" />
        </div>
        <div class="user-info expanding-hidden">
            <span ng-bind="userDetails.FirstName"></span>
            <span ng-bind="userDetails.LastName"></span>
            <small class="bold" ng-bind="userDetails.RoleName"></small>
        </div>
    </a>
    <div class="dropdown-menu">
        <a ng-class="{'stop-pointer': userDetails.IsSubscriptionExpired == 1}" class="dropdown-item" href="javascript:;" ng-if="userDetails.Organization_Read == 'True'" ui-sref-active="active" href="javascript: void(0);" ng-click="main.toggleMenu();goToView('organizationProfile')">
            <span translate="Organization"></span>
        </a>
        <a class="dropdown-item" href="javascript:void(0);" ng-click="logOut()">Logout</a>
    </div>

</div>
<nav ng-class="{'stop-pointer': userDetails.IsSubscriptionExpired == 1}">
    <p class="nav-title">NAVIGATION</p>
    <ul class="nav">
        <li data-toggle="tooltip" data-placement="right" title="Dashboard">
            <a href="#/dashboard" ng-click=" goToView('dashboard')">
                <i class="material-icons text-primary">home</i>
                <span translate="Dashboard"></span>
            </a>
        </li>

        <li data-toggle="tooltip" data-placement="right" title="Requirements" ng-if="userDetails.Requirement_Read == 'True'">
            <a href="#/requirementList" ng-click=" goToView('requirementList')">
                <span class="menu-caret">
                </span><i class="material-icons text-success">library_books</i>
                <span translate="Requirements"></span>
            </a>
        </li>

        <li data-toggle="tooltip" data-placement="right" title="Candidates" ng-if="userDetails.Candidate_Read == 'True'">
            <a href="#/candidateList" ng-click=" goToView('candidateList')">
                <span class="menu-caret">
                </span><i class="material-icons text-danger">people</i>
                <span translate="Candidates"></span>
            </a>
        </li>


        <li data-toggle="tooltip" data-placement="right" title="Submissions" ng-if="userDetails.Submission_Read == 'True'" ui-sref-active="active">
            <a href="#/submissions" ng-click="goToView('submissions')">
                <span class="menu-caret">
                </span><i class="material-icons text-warning">contact_mail</i>
                <span translate="Submissions"></span>
            </a>
        </li>

        <li data-toggle="tooltip" data-placement="right" title="Client" ng-if="userDetails.Company_Read == 'True'" ui-sref-active="active">
            <a href="#/companyList" ng-click="goToView('companyList')">
                <span class="menu-caret">
                </span><i class="material-icons  text-info">account_balance</i>
                <span translate="Client"></span>
            </a>
        </li>

        <li id="{{SubmenuMode}}">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <span class="menu-caret"><i class="material-icons">arrow_drop_down</i> </span>
                <i class="material-icons text-danger" data-toggle="tooltip" data-placement="right" title="Account">account_box</i>
                <span translate="Account"></span>
            </a>

            <ul class="sub-menu" role="menu">
                <li data-toggle="tooltip" data-placement="right" title="Organization" ng-if="userDetails.Organization_Read == 'True'" ui-sref-active="active">
                    <a href="#/organizationProfile" ng-click=" goToView('organizationProfile')">
                        <i class="material-icons text-secondary">account_balance</i>
                        <span translate="Organization"></span>
                    </a>
                </li>
                <li data-toggle="tooltip" data-placement="right" title=" Users " ng-if="userDetails.Organization_Read == 'True'" ui-sref-active=" active">
                    <a href="#/systemUsers" ng-click=" goToView('systemUsers')">
                        <i class="material-icons   text-danger">account_circle</i>
                        <span translate="Users"></span>
                    </a>
                </li>
                <li data-toggle="tooltip" data-placement="right" title=" UserRoles " ng-if="userDetails.RoleName == 'Application Administrator'" ui-sref-active=" active">
                    <a href="#/userRoles" ng-click=" goToView('userRoles')">
                        <i class="material-icons   text-secondary">dialpad</i>
                        <span translate="UserRoles"></span>
                    </a>
                </li>

                <li data-toggle="tooltip" data-placement="right" title="Change Password" ui-sref-active="active">
                    <a href="#/changePassword" ng-click=" goToView('changePassword')">
                        <i class="material-icons  text-warning">lock_open</i>
                        <span translate="Change Password "></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <p class="nav-title">OTHER</p>
    <ul class="nav">
        <li ng-if="userDetails.Reports_Read == 'True'" id="{{SubmenuModeReport}}">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <span class="menu-caret"><i class="material-icons">arrow_drop_down</i> </span>
                <i class="material-icons text-danger" data-toggle="tooltip" data-placement="right" title="Reports">insert_chart</i>
                <span translate="Reports"></span>
            </a>

            <ul class="sub-menu" role="menu">
                <li data-toggle="tooltip" data-placement="right" title="Requirements report" ng-if="userDetails.Reports_Read == 'True'" ui-sref-active="active">
                    <a href="#/requirementReport" ng-click=" goToView('requirementReport')">
                        <i class="material-icons   text-secondary">library_books</i>
                        <span>Requirements </span>
                    </a>
                </li>
                <li data-toggle="tooltip" data-placement="right" title="Candidates report" ng-if="userDetails.Reports_Read == 'True'" ui-sref-active="active">
                    <a href="#/candidateReport" ng-click=" goToView('candidateReport')">
                        <i class="material-icons   text-danger">people</i>
                        <span>Candidate</span>
                    </a>
                </li>
                <li data-toggle="tooltip" data-placement="right" title="Activity report" ng-if="userDetails.Reports_Read == 'True'" ui-sref-active="active">
                    <a href="#/activityReport" ng-click=" goToView('activityReport')">
                        <i class="material-icons  text-secondary ">timeline</i>
                        <span>Activity</span>
                    </a>
                </li>
                <li data-toggle="tooltip" data-placement="right" title="Submission report" ng-if="userDetails.Reports_Read == 'True'" ui-sref-active="active">
                    <a href="#/submissionReport" ng-click=" goToView('submissionReport')">
                        <i class="material-icons   text-danger">contact_mail</i>
                        <span>Submissions</span>
                    </a>
                </li>
                <li data-toggle="tooltip" data-placement="right" title="Client report">
                    <a href="#/clientReport" ng-click=" goToView('clientReport')">
                        <i class="material-icons  text-info">account_balance</i>
                        <span>Client</span>
                    </a>
                </li>
                <li data-toggle="tooltip" data-original-title="" data-placement="right" title="Closure report">
                    <a href="#/closureReport" ng-click="goToView('closureReport')">
                        <i class="material-icons  text-success">insert_invitation</i>
                        <span>Closure</span>
                    </a>
                </li>
            </ul>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="QueryBuilder">
            <a href="#/queryBuilder" ng-click=" goToView('queryBuilder')">
                <span class="menu-caret">
                </span><i class="material-icons  text-secondary">query_builder</i>
                <span translate="QueryBuilder"></span>
            </a>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="ResumeBlaster">
            <a href="#/resumeBlasterList" ng-click=" goToView('resumeBlasterList')">
                <span class="menu-caret">
                </span><i class="material-icons  text-secondary">contact_mail</i>
                <span translate="ResumeBlaster"></span>
            </a>
        </li>
    </ul>
</nav>