<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
  <div class="modal-backdrop fade in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'TIMEOUT_WARNING_MODAL_TITLE' | translate  }}</h4>
      </div>
      <div class="modal-body idle-warning-body">
        <div idle-countdown="countdown" ng-init="countdown=60">
          <h3>{{ 'TIMEOUT_WARNING_MODAL_MSG_PART1' | translate  }}{{countdown}}{{ 'TIMEOUT_WARNING_MODAL_MSG_PART2' | translate  }}</h3>
          <br>
          <div progress-bar="" class="active" data-total="60" data-complete-label=" {{'TIMEOUT_WARNING_COUNTER_LABEL' | translate}}" data-complete="countdown"></div>
          <br>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
</div>
