
<div class="header-inner">
    <div class="navbar-item   brand  ">
        <a href="javascript:toggleSidebar('in')" class="toggle-offscreen"><i class="material-icons">menu</i> </a>
        <a class="brand-logo hidden-xs-down"> </a>
    </div><a class="navbar-item navbar-spacer-right navbar-heading
              hidden-md-down text-white" href><span>{{pageTitle}}</span></a>

    <div class="navbar-item nav navbar-nav">

        <div class="nav-item nav-link dropdown">
            <div class="nav-profile dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <div class="user-image" style="display: -webkit-box">



                        <img ng-if="userDetails.ProfileImageFile && userDetails.ProfileImageFile != ''" ng-src="{{ userDetails.ProfileImageFile }}" style=" width: 2.5rem; height: 2.5rem;" class="avatar img-circle" alt="user" title="user">
                        <img ng-if="!userDetails.ProfileImageFile || userDetails.ProfileImageFile === ''" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" style="width: 2.5rem; height: 2.5rem;" class="avatar img-circle" alt="user" title="user">


                        <div class="user-info expanding-hidden" style=" margin-left: 5px;">
                            <span style="color: #fff;  "> {{userDetails.FirstName}} {{userDetails.LastName}}</span> <i class="material-icons">arrow_drop_down</i>
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu" style="width: -webkit-fill-available;">
                    <a ng-if="userDetails.Organization_Read == 'True'" class="dropdown-item" href="javascript: void(0);" ng-click="main.toggleMenu();goToView('organizationProfile')" translate="menu.Organization"> </a>
                    <a class="dropdown-item" href="#/candidateProfile">
                        <span>Profile</span>
                    </a>
                    <a class="dropdown-item" href="#/changePassword">Change Password</a>
                    <a class="dropdown-item" href="javascript:void(0);" ng-click="logOut()">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>