﻿<nav role="navigation">
    <ul class="nav">

        <li title="Profile">
            <a ng-href="#/candidateProfile">
                <i class="material-icons text-deeppurple">person</i>
            </a>
        </li>
        <li title="Openings">
            <a ng-href="#/openings" ng-click="common.step='one'">
                <i class="material-icons text-success">work</i>
            </a>
        </li>
        <li title="Status">
            <a ng-href="#/applicationStatus">
                <i class="material-icons text-danger">assignment</i>
            </a>
        </li>
    </ul>
</nav>