<div class="brand">
    <a href="javascript:toggleSidebar('out');" class="toggle-offscreen hidden-lg-up">
        <i class="material-icons">menu</i>
    </a>
    <a class="brand-logo" ng-href="#/candidateProfile">
        <img class="expanding-hidden" src="images\logo-b.png" alt="">
        <img class="expanding-show mono-icon" src="images\xseed-icon.png" alt="">
    </a>

</div>
<div class="nav-profile dropdown">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
        <div class="user-image">
            <img ng-if="userDetails.ProfileImageFile" ng-src="{{ userDetails.ProfileImageFile }}" lazy-src class="avatar img-circle" alt="user" title="user" />
            <img ng-if="!userDetails.ProfileImageFile" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src class="avatar img-circle" alt="user" title="user" />
        </div>
        <div class="user-info expanding-hidden">
            <span ng-bind="userDetails.FirstName"></span>
            <span ng-bind="userDetails.LastName"></span>
            <small class="bold" ng-bind="userDetails.RoleName"></small>
        </div>
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#/candidateProfile">
            <span>Profile</span>
        </a>
        <a class="dropdown-item" href="#/changePassword">
            <span>Change Password</span>
        </a>
        <a class="dropdown-item" href="javascript:void(0);" ng-click="logOut()">Logout</a>
    </div>

</div>
<nav>
    <p class="nav-title">NAVIGATION</p>
    <ul class="nav">
        <li tooltip-placement="right" tooltip-append-to-body="true" uib-tooltip="Profile" title="Profile">
            <a href="#/candidateProfile">
                <i class="material-icons text-primary">account_box</i>
                <span>Profile</span>
            </a>
        </li>

        <li tooltip-placement="right" tooltip-append-to-body="true" uib-tooltip="Opening" title="Opening">
            <a href="#/openings" ng-click="common.step='one'">
                <span class="menu-caret">
                </span><i class="material-icons text-success">card_giftcard</i>
                <span>Openings</span>
            </a>
        </li>

        <li tooltip-placement="right" tooltip-append-to-body="true" uib-tooltip="Status" title="Status">
            <a href="#/applicationStatus">
                <span class="menu-caret">
                </span><i class="material-icons text-danger">playlist_add_check</i>
                <span>Status</span>
            </a>
        </li>


        <li ng-class="GetActiveMenuClass()">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript: void(0);">
                <span class="menu-caret"><i class="material-icons">arrow_drop_down</i> </span>
                <i class="material-icons text-secondary" tooltip-placement="right" tooltip-append-to-body="true" uib-tooltip="Setting" title="Setting">settings_applications</i>
                <span>Settings</span>
            </a>

            <ul class="sub-menu" role="menu">
                <li tooltip-placement="right" tooltip-append-to-body="true" uib-tooltip="Change Password" title="Change Password">
                    <a href="#/changePassword">
                        <i class="material-icons  text-info">lock</i>
                        <span>Change Password</span>
                    </a>
                </li>

            </ul>
        </li>
    </ul>
</nav>
