﻿<div class="main-content" ng-init="clearChangePasswordModel()">
    <div class="content-view">
        <div class="bg-white">

            <div class="row">
                <form name="changePasswordForm">
                    <div class="col-md-12">
                        <h2 class="custome-devider">
                            <span><img src="images/personal.png" alt="Personal Image"><span>Change Password</span> </span>
                        </h2>
                        <div class="col-md-4 offset-md-4">

                            <div class="form-group">
                                <label for="exampleInputPassword1">Old Password</label>
                                <input class="form-control form-control-sm iscapson" id="oldPassword" name="oldPassword" block-clipboard friendly-name="Old password" ng-model="changePasswordModel.OldPassword" placeholder="Enter Old Password" type="password" validation="required" onkeyup="checkcapson(this)">
                            </div>


                            <div class="form-group">
                                <label for="exampleInputPassword1">New Password</label>
                                <input class="form-control form-control-sm iscapson" id="newPassword" name="newPassword" block-clipboard friendly-name="New password" ng-model="changePasswordModel.NewPassword" placeholder="Enter New Password" type="password" validation="required|xseed_password_different:changePasswordModel.OldPassword,New password, Old password|xseed_pwd:alt=Must be at least 8 characters. Must have at least 1 lowercase letter, 1 uppercase letter, 1 number, 1 special character. The password is case-sensitive."
                                       onkeyup="checkcapson(this)">
                            </div>


                            <div class="form-group">
                                <label for="exampleInputPassword1">Confirm Password</label>
                                <input class="form-control form-control-sm iscapson" id="confirmPassword" name="confirmPassword" block-clipboard friendly-name="Confirm new password" ng-model="changePasswordModel.ConfirmPassword" placeholder="Enter Confirm Password" type="password" validation="required|xseed_password_match:changePasswordModel.NewPassword,Confirm new password,New password|xseed_pwd:alt=Must be at least 8 characters. Must have at least 1 lowercase letter, 1 uppercase letter, 1 number, 1 special character. The password is case-sensitive."
                                       onkeyup="checkcapson(this)">
                            </div>
                            <p class="text-danger disp-none" id="text">Caps lock is ON.</p>
                        </div>

                    </div>


                    <div class="col-md-12">
                        <div class="col-md-4 offset-md-4">
                            <button id="nextSbmt" class="btn btn-primary btn-icon btn-right btn-sm m-r-xs" data-type="next" type="button" ng-click="changePassword(changePasswordForm);"><i class="material-icons">check</i>
                                <span>Submit</span></button>
                            <button id="nextSbmt" class="btn btn-danger btn-icon btn-right btn-sm" data-type="next" type="button" ng-click="gotoHome();"><i class="material-icons">close</i>
                                <span>Cancel</span></button>

                            <br><br>
                        </div>
                    </div>
                </form>

            </div>


        </div>
    </div>
</div>