﻿<div class="main-content">
    <div class="content-view">
        <div class="bg-white">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="custome-devider">
                        <span><img src="images/personal.png" alt="Personal Image"> 
                                        <span>Create User Role</span></span>
                    </h2>
                    <a ng-if="userDetails.RoleName == 'Application Administrator'" href="#/userRoles" class="btn
                                                                    btn-outline-primary btn-sm btn-icon
                                                                    loading-demo m-b-xs font-12 pull-right m-r-xs"><i
                                        class="material-icons">format_list_bulleted
                                    </i><span>User Roles</span></a>
                </div>
                <div class="col-md-12">
                    <form name="newUserRoleForm">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Role</label>
                                <input class="form-control form-control-sm" ng-model="newUserRole.Role" name="roleName" validation="required|min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe" placeholder="Enter Role Name" type="text">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Precedence Level</label>
                                <input type="text" onkeypress="return onlyNumber(event)" ng-model="newUserRole.Precedence" placeholder="Enter Precedence Level" name="rolePrecedenceLevel" validation="required|integer|max_len:2" class="form-control form-control-sm spinner2">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Role Description</label>
                                <textarea style="height: 26px;" class="form-control form-control-sm" ng-model="newUserRole.Description" name="roleDescription" validation="required|min_len:2|max_len:500" placeholder="Enter Role Description" type="text"></textarea>
                            </div>
                        </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" style="text-align:center;">
                                <caption></caption>
                                <thead>
                                    <tr>
                                        <th scope="col" scope="col" rowspan="2">Area</th>
                                        <th scope="col" scope="col" Colspan="4" style="text-align: center;">Permissions</th>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="text-xs-center">Create</th>
                                        <th scope="col" class="text-xs-center">Update</th>
                                        <th scope="col" class="text-xs-center">Read</th>
                                        <th scope="col" class="text-xs-center">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="areaMapping in newUserRole.AreaMapping">
                                        <th scope="col" scope="col">{{areaMapping.Name}}</th>
                                        <td><label class="custom-control custom-checkbox"><input type="checkbox"  ng-model="areaMapping.Create" class="custom-control-input"> <span class="custom-control-indicator"></span></label></td>
                                        <td><label class="custom-control custom-checkbox"><input type="checkbox"  ng-model="areaMapping.Update" class="custom-control-input"> <span class="custom-control-indicator"></span></label></td>
                                        <td><label class="custom-control custom-checkbox"><input type="checkbox"  ng-model="areaMapping.Read" class="custom-control-input"> <span class="custom-control-indicator"></span></label></td>
                                        <td><label class="custom-control custom-checkbox"><input type="checkbox"  ng-model="areaMapping.Delete" class="custom-control-input"> <span class="custom-control-indicator"></span></label></td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="userDetails.RoleName == 'Application Administrator'">
                    <div class="col-md-12">
                        <div class="col-md-12" text-align="center">

                            <button id="nextSbmt" class="btn btn-primary btn-icon   btn-sm" ng-click="createUserRole(newUserRoleForm);" data-type="next" type="button"><i class="material-icons">check</i>
                                                    <span>Submit</span></button>
                            <button id="nextSbmt" class="btn btn-danger btn-icon   btn-sm" ng-click="gotoUserRoleList();" data-type="next" type="button"><i class="material-icons">close</i>
                                                        <span>Cancel</span></button>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>