﻿<div class="main-content SystemUsers" ng-init="getOrganizationUsers();">
    <div class="content-view">
        <div class="layout-xs contacts-container message-view">
            <div class="flexbox-xs layout-column-xs contacts-list b-r">

                <div class="contact-header">
                    <div class="contact-toolbar">
                        <form class="form-inline"><input ng-model="txt_search" class="form-control" type="text" placeholder="Search"></form>
                    </div>
                </div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item full-width-50"><a class="nav-link
                            full-width-100 active" data-toggle="tab" target="_self" href="#enable-user" role="tab" aria-expanded="false">Enable</a></li>
                    <li class="nav-item full-width-50 m-l-0">
                        <a ng-click="InializePopoverAndTooltip()" class="nav-link
                            full-width-100" data-toggle="tab" target="_self" href="#disable-user" role="tab" aria-expanded="true">Disable</a>
                    </li>

                </ul>
                <div class="tab-content scroll-y">

                    <div  class="tab-pane active" id="enable-user" role="tabpanel" aria-expanded="true">
                        <div  class="flex-xs scroll-y">


                            <a onclick="$('a.bg-default').removeClass('bg-default'); $(this).addClass('bg-default')"  ng-repeat="organizationUser in organizationUsers
                                | filter:txt_search" repeat-end="InializePopoverAndTooltip()" ng-if="organizationUser.IsActive" href="javascript:;" class="column-equal" data-toggle="contact">
                                <div class="col v-align-middle contact-avatar">

                                    <img class="circle-icon" ng-if="organizationUser.ProfileImage" ng-src="{{configuration.XSEED_ORGUSER_IMAGE_PATH
                                        + organizationUser.ProfileImage}}" lazy-src alt="Profile Image">
                                    <img ng-if="!organizationUser.ProfileImage" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src class="circle-icon" title="user" alt="Profile Image"/>

                                </div>
                                <div class="col v-align-middle contact-details">
                                    <div class="col-md-5 " onclick="$('.Smallcontact-view').toggle();" ng-click="getOrganizationCurrentUserDetails(organizationUser.PrimaryEmail,organizationUser.UserId,organizationUser.RoleId,'userProfile');">
                                        <span class="bold" ng-init="organizationUser.Name=
                                            getFullName(organizationUser.FirstName,
                                            organizationUser.LastName)">{{organizationUser.Name}}</span>
                                        <p style="margin-bottom: 0" class="small">{{organizationUser.RoleName}}</p>
                                    </div>
                                    <div class="col-md-7 text-overflow1 separator_vertical_left">
                                        <span class="small text-overflow1">{{organizationUser.PrimaryEmail}}</span>
                                        <span class="small">{{organizationUser.Mobile ? organizationUser.Mobile : '-' | ContactFilter}}   </span>

                                        <br>
                                        <button data-toggle="tooltip" title="" data-original-title="Disable" id="disable" class="btn
                                            btn-outline-danger btn-sm
                                            loading-demo m-b-xs font-13
                                            btn-disable" type="button" ng-show="(organizationUser.IsActive  && organizationUser.UserId != userDetails.UserId) && userDetails.RoleName == 'Application Administrator'" ng-click="EnableDisableUser(organizationUser, false);">
                                            <span class="fa fa-ban"></span>
                                        </button>

                                        <button ng-show="userDetails.RoleName == 'Application Administrator'" ng-click="StartEditUserProcess(organizationUser.PrimaryEmail,organizationUser.UserId,organizationUser.RoleId,'userProfile');" data-toggle="tooltip" title="Edit" data-original-title=""
                                                id="disable" class="btn btn-outline-primary btn-sm loading-demo m-b-xs font-13 btn-disable">
                                            <span class="fa fa-pencil"></span>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane" id="disable-user" role="tabpanel" aria-expanded="true">
                        <div class="flex-xs scroll-y">
                            <a onclick="$('a.bg-default').removeClass('bg-default'); $(this).addClass('bg-default')" ng-repeat="organizationUser in
                                organizationUsers|filter:txt_search" repeat-end="InializePopoverAndTooltip()" ng-if="!organizationUser.IsActive" href="javascript:;" class="column-equal" data-toggle="contact">
                                <div class="col v-align-middle contact-avatar">

                                    <img class="circle-icon" ng-if="organizationUser.ProfileImage" ng-src="{{configuration.XSEED_ORGUSER_IMAGE_PATH}}" lazy-src alt="Profile Image">
                                    <img ng-if="!organizationUser.ProfileImage" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src class="circle-icon" title="user" alt="Profile Image" />

                                </div>
                                <div class="col v-align-middle contact-details">
                                    <div class="col-md-5 " onclick="$('.Smallcontact-view').toggle();" ng-click="getOrganizationCurrentUserDetails(organizationUser.PrimaryEmail,organizationUser.UserId,organizationUser.RoleId,'userProfile');">
                                        <span class="bold" ng-init="organizationUser.Name=
                                            getFullName(organizationUser.FirstName,
                                            organizationUser.LastName)">{{organizationUser.Name}}</span>
                                        <p style="margin-bottom: 0" class="small">{{organizationUser.RoleName}}</p>
                                    </div>
                                    <div class="col-md-7 text-overflow1 separator_vertical_left">
                                        <span class="small">{{organizationUser.PrimaryEmail}}</span>
                                        <span class="small">{{organizationUser.Mobile  | ContactFilter}}</span>
                                        <br> <button ng-show="(!organizationUser.IsActive && organizationUser.UserId != userDetails.UserId) && userDetails.RoleName == 'Application Administrator'" ng-click="EnableDisableUser(organizationUser, true);" data-toggle="tooltip"
                                                     title="Enable" data-original-title="" id="disable" class="btn
                                            btn-outline-success btn-sm
                                            loading-demo m-b-xs font-13
                                            btn-disable" type="button">
                                            <span class="fa fa-check-circle"></span>
                                        </button>
                                        <button ng-show="userDetails.RoleName == 'Application Administrator'" ng-click="StartEditUserProcess(organizationUser.PrimaryEmail,organizationUser.UserId,organizationUser.RoleId,'userProfile');" data-toggle="tooltip" title="Edit" data-original-title=""
                                                id="disable" class="btn
btn-outline-primary btn-sm
loading-demo m-b-xs font-13
btn-disable ">
                                            <span class="fa fa-pencil"></span>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-class="CheckScreenSize()" class="flexbox-xs layout-column-xs contact-view " style="background:
                #ebebeb;">
                <div class="row">
                    <div class="col-md-12">
                        <a href ng-click="StartCreateNewProcess()" style="margin-top: 13px !important;
                            margin-left: 15px !important;" class="btn
                            btn-outline-primary btn-sm"> Add user </a>
                    </div>
                </div>
                <div class="contact-header hidden-lg-up">
                    <div class="contact-toolbar"><a onclick="$(' .Smallcontact-view ').toggle();" href="javascript:;" data-toggle="contact"><i
                                class="material-icons visible-xs m-r-1">arrow_back</i></a></div>
                </div>

                <div class="flex-xs scroll-y p-a-2">
                    <div class="column-equal m-b-2">

                        <div class="row">

                            <div class="col-md-6">

                                <div class="row">
                                    <div class="col-sm-2" style="width:100px">
                                        <img ng-if="common.currentOrganizationUserDetails.ProfileImage" ng-src="{{common.currentOrganizationUserDetails.ProfileImagePath}}" class="avatar avatar-lg img-circle" alt="">
                                        <img ng-if="!common.currentOrganizationUserDetails.ProfileImage" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" class="avatar avatar-lg img-circle" alt="">
                                    </div>
                                    <div class="col-sm-9 v-align-middle p-l-2">
                                        <h1><b>{{common.currentOrganizationUserDetails.FirstName}}</b> {{common.currentOrganizationUserDetails.LastName}}</h1>
                                        <h3>{{common.currentOrganizationUserDetails.RoleName}}</h3>

                                        <p style="margin-bottom: 0">
                                            <button id="disable" ng-click="EnableDisableUser(common.currentOrganizationUserDetails, false);" ng-if="(common.currentOrganizationUserDetails.IsActive  && common.currentOrganizationUserDetails.UserName != userDetails.UserName) && userDetails.RoleName == 'Application Administrator'"
                                                class="btn
                                                btn-outline-danger btn-sm
                                                loading-demo m-b-xs font-13
                                                btn-disable" type="button">
                                                <span>Disable</span></button>
                                            <button id="disable" ng-click="EnableDisableUser(common.currentOrganizationUserDetails, true);" ng-if="(!common.currentOrganizationUserDetails.IsActive && common.currentOrganizationUserDetails.UserName != userDetails.UserName) && userDetails.RoleName == 'Application Administrator'"
                                                class="btn
                                                btn-outline-success btn-sm
                                                loading-demo m-b-xs font-13
                                                btn-disable" type="button">
                                                <span>Enable</span></button>

                                            <a href="#/editUser" ng-show="(!organizationUser.IsActive && organizationUser.UserId != userDetails.UserId) && userDetails.RoleName == 'Application Administrator'" id="disable" class="btn
                                                btn-outline-primary btn-sm
                                                loading-demo m-b-xs font-13
                                                btn-disable">
                                                <span>Edit</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        
                                        <h5 ng-class="common.currentOrganizationUserDetails.PrimaryEmail ? '':(!common.currentOrganizationUserDetails.PrimaryEmail ? 'text-muted':'')"><i class="material-icons" aria-hidden="true">email </i> <a href="mailto:{{common.currentOrganizationUserDetails.PrimaryEmail}}">{{common.currentOrganizationUserDetails.PrimaryEmail ? common.currentOrganizationUserDetails.PrimaryEmail:'Not Available'}}</a></h5>
                                        <h5 ng-class="common.currentOrganizationUserDetails.Mobile ? '' : (!common.currentOrganizationUserDetails.Mobile ? 'text-muted' : '')">
                                            <i class="material-icons" aria-hidden="true">local_phone</i> {{common.currentOrganizationUserDetails.Mobile ? common.currentOrganizationUserDetails.Mobile : 'Not Available' | ContactFilter}}
                                        </h5>
                                        <h5 ng-class="common.currentOrganizationUserDetails.Phone ? '':(!common.currentOrganizationUserDetails.Phone ? 'text-muted':'')">
                                            <i class="material-icons" aria-hidden="true">home </i><span ng-if="common.currentOrganizationUserDetails.Phone"> {{common.currentOrganizationUserDetails.Phone | ContactFilter}}</span>
                                            <span ng-if="!common.currentOrganizationUserDetails.Phone" class="text-grey">Not Available</span>
                                        </h5>
                                        <h5 ng-class="common.currentOrganizationUserDetails.Address1 ? '':(!common.currentOrganizationUserDetails.Address1 ? 'text-muted':'')">
                                            <i class="material-icons" aria-hidden="true">place </i><span>{{common.currentOrganizationUserDetails.Address1 ? common.currentOrganizationUserDetails.Address1:'Not Available' }}</span>
                                        </h5>
                                    </div>
                                </div>

                            </div>


                        </div>




                    </div>


                    <div class="card disp-block">
                        <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs
                                color-dark-gray" aria-hidden="true">assistant
                            </i>Details</div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">Secondary
                                        Email</span>
                                    <p class="text-overflow"><a href="mailto:{{common.currentOrganizationUserDetails.SecondaryEmail ? common.currentOrganizationUserDetails.SecondaryEmail:'Not Available'}}" title="{{common.currentOrganizationUserDetails.SecondaryEmail ? common.currentOrganizationUserDetails.SecondaryEmail:'Not Available'}}" ng-class="common.currentOrganizationUserDetails.SecondaryEmail ? '' : (!common.currentOrganizationUserDetails.SecondaryEmail ? 'text-muted' : '')">{{common.currentOrganizationUserDetails.SecondaryEmail ? common.currentOrganizationUserDetails.SecondaryEmail:'Not Available'}}</a></p>
                                </div>
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">Home Phone</span>
                                    <p ng-class="common.currentOrganizationUserDetails.Phone ? '' : (!common.currentOrganizationUserDetails.Phone ? 'text-muted' : '')"> {{common.currentOrganizationUserDetails.Phone?common.currentOrganizationUserDetails.Phone:'Not Available' | ContactFilter}}</p>
                                </div>

                                <div class="col-md-3">
                                    <span class="bold text-uppercase">Fax</span>
                                    <p ng-class="common.currentOrganizationUserDetails.Fax ? '' : (!common.currentOrganizationUserDetails.Fax ? 'text-muted' : '')"> {{common.currentOrganizationUserDetails.Fax?common.currentOrganizationUserDetails.Fax:'Not Available' | ContactFilter}}</p>
                                </div>
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">Date Of
                                        Birth</span>
                                    <p ng-if="common.currentOrganizationUserDetails.BirthDate">{{common.currentOrganizationUserDetails.BirthDate | date:'dd-MMM-yyyy'}}</p>
                                    <p class="text-muted" ng-if="!common.currentOrganizationUserDetails.BirthDate">Not Available</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">
                                        Date Of
                                        Anniversary
                                    </span>
                                    <p ng-if="common.currentOrganizationUserDetails.AnniversaryDate">{{common.currentOrganizationUserDetails.AnniversaryDate | date:'dd-MMM-yyyy'}}</p>
                                    <p class="text-muted" ng-if="!common.currentOrganizationUserDetails.AnniversaryDate">Not Available</pclass>
                                </div>
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">Address 2</span>
                                    <p ng-class="common.currentOrganizationUserDetails.Address2 ? '' : (!common.currentOrganizationUserDetails.Address2 ? 'text-muted' : '')">{{common.currentOrganizationUserDetails.Address2?common.currentOrganizationUserDetails.Address2:'Not Available'}}</p>
                                </div>
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">Country</span>
                                    <p ng-class="common.currentOrganizationUserDetails.Country ? '' : (!common.currentOrganizationUserDetails.Country ? 'text-muted' : '')">{{common.currentOrganizationUserDetails.Country?common.currentOrganizationUserDetails.Country:'Not Available'}}</p>
                                </div>
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">State</span>
                                    <p ng-class="common.currentOrganizationUserDetails.State ? '' : (!common.currentOrganizationUserDetails.State ? 'text-muted' : '')">{{common.currentOrganizationUserDetails.State?common.currentOrganizationUserDetails.State:'Not Available'}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">City</span>
                                    <p ng-class="common.currentOrganizationUserDetails.City ? '' : (!common.currentOrganizationUserDetails.City ? 'text-muted' : '')">{{common.currentOrganizationUserDetails.City?common.currentOrganizationUserDetails.City:'Not Available'}}</p>
                                </div>
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">Zip Code</span>
                                    <p ng-class="common.currentOrganizationUserDetails.Zip ? '' : (!common.currentOrganizationUserDetails.Zip ? 'text-muted' : '')">{{common.currentOrganizationUserDetails.Zip?common.currentOrganizationUserDetails.Zip:'Not Available'}}</p>
                                </div>
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">Created By</span>
                                    <p ng-class="common.currentOrganizationUserDetails.AuditTrailInfo.CreatedByName ? '' : (!common.currentOrganizationUserDetails.AuditTrailInfo.CreatedByName ? 'text-muted' : '')">{{common.currentOrganizationUserDetails.AuditTrailInfo.CreatedByName?common.currentOrganizationUserDetails.AuditTrailInfo.CreatedByName:'Not Available'}}</p>
                                </div>
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">
                                        Created
                                        Date
                                    </span>
                                    <p ng-if="common.currentOrganizationUserDetails.AuditTrailInfo.CreatedOn">{{common.currentOrganizationUserDetails.AuditTrailInfo.CreatedOn | date:'dd-MMM-yyyy'}}</p>
                                    <p class="text-muted" ng-if="!common.currentOrganizationUserDetails.AuditTrailInfo.CreatedOn">Not Available</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">
                                        Reporting
                                        To
                                    </span>
                                    <p ng-class="common.currentOrganizationUserDetails.ReportingToName ? '' : (!common.currentOrganizationUserDetails.ReportingToName ? 'text-muted' : '')"> {{common.currentOrganizationUserDetails.ReportingToName?common.currentOrganizationUserDetails.ReportingToName:'Not Available'}}</p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .contact-header {
        height: auto !important;
    }
</style>