﻿<div class="title-section">
</div>

<div class="col-sm-12">
    <div class="card">
        <div class="card-block" ng-init="getUserEmailConfiguration()">
            <form class="form-horizontal row" name="userEmailConfigurationForm" novalidate>
                <fieldset class="form-group">
                    <div id="additional-details">
                        <div class="col-sm-4">
                            <fieldset class="form-group">
                                <legend></legend>
                                <label>
                                    Enter your email
                                </label>
                                <input type="text" class="form-control" id="userName" placeholder="Email"
                                       name="userName"
                                       ng-model="userEmailConfiguration.Email"
                                       validation="required|min_len:6|max_len:100|email" />
                            </fieldset>
                            <fieldset class="form-group">
                                <legend></legend>
                                <label>
                                    Enter your password
                                </label>
                                <input type="password" class="form-control" id="password"
                                       placeholder="Password"
                                       name="password" ng-model="userEmailConfiguration.Password"
                                       autocomplete="off"
                                       validation="required|min_len:8|max_len:16"
                                       ng-enter="saveUserEmailConfiguration(userEmailConfigurationForm);" />
                            </fieldset>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <legend></legend>
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary" ng-if="!userEmailConfiguration.EmailExist" ng-click="saveUserEmailConfiguration(userEmailConfigurationForm);">Save</button>
                        &nbsp;
                        <button type="button" class="btn btn-primary" ng-if="userEmailConfiguration.EmailExist" 
                                ng-click="editUserEmailConfiguration(userEmailConfigurationForm)">
                            <i class="material-icons ng-binding" aria-hidden="true">update</i> Update
                        </button>&nbsp;
                        <button type="submit" class="btn btn-secondary" ng-click="gotoHome();">Cancel</button>
                    </div>
                </fieldset>
                <p class="well-lg">
                </p>
            </form>
        </div>
    </div>
</div>