﻿<div class="main-content" ng-init="checkUserAccess();getUserRoles();">
    <div class="content-view">
        <div class="bg-white">

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <h2 class="custome-devider">
                            <span><img src="images/personal.png" alt="Personal Image">
                                                                    <span>User Roles</span></span>
                        </h2>
                        <a ng-if="userDetails.RoleName == 'Application Administrator'" href="#/createUserRole" class="btn
                                        btn-outline-primary btn-sm btn-icon
                                        loading-demo m-b-xs font-12 pull-right"><i class="material-icons">add_circle_outline
                                        </i><span>Add user role</span></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="no-more-tables dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <table ng-table="userRolesTable" class="userRolesTable table table-bordered user-role-table" style="text-align:center;">
                                <caption></caption>
                                <thead>
                                    <tr>
                                        <th scope="col" scope="col" rowspan="2">Role</th>
                                        <th scope="col" Colspan="{{userRoleList[0].AreaMapping.length}}" text-align="center" style="text-align: center;">Responsibilities</th>
                                        <th scope="col"></th>
                                    </tr>
                                    <tr>
                                        <th scope="col" data-title="{{area.Name}}" ng-repeat="area in userRoleList[0].AreaMapping">{{area.Name}}</th>
                                        <th scope="col" rowspan="2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="userRole in userRoleList" repeat-end="InializePopoverAndTooltip();">
                                        <th scope="col" data-title="{{userRole.Role}}" ng-bind="userRole.Role"></th>
                                        <td data-title="{{area.Name}}" style="text-align:left;" ng-repeat="area in userRole.AreaMapping">
                                            <label class="custom-control custom-checkbox"><input type="checkbox" ng-model="area.Create" ng-disabled="!editMode" ng-click="checkReadPermission($event, userRole, area)" class="custom-control-input"> <span class="custom-control-indicator"></span>Create</label><br>
                                            <label class="custom-control custom-checkbox"><input type="checkbox" ng-model="area.Update" ng-disabled="!editMode" ng-click="checkReadPermission($event, userRole, area)" class="custom-control-input"> <span class="custom-control-indicator"></span>Update</label><br>
                                            <label class="custom-control custom-checkbox"><input type="checkbox" ng-model="area.Read" ng-disabled="!editMode" ng-click="clearAll($event, userRole, area)"  class="custom-control-input"> <span class="custom-control-indicator"></span>Read</label>
                                            <div ng-hide="true"><label class="custom-control custom-checkbox"><input type="checkbox" ng-model="area.Delete" ng-disabled="!editMode" ng-click="checkReadPermission($event, userRole, area)" class="custom-control-input"> <span class="custom-control-indicator"></span>Delete</label></div>
                                        </td>
                                        <td data-title="Actions" style="text-align:center;"><label>&nbsp;</label><br>
                                            <button type="button" class="btn btn-outline-primary  btn-sm m-r-xs  loading-demo m-b-xs font-12 mb-0" ng-click="editMode = true;" ng-hide="editMode || userRole.Role == 'Application Administrator'" data-toggle="tooltip" title="" data-original-title="Edit"> <i  class="fa fa-pencil-square-o"></i></button>
                                            <button type="button" class="btn btn-outline-primary  btn-sm m-r-xs  loading-demo m-b-xs font-12 mb-0" ng-click="updateUserRole(userRole);" ng-show="editMode" data-toggle="tooltip" title="" data-original-title="Save"> <i  class="fa fa-save"></i></button>
                                            <button type="button" class="btn btn-outline-danger  btn-sm m-r-xs  loading-demo m-b-xs font-12 mb-0" ng-click="editMode = false; EditUserRoleCancel(); " ng-show="editMode" data-toggle="tooltip" title="" data-original-title="Cancel"> <i  class="fa fa-close"></i></button>
                                            <!-- cancelUserRoleUpdate(); -->
                                            <button type="button" class="btn btn-outline-danger  btn-sm m-r-xs  loading-demo m-b-xs font-12 mb-0" ng-click="deleteUserRole(userRole.Id);" ng-hide="true" data-toggle="tooltip" title="" data-original-title="Delete"> <i  class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
</div>