﻿<div class="row">
    <div class="card">
        <form class="form-horizontal" name="createRecruiterForm" novalidate>
            <div class="card-header no-bg p-t-xs p-b-xs p-l-1 p-r-xs clearfix">
                <div class="row">
                    <div class="col-sm-8">
                        <h6 class="m-b-1 font-weight-medium"><i class="fa fa-user m-r-xs"></i>Personal Details</h6>
                    </div>
                    <div class="col-sm-2 pull-right">
                        <a class="btn btn-danger btn-sm small pull-right" role="button" href="#/resumeBlasterList">
                            <i class="fa fa-list m-r-xs" aria-hidden="true"></i>Recruiter List
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-block p-a-xs clearfix">
                <fieldset class="form-group row m-b-0">
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Company Name <span class="bold text-red">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Enter Company Name"
                                   ng-model="ResumeBlasterModel.Company"
                                   name="Compnay"
                                   validation="required|min_len:2|max_len:50" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Recruiter Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Enter Recruiter Name"
                                   ng-model="ResumeBlasterModel.RecruiterName"
                                   name="RecruiterName"
                                   validation="min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-0">
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Primary Email</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Enter Primary Email"
                                   ng-model="ResumeBlasterModel.PrimaryEmail"
                                   name="primaryEmail"
                                   validation="xseed_email|max_len:100" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Address</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Enter Address"
                                   ng-model="ResumeBlasterModel.Address"
                                   name="address1"
                                   validation="max_len:100" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-0">
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Mobile</label>
                        <!--(E.g: 111-111-1111)-->
                        <div class="col-sm-9">
                            <input type="text"
                                   class="form-control"
                                   placeholder="enter mobile"
                                   ng-model="ResumeBlasterModel.Mobile"
                                   name="mobile"
                                   ui-mask="999-999-9999"
                                   ui-mask-placeholder
                                   ui-mask-placeholder-char="_"
                                   ng-blur="removeMask()"
                                   ng-focus="placeMask()"
                                   validation="xseed_mobile" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Phone</label>
                        <!--(E.g: 111-111-1111)-->
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="enter phone"
                                   ng-model="ResumeBlasterModel.Phone"
                                   ui-mask="(999) 999-9999"
                                   ui-mask-placeholder
                                   ui-mask-placeholder-char="_"
                                   ng-blur="removeMask()"
                                   ng-focus="placeMask()"
                                   name="phone" validation="xseed_phone" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-0">
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Website <span class="bold text-red">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Enter Website"
                                   ng-model="ResumeBlasterModel.Website"
                                   name="website" validation="required|url|max_len:500" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="card-footer text-xs-center">
                <button type="button" class="btn btn-primary btn-sm small" ng-if="ResumeBlasterModel.manipulationMode=== 'Create'"
                        ng-click="createResumeBlasterProcess(createRecruiterForm)">
                    <i class="fa fa-plus m-r-xs" aria-hidden="true"></i>Add Recruiter
                </button>
                <button type="button" class="btn btn-primary btn-sm small" ng-if="ResumeBlasterModel.manipulationMode=== 'Edit'"
                        ng-click="editResumeBlasterProcess(createRecruiterForm)">
                    <i class="fa fa-save m-r-xs" aria-hidden="true"></i>Save
                </button>
                <button type="button" class="btn btn-default btn-sm small" ng-click="ResumeBlasterCancel()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>