﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <form autocomplete="off" class="form-horizontal" name="resumeBlasterPopupForm" novalidate>
                <div class="modal-header bg-primary-lighter">
                    <button type="button" class="close" data-dismiss="modal" ng-click="submitPopupCancel()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Blast Resume</h4>
                </div>
                <div class="modal-body clearfix">
                    <label class="col-sm-4 text-muted">Upload Resume <span class="bold text-red">*</span></label>
                    <div class="col-sm-8">
                        <label class="file err-b">
                            <input type="file"
                                   nv-file-select=""
                                   uploader="upload.uploader"
                                   ng-model="ResumeBlasterAPIModel.Resume"
                                   ng-file-model="ResumeBlasterAPIModel.Resume"
                                   name="resume"
                                   ng-click="enableButtonResume(ResumeBlasterAPIModel.Resume)"
                                   check-resume-file
                                   validation="required:alt=Resume file is required." />
                            <span class="file-custom">
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-8 col-sm-offset-4">
                        <strong>
                            {{ common.uploadResumeFileName }}
                        </strong>
                        <br />
                        <span ng-if="common.invalidResumeFile" class="validation text-danger">Please select valid format.</span>
                        <span ng-if="common.maxResumeFileSize" class="validation text-danger">Max upload size for file is 5 mb.</span>
                    </div>
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="button" class="btn btn-danger btn-sm small" ng-click="resumeBlasterProcess(resumeBlasterPopupForm)">
                            Blast
                        </button>
                        <button type="button" class="btn btn-primary btn-sm small" ng-click="submitPopupCancel();">Cancel</button>
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>