﻿<div class="main-content" ng-init="checkUserAccess();getActivityTrackerGraphReport('W');ExportMode=false;common.listDataMode = true;resetFilter();">
    <div class="content-view">
        <div class="container-fluid">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a ng-click="ExportMode=false" class="nav-link active" data-toggle="tab" href="#Chart-view" role="tab" aria-expanded="false">Chart view</a></li>
                <li class="nav-item"><a ng-click="getActivityReport('W');ExportMode=true" class="nav-link" data-toggle="tab" href="#List-view" role="tab" aria-expanded="false">List view</a></li>
                <a ng-if="ExportMode==true" ng-click="getExportToExcelDataActivityReport();" ng-disabled="activityReportList == 0" href class="btn btn-outline-primary  btn-sm btn-icon loading-demo m-b-xs   font-12 pull-right mt-7" aria-disabled="false">
                    <i class="material-icons">file_download</i><span>Export to excel</span>
                </a>
                <select ng-if="ExportMode==false" class="form-control pull-right mt-7 m-r-xs" style="width: 10%" name="Filter" data-placeholder="select filter" ng-model="common.advanceSearchModel.filter.graphtype" validation="required:alt=filter is required" ng-change="getActivityTrackerGraphReport();">
                    <option ng-repeat="filter in reportFilterList" value="{{filter.Id}}"
                            ng-bind="filter.Name"></option>
                </select>
                <select ng-if="ExportMode==true" class="form-control pull-right mt-7 m-r-xs" style="width: 10%" name="Filter1" data-placeholder="select filter" ng-model="common.advanceSearchModel.filter.days" validation="required:alt=filter is required" ng-change="common.listDataMode = true;getActivityReport();">
                    <option ng-repeat="filter in reportFilterList" value="{{filter.Id}}"
                            ng-bind="filter.Name"></option>
                </select>
                <label class="pull-right m-r-xs mt-10">Report by</label>

            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="Chart-view" role="tabpanel" aria-expanded="true">
                    <div class="row">
                        <div class="col-md-12">
                            <canvas id="canvas" style="width: 75%;height: 300px"></canvas>
                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="List-view" role="tabpanel" aria-expanded="true">

                    <div class="no-more-tables dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <table ng-table="activityReportTableParams" class="table table-responsive dataTable datatable" ng-if="activityReportList.length">
                            <caption></caption>
                            <thead>
                                <tr class="card">
                                    <th scope="col">User</th>
                                    <th scope="col">Company</th>
                                    <th scope="col">Company Contact</th>
                                    <th scope="col">Requirement</th>
                                    <th scope="col">Candidate</th>
                                    <th scope="col">Submitted</th>
                                    <th scope="col">Feedback</th>
                                    <th scope="col">Placements</th>
                                    <th scope="col">Notes</th>
                                    <th scope="col"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="activity in activityReportList">
                                    <td data-title="User">
                                        <label class="labelauty-label">
                                            <p class="card-title font-12" ng-bind="activity.OrganizationUser"></p>
                                            <p class="card-title font-12">{{candidate.OrganizationUserContact  ? candidate.OrganizationUserContact : '' | ContactFilter}} </p>
                                        </label>
                                    </td>
                                    <td data-title="Company">
                                        <label class="labelauty-label">
                                            <p class="card-title  font-12" ng-bind="activity.CompanyCount"></p>
                                        </label>
                                    </td>
                                    <td data-title="Company Contact">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="activity.CompanyContactCount"></p>
                                        </label>
                                    </td>
                                    <td data-title="Requirement">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="activity.RequirementCount"></p>
                                        </label>
                                    </td>
                                    <td data-title="Candidate">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="activity.CandidateCount"></p>
                                        </label>
                                    </td>
                                    <td data-title="Submitted">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="activity.SubmissionCount"></p>
                                        </label>
                                    </td>
                                    <td data-title="Feedback">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="activity.SubmissionFeedbackCount"></p>
                                        </label>
                                    </td>
                                    <td data-title="Placements">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="activity.SubmissionFeedbackClosedCount"></p>
                                        </label>
                                    </td>
                                    <td data-title="Notes">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="activity.QNoteActivityCount"></p>
                                        </label>
                                    </td>
                                    <td>
                                        <button ng-click="OpenActivityNoteModal(activity.UserId,activity.OrganizationUser)" type="button" class="btn btn-outline-primary btn-sm m-r-xs loading-demo m-b-xs font-12 mb-0 pull-right">
                                            <i data-toggle="tooltip" title="" data-original-title="View details" class="fa fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!activityReportList.length">
                            <p class="text-shadow lead text-xs-center">
                                <img src="images/search.png" alt="Search Image" /><br /> No records found!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>