﻿<style>
    .graphdesign {
        width: 75%;
        height: 450px !important;
    }
</style>
<div class="main-content" ng-init="checkUserAccess();ExportMode=false;common.listDataMode = true;resetFilter();">
    <div class="content-view" ng-init="getCandidateReport();getCandidateGraphReport()">
        <div class="container-fluid">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a ng-click="ExportMode=false" class="nav-link active" data-toggle="tab" href="#Chart-view" role="tab" aria-expanded="false">Chart view</a></li>
                <li class="nav-item"><a ng-click="ExportMode=true" class="nav-link" data-toggle="tab" href="#List-view" role="tab" aria-expanded="false">List view</a></li>
                <a ng-if="ExportMode==true" ng-click="getExportToExcelDataCandidateReport();" ng-disabled="candidateAddedList == 0" href class="btn btn-outline-primary  btn-sm btn-icon loading-demo m-b-xs   font-12 pull-right mt-7" aria-disabled="false">
                    <i class="material-icons">file_download</i><span>Export to excel</span>
                </a>
                <select ng-if="ExportMode==true" class="form-control pull-right mt-7 m-r-xs" style="width: 10%" name="Filter" ui-select2 data-placeholder="select filter" ng-model="common.advanceSearchModel.filter.days" validation="required:alt=filter is required" ng-change="common.listDataMode = true;getCandidateReport();">
                    <option ng-repeat="filter in reportFilterList" value="{{filter.Id}}"
                            ng-bind="filter.Name"></option>
                </select>
                <select ng-if="ExportMode==false" class="form-control pull-right mt-7 m-r-xs" style="width: 10%" name="Filter" ui-select2 data-placeholder="select filter" ng-model="common.advanceSearchModel.filter.graphtype" validation="required:alt=filter is required"
                    ng-change="common.listDataMode = true;getCandidateGraphReport();">
                    <option value="W">Weekly</option>
                    <option value="M">Monthly</option>
                    <option value="Y">Yearly</option>
                </select>
                <label class="pull-right m-r-xs mt-10">Report by</label>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="Chart-view" role="tabpanel" aria-expanded="true">
                    <div class="row">
                        <div class="col-md-12">
                            <canvas id="canvas" class="graphdesign"></canvas>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="List-view" role="tabpanel" aria-expanded="true">
                    <div class="no-more-tables dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <table ng-table="candidateAddedTableParams" class="table table-responsive dataTable datatable ng-scope ng-table" ng-if="candidateAddedList.length">
                            <caption></caption>
                            <thead>
                                <tr class="card">
                                    <th scope="col">Recruiter</th>
                                    <th scope="col">Created on</th>
                                    <th scope="col">Local</th>
                                    <th scope="col">Monster</th>
                                    <th scope="col">Dice</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="candidate in candidateAddedList">
                                    <td data-title="Recruiter">
                                        <label class="labelauty-label">
                                            <p class="card-title font-12" ng-bind="candidate.Recruiter"></p>
                                            <p class="card-title font-12" ng-bind="candidate.PrimaryEmail"></p>
                                        </label>
                                    </td>
                                    <td data-title="Created on">
                                        <label class="labelauty-label">
                                            <p class="card-title  font-12" ng-bind="candidate.CreatedOn | date:dd/MMM/yyyy"></p>
                                        </label>
                                    </td>
                                    <td data-title="Local">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="candidate.ManuallyCreatedCount"></p>
                                        </label>
                                    </td>
                                    <td data-title="Monster">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="candidate.MonsterCount"></p>
                                        </label>
                                    </td>
                                    <td data-title="Dice">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="candidate.DiceCount"></p>
                                        </label>
                                    </td>
                                    <td data-title="Total">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="candidate.Total"></p>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!candidateAddedList.length">
                            <p class="text-shadow lead text-xs-center">
                                <img src="images/search.png" alt="Search Image" /><br /> No records found!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //......activity bar chart start

    var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    var config1 = {
        type: 'bar',
        data: {
            labels: MONTHS,
            datasets: [{
                label: 'Requirements',
                borderColor: "#d26d54",
                backgroundColor: "#d26d54",
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                ],
            }]
        },
        options: {
            responsive: true,
            title: {
                display: false,

            },
            tooltips: {
                mode: 'index',
            },
            hover: {
                mode: 'index'
            }

        }
    };
    var ctx1 = document.getElementById('canvas').getContext('2d');
    window.myLine = new Chart(ctx1, config1);

    //......activity bar chart ends
</script>