﻿<div class="main-content" ng-init="checkUserAccess();ExportMode=false;common.listDataMode = true;resetFilter();">
    <div class="content-view" ng-init="getClosureTrackerGraphReport('W');getClosureAllCounts()">
        <div class="container-fluid">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a ng-click="ExportMode=false;" class="nav-link active" data-toggle="tab" href="#Chart-view" role="tab" aria-expanded="false">Chart view</a></li>
                <li class="nav-item"><a ng-click="ExportMode=true;ExportMode=true;getClosureReport();" class="nav-link" data-toggle="tab" href="#List-view" role="tab" aria-expanded="false">List view</a></li>
                <select ng-if="ExportMode==true" class="mt-7 form-control pull-right" name="Filter" style="width: 10%" data-placeholder="select filter" ng-model="common.advanceSearchModel.filter.days" validation="required:alt=filter is required" ng-change="common.listDataMode = true;getClosureReport()">
                    <option ng-repeat="filter in reportFilterList" value="{{filter.Id}}"
                            ng-bind="filter.Name"></option>
                </select>
                <select ng-if="ExportMode==false" class="mt-7 form-control pull-right" name="Filter" style="width: 10%" data-placeholder="select filter" ng-model="common.advanceSearchModel.filter.graphtype" validation="required:alt=filter is required" ng-change="getClosureTrackerGraphReport()">
                    <option ng-repeat="filter in reportFilterList" value="{{filter.Id}}"
                            ng-bind="filter.Name"></option>
                </select>
                <label class="pull-right m-r-xs mt-10">Report by</label>
            </ul>
            <div class="tab-content">

                <div class="tab-pane active" id="Chart-view" role="tabpanel" aria-expanded="true">
                    <div class="row">
                        <div class="col-md-9">
                            <canvas id="canvas" style="width: 75%;height: 300px"></canvas>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <div class="card card-block">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                                        <img style="width:40px" src="images/weekly-requirement.png" alt="weekly-requirement Image"/>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 text-xs-center">
                                        <h4 class="m-b-0 v-align-middle text-overflow text-success  "> <span>{{RightSideColsureCounts.WeeklyCount}}</span></h4>
                                        <div class="small text-overflow"> Weekly Closures</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card card-block">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                                        <img style="width:40px" src="images/monthly-requirement.png" alt="monthly-requirement Image" />
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 text-xs-center">
                                        <h4 class="m-b-0 v-align-middle text-overflow text-success "> <span>{{RightSideColsureCounts.MonthlyCount}}</span></h4>
                                        <div class="small text-overflow"> Monthly Closures</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card card-block">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                                        <img style="width:40px" src="images/quarter.png" alt="quarter Image" />
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 text-xs-center">
                                        <h4 class="m-b-0 v-align-middle text-overflow text-success"> <span>{{RightSideColsureCounts.QuaterlyCount}}</span></h4>
                                        <div class="small text-overflow"> Quarterly Closures</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card card-block">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                                        <img style="width:40px" src="images/half-year.png" alt="half-year Image" />
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 text-xs-center">
                                        <h4 class="m-b-0 v-align-middle text-overflow text-success"> <span>{{RightSideColsureCounts.HalfYearlyCount}}</span></h4>
                                        <div class="small text-overflow"> Half Yearly Closures</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card card-block">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                                        <img style="width:40px" src="images/yearly.png" alt="yearly Image"/>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 text-xs-center">
                                        <h4 class="m-b-0 v-align-middle text-overflow text-success"> <span>{{RightSideColsureCounts.YearlyCount}}</span></h4>
                                        <div class="small text-overflow"> Yearly Closures</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane" id="List-view" role="tabpanel" aria-expanded="true">
                    <div class="no-more-tables dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <table ng-table="closureTableParams" class="table table-responsive dataTable datatable ng-scope ng-table" ng-if="closureList.length">
                            <caption></caption>
                            <thead>
                                <tr class="card">
                                    <th scope="col">Requirement Date</th>
                                    <th scope="col">Submission Date</th>
                                    <th scope="col">Recruiter</th>
                                    <th scope="col">Company</th>
                                    <th scope="col">Candidate</th>
                                    <th scope="col">Requirement Title</th>
                                    <th scope="col">Requirement Status</th>
                                    <th scope="col">Submission Status</th>
                                    <th scope="col">Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="submission in closureList">
                                    <td data-title="Requirement Date">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" data-sortable="'JobDetail.CreatedOn'" ng-bind="submission.RequirementDate | date:dd/MMM/yyyy"></p>

                                        </label>
                                    </td>
                                    <td data-title="Submission Date">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" data-sortable="'CreatedOn'" ng-bind="submission.SubmissionDate | date:dd/MMM/yyyy"></p>

                                        </label>
                                    </td>
                                    <td data-title="Recruiter">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" data-sortable="'OrganizationUserDetail.FirstName'" ng-bind="submission.Recruiter"></p>

                                        </label>
                                    </td>
                                    <td data-title="Company">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" data-sortable="'JobDetail.CompanyDetail.Name'" ng-bind="submission.Company"></p>

                                        </label>
                                    </td>
                                    <td data-title="Candidate">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" data-sortable="'CandidateName'" ng-bind="submission.Candidate"></p>
                                        </label>
                                    </td>
                                    <td data-title="Requirement Title">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" data-sortable="'JobDetail.JobTitle'" ng-bind="submission.JobTitle"></p>
                                        </label>
                                    </td>
                                    <td data-title="Requirement Status">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" data-sortable="'JobDetail.JobStatusMaster.Status'" ng-bind="submission.Status"></p>
                                        </label>
                                    </td>
                                    <td data-title="Submission Status">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" data-sortable="'SubmissionStatusMaster.Status'" ng-bind="submission.SubmissionStatus"></p>
                                        </label>
                                    </td>
                                    <td data-title="Remark">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="submission.Remark"></p>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!closureList.length">
                            <p class="text-shadow lead text-xs-center">
                                <img src="images/search.png" alt="Search Image"/><br /> No records found!
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>