﻿<div ng-switch="subview">
    <div ng-switch-when="requirementReport">
        <div ng-include="'views/reports/requirementReport.html'"></div>
    </div>
    <div ng-switch-when="candidateReport">
        <div ng-include="'views/reports/candidateReport.html'"></div>
    </div>
    <div ng-switch-when="submissionReport">
        <div ng-include="'views/reports/submissionReport.html'"></div>
    </div>
    <div ng-switch-when="activityReport">
        <div ng-include="'views/reports/activityReport.html'"></div>
    </div>
    <div ng-switch-when="clientReport">
        <div ng-include="'views/reports/clientReport.html'"></div>
    </div>
    <div ng-switch-when="closureReport">
        <div ng-include="'views/reports/closureReport.html'"></div>
    </div>
</div>