﻿<div class="main-content" ng-init="checkUserAccess();ExportMode=false;common.listDataMode = true;resetFilter()">
    <div class="content-view" ng-init="getRequirementTrackerGraphReport('W');getRequirementAllCounts()">
        <div class="container-fluid">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a ng-click="ExportMode=false" class="nav-link active" data-toggle="tab" href="#Chart-view" role="tab" aria-expanded="false">Chart view</a></li>
                <li class="nav-item"><a ng-click="ExportMode=true;getRequirementTrackerReport();" class="nav-link" data-toggle="tab" href="#List-view" role="tab" aria-expanded="false">List view</a></li>
                <a ng-if="ExportMode==true" ng-click="getExportToExcelDataRequirementTrackerReport();" ng-disabled="requirementTrackerList == 0" href class="btn btn-outline-primary  btn-sm btn-icon loading-demo m-b-xs   font-12 pull-right mt-7" aria-disabled="false">
                    <i class="material-icons">file_download</i><span>Export to excel</span>
                </a>
                <select ng-if="ExportMode==true" class="form-control pull-right mt-7 m-r-xs" style="width: 10%" name="Filter" data-placeholder="select filter" ng-model="common.advanceSearchModel.filter.days" validation="required:alt=filter is required" ng-change="common.listDataMode = true;getRequirementTrackerReport();">
                    <option ng-repeat="filter in reportFilterList" value="{{filter.Id}}"
                            ng-bind="filter.Name"></option>
                </select>
                <select ng-if="ExportMode==false" class="form-control pull-right mt-7 m-r-xs" style="width: 10%" name="Filter" data-placeholder="select filter" ng-model="common.advanceSearchModel.filter.graphtype" validation="required:alt=filter is required" ng-change="getRequirementTrackerGraphReport();">
                    <option ng-repeat="filter in reportFilterList" value="{{filter.Id}}"
                            ng-bind="filter.Name"></option>
                </select>
                <label class="pull-right m-r-xs mt-10">Report by</label>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="Chart-view" role="tabpanel" aria-expanded="true">
                    <div class="row">
                        <div class="col-md-9">
                            <canvas id="canvas" style="width: 75%;height: 300px"></canvas>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <div class="card card-block">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                                        <img style="width:40px" src="images/weekly-requirement.png" alt="weekly-requirement Iamge"/>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 text-xs-center">
                                        <h4 class="m-b-0 v-align-middle text-overflow text-success  "> <span>{{RightSideRequirementCounts.WeeklyCount}}</span></h4>
                                        <div class="small text-overflow"> Weekly Requirements</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card card-block">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                                        <img style="width:40px" src="images/monthly-requirement.png" alt="monthly-requirement Iamge"/>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 text-xs-center">
                                        <h4 class="m-b-0 v-align-middle text-overflow text-success "> <span>{{RightSideRequirementCounts.MonthlyCount}}</span></h4>
                                        <div class="small text-overflow"> Monthly Requirements</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card card-block">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                                        <img style="width:40px" src="images/quarter.png" alt="quarter Image"/>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 text-xs-center">
                                        <h4 class="m-b-0 v-align-middle text-overflow text-success"> <span>{{RightSideRequirementCounts.QuaterlyCount}}</span></h4>
                                        <div class="small text-overflow"> Quarterly Requirements</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card card-block">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                                        <img style="width:40px" src="images/half-year.png" alt="half-year Image"/>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 text-xs-center">
                                        <h4 class="m-b-0 v-align-middle text-overflow text-success"> <span>{{RightSideRequirementCounts.HalfYearlyCount}}</span></h4>
                                        <div class="small text-overflow"> Half Yearly Requirements</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card card-block">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                                        <img style="width:40px" src="images/yearly.png" alt="yearly image" />
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 text-xs-center">
                                        <h4 class="m-b-0 v-align-middle text-overflow text-success"> <span>{{RightSideRequirementCounts.YearlyCount}}</span></h4>
                                        <div class="small text-overflow"> Yearly Requirements</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="List-view" role="tabpanel" aria-expanded="true">
                    <div class="no-more-tables dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <table ng-table="requirementTrackerTableParams" ng-if="requirementTrackerList.length" class="table table-responsive dataTable datatable ng-scope ng-table">
                            <caption></caption>
                            <thead>
                                <tr class="card">
                                    <th scope="col">Requirement</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Company</th>
                                    <th scope="col">Company contact</th>
                                    <th scope="col">Internal submissions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="requirement in requirementTrackerList">
                                    <td data-title="Requirement">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="requirement.JobTitle" ng-if="requirementTrackerColumnsCheckboxes.title"></p>
                                            <p class="card-title display-flex font-12" ng-bind="requirement.RequisitionId"></p>
                                        </label>
                                    </td>
                                    <td data-title="Date">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="requirement.RequirementDate | date:dd/MMM/yyyy" ng-if="requirementTrackerColumnsCheckboxes.date"></p>
                                        </label>
                                    </td>
                                    <td data-title="Company">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="requirement.Company" ng-if="requirementTrackerColumnsCheckboxes.company"></p>
                                            <p class="card-title display-flex font-12">
                                                <a target="_blank" href="{{requirement.CompanyWebsite}}" class="text-primary" ng-bind="requirement.CompanyWebsite"></a>
                                            </p>
                                        </label>
                                    </td>
                                    <td data-title="Company contact">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="requirement.CompanyContact" ng-if="requirementTrackerColumnsCheckboxes.companyContact"></p>
                                            <p class="card-title display-flex font-12" ng-bind="requirement.CompanyContactEmail"></p>
                                        </label>
                                    </td>
                                    <td data-title="Internal submissions">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="requirement.InternalSubmissions" ng-if="requirementTrackerColumnsCheckboxes.internalSubmissions"></p>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!requirementTrackerList.length">
                            <p class="text-shadow lead text-xs-center">
                                <img src="images/search.png" alt="search Image"/><br /> No records found!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    //......activity bar chart start
    if (window.myLine) {
        window.myLine.destroy()
    }

    var randomScalingFactor = function() {
        return Math.round(Math.random() * 100);
    };

    //var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    //var config1 = {
    //    type: 'bar',
    //    data: {
    //        labels: MONTHS,
    //        datasets: [{
    //            label: 'Requirements',
    //            borderColor: "#7fc35c",
    //            backgroundColor: "#7fc35c",
    //            data: [
    //                randomScalingFactor(),
    //                randomScalingFactor(),
    //                randomScalingFactor(),
    //                randomScalingFactor(),
    //                randomScalingFactor(),
    //                randomScalingFactor(),
    //                randomScalingFactor(),
    //                randomScalingFactor(),
    //                randomScalingFactor(),
    //                randomScalingFactor(),
    //                randomScalingFactor(),
    //                randomScalingFactor(),
    //            ],
    //        }]
    //    },
    //    options: {
    //        responsive: true,
    //        title: {
    //            display: false,

    //        },
    //        tooltips: {
    //            mode: 'index',
    //        },
    //        hover: {
    //            mode: 'index'
    //        }

    //    }
    //};



    //    var ctx1 = document.getElementById('canvas').getContext('2d');
    //    window.myLine = new Chart(ctx1, config1);

    //......activity bar chart ends
</script>