﻿<div class="main-content" ng-init="checkUserAccess();ExportMode=false;common.listDataMode = true;resetFilter();">
    <div class="content-view" ng-init="getSubmissionAllCounts();getSubmissionTrackerGraphReport('W');">
        <div class="container-fluid">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a ng-click="ExportMode=false" class="nav-link active" data-toggle="tab" href="#Chart-view" role="tab" aria-expanded="false">Chart view</a></li>
                <li class="nav-item"><a ng-click="ExportMode=true;getSubmissionTrackerReport();" class="nav-link" data-toggle="tab" href="#List-view" role="tab" aria-expanded="false">List view</a></li>
                <a ng-if="ExportMode==true" ng-click="getExportToExcelDataSubmissionTrackerReport();" ng-disabled="submissionTrackerList == 0" href class="btn btn-outline-primary  btn-sm btn-icon loading-demo m-b-xs   font-12 pull-right mt-7" aria-disabled="false">
                    <i class="material-icons">file_download</i><span>Export to excel</span>
                </a>
                <select ng-if="ExportMode==true" class="form-control pull-right mt-7 m-r-xs" style="width: 10%" name="Filter" ui-select2 data-placeholder="select filter" ng-model="common.advanceSearchModel.filter.days" validation="required:alt=filter is required" ng-change="common.listDataMode = true;getSubmissionTrackerReport()">
                    <option ng-repeat="filter in reportFilterList" value="{{filter.Id}}"
                            ng-bind="filter.Name"></option>
                </select>
                <select ng-if="ExportMode==false" class="form-control pull-right mt-7 m-r-xs" style="width: 10%" name="Filter" ui-select2 data-placeholder="select filter" ng-model="common.advanceSearchModel.filter.graphtype" validation="required:alt=filter is required"
                    ng-change="getSubmissionTrackerGraphReport()">
                    <option ng-repeat="filter in reportFilterList" value="{{filter.Id}}"
                            ng-bind="filter.Name"></option>
                </select>
                <label class="pull-right m-r-xs mt-10">Report by</label>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="Chart-view" role="tabpanel" aria-expanded="true">
                    <div class="row">
                        <div class="col-md-9">
                            <canvas id="canvas" style="width: 75%;height: 300px"></canvas>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <div class="card card-block">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                                        <img style="width:40px" src="images/weekly-candidate.png" alt="weekly-candidate Image"/>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 text-xs-center">
                                        <h4 class="m-b-0 v-align-middle text-overflow text-danger  "> <span>{{RightSideSubmissionCounts.WeeklyCount}}</span></h4>
                                        <div class="small text-overflow"> Weekly Submissions Added</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card card-block">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                                        <img style="width:40px" src="images/monthly-candidate.png" alt="monthly-candidate Image"/>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 text-xs-center">
                                        <h4 class="m-b-0 v-align-middle text-overflow text-danger "> <span>{{RightSideSubmissionCounts.MonthlyCount}}</span></h4>
                                        <div class="small text-overflow"> Monthly Submissions Added</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card card-block">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                                        <img style="width:40px" src="images/quarter-candidate.png" alt="quarter-candidate Image"/>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 text-xs-center">
                                        <h4 class="m-b-0 v-align-middle text-overflow text-danger"> <span>{{RightSideSubmissionCounts.QuaterlyCount}}</span></h4>
                                        <div class="small text-overflow"> Quarterly Submissions Added</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card card-block">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                                        <img style="width:40px" src="images/half-year-candidate.png" alt="half-year-candidate Image"/>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 text-xs-center">
                                        <h4 class="m-b-0 v-align-middle text-overflow text-danger"> <span>{{RightSideSubmissionCounts.HalfYearlyCount}}</span></h4>
                                        <div class="small text-overflow"> Half Yearly Submissions Added</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card card-block">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                                        <img style="width:40px" src="images/yearly-candidate.png" alt="yearly-candidate Image" />
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 text-xs-center">
                                        <h4 class="m-b-0 v-align-middle text-overflow text-danger"> <span>{{RightSideSubmissionCounts.YearlyCount}}</span></h4>
                                        <div class="small text-overflow"> Yearly Submissions</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="List-view" role="tabpanel" aria-expanded="true">
                    <div class="no-more-tables dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <table ng-table="submissionTrackerTableParams" class="table table-responsive dataTable datatable ng-scope ng-table" ng-if="submissionTrackerList.length">
                            <caption></caption>
                            <thead>
                                <tr class="card">
                                    <th scope="col">Requirement Date</th>
                                    <th scope="col">Submission Date</th>
                                    <th scope="col">Recruiter</th>
                                    <th scope="col">Company</th>
                                    <th scope="col">Candidate</th>
                                    <th scope="col">Requirement Title</th>
                                    <th scope="col">Requirement Status</th>
                                    <th scope="col">Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="submission in submissionTrackerList">
                                    <td data-title="Requirement Date">
                                        <label class="labelauty-label">
                                            <p class="card-title font-12" data-sortable="'JobDetail.CreatedOn'" ng-bind="submission.RequirementDate | date:dd/MMM/yyyy"></p>
                                        </label>
                                    </td>
                                    <td data-title="Submission Date">
                                        <label class="labelauty-label">
                                            <p class="card-title  font-12" data-sortable="'CreatedOn'" ng-bind="submission.SubmissionDate | date:dd/MMM/yyyy"></p>
                                        </label>
                                    </td>
                                    <td data-title="Recruiter">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" data-sortable="'OrganizationUserDetail.FirstName'">{{submission.Recruiter}}</p>
                                        </label>
                                    </td>
                                    <td data-title="Company">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" data-sortable="'JobDetail.CompanyDetail.Name'" ng-bind="submission.Company"></p>
                                        </label>
                                    </td>
                                    <td data-title="Candidate">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" data-sortable="'CandidateName'" ng-bind="submission.Candidate"></p>
                                        </label>
                                    </td>
                                    <td data-title="Requirement Title">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" data-sortable="'JobDetail.JobTitle'" ng-bind="submission.JobTitle"></p>
                                        </label>
                                    </td>
                                    <td data-title="Requirement Status">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" data-sortable="'JobDetail.JobStatusMaster.Status'" ng-bind="submission.Status"></p>
                                        </label>
                                    </td>
                                    <td data-title="Remark">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="submission.Remark"></p>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!submissionTrackerList.length">
                            <p class="text-shadow lead text-xs-center">
                                <img src="images/search.png" alt="Search Image"/><br /> No records found!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //......activity bar chart start

    var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    var config1 = {
        type: 'bar',
        data: {
            labels: MONTHS,
            datasets: [{
                label: 'Requirements',
                borderColor: "#d26d54",
                backgroundColor: "#d26d54",
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                ],
            }]
        },
        options: {
            responsive: true,
            title: {
                display: false,

            },
            tooltips: {
                mode: 'index',
            },
            hover: {
                mode: 'index'
            }

        }
    };
    var ctx1 = document.getElementById('canvas').getContext('2d');
    window.myLine = new Chart(ctx1, config1);

    //......activity bar chart ends
</script>