<div class="brand m-l-2">
    <!-- toggle offscreen menu -->
    <a href="javascript:;" ng-click="main.toggleMenu()" class="toggle-offscreen hidden-lg-up">
        <i class="material-icons">menu</i>
    </a>
    <!-- /toggle offscreen menu -->
    <!-- logo -->
    <a class="brand-logo" ng-href="#/home">
        <img class="expanding-hidden" ng-src="{{configuration.XSEED_APP_LOGO_PATH}}" alt="" />
    </a>
    <!--a href="#" class="small-menu-visible brand-logo"><b>C</b></a-->
    <!-- /logo -->
</div>

<div class="nav-profile" uib-dropdown>
    <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle>
        <div class="user-image">
            <img ng-if="userDetails.ProfileImage" ng-src="{{ userDetails.ProfileImage }}" lazy-src class="avatar-3wh img-circle" title="user" />
            <img ng-if="!userDetails.ProfileImage" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src class="avatar-3wh img-circle" title="user" />
        </div>
        <div class="user-info expanding-hidden">
            <span>Admin</span>
            <!--<span ng-bind="userDetails.LastName"></span>-->
            <small class="bold">Application Super Admin</small>
        </div>
    </a>
    <!--<div class="dropdown-menu" uib-dropdown-menu>
        <a class="dropdown-item" href="javascript:;">Settings</a>
        <a class="dropdown-item" href="javascript:;">Upgrade</a>
        <a class="dropdown-item" href="javascript:;">
            <span class="label bg-danger pull-right">34</span>
            <span>Notifications</span>
        </a>
        <div class="dropdown-divider">
        </div>
        <a class="dropdown-item" href="javascript:;">Help</a>
        <a class="dropdown-item" ng-click="logOut()">Logout</a>
    </div>-->
</div>
<!-- main navigation -->
<nav role="navigation" side-navigation>
    <ul class="nav">
        <!-- dashboard -->
        <li ui-sref-active="active">
            <a ng-href="#/home">
                <i class="material-icons text-primary">home</i>
                <span>Home</span>
            </a>
        </li>
        <!--<li ui-sref-active="active">
            <a ng-href="#/home">
                <i class="material-icons text-primary">home</i>
                <span>Openings</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ng-href="#/home">
                <i class="material-icons text-primary">home</i>
                <span>Status</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ng-href="#/home">
                <i class="material-icons text-primary">home</i>
                <span>Settings</span>
            </a>
        </li>-->

    </ul>
</nav>
<!-- /main navigation -->
