﻿<div class="row animated fadeIn" ng-init="clearChangePasswordModel()">
    <div class="card col-sm-10">
        <div class="card-block clearfix">
            <form class="form-horizontal row" name="changePasswordForm" novalidate>
                <div id="additional-details">
                    <fieldset class="form-group row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>Current password <span class="bold text-red">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                <input type="password"
                                       class="form-control"
                                       id="oldPassword"
                                       placeholder="Current Password"
                                       name="oldPassword"
                                       friendly-name="Current password"
                                       block-clipboard
                                       ng-model="changePasswordModel.OldPassword"
                                       autocomplete="off"
                                       validation="required|xseed_password|min_len:8|max_len:16" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>New password <span class="bold text-red">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="newPassword"
                                       placeholder="New Password"
                                       name="candidateLogin.newPassword"
                                       ng-model="changePasswordModel.NewPassword"
                                       friendly-name="New password"
                                       block-clipboard
                                       autocomplete="off"
                                       validation="required|xseed_password|min_len:8|max_len:16|xseed_password_different:changePasswordModel.OldPassword,New password, Current password" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>Confirm new password <span class="bold text-red">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                <input type="password" class="form-control"
                                       placeholder="Confirm Password"
                                       name="candidateLogin.confirmPassword"
                                       block-clipboard
                                       ng-model="changePasswordModel.ConfirmPassword"
                                       autocomplete="off"
                                       friendly-name="Confirm new password"
                                       validation="required|min_len:8|max_len:16|xseed_password_match:changePasswordModel.NewPassword,Confirm new password,New password" />
                            </div>
                        </div>
                    </fieldset>
                </div>
                <fieldset class="form-group row">
                    <div class="col-sm-12">
                        <div class="col-sm-4 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary btn-sm small" ng-click="changePassword(changePasswordForm);">Submit</button>
                            <button type="submit" class="btn btn-secondary btn-sm small" ng-click="gotoDashboard();">Cancel</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>