﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="width:100% !important;height:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;line-height:1.4;background-color:#F2F4F6;color:#74787E;-webkit-text-size-adjust:none;">
    <table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" style="width:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-color:#F2F4F6;">
        <tr>
            <td align="center">
                <table class="email-content" width="100%" cellpadding="0" cellspacing="0" style="width:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                    <!-- Logo -->
                    <tr>
                        <td class="email-masthead" style="padding-top:25px;padding-bottom:25px;padding-right:0;padding-left:0;text-align:center;">
                            <a class="email-masthead_name" style="font-size:16px;font-weight:bold;color:#bbbfc3;text-decoration:none;text-shadow:0 1px 0 white;">XSeed.Com</a>
                        </td>
                    </tr>
                    <!-- Email Body -->
                    <tr>
                        <td class="email-body" width="100%" style="width:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-top-width:1px;border-top-style:solid;border-top-color:#EDEFF2;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#EDEFF2;background-color:#FFF;">
                            <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0" style="width:570px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                                <!-- Body content -->
                                <tr>
                                    <td class="content-cell" style="padding-top:35px;padding-bottom:35px;padding-right:35px;padding-left:35px;">
                                        <h1 style="margin-top:0;color:#2F3133;font-size:19px;font-weight:bold;text-align:left;">Hi,</h1>
                                        <p style="margin-top:0;color:#74787E;font-size:16px;line-height:1.5em;text-align:left;">mail_body</p>
                                        <p style="margin-top:0;color:#74787E;font-size:16px;line-height:1.5em;text-align:left;">Candidate resume file(s) attached</p>
                                        <!-- Action -->

                                        <p style="margin-top:0;color:#74787E;font-size:16px;line-height:1.5em;text-align:left;">Thanks,<br>XSeed.Com Team</p>
                                        <p style="margin-top:0;color:#74787E;font-size:16px;line-height:1.5em;text-align:left;"><strong>P.S.</strong> Need help getting started? Check out our help documentation. Or, just reply to this email with any questions or issues you have. The XSeed.Com support team is always excited to help you.</p>
                                        <!-- Sub copy -->
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0" style="width:570px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;">
                                <tr>
                                    <td class="content-cell" style="padding-top:35px;padding-bottom:35px;padding-right:35px;padding-left:35px;">
                                        <p class="sub center" style="margin-top:0;line-height:1.5em;color:#AEAEAE;font-size:12px;text-align:center;">&copy; 2016 XSeed.Com. All rights reserved.</p>
                                        <p class="sub center" style="margin-top:0;line-height:1.5em;color:#AEAEAE;font-size:12px;text-align:center;">
                                            XSeed.Com
                                            <!-- <br>{{product_address_line1}}
                                            <br>{{product_address_line2}} -->
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
