/* Generic styles start */

body, html {
    min-height: 100%;
    height: 100%;
    word-wrap: break-word;
}

body {
    color: rgba(0, 0, 0, 0.8);
}
/*.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
/*}*/
/*.page-footer, .push {*/
/*height: 40px;*/ /* .push must be the same height as .footer */
/*}*/

/*.navbar.navbar-default {
    margin-bottom: 0px;
    border-top: 0px;
    border-radius: 0;
}

.navbar-bg {
    min-height: 65px;
    background: linear-gradient(to bottom, rgb(203, 203, 203) 0%, rgb(241, 241, 241) 100%) !important;
    margin-bottom: 0px;
}*/

/*.page-container {
    width: 100%;
}

.bg-white-gray {
    background-color: #f7f7f7;
}*/


/*.form-control {
    border-radius: 0px;
    border: solid 1px #abadb3;
    height: 30px;
    font-size: 14px;
    color: #000;
    padding: 5px 10px;
}*/

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0px;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-left-5 {
    padding-left: 5px;
}

.max-width-200 {
    max-width: 200px !important;
}

.space-10 {
    padding: 10px 0px;
}

.min-height-50 {
    min-height: 50px;
}

.min-height-65 {
    min-height: 65px;
}

.min-height-80 {
    min-height: 80px;
}

.min-height-100 {
    min-height: 100px;
}

.min-height-150 {
    min-height: 150px;
}

.min-height-200 {
    min-height: 200px;
}

.width-100 {
    width: 100% !important;
}

.padding-left-100 {
    padding-left: 100px;
}

.width-120 {
    width: 120px;
}

.width-140 {
    width: 140px;
}

.width-150 {
    width: 150px;
}

.width-160 {
    width: 160px;
}

.select2-container {
    width: 100%;
    /*border: 1px solid #ddd;
    border-radius: 2px;*/
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-weight-medium {
    font-weight: 500;
}

.padding-md {
    padding: 4px 8px;
}

/*.select2-container .select2-choice {
        line-height: 27px;
        height: 30px;
        padding: 0 .65rem;
    }*/

label {
    margin-bottom: .3rem;
    font-weight: 600;
}
/*.form-control {
    padding: .345rem .65rem;
    font-size: 0.875rem;
    line-height: 1.2;
}*/
.text-underline {
    text-decoration: underline;
}

.profile-img {
    width: 120px;
}

.logo-img {
    width: 150px;
}

.cmpny-logo {
    max-width: 100px;
    max-height: 60px;
}

.cmpny-list-logo {
    width: 80px;
    height: 40px;
}

.modal-60 {
    width: 60% !important;
}

.sectionHighlight {
    padding: 2px 8px;
    background-color: #e7e7e7;
    color: #222;
    line-height: 1.6rem;
    margin: auto;
}

.text-muted {
    color: #666 !important;
}

::-webkit-input-placeholder {
    font-style: italic;
    font-size: 0.875rem;
    text-transform: lowercase;
}

::-moz-placeholder {
    font-style: italic;
    font-size: 0.875rem;
    text-transform: lowercase;
}
/* firefox 19+ */
:-ms-input-placeholder {
    font-style: italic;
    font-size: 0.875rem;
    text-transform: lowercase;
}
/* ie */
input:-moz-placeholder {
    font-style: italic;
    font-size: 0.875rem;
    text-transform: lowercase;
}

.label-md {
    padding: .40em;
    font-size: 80%;
}

.label-lg {
    padding: .90em;
    font-size: 80%;
}

.avatar-2wh {
    width: 2rem;
    height: 2rem;
}

.avatar-3wh {
    width: 3rem;
    height: 3rem;
}

.avatar-4wh {
    width: 4rem;
    height: 4rem;
}

.avatar-5wh {
    width: 5rem;
    height: 5rem;
}

.avatar-6wh {
    width: 6rem;
    height: 6rem;
}

.avatar-7wh {
    width: 7rem;
    height: 7rem;
}

.border-radius-4 {
    border-radius: 6px;
}

.break-word {
    word-break: break-all;
}

.zindex-auto {
    z-index: auto;
}

.main-panel > .main-content > .content-view {
    padding: 1.2rem;
    /*-webkit-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;*/
}


.table tbody tr:hover a {
    color: #666;
}

.table td {
    vertical-align: middle;
    padding-left: 0.70rem;
    padding-right: 0.70rem;
}

.ng-table th {
    text-align: left;
    font-weight: 600;
}


/* pace status bar */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #1ab5e2;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.errorMsg {
    color: red;
}

.ngErrorMsg {
    color: red;
}

.search-form .material-icons {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -12px;
}

.search-form .form-control {
    padding: .535rem .75rem;
    cursor: text;
    text-indent: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
}

    .search-form .form-control:focus {
        border-bottom: 2px solid #4c7ff0;
    }

@media (max-width: 991px) {
    .message-view, .contact-view {
        z-index: 1000;
    }
}
/*ul.pagination {
    border-radius: 2px;
    list-style: none;
}

    ul.pagination li {
        display: inline-block;
        padding: 0px 10px;
        background-color: #e8e8e8;
        margin: 0px 5px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 7px 0px;
        text-align: center;
    }

        ul.pagination li:first-child, ul.pagination li:last-child {
            background-color: transparent;
            font-size: 25px;
        }

        ul.pagination li.active {
            background-color: #4c7ff0;
        }*/
/*.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination > li {
        display: inline;
    }

        .pagination > li > a, .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .pagination > li:first-child > a, .pagination > li:first-child > span {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

    .pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
    }

    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }

    .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
        color: #23527c;
        background-color: #eee;
        border-color: #ddd;
    }*/

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: auto;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 2px;
    background-color: #fff;
    box-shadow: 0px 1px 2px #ddd;
}

    .pagination > li {
        display: inline;
    }

        .pagination > li > a, .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #333;
            text-decoration: none;
            margin: auto 2px;
            font-size: 14px;
        }

        .pagination > li:first-child > a, .pagination > li:first-child > span {
            border-right: 1px solid #eee;
        }

        .pagination > li:last-child > a, .pagination > li:last-child > span {
            border-left: 1px solid #eee;
        }

        .pagination > li:first-child > a, .pagination > li:first-child > span,
        .pagination > li:last-child > a, .pagination > li:last-child > span {
            margin-left: 0;
            /*border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;*/
            /*border-radius:4px;*/
        }

    .pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
    }

    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #4c7ff0;
        border-color: #337ab7;
        border-radius: 4px;
        z-index: auto;
    }

    .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
        color: #23527c;
        background-color: #eee;
        border-color: #ddd;
    }


/*.sidebar-panel .nav-profile .uib-dropdown-menu, .sidebar-panel .nav-profile .dropdown-menu {
    left: 40%;
    width: 60%;
}*/

/*.sidebar-panel {
    width: 15rem;
}*/

/*.sidebar-panel .nav-profile a.dropdown-toggle::after {
        right: 4rem;
    }*/

.brand .brand-logo img {
    max-height: 100%;
}

.data-placeholder {
    font-size: 0.875rem;
    font-style: italic;
    text-transform: lowercase;
}
/* AngularJS Form validation styling */
.validation.help-block {
    color: #E07676;
    font-style: italic;
}

/* invalid & (dirty or touched) => red -- CSS3 only */
.ng-invalid.ng-dirty:not(:focus),
.ng-invalid.ng-touched:not(:focus) {
    border-color: #e74c3c;
}

/* valid & dirty => green */
.ng-valid.ng-dirty.ng-touched {
    border-color: #2ecc71;
}

/* error display font italic, text-danger is red in BS */
.validation.text-danger {
    font-style: italic;
}

/* AngularJS Form validation styling */


.modal-backdrop {
    z-index: 0;
}

.datepicker.dropdown-menu {
    z-index: 1151;
    /*background-color:#FFF;*/
}

.content-footer {
    z-index: auto;
}

.modal-body {
    padding: 25px;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }

/*Dropdown filter*/
ul.level-2 {
    display: none;
    position: absolute;
    background-color: #FFF;
    border: solid 1px #CCC;
    list-style-type: none;
    left: 50%;
    margin: 0px;
    min-height: 150px;
    max-height: 300px;
    overflow-y: scroll;
    padding: 0;
    border-radius: 4px;
    padding-top: 4px;
    min-width: 180px;
    width: auto;
    word-break: break-all;
    top: 30%;
    z-index: 1;
}

    ul.level-2 > li {
        padding: 0px 0px 0px 15px;
    }

    ul.level-2 > span {
        width: 100%;
    }

    ul.level-2 label {
        width: 86% !important;
    }

    ul.level-2 > li:hover {
        background-color: #ddd;
    }

ul.filter-menu {
    list-style: none;
    border: solid 1px #CCC;
    margin: 0px;
}

    ul.filter-menu > li {
        height: auto;
        line-height: 30px;
    }

        ul.filter-menu > li:hover {
            background-color: #ddd;
        }

    ul.filter-menu > li {
        position: relative;
        padding: 0px 0px 0px 15px;
        height: 30px;
        min-width: 40px;
        line-height: 30px;
    }

        ul.filter-menu > li > a {
            font-size: 16px;
        }

        ul.filter-menu > li:hover ul.level-2 {
            display: block;
        }

/*Tag box*/
.tag {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}


/*scroll bar style*/
/*Default for all*/
.slimScroll::-webkit-scrollbar {
    width: 8px;
}

.slimScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #F7F9F9;
    border-radius: 10px;
    background-color: #fff;
}

.slimScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,.2);
}

.slimScroll::-webkit-scrollbar {
    height: 8px;
}

.slimScroll::-webkit-scrollbar-button:horizontal:decrement:hover {
    color: red;
}

/*Custom scroll for tab only*/
.tab-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #F7F9F9;
    border-radius: 10px;
    background-color: #fff;
}

.tab-content::-webkit-scrollbar {
    width: 8px;
}

.tab-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,.2);
}

/*xs margin*/
.m-a-xs {
    margin: 5px;
}

.m-t-xd {
    margin-top: 4px;
}

/*xs padding*/
.p-a-xxs {
    padding: 2px !important;
}

/*button xseed*/
.btn-xseed {
    background-color: #01aab5;
    border-color: #01aab5;
    color: #fff;
}

    .btn-xseed:hover {
        background-color: #018f98;
        color: #fff;
    }

/*background xseed color*/
.bg-xseed {
    background-color: #5ac8cf;
    color: rgba(0, 0, 0, 0.8);
}

/*lable xseed*/
.label-xseed {
    background-color: #018f98;
}

/*border-right*/
.border-r-dark {
    border-right: 2px solid #34495E;
}


/*input type placeholder*/
/*.input-border-b input {
    border: none;
    border-bottom: 1px solid #ddd !important;
    color: #8c8c8c;
}*/

.select2-container > a:link {
    border: none;
    border-bottom: 1px solid #ddd !important;
}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-style: normal;
    color: #d0cdcd;
}

input::-moz-placeholder { /* Firefox 19+ */
    font-style: normal;
    color: #d0cdcd;
}

input::-ms-input-placeholder { /* IE 10+ */
    font-style: normal;
    color: #d0cdcd;
}

input::-moz-placeholder { /* Firefox 18- */
    font-style: normal;
    color: #d0cdcd;
}

input[type="text"]:focus {
    border: 1px solid #4c7ff0 !important;
}
/*.select2-container-active .select2-choice, .select2-container-active .select2-choices a:link{
    border:1px solid #4c7ff0 !important;
}*/
.noFocus input[type="text"]:focus {
    border: none !important;
    border-bottom: 1px solid #4c7ff0 !important;
}

.select2-choices {
    border: none !important;
}

.select2-container > a:link {
    padding: 0 0 0 4px !important;
}

.select2-arrow {
    width: 20px !important;
}
/*border dark*/
.border-dark {
    border: 1px solid #b7b3b3;
}

.grid {
    max-height: 240px;
}

/*Height of QNote*/
.height-20 {
    height: 0;
    padding-bottom: 24%;
}

/*Table responsive media query*/
@media (min-width:1366px) and (max-width:1920px) {
    .grid {
        width: 79rem;
    }
}

@media (min-width:1280px) and (max-width:1365px) {
    .grid {
        width: 75rem;
    }

    .height-20 {
        padding-bottom: 35%;
    }
}

@media (min-width:768px) and (max-width:1024px) and (orientation : landscape) {
    .grid {
        width: 58rem;
    }
}

@media (min-width:768px) and (max-width:1024px) and (orientation : portrait) {
    .grid {
        width: 47rem;
    }
}

/*Table body scrollable*/

.fixed_headers tbody {
    display: block;
    max-height: 245px;
    overflow-y: scroll;
}

.fixed_headers td, .fixed_headers th {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.td-col-md th {
    width: 160px;
}

.td-col-md td {
    width: 160px;
    border: none;
}

.td-col-lg th {
    width: 312px;
}

.td-col-lg td {
    width: 312px;
    border: none;
}

.td-col-sm th {
    width: 120px;
}

.td-col-sm td {
    width: 120px;
    border: none;
}

    .td-col-sm td:last-child, .td-col-sm th:last-child {
        width: 130px;
    }

.fixed_headers tr:hover {
    cursor: pointer;
}

.fixed_headers .ng-table-counts {
    position: absolute;
    right: 0;
}

.fixed_headers .pagination {
    position: absolute;
    left: 0;
}

.fixed_headers .ng-table-pager {
    display: block;
    width: 100%;
    height: 30px;
}

.fixed_headers-col-1-xs td:first-child, .fixed_headers-col-1-xs th:first-child {
    width: 60px;
    height: 26.59px;
}

    .fixed_headers-col-1-xs td:first-child:hover {
        box-shadow: none;
        min-width: 40px;
    }

.tab-content-scroll .tab-content {
    height: 0;
    padding-bottom: 20%;
    overflow: scroll;
}

.m-auto {
    margin: auto;
}
/*Tab top button bg color*/
.nav-tabs .nav-item .nav-link.active {
    background-color: #4c7ff0;
    color: white;
}

/*ng-table list counter*/
.pagination > li > a, .pagination > li > span {
    padding: 2px 4px;
}

/*pagination for message layout*/
.pagination-small .ng-table-counts {
    width: 100%;
}

.pagination-small .pagination {
    width: 100%;
}

    .pagination-small .pagination a {
        padding: 4px 6px;
    }

    .pagination-small .pagination li {
        padding: 0px;
        float: left;
    }

.pagination-fixed-bottom .ng-table-pager {
    position: relative;
    bottom: -3px;
}
/*end ng-table list counter*/

.ng-table-counts::before {
    content: "List count";
    padding: 4px;
}

.ng-table-counts {
    display: inline-flex;
    padding-left: 0;
    margin: auto;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 0;
    background-color: #fff;
    box-shadow: 0px 1px 2px #ddd;
}

    .ng-table-counts .btn {
        padding: 4px 8px;
        font-size: 14px;
        border: none;
        background-color: #fff;
    }
/*side bar panel fixed*/
.offcanvas .sidebar-panel-fixed {
    position: absolute;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.sidebar-panel-fixed {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: -moz-flex;
    display: -ms-flexbox;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    background-color: none;
    width: 68px;
    left: 15px;
    text-align: center;
}

    .sidebar-panel-fixed li {
        padding-top: 20px;
    }

    .sidebar-panel-fixed a:link {
        text-decoration: none;
    }

    .sidebar-panel-fixed .nav > li > a:hover, .sidebar-panel-fixed .nav > li > a:focus {
        background: none;
    }

@media (min-width: 992px) {
    .offcanvas .main-panel > .main-content > .content-view, .header-secondary + .main-content > .content-view {
        width: 96%;
        margin-right: 0;
        margin-left: auto;
    }
}

/*Tab*/
.nav-tabs .nav-item .nav-link.active {
    background: none;
    border: none;
    color: black;
    border-bottom: 2px solid #4c7ff0;
}

.nav-tabs .nav-item .nav-link:hover, .nav-tabs .nav-item .nav-link:hover, .nav-tabs .nav-item .nav-link:focus {
    background: none;
    border: none;
    color: black;
    border-bottom: 2px solid #4c7ff0;
}

.contacts-container .contacts-list {
    background-color: #fafafa;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }

.text-linkedin {
    color: #007bb6;
}

.text-facebook {
    color: #3b5998;
}

.text-twitter {
    color: #55acee;
}

.text-google-plus {
    color: #dd4b39;
}

.text-grey-dark {
    color: #666;
}

.text-default {
    color: rgba(0,0,0,.8) !important;
}
/*Comment box*/
.comment-box {
    border-radius: 4px;
}

    .comment-box::after {
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        display: block;
        border-width: 12px 10px 14px 0px;
        border-style: solid;
        border-color: transparent #f5f5f5;
        top: 8px;
        left: -8px;
    }

/*bg more light grey color*/
.bg-grey-ex-light {
    background-color: #f7f7f7;
}

/*Acitity section steps*/
.activity-feed {
    padding: 15px;
}

    .activity-feed .feed-item {
        display: inline-block;
        position: relative;
        border-left: 2px solid #9a9a9a;
        border-bottom: 2px solid #fdfdfd;
        background-color: #f7f7f7;
        border-radius: 4px;
        width: 100%;
    }

        .activity-feed .feed-item:last-child {
            border-color: transparent;
        }

        .activity-feed .feed-item:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -4px;
            width: 7px;
            height: 7px;
            border-radius: 6px;
            background: #4c7ff0;
            border: 1px solid #b3b3b3;
        }

        .activity-feed .feed-item .date {
            position: relative;
            top: -5px;
            color: #8c96a3;
            text-transform: uppercase;
            font-size: 13px;
        }

        .activity-feed .feed-item .text {
            position: relative;
            top: -3px;
        }

input[readonly].readOnlyTransperent {
    color: #55595c;
    background-color: #fff;
}

/*full width blur effect*/
.blur-8 {
    opacity: 0.8;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.ng-table-pagination::before {
    content: 'Pages';
    float: left;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #07588F;
    border-bottom: 8px solid #07588F;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    text-align: left;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*default dark color*/
.text-dark-default {
    color: rgba(0, 0, 0, 0.8) !important;
}

/*validation message*/
.err-b .validation {
    top: 20px;
    position: relative;
    font-weight: 500;
}

/*tag notification position*/
.main-panel > .header-secondary .navbar-nav .dropdown-toggle > .label, .main-panel > .header .navbar-nav .dropdown-toggle > .tag {
    position: absolute;
    top: 50%;
    font-weight: 800;
    margin-top: -10px;
    right: 0;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.1);
}
/*font size 12*/
.font-12 {
    font-size: 12px;
}
/*margin buttom extra small*/
.m-b-2xs {
    margin-bottom: 0.2rem !important;
}

.p-b-2x {
    padding-bottom: 0.2rem;
}

.m-r-2xs {
    margin-right: 0.2rem !important;
}

.m-l-2xs {
    margin-right: 0.2rem !important;
}

.bg-default-round {
    display: inline-block;
    padding: 0.3rem;
    border-radius: 50%;
    background: rgba(222, 222, 222, 0.22);
}

/*modal popup responsive for iPad portrait*/
@media (min-width: 768px) and (max-width:1024px) {
    .modal-lg {
        width: 750px !important;
    }
}
/*Compose mail box border*/
.note-editor.note-frame {
    border-color: #e8e8e8 !important;
}

.parallax-scroll {
    position: relative;
    background-attachment: fixed;
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover !important;
}

.blur-2 {
    opacity: 0.2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

/*small notification circles*/
.notification-bar-icon-small div {
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #fff;
}

.notification-bar-icon-small i {
    position: absolute;
    top: 50%;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    background-color: #7fc35c;
    left: 50%;
    margin: -0.9375rem 0 0 -0.9375rem;
}
/*No records found class*/
.no-record-block {
    border: 3px dashed #bbb !important;
    border-radius: 4px;
}

/*Select 2 dropdown arrow*/
.select2-container .select2-choice .select2-arrow{
    height:0 !important;
}

.create{
    color:#4cc3f0 !important;
    border:1px solid #4cc3f0;
    border-radius:4px;
    font-weight:600;
    font-style:normal;
    text-decoration:underline;
}
