<div class="block-ui-overlay"></div>
<div class="block-ui-message-container" aria-live="assertive" aria-atomic="true">
    <div class="block-ui-message" ng-class="$_blockUiMessageClass">
      <div class="processingIcon"></div><p class="text-center">{{ state.message }}</p>
    </div>
</div>
