<!--<section>
<h1>Landing Index</h1>
</section>-->
<!--
  sidebar panel
-->
<div class="app expanding fixed-header" ui-view style="height:100vh;" ng-class="{'offcanvas': main.app.offcanvas, 'expanding': main.app.expanding, 'fixed-header': main.app.fixedHeader, 'static': main.app.static, 'message-open': main.app.isMessageOpen, 'contact-open': main.app.isContactOpen}">
    <div class="off-canvas-overlay" ng-click="main.toggleMenu()"></div>
    <!--<div class="sidebar-panel" ng-include="'views/common/sidebar-panel.html'" menu-panel show="main.menu"></div>-->
    <!-- /sidebar panel -->
    <!-- content panel -->
    <div class="main-panel">
        <!-- top header -->
        <!--<nav class="header navbar">
            <div ng-include="'views/common/header.html'"></div>
        </nav>-->
        <!-- /top header -->
        <!-- horizontal menu header -->
        <!--nav class="header-secondary navbar bg-faded shadow" ng-include="'views/common/secondary-header.html'"></nav-->
        <!-- /horizontal menu header -->
        <!-- main area -->
        <div class="main-content">
            <div class="content-view">
                <div ng-switch="subview">
                    <div ng-switch-when="login">
                        <div ng-include=" 'views/login.html' "></div>
                    </div>
                    <div ng-switch-when="register">
                        <div ng-include=" 'views/register.html' "></div>
                    </div>
                    <div ng-switch-when="candidateRegistration">
                        <div ng-include=" 'views/candidateRegistration.html' "></div>
                    </div>
                    <div ng-switch-when="forgotPassword">
                        <div ng-include=" 'views/forgotPassword.html' "></div>
                    </div>
                    <div ng-switch-when="resetPassword">
                        <div ng-include=" 'views/resetPassword.html' "></div>
                    </div>
                    <div ng-switch-when="test">
                        <div ng-include=" 'views/test.html' "></div>
                    </div>
                </div>
            </div>
            <!-- bottom footer -->
            <div class="content-footer" ng-include="'views/common/footer.html'"></div>
            <!-- /bottom footer -->
        </div>
        <!-- /main area -->
    </div>
    <!-- /content panel -->
    <!-- options panel -->
    <!--<div class="configuration layout-column flex hidden-sm-down" ng-include="'views/common/options.html'"
         ng-class="{'active': main.app.options}"></div>-->
    <!-- /options panel -->

</div>