<!--
  sidebar panel
-->
<div class="app expanding fixed-header" ui-view style="height:100vh;" ng-class="{'offcanvas': main.app.offcanvas, 'expanding': main.app.expanding, 'fixed-header': main.app.fixedHeader, 'static': main.app.static, 'message-open': main.app.isMessageOpen, 'contact-open': main.app.isContactOpen}">
    <div class="off-canvas-overlay" ng-click="main.toggleMenu()"></div>
    <div class="sidebar-panel" ng-include="'views/common/sidebar-panel.html'" menu-panel show="main.menu"></div>
    <!-- /sidebar panel -->
    <!-- content panel -->
    <div class="main-panel">
        <!-- top header -->
        <nav class="header navbar">
            <div ng-include="'views/common/header.html'"></div>
        </nav>
        <!-- /top header -->
        <!-- horizontal menu header -->
        <!--nav class="header-secondary navbar bg-faded shadow" ng-include="'views/common/secondary-header.html'"></nav-->
        <!-- /horizontal menu header -->
        <!-- main area -->
        <div class="main-content">
            <div class="content-view">
                <div ng-switch="subview">

                    <div ng-switch-when="home">
                        <div ng-include=" 'views/home.html' "></div>
                    </div>

                    <div ng-switch-when="apiLogDetail">
                        <div ng-include=" 'views/apiLogDetail.html' "></div>
                    </div>

                    <div ng-switch-when="test">
                        <div ng-include=" 'views/test.html' "></div>
                    </div>

                    <div ng-switch-when="recruiterDashboard">
                        <div ng-include=" 'views/recruiter/recruiterDashboard.html' "></div>
                    </div>

                    <div ng-switch-when="candidatesMain">
                        <div ng-include=" 'views/candidates/candidates.html' "></div>
                    </div>

                    <div ng-switch-when="regOrganization">
                        <div ng-include=" 'views/organization/registerOrg.html' "></div>
                    </div>
                    <!-- organization -->
                    <div ng-switch-when="organization" ng-controller="OrganizationCtrl">
                        <div ng-include=" 'views/organization/organization.html' "></div>
                    </div>
                    <!-- organization -->
                    <!-- Company -->
                    <div ng-switch-when="company" ng-controller="CompanyCtrl">
                        <div ng-include=" 'views/company/company.html' "></div>
                    </div>
                    <!-- Company -->
                    <!-- Requirements -->
                    <div ng-switch-when="requirement" ng-controller="RequirementCtrl">
                        <div ng-include=" 'views/requirement/requirement.html' "></div>
                    </div>
                    <!-- Requirements -->
                    <!-- RequirementQueue -->
                    <div ng-switch-when="createRequirementQueue">
                        <div ng-include=" 'views/requirementQueue/createRequirementQueue.html' "></div>
                    </div>
                    <!-- RequirementQueue -->
                    <!-- Candidate -->
                    <div ng-switch-when="candidate" ng-controller="CandidateCtrl">
                        <div ng-include=" 'views/candidate/candidate.html' "></div>
                    </div>
                    <!-- Candidate -->

                    <div ng-switch-when="changePassword">
                        <div ng-include=" 'views/users/changePassword.html' "></div>
                    </div>

                    <!-- Query Builder -->
                    <div ng-switch-when="queryBuilder" ng-controller="QueryBuilderCtrl">
                        <div ng-include=" 'views/queryBuilder/queryBuilder.html' "></div>
                    </div>
                    <!-- Query Builder -->
                    <!-- Submission -->
                    <div ng-switch-when="submission" ng-controller="SubmissionCtrl">
                        <div ng-include=" 'views/submission/submission.html' "></div>
                    </div>
                    <!-- Submission -->

                    <!-- Submission -->
                    <div ng-switch-when="reports" ng-controller="ReportsCtrl">
                        <div ng-include=" 'views/reports/report.html' "></div>
                    </div>
                    <!-- Submission -->

                    <div ng-switch-when="switchView" ng-controller="SwitchViewCtrl">
                        <div ng-include=" 'views/switcher.html' "></div>
                    </div>

                </div>
            </div>
            <!-- bottom footer -->
            <div class="content-footer" ng-include="'views/common/footer.html'"></div>
            <!-- /bottom footer -->
        </div>
        <!-- /main area -->
    </div>
    <!-- /content panel -->
    <!-- options panel -->
    <!--<div class="configuration layout-column flex hidden-sm-down" ng-include="'views/common/options.html'" ng-class="{'active': main.app.options}"></div>-->
    <!-- /options panel -->
    
</div>