﻿<div class="modal fade help-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
            <div class="modal-body">
                <h4>What Is Boolean Search?</h4>
                <p>
                    It's an information retrieval technique that allows several search words and phrases to be combined using operators or commands. Operators are instructions to the search engine such as "and," "or," "not" and "near." Learning to use these Boolean operators for keyword searches will help narrow your results.
                </p>
                <div style="height:400px;" scrollable always-visible="true">
                    <h5>Basic Boolean Operators:</h5>
                    <h6 class="text-primary">Or</h6>
                    <p>
                        This operator combines keywords so that a document is retrieved if it contains any or all of the keywords.<br />
                        For example, searching for "developer or engineer" will find all documents in which the words "developer" or "engineer" appear. "Or" is the default command on most, but not all, search engines, so if you use more than one word in a search without an operator, the search engine assumes each word is linked by "or."
                    </p>
                    <h6 class="text-primary">And</h6>
                    <p>
                        Use "and" to combine terms so that information is retrieved only if all terms occur in the same document.<br />
                        For example, "software and engineer" will find only documents where both keywords occur.
                    </p>

                    <h6 class="text-primary">Not</h6>
                    <p>
                        The "not" operator prevents retrieval of documents in which specified terms occur together. This operator is also helpful when a keyword has multiple meanings.<br />

                        For example, "engineer not software" will find documents in which "engineer" occurs but "software" does not.
                    </p>
                    <h6 class="text-primary">Near</h6>
                    <p>
                        The "near" operator indicates that the search words you have entered must appear within a certain number of words of each other (usually between one and 20).<br />

                        For example, a search for "sales near management" would turn up results in which the two words appear close together.
                    </p>
                    <h6 class="text-primary">Wildcard Symbol: *</h6>

                    <p>
                        The asterisk can replace one or more letters at the end of a word. This might help you search for something that can be phrased differently.<br />

                        For example, "nurs*" will find documents containing the words nurse, nursing and nurses.
                    </p>
                    <h6 class="text-primary">
                        Quotation Marks: " "
                    </h6>
                    <p>
                        This operator searches for words or a phrase exactly as typed. Putting quotation marks around the words "ultrasound technologist" will find only those documents containing those two words in that exact order.
                    </p>
                </div>
            </div>
            <div class="modal-footer no-border">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--/. Emd of Help modal-->
<!-- Tab panes -->
<div class="row">
    <uib-tabset class="m-b-0" active="active">
        <uib-tab heading="Easy" index="0">
            <div class="card">
                <div class="card-header p-a-xs no-bg clearfix">
                    <h6 class="text-primary bold m-b-1">Easy Query Builder</h6>
                </div>
                <div class="card-block p-a-xs clearfix">
                    <div id="easy">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group-lg m-b-1">
                                    <label>Primary Skills</label>
                                    <select selector
                                            model="andSearchText"
                                            api="andAPI"
                                            multi="true"
                                            options="skills"
                                            value-attr="label"
                                            placeholder="type skills..."
                                            create="createFunction(input)"></select>
                                </div>
                                <div class="form-group-lg m-b-1">
                                    <label>Secondary Skills</label>
                                    <select selector
                                            model="orSearchText"
                                            api="orAPI"
                                            multi="true"
                                            options="skills"
                                            value-attr="label"
                                            placeholder="type skills..."
                                            create="createFunction(input)"></select>
                                </div>
                                <div class="form-group-lg m-b-1">
                                    <label>Not Required Skills</label>
                                    <select selector
                                            model="notSearchText"
                                            api="notAPI"
                                            multi="true"
                                            options="skills"
                                            value-attr="label"
                                            placeholder="type skills..."
                                            create="createFunction(input)"></select>
                                </div>
                                <div class="form-group-lg">
                                    <button class="btn btn-primary btn-sm small" id="generateQuery" name="generateQuery" ng-click="generateQuery(andSearchText,orSearchText,notSearchText);andAPI.unset();orAPI.unset();notAPI.unset();">Generate Query</button>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group-lg m-b-1">
                                    <span class="font-weight-medium h6">Your generated query</span>
                                    <textarea rows="7" id="queryString" name="queryString" ng-model="queryString" placeholder="boolean search string" readonly="readonly" class="form-control m-t-xs"></textarea>
                                </div>
                                <div class="form-group-lg m-b-1">
                                    <button class="btn btn-danger btn-sm small" id="reset" name="reset" ng-click="resetText()">Reset</button>
                                    <button class="btn btn-default btn-sm small" id="copyToClipboard" name="copyToClipboard" ngclipboard data-clipboard-target="#queryString">Copy to clipboard</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>

        <uib-tab heading="Advance" index="1">
            <div class="card">
                <div class="card-header p-a-xs no-bg clearfix">
                    <h6 class="text-primary bold m-b-1">Advanced query builder</h6>
                </div>
                <div class="card-block p-a-xs clearfix">
                    <div id="advance">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="p-b-xs">
                                    <i class="fa fa-info-circle"></i>
                                    <span class="text-muted">
                                        To search something with only adding starting few letters of word, add (*) symbol after it.
                                        <br />
                                        For example, "nurs*" will find documents containing the words nurse, nursing and nurses.
                                    </span>
                                    <a class="text-primary" data-toggle="modal" data-target=".help-modal">For more help click here</a>
                                </div>
                                <div class="form-group-lg m-b-1">
                                    <label>Enter skills to be searched</label>
                                    <select selector
                                            model="advanceSearchText"
                                            multi="true"
                                            api="advanceSearchAPI"
                                            options="skills"
                                            value-attr="label"
                                            placeholder="type skills..."
                                            create="createFunction(input)"></select>
                                </div>
                                <div class="form-group-lg m-b-1">
                                    <label>Operations</label>
                                    <button class="btn btn-primary btn-sm small" id="andButton" name="andButton" ng-click="andOperation(advanceSearchText); advanceSearchAPI.unset();">AND</button>
                                    <button class="btn btn-yahoo btn-sm small" id="orButton" name="orButton" ng-click="orOperation(advanceSearchText); advanceSearchAPI.unset();">OR</button>
                                    <button class="btn btn-info btn-sm small" id="notButton" name="notButton" ng-click="notOperation(advanceSearchText); advanceSearchAPI.unset();">NOT</button>
                                    <button class="btn btn-danger btn-sm small" id="nearButton" name="nearButton" ng-click="nearOperation(advanceSearchText); advanceSearchAPI.unset();">NEAR</button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group-lg m-b-1">
                                    <label>Your generated query</label>
                                    <textarea id="advanceQueryString" name="advanceQueryString" ng-model="advanceQueryString" placeholder="boolean search string" rows="4" readonly="readonly" class="form-control"></textarea>
                                </div>
                                <div class="form-group-lg m-b-1">
                                    <button class="btn btn-danger btn-sm small" id="advanceReset" name="advanceReset" ng-click="advanceResetText()">Reset</button>
                                    <button class="btn btn-default btn-sm small" id="advanceCopy" name="advanceCopy" ngclipboard data-clipboard-target="#advanceQueryString">Copy to clipboard</button>
                                    <button type="button" class="btn btn-success btn-sm small" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="fillModal(advanceQueryString)">Save Query</button>
                                </div>
                            </div>
                        </div>
                        <div ng-if="advanceQueryString" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form name="saveBooleanQueryForm" novalidate>
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="exampleModalLabel">Save Boolean Query</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="recipient-name" class="control-label">Tag:</label>
                                                <input type="text" class="form-control" id="advanceQueryTag" ng-model="saveBooleanQueryModel.Tag" name="advanceQueryTag" validation="max_len:50">
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="control-label">Boolean Query:</label>
                                                <textarea class="form-control" id="message-text" ng-model="saveBooleanQueryModel.Query" readonly="readonly"></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" ng-click="closeSaveBooleanQueryModal()" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="advanceSave" name="advanceSave" ng-click="saveBooleanQueries(saveBooleanQueryForm)">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="Decode" index="2">
            <div class="card">
                <div class="card-header no-bg p-a-xs clearfix">
                    <h6 class="text-primary bold m-b-1">Decode query</h6>
                </div>
                <div class="card-block p-a-xs clearfix">
                    <div id="advanceDecode">
                        <div class="row">
                            <div class="col-sm-6">
                                <form class="form-horizontal" novalidate>
                                    <div class="form-group-lg m-b-1">
                                        <label>Query</label>
                                        <textarea id="advanceEncodedQueryString" name="advanceEncodedQueryString" ng-model="decode.advanceEncodedQueryString" rows="9" placeholder="boolean search string" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group-lg m-b-1">
                                        <button class="btn btn-primary btn-sm small" id="advanceDecodeQuery" name="advanceDecodeQuery" ng-click="advanceDecodeQuery(decode.advanceEncodedQueryString)">Decode Query</button>
                                        <button class="btn btn-danger btn-sm small" id="resetDecode" name="resetDecode" ng-click="resetDecode()">Reset</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group-lg m-b-1">
                                    <label>Mandatory Primary Skills</label>
                                    <input id="advanceAndQuerySearchText" class="form-control" name="advanceAndQuerySearchText" ng-model="query.advanceAndQuerySearchText" placeholder="mandatory primary compulsory skills" ng-readonly="true" />
                                </div>
                                <div class="form-group-lg m-b-1">
                                    <label>Mandatory Secondary Skills (Groups)</label>
                                    <input id="advanceOrOptionalQuerySearchText" class="form-control" name="advanceOrOptionalQuerySearchText" ng-model="query.advanceOrOptionalQuerySearchText" placeholder="mandatory secondary skills (grouped)" ng-readonly="true" />
                                </div>
                                <div class="form-group-lg m-b-1">
                                    <label>Optional Skills</label>
                                    <input id="advanceOrSearchText" class="form-control" name="advanceOrSearchText" ng-model="query.advanceOrSearchText" placeholder="optional skills" ng-readonly="true" />
                                </div>
                                <div class="form-group-lg m-b-1">
                                    <label>Excluded Skills</label>
                                    <input id="advanceNotSearchText" class="form-control" name="advanceNotSearchText" ng-model="query.advanceNotSearchText" placeholder="excluded skills" ng-readonly="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="Saved" index="3" ng-click="getBooleanQueries()">
            <div class="card">
                <div class="card-header no-bg p-a-xs clearfix">
                    <div class="row">
                        <div class="col-sm-2">
                            <h6 class="text-primary bold m-b-1">Saved boolean queries</h6>
                        </div>
                        <div class="col-sm-8">
                            <form class="search-form">
                                <i class="material-icons p-l-xs p-r-xs">search</i>
                                <input class="form-control form-control-sm bg-white" type="text" placeholder="Search" ng-focus="main.focusOn()" ng-blur="main.focusOff()" autofocus="true" ng-model="filter.$" maxlength="25">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-block p-a-xs clearfix">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive scroll slimScroll">
                                <table ng-table="tblBooleanQueryList" class="table table-bordered table-sm table-hover text-nowrap small m-a-0">
                                    <tbody>
                                        <tr ng-repeat="query in dataBooleanQueryList">
                                            <td data-title="'Tag'" filter="{ 'Tag': 'text'}" data-sortable="'Tag'" header-class="'bg-primary'" ng-bind="query.Tag">{{query.Tag}}</td>
                                            <td id="{{'query'+ $index}}" data-title="'Query'" header-class="'bg-primary'" ng-bind="query.Query">{{query.Query}}</td>
                                            <td data-title="'Created By'" filter="{ 'CreatedBy': 'text'}" data-sortable="'CreatedBy'" header-class="'bg-primary'" ng-bind="query.CreatedBy">{{query.CreatedBy}}</td>
                                            <td data-title="'Action'" header-class="'bg-primary'" ngclipboard data-clipboard-target="#{{'query'+ $index}}"><a>copy</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="no-record-block p-a-3" ng-if="dataBooleanQueryList.length == 0">
                                <p class="text-shadow lead text-xs-center">
                                    <img src="images/search.png" /><br />
                                    No records found!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="Google Tag" index="4">
            <div class="card">
                <div class="card-header p-a-xs no-bg clearfix">
                    <h6 class="text-primary bold m-b-1">Google Tag Search</h6>
                </div>
                <div class="card-block p-a-xs clearfix">
                    <div id="easy">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group-lg m-b-1">
                                    <label for="">File Type</label>
                                    <select selector
                                            model="googleTagFileTypeText"
                                            api="andAPI"
                                            multi="true"
                                            options="fileTypes"
                                            value-attr="label"
                                            placeholder="select file type"
                                            create="createFunctionFileTypes(input)"></select>
                                </div>
                                <div class="form-group-lg m-b-1">
                                    <label>In URL</label>
                                    <input type="text" multi="true" ng-model="googleTagInURL" placeholder="Enter URL" class="form-control" />
                                    <!-- <select selector
                                    model="googleTagInURLText"
                                    api="orAPI"
                                    multi="true"
                                    options="skills"
                                    value-attr="label"
                                    placeholder="type url..."
                                    create="createFunction(input)"></select>-->
                                </div>
                                <div class="form-group-lg m-b-1">
                                    <label>In Title</label>
                                    <input type="text" ng-model="googleTagInTitle" placeholder="Enter Title" class="form-control" />
                                    <!--  <select selector
                                            model="googleTagInTitleText"
                                            api="orAPI"
                                            multi="true"
                                            options="skills"
                                            value-attr="label"
                                            placeholder="type title..."
                                            create="createFunction(input)"></select>-->
                                </div>
                                <div class="form-group-lg m-b-1">
                                    <label>Skills</label>
                                    <select selector
                                            model="googleTagSkillText"
                                            api="andAPI"
                                            multi="true"
                                            options="skills"
                                            value-attr="label"
                                            placeholder="select skills..."
                                            create="createFunction(input)"></select>
                                </div>
                                <div class="form-group-lg m-b-1">
                                    <label>Location</label>
                                    <input type="text" ng-model="googleTagLocation" placeholder="Enter Location" class="form-control" />
                                    <!--<select selector
                                         model="googleTagLocationText"
                                         api="andAPI"
                                         multi="false"
                                         options="skills"
                                         value-attr="label"
                                         placeholder="select location..."
                                         create="createFunction(input)"></select>-->
                                </div>
                                <div class="form-group-lg m-b-1">
                                    <label>Country</label>
                                    <select selector
                                            model="googleTagCountryText"
                                            api="andAPI"
                                            multi="true"
                                            options="countryList"
                                            value-attr="label"
                                            placeholder="select country..."
                                            create="createFunctionCountries(input)"></select>
                                </div>
                                <div class="form-group-lg">
                                    <button class="btn btn-primary btn-sm small" id="" name="" ng-click="generateQueryGoogletag(googleTagFileTypeText,googleTagInURL,googleTagInTitle,googleTagSkillText,googleTagLocation,googleTagCountryText)">Generate Query</button>
                                    <!--<button class="btn btn-primary btn-sm small" id="generateQueryGoogletag" name="generateQueryGoogletag" ng-click="generateQueryGoogletag(googleTagFileTypeText,googleTagInURLText,googleTagInTitleText,googleTagSkillsText,googleTagLocationText,googleTagCountryText);andAPI.unset();orAPI.unset();notAPI.unset();">Generate Query</button>-->
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group-lg m-b-1">
                                    <span class="font-weight-medium h6">Your generated query</span>
                                    <!--<textarea rows="7" id="queryString" name="queryString" ng-model="queryString" placeholder="boolean search string" readonly="readonly" class="form-control m-t-xs"></textarea>-->
                                    <textarea rows="17" id="queryStringGoogletag" name="queryStringGoogletags" ng-model="queryStringGoogletag" placeholder="boolean search string" readonly="readonly" class="form-control m-t-xs"></textarea>
                                </div>
                                <div class="form-group-lg m-b-1">
                                    <button class="btn btn-danger btn-sm small" id="reset" name="reset" ng-click="resetText()">Reset</button>
                                    <button class="btn btn-default btn-sm small" id="copyToClipboard" name="copyToClipboard" ngclipboard data-clipboard-target="#queryStringGoogletag">Copy to clipboard</button>
                                    <button type="button" class="btn btn-success btn-sm small" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="fillModal(queryStringGoogletag)">Save Query</button>
                                </div>
                            </div>
                        </div>
                        <div ng-if="queryStringGoogletag" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form name="saveBooleanQueryForm" novalidate>
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="exampleModalLabel">Save Boolean Query</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="recipient-name" class="control-label">Tag:</label>
                                                <input type="text" class="form-control" id="queryStringGoogleTAg" ng-model="saveBooleanQueryModel.Tag" name="queryStringGoogle" validation="max_len:50">
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="control-label">Boolean Query:</label>
                                                <textarea class="form-control" id="message-text" ng-model="saveBooleanQueryModel.Query" readonly="readonly"></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" ng-click="closeSaveBooleanQueryModal()" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="queryStringGoogle" name="queryStringGoogle" ng-click="saveBooleanQueries(saveBooleanQueryForm)">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>

<script id="uib/template/tabs/tab.html" type="text/ng-template">
    <li class="nav-item">
        <a href class="nav-link" ng-click="select()" uib-tab-heading-transclude ng-class="{active: active
, disabled: disabled}">{{heading}}</a>
    </li>
</script>

