﻿<div class="row">
    <div class="card">
        <div class="card-header bg-default-dark text-default p-a-xs clearfix">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-3 col-lg-2">
                    <span class="h5 font-weight-medium"><i class="fa fa-search m-r-xs" aria-hidden="true"></i>Search Type<span class="bold text-red">*</span></span>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-3 pull-right">
                    <a class="btn btn-danger btn-sm small text-white pull-right m-b-xs" role="button" href="#/requirementList">
                        <i class="fa fa-list"></i>
                        <span>List</span>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <select class="form-control"
                            name="MonsterResumeMinDate"
                            ng-model="common.candidateSearch.searchType"
                            validation="required:alt= search type is required.">
                        <option value="Precision"> Precision </option>
                        <option value="Boolean"> Boolean </option>
                    </select>
                </div>
            </div>

        </div>
        <div ng-show="common.candidateSearch.searchType === 'Boolean'">
            <div class="card-header p-a-xs no-bg clearfix" ng-init="openSearchCandidatesByBooleanSearch();">
                <div class="card m-a-0">
                    <form autocomplete="off" class="form-horizontal" name="booleanSearchMonsterPopupForm" novalidate>
                        <div class="card-block shadow bg-default-light clearfix p-a-xs text-default">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-b-xs">
                                    <div class="col-sm-2 noFocus">
                                        <label>Source<span class="bold text-red">*</span></label>
                                    </div>
                                    <div class="col-sm-10">
                                        <select class="b-a"
                                                name="BooleanQuerySource"
                                                ui-select2="{allowClear: false}"
                                                data-placeholder="select source"
                                                multiple="multiple"
                                                ng-model="common.candidateBooleanSearchBySourceModel.Sources"
                                                validation="required:alt=source is required">
                                            <option ng-repeat="source in BooleanQuerySources" value="{{source.Id}}"
                                                    ng-bind="source.Name"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-b-xs">
                                    <div class="col-sm-2">
                                        <label>Keyword<span class="bold text-red">*</span></label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-sm" placeholder="Enter Boolean Query"
                                               ng-model="common.candidateBooleanSearchBySourceModel.MonsterBooleanQuery"
                                               name="booleanSearch"
                                               validation="required:alt=boolean query is required|max_len:500" />
                                        <span ng-show="!common.candidateBooleanSearchBySourceModel.MonsterBooleanQuery">
                                            <i class="fa fa-info-circle text-muted">
                                                <span class="text-muted">
                                                    You can create boolean query from
                                                    <a class="text-primary" href="#queryBuilder" ng-click="closeBooleanSearchModal()" style="text-decoration:underline;">Query Builder</a>
                                                </span>
                                            </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-b-xs">
                                    <div class="col-sm-3">
                                        <strong class="font-weight-medium">Resumes posted:</strong>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="col-sm-1 p-l-0">
                                            <label>from</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <select name="MonsterResumeMinDate"
                                                    ui-select2="{allowClear: true}"
                                                    data-placeholder="select from"
                                                    ng-model="common.candidateBooleanSearchBySourceModel.MonsterResumeMinDate"
                                                    validation="maxNum:{{common.candidateBooleanSearchBySourceModel.MonsterResumeMaxDate}}:alt= From needs to be equal to, or lower than To">
                                                <option value=""></option>
                                                <option value="1440"> Today </option>
                                                <option value="10080"> 1 Week </option>
                                                <option value="20160"> 2 Week </option>
                                                <option value="43200"> 1 Month </option>
                                                <option value="131400"> 3 Month </option>
                                                <option value="262800"> 6 Month </option>
                                                <option value="525600"> 1 Year </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <label>to</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <select name="MonsterResumeMaxDate"
                                                    ui-select2="{allowClear: true}"
                                                    data-placeholder="select to"
                                                    ng-model="common.candidateBooleanSearchBySourceModel.MonsterResumeMaxDate"
                                                    validation="minNum:{{common.candidateBooleanSearchBySourceModel.MonsterResumeMinDate}}:alt=To needs to be equal to, or higher than From">
                                                <option value=""></option>
                                                <option value="1440"> Today </option>
                                                <option value="10080"> 1 Week </option>
                                                <option value="20160"> 2 Week </option>
                                                <option value="43200"> 1 Month </option>
                                                <option value="131400"> 3 Month </option>
                                                <option value="262800"> 6 Month </option>
                                                <option value="525600"> 1 Year </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-b-xs">
                                    <div class="col-sm-6 col-lg-offset-2">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="submit" class="btn btn-sm small bg-primary btn-secondary" ng-click="searchCandidatesByBooleanQuery(booleanSearchMonsterPopupForm);"><i class="fa fa-search m-r-xs"></i> Search</button>
                                            <a class="btn bg-primary btn-sm small btn-secondary" uib-tooltip="More" data-toggle="collapse" data-target="#booleanSearch" aria-expanded="false" aria-controls="collapseOne">
                                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="panel-collapse collapse" id="booleanSearch" role="tabpanel" aria-labelledby="headingOne" ng-class="{'in':(!common.candidateListByBooleanSearch.length && !common.candidateNullLength)||common.candidateListByBooleanSearch.length == 0}">
                                    <div class="col-sm-12">
                                        <hr class="m-b-xs m-t-0" />
                                        <div>
                                            <div class="col-sm-12 m-t-xs m-b-xs">
                                                <span class="m-r-1 bold font-14">Location choose one of the options </span>
                                                <label class="btn btn-default small btn-sm m-r-xs" ng-class="{'btn-primary' : common.candidateBooleanSearchBySourceModel.LocationType=='byLocation'}">
                                                    <input type="radio"
                                                           ng-model="common.candidateBooleanSearchBySourceModel.LocationType"
                                                           value="byLocation"
                                                           ng-click="common.MonsterZipPresent = true" class="v-align-middle">
                                                    <span class="v-align-middle">Search within selected locations</span>
                                                </label>
                                                <span class="h6 text-primary font-weight-medium m-r-xs">OR</span>
                                                <label class="btn btn-default small btn-sm m-r-xs" ng-class="{'btn-primary' : common.candidateBooleanSearchBySourceModel.LocationType=='byRadius'}">
                                                    <input type="radio"
                                                           ng-model="common.candidateBooleanSearchBySourceModel.LocationType"
                                                           value="byRadius" class="v-align-middle">
                                                    <span class="v-align-middle">Search Zip Code Radius</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div id="byRadius" ng-show="common.candidateBooleanSearchBySourceModel.LocationType == 'byRadius'">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                <div class="col-sm-5 col-md-4 col-lg-5">
                                                    <label>Only show job seekers within</label>
                                                </div>
                                                <div class="col-sm-7 col-md-8 col-lg-7">
                                                    <select name="locationMilesAway"
                                                            ui-select2="{allowClear: true}"
                                                            data-placeholder="select distance"
                                                            ng-model="common.candidateBooleanSearchBySourceModel.MonsterLocationMilesAway">
                                                        <option value=""></option>
                                                        <option value="5"> 5 Miles Away </option>
                                                        <option value="10"> 10 Miles Away </option>
                                                        <option value="20"> 20 Miles Away </option>
                                                        <option value="50"> 50 Miles Away </option>
                                                        <option value="100"> 100 Miles Away </option>
                                                        <option value="200"> 200 Miles Away </option>
                                                        <option value="500"> 500 Miles Away </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                <div class="col-sm-4">
                                                    <label>of ZIP Code<span class="bold text-red">*</span></label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control form-control-sm" placeholder="enter zip code"
                                                           ng-model="common.candidateBooleanSearchBySourceModel.MonsterLocationZIPCode"
                                                           name="monsterLocationZIPCode"
                                                           validation="xseed_zip" />
                                                    <span ng-if="!common.MonsterZipPresent" class="validation text-danger">Zip Code is required.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="byLocation" ng-show="common.candidateBooleanSearchBySourceModel.LocationType == 'byLocation'">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0">
                                                <div class="col-sm-5" ng-if="common.USLocationList.length">
                                                    <div id="requirementDiv" class="table-responsive scroll border-dark slimScroll" style="height: 185px;">
                                                        <table ng-table="common.tblUSLocationList" class="table table-bordered table-sm text-nowrap m-a-0">
                                                            <tbody class="slimScroll">
                                                                <tr ng-repeat="USLocation in common.USLocationList">
                                                                    <td header-class="'bg-primary'" header="'ng-table/headers/checkboxesUSLocation.html'" class="text-xs-center" style="width: 50px;">
                                                                        <input type="checkbox" ng-model="checkboxesUSLocation.items[USLocation.LocationID]" />
                                                                    </td>
                                                                    <td data-title="'Location'" header-class="'bg-primary'" ng-bind-template="{{USLocation.CountryName}} - {{USLocation.StateName}}"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 text-xs-center" style="height:185px;">
                                                    <button type="button" class="btn btn-primary" ng-click="addUSLocationToList('Multiple');" style="margin-top: 45%;">
                                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div id="requirementDiv" class="table-responsive border-dark scroll slimScroll" style="height: 185px;">
                                                        <table ng-table="common.tblUSLocationList" class="table table-bordered table-sm text-nowrap m-a-0">
                                                            <tbody class="slimScroll">
                                                                <tr ng-repeat="addedUSLocation in common.candidateBooleanSearchBySourceModel.MonsterUSLocationList | orderBy : 'StateName'" class="text-xs-center">
                                                                    <td data-title="'Selected Location(s)'" header-class="'bg-primary'" ng-bind-template="{{addedUSLocation.CountryName}} - {{addedUSLocation.StateName}}"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8 p-t-xs">
                                                    <span><input type="checkbox" ng-model="common.candidateBooleanSearchBySourceModel.MonsterTargetWorkLocation" ng-disabled="!common.candidateBooleanSearchBySourceModel.MonsterUSLocationList.length" /></span>
                                                    <span>Include job seekers willing to work in any of the selected locations.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-block p-t-0 p-l-xs p-r-xs clearfix">
                <div class="row p-t-xs p-b-xs">
                    <div class="col-sm-6">
                        <input type="checkbox" ng-if="userDetails.Submission_Create == 'True'" type="button" class="btn btn-primary btn-sm small" ng-click="showHideSubmitMultipleCandidateBoolean();">
                        Select Multiple
                        <button ng-if="userDetails.Submission_Create == 'True' && showSubmitMultipleBoolean" type="button" class="btn m-b-xs btn-primary btn-sm small" ng-click="openCandidateBooleanSearchSubmissionModal('Multiple');" ng-disabled="BooleanSearchCheckedCount== 0">
                            Submit to Company
                        </button>
                    </div>
                    <div class="col-sm-5 text-xs-right pull-right">
                        <a class="m-r-xs">
                            <label class="label label-default font-14" ng-click="getFilterDataForBooleanSearch('Total')" ng-if="diceBooleanCandidateCount + monsterBooleanCandidateCount > 0">
                                <strong>Total</strong>
                                <span class="tag bg-grey-darker m-l-xs" ng-if="diceBooleanCandidateCount + monsterBooleanCandidateCount ==null">0</span>
                                <span class="tag bg-grey-darker m-l-xs" ng-if="diceBooleanCandidateCount + monsterBooleanCandidateCount != null">{{diceBooleanCandidateCount + monsterBooleanCandidateCount}}</span>
                            </label>
                            <label class="label label-default font-14" ng-if="diceBooleanCandidateCount + monsterBooleanCandidateCount == 0||diceBooleanCandidateCount + monsterBooleanCandidateCount == null">
                                <strong>Total</strong>
                                <span class="tag bg-grey-darker m-l-xs" ng-if="diceBooleanCandidateCount + monsterBooleanCandidateCount ==null">0</span>
                                <span class="tag bg-grey-darker m-l-xs" ng-if="diceBooleanCandidateCount + monsterBooleanCandidateCount != null">{{diceBooleanCandidateCount + monsterBooleanCandidateCount}}</span>
                            </label>
                        </a>
                        <a class="m-r-xs">
                            <label class="label label-default font-14" uib-tooltip="Monster" ng-click="getFilterDataForBooleanSearch('Monster')" ng-if="monsterBooleanCandidateCount > 0">
                                <img ng-src="{{configuration.XSEED_DEFAULT_IMAGE_PATH + 'monster_logo_70x10px.png'}}" class="img-responsive" />
                                <span class="m-l-xs tag bg-danger" ng-if="monsterBooleanCandidateCount==null">0</span>
                                <span class="m-auto tag bg-danger" ng-bind="monsterBooleanCandidateCount" ng-if="monsterBooleanCandidateCount!=null"></span>
                            </label>
                            <label class="label label-default font-14" uib-tooltip="Monster" ng-if="monsterBooleanCandidateCount == 0||monsterBooleanCandidateCount == null">
                                <img ng-src="{{configuration.XSEED_DEFAULT_IMAGE_PATH + 'monster_logo_70x10px.png'}}" class="img-responsive" />
                                <span class="m-l-xs tag bg-danger" ng-if="monsterBooleanCandidateCount==null">0</span>
                                <span class="m-auto tag bg-danger" ng-bind="monsterBooleanCandidateCount" ng-if="monsterBooleanCandidateCount!=null"></span>
                            </label>
                        </a>
                        <a class="m-r-xs">
                            <label class="label label-default font-14" uib-tooltip="Dice" ng-if="diceBooleanCandidateCount == 0||diceBooleanCandidateCount == null">
                                <img ng-src="{{configuration.XSEED_DEFAULT_IMAGE_PATH + 'Dice_70x20.png'}}" class="img-responsive" style="border-radius: 2px;height:13px; width: 70px;" />
                                <span class="m-l-xs tag bg-danger" ng-if="diceBooleanCandidateCount ==null">0</span>
                                <span class="m-auto tag bg-danger" ng-if="diceBooleanCandidateCount !=null" ng-bind="diceBooleanCandidateCount"></span>
                            </label>
                            <label class="label label-default font-14" uib-tooltip="Dice" ng-click="getFilterDataForBooleanSearch('Dice')" ng-if="diceBooleanCandidateCount > 0">
                                <img ng-src="{{configuration.XSEED_DEFAULT_IMAGE_PATH + 'Dice_70x20.png'}}" class="img-responsive" style="border-radius: 2px;height:13px; width: 70px;" />
                                <span class="m-l-xs tag bg-danger" ng-if="diceBooleanCandidateCount ==null">0</span>
                                <span class="m-auto tag bg-danger" ng-if="diceBooleanCandidateCount !=null" ng-bind="diceBooleanCandidateCount"></span>
                            </label>
                        </a>
                    </div>
                </div>
                <div>
                    <div class="card-block p-a-0 clearfix">
                        <div class="col-sm-12 p-a-0" ng-if="common.candidateListByBooleanSearch.length">
                            <div id="requirementDiv" class="table-responsive scroll slimScroll fixed_headers td-col-sm fixed_headers-col-1-xs">
                                <table ng-table="common.tblCandidateListByBooleanSearch" class="table table-bordered table-sm text-nowrap small m-a-0">
                                    <tbody class="slimScroll">
                                        <tr ng-repeat="candidate in CandidateListByBooleanSearchData">
                                            <td header-class="'bg-primary'" header="'ng-table/headers/checkboxesBooleanSearch.html'" class="text-xs-center" ng-if="showSubmitMultipleBoolean">
                                                <input class="form-check-input" type="checkbox" ng-model="checkboxesBooleanSearch.items[candidate.Candidate_Id]" ng-if="candidate.HasLocalCopy">
                                                <input class="form-check-input" type="checkbox" ng-model="checkboxesBooleanSearch.items[candidate.ProviderCandidateId]" ng-if="!candidate.HasLocalCopy">
                                            </td>
                                            <td data-title="'Source'" data-sortable="'Source'" header-class="'bg-primary'" class="text-xs-center">
                                                <span ng-if="candidate.Source=='Monster'">
                                                    <img ng-src="{{configuration.XSEED_DEFAULT_IMAGE_PATH+'Monster_60x60.png'}}" class="img-responsive" style="width:20px;" />
                                                </span>
                                                <span ng-if="candidate.Source == 'Dice'">
                                                    <img ng-src="{{configuration.XSEED_DEFAULT_IMAGE_PATH+'Dice_60x60.png'}}" class="img-responsive" style="width:20px;" />
                                                </span>
                                            </td>
                                            <td data-title="'Name'" header-class="'bg-primary'" data-sortable="'Name'" ng-bind="candidate.Name" ng-attr-title="{{candidate.Name}}"></td>
                                            <td data-title="'Profile Title'" data-sortable="'Title'" header-class="'bg-primary'" ng-bind="candidate.Title" ng-attr-title="{{candidate.Title}}"></td>
                                            <td data-title="'Location'" data-sortable="'Location'" header-class="'bg-primary'" ng-bind="candidate.Location" ng-attr-title="{{candidate.Location}}"></td>
                                            <td data-title="'Requirement Type'" data-sortable="'Type'" header-class="'bg-primary'" ng-bind="candidate.Type"></td>
                                            <td data-title="'Salary Range'" data-sortable="'SalaryRange'" header-class="'bg-primary'" ng-bind="candidate.SalaryRange"></td>
                                            <td data-title="'Zip'" data-sortable="'Zip'" header-class="'bg-primary'" ng-bind="candidate.Zip"></td>
                                            <td data-title="'Modified Date'" data-sortable="'ModifiedDate'" header-class="'bg-primary'" ng-bind="candidate.ModifiedDate" data-sortable="'Name'" ng-attr-title="{{candidate.ModifiedDate}}"></td>
                                            <td data-title="'Created Date'" data-sortable="'CreatedDate'" header-class="'bg-primary'" ng-bind="candidate.CreatedDate" ng-attr-title="{{candidate.CreatedDate}}"></td>
                                            <td data-title="'Relevance(%)'" data-sortable="'Relevance'" header-class="'bg-primary'" ng-bind="candidate.Relevance" class="text-xs-center"></td>
                                            <td data-title="'Action'" header-class="'bg-primary'" class="text-xs-center">
                                                <span>
                                                    <a class="btn btn-sm small btn-primary" uib-tooltip="View" ng-click="BooleanMonsterCandidateDetailView(candidate);"><i class="fa fa-eye"></i></a>
                                                </span>
                                                <span>
                                                    <a ng-if="userDetails.Submission_Create == 'True'" uib-tooltip="Submit" class="btn btn-sm small btn-primary" ng-click="openCandidateBooleanSearchSubmissionModal('Single',candidate);" ng-disabled="checkedCount > 0">
                                                        <i class="fa fa-share-square" aria-hidden="true"></i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!common.candidateListByBooleanSearch.length && !common.candidateNullLength">
                            <p class="text-shadow lead text-xs-center">
                                <img src="images/search.png" /><br />
                                Please select criteria to search!
                            </p>
                        </div>
                        <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="common.candidateListByBooleanSearch.length == 0 && common.candidateNullLength">
                            <h6 class="text-shadow text-grey text-xs-center">
                                No candidate(s) available with matching criteria.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="common.candidateSearch.searchType === 'Precision'">
            <div class="card-header p-a-xs no-bg clearfix" ng-init="openSearchCandidatesBySource()">
                <div class="card m-a-0">
                    <form autocomplete="off" class="form-horizontal" name="candidateSearchBySourceForm" novalidate>
                        <div class="card-block shadow bg-default-light clearfix p-a-xs text-default">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-b-xs">
                                    <div class="col-sm-2 noFocus">
                                        <label>Source<span class="bold text-red">*</span></label>
                                    </div>
                                    <div class="col-sm-10">
                                        <select class="b-a"
                                                name="Source"
                                                ui-select2="{allowClear: true}"
                                                data-placeholder="select source"
                                                multiple="multiple"
                                                ng-model="common.candidateSearchBySourceModel.Sources"
                                                validation="required:alt=source is required">
                                            <option ng-repeat="source in lookupCandidateSearchBySource" value="{{source.Id}}"
                                                    ng-bind="source.Name"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-b-xs">
                                    <div class="col-sm-2">
                                        <label>Job Title<span class="bold text-red">*</span></label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-sm" placeholder="Enter Job Title"
                                               ng-model="common.candidateSearchBySourceModel.Title"
                                               name="JobTitle"
                                               validation="required:alt=job title is required|max_len:50" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-b-xs">
                                    <div class="col-sm-2">
                                        <label>Req. Type<span class="bold text-red">*</span></label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text"
                                               class="form-control form-control-sm readOnlyTransperent"
                                               placeholder="enter requirement type"
                                               ng-model="common.candidateSearchBySourceModel.Type"
                                               name="jobType"
                                               readonly
                                               auto-complete ui-items="JobType"
                                               validation="required:alt=requirement type is required."
                                               ng-click="openGenericMasterModal('Search Requirement Type');"
                                               ng-keyup="openGenericMasterModal('Search Requirement Type');"
                                               uib-tooltip="Requirement Type" tooltip-placement="bottom" />
                                    </div>
                                </div>-->
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-b-xs">
                                    <div class="col-sm-2">
                                        <label>Req. Type<span class="bold text-red">*</span></label>
                                    </div>
                                    <div class="col-sm-10">
                                        <select name="SalaryType"
                                                ui-select2="{allowClear: true}"
                                                required=""
                                                data-placeholder="enter requirement type"
                                                ng-model="common.candidateSearchBySourceModel.Type"
                                                validation="required:alt=requirement type is required.">
                                            <option value=""></option>
                                            <option ng-repeat="requirement in requirementType | orderBy:'Name'" value="{{requirement.Name}}"
                                                    ng-bind="requirement.Name"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-b-xs">
                                    <div class="col-sm-6 col-lg-offset-2">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="submit" class="btn btn-sm small bg-primary btn-secondary" ng-click="searchCandidatesBySource(candidateSearchBySourceForm);"><i class="fa fa-search m-r-xs"></i> Search</button>
                                            <a class="btn bg-primary btn-sm small btn-secondary" uib-tooltip="More" data-toggle="collapse" data-target="#searchCandidate" aria-expanded="false" aria-controls="collapseOne">
                                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="searchCandidate" role="tabpanel" aria-labelledby="headingOne" ng-class="{'in':(!common.candidateListBySource.length && !common.candidateNullLength)||common.candidateListBySource.length == 0}">
                                <hr class="m-b-xs m-t-0" />
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                        <div class="col-sm-2 m-b-xs">
                                            <label>Exp. Level</label>
                                        </div>
                                        <div class="col-sm-10 p-a-0">
                                            <div class="col-sm-6 m-b-xs">
                                                <select name="MinExperience"
                                                        ui-select2="{allowClear: true}"
                                                        data-placeholder="Min Year(s)"
                                                        ng-model="common.candidateSearchBySourceModel.MinExperience">
                                                    <option value=""></option>
                                                    <option ng-repeat="i in 50 | range" value="{{i}}">{{i}}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6 m-b-xs">
                                                <select name="MaxExperience"
                                                        ui-select2="{allowClear: true}"
                                                        data-placeholder="Max Year(s)"
                                                        ng-model="common.candidateSearchBySourceModel.MaxExperience">
                                                    <option value=""></option>
                                                    <option ng-repeat="i in 50 | range" value="{{i}}">{{i}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-b-xs">
                                        <div class="col-sm-2">
                                            <label>Location</label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control form-control-sm" placeholder="Enter Location"
                                                   ng-model="common.candidateSearchBySourceModel.Location"
                                                   name="Location"
                                                   validation="max_len:50" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                        <div class="col-sm-2 m-b-xs">
                                            <label>Salary</label>
                                        </div>
                                        <div class="col-sm-10 p-a-0">
                                            <div class="col-sm-6 m-b-xs">
                                                <input type="text" class="form-control form-control-sm col-sm-6" placeholder="Enter Min Salary"
                                                       ng-model="common.candidateSearchBySourceModel.MinSalary"
                                                       name="MinSalary"
                                                       angular-currency="currencyOptions" />
                                            </div>
                                            <div class="col-sm-6 m-b-xs">
                                                <input type="text" class="form-control form-control-sm col-sm-6" placeholder="Enter Max Salary"
                                                       ng-model="common.candidateSearchBySourceModel.MaxSalary"
                                                       name="MaxSalary"
                                                       angular-currency="currencyOptions" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-b-xs">
                                        <div class="col-sm-2">
                                            <label>Salary Type</label>
                                        </div>
                                        <div class="col-sm-10">
                                            <select name="SalaryType"
                                                    ui-select2="{allowClear: true}"
                                                    data-placeholder="select salary type"
                                                    ng-model="common.candidateSearchBySourceModel.SalaryType">
                                                <option value=""></option>
                                                <option ng-repeat="salaryType in lookupSalaryType" value="{{salaryType.Name}}"
                                                        ng-bind="salaryType.Name"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-1">
                                            <label>Skills</label>
                                        </div>
                                        <div class="col-sm-11">
                                            <select selector
                                                    multi="true"
                                                    model="common.candidateSearchBySourceModel.Skills"
                                                    options="lookup.skillListData"
                                                    value-attr="label"
                                                    placeholder="type skills..."
                                                    create="createFunction(input)"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row p-t-xs">
                    <div class="col-sm-6">
                        <input type="checkbox" ng-if="userDetails.Submission_Create == 'True'" type="button" class="btn btn-primary btn-sm small" ng-click="showHideSubmitMultipleCandidate();">
                        Select Multiple
                        <button ng-if="userDetails.Submission_Create == 'True' && showSubmitMultiple" type="button" class="btn m-b-xs btn-primary btn-sm small" ng-click="openCandidateSubmissionModal('Multiple');" ng-disabled="checkedCount== 0">
                            Submit to Company
                        </button>
                    </div>
                    <div class="col-sm-5 text-xs-right pull-right">
                        <!--Total-->
                        <label class="m-r-xs" ng-if="localCandidateCount + monsterCandidateCount + diceCandidateCount > 0">
                            <label class="label label-default font-14" ng-click="getFilterData('Total')">
                                <strong>Total</strong>
                                <span class="tag bg-grey-darker" ng-if="localCandidateCount + monsterCandidateCount + diceCandidateCount ==null">0</span>
                                <span class="tag bg-grey-darker" ng-if="localCandidateCount + monsterCandidateCount + diceCandidateCount != null">{{localCandidateCount + monsterCandidateCount + diceCandidateCount}}</span>
                            </label>
                        </label>
                        <label class="m-r-xs" ng-if="localCandidateCount + monsterCandidateCount + diceCandidateCount==null||localCandidateCount + monsterCandidateCount + diceCandidateCount==0">
                            <label class="label label-default font-14">
                                <strong>Total</strong>
                                <span class="tag bg-grey-darker" ng-if="localCandidateCount + monsterCandidateCount + diceCandidateCount ==null">0</span>
                                <span class="tag bg-grey-darker" ng-if="localCandidateCount + monsterCandidateCount + diceCandidateCount != null">{{localCandidateCount + monsterCandidateCount + diceCandidateCount}}</span>
                            </label>
                        </label>
                        <!--XSeed-->
                        <label class="m-r-xs" ng-if="localCandidateCount > 0">
                            <label class="label label-default font-14" uib-tooltip="Local" ng-click="getFilterData('Local')">
                                <img ng-src="{{configuration.XSEED_DEFAULT_IMAGE_PATH+'Xeed_logo.png'}}" style="height:15px;" class="img-responsive" />
                                <span class="tag bg-green-darker" ng-if="localCandidateCount ==null">0</span>
                                <span class="m-auto tag bg-green-darker" ng-if="localCandidateCount !=null" ng-bind="localCandidateCount"></span>
                            </label>
                        </label>
                        <label class="m-r-xs" ng-if="localCandidateCount==null||localCandidateCount==0">
                            <label class="label label-default font-14" uib-tooltip="Local">
                                <img ng-src="{{configuration.XSEED_DEFAULT_IMAGE_PATH+'Xeed_logo.png'}}" style="height:15px;" class="img-responsive" />
                                <span class="tag bg-green-darker" ng-if="localCandidateCount ==null">0</span>
                                <span class="m-auto tag bg-green-darker" ng-if="localCandidateCount !=null" ng-bind="localCandidateCount"></span>
                            </label>
                        </label>
                        <!--Monster-->
                        <label class="m-r-xs" ng-if="monsterCandidateCount > 0">
                            <label class="label label-default font-14" uib-tooltip="Monster" ng-click="getFilterData('Monster')">
                                <img ng-src="{{configuration.XSEED_DEFAULT_IMAGE_PATH+'monster_logo_70x10px.png'}}" class="img-responsive" />
                                <span class="tag bg-danger" ng-if="monsterCandidateCount==null">0</span>
                                <span class="m-auto tag bg-danger" ng-bind="monsterCandidateCount" ng-if="monsterCandidateCount!=null"></span>
                            </label>
                        </label>
                        <label class="m-r-xs" ng-if="monsterCandidateCount==null||monsterCandidateCount==0">
                            <label class="label label-default font-14" uib-tooltip="Monster">
                                <img ng-src="{{configuration.XSEED_DEFAULT_IMAGE_PATH+'monster_logo_70x10px.png'}}" class="img-responsive" />
                                <span class="tag bg-danger" ng-if="monsterCandidateCount==null">0</span>
                                <span class="m-auto tag bg-danger" ng-bind="monsterCandidateCount" ng-if="monsterCandidateCount!=null"></span>
                            </label>
                        </label>
                        <!--Dice-->
                        <label class="m-r-xs" ng-if="diceCandidateCount > 0">
                            <label class="label label-default font-14" uib-tooltip="Dice" ng-click="getFilterData('Dice')">
                                <img ng-src="{{configuration.XSEED_DEFAULT_IMAGE_PATH+'Dice_70x20.png'}}" class="img-responsive" style="height: 13px;border-radius: 2px;width: 70px;" />
                                <span class="tag bg-danger" ng-if="diceCandidateCount==null">0</span>
                                <span class="m-auto tag bg-danger" ng-bind="diceCandidateCount" ng-if="diceCandidateCount!=null"></span>
                            </label>
                        </label>
                        <label class="m-r-xs" ng-if="diceCandidateCount==null||diceCandidateCount==0">
                            <label class="label label-default font-14" uib-tooltip="Dice">
                                <img ng-src="{{configuration.XSEED_DEFAULT_IMAGE_PATH+'Dice_70x20.png'}}" class="img-responsive" style="height: 13px;border-radius: 2px;width: 70px;" />
                                <span class="tag bg-danger" ng-if="diceCandidateCount==null">0</span>
                                <span class="m-auto tag bg-danger" ng-bind="diceCandidateCount" ng-if="diceCandidateCount!=null"></span>
                            </label>
                        </label>
                    </div>
                </div>
            </div>

            <div class="card-block p-t-0 p-l-xs p-r-xs clearfix">
                <div class="col-sm-12 p-a-0" ng-if="common.candidateListBySource.length">
                    <div id="requirementDiv" class="table-responsive scroll slimScroll fixed_headers td-col-sm fixed_headers-col-1-xs">
                        <table ng-table="common.tblCandidateListBySource" class="table table-bordered table-sm text-nowrap small m-a-0">
                            <tbody class="slimScroll">
                                <tr ng-repeat="candidate in CandidateListBySourceData">
                                    <td header-class="'bg-primary'" header="'ng-table/headers/checkbox.html'" class="text-xs-center" ng-if="showSubmitMultiple">
                                        <input class="form-check-input" type="checkbox" ng-model="checkboxes.items[candidate.Candidate_Id]" ng-if="candidate.Source == 'Local'">
                                        <input class="form-check-input" type="checkbox" ng-model="checkboxes.items[candidate.ProviderCandidateId]" ng-if="candidate.Source == 'Monster' || candidate.Source == 'Dice'">
                                    </td>
                                    <td data-title="'Source'" data-sortable="'Source'" header-class="'bg-primary'" class="text-xs-center">
                                        <span ng-if="candidate.Source == 'Monster'">
                                            <img ng-src="{{configuration.XSEED_DEFAULT_IMAGE_PATH+'Monster_60x60.png'}}" class="img-responsive" style="width:20px;" />
                                        </span>
                                        <span ng-if="candidate.Source == 'Local'">
                                            <img ng-src="{{configuration.XSEED_DEFAULT_IMAGE_PATH+'XSeed_60x60.png'}}" class="img-responsive" style="width:20px;" />
                                        </span>
                                        <span ng-if="candidate.Source == 'Dice'">
                                            <img ng-src="{{configuration.XSEED_DEFAULT_IMAGE_PATH+'Dice_60x60.png'}}" class="img-responsive" style="width:20px;" />
                                        </span>
                                    </td>
                                    <td data-title="'Name'" data-sortable="'Name'" header-class="'bg-primary'">
                                        <span data-title="'Name'" ng-bind="candidate.Name" ng-attr-title="{{candidate.Name}}"></span>
                                    </td>
                                    <td data-title="'Profile Title'" data-sortable="'Title'" header-class="'bg-primary'" ng-bind="candidate.Title" ng-attr-title="{{candidate.Title}}"></td>
                                    <td data-title="'Location'" data-sortable="'Location'" header-class="'bg-primary'" ng-bind="candidate.Location" ng-attr-title="{{candidate.Location}}"></td>
                                    <td data-title="'Requirement Type'" data-sortable="'Type'" header-class="'bg-primary'" ng-bind="candidate.Type"></td>
                                    <td data-title="'Salary Range'" data-sortable="'SalaryRange'" header-class="'bg-primary'" ng-bind="candidate.SalaryRange"></td>
                                    <td data-title="'Zip'" data-sortable="'Zip'" header-class="'bg-primary'" ng-bind="candidate.Zip"></td>
                                    <td data-title="'Modified Date'" data-sortable="'ModifiedDate'" header-class="'bg-primary'" ng-bind="candidate.ModifiedDate" ng-attr-title="{{candidate.ModifiedDate|date:'medium'}}"></td>
                                    <td data-title="'Created Date'" data-sortable="'CreatedDate'" header-class="'bg-primary'" ng-bind="candidate.CreatedDate" ng-attr-title="{{candidate.CreatedDate}}"></td>
                                    <td data-title="'Relevance(%)'" data-sortable="'Relevance'" header-class="'bg-primary'" ng-bind="candidate.Relevance" class="text-xs-center"></td>
                                    <td data-title="'Action'" header-class="'bg-primary'" class="text-xs-center">
                                        <span>
                                            <a class="btn btn-sm small btn-primary" uib-tooltip="View" ng-click="candidateDetailViewBySource(candidate)"><i class="fa fa-eye"></i></a>
                                        </span>
                                        <span>
                                            <a ng-if="userDetails.Submission_Create == 'True'" uib-tooltip="Submit" class="btn btn-sm small btn-primary" ng-click="openCandidateSubmissionModal('Single',candidate);" ng-disabled="checkedCount > 0">
                                                <i class="fa fa-share-square" aria-hidden="true"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!common.candidateListBySource.length && !common.candidateNullLength">
                    <p class="text-shadow lead text-xs-center">
                        <img src="images/search.png" /><br />
                        Please select criteria to search!
                    </p>
                </div>
                <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="common.candidateListBySource.length == 0 && common.candidateNullLength">
                    <h6 class="text-shadow text-grey">
                        No candidate(s) available with matching criteria.
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
</script>
<script type="text/ng-template" id="ng-table/headers/checkboxesUSLocation.html">
    <input type="checkbox" ng-model="checkboxesUSLocation.checked" id="select_all" name="filter-checkbox" value="" />
</script>
<script type="text/ng-template" id="ng-table/headers/checkboxesBooleanSearch.html">
    <input type="checkbox" ng-model="checkboxesBooleanSearch.checked" id="select_all_" name="filter-checkbox" value="" />
</script>


