﻿<div class="row" ng--init="checkIsUserAuthorized();getCandidateDetail()">
    <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="card shadow animate animated fadeInDown">
            <div class="card-header bg-primary-lighter p-a-xs">
                <div class="column-equal m-b-xs">
                    <div class="col ng-scope" style="width:70px;">
                        <img ng-if="candidateModel.ProfileImageFile && candidateModel.ProfileImageFile.data != ''" class="avatar-4wh img-circle shadow" ng-src="{{candidateModel.ProfileImageFile.data}}" alt="user" />
                        <img ng-if="!candidateModel.ProfileImageFile || candidateModel.ProfileImageFile.data === ''" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src class="avatar-4wh img-circle shadow" title="user" />
                    </div>
                    <div class="col v-align-middle p-l-xs">
                        <h5 class="text-grey-darker">
                            {{candidateModel.FirstName}} {{candidateModel.LastName}}
                        </h5>
                        <p class="font-16 bold" ng-if="candidateModel.Designation" ng-bind="candidateModel.Designation"></p>
                        <span>
                            <a class="" role="button" ng-click="editProfileView()"><i class="fa fa-pencil-square-o"></i> Edit</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-block clearfix">
                <div class="form-group break-word">
                    <p uib-tooltip="Primary Email"><i class="fa fa-envelope fa-2x text-muted size-a-28 text-xs-center m-r-xs"></i><span ng-bind="candidateModel.PrimaryEmail" class="bold"></span></p>
                </div>
                <hr class="m-t-0 m-b-xs" />
                <div class="form-group">
                    <p uib-tooltip="Contact number"><i class="fa fa-mobile fa-2x text-muted size-a-28 text-xs-center m-r-xs"></i><span ng-bind="candidateModel.Mobile" class="bold"></span></p>
                </div>
                <hr class="m-t-0 m-b-xs" />
                <div class="form-group">
                    <p uib-tooltip="Birth Date"><i class="fa fa-birthday-cake fa-2x text-muted size-a-28 text-xs-center m-r-xs"></i><span class="bold">{{candidateModel.BirthDate| date:'MM-dd-yyyy'}}</span></p>
                </div>
                <hr class="m-t-0 m-b-xs" />
                <div class="form-group">
                    <label class="text-muted font-weight-normal">Technical Skills</label>
                    <p class="bold" ng-bind="candidateModel.Skills"></p>
                </div>
                <hr class="m-t-0 m-b-xs" />
                <div class="form-group">
                    <span uib-tooltip="Social" class="pull-left m-r-xs text-muted"><i class="fa fa-share-alt size-a-28 text-xs-center fa-2x" aria-hidden="true"></i></span>
                    <ul class="list-inline bold">
                        <li class="list-inline-item" ng-if="candidateModel.LinkedInURL">
                            <a target="_blank" ng-attr-title="{{candidateModel.LinkedInURL}}" href="{{candidateModel.LinkedInURL}}">
                                <i class="fa fa-linkedin-square fa-2x text-linkedin"></i>
                            </a>
                        </li>
                        <li class="list-inline-item" ng-if="candidateModel.TwitterURL">
                            <a target="_blank" ng-attr-title="{{candidateModel.TwitterURL}}" href="{{candidateModel.TwitterURL}}">
                                <i class="fa fa-twitter-square fa-2x text-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item" ng-if="candidateModel.FacebookURL">
                            <a target="_blank" ng-attr-title="{{candidateModel.FacebookURL}}" href="{{candidateModel.FacebookURL}}">
                                <i class="fa fa-facebook-square fa-2x text-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item" ng-if="candidateModel.GooglePlusURL">
                            <a target="_blank" ng-attr-title="{{candidateModel.GooglePlusURL}}" href="{{candidateModel.GooglePlusURL}}">
                                <i class="fa fa-google-plus-square fa-2x text-google-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-8 animated fadeInRight">
        <uib-tabset class="m-b-0" active="active">
            <uib-tab index="0">
                <uib-tab-heading>
                    <i class="fa fa-user m-r-xs" aria-hidden="true"></i><span class="hidden-sm-down">Personal</span>
                </uib-tab-heading>
                <h6 class="hidden-lg-up hidden-md-up bold">Personal-</h6>
                <hr class="hidden-lg-up hidden-md-up m-t-0 m-b-xs" />
                <div class="row p-b-1">
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Gender:</label>
                        <span ng-bind="candidateModel.Gender" class="bold"></span>
                        <!--{{candidateModel.Gender}}-->
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Marital Status:</label>
                        <span ng-bind="candidateModel.MaritalStatus" class="bold"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Interests/Hobbies:</label>
                        <span ng-bind="candidateModel.Interests" class="bold"></span>
                    </div>
                </div>
                <hr class="m-t-0 m-b-xs" />
                <div class="row p-b-1">
                    <div class="col-sm-4 break-word">
                        <label class="text-muted font-weight-normal">Secondary Email:</label>
                        <span ng-bind="candidateModel.SecondaryEmail" class="bold"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Phone:</label>
                        <span ng-bind="candidateModel.Phone" class="bold"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Fax:</label>
                        <span ng-bind="candidateModel.Fax" class="bold"></span>
                    </div>
                </div>
                <hr class="m-t-0 m-b-xs" />
                <div class="row p-b-1">
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Address 1:</label>
                        <span ng-bind="candidateModel.Address1" class="bold"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Address 2:</label>
                        <span ng-bind="candidateModel.Address2" class="bold"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Address 3:</label>
                        <span ng-bind="candidateModel.Address3" class="bold"></span>
                    </div>
                </div>
                <hr class="m-t-0 m-b-xs" />
                <div class="row p-b-1">
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">City:</label>
                        <span ng-bind="candidateModel.City" class="bold"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">State:</label>
                        <span ng-bind="candidateModel.State" class="bold"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Country:</label>
                        <span ng-bind="candidateModel.Country" class="bold"></span>
                    </div>

                </div>
                <hr class="m-t-0 m-b-xs" />
                <div class="row">
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Zip:</label>
                        <span ng-bind="candidateModel.Zip" class="bold"></span>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1">
                <uib-tab-heading>
                    <i class="fa fa-file-text m-r-xs" aria-hidden="true"></i><span class="hidden-sm-down">Other</span>
                </uib-tab-heading>
                <h6 class="hidden-lg-up hidden-md-up bold">Other-</h6>
                <hr class="hidden-lg-up hidden-md-up m-t-0 m-b-xs" />
                <div class="row p-b-1">
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Send Job Alert:</label>
                        <span ng-bind="candidateModel.SendJobAlert" class="bold"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Have Passport:</label>
                        <span ng-bind="candidateModel.HavePassport" class="bold"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Can Relocate:</label>
                        <span ng-bind="candidateModel.CanReLocate" class="bold"></span>
                    </div>
                </div>
                <hr class="m-t-0 m-b-xs" />
                <div class="row p-b-1">
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Company Name:</label>
                        <span ng-bind="candidateModel.CompanyName" class="bold"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Status:</label>
                        <span ng-bind="candidateModel.Status" class="bold"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Employment Type:</label>
                        <span ng-bind="candidateModel.EmployementType" class="bold"></span>
                    </div>
                </div>
                <hr class="m-t-0 m-b-xs" />
                <div class="row p-b-1">
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Profile Title:</label>
                        <span ng-bind="candidateModel.ProfileTitle" class="bold"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">US Experience:</label>
                        <span ng-if="candidateModel.USExperienceInYear||candidateModel.USExperienceInMonth" ng-bind-template="{{candidateModel.USExperienceInYear}}.{{candidateModel.USExperienceInMonth}}" class="bold"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">SSN:</label>
                        <span ng-bind="candidateModel.SSN" class="bold"></span>
                    </div>
                </div>
                <hr class="m-t-0 m-b-xs" />
                <div class="row p-b-1">
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Availability Date:</label>
                        <span ng-bind="candidateModel.AvailabilityDate" class="bold"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Total Experience:</label>
                        <span ng-if="candidateModel.ExperienceInYear||candidateModel.ExperienceInMonth" ng-bind-template="{{candidateModel.ExperienceInYear}}.{{candidateModel.ExperienceInMonth}}" class="bold"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Current Salary:</label>
                        <span class="bold" ng-bind="candidateModel.CurrentSalary"></span>
                    </div>
                </div>
                <hr class="m-t-0 m-b-xs" />
                <div class="row p-b-1">
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Expected Salary:</label>
                        <span class="bold" ng-bind="candidateModel.ExpectedSalary"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Display Name:</label>
                        <span class="bold" ng-bind="candidateModel.DisplayName"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Current Location:</label>
                        <span class="bold" ng-bind="candidateModel.CurrentLocation"></span>
                    </div>
                </div>
                <hr class="m-t-0 m-b-xs" />
                <div class="row p-b-1">
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Preferred Location:</label>
                        <span class="bold" ng-bind="candidateModel.PreferredLocation"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">WorkPhone:</label>
                        <span class="bold" ng-bind="candidateModel.WorkPhone"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Passport valid upto:</label>
                        <span class="bold">{{candidateModel.PassportValidUpto| date:'MM-dd-yyyy'}}</span>
                    </div>
                </div>
                <hr class="m-t-0 m-b-xs" />
                <div class="row p-b-1">
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">VISA Type:</label>
                        <span class="bold" ng-bind="candidateModel.VisaType"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">VISA valid upto:</label>
                        <span class="bold">{{candidateModel.VisaValidUpto| date:'MM-dd-yyyy'}}</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted font-weight-normal">Languages:</label>
                        <span class="bold" ng-bind="candidateModel.Languages"></span>
                    </div>
                </div>
                <hr class="m-t-0 m-b-xs" />
                <div class="row p-b-1">
                    <div class="col-sm-12">
                        <label class="text-muted font-weight-normal">Profile Summary:</label>
                        <span class="bold" ng-bind="candidateModel.ProfileSummary"></span>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="2">
                <uib-tab-heading>
                    <i class="fa fa-graduation-cap m-r-xs" aria-hidden="true"></i><span class="hidden-sm-down">Education</span>
                </uib-tab-heading>
                <h6 class="hidden-lg-up hidden-md-up bold">Education-</h6>
                <hr class="hidden-lg-up hidden-md-up m-t-0 m-b-xs" />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive scroll small table-padding-small">
                            <table class="table table-sm table-bordered" ng-if="candidateModel.Educations.length> 0">
                                <thead class="bg-info-darker text-grey-darker">
                                    <tr>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>School</th>
                                        <th>School Type</th>
                                        <th>Course</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="educationItem in candidateModel.Educations">
                                        <td>{{educationItem.StartDate}}</td>
                                        <td>{{educationItem.EndDate}}</td>
                                        <td>{{educationItem.School}}</td>
                                        <td>{{educationItem.SchoolType }}</td>
                                        <td>{{educationItem.Course }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="!candidateModel.Educations.length" class="no-contacts layout-column">
                            <h6>
                                Please update your education details, those will appear here!
                            </h6>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="3">
                <uib-tab-heading>
                    <i class="fa fa-suitcase m-r-xs" aria-hidden="true"></i><span class="hidden-sm-down">Experience</span>
                </uib-tab-heading>
                <h6 class="hidden-lg-up hidden-md-up bold">Experience:</h6>
                <hr class="hidden-lg-up hidden-md-up m-t-0 m-b-xs" />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive small table-padding-small">
                            <table class="table table-sm table-bordered" ng-if="candidateModel.EmployementHistory.length> 0">
                                <thead class="bg-info-darker text-grey-darker">
                                    <tr>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Job Title</th>
                                        <th>Company Name</th>
                                        <th>Employment Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="EmployementItem in candidateModel.EmployementHistory">
                                        <td>{{EmployementItem.StartDate}}</td>
                                        <td>{{EmployementItem.EndDate}}</td>
                                        <td>{{EmployementItem.JobTitle}}</td>
                                        <td>{{EmployementItem.CompanyName }}</td>
                                        <td>{{EmployementItem.EmployementType }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="!candidateModel.EmployementHistory.length" class="no-contacts layout-column">
                            <h6>
                                Please update employment history details, those will appear here!
                            </h6>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
<script id="uib/template/tabs/tab.html" type="text/ng-template">
    <li class="nav-item">
        <a href class="nav-link" ng-click="select()" uib-tab-heading-transclude ng-class="{active: active
, disabled: disabled}">{{heading}}</a>
    </li>
</script>
