﻿
<form class="form-horizontal input-border-b input-placeholder-normal" name="createCandidateForm" novalidate>
    <div class="card-block bg-white clearfix" ng-init="checkIsUserAuthorized();videoCheck();">
        <fieldset class="form-group m-b-0">
            <div class="row">
                <div class="alert alert-danger alert-dismissable col-sm-12 m-b-xs" ng-hide="createCandidateForm.$validationSummary.length == 0 || displayValidationSummary == false">
                    <ul>
                        <li ng-repeat="item in createCandidateForm.$validationSummary">
                            {{item.friendlyName }} : {{item.message}}
                        </li>
                        <li ng-if="common.invalidProfileImgFile">
                            Personal: Please select valid format of Profile Image.
                        </li>
                        <li ng-if="common.maxProfileImgFileSize">
                            Personal: Max upload size of file for Profile Image is 2MB.
                        </li>
                    </ul>
                </div>
                <div class="alert alert-danger alert-dismissable col-sm-12 m-b-xs"
                     ng-show="createCandidateForm.$validationSummary.length == 0 &&
                                          displayValidationSummary == true &&
                                          (common.invalidProfileImgFile ||
                                          common.maxProfileImgFileSize)">
                    <ul>
                        <li ng-if="common.invalidProfileImgFile">
                            Personal: Please select valid format of Profile Image.
                        </li>
                        <li ng-if="common.maxProfileImgFileSize">
                            Personal: Max upload size of file for Profile Image is 2MB.
                        </li>
                    </ul>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-2 m-b-xs">
                    <label class="h6 font-weight-medium">Upload Resume<span class="bold text-red">*</span></label>
                </div>
                <div class="col-xs-4 col-sm-6 col-md-2 col-md-push-5 col-md-push-8 m-b-xs">
                    <a class="btn btn-danger btn-sm small pull-right" role="button" href="#/candidateProfile">
                        <i class="fa fa-user" aria-hidden="true"></i> Profile
                    </a>
                </div>
                <div class="col-sm-9 col-md-5 col-md-pull-2 m-b-xs">
                    <label class="file" style="width:100%">
                        <input tabindex="1"
                               type="file"
                               nv-file-select=""
                               uploader="upload.uploader"
                               ng-model="candidateModel.Resume"
                               ng-file-model="candidateModel.Resume"
                               name="resumeFile"
                               ng-click=enableButtonResume(candidateModel.Resume)
                               onchange="angular.element(this).scope().uploadResume(this.files)"
                               friendly-name="Upload Resume"
                               validation="required:alt=Resume is required." />
                        <span class="file-custom form-control-sm overflow-hidden l-h">
                            <strong ng-if="candidateModel.Resume">
                                {{ candidateModel.Resume.name }}
                            </strong>
                        </span>
                    </label>
                    <span ng-if="flagResumePresent" class="validation text-danger">Resume file is required.</span>
                    <span ng-if="flagInvalidResume" class="validation text-danger">Please select valid format.</span>
                    <span ng-if="flagMaxResumeSize" class="validation text-danger">
                        Max upload size for file is 2

                        mb.
                    </span>
                    <span ng-show="!candidateModel.Resume || flagInvalidResume">
                        <i class="fa fa-info-circle text-muted">
                            <span class="text-muted">
                                Please select files from pdf,doc,docx or txt.
                            </span>
                        </i>
                    </span>
                    <a class="text-primary text-underline" ng-if="(candidateModel.Resume && candidateModel.ResumeContent && !flagInvalidResume) ||(candidateModel.Resume && !flagInvalidResume)" target="_self" ng-href="{{candidateModel.ResumeContent}}"
                       type="application/json" download="{{candidateModel.Resume.name}}">
                        <i class="fa fa-download" aria-hidden="true"></i>Download {{candidateModel.Resume.name}}
                    </a>
                </div>
                <div class="col-sm-3 col-md-3 col-md-pull-2 m-b-xs">
                    <button type="button" class="btn btn-md btn-round btn-primary" ng-disabled="!candidateModel.Resume || flagInvalidResume||flagMaxResumeSize || flagResumePresent" ng-click="getCandidateResumeParserResult(candidateResumeInputModel)">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i> Parse Resume
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 p-a-0">
                    <div class="col-md-2">
                        <label class="h6 font-weight-medium m-b-1">Upload Video Resume</label>
                    </div>
                    <div class="col-md-5 m-b-xs">
                        <label class="file" style="width:100%">
                            <input tabindex="1"
                                   type="file"
                                   nv-file-select=""
                                   uploader="upload.uploader"
                                   ng-model="candidateModel.VideoResume"
                                   ng-file-model="candidateModel.VideoResume"
                                   name="videoresumeFile"
                                   ng-click=enableUploadResume(candidateModel.VideoResume)
                                   onchange="angular.element(this).scope().uploadVideo(this.files)" />
                            <span class="file-custom form-control-sm overflow-hidden l-h">
                                <strong ng-if="candidateModel.VideoResume">
                                    {{ candidateModel.VideoResume.name }}
                                </strong>
                            </span>
                        </label>
                        <!--<span ng-if="flagResumePresent" class="validation text-danger">Resume file is

                        required.</span>-->
                        <div class="clearfix">
                            <span class="text-muted">
                                <i class="fa fa-info-circle" aria-hidden="true"></i> Please select mp4 file with max upload size 20 MB.
                            </span>
                            <a class="text-primary bold text-underline" target="_blank" role="button" ng-href="{{configuration.XSEED_SAMPLE_RESUME_VIDEO_PATH}}">
                                <i class="fa fa-file-video-o" aria-hidden="true"></i> Click for sample video.
                            </a>
                        </div>
                        <span ng-if="flagVideoInvalid" class="validation text-danger">Please select valid format.</span>
                        <span ng-if="flagVideoMaxSize" class="validation text-danger">
                            Max upload size for file is 20MB.
                        </span>
                    </div>
                    <div class="col-sm-4">
                        <div class="m-b-1">
                            <button type="button" class="btn btn-md btn-round btn-primary" ng-click="Videojs();">
                                <i class="fa fa-video-camera" aria-hidden="true"></i> Create Video Resume
                            </button>
                        </div>
                    </div>
                </div>
                <!-- For New Video Ceration.-->
                <div class="col-sm-12 col-md-offset-2 col-md-5" ng-if="showVideoRecorder">
                    <div class="clearfix">
                        <a ng-if="showVideoRecorder" class="pull-right" ng-click="CreateVideoHide();" ng-disabled="hideVideoFlag">
                            <i class="fa fa-times" aria-hidden="true"></i> Close
                        </a>
                    </div>
                    <video ng-init="Videojs();" height="260" id="myVideo" class="video-js vjs-default-skin width-100"></video>
                    <div class="validation text-danger" ng-show="deviceNotFound!=null">Camera device not recognized. Use camera enabled device for creating video resume.</div>
                </div>
                <div class="col-sm-12 col-md-offset-2 col-md-5" ng-if="!showVideoRecorder && isVideoPresentAlready">
                    <video id="showVideo" ng-if="!showVideoRecorder" width="320" height="240" controls="controls"
                           class="h-w-100">
                        <source ng-src="{{trustSrc(candidateModel.VideoResume.filePath)}}" type="video/webm">
                        <source ng-src="{{trustSrc(candidateModel.VideoResume.filePath)}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </fieldset>
        <hr class="m-t-xs m-b-1" />
        <uib-tabset class="m-b-0" active="active">
            <uib-tab index="0">
                <uib-tab-heading>
                    <i class="fa fa-user m-r-xs" aria-hidden="true"></i><span class="hidden-sm-down hidden-md-down">Personal</span>
                </uib-tab-heading>
                <h6 class="hidden-lg-up">Personal-</h6>
                <hr class="hidden-lg-up m-t-xs m-b-xs" />
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>First Name<span class="bold text-red">*</span></label>
                        </div>
                        <div class="col-sm-3">
                            <select tabindex="2"
                                    name="titleId"
                                    ui-select2="{allowClear: true}"
                                    data-placeholder="select title"
                                    ng-model="candidateModel.Title">
                                <option value=""></option>
                                <option ng-repeat="title in lookup.title" value="{{title.Name}}"
                                        ng-bind="title.Name"></option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <input tabindex="3"
                                   type="text" class="form-control" placeholder="Enter First Name"
                                   ng-model="candidateModel.FirstName"
                                   name="candidateModel.FirstName"
                                   friendly-name="Personal"
                                   validation="required:alt=First name is required.|xseed_max_len:First Name,50|xseed_alpha_dash_dot_apostrophe:alt=First Name may only contain letters, dots, dashes and apostrophe." />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Middle Name</label>
                        </div>
                        <div class="col-sm-8">
                            <input tabindex="4"
                                   type="text" class="form-control" placeholder="Enter Middle Name"
                                   ng-model="candidateModel.MiddleName"
                                   name="candidateModel.MiddleName"
                                   friendly-name="Personal"
                                   validation="xseed_max_len:Middle Name,50|xseed_alpha_dash_dot_apostrophe:alt=MiddleName may only contain letters, dots, dashes and apostrophe." />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Last Name<span class="bold text-red">*</span></label>
                        </div>
                        <div class="col-sm-8">
                            <input tabindex="5"
                                   type="text" class="form-control" placeholder="Enter Last Name"
                                   ng-model="candidateModel.LastName"
                                   name="candidateModel.LastName"
                                   friendly-name="Personal"
                                   validation="required:alt=Last Name is required.|xseed_max_len:Last Name,50|xseed_alpha_dash_dot_apostrophe:alt=Last Name may only contain letters, dots, dashes and apostrophe." />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Display Name</label>
                        </div>
                        <div class="col-sm-8">
                            <input tabindex="6"
                                   type="text" class="form-control" placeholder="Enter Display Name"
                                   ng-model="candidateModel.DisplayName"
                                   name="candidateModel.DisplayName"
                                   friendly-name="Personal"
                                   validation="xseed_max_len:Display Name,50|xseed_alpha_dash_dot_apostrophe:alt=DisplayName may only contain letters, dots, dashes and apostrophe." />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Gender</label>
                        </div>
                        <div class="col-sm-8">
                            <select tabindex="7"
                                    name="gender"
                                    ui-select2="{allowClear: true}"
                                    data-placeholder="select gender"
                                    ng-model="candidateModel.Gender">
                                <option value=""></option>
                                <option ng-repeat="gender in lookup.gender" value="{{gender.Name}}"
                                        ng-bind="gender.Name"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Birth Date</label>
                        </div>
                        <div class="col-sm-8">
                            <datepicker date-format="MM/dd/yyyy"
                                        date-set-hidden="true"
                                        date-max-limit="{{maxDate}}">

                                <input tabindex="8"
                                       type="text" class="form-control" placeholder="Enter Birth Date"
                                       ng-model="candidateModel.BirthDate"
                                       name="birthDate"
                                       friendly-name="Personal"
                                       validation="xseed_date:alt=Please enter a valid Birth Date with format(mm/dd/yyyy).|xseed_date_compare:01/01/1900,{{maxDate}}:alt=Birth Date needs to be a valid date between 01/01/1900 and{{maxDate}}. "
                                       ui-mask="99/99/9999"
                                       ui-mask-placeholder
                                       ui-mask-placeholder-char="_"
                                       model-view-value="true" />
                            </datepicker>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Marital Status</label>
                        </div>
                        <div class="col-sm-8">
                            <select tabindex="9"
                                    name="maritalStatus"
                                    ui-select2="{allowClear: true}"
                                    data-placeholder="select marital status"
                                    ng-model="candidateModel.MaritalStatus">
                                <option value=""></option>
                                <option ng-repeat="maritalStatus in lookup.maritalStatus" value="{{maritalStatus.Name}}"
                                        ng-bind="maritalStatus.Name"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Interests/Hobbies</label>
                        </div>
                        <div class="col-sm-8">
                            <input tabindex="10"
                                   type="text" class="form-control" placeholder="Enter Interests/Hobbies"
                                   ng-model="candidateModel.Interests"
                                   name="Interests"
                                   friendly-name="Personal"
                                   validation="xseed_max_len:Interests,500" />
                        </div>
                    </div>
                </fieldset>
                <hr />

                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Primary Email<span class="bold text-red">*</span></label>
                        </div>
                        <div class="col-sm-8">
                            <input tabindex="11"
                                   type="text" class="form-control" placeholder="Enter Primary Email"
                                   ng-model="candidateModel.PrimaryEmail" ng-disabled="candidateModel.PrimaryEmail"
                                   name="primaryEmail"
                                   friendly-name="Personal"
                                   validation="required:alt=Primary Email is required.|xseed_email:alt=Please enter valid Primary Email.|xseed_max_len:Primary Email,100" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Secondary Email</label>
                        </div>
                        <div class="col-sm-8">
                            <input tabindex="12"
                                   type="text" class="form-control" placeholder="Enter Secondary Email"
                                   ng-model="candidateModel.SecondaryEmail"
                                   name="secondaryEmail"
                                   friendly-name="Personal"
                                   validation="xseed_email:alt=Please enter valid Secondary Email.|xseed_max_len:SecondaryEmail,100" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Mobile<span class="bold text-red">*</span></label>
                        </div>
                        <div class="col-sm-8">
                            <!--(E.g: 111-111-1111)-->
                            <input tabindex="13"
                                   type="text"
                                   class="form-control"
                                   placeholder="enter mobile"
                                   ng-model="candidateModel.Mobile"
                                   name="mobile"
                                   ui-mask="999-999-9999"
                                   ui-mask-placeholder
                                   ui-mask-placeholder-char="_"
                                   ng-blur="removeMask()"
                                   ng-focus="placeMask()"
                                   friendly-name="Personal"
                                   validation="required:alt=Mobile is required.|xseed_mobile:alt=Please enter valid mobile." />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Home Phone</label>
                        </div>
                        <div class="col-sm-8">
                            <!--(E.g: 111-111-1111)-->
                            <input tabindex="14"
                                   type="text" class="form-control" placeholder="enter phone"
                                   ng-model="candidateModel.Phone"
                                   ui-mask="(999) 999-9999"
                                   ui-mask-placeholder
                                   ui-mask-placeholder-char="_"
                                   ng-blur="removeMask()"
                                   ng-focus="placeMask()"
                                   name="phone"
                                   friendly-name="Personal"
                                   validation="xseed_phone:alt=Please enter valid Home Phone." />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Work Phone</label>
                        </div>
                        <div class="col-sm-8">
                            <input tabindex="15"
                                   type="text" class="form-control" placeholder="enter Work Phone"
                                   ng-model="candidateModel.WorkPhone"
                                   ui-mask="(999) 999-9999"
                                   ui-mask-placeholder
                                   ui-mask-placeholder-char="_"
                                   ng-blur="removeMask()"
                                   ng-focus="placeMask()"
                                   name="fax"
                                   friendly-name="Personal"
                                   validation="xseed_phonexseed_phone:alt=Please enter valid Work Phone." />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Fax</label>
                        </div>
                        <div class="col-sm-8">
                            <!--(E.g: 111-111-1111)-->
                            <input tabindex="16"
                                   type="text" class="form-control" placeholder="enter fax"
                                   ng-model="candidateModel.Fax"
                                   ui-mask="(999) 999-9999"
                                   ui-mask-placeholder
                                   ui-mask-placeholder-char="_"
                                   ng-blur="removeMask()"
                                   ng-focus="placeMask()"
                                   name="fax"
                                   friendly-name="Personal"
                                   validation="xseed_fax:alt=Please enter valid Fax." />
                        </div>
                    </div>
                </fieldset>
                <hr />
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Address1</label>
                        </div>
                        <div class="col-sm-8">
                            <input tabindex="17"
                                   type="text" class="form-control" placeholder="Enter Address1"
                                   ng-model="candidateModel.Address1"
                                   name="address1"
                                   friendly-name="Personal"
                                   validation="xseed_max_len:Address1,100" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Address2</label>
                        </div>
                        <div class="col-sm-8">
                            <input tabindex="18"
                                   type="text" class="form-control" placeholder="Enter Address2"
                                   ng-model="candidateModel.Address2"
                                   name="address2"
                                   friendly-name="Personal"
                                   validation="xseed_max_len:Address2,100" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Address3</label>
                        </div>
                        <div class="col-sm-8">
                            <input tabindex="19"
                                   type="text" class="form-control" placeholder="Enter Address3"
                                   ng-model="candidateModel.Address3"
                                   name="address3"
                                   friendly-name="Personal"
                                   validation="xseed_max_len:Address3,100" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Country<span class="bold text-red">*</span></label>
                        </div>
                        <div class="col-sm-8">
                            <select tabindex="20"
                                    name="country"
                                    ui-select2
                                    data-placeholder="select country"
                                    ng-model="candidateModel.CountryId"
                                    ng-click="getStateListByCountry(candidateModel.CountryId)"
                                    friendly-name="Personal"
                                    validation="required:alt=Country is required.">
                                <!--<option>Select Country</option>-->
                                <option value=""></option>
                                <option ng-repeat="country in metadata.GetAncillaryInformationResponse.countryList.country" value="{{country.Id}}" ng-bind="country.Name"></option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>State<span class="bold text-red">*</span></label>
                        </div>
                        <div class="col-sm-8">
                            <select tabindex="21"
                                    name="state"
                                    ui-select2
                                    data-placeholder="select state"
                                    ng-model="candidateModel.StateId"
                                    ng-click="getCityListByState(candidateModel.StateId)" friendly-name="Personal"
                                    validation="required:alt=State is required.">
                                <option value=""></option>
                                <option ng-repeat="state in stateList" value="{{state.Id}}"
                                        ng-bind="state.Name"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>City</label>
                        </div>
                        <div class="col-sm-8">
                            <select tabindex="22"
                                    name="city"
                                    ui-select2="{allowClear: true}"
                                    data-placeholder="select city"
                                    ng-model="candidateModel.CityId"
                                    friendly-name="Personal">
                                <option value=""></option>
                                <option ng-repeat="city in cityList" value="{{city.Id}}"
                                        ng-bind="city.Name"></option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Zip</label>
                        </div>
                        <div class="col-sm-8">
                            <input tabindex="23"
                                   type="text" class="form-control" placeholder="Enter Zip"
                                   ng-model="candidateModel.Zip"
                                   name="zip"
                                   friendly-name="Personal"
                                   validation="xseed_zip" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Current Location<span class="bold text-red">*</span></label>
                        </div>
                        <div class="col-sm-8">
                            <input tabindex="24"
                                   type="text" class="form-control" placeholder="Enter Current Location"
                                   ng-model="candidateModel.CurrentLocation"
                                   name="CurrentLocation"
                                   friendly-name="Personal"
                                   validation="required:alt=Current Location is required.|xseed_max_len:CurrentLocation,50" />
                        </div>
                    </div>
                </fieldset>
                <hr />
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Profile Image</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="file" style="width:100%">
                                <input tabindex="25"
                                       type="file"
                                       nv-file-select=""
                                       uploader="upload.uploader"
                                       ng-model="candidateModel.ProfileImageFile"
                                       ng-file-model="candidateModel.ProfileImageFile"
                                       name="profileImageFile"
                                       ng-click="enableFileButton(candidateModel.ProfileImageFile, 'profileImage')"
                                       check-file-size />
                                <span class="file-custom">
                                </span>
                            </label>

                            <label>
                                <strong>
                                    {{ candidateModel.ProfileImageFile.name }}
                                </strong>
                            </label>

                            <br />
                            <span ng-if="common.invalidProfileImgFile" class="validation text-danger">
                                Please select valid format of Profile Image.
                            </span>

                            <span ng-if="common.maxProfileImgFileSize" class="validation text-danger">
                                Max upload size of file for Profile Image is 2 mb.
                            </span>

                            <span ng-show="(!candidateModel.ProfileImageFile)">
                                <i class="fa fa-info-circle text-muted">
                                    <span class="text-muted">
                                        Please select files from jpg, jpeg or png.
                                    </span>
                                </i>
                            </span>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12" ng-if="candidateModel.ProfileImagePath != null">
                            <img ng-src="{{candidateModel.ProfileImageFile.data}}" lazy-src class="img-responsive logo-img profile-avatar" />
                        </div>
                    </div>

                </fieldset>
            </uib-tab>
            <uib-tab index="1">
                <uib-tab-heading>
                    <i class="fa fa-file-text m-r-xs" aria-hidden="true"></i><span class="hidden-sm-down hidden-md-down">General</span>
                </uib-tab-heading>
                <h6 class="hidden-lg-up">General-</h6>
                <hr class="hidden-lg-up m-t-xs m-b-xs" />
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-4 p-t-1">
                        <input tabindex="26"
                               type="checkbox" name="haveRelocateCheckbox" ng-model="candidateModel.CanReLocate" />
                        <label>Can Relocate</label>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Company Name</label>
                        </div>
                        <div class="col-sm-8">
                            <input tabindex="27"
                                   type="text" class="form-control" placeholder="Enter Company Name"
                                   ng-model="candidateModel.CompanyName"
                                   name="companyName"
                                   friendly-name="General"
                                   validation="xseed_max_len:Company Name,200" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Status</label>
                        </div>
                        <div class="col-sm-8">
                            <select tabindex="28"
                                    name="Status"
                                    ui-select2="{allowClear: true}"
                                    data-placeholder="select status"
                                    ng-model="candidateModel.Status">
                                <option ng-repeat="candidateStatus in lookup.candidateStatus"
                                        value="{{candidateStatus.Name}}"
                                        ng-bind="candidateStatus.Name"></option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Languages</label>
                        </div>
                        <div class="col-sm-8">
                            <select tabindex="29"
                                    selector
                                    multi="true" name="Language"
                                    options="lookup.languageList"
                                    placeholder="select Languages"
                                    model="candidateModel.Languages" value-attr="label"></select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Expected Employment Type</label>
                        </div>
                        <div class="col-sm-8">
                            <select tabindex="30"
                                    name="Status"
                                    ui-select2="{allowClear: true}"
                                    data-placeholder="select Employement Type"
                                    ng-model="candidateModel.EmployementType">
                                <option ng-repeat="jobType in lookup.jobType" value="{{jobType.Name}}"
                                        ng-bind="jobType.Name"></option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Current Salary</label>
                        </div>
                        <div class="col-sm-8">
                            <input tabindex="31"
                                   type="text" class="form-control" placeholder="Enter Current Salary"
                                   ng-model="candidateModel.CurrentSalary"
                                   name="CurrentSalary"
                                   angular-currency="currencyOptions"
                                   variable-options="true" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Expected Salary</label>
                        </div>
                        <div class="col-sm-8">
                            <input tabindex="32"
                                   type="text" class="form-control" placeholder="Enter Expected Salary"
                                   ng-model="candidateModel.ExpectedSalary"
                                   name="ExpectedSalary"
                                   angular-currency="currencyOptions"
                                   variable-options="true" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Availability Date</label>
                        </div>
                        <div class="col-sm-8">
                            <datepicker date-format="MM/dd/yyyy"
                                        date-set-hidden="true"
                                        date-min-limit="{{minDate}}"
                                        date-max-limit="{{availabilityDateLimit}}">

                                <input tabindex="33"
                                       type="text"
                                       class="form-control font-14"
                                       placeholder="Enter Availability Date"
                                       ng-model="candidateModel.AvailabilityDate"
                                       name="availabilityDate"
                                       friendly-name="General"
                                       validation="xseed_date:alt=Please enter a valid Availability Date with format(mm/dd/yyyy).|xseed_date_compare:{{maxDate}},{{availabilityDateLimit}}:alt=Availability Date needs to be a valid date between {{maxDate}} and {{availabilityDateLimit}}."
                                       ui-mask="99/99/9999"
                                       ui-mask-placeholder
                                       ui-mask-placeholder-char="_"
                                       model-view-value="true" />
                            </datepicker>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Total Exp.</label>
                        </div>
                        <div class="col-sm-4">
                            <select tabindex="34"
                                    name="experienceInYear"
                                    ui-select2="{allowClear: true}"
                                    data-placeholder="Year(s)"
                                    ng-model="candidateModel.ExperienceInYear">
                                <option value=""></option>
                                <option ng-repeat="i in 50 | range" value="{{i}}">{{i}}</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select tabindex="35"
                                    name="experienceInMonth"
                                    ui-select2="{allowClear: true}"
                                    data-placeholder="Month(s)"
                                    ng-model="candidateModel.ExperienceInMonth">
                                <option value=""></option>
                                <option ng-repeat="i in 12 | range" value="{{i}}">{{i}}</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>US Exp.</label>
                        </div>
                        <div class="col-sm-4">
                            <select tabindex="36"
                                    name="USExperienceInYear"
                                    ui-select2="{allowClear: true}"
                                    data-placeholder="Year(s)"
                                    ng-model="candidateModel.USExperienceInYear">
                                <option value=""></option>
                                <option ng-repeat="i in 50 | range" value="{{i}}">{{i}}</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select tabindex="37"
                                    name="USExperienceInMonth"
                                    ui-select2="{allowClear: true}"
                                    data-placeholder="Month(s)"
                                    ng-model="candidateModel.USExperienceInMonth">
                                <option value=""></option>
                                <option ng-repeat="i in 12 | range" value="{{i}}">{{i}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>SSN</label>
                        </div>
                        <div class="col-sm-8">
                            <input tabindex="38"
                                   type="text" class="form-control" placeholder="Enter SSN"
                                   ng-model="candidateModel.SSN"
                                   name="SSN"
                                   ui-mask="999-99-9999"
                                   ui-mask-placeholder
                                   ui-mask-placeholder-char="_"
                                   ng-blur="removeMask()"
                                   ng-focus="placeMask()"
                                   friendly-name="General"
                                   validation="xseed_ssn|xseed_max_len:SSN,12" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Preferred Location</label>
                        </div>
                        <div class="col-sm-8">
                            <input tabindex="39"
                                   type="text" class="form-control" placeholder="Enter Preferred Location"
                                   ng-model="candidateModel.PreferredLocation"
                                   name="PreferredLocation"
                                   friendly-name="General"
                                   validation="xseed_max_len:Preferred Location,50" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Profile Title</label>
                        </div>

                        <div class="col-sm-8">
                            <input tabindex="40"
                                   type="text" class="form-control" placeholder="Enter Profile Title"
                                   ng-model="candidateModel.ProfileTitle"
                                   name="ProfileTitle"
                                   friendly-name="General"
                                   validation="xseed_max_len:Profile Title,50" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            <label>Profile Summary</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea tabindex="41"
                                      class="form-control" placeholder="Enter Profile Summary"
                                      ng-model="candidateModel.ProfileSummary"
                                      name="ProfileSummary"
                                      friendly-name="General"
                                      validation="xseed_max_len:Profile Summary,2000"></textarea>
                            <span class="text-muted">
                                <i class="fa fa-info-circle m-r-xs" aria-hidden="true"></i>A profile

                                summary is a snapshot of your skills, accomplishments, and knowledge.
                            </span>
                        </div>
                    </div>
                </fieldset>
            </uib-tab>
            <uib-tab index="2">
                <uib-tab-heading>
                    <i class="fa fa-graduation-cap m-r-xs" aria-hidden="true"></i><span class="hidden-sm-down hidden-md-down">Education</span>
                </uib-tab-heading>
                <h6 class="hidden-lg-up">Education-</h6>
                <hr class="hidden-lg-up m-t-xs m-b-xs" />
                <span ng-show="candidateModel.Educations== null || candidateModel.Educations.length== 0">
                    <a class="btn btn-success btn-sm small" role="button" ng-click="addEducationRecord()">
                        <i class="fa fa-plus"></i>
                    </a>
                </span>
                <div data-ng-repeat="education in candidateModel.Educations" class="card-block shadow p-a-xs m-b-xs">
                    <div class="row m-b-xs">
                        <div class="col-sm-12">
                            <span class="pull-right" role="button" ng-click="removeEducationRecord($index)" ng-show="candidateModel.Educations.length>0">
                                <i class="fa fa-times-circle fa-2x"></i>
                            </span>
                        </div>
                    </div>
                    <fieldset class="form-group row m-b-xs">
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>Start Date</label>
                            </div>
                            <div class="col-sm-8">
                                <datepicker date-format="MM/dd/yyyy"
                                            date-set-hidden="true"
                                            date-max-limit="{{maxDate}}">

                                    <input tabindex="42" type="text" class="form-control" placeholder="Enter Start Date"
                                           ng-model="education.StartDate"
                                           name="StartDate{{$index}}"
                                           friendly-name="Education"
                                           validation="xseed_date:alt=Please enter a valid Start Date with format(mm/dd/yyyy).|xseed_date_compare:01/01/1900,{{maxDate}}:alt=Start Date needs to be a valid date between 01/01/1900 and {{maxDate}}."
                                           ui-mask="99/99/9999"
                                           ui-mask-placeholder
                                           ui-mask-placeholder-char="_"
                                           model-view-value="true" />
                                </datepicker>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>End Date</label>
                            </div>
                            <div class="col-sm-8">
                                <datepicker date-format="MM/dd/yyyy"
                                            date-set-hidden="true"
                                            date-min-limit="{{education.StartDate}}"
                                            date-max-limit="{{maxDate}}">

                                    <input tabindex="43" type="text" class="form-control" placeholder="Enter End Date"
                                           ng-model="education.EndDate"
                                           name="EndDate{{$index}}"
                                           friendly-name="Education"
                                           validation="xseed_date:alt=Please enter a valid End Date with format(mm/dd/yyyy).|xseed_date_compare:{{education.StartDate}},{{maxDate}}:alt=End Date needs to be a valid date between start date and {{maxDate}}."
                                           ui-mask="99/99/9999"
                                           ui-mask-placeholder
                                           ui-mask-placeholder-char="_"
                                           model-view-value="true" />
                                </datepicker>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row m-b-xs">
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>Degree Date</label>
                            </div>
                            <div class="col-sm-8">
                                <datepicker date-format="MM/dd/yyyy"
                                            date-set-hidden="true"
                                            date-max-limit="{{maxDate}}">

                                    <input tabindex="44" type="text" class="form-control" placeholder="Enter Degree Date"
                                           ng-model="education.DegreeDate"
                                           name="DegreeDate{{$index}}"
                                           friendly-name="Education"
                                           validation="xseed_date::alt=Please enter a valid Degree Date with format(mm/dd/yyyy)."
                                           ui-mask="99/99/9999"
                                           ui-mask-placeholder
                                           ui-mask-placeholder-char="_"
                                           model-view-value="true" />
                                </datepicker>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>School Name<span class="bold text-red">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                <input tabindex="45" type="text" class="form-control" placeholder="Enter School Name"
                                       ng-model="education.School"
                                       friendly-name="Education"
                                       validation="required:alt=School name is required.|xseed_max_len:School Name,100"
                                       name="SchoolName{{$index}}" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row m-b-xs">
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>School Type</label>
                            </div>
                            <div class="col-sm-8">
                                <select tabindex="46" ui-select2="{allowClear: true}"
                                        data-placeholder="select School Type"
                                        ng-model="education.SchoolType" name="SchoolType{{$index}}">
                                    <option value=""></option>
                                    <option value="Public">Public</option>
                                    <option value="Private">Private</option>
                                    <option value="Magnet">Magnet</option>
                                    <option value="Charter">Charter</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>Degree Name<span class="bold text-red">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                <input tabindex="47" type="text" class="form-control" placeholder="Enter Degree Name"
                                       ng-model="education.Course"
                                       name="DegreeName{{$index}}"
                                       friendly-name="Education"
                                       validation="required:alt=Degree is required.|xseed_max_len:Degree Name,100" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row m-b-xs">
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>Country</label>
                            </div>
                            <div class="col-sm-8">
                                <select tabindex="48" name="country"
                                        ui-select2
                                        data-placeholder="select country"
                                        ng-model="education.CountryId"
                                        ng-click="setStateListByCountry(education)">
                                    <option value=""></option>
                                    <option ng-repeat="country in metadata.GetAncillaryInformationResponse.countryList.country" value="{{country.Id}}"
                                            ng-bind="country.Name"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>State</label>
                            </div>
                            <div class="col-sm-8">
                                <select tabindex="49" name="state"
                                        ui-select2
                                        data-placeholder="select state"
                                        ng-model="education.StateId"
                                        ng-click="setCityListByState(education)">
                                    <option value=""></option>
                                    <option ng-repeat="state in education.stateList" value="{{state.Id}}"
                                            ng-bind="state.Name"></option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row m-b-xs">
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>City</label>
                            </div>
                            <div class="col-sm-8">
                                <select tabindex="50" name="city"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select city"
                                        ng-model="education.CityId">
                                    <option value=""></option>
                                    <option ng-repeat="city in education.cityList" value="{{city.Id}}"
                                            ng-bind="city.Name"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>Degree Type</label>
                            </div>
                            <div class="col-sm-8">
                                <select tabindex="51" ui-select2="{allowClear: true}"
                                        data-placeholder="select Degree Type"
                                        ng-model="education.DegreeType" name="DegreeType{{$index}}">
                                    <option value="Associate’s">Associate’s</option>
                                    <option value="Bachelor’s">Bachelor’s</option>
                                    <option value="Master’s">Master’s</option>
                                    <option value="Doctoral">Doctoral</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row m-b-xs">
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>Major</label>
                            </div>
                            <div class="col-sm-8">
                                <input tabindex="52" type="text" class="form-control" placeholder="Enter Major"
                                       ng-model="education.Major"
                                       friendly-name="Education"
                                       validation="xseed_max_len:Major,50|xseed_alpha_dash_dot_apostrophe:alt=Major may only contain letters, dots, dashes and apostrophe." name="Major{{$index}}" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-12 text-xs-center">
                                <span class="btn btn-danger btn-sm small" role="button" ng-click="addEducationRecord()"
                                      ng-show="$last">
                                    <i class="fa fa-plus"></i>
                                    <span>Add</span>
                                </span>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </uib-tab>
            <uib-tab index="3">
                <uib-tab-heading>
                    <i class="fa fa-suitcase m-r-xs" aria-hidden="true"></i><span class="hidden-sm-down hidden-md-down">Employment History</span>
                </uib-tab-heading>
                <h6 class="hidden-lg-up">Employment History-</h6>
                <hr class="hidden-lg-up m-t-xs m-b-xs" />
                <span ng-show="candidateModel.EmployementHistory== null || candidateModel.EmployementHistory.length== 0">
                    <a class="btn btn-success btn-sm small" role="button" ng-click="addEmploymentHistoryRecord()">
                        <i class="fa fa-plus"></i>
                    </a>
                </span>
                <div class="card-block shadow p-a-xs m-b-xs" data-ng-repeat="employement in candidateModel.EmployementHistory">
                    <div class="row m-b-xs">
                        <div class="col-sm-6">
                            <input tabindex="53" type="checkbox" name="IsCurrent{{$index}}" ng-model="employement.IsCurrent" />
                            <label>Is Current</label>
                        </div>
                        <div class="col-sm-6">
                            <span class="pull-right" role="button" ng-click="removeEmploymentHistoryRecord($index)" ng-show="candidateModel.EmployementHistory.length>0">
                                <i class="fa fa-times-circle fa-2x"></i>
                            </span>
                        </div>
                    </div>
                    <fieldset class="form-group row m-b-xs">
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>Start Date</label>
                            </div>
                            <div class="col-sm-8">
                                <datepicker date-format="MM/dd/yyyy"
                                            date-set-hidden="true"
                                            date-max-limit="{{maxDate}}">

                                    <input tabindex="54" type="text" class="form-control" placeholder="Enter Start Date"
                                           ng-model="employement.StartDate"
                                           name="EmployementStartDate{{$index}}"
                                           friendly-name="Employment History"
                                           validation="xseed_date:alt=Please enter a valid Start Date with format(mm/dd/yyyy).|xseed_date_compare:01/01/1900,{{maxDate}}:alt=Start Date needs to be a valid date between 01/01/1900 and {{maxDate}}."
                                           ui-mask="99/99/9999"
                                           ui-mask-placeholder
                                           ui-mask-placeholder-char="_"
                                           model-view-value="true" />
                                </datepicker>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>End Date</label>
                            </div>
                            <div class="col-sm-8">
                                <datepicker date-format="MM/dd/yyyy"
                                            date-set-hidden="true"
                                            date-min-limit="{{employement.StartDate}}"
                                            date-max-limit="{{maxDate}}">

                                    <input tabindex="55" type="text" class="form-control" placeholder="Enter End Date"
                                           ng-model="employement.EndDate"
                                           name="EmployementEndDate{{$index}}"
                                           friendly-name="Employment History"
                                           validation="xseed_date:alt=Please enter a valid End Date with format(mm/dd/yyyy).|xseed_date_compare:{{employement.StartDate}},{{maxDate}}:alt=End Date needs to be a valid date between start date and {{maxDate}}."
                                           ui-mask="99/99/9999"
                                           ui-mask-placeholder
                                           ui-mask-placeholder-char="_"
                                           model-view-value="true" />
                                </datepicker>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row m-b-xs">
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>Company Name<span class="bold text-red">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                <input tabindex="56" type="text" class="form-control" placeholder="Enter Company Name"
                                       ng-model="employement.CompanyName"
                                       friendly-name="Employment History"
                                       validation="required:alt=Company Name is required.|xseed_max_len:Company Name,200"
                                       name="CompanyName{{$index}}" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>Job Title<span class="bold text-red">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                <input tabindex="57" type="text" class="form-control" placeholder="Enter Job Title"
                                       ng-model="employement.JobTitle"
                                       friendly-name="Employment History"
                                       validation="required:alt=Job Title is required.|xseed_max_len:Job Title,50|xseed_alpha_dash_dot_apostrophe:alt=Job Title may only contain letters, dots, dashes and apostrophe." name="JobTitle{{$index}}" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row m-b-xs">
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>Salary</label>
                            </div>
                            <div class="col-sm-8">
                                <input tabindex="58" type="text" class="form-control" placeholder="Enter Salary"
                                       ng-model="employement.Salary"
                                       name="Salary{{$index}}"
                                       angular-currency="currencyOptions"
                                       variable-options="true" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>Salary Type</label>
                            </div>
                            <div class="col-sm-8">
                                <select tabindex="59" ui-select2="{allowClear: true}"
                                        data-placeholder="select Salary Type"
                                        ng-model="employement.SalaryType" name="SalaryType{{$index}}">
                                    <option value=""></option>
                                    <option value="Public">Hourly</option>
                                    <option value="Private">Annual</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row m-b-xs">
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>Additional Salary</label>
                            </div>
                            <div class="col-sm-8">
                                <input tabindex="60" type="text" class="form-control" placeholder="Enter Additional Salary"
                                       ng-model="employement.AdditionalSalary"
                                       name="AdditionalSalary{{$index}}"
                                       angular-currency="currencyOptions"
                                       variable-options="true" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>Additional Salary Description</label>
                            </div>
                            <div class="col-sm-8">
                                <input tabindex="61" type="text" class="form-control" placeholder="Enter Additional Salary Description"
                                       ng-model="employement.AdditionalSalaryDescription"
                                       name="AdditionalSalaryDescription{{$index}}"
                                       friendly-name="Employment History"
                                       validation="xseed_max_len:Additional Salary Description,50" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row m-b-xs">
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>Reason for Leaving</label>
                            </div>
                            <div class="col-sm-8">
                                <input tabindex="62" type="text" class="form-control" placeholder="Enter Reason for Leaving"
                                       ng-model="employement.ChangeReason"
                                       name="ChangeReason{{$index}}"
                                       friendly-name="Employment History"
                                       validation="xseed_max_len:Change Reason,50" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>Country</label>
                            </div>
                            <div class="col-sm-8">
                                <select tabindex="63" name="country"
                                        ui-select2
                                        data-placeholder="select country"
                                        ng-model="employement.CountryId"
                                        ng-click="setStateListByCountry(employement)">
                                    <!--.CountryId, education.stateList-->
                                    <!--<option>Select Country</option>-->
                                    <option value=""></option>
                                    <option ng-repeat="country in metadata.GetAncillaryInformationResponse.countryList.country" value="{{country.Id}}"
                                            ng-bind="country.Name"></option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row m-b-xs">
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>State</label>
                            </div>
                            <div class="col-sm-8">
                                <select tabindex="64" name="state"
                                        ui-select2
                                        data-placeholder="select state"
                                        ng-model="employement.StateId"
                                        ng-click="setCityListByState(employement)">
                                    <option value=""></option>
                                    <option ng-repeat="state in employement.stateList" value="{{state.Id}}"
                                            ng-bind="state.Name"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label>City</label>
                            </div>
                            <div class="col-sm-8">
                                <select tabindex="65" name="city"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select city"
                                        ng-model="employement.CityId">
                                    <option value=""></option>
                                    <option ng-repeat="city in employement.cityList" value="{{city.Id}}"
                                            ng-bind="city.Name"></option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row m-b-xs">
                        <div class="col-sm-6">
                            <div class="col-sm-4 ">
                                <label>Employment Type</label>
                            </div>
                            <div class="col-sm-8">
                                <select tabindex="66" name="Status"
                                        ui-select2="{allowClear: true}"
                                        data-placeholder="select Employement Type"
                                        ng-model="employement.EmployementType">
                                    <option ng-repeat="jobType in lookup.jobType" value="{{jobType.Name}}"
                                            ng-bind="jobType.Name"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <span class="pull-right">
                                <a class="btn btn-danger btn-sm small pull-right" role="button" ng-click="addEmploymentHistoryRecord()" ng-show="$last">
                                    <i class="fa fa-plus"></i>
                                    <span>Add</span>
                                </a>
                            </span>
                        </div>
                    </fieldset>
                </div>
            </uib-tab>
            <uib-tab heading="Other Details" index="4">
                <uib-tab-heading>
                    <i class="fa fa-file-text m-r-xs" aria-hidden="true"></i><span class="hidden-sm-down hidden-md-down">Other Details</span>
                </uib-tab-heading>
                <h6 class="hidden-lg-up">Other Details-</h6>
                <hr class="hidden-lg-up m-t-xs m-b-xs" />
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <input type="checkbox" tabindex="67" name="sendJobAlertCheckbox" ng-model="candidateModel.SendJobAlert" />
                            <label>Send Job Alert</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="checkbox" tabindex="68" name="havePassportCheckbox" ng-model="candidateModel.HavePassport" />
                            <label>Have Passport</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>Passport valid upto</label>
                        </div>
                        <div class="col-sm-8">
                            <datepicker date-format="MM/dd/yyyy"
                                        date-set-hidden="true"
                                        date-min-limit="{{minDate}}"
                                        date-max-limit="{{passportVisaValidDate}}"
                                        ng-if="candidateModel.HavePassport">

                                <input type="text" tabindex="69" class="form-control" placeholder="Enter Passport valid upto"
                                       ng-model="candidateModel.PassportValidUpto"
                                       name="passportValidUpto"
                                       friendly-name="Other Details"
                                       validation="xseed_date:alt=Please enter a valid Passport valid upto date with format (mm/dd/yyyy).|xseed_date_compare:{{minDate}},{{passportVisaValidDate}}:alt=Passport Valid Upto Date needs to be a valid date between {{minDate}} and {{passportVisaValidDate}}."
                                       ui-mask="99/99/9999"
                                       ui-mask-placeholder
                                       ui-mask-placeholder-char="_"
                                       model-view-value="true" />

                            </datepicker>
                            <!--validation="xseed_date"-->
                            <input tabindex="70" type="text" class="form-control"
                                   ng-model="candidateModel.PassportValidUpto"
                                   name="passportValidUpto"
                                   ng-if="!(candidateModel.HavePassport)"
                                   ng-disabled="true"
                                   ng-init="candidateModel.PassportValidUpto= ''" />
                            <!--validation="xseed_date"-->
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>VISA Type</label>
                        </div>
                        <div class="col-sm-8">
                            <select name="visaType"
                                    tabindex="71"
                                    ui-select2="{allowClear: true}"
                                    data-placeholder="select VISA type"
                                    ng-model="candidateModel.VisaType">
                                <option value="NA">NA</option>
                                <option ng-repeat="visaType in lookup.visaType" value="{{visaType.Name}}"
                                        ng-bind="visaType.Name"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <label>VISA valid upto</label>
                        </div>
                        <div class="col-sm-8">
                            <datepicker date-format="MM/dd/yyyy"
                                        date-set-hidden="true"
                                        date-min-limit="{{minDate}}"
                                        date-max-limit="{{passportVisaValidDate}}"
                                        ng-if="candidateModel.VisaType!='NA'">
                                <input type="text"
                                       tabindex="72"
                                       class="form-control"
                                       placeholder="Enter VISA valid upto"
                                       ng-model="candidateModel.VisaValidUpto"
                                       name="visaValidUpto"
                                       friendly-name="Other Details"
                                       validation="xseed_date:alt=Please enter a valid Visa valid upto date with format(mm/dd/yyyy).|xseed_date_compare:{{minDate}},{{passportVisaValidDate}}:alt=Visa Valid Upto Date needs to be a valid date between {{minDate}} and {{passportVisaValidDate}}."
                                       ui-mask="99/99/9999"
                                       ui-mask-placeholder
                                       ui-mask-placeholder-char="_"
                                       model-view-value="true" />
                            </datepicker>
                            <!--validation="xseed_date"-->

                            <input tabindex="73" type="text" class="form-control"
                                   ng-model="candidateModel.VisaValidUpto"
                                   name="visaValidUpto"
                                   ng-if="candidateModel.VisaType=='NA'"
                                   ng-disabled="true"
                                   ng-init="candidateModel.VisaValidUpto= ''" />

                            <!--validation="xseed_date"-->

                        </div>
                    </div>
                </fieldset>
            </uib-tab>
            <uib-tab index="5">
                <uib-tab-heading>
                    <i class="fa fa-share-alt m-r-xs" aria-hidden="true"></i><span class="hidden-sm-down hidden-md-down">Social Media Contact</span>
                </uib-tab-heading>
                <h6 class="hidden-lg-up">Social Media Contact-</h6>
                <hr class="hidden-lg-up m-t-xs m-b-xs" />
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-1">
                            <i class="fa fa-linkedin-square fa-2x text-linkedin"></i>
                        </div>
                        <div class="col-sm-11">
                            <input tabindex="74" type="text" class="form-control" placeholder="Enter LinkedIn URL"
                                   ng-model="candidateModel.LinkedInURL"
                                   name="linkedInURL"
                                   friendly-name="Social Media Contact"
                                   validation="url|xseed_max_len:LinkedIn URL,500" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-1">
                            <i class="fa fa-twitter-square fa-2x text-twitter"></i>
                        </div>
                        <div class="col-sm-11">
                            <input tabindex="75" type="text" class="form-control" placeholder="Enter Twitter URL"
                                   ng-model="candidateModel.TwitterURL"
                                   name="twitterURL"
                                   friendly-name="Social Media Contact"
                                   validation="url|xseed_max_len:Twitter URL,500" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-6">
                        <div class="col-sm-1">
                            <i class="fa fa-facebook-square fa-2x text-facebook"></i>
                        </div>
                        <div class="col-sm-11">
                            <input tabindex="76" type="text" class="form-control" placeholder="Enter Facebook URL"
                                   ng-model="candidateModel.FacebookURL"
                                   name="facebookURL"
                                   friendly-name="Social Media Contact"
                                   validation="url|xseed_max_len:Facebook URL,500" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-1">
                            <i class="fa fa-google-plus-square fa-2x text-google-plus"></i>
                        </div>
                        <div class="col-sm-11">
                            <input tabindex="77" type="text" class="form-control" placeholder="Enter Google+ URL"
                                   ng-model="candidateModel.GooglePlusURL"
                                   name="googlePlusURL"
                                   friendly-name="Social Media Contact"
                                   validation="url|xseed_max_len:Google+ URL,500" />
                        </div>
                    </div>
                </fieldset>
            </uib-tab>
            <uib-tab heading="Skills" index="6">
                <uib-tab-heading>
                    <i class="fa fa-lightbulb-o m-r-xs" aria-hidden="true"></i><span class="hidden-sm-down hidden-md-down">Technical Skills</span>
                </uib-tab-heading>
                <h6 class="hidden-lg-up">Technical Skills</h6>
                <hr class="hidden-lg-up m-t-xs m-b-xs" />
                <fieldset class="form-group row m-b-xs">
                    <div class="col-sm-12">
                        <select tabindex="78" selector
                                multi="true"
                                model="candidateModel.Skills"
                                options="lookup.skillListData"
                                value-attr="label"
                                placeholder="type skills..."
                                create="createFunction(input)"></select>
                    </div>
                </fieldset>
            </uib-tab>
        </uib-tabset>
        <div class="row">
            <div class="col-sm-12  m-t-1 text-xs-center">
                <button type="button" class="btn btn-primary btn-sm small m-r-1" ng-click="editCandidateProcess(createCandidateForm)">
                    <i class="fa fa-save m-r-xs" aria-hidden="true"></i>Save
                </button>
                <button type="button" class="btn btn-danger btn-sm small" ng-click="candidateCancel()">Cancel</button>
            </div>
        </div>
    </div>
</form>
<script id="uib/template/tabs/tab.html" type="text/ng-template">
    <li class="nav-item">
        <a href class="nav-link" ng-click="select()" uib-tab-heading-transclude ng-class="{active: active, disabled: disabled}">{{heading}}</a>
    </li>
</script>