﻿<div ng-init="checkUserAccess();getCompanyListByOrganization();">
    <div class="row">
        <div class="card">
            <div class="card-header clearfix no-bg p-a-xs">
                <div class="col-sm-8">
                    <form class="search-form">
                        <i class="material-icons p-l-xs p-r-xs">search</i>
                        <input class="form-control form-control-sm bg-white" type="text" placeholder="Search" ng-focus="main.focusOn()"
                               ng-blur="main.focusOff()" autofocus="true" ng-model="filter.$" maxlength="50">
                    </form>
                </div>
                <div class="col-sm-1 p-r-0 pull-right">
                    <a class="btn btn-danger small btn-sm pull-right" ng-click="createCompanyView()" ng-if="userDetails.Company_Create == 'True'">
                        <i class="fa fa-plus m-r-xs"></i>Add
                    </a>
                </div>
            </div>
            <div class="card-block p-a-xs clearfix">
                <div class="table-responsive scroll slimScroll fixed_headers td-col-lg">
                    <table ng-table="tblCompanyList" class="table table-striped table-hover table-bordered table-sm table-hover text-nowrap small m-a-0">
                        <tbody class="slimScroll">
                            <tr ng-repeat="company in data | filter : filter.$">
                                <td scope="row" data-title="'Client Name'" filter="{ 'Code': 'text'}" data-sortable="'Name'" header-class="'bg-primary'" ng-bind="company.Name" ng-click="companyDetailView(company.OrganizationId, company.Id)" style="color:blue;" ng-attr-title="{{company.Name}}"></td>
                                <td scope="row" data-title="'Client Size'" filter="{ 'Code': 'text'}" data-sortable="'Size'" header-class="'bg-primary'" ng-bind="company.Size" ng-attr-title="{{company.Size}}"></td>
                                <td scope="row" data-title="'Address'" filter="{ 'Code': 'text'}" data-sortable="'Address1'" header-class="'bg-primary'" ng-bind="company.Address1" ng-attr-title="{{company.Address1}}"></td>
                                <td scope="row" data-title="'Contact'" filter="{ 'Code': 'text'}" data-sortable="'Phone'" header-class="'bg-primary'" ng-bind="company.Phone" ng-attr-title="{{company.Phone}}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 p-a-3" ng-if="data.length == 0">
                    <p class="text-shadow lead text-xs-center">
                        <img src="images/search.png" /><br />
                        No company found!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>