﻿<div class="title-section row">
    <div class="col-sm-4 text-lg-right">

    </div>
</div>

<script type="text/ng-template" id="selector/demo/company">
    <!--<i class="flag" ng-class="option.code.toLowerCase()"></i>&nbsp;-->
    <div class="col-sm-4">
        {{option.name}}
    </div>
    <div class="col-sm-4">
        <img ng-if="option.logoLink" ng-src="{{option.logoLink}}" lazy-src class="img-responsive logo-img profile-avatar">
    </div>
    <div class="col-sm-4">
        {{option.dataSource}}
    </div>
</script>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="form-horizontal" name="companySearchForm" novalidate>
                <fieldset class="form-group" style="padding-top: 10px;padding-bottom:10px">

                    <div class="col-sm-2">
                        <label>Enter Company Name<span class="bold text-red"></span></label>
                    </div>

                    <div class="col-sm-6">
                        <select selector
                                model="selected.company"
                                remote="companySearchModifiedProcess(search)"
                                view-item-template="'selector/demo/company'"
                                dropdown-item-template="'selector/demo/company'" 
                                ng-click="copySelectedCompanyData()"></select>

                        <!--remote="remote" remote-param="{{remoteParam}}"-->
                        <!--multi="true" remote-param="text" options="options" remote="companySearchProcess(text)" remote-param="name"
                        view-item-template="'selector/demo/company'"
                            dropdown-item-template="'selector/demo/company'" value-attr="value" remote-param="value" value-attr="name" debounce="200"
                        options="options" view-item-template="'selector/demo/company'" placeholder="Choose one or more company..."-->
                        <!--<ui-select ng-model="main.order.table" reset-search-input="false" required="true" ng-maxlength="40">
                            <ui-select-match placeholder="Select table or add new one...">
                                <span>{{$select.selected.description || $select.search}}</span>
                                <a class="btn btn-xs btn-link pull-right" ng-click="main.clear($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                            </ui-select-match>
                            <ui-select-choices repeat="table in (main.tables | filter: { description: $select.search }) track by table.id" refresh="main.refreshResults($select)" refresh-delay="0">
                                <span>{{table.description}}</span>
                            </ui-select-choices>
                        </ui-select>-->
                        <!--<input type="text" class="form-control" placeholder="Enter Company Name"
                        ng-model="common.companyModel.Name" name="companyName" validation="required:alt=Company Name is required.|max_len:200" />-->
                    </div>
                    <div class="col-sm-4">
                        <p>
                            <!--Current value: <code ng-bind="selectedCompany|json"></code>-->
                        </p>
                    </div>

                </fieldset>

                <!--<div ng-if="common.companyModel.Name">-->
                    <div class="card shadow">

                        <div class="card-block">
                            <!--<h5 class="bold card-title text-primary no-bg m-b-1">1. Profile Info</h5>-->
                            <fieldset class="form-group">
                                <div class="col-sm-4">
                                    <label>Website</label>
                                    <input type="text" class="form-control"
                                           ng-model="common.companyModel.Website"
                                           name="website" />
                                </div>
                                <div class="col-sm-4">
                                    <label>Description</label>
                                    <textarea class="form-control"
                                              ng-model="common.companyModel.Description"
                                              name="description"></textarea>
                                </div>
                                <div class="col-sm-4">
                                    <label>Industry</label>
                                    <textarea class="form-control"
                                              ng-model="common.companyModel.industry"
                                              name="industry"></textarea>
                                </div>




                            </fieldset>

                            <fieldset class="form-group">
                                <div class="col-sm-4">
                                    <div class="col-sm-2">
                                        <label>Logo</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <img ng-if="common.companyModel.logoLink" ng-src="{{common.companyModel.logoLink}}" lazy-src
                                             class="img-responsive logo-img profile-avatar">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>Country</label>
                                    <input type="text" class="form-control"
                                           ng-model="common.companyModel.country"
                                           name="country" />
                                </div>
                                <div class="col-sm-4">
                                    <label>Speciality</label>
                                    <textarea class="form-control"
                                              ng-model="common.companyModel.speciality"
                                              name="speciality"></textarea>
                                </div>
                            </fieldset>

                            <fieldset class="form-group">
                                <div class="col-sm-4">
                                    <label>Street Address</label>
                                    <input type="text" class="form-control"
                                           ng-model="common.companyModel.streetAddress"
                                           name="streetAddress" />
                                </div>
                                <div class="col-sm-4">
                                    <label>Locality</label>
                                    <input type="text" class="form-control"
                                           ng-model="common.companyModel.locality"
                                           name="locality" />
                                </div>
                                <div class="col-sm-4">
                                    <label>Postal Code</label>
                                    <input type="text" class="form-control"
                                           ng-model="common.companyModel.postalCode"
                                           name="postalCode" />
                                </div>


                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-4">
                                    <label>Region</label>
                                    <input type="text" class="form-control"
                                           ng-model="common.companyModel.region"
                                           name="region" />
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="col-sm-4">
                                    <label>Employee Strength</label>
                                    <input type="text" class="form-control"
                                           ng-model="common.companyModel.employeeCount" name="employeeCount" />
                                </div>
                                <div class="col-sm-4">
                                    <label>Founded Date</label>
                                    <input type="text" class="form-control"
                                           ng-model="common.companyModel.foundedDate"
                                           name="foundedYear" data-date-format="MM/dd/yyyy" bs-datepicker />
                                </div>
                                <div class="col-sm-4">
                                    <label>Type</label>
                                    <input type="text" class="form-control"
                                           ng-model="common.companyModel.type"
                                           name="type" />
                                </div>
                            </fieldset>






                            <!--<div class="card-block">-->
                            <div ng-if="common.companyModel.dataSource=='Wikidata'" style="margin-top:25px">
                                <h5 class="bold card-title text-primary no-bg m-b-1">Google API</h5>
                                <fieldset class="form-group">
                                    <div class="col-sm-4">
                                        <label>Description</label>
                                        <input type="text" class="form-control"
                                               ng-model="common.companyModel.googleDescription"
                                               name="googleDescription" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label>DetailedDescription</label>
                                        <textarea class="form-control"
                                                  ng-model="common.companyModel.googleDetailedDescription"
                                                  name="googleDetailedDescription"></textarea>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Website</label>
                                        <input type="text" class="form-control"
                                               ng-model="common.companyModel.googleWebsite"
                                               name="googleWebsite" />
                                    </div>




                                </fieldset>
                                <!--<div class="card-block">-->
                                <!--<h5 class="bold card-title text-primary no-bg m-b-1">1. Profile Info</h5>-->
                                <fieldset class="form-group">
                                    <div class="col-sm-4">
                                        <label>WikipediaPage</label>
                                        <input type="text" class="form-control"
                                               ng-model="common.companyModel.googleWikipediaPage"
                                               name="googleWikipediaPage" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label>ImageLink</label>
                                        <img ng-if="common.companyModel.logoLink" ng-src="{{common.companyModel.googleImageLink}}" lazy-src
                                             class="img-responsive logo-img profile-avatar">
                                    </div>
                                    <div class="col-sm-4">
                                        <label>ResultScore</label>
                                        <input type="text" class="form-control"
                                               ng-model="common.companyModel.googleResultScore"
                                               name="googleResultScore" />
                                    </div>




                                </fieldset>
                            </div>
                        </div>
                    </div>
                <!--</div>-->
            </form>
        </div>
    </div>
</div>