﻿<script type="text/ng-template" id="selector/demo/company">
    <div class="col-sm-8">
        {{option.Name}}
    </div>
    <div class="col-sm-4">
        <img ng-if="option.logoLink" ng-src="{{option.logoLink}}" lazy-src class="avatar avatar-md img-rounded">
    </div>
</script>

<div ng-init="checkUserAccess()">
    <div class="card">
        <form class="form-horizontal input-border-b" name="createCompanyForm" novalidate ng-init="getCompanySourceList();buildIndustryStructuredData()">
            <div class="card-header clearfix p-a-xs no-bg">
                <div class="row">
                    <fieldset class="form-group col-sm-10" ng-if="common.companyModel.manipulationMode=== 'Create'">
                        <div class="col-sm-3">
                            <label class="font-weight-medium h6">Enter Client Name<span class="bold text-red"></span></label>
                        </div>
                        <div class="col-sm-9">
                            <select selector
                                    model="selected.company"
                                    remote="companySearchModifiedProcess(search)"
                                    view-item-template="'selector/demo/company'"
                                    dropdown-item-template="'selector/demo/company'"
                                    ng-click="copySelectedCompanyData()"></select>
                        </div>
                    </fieldset>
                    <div class="col-sm-2 pull-right">
                        <a class="btn btn-danger btn-sm small pull-right" role="button" href="#/companyList">
                            <i class="fa fa-list m-r-xs" aria-hidden="true"></i>List
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <h6 class="m-b-1 font-weight-medium"><i class="fa fa-user m-r-xs"></i>Profile Info</h6>
                <fieldset class="form-group row m-b-0">
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Client Name<span class="bold text-red">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Client Name"
                                   ng-model="common.companyModel.Name" name="companyName" validation="required:alt=Client Name is required.|max_len:200" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Industry<span class="bold text-red">*</span></label>
                        <div class="col-sm-9">
                            <select name="industryId"
                                    ui-select2="{allowClear: true}"
                                    data-placeholder="Industry"
                                    ng-model="common.companyModel.IndustryTypeIdList"
                                    multiple="multiple" validation="required:alt=Industry is required.">
                                <optgroup ng-repeat="industryType in industryStructuredData" label="{{industryType.text}}">
                                    <option ng-repeat="children in industryType.children" value="{{children.id}}"
                                            ng-bind="children.text"></option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-0">
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Client Type</label>
                        <div class="col-sm-9">
                            <select name="companyTypeId"
                                    ui-select2="{allowClear: true}"
                                    data-placeholder="Company Type"
                                    ng-model="common.companyModel.CompanyTypeId">
                                <option value=""></option>
                                <option ng-repeat="companyType in metadata.GetAncillaryInformationResponse.companyTypeList.companyType" value="{{companyType.Id}}"
                                        ng-bind="companyType.Name"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Employee Strength</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Employee Strength"
                                   ng-model="common.companyModel.Size" name="employeeStrength"
                                   validation="max_len:500" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-0">
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Website</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Website"
                                   ng-model="common.companyModel.Website"
                                   name="website" validation="max_len:500|url" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Career Page</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Career Page"
                                   ng-model="common.companyModel.CareerPageURL"
                                   name="careerPage"
                                   validation="max_len:500|url" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-0">
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control form-control-sm" placeholder="Enter Description"
                                      ng-model="common.companyModel.Description"
                                      name="description"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Client Logo</label>
                        <div class="col-sm-7">
                            <label class="file width-100">
                                <input tabindex="27"
                                       type="file"
                                       accept=".jpg,.jpeg,.png"
                                       id="exampleInputFile"
                                       ng-model="common.companyModel.ProfileImageFile"
                                       ng-file-model="common.companyModel.ProfileImageFile"
                                       name="profileImageFile"
                                       ng-click="enableButtonProfile(common.companyModel.ProfileImageFile, 'company')"
                                       check-file-size title="" />
                                <span class="file-custom overflow-hidden">
                                    {{common.companyModel.ProfileImageFile.name}}
                                </span>
                            </label>
                            <i class="fa fa-info-circle text-muted">
                                <span class="text-muted">
                                    Please select files from jpg, jpeg or png.
                                </span>
                            </i>
                            <p ng-if="common.invalidProfileImgFile" class="validation text-danger">Please select valid format.</p>
                            <p ng-if="common.maxProfileImgFileSize" class="validation text-danger">Max upload size for file is 2 mb.</p>
                            <p ng-if="common.minProfileImgFileSize" class="validation text-danger">File should not be empty.</p>
                        </div>
                        <div class="col-sm-2 m-b-xs">
                            <img ng-if="common.companyModel.ProfileImage" ng-src="{{common.companyModel.logoImagePath}}" lazy-src class="avatar avatar-3wh img-thumbnail">
                            <img ng-if="!common.companyModel.ProfileImage" class="avatar avatar-3wh img-thumbnail">
                        </div>
                    </div>
                </fieldset>
                <hr />
                <h6 class="m-b-1 font-weight-medium"><i class="fa fa-share-alt m-r-xs" aria-hidden="true"></i>Social</h6>
                <fieldset class="form-group row m-b-0">
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">LinkedIn</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter LinkedIn URL"
                                   ng-model="common.companyModel.LinkedInURL"
                                   name="linkedInURL"
                                   validation="max_len:500|url" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Twitter</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Twitter URL"
                                   ng-model="common.companyModel.TwitterURL"
                                   name="twitterURL" validation="max_len:500|url" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-0">
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Facebook</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Facebook URL"
                                   ng-model="common.companyModel.FacebookURL"
                                   name="facebookURL" validation="max_len:500|url" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Google+</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Google+ URL"
                                   ng-model="common.companyModel.GooglePlusURL"
                                   name="googlePlusURL" validation="max_len:500|url" />
                        </div>
                    </div>
                </fieldset>
                <hr />
                <h6 class="m-b-1 font-weight-medium"><i class="fa fa-phone m-r-xs" aria-hidden="true"></i>Contact Info</h6>
                <fieldset class="form-group row m-b-0">
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Country</label>
                        <div class="col-sm-9">
                            <select name="countryId"
                                    ui-select2
                                    data-placeholder="Country"
                                    ng-model="common.companyModel.CountryId"
                                    ng-click="getStateListByCountry(common.companyModel.CountryId)">
                                <!--<option>Select Country</option>-->
                                <option value=""></option>
                                <option ng-repeat="country in metadata.GetAncillaryInformationResponse.countryList.country" value="{{country.Id}}"
                                        ng-bind="country.Name"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">State</label>
                        <div class="col-sm-9">
                            <select name="stateId"
                                    ui-select2
                                    data-placeholder="State"
                                    ng-model="common.companyModel.StateId"
                                    ng-click="getCityListByState(common.companyModel.StateId)">
                                <option value=""></option>
                                <option ng-repeat="state in stateList" value="{{state.Id}}"
                                        ng-bind="state.Name"></option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-0">
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">City</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-9 p-r-0">
                                    <select name="cityId"
                                            ui-select2="{allowClear: true}"
                                            data-placeholder="City"
                                            ng-model="common.companyModel.CityId">
                                        <option value=""></option>
                                        <option ng-repeat="city in cityList" value="{{city.Id}}"
                                                ng-bind="city.Name"></option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-sm small btn-primary" ng-disabled="!(common.companyModel.CountryId && common.companyModel.StateId)" ng-click="openAddNewCityToMasterModal(common.companyModel.CountryId, common.companyModel.StateId)"><i class="fa fa-plus"></i>Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Zip</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Zip"
                                   ng-model="common.companyModel.Zip"
                                   name="zip"
                                   validation="xseed_zip" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-0">
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Address1</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Address1"
                                   ng-model="common.companyModel.Address1"
                                   name="address1" validation="max_len:100" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Address2</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Address2"
                                   ng-model="common.companyModel.Address2"
                                   name="address2" validation="max_len:100" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-0">
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Address3</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Address3"
                                   ng-model="common.companyModel.Address3"
                                   name="address3" validation="max_len:100" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Fax</label>
                        <div class="col-sm-9">
                            <input type="text"
                                   class="form-control form-control-sm"
                                   ng-model="common.companyModel.Fax"
                                   name="fax"
                                   ui-mask="(999) 999-9999"
                                   ui-mask-placeholder
                                   ui-mask-placeholder-char="_"
                                   ng-blur="removeMask()"
                                   ng-focus="placeMask()"
                                   placeholder="enter fax"
                                   validation="xseed_fax" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-0">
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Contact Number</label>
                        <div class="col-sm-9">
                            <input type="text"
                                   class="form-control form-control-sm"
                                   ng-model="common.companyModel.Phone"
                                   name="contactNumber"
                                   ui-mask="(999) 999-9999"
                                   ui-mask-placeholder
                                   ui-mask-placeholder-char="_"
                                   ng-blur="removeMask()"
                                   ng-focus="placeMask()"
                                   placeholder="enter phone"
                                   validation="xseed_phone" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Submission Page URL</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Submission Page URL"
                                   ng-model="common.companyModel.SubmissionPageURL"
                                   name="SubmissionPageURL" validation="max_len:500|url" />
                        </div>
                    </div>
                </fieldset>
                <hr />
                <h6 class="m-b-1 font-weight-medium"><i class="fa fa-link m-r-xs" aria-hidden="true"></i>Reference</h6>
                <fieldset class="form-group row m-b-0">
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Source</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm readOnlyTransperent"
                                   placeholder="enter source"
                                   ng-model="common.companyModel.companySourceName"
                                   name="companySource"
                                   id="lookupCompanySource"
                                   readonly
                                   ng-click="openGenericMasterModal('Company Source');"
                                   ng-keyup="openGenericMasterModal('Company Source');" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Via</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Via"
                                   ng-model="common.companyModel.Via"
                                   name="via" validation="max_len:200" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row m-b-0">
                    <div class="col-sm-12 col-md-12 col-lg-6 m-b-xs">
                        <label class="col-sm-3">Via Website</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Via Website"
                                   ng-model="common.companyModel.ViaWebsite"
                                   name="viaWebsite" validation="max_len:500|url" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12 text-xs-center">
                        <button type="button" class="btn btn-sm small btn-primary" ng-if="common.companyModel.manipulationMode=== 'Create'"
                                ng-click="createCompanyProcess(createCompanyForm)">
                            <i class="fa fa-plus m-r-xs"></i>Add
                        </button>
                        <button type="button" class="btn btn-sm small btn-primary" ng-if="common.companyModel.manipulationMode=== 'Edit'"
                                ng-click="editCompanyProcess(createCompanyForm)">
                            <i class="fa fa-save m-r-xs" aria-hidden="true"></i>Save
                        </button>
                        <button type="button" class="btn btn-sm small btn-default" ng-click="cancelCompany()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>