﻿<div class="main-content" ng-init="checkUserAccess();getCompanyListByOrganization('list');">
    <div class="content-view client-profile-list">

        <div class="row">
            <div class="col-md-6">

                <div class="form-group has-search m-b-0">
                    <span style="line-height: 1.3rem;" class="fa fa-search form-control-feedback"></span>
                    <input id="txt-search" class="form-control form-control-sm m-l-xs" type="text" placeholder="Search client" ng-focus="main.focusOn()" ng-blur="main.focusOff()" autofocus="true" ng-model="filter.$" maxlength="50">
                </div>

             </div>
            <div class="col-md-6 left-buttons">
                <a href="javascript:;" class="btn btn-outline-primary  btn-sm btn-icon loading-demo m-r-xs m-b-xs font-12 pull-right" ng-click="createCompanyView()" ng-if="userDetails.Company_Create == 'True'">
                    <i class="material-icons"> add_circle_outline</i><span>Add client</span>
                </a>
            </div>
        </div>
        <div class="card-block-outer">
            <div class="no-more-tables dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                <table class="table table-responsive dataTable datatable ng-scope " ng-table="tblCompanyList">
                    <caption></caption>
                    <thead>
                        <tr class="card">
                            <th scope="col">Client name</th>
                            <th scope="col">website</th>
                            <th scope="col">Company size</th>
                            <th scope="col">Client source</th>
                            <th scope="col">Address</th>
                            <th scope="col">Contact</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="card panel-heading" id="tr-1" ng-repeat="company in companyList | filter : filter.$" repeat-end="InializePopoverAndTooltip()">
                            <td data-title="Client name">
                                <label class="labelauty-label">
                                    <p class="card-title display-flex font-12 visa-overflow">
                                        <a href="javascript:void(0);" class="card-title display-flex font-12 text-primary" ng-bind="company.Name" ng-click="companyDetailView(company.OrganizationId, company.Id,'companyDetail')" ;>
                                        </a>
                                    </p>
                                </label>
                            </td>
                            <td data-title="Website">
                                <label class="labelauty-label">
                                    <p class="card-title display-flex font-12 visa-overflow">
                                        <a target="_blank" href="{{company.Website}}" class="card-title display-flex font-12 text-primary" ng-bind="company.Website">
                                        </a>
                                    </p>
                                </label>
                            </td>
                            <td data-title="Company size">
                                <label class="labelauty-label">
                                    <p class="card-title display-flex font-12" ng-bind="company.Size">
                                    </p>
                                </label>
                            </td>
                            <td data-title="Client source">
                                <label class="labelauty-label">
                                    <p class="card-title display-flex font-12 " ng-bind="company.CompanySourceName">
                                    </p>
                                </label>
                            </td>
                            <td data-title="Address">
                                <label class="labelauty-label">
                                    <p class="card-title display-flex font-12" ng-bind="company.Address1">
                                    </p>
                                </label>
                            </td>
                            <td data-title="Contact">
                                <label class="labelauty-label">
                                    <p class="card-title display-flex font-12" ng-bind="company.Phone | ContactFilter">
                                    </p>
                                </label>
                            </td>
                            <td data-title="Action">
                                <button type="button"  ng-click="companyDetailView(company.OrganizationId, company.Id,'createContact')" data-toggle="tooltip" title="" data-original-title="Add contact person" 
                                        class="btn btn-outline-primary btn-sm m-r-xs loading-demo m-b-xs font-12 mb-0 "> <i class="fa fa-user-plus"></i>
                                </button>
                                <button type="button" ng-click="companyDetailView(company.OrganizationId, company.Id,'companyDetail')" data-toggle="tooltip" title="" data-original-title="View details"
                                         class="btn btn-outline-primary btn-sm m-r-xs loading-demo m-b-xs font-12 mb-0 "> <i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-sm-12 p-a-3" ng-if="data.length == 0">
                <p class="text-shadow lead text-xs-center">
                    <img src="images/search.png" alt="Search Image"/><br /> No company found!
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    $('button').on('click', function () { 
        $(this).unbind('hover');
    });
   
</script>