﻿<div class="modal" animate="animate" modal-animation="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content animated slideInDown">
            <div class="modal-header p-a-xs bg-primary">
                <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-label="Close">
                    <i class="fa fa-close"></i>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <img ng-if="common._dataCompanyContact.ProfileImage" ng-src="{{configuration.XSEED_COMPANYCONTACT_IMAGE_PATH}}/{{common._dataCompanyContact.ProfileImage}}" class="avatar avatar-3wh img-circle" alt="Profile-Image">
                    <img ng-if="!common._dataCompanyContact.ProfileImage" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" class="avatar avatar-3wh img-circle" alt="Profile-Image">
                    {{common._dataCompanyContact.FirstName}} {{common._dataCompanyContact.MiddleName}} {{common._dataCompanyContact.LastName}}
                </h4>
            </div>
            <div class="modal-body p-a-xs">
                <div class="row p-a-2">
                    <div class="col-sm-6">
                        <ul class="fa-ul">
                            <li ng-if="common._dataCompanyContact.BirthDate">
                                <i class="fa-li fa fa-2x fa-birthday-cake text-muted"></i>
                                <label class="text-muted">Birthday</label>
                                <p class="bold font-14">{{common._dataCompanyContact.BirthDate| date:'dd-MMM-yyyy'}}</p>
                            </li>
                            <li ng-if="common._dataCompanyContact.Designation">
                                <i class="fa-li fa fa-briefcase fa-2x text-muted"></i>
                                <label class="text-muted">Designation</label>
                                <p ng-bind="common._dataCompanyContact.Designation" class="bold font-14"></p>
                            </li>

                            <li ng-if="common._dataCompanyContact.PrimaryEmail" class="break-word">
                                <i class="fa-li fa fa-2x fa-envelope text-muted"></i>
                                <label class="text-muted">Primary Email</label>
                                <p class="bold font-14">{{common._dataCompanyContact.PrimaryEmail}}</p>
                            </li>
                            <li ng-if="common._dataCompanyContact.Mobile">
                                <i class="fa-li fa fa-2x fa-mobile-phone text-muted"></i>
                                <label class="text-muted">Mobile</label>
                                <p class="bold font-14">{{common._dataCompanyContact.Mobile}}</p>
                            </li>
                            <li ng-if="common._dataCompanyContact.Fax">
                                <i class="fa-li fa fa-2x fa-fax text-muted"></i>
                                <label class="text-muted">Fax</label>
                                <p class="bold font-14">{{common._dataCompanyContact.Fax}}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="fa-ul">
                            <li ng-if="common._dataCompanyContact.AnniversaryDate">
                                <i class="fa-li fa fa-2x fa-diamond text-muted"></i>
                                <label class="text-muted">Aniversary</label>
                                <p class="bold font-14">{{common._dataCompanyContact.AnniversaryDate| date:'dd-MMM-yyyy'}}</p>
                            </li>
                            <li ng-if="common._dataCompanyContact.PracticeLine">
                                <i class="fa-li fa fa-2x fa-suitcase text-muted"></i>
                                <label class="text-muted">Practice Line</label>
                                <p ng-bind="common._dataCompanyContact.PracticeLine" class="bold font-14"></p>
                            </li>
                            <li class="break-word" ng-if="common._dataCompanyContact.SecondaryEmail">
                                <i class="fa-li fa fa-2x fa-envelope-o text-muted"></i>
                                <label class="text-muted">Secondary Email</label>
                                <p class="bold font-14">{{common._dataCompanyContact.SecondaryEmail}}</p>
                            </li>
                            <li ng-if="common._dataCompanyContact.Phone">
                                <i class="fa-li fa fa-2x fa-phone text-muted"></i>
                                <label class="text-muted">Phone</label>
                                <p class="bold font-14">{{common._dataCompanyContact.Phone}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row p-l-2">
                    <div class="col-sm-12">
                        <ul class="list-unstyled fa-ul">
                            <li ng-if="common._dataCompanyContact.Address2">
                                <i class="fa-li fa fa-2x fa-map-marker text-muted"></i>
                                <label class="text-muted">Address 1</label>
                                <p class="bold font-14">{{common._dataCompanyContact.Address1}}</p>
                            </li>
                            <li ng-if="common._dataCompanyContact.Address2">
                                <i class="fa-li fa fa-2x fa-map-marker text-muted"></i>
                                <label class="text-muted">Address 2</label>
                                <p class="bold font-14">{{common._dataCompanyContact.Address2}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/. Modal -->
