﻿<div class="title-section row">    
    <div class="col-sm-4 text-lg-right">
        
    </div>
</div>

<script type="text/ng-template" id="selector/demo/company">
    <!--<i class="flag" ng-class="option.code.toLowerCase()"></i>&nbsp;-->
    <div class="col-sm-4">
        {{option.name}}
    </div>
    <div class="col-sm-4">
        <img ng-if="option.logoLink" ng-src="{{option.logoLink}}" lazy-src class="img-responsive logo-img profile-avatar">
    </div>
    <div class="col-sm-4">
        {{option.dataSource}}
    </div>
</script>

<div class="row">    
    <div class="col-sm-12">
        <div class="card">
            <form class="form-horizontal" name="companySearchForm" novalidate>                
                    <fieldset class="form-group" style="padding-top: 10px;padding-bottom:10px">
                        <legend></legend>
                        <div class="col-sm-2">
                            <label>Enter Company Name<span class="bold text-red"></span></label>
                        </div>

                        <div class="col-sm-6">
                            <select selector model="selectedCompany" remote="companySearchProcess(search)" view-item-template="'selector/demo/company'"
                                    dropdown-item-template="'selector/demo/company'" remote-validation="validate(value)"></select>
                        </div>
                        <div class="col-sm-4">
                            <p> </p>
                        </div>
                    </fieldset>                

                <div ng-if="selectedCompany.name">
                    <div class="card shadow">

                        <div class="card-block">
                            <fieldset class="form-group">
                                <legend></legend>
                                <div class="col-sm-4">
                                    <label>Website</label>
                                    <input type="text" class="form-control" ng-model="selectedCompany.website" name="website" />
                                </div>
                                <div class="col-sm-4">
                                    <label>Description</label>
                                    <textarea class="form-control" ng-model="selectedCompany.description" name="description"></textarea>
                                </div>
                                <div class="col-sm-4">
                                    <label>Industry</label>
                                    <textarea class="form-control" ng-model="selectedCompany.industry" name="industry"></textarea>
                                </div>
                            </fieldset>

                            <fieldset class="form-group">
                                <legend></legend>
                                <div class="col-sm-4">
                                    <div class="col-sm-2">
                                        <label>Logo</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <img ng-if="selectedCompany.logoLink" ng-src="{{selectedCompany.logoLink}}" lazy-src class="img-responsive logo-img profile-avatar" alt="Company Logo Image">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>Country</label>
                                    <input type="text" class="form-control" ng-model="selectedCompany.country" name="country" />
                                </div>
                                <div class="col-sm-4">
                                    <label>Speciality</label>
                                    <textarea class="form-control" ng-model="selectedCompany.speciality" name="speciality"></textarea>
                                </div>
                            </fieldset>

                            <fieldset class="form-group">
                                <legend></legend>
                                <div class="col-sm-4">
                                    <label>Street Address</label>
                                    <input type="text" class="form-control" ng-model="selectedCompany.streetAddress" name="streetAddress" />
                                </div>
                                <div class="col-sm-4">
                                    <label>Locality</label>
                                    <input type="text" class="form-control" ng-model="selectedCompany.locality" name="locality" />
                                </div>
                                <div class="col-sm-4">
                                    <label>Postal Code</label>
                                    <input type="text" class="form-control" ng-model="selectedCompany.postalCode" name="postalCode" />
                                </div>

                            </fieldset>
                            <fieldset class="form-group">
                                <legend></legend>
                                <div class="col-sm-4">
                                    <label>Region</label>
                                    <input type="text" class="form-control" ng-model="selectedCompany.region" name="region" />
                                </div>
                                </fieldset>
                                <fieldset>
                                    <legend></legend>
                                    <div class="col-sm-4">
                                        <label>Employee Strength</label>
                                        <input type="text" class="form-control" ng-model="selectedCompany.employeeCount" name="employeeCount" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Founded Date</label>
                                        <input type="text" class="form-control" ng-model="selectedCompany.foundedDate" name="foundedYear" data-date-format="MM/dd/yyyy" bs-datepicker />
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Type</label>
                                        <input type="text" class="form-control" ng-model="selectedCompany.type" name="type" />
                                    </div>
                                </fieldset>

                                <div ng-if="selectedCompany.dataSource=='Wikidata'" style="margin-top:25px">
                                    <h5 class="bold card-title text-primary no-bg m-b-1">Google API</h5>
                                    <fieldset class="form-group">
                                        <legend></legend>
                                        <div class="col-sm-4">
                                            <label>Description</label>
                                            <input type="text" class="form-control" ng-model="selectedCompany.googleDescription" name="googleDescription" />
                                        </div>
                                        <div class="col-sm-4">
                                            <label>DetailedDescription</label>
                                            <textarea class="form-control" ng-model="selectedCompany.googleDetailedDescription" name="googleDetailedDescription"></textarea>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Website</label>
                                            <input type="text" class="form-control" ng-model="selectedCompany.googleWebsite" name="googleWebsite" />
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <legend></legend>
                                        <div class="col-sm-4">
                                            <label>WikipediaPage</label>
                                            <input type="text" class="form-control" ng-model="selectedCompany.googleWikipediaPage" name="googleWikipediaPage" />
                                        </div>
                                        <div class="col-sm-4">
                                            <label>ImageLink</label>
                                            <img ng-if="selectedCompany.logoLink" ng-src="{{selectedCompany.googleImageLink}}" lazy-src class="img-responsive logo-img profile-avatar" alt="Google Image Link">
                                        </div>
                                        <div class="col-sm-4">
                                            <label>ResultScore</label>
                                            <input type="text" class="form-control" ng-model="selectedCompany.googleResultScore" name="googleResultScore" />
                                        </div>
                                    </fieldset>
                                </div>
</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>