﻿<div class="main-content" ng-init="checkUserAccess()">
    <div class="content-view">

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#company-detail" role="tab" aria-expanded="true">Company detail</a></li>
            <li class="nav-item"><a ng-click="companyDetailView(common.companyModel.OrganizationId, common.companyModel.Id,'companyDetail')" class="nav-link" data-toggle="tab" href="#contact-person" role="tab" aria-expanded="false">Contact persons</a></li>
            <a href="" class="btn btn-outline-primary mt-10 btn-sm btn-icon loading-demo     font-12 pull-right  m-r-xs " ng-if="userDetails.Company_Create == 'True'" ng-click="createCompanyView()"><i class="material-icons"> add_circle_outline </i> Add Client</a>
            <a ng-href="#/createContact" ng-if="userDetails.Company_Create == 'True'" class="btn btn-outline-primary mt-10 btn-sm btn-icon loading-demo m-r-xs   font-12 pull-right  " ng-click="resetContact();"><i class="material-icons"> account_circle </i> Add new contact</a>
            <a ng-href="#/companyList" class="btn btn-outline-primary mt-10 btn-sm btn-icon loading-demo m-r-xs   font-12 pull-right  "><i class="material-icons"> format_list_bulleted </i> View clients</a>

        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="company-detail" role="tabpanel" aria-expanded="true">
                <div class="flex-xs scroll-y p-a-2">
                    <div class="column-equal m-b-2">
                        <div class="row" ng-if="common.companyModel.Id">
                            <div class="col-md-6">

                                <div class="col-sm-2" style="width:100px"><img ng-src="{{ common.companyModel.logoImagePath}}" class="avatar avatar-lg img-circle" alt=""></div>
                                <div class="col-sm-9 v-align-middle p-l-2">
                                    <h1>{{common.companyModel.Name}}</h1>
                                    <h4 class="text-overflow">
                                        <a class="text-primary" ng-if="common.companyModel.ViaWebsite" ng-href="{{common.companyModel.ViaWebsite}}"> {{common.companyModel.ViaWebsite?common.companyModel.ViaWebsite:'Not Available'}}</a>

                                    </h4>
                                    <p style="margin-bottom: 0">
                                        <a target="_blank" ng-href="{{common.companyModel.FacebookURL}}" class="btn btn-outline-primary btn-sm"><span class="fa fa-facebook"></span> </a>
                                        <a target="_blank" ng-href="{{common.companyModel.TwitterURL}}" class="btn btn-outline-info btn-sm"><span class="fa fa-twitter"></span> </a>
                                        <a target="_blank" ng-href="{{common.companyModel.LinkedInURL}}" class="btn btn-outline-primary btn-sm"><span class="fa fa-linkedin"></span> </a>
                                        <a target="_blank" ng-href="{{common.companyModel.GooglePlusURL}}" class="btn btn-outline-danger btn-sm"><span class="fa fa-google-plus"></span> </a>

                                        <a href ng-if="userDetails.Company_Update == 'True'" ng-click="companyEditView();" class="btn btn-outline-primary btn-sm pull-right  ">Edit </a>
                                    </p>
                                </div>

                            </div>
                            <div class="col-md-6 v-align-middle p-l-2 separator">
                                <h5 ng-class="common.companyModel.Size ? '' : (!common.companyModel.Size ? 'text-muted' : '')"><i class="material-icons" aria-hidden="true">people </i> {{common.companyModel.Size ? common.companyModel.Size : 'Not Available'}} </h5>
                                <h5 ng-class="common.companyModel.Phone ? '' : (!common.companyModel.Phone ? 'text-muted' : '')"><i class="material-icons" aria-hidden="true">local_phone </i> {{common.companyModel.Phone ? common.companyModel.Phone : 'Not Available' | ContactFilter}} </h5>
                                <h5 ng-class="common.companyModel.Fax ? '' : (!common.companyModel.Fax ? 'text-muted' : '')"><i class="material-icons" aria-hidden="true">local_printshop </i> {{common.companyModel.Fax ? common.companyModel.Fax : 'Not Available' | ContactFilter}} </h5>
                                <h5 ng-class="common.companyModel.Address1 ? '' : (!common.companyModel.Address1 ? 'text-muted' : '')"><i class="material-icons" aria-hidden="true">place </i> {{common.companyModel.Address1 ? common.companyModel.Address1:'Not Available'}} </h5>
                            </div>
                        </div>


                    </div>

                    <div class="card disp-block" ng-if="common.companyModel.Description">
                        <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">assistant </i>Description</div>
                        <div class="card-block ">
                            <p>
                                {{common.companyModel.Description}}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Client type</span>
                            <p ng-class="common.companyModel.CompanyType ? '' : (!common.companyModel.CompanyType ? 'text-muted' : '')">{{common.companyModel.CompanyType ? common.companyModel.CompanyType : 'Not Available'}}</p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Client Source</span>
                            <p ng-class="common.companyModel.companySourceName ? '' : (!common.companyModel.companySourceName ? 'text-muted' : '')">{{common.companyModel.companySourceName ? common.companyModel.companySourceName : 'Not Available'}}</p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Via</span>
                            <p ng-class="common.companyModel.Via ? '' : (!common.companyModel.Via ? 'text-muted' : '')">{{common.companyModel.Via ? common.companyModel.Via : 'Not Available'}}</p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Via website</span>
                            <p>
                                <a ng-if="common.companyModel.ViaWebsite" class="text-primary" target="_blank" ng-href="{{common.companyModel.ViaWebsite}}"> {{common.companyModel.ViaWebsite}}</a>
                                <span ng-if="!common.companyModel.ViaWebsite" class="text-muted">Not Available</span>
                            </p>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <span class="bold text-uppercase">Career Page URL</span>
                            <p>
                                <a class="text-primary" target="_blank" ng-if="common.companyModel.CareerPageURL" ng-href="{{common.companyModel.CareerPageURL}}"> {{common.companyModel.CareerPageURL}}</a>
                                <span ng-if="!common.companyModel.CareerPageURL" class="text-muted">Not Available</span>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Submission Page URL</span>
                            <p>
                                <a class="text-primary" ng-href="{{common.companyModel.SubmissionPageURL}}"> {{common.companyModel.SubmissionPageURL}}</a>
                                <span ng-if="!common.companyModel.SubmissionPageURL" class="text-muted">Not Available</span>
                            </p>
                        </div>

                        <div class="col-md-3">
                            <span class="bold text-uppercase">Address 1</span>
                            <p ng-class="common.companyModel.Address1 ? '' : (!common.companyModel.Address1 ? 'text-muted' : '')">{{common.companyModel.Address1 ? common.companyModel.Address1 : 'Not Available'}}</p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Address 2</span>
                            <p ng-class="common.companyModel.Address2 ? '' : (!common.companyModel.Address2 ? 'text-muted' : '')">{{common.companyModel.Address2 ? common.companyModel.Address2 : 'Not Available'}}</p>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <span class="bold text-uppercase">City</span>
                            <p ng-class="common.companyModel.City ? '' : (!common.companyModel.City ? 'text-muted' : '')">{{common.companyModel.City ? common.companyModel.City : 'Not Available'}}</p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">State | Zip Code</span><br />
                            <span ng-class="[common.companyModel.State ? '' : (!common.companyModel.State ? 'text-muted' : '')]">{{common.companyModel.State ? common.companyModel.State : 'Not Available'}}</span> | <span ng-class="[common.companyModel.Zip ? '' : (!common.companyModel.Zip ? 'text-muted' : '')]">{{common.companyModel.Zip ? common.companyModel.Zip :'Not Available'}}</span>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Country</span>
                            <p ng-class="common.companyModel.Country ? '' : (!common.companyModel.Country ? 'text-muted' : '')">{{common.companyModel.Country ? common.companyModel.Country : 'Not Available'}}</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane" id="contact-person" role="tabpanel" aria-expanded="false">
                <h6 class="text-muted text-xs-center ng-scope" ng-if="CompanyContacts.length==0">No contacts found</h6>
                <div class="layout-xs contacts-container message-view" ng-if="CompanyContacts.length>0">
                    <div class="flexbox-xs layout-column-xs contacts-list b-r">
                        <div class="contact-header">
                            <div class="contact-toolbar">
                                <form class="form-inline"><input class="form-control" type="text" placeholder="Search" ng-model="search"></form>
                            </div>
                        </div>
                        <div class="flex-xs scroll-y">
                            <div ng-repeat="contact in CompanyContacts | filter:search">
                                <a href="javascript:;" class="column-equal" data-toggle="contact" ng-click="detailContactView(contact.Id,contact.CompanyId)">
                                    <div class="col v-align-middle contact-avatar">
                                        <div class="circle-icon bg-primary">{{contact.FirstName | initialsFilter}}</div>
                                    </div>
                                    <div class="col v-align-middle contact-details">
                                        <div class="col-md-5 separator_vertical">
                                            <span class="bold">{{contact.FirstName}} {{contact.LastName}}</span><br/>
                                            <p style="margin-bottom: 0" class="small" ng-class="contact.Designation ? '' : (!contact.Designation ? 'text-muted' : '')">{{contact.Designation ? contact.Designation : 'Not Available'}}</p>
                                        </div>
                                        <div class="col-md-7">
                                            <span class="small text-overflow" ng-class="contact.PrimaryEmail ? '' : (!contact.PrimaryEmail ? 'text-muted' : '')">{{contact.PrimaryEmail ? contact.PrimaryEmail : 'Not Available'}}</span><br /> <span class="small"
                                                ng-class="contact.Mobile ? '' : (!contact.Mobile ? 'text-muted' : '')">{{contact.Mobile ? contact.Mobile : 'Not Available' | ContactFilter}}</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="flexbox-xs layout-column-xs contact-view" style="    background: #ebebeb;">

                        <div class="contact-header hidden-lg-up">
                            <div class="contact-toolbar">
                                <a href="javascript:;" data-toggle="contact">
                                    <i class="material-icons visible-xs m-r-1">arrow_back</i>
                                </a>
                            </div>
                        </div>
                        <div class="flex-xs scroll-y p-a-2">
                            <div class="column-equal m-b-2">
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="col-sm-2" style="width:100px">
                                            <img ng-if="common.contactDetail.ProfileImage" ng-src="{{configuration.XSEED_COMPANYCONTACT_IMAGE_PATH}}/{{common.contactDetail.ProfileImage}}" class="avatar avatar-lg img-circle" alt="">
                                            <img ng-if="!common.contactDetail.ProfileImage" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" class="avatar avatar-lg img-circle" alt="">

                                        </div>
                                        <div class="col-sm-9 v-align-middle p-l-2">
                                            <h1><b>{{common.contactDetail.FirstName}}</b> {{common.contactDetail.LastName}}</h1>
                                            <h3 ng-class="common.contactDetail.Designation ? '' : (!common.contactDetail.Designation ? 'text-muted' : '')">{{common.contactDetail.Designation ? common.contactDetail.Designation : 'Not Available'}}</h3>
                                            <p style="margin-bottom: 0">
                                                <button class="btn btn-outline-primary btn-sm" ng-if="userDetails.Company_Update == 'True'" ng-click="editContactView(common.contactDetail.Id,common.contactDetail.CompanyId);">Edit</button>
                                            </p>
                                        </div>

                                    </div>
                                    <div class="col-md-6 v-align-middle p-l-2 separator">
                                        <h5 ng-class="common.contactDetail.PrimaryEmail ? '' : (!common.contactDetail.PrimaryEmail ? 'text-muted' : '')"><i class="material-icons" aria-hidden="true">email </i> <a ng-href="{{common.contactDetail.PrimaryEmail}}">{{common.contactDetail.PrimaryEmail ? common.contactDetail.PrimaryEmail : 'Not Available'}}</a> </h5>
                                        <h5 ng-class="common.contactDetail.Mobile ? '' : (!common.contactDetail.Mobile ? 'text-muted' : '')"><i class="material-icons" aria-hidden="true">local_phone </i> {{common.contactDetail.Mobile ? common.contactDetail.Mobile : 'Not Available' | ContactFilter}} </h5>
                                        <h5 ng-class="common.contactDetail.Phone ? '' : (!common.contactDetail.Phone ? 'text-muted' : '')"><i class="material-icons" aria-hidden="true">home </i> {{common.contactDetail.Phone ? common.contactDetail.Phone : 'Not Available' | ContactFilter}} </h5>
                                        <h5 ng-class="common.contactDetail.Address1 ? '' : (!common.contactDetail.Address1 ? 'text-muted' : '')"><i class="material-icons" aria-hidden="true">place</i>{{common.contactDetail.Address1 ? common.contactDetail.Address1 : 'Not Available'}}</h5>
                                        <h5 ng-class="common.contactDetail.Address2 ? '' : (!common.contactDetail.Address2 ? 'text-muted' : '')"><i class="material-icons" aria-hidden="true">place</i> {{common.contactDetail.Address2 ? common.contactDetail.Address2 : 'Not Available'}} </h5>

                                    </div>
                                </div>
                            </div>

                            <div class="card disp-block">
                                <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">assistant </i>Practice line</div>
                                <div class="card-block ">
                                    <p ng-class="common.contactDetail.PracticeLine ? '' : (!common.contactDetail.PracticeLine ? 'text-muted' : '')">
                                        {{common.contactDetail.PracticeLine ? common.contactDetail.PracticeLine : 'Not Available'}}
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">Address 1</span>
                                    <p ng-class="common.contactDetail.Address1 ? '' : (!common.contactDetail.Address1 ? 'text-muted' : '')">{{common.contactDetail.Address1 ? common.contactDetail.Address1 : 'Not Available'}}</p>
                                </div>
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">Address 2</span>
                                    <p ng-class="common.contactDetail.Address2 ? '' : (!common.contactDetail.Address2 ? 'text-muted' : '')">{{common.contactDetail.Address2 ? common.contactDetail.Address2 : 'Not Available'}}</p>
                                </div>
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">City</span>
                                    <p ng-class="common.contactDetail.City ? '' : (!common.contactDetail.City ? 'text-muted' : '')">{{common.contactDetail.City ? common.contactDetail.City:'Not Available'}}</p>
                                </div>
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">State | Zip Code</span><br/>
                                    <span ng-class="common.contactDetail.State ? '' : (!common.contactDetail.State ? 'text-muted' : '')">{{common.contactDetail.State ? common.contactDetail.State : 'Not Available'}}</span> |<span ng-class="common.contactDetail.Zip ? '' : (!common.contactDetail.Zip ? 'text-muted' : '')"> {{common.contactDetail.Zip ? common.contactDetail.Zip : 'Not Available'}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">Country</span>
                                    <p ng-class="common.contactDetail.Country ? '' : (!common.contactDetail.Country ? 'text-muted' : '')">{{common.contactDetail.Country ? common.contactDetail.Country : 'Not Available'}}</p>
                                </div>
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">Anniversary Date</span>
                                    <p ng-class="common.contactDetail.AnniversaryDate ? '' : (!common.contactDetail.AnniversaryDate ? 'text-muted' : '')">{{common.contactDetail.AnniversaryDate ? common.contactDetail.AnniversaryDate : 'Not Available'}}</p>
                                </div>
                                <div class="col-md-3">
                                    <span class="bold text-uppercase">D.O.B.</span>
                                    <p ng-if="common.contactDetail.BirthDate">{{common.contactDetail.BirthDate| date:'dd-MMM-yyyy'}}</p>
                                    <p ng-if="!common.contactDetail.BirthDate" class="text-muted">Not Available</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>