﻿<style>
    .contacts-list {
        min-width: 240px;
        max-width: 340px;
    }
    
    .separator_vertical {
        border-right: 1px solid #ccc;
    }
    
    .avatar-lg {
        width: 6rem;
        height: 6rem;
    }
    
    .contacts-container .contacts-list a:focus,
    .contacts-container .contacts-list a:hover {
        background-color: #dbdbdb;
    }
    
    .contacts-container .contacts-list a {
        padding: 0.5rem 0.7rem;
    }
    
    .contacts-container .btn-sm {
        margin: 1px 5px 0px 0px !important;
        padding: .1rem .5rem;
    }
    
    .badge_large {
        border-radius: 2.5rem;
        padding: 0.17rem 0.7rem;
    }
</style>

<div class="main-content" ng-init="isSingleDetail?candidateDetailView():appliedCandidatesForJob(appliedCadidateData.JobId); getCandidateRatingDetails();initializeCandidateRatings()">
    <div class="content-view">
        <div class="layout-xs contacts-container message-view">
            <div class="flexbox-xs layout-column-xs contacts-list b-r" ng-if="appliedCandidateListData && !isSingleDetail">

                <div class="contact-header">
                    <div class="contact-toolbar">
                        <form class="form-inline">
                            <input class="form-control" type="text" placeholder="Search" ng-model="searchcandidate">
                        </form>
                    </div>
                </div>
                <div class="scroll-y" ng-repeat="appliedCandidate in appliedCandidateListData | filter : searchcandidate">
                    <a href="javascript:;" class="column-equal" data-toggle="contact" onclick="$('.Smallcontact-view').toggle();" ng-click="openCandidateFromOtherSection(appliedCandidate._id);" ng-if="userDetails.Candidate_Read == 'True'">
                        <div class="col v-align-middle contact-avatar">
                            <div class="circle-icon bg-primary">{{appliedCandidate.FirstName[0]}}</div>
                        </div>
                        <div class="col v-align-middle contact-details">
                            <div class="col-md-6 separator_vertical">

                                <span class="bold">{{appliedCandidate.FirstName + " " + appliedCandidate.LastName}}</span>
                                <p style="margin-bottom: 0" class="small">{{appliedCandidate.DisplayName}}</p>

                            </div>
                            <div class="col-md-6 ">
                                <span class="small">jamesdoe123@gmail.com</span> <span class="small">+91 9156219633</span>
                                <button title="submit" type="button" class="btn btn-outline-success  btn-sm   loading-demo m-r-xs m-b-xs font-12 mb-0" ng-click="acceptCandidate(appliedCandidate);" ng-if="userDetails.Submission_Create == 'True'"> <i data-toggle=" tooltip" title="" data-original-title="View details" class="fa fa-paper-plane"></i></button>
                                <button title="reject" type="button" class="btn btn-outline-danger  btn-sm   loading-demo m-r-xs m-b-xs font-12 mb-0" ng-click="rejectCandidate(appliedCandidate._id);" ng-if="userDetails.Submission_Create == 'True'"> <i data-toggle="tooltip" title="" data-original-title="View details" class="fa fa-ban"></i></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div ng-class="CheckScreenSize()" class="flexbox-xs layout-column-xs contact-view" style="background: #ebebeb;" ng-if="common.candidateModel._id">
                <div class="row">
                    <div class="col-md-12">

                        <a href="javascript:window.history.back();" ng-if="isSingleDetail" style="margin-top: 13px !important;
margin-left: 15px !important;" class="btn btn-outline-primary btn-sm ">Back to list</a>

                        <span ng-if="!isSingleDetail" class="text-shadow lead text-xs-center pull-right">{{common.selectedJob.RequisitionId}} | {{common.selectedJob.JobTitle}}</span>
                    </div>
                </div>
                <div ng-if="appliedCandidateListData && !isSingleDetail" class="contact-header hidden-lg-up">
                    <div class="contact-toolbar">
                        <a onclick="$('.Smallcontact-view').toggle();" href="javascript:;" data-toggle="contact">
                            <i class="material-icons visible-xs m-r-1">arrow_back</i>
                        </a>
                    </div>
                </div>
                <div class="flex-xs scroll-y p-a-2">
                    <div class="column-equal m-b-2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-2" style="width:100px" ng-if="common.candidateModel.ProfileImageFile.data"><img src="{{common.candidateModel.ProfileImageFile.data}}" class="avatar avatar-lg img-circle" alt=""></div>
                                    <div class="col-sm-2" style="width:100px" ng-if="!common.candidateModel.ProfileImageFile.data"><img src="{{configuration.XSEED_NO_IMAGE_PATH}}" class="avatar avatar-lg img-circle" alt=""></div>

                                    <div class="col-sm-9 v-align-middle p-l-2">
                                        <h1><b>{{common.candidateModel.FirstName}}</b> {{common.candidateModel.LastName}}</h1>

                                        <h3>{{common.candidateModel.DisplayName}}</h3>
                                        <p style="margin-bottom: 0">
                                            <span class="badge_large bg-primary bg-grey-dark pull-left">{{common.candidateModel.Status}}</span>
                                            <span class="col-md-8 col-sm-12">
                                                <button ng-if="!isSingleDetail" title="submit" type="button" class="btn btn-outline-success  btn-sm   loading-demo m-r-xs m-b-xs font-12 mb-0" ng-click="acceptCandidate(common.candidateModel);" ng-if="userDetails.Submission_Create == 'True'"> <i data-toggle="tooltip" title="" data-original-title="View details" class="fa fa-paper-plane"></i></button>
                                                <button ng-if="!isSingleDetail" title="reject" type="button" class="btn btn-outline-danger  btn-sm   loading-demo m-r-xs m-b-xs font-12 mb-0" ng-click="rejectCandidate(common.candidateModel._id);" ng-if="userDetails.Submission_Create == 'True'"> <i data-toggle="tooltip" title="" data-original-title="View details" class="fa fa-ban"></i></button>
                                                <button class="btn btn-outline-primary btn-sm" ng-if="common.candidateModel.ResumeList" ng-click="openResumePreviewModal(common.candidateModel._id);">Resume</button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <br><br>
                                        <h5 ng-if="common.candidateModel.PrimaryEmail"><i class="material-icons" aria-hidden="true">email </i> <a href="mailto:common.candidateModel.PrimaryEmail">{{common.candidateModel.PrimaryEmail}}</a> </h5>
                                        <h5>
                                            <span ng-if="common.candidateModel.Mobile"><i class="material-icons" aria-hidden="true">local_phone </i> {{common.candidateModel.Mobile | ContactFilter}} </span>
                                            <span ng-if="common.candidateModel.Phone"><i class="material-icons" aria-hidden="true">home </i> {{common.candidateModel.Phone | ContactFilter}} </span>
                                        </h5>

                                        <h5 ng-if="common.candidateModel.Address1"><i class="material-icons" aria-hidden="true">place </i> {{common.candidateModel.Address1}}</h5>
                                        <div class="row">
                                            <div class="col-md-6" ng-if="common.candidateModel.FacebookURL || common.candidateModel.TwitterURL || common.candidateModel.GooglePlusURL || common.candidateModel.LinkedInURL">
                                                <h5>
                                                    <i class="material-icons" aria-hidden="true">share </i>
                                                    <a target="_blank" href="{{common.candidateModel.FacebookURL}}" ng-if="common.candidateModel.FacebookURL" class="btn btn-outline-info btn-sm"><span class="fa fa-facebook"></span> </a>
                                                    <a target="_blank" href="{{common.candidateModel.TwitterURL}}" ng-if="common.candidateModel.TwitterURL" class="btn btn-outline-primary btn-sm"><span class="fa fa-twitter"></span> </a>
                                                    <a target="_blank" href="{{common.candidateModel.GooglePlusURL}}" ng-if="common.candidateModel.GooglePlusURL" class="btn btn-outline-danger btn-sm"><span class="fa fa-google-plus"></span> </a>
                                                    <a target="_blank" href="{{common.candidateModel.LinkedInURL}}" ng-if="common.candidateModel.LinkedInURL" class="btn btn-outline-primary btn-sm"><span class="fa fa-linkedin"></span> </a>
                                                </h5>
                                            </div>
                                            <div class="col-md-6" style="padding-left: 37px" ng-if="!common.candidateModel.FacebookURL && !common.candidateModel.TwitterURL && !common.candidateModel.GooglePlusURL && !common.candidateModel.LinkedInURL">

                                                <input ng-if="common.candidateModel.Rating" id="ratingId" ng-model="common.candidateModel.Rating" value="1.5" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="sm" title="" readonly>
                                            </div>
                                            <div class="col-md-6" ng-if="common.candidateModel.FacebookURL || common.candidateModel.TwitterURL || common.candidateModel.GooglePlusURL || common.candidateModel.LinkedInURL">

                                                <input ng-if="common.candidateModel.Rating" id="ratingId" ng-model="common.candidateModel.Rating" value="1.5" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="sm" title="" readonly>
                                            </div>
                                        </div>


                                        <div class="row" style="padding-left: 30px">
                                            <div class="col-md-6">
                                                <h6 ng-if="CandidateRatingDetails.EducationAvgRating">Education Rating : {{CandidateRatingDetails.EducationAvgRating}} <i class="fa fa-star text-warning"></i></h6>
                                            </div>
                                            <div class="col-md-6">
                                                <h6 ng-if="CandidateRatingDetails.TechnicalAvgRating">Technical Rating : {{CandidateRatingDetails.TechnicalAvgRating}} <i class="fa fa-star text-warning"></i></h6>
                                            </div>
                                            <div class="col-md-6">
                                                <h6 ng-if="CandidateRatingDetails.ExperienceAvgRating">Experiance Rating : {{CandidateRatingDetails.ExperienceAvgRating}} <i class="fa fa-star text-warning"></i></h6>
                                            </div>
                                            <div class="col-md-6">
                                                <h6 ng-if="CandidateRatingDetails.CommunicationAvgRating">Communication Rating : {{CandidateRatingDetails.CommunicationAvgRating}} <i class="fa fa-star text-warning"></i></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 v-align-middle p-l-2 separator">
                                <video controls="" style="width:100%" ng-if="common.candidateModel.VideoResume && common.candidateModel.VideoResume.filePath">
                                    <source src="{{common.candidateModel.VideoResume.filePath}}" type="video/mp4">
                                    <source src="{{common.candidateModel.VideoResume.filePath}}" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>
                                <div ng-if="!common.candidateModel.VideoResume || !common.candidateModel.VideoResume.filePath" class="text-xs-center">
                                    <img style="height: 200px; width: 200px;" src="images/videocamera.png" alt="Video Camera Image">

                                    <h4>Video Resume not Uploaded</h4>
                                </div>
                            </div>


                        </div>


                    </div>

                    <div class="card disp-block">
                        <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">assistant </i>Skills</div>
                        <div class="card-block ">

                            <p ng-if="common.candidateModel.Skills">
                                <span ng-repeat="skill in common.candidateModel.Skills track by $index">
                                    <span class="badge bg-grey">{{skill}}</span>
                                </span>
                            </p>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Address</span><br />
                            <span>{{common.candidateModel.Address1}} {{common.candidateModel.Address2}} {{common.candidateModel.Address3}}</span>
                            <span ng-if="!common.candidateModel.Address1 && !common.candidateModel.Address2 && !common.candidateModel.Address3" class="text-muted">Not Available</span>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">City</span>
                            <p ng-class="common.candidateModel.City ? '' : (!common.candidateModel.City ? 'text-muted' : '')">{{common.candidateModel.City?common.candidateModel.City:'Not Available'}}</p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">State/Zip Code</span><br />
                            <span ng-class="common.candidateModel.State ? '' : (!common.candidateModel.State ? 'text-muted' : '')">{{common.candidateModel.State ? common.candidateModel.State : 'Not Available'}}</span> |<span ng-class="common.candidateModel.Zip ? '' : (!common.candidateModel.Zip ? 'text-muted' : '')"> {{common.candidateModel.Zip ? common.candidateModel.Zip : 'Not Available'}}</span>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Country</span>
                            <p ng-class="common.candidateModel.Country ? '' : (!common.candidateModel.Country ? 'text-muted' : '')">{{common.candidateModel.Country?common.candidateModel.Country:'Not Available'}}</p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Visa Type</span>
                            <p ng-class="common.candidateModel.VisaType ? '' : (!common.candidateModel.VisaType ? 'text-muted' : '')">{{common.candidateModel.VisaType?common.candidateModel.VisaType:'Not Available'}}</p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">D.O.B.</span>
                            <p ng-if="common.candidateModel.BirthDate">{{common.candidateModel.BirthDate| date:'MM-dd-yyyy'}}</p>
                            <p ng-if="!common.candidateModel.BirthDate" class="text-muted">Not Available</p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Marital Status</span>
                            <p ng-class="common.candidateModel.MaritalStatus?'':(!common.candidateModel.MaritalStatus?'text-muted':'')">{{common.candidateModel.MaritalStatus?common.candidateModel.MaritalStatus:'Not Available'}}</p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Gender</span>
                            <p ng-class="common.candidateModel.Gender?'':(!common.candidateModel.Gender?'text-muted':'')">{{common.candidateModel.Gender?common.candidateModel.Gender:'Not Available'}}</p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Can Relocate</span>
                            <p ng-if="common.candidateModel.CanReLocate">Yes</p>
                            <p ng-if="!common.candidateModel.CanReLocate">No</p>
                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Secondary Email</span>
                            <p ng-class="common.candidateModel.SecondaryEmail?'':(!common.candidateModel.SecondaryEmail?'text-muted':'')">{{common.candidateModel.SecondaryEmail?common.candidateModel.SecondaryEmail:'Not Available'}}</p>


                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Home Phone</span>
                            <p ng-class="common.candidateModel.Phone?'':(!common.candidateModel.Phone?'text-muted':'')"> {{common.candidateModel.Phone?common.candidateModel.Phone:'Not Available'}}</p>


                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Work Phone</span>
                            <p ng-class="common.candidateModel.WorkPhone?'':(!common.candidateModel.WorkPhone?'text-muted':'')">{{common.candidateModel.WorkPhone?common.candidateModel.WorkPhone:'Not Available'}}</p>

                        </div>
                        <div class="col-md-3">
                            <span class="bold text-uppercase">Languages</span>
                            <p ng-class="common.candidateModel.Languages?'':(!common.candidateModel.Languages?'text-muted':'')">{{common.candidateModel.Languages?common.candidateModel.Languages:'Not Available'}}</p>

                        </div>
                    </div>




                    <div class="card disp-block" ng-if="common.candidateModel.Educations.length>0">
                        <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">assistant </i>Education</div>
                        <div class="card-block ">
                            <table class="table table-sm small table-bordered">
                                <caption></caption>
                                <thead>
                                    <tr>
                                        <th scope="row">Start Date</th>
                                        <th scope="row">End Date</th>
                                        <th scope="row">School</th>
                                        <th scope="row">School Type</th>
                                        <th scope="row">Degree</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="education in common.candidateModel.Educations">
                                        <td> {{education.StartDate}}</td>
                                        <td>{{education.EndDate}}</td>
                                        <td>
                                            <p class="visa-overflow">{{education.School}}</p>
                                        </td>
                                        <td>{{education.SchoolType}}</td>
                                        <td>
                                            <p class="visa-overflow">{{education.Course}}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="card disp-block" ng-if="common.candidateModel.EmployementHistory.length>0">
                        <div class="card-header f-w-500"><i class="material-icons font-21 m-r-xs color-dark-gray" aria-hidden="true">assistant </i>Employment</div>
                        <div class="card-block ">
                            <table class="table table-sm small table-bordered">
                                <caption></caption>
                                <thead>
                                    <tr>
                                        <th scope="row">Start Date</th>
                                        <th scope="row">End Date</th>
                                        <th scope="row">Job Title</th>
                                        <th scope="row">Company Name</th>
                                        <th scope="row">Employment Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="employement in common.candidateModel.EmployementHistory">
                                        <td> {{employement.StartDate}}</td>
                                        <td>{{employement.EndDate}}</td>
                                        <td>
                                            <p class="visa-overflow">{{employement.JobTitle}}</p>
                                        </td>
                                        <td>{{employement.CompanyName}}</td>
                                        <td>
                                            <p class="visa-overflow">{{employement.EmployementType}}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div ng-if="!isSingleDetail && appliedCandidateListData.length==0" class="flexbox-xs layout-column-xs message-view col-md-7 p-0">
                <div class="col-md-12">
                    <a href="#/requirementList" style="margin-top: 13px !important;
                                    margin-left: 15px !important;" class="btn btn-outline-primary btn-sm ">View requirements</a>
                    <span ng-if="!isSingleDetail" class="text-shadow lead text-xs-center pull-right">{{common.selectedJob.RequisitionId}} | {{common.selectedJob.JobTitle}}</span>

                </div>
                <div class=" col-sm-12 p-a-3">
                    <p class="text-shadow lead text-xs-center">
                        <img src="images/search.png" alt="Search Image" /><br /> No Candidate found!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>