<div class="main-content" ng-init="checkUserAccess();GetDashboardPeriodicData();">
    <div class="content-view">
        <div class="row">
            <div class="col-sm-6 col-md-2 col-lg-2">
                <div class="card card-block">
                    <a ng-if="userDetails.Requirement_Read == 'True'" href="#/requirementList" >
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                            <i class="material-icons font-42 text-success">library_books</i>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 p-0">
                            <h4 class="m-b-0 v-align-middle text-overflow text-success"> <span>{{DashboardModel.TotalJobs}}</span></h4>

                            <div class="small text-overflow">
                                Requirements <span class="fa fa-chevron-right" style=" font-size: 7px; "></span>
                            </div>

                        </div>
                    </a>
                    <a ng-if="userDetails.Requirement_Read != 'True'" href>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                            <i class="material-icons font-42 text-success">library_books</i>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 p-0">
                            <h4 class="m-b-0 v-align-middle text-overflow text-success"> <span>{{DashboardModel.TotalJobs}}</span></h4>

                            <div class="small text-overflow">
                                Requirements <span class="fa fa-chevron-right" style=" font-size: 7px; "></span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2">
                <div class="card card-block">
                    <a ng-if="userDetails.Candidate_Read == 'True'" href="#/candidateList" >
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                            <i class="material-icons font-42 text-danger">people</i>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 p-0">
                            <h4 class="m-b-0 v-align-middle text-overflow text-danger"> <span>{{DashboardModel.TotalCandidates}}</span></h4>

                            <div class="small text-overflow"> Candidates <span class="fa fa-chevron-right" style=" font-size: 7px; "></span></div>

                        </div>
                    </a>

                    <a ng-if="userDetails.Candidate_Read != 'True'" href>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                            <i class="material-icons font-42 text-danger">people</i>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 p-0">
                            <h4 class="m-b-0 v-align-middle text-overflow text-danger"> <span>{{DashboardModel.TotalCandidates}}</span></h4>

                            <div class="small text-overflow"> Candidates <span class="fa fa-chevron-right" style=" font-size: 7px; "></span></div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2">
                <div class="card card-block">
                    <a ng-if="userDetails.Submission_Read == 'True'" href="#/submissions" >
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                            <i class="material-icons font-42 text-warning">contact_mail</i>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 p-0">
                            <h4 class="m-b-0 v-align-middle text-overflow text-warning"> <span>{{DashboardModel.TotalSubmissions}}</span></h4>

                            <div class="small text-overflow"> Submissions <span class="fa fa-chevron-right" style=" font-size: 7px; "></span></div>

                        </div>
                    </a>
                    <a ng-if="userDetails.Submission_Read != 'True'" href>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                            <i class="material-icons font-42 text-warning">contact_mail</i>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 p-0">
                            <h4 class="m-b-0 v-align-middle text-overflow text-warning"> <span>{{DashboardModel.TotalSubmissions}}</span></h4>

                            <div class="small text-overflow"> Submissions <span class="fa fa-chevron-right" style=" font-size: 7px; "></span></div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2">
                <div class="card card-block">
                    <a ng-if="userDetails.Company_Read == 'True'" href="#/companyList" >
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                            <i class="material-icons font-42 text-info">account_balance</i>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 p-0">
                            <h4 class="m-b-0 v-align-middle text-overflow text-info"> <span>{{DashboardModel.TotalClients}}</span></h4>

                            <div class="small text-overflow"> Clients <span class="fa fa-chevron-right" style=" font-size: 7px; "></span></div>

                        </div>
                    </a>
                    <a ng-if="userDetails.Company_Read != 'True'" href>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                            <i class="material-icons font-42 text-info">account_balance</i>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 p-0">
                            <h4 class="m-b-0 v-align-middle text-overflow text-info"> <span>{{DashboardModel.TotalClients}}</span></h4>

                            <div class="small text-overflow"> Clients <span class="fa fa-chevron-right" style=" font-size: 7px; "></span></div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2" ng-if="userDetails.Vendor_Read == 'True'">
                <div class="card card-block">
                    <a href="#/vendorEmailList">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                            <i class="material-icons font-42 text-danger">email</i>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 p-0">
                            <h4 class="m-b-0 v-align-middle text-overflow text-danger"> <span>{{DashboardModel.ClientEmailCount}}</span></h4>

                            <div class="small text-overflow"> Company emails <span class="fa fa-chevron-right" style=" font-size: 7px; "></span></div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2" ng-if="userDetails.Vendor_Read == 'True'">
                <div class="card card-block">
                    <a href="#/resumeEmailList">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 p-0">
                            <i class="material-icons font-42 text-secondary">assignment</i>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 p-0">
                            <h4 class="m-b-0 v-align-middle text-overflow text-secondary"> <span>{{DashboardModel.ResumeEmailCount}}</span></h4>

                            <div class="small text-overflow"> Resume emails <span class="fa fa-chevron-right" style=" font-size: 7px; "></span></div>

                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card" ng-init="getDashboardRequirementVsSubmissionReportData('Y');">
                    <div class="card-block" style="height: 520px; margin-top: 1.5%; ">
                        <div class="m-b-1">
                            <div class="dropdown pull-right">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    <span>{{ChartPeriod}}<i class="material-icons">arrow_drop_down</i></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <a class="dropdown-item" href ng-click="getDashboardRequirementVsSubmissionReportData('D')">Today </a>
                                    <a class="dropdown-item" href ng-click="getDashboardRequirementVsSubmissionReportData('W')">This week </a>
                                    <a class="dropdown-item" href ng-click="getDashboardRequirementVsSubmissionReportData('M')">This month </a>
                                    <a class="dropdown-item" href ng-click="getDashboardRequirementVsSubmissionReportData('Y')">This year</a>
                                </div>
                            </div>
                            <h6>Requirements/Submissions </h6>
                        </div>
                        <canvas id="canvas" style="width: 75%;height: 300px"></canvas>
                        <div class="row text-xs-center m-b-0 m-t-0" style="margin-top:2%">
                            <div class="col-sm-3 col-xs-6 ">
                                <h5 class="m-t-0 m-b-0"> {{periodicData.RequirementVsSubmission.DailyCount}} </h5>
                                <small class="block">Daily requirement</small>
                            </div>
                            <div class="col-sm-3 col-xs-6 ">
                                <h5 class="m-t-0 m-b-0"> {{periodicData.RequirementVsSubmission.WeeklyCount}}</h5>
                                <small class=" block">Weekly requirement</small>
                            </div>
                            <div class="col-sm-3 col-xs-6 ">
                                <h5 class="m-t-0 m-b-0"> {{periodicData.RequirementVsSubmission.MonthlyCount}}</h5>
                                <small class=" block">Monthly requirement</small>
                            </div>
                            <div class="col-sm-3 col-xs-6 ">
                                <h5 class="m-t-0 m-b-0"> {{periodicData.RequirementVsSubmission.YearlyCount}}</h5>
                                <small class=" block">Yearly requirement</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-block p-b-0 dashboard-activity"  style="margin-top:1.5%;">
                    <div class="m-b-1">
                        <h6>Recent activities</h6>
                    </div>
                    <div class="timeline stacked">
                        <div id="accordion" role="tablist" aria-multiselectable="true" class="break-word">
                            <div ng-repeat="activity in recentActivityList" id="accordion" role="tablist" aria-multiselectable="true" class="break-word">
                                <div class="timeline-card m-t-0 m-b-1">
                                    <div class="col v-align-middle contact-avatar pull-left">
                                        <div class="circle-icon bg-primary">{{activity.CreatedByName[0]}}</div>
                                    </div>
                                    <section class="timeline-content">
                                        <div class="timeline-body color-grey full-width-100" ng-if="activity.ActivityType!='Email'">
                                            <div class="timeline-heading">{{activity.CreatedByName}}<span class="p-l-1">{{activity.Activity[0].PropertyName}}</span> <span class="pull-right color-dark-gray small">{{activity.Activity[0].DateChanged |date:'MM-dd-yyyy hh:mm:ss' }}<a data-toggle="collapse" data-parent="#accordion" target="_self" href="#CollapseOne{{$index}}" aria-expanded="false" aria-controls="CollapseOne{{$index}}" class="collapsed"><i class="material-icons color-gray font-18 p-l-1 p-r-1" aria-hidden="true">keyboard_arrow_down </i></a></span></div>

                                            <div id="CollapseOne{{$index}}" class="card-block panel-collapse collapse pull-left p-0 col-md-12" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                                                <div class="m-b-0 c1 col-md-4 p-0 bold">Field</div>
                                                <div class="m-b-0 c1 col-md-4 bold">New value</div>
                                                <div class="m-b-0 c1 col-md-4 bold">Old value</div>
                                                <div class="row" ng-repeat="activitydetails in activity.Activity">

                                                    <div class="m-b-0 c1 col-md-4">{{activitydetails.PropertyName}}</div>
                                                    <div class="m-b-0 c1 col-md-4" ng-if="activitydetails.NewValue.length>0">{{activitydetails.NewValue |createcommaseparaedlist}}</div>
                                                    <div class="m-b-0 c1 col-md-4" ng-if="activitydetails.NewValue.length==0">-</div>
                                                    <div class="m-b-0 c1 col-md-4" ng-if="activitydetails.OldValue.length>0">{{activitydetails.OldValue |createcommaseparaedlist}}</div>
                                                    <div class="m-b-0 c1 col-md-4" ng-if="activitydetails.OldValue.length==0">-</div>

                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="activity.ActivityType=='Email'" class="timeline-body color-grey full-width-100">
                                            <div class="timeline-heading">{{activity.CreatedByName}}<span class="p-l-1" ng-click="showActivityEmail(activity)">{{activity.ActivityType}}</span> <span class="pull-right color-dark-gray small">{{activity.CreatedOn |date:'MM-dd-yyyy hh:mm:ss' }}</span></div>
                                        </div>
                                    </section>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-block p-b-0 dashboard-activity">
                    <div class="m-b-1">
                        <h6>Recent Quick Notes</h6>
                    </div>
                    <div class="timeline stacked">
                        <div role="tablist" ng-repeat="notes in recentqNoteList" aria-multiselectable="true" class="break-word">
                            <div class="chat-conversation-user them p-l-0 p-r-0">
                                <div class="chat-conversation-title">
                                    <img ng-if="qNote.ProfileImageName" ng-src="{{configuration.XSEED_ORGUSER_IMAGE_PATH + qNote.ProfileImageName}}" class="avatar avatar-xs img-circle m-r-1 pull-left" title="user" alt="Profile Image">
                                    <img ng-if="!qNote.ProfileImageName" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" class="avatar avatar-xs img-circle m-r-1 pull-left" title="user" alt="Profile Image">

                                </div>
                                <div class="chat-conversation-message full-width-100 color-grey">
                                    <div class="timeline-heading bold">{{notes.CreatedBy}}<span class="pull-right color-dark-gray small">{{notes.CreatedOn | date:'MM-dd-yyyy hh:mm:ss'}}</span></div>
                                    <div ng-bind-html="TrustAsHTML(notes.Description)"></div>


                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5" ng-init="getDashboardRequirementStatusReportData();" ng-hide="!recentRequirementList || recentRequirementList.length == 0">
                <div class="card">
                    <div class="card-block dashboard-pichart-body" style="margin-bottom:2%;">
                        <h6>Requirement status </h6>
                        <canvas id="doughnut" class="chart chart-pie" chart-data="requirementStatusChartModel.data" chart-labels="requirementStatusChartModel.labels" style="width:300px;height:300px;" chart-click="getRequirementListByStatus" chart-colors="requirementStatusChartModel.chartColors"
                            chart-options="requirementStatusChartModel.options"></canvas>

                        <div class="row text-xs-center m-t-1" >
                            <div class="col-sm-3 col-xs-6" ng-repeat="statuLabel in requirementStatusChartModel.labels">
                                <h5 class="m-t-0 m-b-0"> {{requirementStatusChartModel.data[$index]}} </h5>
                                <small class="block">{{statuLabel}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-xs-center" style="margin-top:10%">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-block p-b-0  dashboard-pichart-table-body" style="margin-bottom: 6%">
                        <h6>Recent requirements </h6><br />
                        <table class="table" ng-hide="!recentRequirementList || recentRequirementList.length == 0">
                            <caption></caption>
                            <thead>
                                <tr>
                                    <th scope="row">Requirement</th>
                                    <th scope="row">Date</th>
                                    <th scope="row">Location</th>
                                    <th scope="row">Assigned Recruiters</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="requirement in recentRequirementList">
                                    <td data-title="Requirement">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12 text-primary" ng-click="openRequirementFromOtherSection(requirement.Id)">
                                                {{requirement.JobTitle}}
                                            </p>
                                            <p class="card-title display-flex font-12">
                                                <span ng-bind="requirement.RequisitionId"></span>  &nbsp; &nbsp;
                                                <span class="badge bg-default" ng-if="requirement.JobStatus== 'Archive'" ng-bind="requirement.JobStatus"></span>
                                                <span class="badge bg-success" ng-if="requirement.JobStatus== 'Closed'" ng-bind="requirement.JobStatus"></span>
                                                <span class="badge bg-warning" ng-if="requirement.JobStatus== 'Pending'" ng-bind="requirement.JobStatus"></span>
                                                <span class="badge bg-info" ng-if="requirement.JobStatus== 'Hold'" ng-bind="requirement.JobStatus"></span>
                                                <span class="badge bg-danger" ng-if="requirement.JobStatus== 'Open'" ng-bind="requirement.JobStatus"></span>
                                                <span ng-if="requirement.JobStatusId === null"></span>
                                            </p>
                                        </label>
                                    </td>
                                    <td data-title="Date">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12">
                                                Open: {{requirement.JobPostedDate | date:'MM-dd-yyyy'}}
                                            </p>
                                            <p class="card-title display-flex font-12">
                                                Close: {{requirement.JobClosedDate | date:'MM-dd-yyyy'}}
                                            </p>
                                        </label>
                                    </td>
                                    <td data-title="Location">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12">
                                                {{requirement.Location}}<br /> {{requirement.Country}}
                                            </p>
                                        </label>
                                    </td>
                                    <td data-title="Assigned Recruiters">
                                        <label class="labelauty-label" title="Assinged recruiters" ng-repeat="recruiter in requirement.OrganizationUser" data-placement="top" data-trigger="hover" data-toggle="popover" data-content="Rushikesh Powar,Prasad Kamat, Mohasin Desai, Vidyavatar Hiremath">
                                            <span ng-if="!$last">{{recruiter.Name}},&nbsp;</span>
                                            <span ng-if="$last">{{recruiter.Name}}</span>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-xs-center" style="margin-top:8%">
                        <a href="#/requirementList">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5" ng-init="getDashboardSubmissionReportData();">
                <div class="card">
                    <div class="card-block  dashboard-barchart-body" style="margin-bottom: 2%;">
                        <h6>Submissions done </h6>
                        <canvas id="bar" class="chart chart-bar" height="170" chart-data="submissionsReportModel.data" chart-labels="submissionsReportModel.labels" chart-options="submissionsReportModel.options" chart-click="getSubmissionListByUser"></canvas>
                        <div class="row text-xs-center m-t-1">
                            <div class="col-sm-3 col-xs-6 ">
                                <h5 class="m-t-0 m-b-0"> {{periodicData.SubmissionData.DailyCount}} </h5>
                                <small class="block">Daily</small>
                            </div>
                            <div class="col-sm-3 col-xs-6 ">
                                <h5 class="m-t-0 m-b-0"> {{periodicData.SubmissionData.WeeklyCount}}</h5>
                                <small class=" block">Weekly</small>
                            </div>
                            <div class="col-sm-3 col-xs-6 ">
                                <h5 class="m-t-0 m-b-0"> {{periodicData.SubmissionData.MonthlyCount}}</h5>
                                <small class=" block">Monthly</small>
                            </div>
                            <div class="col-sm-3 col-xs-6 ">
                                <h5 class="m-t-0 m-b-0"> {{periodicData.SubmissionData.YearlyCount}}</h5>
                                <small class=" block">Yearly</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-xs-center">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card" ng-hide="!recentSubmissionList || recentSubmissionList.length == 0">
                    <div class="card-block p-b-0 dashboard-barchart-table-body">
                        <h6>Recent submissions </h6>
                        <table class="table">
                            <caption></caption>
                            <thead>
                                <tr>
                                    <th scope="row"> Candidate </th>
                                    <th scope="row">Requirement</th>
                                    <th scope="row">Submitted date</th>
                                    <th scope="row">Company</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="submission in recentSubmissionList">
                                    <td data-title="Candidate">
                                        <label class="labelauty-label" data-toggle="modal" data-target="#Candidate-details-modal">
                                            <p class="card-title  font-12 text-primary" ng-bind="submission.CandidateList[0].Name" ng-click="openCandidateDetailView(submission.CandidateList[0].Id)"></p>
                                            <p class="card-title  font-12">
                                            </p>
                                        </label>
                                    </td>
                                    <td data-title="Requirement">
                                        <label class="labelauty-label">
                                            <p  ng-click="openRequirementFromOtherSection(submission.JobId)" class="card-title  font-12  text-primary" ng-bind="submission.JobTitle"></p>
                                            <p class="card-title  font-12" ng-bind="submission.JobCode"></p>
                                        </label>
                                    </td>
                                    <td data-title="Submitted date">
                                        <label class="labelauty-label">
                                            <p class="card-title  font-12 text-primary" ng-bind="submission.CreatedOn | date:MM/dd/yyyy"></p>
                                            <p class="card-title  font-12" ng-bind="submission.Status"></p>
                                        </label>
                                    </td>
                                    <td data-title="Company">
                                        <label class="labelauty-label">
                                            <p class="card-title  font-12" ng-bind="submission.CompanyName"></p>
                                            <p class="card-title  font-12" ng-bind="submission.JobType"></p>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-xs-center">
                        <a href="#/submissions">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- candidate section start -->
            <div class="col-md-5" ng-init="getDashboardCandidateAddedReportData();">
                <div class="card">
                    <div class="card-block dashboard-barchart-body" style="margin-bottom: 2%;">
                        <h6>Candidates added </h6>
                        <canvas id="chart-candidate" height="170" class="chart chart-bar" chart-data="candidateAddedChartModel.data" chart-labels="candidateAddedChartModel.labels" chart-options="candidateAddedChartModel.options" chart-click="getCandidateListByUser"></canvas>
                        <div class="row text-xs-center m-t-1">
                            <div class="col-sm-3 col-xs-6 ">
                                <h5 class="m-t-0 m-b-0"> {{periodicData.CandidateData.DailyCount}} </h5>
                                <small class="block">Daily</small>
                            </div>
                            <div class="col-sm-3 col-xs-6 ">
                                <h5 class="m-t-0 m-b-0"> {{periodicData.CandidateData.WeeklyCount}}</h5>
                                <small class=" block">Weekly</small>
                            </div>
                            <div class="col-sm-3 col-xs-6 ">
                                <h5 class="m-t-0 m-b-0"> {{periodicData.CandidateData.MonthlyCount}}</h5>
                                <small class=" block">Monthly</small>
                            </div>
                            <div class="col-sm-3 col-xs-6 ">
                                <h5 class="m-t-0 m-b-0"> {{periodicData.CandidateData.YearlyCount}}</h5>
                                <small class=" block">Yearly</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-xs-center">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-block p-b-0 dashboard-barchart-table-body">
                        <h6>Recent added candidates </h6>

                        <table class="table" ng-hide="!recentCandidateList || recentCandidateList.length == 0">
                            <caption></caption>
                            <thead>
                                <tr>
                                    <th scope="row"> Name </th>
                                    <th scope="row">Contact</th>
                                    <th scope="row">Location</th>
                                    <th scope="row">Created by</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="candidate in recentCandidateList">
                                    <td data-title="Name">
                                        <label class="labelauty-label" data-toggle="modal" data-target="#Candidate-details-modal">
                                            <p class="card-title font-12" ng-bind="candidate.FullName"
                                               ng-init="candidate.FullName= getCandidateFullName(candidate.Title, candidate.FirstName, candidate.MiddleName, candidate.LastName)"
                                               ng-attr-title="{{candidate.FullName}}" ng-click="openCandidateDetailView(candidate._id)"></p>
                                            <p class="card-title font-12">
                                                {{candidate.CandidateId}}
                                                <span class="badge bg-danger" ng-if="candidate.Status== 'Active'" ng-bind="candidate.Status"></span>
                                                <span class="badge bg-primary" ng-if="candidate.Status== 'DNC'" ng-bind="candidate.Status"></span>
                                                <span class="badge bg-success" ng-if="candidate.Status== 'New'" ng-bind="candidate.Status"></span>
                                                <span class="badge bg-info" ng-if="candidate.Status== 'Not Looking'" ng-bind="candidate.Status"></span>
                                                <span class="badge bg-default" ng-if="candidate.Status== 'Passive'" ng-bind="candidate.Status"></span>
                                                <span class="badge bg-info" ng-if="candidate.Status== 'Placed'" ng-bind="candidate.Status"></span>
                                                <span class="badge bg-default" ng-if="candidate.Status== 'Unresponsive'" ng-bind="candidate.Status"></span>
                                                <span ng-if="candidate.Status=== null"></span>
                                            </p>
                                        </label>
                                    </td>
                                    <td data-title="Contact">
                                        <label class="labelauty-label" data-toggle="modal" data-target="#Requirement-details-modal">
                                            <p class="card-title  font-12">
                                                <span class="fa fa-phone color-gray"></span> {{candidate.Mobile  ? candidate.Mobile : '-' | ContactFilter}}
                                            </p>


                                            <p class="card-title  font-12">
                                                <span class="fa fa-envelope color-gray"></span> {{candidate.PrimaryEmail}}
                                            </p>
                                        </label>
                                    </td>
                                    <td data-title="Location">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12">
                                                {{candidate.CurrentLocation}}
                                            </p>

                                        </label>
                                    </td>
                                    <td data-title="Created by">
                                        <label class="labelauty-label">
                                            <p class="card-title display-flex font-12" ng-bind="candidate.CreatedByName"></p>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-xs-center">
                        <a href="#candidateList">View more</a>
                    </div>
                </div>
            </div>
            <!-- candidate section ends -->

        </div>
    </div>
</div>