<div class="jumbotron-fluid bg-white" ng-init="CheckParams()">
    <nav class="navbar bg-white navbar-fixed-top shadow">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img class="expanding-hidden" src="images/logo-b.png" alt="">
                </a>
            </div>
           </div>
    </nav>
    <div class="col-sm-12 p-l-2 p-r-2 p-t-3 p-b-2 m-t-1 parallax-scroll" style="background-color: black; background-position: center;
    background-size: cover;">
        <video autoplay muted loop id="myVideo">
            <source src="images/video(1).mp4" type="video/mp4">
        </video>
        <div class="blur-8" style="background-color: rgba(255, 255, 255, 0.79);"></div>
        <div>
            <div class="col-sm-12 text-xs-center animated " style="font-size: 80px;">
                <strong class="text-primary">X</strong><span class="text-white">SEED</span>
            </div>
            <div class="col-sm-12 text-xs-center">
                <h1 class="h2 animated fadeIn text-white">
                    Step into a <span class="h1 text-success font-weight-medium">BETTER, FASTER & SMARTER</span> Hiring process!
                </h1>
            </div>
        </div>
        <div>
            <div class="col-sm-4 text-xs-center offset-md-2 m-t-1 animated slideInLeft">
                <div class="p-a-1 border-radius-4" style="background-color: rgba(33, 31, 31, 0.72); border-radius: 10px;">
                    <i aria-hidden="true" class="fa fa-briefcase fa-2x text-white"></i>
                    <h3 class="font-weight-medium h3 text-info">Hire</h3>
                    <p class="text-white">
                        Get connected with us for your hiring need.
                    </p>
                    <div><a href="#/login" class="btn btn-primary">Login</a></div>
                </div>
            </div>
            <div class="col-sm-4 text-xs-center m-t-1 animated slideInRight">
                <div class="p-a-1 border-radius-4" style="background-color: rgba(33, 31, 31, 0.72); border-radius: 10px;">
                    <i class="fa fa-user fa-2x text-white" aria-hidden="true"></i>
                    <h3 class="font-weight-medium h3 text-info">Get Hired</h3>
                    <p class="text-white">Looking for a change in job? Submit your resume.</p>
                    <div>
                        <a href="#" ng-href="{{configuration.XSEED_CANDIDATE_LOGIN_LINK}}" class="btn btn-primary">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 p-a-3" style="background: #FFF;">
        <div class="container">
            <div class="row m-b-3">
                <div class="col-sm-12 text-dark text-xs-center">
                    <!--Services Heading-->
                    <h2 class="h2 bold">XSEED <span class="text-primary">Corporate Services</span></h2>
                    <h5 class="h5">INDUSTRY SPECIFIC RECRUITMENT SOLUTIONS </h5>
                </div>
            </div>
            <div class="row m-b-1">
                <div class="col-md-4 col-sm-6">
                    <div class="p-a-2">
                        <div class="m-b-1 clearfix">
                            <i class="fa-pull-left fa fa-thumbs-up fa-2x text-primary" aria-hidden="true"></i>
                            <span class="h5" style="color: #000;">Centralize Communications</span>
                        </div>
                        <p class=" text-justify">Use XSeed to centralize everything so your team is always on the same page about the “whos,” “whats,” and “whens.”</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="p-a-2">
                        <div class="m-b-1 clearfix">
                            <i class="fa-pull-left fa fa-desktop fa-2x text-primary" aria-hidden="true"></i>
                            <span class="h5" style="color: #000;">Dashboards</span>
                        </div>
                        <p class=" text-justify">Keep an eye on the stats and trends associated with users, groups, and divisions with our dashboards to help to keep everyone on track, and without getting bogged down with semantics.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="p-a-2">
                        <div class="m-b-1 clearfix">
                            <i class="fa-pull-left fa fa-line-chart fa-2x text-primary" aria-hidden="true"></i>
                            <span class="h5" style="color: #000;">Status Tracking/Pipeline</span>
                        </div>
                        <p class=" text-justify">From identification to submission, interviews to placements, XSeed applicant tracking software simplifies the process of recruitment every step of the way.</p>
                    </div>
                </div>
            </div>
            <div class="row m-b-2">
                <div class="col-md-4 col-sm-6">
                    <div class="p-a-2">
                        <div class="m-b-1 clearfix">
                            <i class="fa-pull-left fa fa-search fa-2x text-primary" aria-hidden="true"></i>
                            <span class="h5" style="color: #000;">Advanced Job Search</span>
                        </div>
                        <p class=" text-justify">Allows jobseekers to search for job listings with detailed criteria. Jobseekers can search by the job type / term, company name, industry, function / category, keyword and even by location easily.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="p-a-2">
                        <div class="m-b-1 clearfix">
                            <i class="fa-pull-left fa fa-cloud-download fa-2x text-primary" aria-hidden="true"></i>
                            <span class="h5" style="color: #000;">Resume Builder and Parser</span>
                        </div>
                        <p class=" text-justify">Increase real productivity of a recruiter. Populate the resume database from different sources and add it to the database automatically. No more manual entry needed.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="p-a-2">
                        <div class="m-b-1 clearfix">
                            <i class="fa-pull-left fa fa-dropbox fa-2x text-primary" aria-hidden="true"></i>
                            <span class="h5" style="color: #000;">Admin, Employer, Jobseeker</span>
                        </div>
                        <p class=" text-justify">Provides user friendly, featured Admin / Employer / Jobseeker panel which allows to manage users, resumes profiles etc.</p>
                    </div>
                </div>
            </div>
            <div class="row m-b-2">
                <div class="col-md-4 col-sm-6">
                    <div class="p-a-2">
                        <div class="m-b-1 clearfix">
                            <i class="fa-pull-left fa fa-gift fa-2x text-primary" aria-hidden="true"></i>
                            <span class="h5" style="color: #000;">Job Posting</span>
                        </div>
                        <p class=" text-justify">Employers can post their job requirements, apply filter options which enables employers to receive the resumes from candidates matching their posted their criteria.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="p-a-2">
                        <div class="m-b-1 clearfix">
                            <i class="fa-pull-left fa fa-file-video-o fa-2x text-primary" aria-hidden="true"></i>
                            <span class="h5" style="color: #000;">Video Resume Uploading</span>
                        </div>
                        <p class=" text-justify">This feature is intended to enhance the standard resume. Jobseeker van upload their video resume along with standard resume. A good video resume can assist job seekers to effectively market themselves.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="p-a-2">
                        <div class="m-b-1 clearfix">
                            <i class="fa-pull-left fa fa-globe fa-2x text-primary" aria-hidden="true"></i>
                            <span class="h5" style="color: #000;">Email Parsing</span>
                        </div>
                        <p class=" text-justify">An mail parser is a technology that allows you to integrate your campaign with these and other services so that when a transaction is made with that service, a subscriber can be added to your campaign.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 p-l-2 p-r-2 p-t-3 p-b-3 parallax-scroll" style="background-image: url(images/business_handshake.jpg);">
        <div class="blur-8" style="background-color: #d4d2d2;"></div>
        <div class="col-sm-12 text-white">
            <div class="container">
                <div class="col-sm-4">
                    <h2 class="bold" style="font-size:35px;">Partner with<br /><strong class="bold text-primary" style="font-size:70px;">X</strong><strong class="bold text-white" style="font-size:70px;">SEED</strong></h2>
                </div>
                <div class="col-sm-8">
                    <h4 class="h4 m-b-2 font-weight-medium">INCREASE YOUR STRENGTH WITH HAPPY EMPLOYEE QUOTIENT</h4>
                    <p class="font-18">Xseed offers brand new user friendly interface with advanced and dynamic components. One click resume parsing process for faster candidate importing. Graphical rating to access candidate at a glance. It is a complete package for most
                        advanced hiring needs. </p>
                </div>
            </div>
        </div>
    </div>
    <section class="col-sm-12 bg-white p-a-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 m-t-3">
                    <img class="expanding-hidden" src="images/logo-b.png" alt="">
                </div>
                <!-- About Us-->
                <div class="col-md-3 col-sm-6 footer-box">
                    <div class="m-b-2">
                        <h5 class="bold">Company</h5>
                        <a class="text-primary" href="http://www.tcognition.com">tCognition Inc.</a>
                    </div>
                    <div>
                        <h5 class="bold">Location</h5>
                        <address>
                            70 Kemble St, Boston, MA 02119, USA
                            <br />
                            <a class="text-primary" href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2948.4540435257895!2d-71.058612!3d42.354161999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3708257f55e91%3A0xab1679abfdbae39c!2sTCognition+Testing+Center!5e0!3m2!1sen!2sin!4v1430382175393" target="_blank"><strong><i class="fa fa-map-marker m-r-xs" aria-hidden="true"></i>Locate us on map</strong></a>
                        </address>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="m-b-2">
                        <h5 class="bold">Phone</h5>
                        <span>(617) 357-INFO (4636)</span>
                    </div>
                    <div>
                        <h5 class="bold">Email</h5>
                        <a class="text-primary" href="mailto:support@xseed.com">support@xseed.com</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="m-b-2">
                        <h5 class="bold">Connect with us</h5>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/company/57619/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/tCognition/" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/tCognition?lang=en" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h5 class="bold">Website</h5>
                        <span><a class="text-underline text-primary" href="http://www.tCognition.com" target="_blank">www.tcognition.com</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-sm-12 text-center bg-grey-darker text-xs-center p-t-1 p-b-1" style="background-color: #000000d9!important;">
        <p class="text-white" style=" margin-bottom: 0;"> ©2021, tCognition Inc. All rights reserved.</p>
    </div>
</div>

<style>
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        opacity: 0.4;
    }
    /* Add some content at the bottom of the video/page */
    
    .content {
        position: fixed;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
    }
    /* Style the button used to pause/play the video */
    
    #myBtn {
        width: 200px;
        font-size: 18px;
        padding: 10px;
        border: none;
        background: #000;
        color: #fff;
        cursor: pointer;
    }
    
    #myBtn:hover {
        background: #ddd;
        color: black;
    }
</style>