﻿<div ng-init="ChangeAppClass()" class="app no-padding no-footer layout-static" style="background-image:
         url(images/hero-bg3.jpg);
         background-position: bottom;
         background-size: cover;">
    <video autoplay muted loop id="myVideo" class="hidden-xs-down">
        <source src="images/Pexels Videos 2621(1).mp4" type="video/mp4">
    </video>
    <div class="session-panel">
        <div class="session">
            <div class="session-content">
                <div class="card card-block form-layout" style="max-width: 450px; box-shadow: 0px 0px 20px #d4d3d3;">

                    <div class="row">

                        <div class="col-md-12">
                            <form role="form" name="loginForm" id="validate" novalidate="novalidate">
                                <div class="text-xs-center">
                                    <a href ng-href="{{configuration.XSEED_HOME_LINK}}">
                                        <img src="images/logo-b.png" alt="Logo Image">
                                    </a>
                                    <p class="text-muted mt-10">Enter your credentials to sign in </p>
                                </div>
                                <fieldset class="form-group">
                                    <legend></legend>
                                    <label class="chk-label" for="username">Enter your email</label>
                                    <div class="input-group">
                                        <span class="input-group-addon bg-white border-left-0" style="border-color:  #7fc35c;"><i class="fa fa-envelope"></i></span>
                                        <input onkeyup="ClearError('userName','username-error')" type="text" class="form-control form-control valid" placeholder="Enter your Email" required="" aria-required="true" aria-invalid="false" id="userName" name="loginRequest.userName" ng-model="loginRequest.userName"
                                            validation="">
                                    </div>
                                    <label id="username-error" class="error disp-none chk-label" for="username">This field is
                                        required</label>
                                </fieldset>
                                <fieldset class="form-group">
                                    <legend></legend>
                                    <label class="chk-label" for="password">Enter your password</label>
                                    <div class="input-group">
                                        <span class="input-group-addon bg-white  border-left-0" style="border-color: #7fc35c;"><i style="font-size: 18px !important;"
                                                class="fa fa-lock"></i></span>
                                        <input onkeyup="ClearError('password','password-error')" type="password" class="form-control form-control valid" placeholder="Enter your Password" required="" aria-required="true" aria-invalid="false" id="password" name="loginRequest.password" ng-model="loginRequest.password"
                                            autocomplete="off" validation="" ng-enter="login(loginForm);">
                                        
                                        <span class="input-group-addon bg-white" style="border-color: #7fc35c;">
                                            <i style="font-size: 18px !important;"
                                               class="fa fa-eye-slash reveal"></i>
                                        </span>

                                    </div>
                                    <label id="password-error" class="error disp-none chk-label" for="password">This field is
                                        required</label>
                                </fieldset>
                                <div class="row">

                                    <div class="col-md-6 col-xs-6 col-sm-6">
                                        <label class="custom-control  custom-checkbox m-b-1">
                                            <input ng-model="loginRequest.stayLoggedIn" type="checkbox"
                                                   class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Stay logged in</span>
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-xs-6 col-sm-6">
                                        <label class="custom-control custom-checkbox m-b-1">
                                            <a href="#forgotPassword" ng-click="gotoForgotPassword()">
                                                <span class="custom-control-description pull-right">
                                                    Forgot
                                                    password?
                                                </span>
                                            </a>
                                        </label>
                                    </div>
                                    </div>
                                <button ng-click="login(loginForm,false);" class="btn btn-primary btn-block m-b-2" type="submit">Login</button>
                            </form>
                        </div>

                    </div>


                </div>
            </div>
            <p class="text-white text-xs-center">&copy;{{date | date:'yyyy'}}, tCognition Inc. All rights reserved.</p>
        </div>

    </div>
</div>
<style>
    .form-layout label.disp-none {
        display: none;
    }
    /* Style the video: 100% width and height to cover the entire window */
    
    #myVideo {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        /*height: 117%;*/
        overflow: hidden;
    }
    /* Add some content at the bottom of the video/page */
    
    .content {
        position: fixed;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
    }
    /* Style the button used to pause/play the video */
    
    #myBtn {
        width: 200px;
        font-size: 18px;
        padding: 10px;
        border: none;
        background: #000;
        color: #fff;
        cursor: pointer;
    }
    
    #myBtn:hover {
        background: #ddd;
        color: black;
    }
</style>
<script>
    function ClearError(el, err) {

        if ($("#" + el).val() != "") {
            $("#" + err).hide();
        } else {
            $("#" + err).show();
        }
    }

    $(".reveal").on('click', function () {
        var $pwd = $("#password");
        $('.reveal').toggleClass("fa-eye-slash fa-eye");

        //$('.reveal').removeClass("fa fa-eye reveal");
        // $('.reveal').addClass("fa fa-eye-slash reveal");

        if ($pwd.attr('type') === 'password') {
            $pwd.attr('type', 'text');
        } else {
            $pwd.attr('type', 'password');
        }
    });
</script>