﻿<style>
    .line-scale>div {
        background-color: #0192bb;
        width: 6px;
        height: 50px;
    }
</style>

<div ng-init="ChangeAppClass();CheckPaymentStatus(); " class="app no-padding no-footer layout-static">
    <div class="session-panel">
        <div class="session">
            <div class="session-content">
                <div class="card card-block form-layout" style="max-width: 650px;">
                    <div class="row">
                        <span ng-if="paymentStatus==false">
                            Canceled
                        </span>
                        <span ng-if="paymentStatus=='FailureView'">
                            <div id="div2" class="text-xs-center">
                                <div class="text-center">
                                    <br><br>
                                    <img class="float-left" src="images/logo-b.png" alt="success"  ><br><br><br>
                                    <img src="images/cancel.png" alt="success" style="width:9%"><br><br>
                                    <p class="display-3" style="font-size:34px;">Payment Failed!</p>
                                    <p class="lead"><strong>Your payment was not successful due to some technical issues.</strong></p>
                                     
                                    <br>
                                    <p class="lead">
                                        <button ng-click="PaymentTryAgain()" class="btn btn-lg" style="background-color:#018eb9;color:white;" type="button" role="button">Try Again</button>
                                    </p>
                                </div>
                            </div>
                        </span>
                        <span ng-if="paymentStatus=='pending'">
                            <div id="div3" class="text-xs-center">
                                <div class="text-center">
                                    <br><br>
                                    <img class="float-left" src="images/logo-b.png" alt="success"  ><br><br><br>


                                    <div class="loader text-center">
                                        <div class="loader-inner line-scale">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div> 
                                    
                                    <br><br>
                                    <p class="display-3" style="font-size:26px;">We are processing your request.</p>
                                    <p class="display-3" style="font-size:22px;">Please wait...</p>
                        
                                    <br>
                                </div>
                            </div>
                        </span>
                        <span ng-if="paymentStatus=='Success'">
                            <div id="div1" class="text-xs-center">
                                <div class="text-center">
                                    <br><br>
                                    <img class="float-left" src="images/logo-b.png" alt="success"  ><br><br><br>
                                    <img src="images/checkmark.png" alt="success" style="width:9%"><br><br>
                                    <h2 class="display-3"  style="font-size:26px;">Thank You!</h2>
                                    <p class="lead"><strong>Your payment is received successfully.</strong><br> 
                                        <span class="text-primary">{{SubscriptionPlanName}}</span> Plan activated successfully
                        </p>

                        <p class="lead">
                            <button class="btn btn-lg" ng-click="login(null, true)" style="background-color:#018eb9;color:white;" type="button" role="button">Continue</button>
                        </p>
                    </div>
                </div>
                </span>
            </div>
        </div>
    </div>

    <input type="hidden" id="userName">
    <input type="hidden" id="password">

    <p class="text-white text-xs-center">&copy;{{date | date:'yyyy'}}, tCognition Inc. All rights reserved.</p>
</div>

</div>
</div>
<style>
    .form-layout label.disp-none {
        display: none;
    }
    /* Use a wide full screen for small screens like tablets. */
    
    @media (min-width: 768px) and (max-width:992px) {
        .container {
            width: initial;
            padding-left: 2em;
            padding-right: 2em;
        }
    }
    /* --- Plans ---------------------------- */
    
    .my_planHeader {
        text-align: center;
        color: white;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
    
    .my_planTitle {
        font-size: 2em;
        font-weight: bold;
    }
    
    .my_planPrice {
        font-size: 1.4em;
        font-weight: bold;
    }
    
    .my_planDuration {
        margin-top: -0.6em;
    }
    
    @media (max-width: 768px) {
        .my_planTitle {
            font-size: small;
        }
    }
    /* --- Features ------------------------- */
    
    .my_feature {
        line-height: 2.8em;
    }
    
    @media (max-width: 768px) {
        .my_feature {
            text-align: center
        }
    }
    
    .my_featureRow {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        border: 0.1em solid rgb(163, 163, 163);
    }
    /* --- Plan 1 --------------------------- */
    
    .my_plan1 {
        background: rgb(224, 234, 242);
    }
    
    .my_planHeader.my_plan1 {
        background: #018eb9;
        border-bottom: thick solid rgb(0, 100, 130);
    }
    /* --- Plan 2 --------------------------- */
    
    .my_plan2 {
        background: rgb(230, 235, 218);
    }
    
    .my_planHeader.my_plan2 {
        background: #2e2e2e;
        border-bottom: thick solid rgb(17, 17, 17);
    }
    /* --- Plan 3 --------------------------- */
    
    .my_plan3 {
        background: rgb(254, 235, 212);
    }
    
    .my_planHeader.my_plan3 {
        background: #fda131;
        border-bottom: thick solid rgb(179, 99, 2);
    }
    
    .my_planFeature {
        text-align: center;
        font-size: 2em;
    }
    
    .my_planFeature i.my_check {
        color: green;
    }
</style>
<script>
    function ClearError(el, err) {

        if ($("#" + el).val() != "") {
            $("#" + err).hide();
        } else {
            $("#" + err).show();
        }
    }
</script>