﻿<div ng-init="ChangeAppClass();GetSubscriptionPlans()" class="app no-padding no-footer layout-static">
    <div class="session-panel">
        <div class="session">
            <div class="session-content">
                <div class="card card-block form-layout" style="max-width: 650px;">

                    <div class="row">

                        <div class="col-md-12" id="step1">
                            <form role="form" name="registrationForm" novalidate style="width:100%;">
                                <div class="text-xs-center m-b-xs b-b">
                                    <img src="images/logo-b.png" class="img-responsive center-block" alt="Logo Image"/>
                                    <h5>Register</h5>
                                    <p class="text-muted">
                                        Create an account to continue.
                                    </p>
                                </div>

                                <fieldset class="form-group  row">
                                    <legend></legend>
                                    <div class="col-sm-2 ">
                                        <label for="FirstName">  Name   </label>
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" placeholder="First Name" ng-model="registerRequest.FirstName" id="FirstName" name="FirstName" onkeypress="return onlyCharacter(event)" validation="required|min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe:alt=First Name may only contain letters." />
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" placeholder="Last Name" ng-model="registerRequest.LastName" id="LastName" name="LastName" onkeypress="return onlyCharacter(event)" validation="required|min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe:alt=Last Name may only contain letters." />
                                    </div>
                                </fieldset>
                                <fieldset class="form-group  row">
                                    <legend></legend>
                                    <div class="col-sm-2 ">
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="email" placeholder="Email" ng-model="registerRequest.userName" ng-init="registerRequest.userName=''" name="email" validation="required|xseed_email|min_len:6|max_len:100" />
                                    </div>
                                </fieldset>
                                <fieldset class="form-group  row">
                                    <legend></legend>
                                    <div class="col-sm-2  text-nowrap">
                                        <label for="password">
                                            Password 
                                        </label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="registerRequest.password" name="registerRequest.password" block-clipboard autocomplete="off" validation="required|min_len:8|max_len:16|xseed_password" />
                                        <p ng-show="showPassNote" class="help-block">8-16 Characters</p>

                                    </div>
                                </fieldset>
                                <fieldset class="form-group  row">
                                    <legend></legend>
                                    <div class="col-sm-2 ">
                                        <label for="confirmPassword">
                                            Confirm Password
                                        </label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" ng-model="registerRequest.confirmPassword" ng-init="" block-clipboard name="registerRequest.confirmPassword" autocomplete="off" validation="required|match:registerRequest.password,Password:alt=Confirm Password does not match." />
                                    </div>
                                </fieldset>
                                <fieldset class="form-group  row">
                                    <legend></legend>
                                    <div class="col-sm-2  text-nowrap">
                                        <label for="organizationName">
                                            Organization 
                                        </label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="organizationName" placeholder="Organization Name" ng-model="registerRequest.organizationName"  ng-init="" name="organizationName" validation="required|min_len:2|max_len:200" />
                                    </div>
                                </fieldset>
                                <fieldset class="form-group m-b-1 row">
                                    <legend></legend>
                                    <div class="col-sm-2 ">
                                        <label for="website">
                                            Website 
                                        </label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="website" placeholder="Organization Website" ng-model="registerRequest.website" ng-init="" name="website" validation="required|url|max_len:500">
                                    </div>
                                </fieldset>

                                <fieldset class="form-group   text-sm-center">
                                    <legend></legend>
                                    <button type="button" class="btn btn-primary   " ng-click="register(registrationForm)">
                                    Create Account
                                </button>
                                </fieldset>
                                <fieldset class="form-group   text-sm-center">
                                    <legend></legend>
                                    <label class="custom-control custom-checkbox  ">
                                        Already have an account?   <a href="#/login"><span class="custom-control-description "> Login </span></a>here
                                    </label>
                                </fieldset>

                            </form>
                        </div>

                        <div class="col-md-12" id="step2" style="display: none">


                            <div class="text-xs-center m-b-xs b-b">
                                <img src="images/logo-b.png" class="img-responsive center-block" alt="Logo Image" />
                                <h5>Please select best plan for you</h5>
                            </div>
                            <div class="PricingPlans">
                                <div class="container">
                                    <div class="row text-xs-center  " style="    background-color: #003087!important;
                                        border-bottom: thick solid rgb(216, 216, 216);color: #fff;background-color: #003087!important;">
                                        <div class="col-xs-12 col-sm-4">
                                            <h3 style="margin-top: 42px;" class="my_planTitle"> Features</h3>
                                        </div>
                                        <div class="col-xs-12 col-sm-8">
                                            <div class="row" style="background: #01cae4;">
                                                <div class="col-xs-4 my_planHeader my_plan1" ng-repeat="plan in PricingPlans | uniquePricingPlan :plan  ">
                                                    <div class="my_planTitle">{{plan.PlanName}}</div>
                                                    <div class="my_planPrice">${{plan.PlanPrice}}</div>
                                                    <div class="my_planDuration"> {{plan.Description}} </div>
                                                    <button ng-click="SelectedPricingPlan(plan,registerResponse)" type="button" class="btn btn-warning">Select</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="row  price text-xs-center" ng-repeat="plan in Name ">
                                        <div class="col-xs-12 col-sm-4 my_feature">
                                            {{plan.Feature}}
                                        </div>

                                        <div class="col-xs-8 col-md-8" style="font-size: 1.4rem;">
                                            <div class="col-xs-4 col-sm-4  ">
                                                <i ng-if="plan.temprory[0].PlanId=PlanArray[0] &&plan.temprory[0].Status==1" style="color: green;">✔</i>
                                            </div>

                                            <div class="col-xs-4 col-sm-4 ">
                                                <i ng-if="plan.temprory[1].PlanId=PlanArray[1] &&plan.temprory[1].Status==1" style="color: green;">✔</i>
                                            </div>

                                            <div class="col-xs-4 col-sm-4 ">
                                                <i ng-if="plan.temprory[2].PlanId=PlanArray[2] && plan.temprory[2].Status==1" style="color: green;">✔</i>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row bg-grey text-xs-center" style="padding: 10px;font-size: 18px;background-color: #003087!important;">
                                        Pay secure with PayPal
                                    </div>
                                    <div class="row bg-white  text-xs-center">
                                        <img src="images/Full_Online_Tray_RGB.png" style="margin-top: 10px;    width: 66%;" alt="Full Online Tray RGB Image"/>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
            <p class="text-white text-xs-center">&copy;{{date | date:'yyyy'}}, tCognition Inc. All rights reserved.</p>
        </div>

    </div>
</div>
<style>
    .form-layout label.disp-none {
        display: none;
    }
</style>
<script>
    function ClearError(el, err) {

        if ($("#" + el).val() != "") {
            $("#" + err).hide();
        } else {
            $("#" + err).show();
        }
    }
</script>