<div class="jumbotron-fluid bg-white">
  <div>
    <nav class="navbar bg-white navbar-fixed-top shadow">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img class="expanding-hidden" src="images/logo-b.png" alt="">
          </a>
          <a href="http://107.180.78.163:8090/candidate/#/" title="Register" class="btn btn-sm btn-outline-primary pull-right">Register</a>
        </div>
        </div>
    </nav>
  </div>
    <div class="col-sm-12 p-a-3" style="background: #FFF;">
        <div ng-init="getReqDetails(jobId,organizationId);populateTopjobs();populateMatchingjobs();">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12 p-a-1">
                            <div class="card" style="margin-top: 14px; height: 208px; border: 1px solid rgba(0,0,0,.125);">
                                <div class="card-block">
                                    <h6 class="bold" style="margin-bottom: 10px;text-transform: uppercase;">
                                        <span ng-bind="common.requirementModel.JobTitle"></span>
                                    </h6>

                                    <p class="pull-right">
                                        <span class="text-bold"><i class="fa fa-calendar"></i> Posted on</span> : <span>{{common.requirementModel.JobPostedDate| date:'MM-dd-yyyy'}}</span>
                                    </p>
                                    <p>
                                        <span class="text-primary"><i class="fa fa-building-o"></i></span>&nbsp; <span ng-bind="common.requirementModel.CompanyName"></span>
                                    </p>
                                    <p>
                                        <span class="text-primary"><i class="fa fa-map-marker"></i></span>&nbsp; <span ng-bind="common.requirementModel.Location"></span>
                                    </p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p>
                                                <span class="text-primary"><i class="fa fa-briefcase"></i></span>&nbsp; <span>{{common.requirementModel.ExperienceInYear}}-{{common.requirementModel.ExperienceInMonth}} Years</span>
                                                &nbsp; &nbsp; <span class="text-primary"><i class="fa fa-dollar"></i></span>&nbsp;<span ng-if="common.requirementModel.MinSalary">{{common.requirementModel.MinSalary}}-{{common.requirementModel.MaxSalary}} P.A</span>
                                                <span ng-if="!common.requirementModel.MinSalary">NA</span>
                                            </p>
                                        </div>
                                        <div class="col-sm-6">
                                            <a href="http://107.180.78.163:8090/candidate/#/" title="Apply" class="btn btn-sm btn-primary pull-right">Apply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 p-a-1">
                            <div class="card" style="margin-top:-25px; border:1px solid rgba(0,0,0,.125);">
                                <div class="card-block">
                                    <div class="col-sm-12">
                                        <div class="description">
                                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-primary">
                                                    <div style="margin-bottom:20px;">
                                                        <h6 class="bold">Job Description</h6>
                                                    </div>
                                                    <div>
                                                        <h6 class="bold">Job Summary :</h6>
                                                        <p ng-bind-html="TrustAsHTML(common.requirementModel.JobDescription)"></p>
                                                    </div>
                                                    <div>
                                                        <h6 class="bold">Technical Skills :</h6>
                                                        <p>
                                                            <span ng-bind="common.requirementModel.SkillList"></span>
                                                            <span ng-if="!common.requirementModel.SkillList">NA</span>
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <h6 class="bold">Qualifications :</h6>
                                                        <p>
                                                            <span ng-repeat-start="degree in common.requirementModel.DegreeNameList" ng-if="$index< common.requirementModel.DegreeNameList.length- 1">{{degree}}, </span>
                                                            <span ng-repeat-end ng-if="common.requirementModel.DegreeNameList.length-1=== $index">{{degree}}</span>
                                                            <span ng-if="!common.requirementModel.DegreeNameList">NA</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12 p-a-3" style="
    padding-top: 23px !important;
    padding-bottom: 0 !important;
">
                          <div class="card" style="margin-top:8px; border: 1px solid rgba(0,0,0,.125); max-height: 250px; overflow-y: none;">
                            <div class="card-block">
                              <div class="card-header no-bg no-border">
                                <h6 class="bold">Similar Jobs</h6>
                              </div>
                              <div ng-repeat="job in  dataMatchingRequirementList">
                                <label class="text-bold"><span ng-bind="job.JobTitle"></span></label>
                                <p style=" margin-bottom: 0;">
                                  <span class="text-bold"><i class="fa fa-building-o"></i></span>&nbsp; <span ng-bind="job.CompanyName"></span>
                                </p>
                                <p>
                                  <span class="text-bold"><i class="fa fa-calendar"></i> Posted on</span> : <span>{{job.CreatedOn | date:'MM-dd-yyyy'}}</span>
                                </p>
                                </div>
                              <div class="card-footer no-bg no-border text-xs-center" style="margin-top: -10px;">
                                <a href="http://localhost:63086/app/index.html#/requirementList" class="text-primary" title="Apply">View All</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 p-a-3" style="
    padding-top: 0px !important;
    padding-bottom: 0px !important;
">
                          <div class="card" style="margin-top:8px; border: 1px solid rgba(0,0,0,.125); max-height: 250px; overflow-y: none;">
                            <div class="card-block">
                              <div class="card-header no-bg no-border">
                                <h6 class="bold">Top Jobs</h6>
                              </div>
                              <div ng-repeat="job in  dataRequirementList">
                                <label class="text-bold"><span ng-bind="job.JobTitle"></span></label>
                                <p  style=" margin-bottom: 0;">
                                  <span class="text-bold"><i class="fa fa-building-o"></i></span>&nbsp; <span ng-bind="job.CompanyName"></span>
                                </p>
                                <p>
                                  <span class="text-bold"><i class="fa fa-calendar"></i> Posted on</span> : <span>{{job.CreatedOn | date:'MM-dd-yyyy'}}</span>
                                </p>
                             </div>
                              <div class="card-footer no-bg no-border text-xs-center" style="margin-top: -10px;">
                                <a href="http://localhost:63086/app/index.html#/requirementList" class="text-primary" title="Apply">View All</a>
                              </div>
                            </div>
                          </div>
                          </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 p-l-2 p-r-2 p-t-3 p-b-3 parallax-scroll" style="background-image: url(images/business_handshake.jpg);">
        <div class="blur-8" style="background-color: #d4d2d2;"></div>
        <div class="col-sm-12 text-white">
            <div class="container">
                <div class="col-sm-4">
                    <h2 class="bold" style="font-size:35px;">Partner with<br /><strong class="bold text-primary" style="font-size:70px;">X</strong><strong class="bold text-white" style="font-size:70px;">SEED</strong></h2>
                </div>
                <div class="col-sm-8">
                    <h4 class="h4 m-b-2 font-weight-medium">INCREASE YOUR STRENGTH WITH HAPPY EMPLOYEE QUOTIENT</h4>
                    <p class="font-18">
                        Xseed offers brand new user friendly interface with advanced and dynamic components. One click resume parsing process for faster candidate importing. Graphical rating to access candidate at a glance. It is a complete package for most
                        advanced hiring needs.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <section class="col-sm-12 bg-white p-a-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 m-t-3">
                    <img class="expanding-hidden" src="images/logo-b.png" alt="">
                </div>
                <!-- About Us-->
                <div class="col-md-3 col-sm-6 footer-box">
                    <div class="m-b-2">
                        <h5 class="bold">Company</h5>
                        <a class="text-primary" href="http://www.tcognition.com">tCognition Inc.</a>
                    </div>
                    <div>
                        <h5 class="bold">Location</h5>
                        <address>
                            70 Kemble St, Boston, MA 02119, USA
                            <br />
                            <a class="text-primary" href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2948.4540435257895!2d-71.058612!3d42.354161999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3708257f55e91%3A0xab1679abfdbae39c!2sTCognition+Testing+Center!5e0!3m2!1sen!2sin!4v1430382175393" target="_blank"><strong><i class="fa fa-map-marker m-r-xs" aria-hidden="true"></i>Locate us on map</strong></a>
                        </address>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="m-b-2">
                        <h5 class="bold">Phone</h5>
                        <span>(617) 357-INFO (4636)</span>
                    </div>
                    <div>
                        <h5 class="bold">Email</h5>
                        <a class="text-primary" href="mailto:support@xseed.com">support@xseed.com</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="m-b-2">
                        <h5 class="bold">Connect with us</h5>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/company/57619/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/tCognition/" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/tCognition?lang=en" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h5 class="bold">Website</h5>
                        <span><a class="text-underline text-primary" href="http://www.tCognition.com" target="_blank">www.tcognition.com</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-sm-12 text-center bg-grey-darker text-xs-center p-t-1 p-b-1" style="background-color: #000000d9!important;">
        <p class="text-white" style=" margin-bottom: 0;"> ©2019, tCognition Inc. All rights reserved.</p>
    </div>
</div>
<style>
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        opacity: 0.4;
    }
    /* Add some content at the bottom of the video/page */
    .content {
        position: fixed;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
    }
    /* Style the button used to pause/play the video */
    #myBtn {
        width: 200px;
        font-size: 18px;
        padding: 10px;
        border: none;
        background: #000;
        color: #fff;
        cursor: pointer;
    }

        #myBtn:hover {
            background: #ddd;
            color: black;
        }
</style>
