﻿<div class="app no-padding
    no-footer layout-static" style="background-image:
    url(images/hero-bg3.jpg);
    background-position: bottom;
    background-size: cover;">
    <div class="session-panel">
        <div class="session">
            <div class="session-content">
                <div class="card card-block form-layout" style="max-width:
                    450px;">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" name="resetPasswordForm" novalidate>
                                <div class="text-xs-center">
                                    <img src="images/logo-b.png" alt="Logo Image">
                                    <h5>Reset password</h5>
                                    <p class="text-muted">Set a new password and confirm the password to access dashboard.
                                    </p>
                                </div>
                                <fieldset class="form-group">
                                    <legend></legend>
                                    <label for="username">Enter password</label>
                                    <div class="input-group">
                                        <input id="newPassword" name="newPassword" block-clipboard ng-model="resetPasswordModel.NewPassword" autocomplete="off" validation="required|min_len:8|max_len:16|xseed_password" type="password" class="form-control
                                            form-control valid" placeholder="New password" required="" aria-required="true" aria-invalid="false">
                                    </div>
                                    <label id="newpass-error" class="error
                                        disp-none chk-label" for="username"></label>
                                </fieldset>
                                <fieldset class="form-group">
                                    <legend></legend>
                                    <label for="username">Confirm password</label>
                                    <div class="input-group">
                                        <input id="confirmPassword" block-clipboard name="confirmPassword" ng-model="resetPasswordModel.ConfirmPassword" autocomplete="off" validation="required|match:resetPasswordModel.NewPassword,New
                                            Password:alt=Confirm password does
                                            not match." type="password" class="form-control
                                            form-control valid" placeholder="Confirm password" required="" aria-required="true" aria-invalid="false">
                                    </div>
                                    <label id="confirmpass-error" class="error
                                        disp-none chk-label" for="username"></label>
                                </fieldset>
                                <button ng-click="resetPassword(resetPasswordForm);" class="btn btn-primary btn-block m-b-2" type="button">Reset
                                    password</button>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 col-sm-12">
                                        <label class="custom-control
                                            custom-checkbox m-b-1"> <a
                                                href="#/login"> <span
                                                    class="custom-control-description
                                                    pull-right">Go to login</span></a></label>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <p class="text-white text-xs-center">&copy;{{date | date:'yyyy'}}, tCognition Inc. All rights reserved.</p>

        </div>
    </div>
</div>
<style>
    .form-layout label.disp-none {
        display: none;
    }
</style>
<script>
    function ClearError(el, err) {
        // document.getElementById("username-error2").innerHTML = "";
        if ($("#" + el).val() != "") {
            $("#" + err).hide();

        } else {
            $("#" + err).show();
        }
    }
</script>