﻿<div class="row">
    <div class="card">
        <div class="card-header bg-default-dark text-default p-a-xs clearfix">
            <div ng-init="openSearchCandidatesBySource();" class="row">
                <div class="col-xs-9">
                    <span class="h5 font-weight-medium" ng-bind="common.selectedJob.JobTitle"></span>
                    <span class="font-weight-medium m-r-xs" uib-tooltip="Requirement ID">
                        [<span ng-bind="common.selectedJob.RequisitionId"></span>]
                    </span>
                    <span uib-tooltip="Requirement Details" class="m-r-xs" ng-click="openRequirementDetailModal();"><i class="fa fa-eye text-primary"></i></span>
                    <span class="hidden-sm-down">
                        <span class="m-r-xs">
                            <label uib-tooltip="Status">
                                <span class="label label-md label-primary" ng-if="common.selectedJob.JobStatus== 'Archive'">{{common.selectedJob.JobStatus}}</span>
                                <span class="label label-md label-success" ng-if="common.selectedJob.JobStatus== 'Closed'">{{common.selectedJob.JobStatus}}</span>
                                <span class="label label-md label-warning" ng-if="common.selectedJob.JobStatus== 'Pending'">{{common.selectedJob.JobStatus}}</span>
                                <span class="label label-md label-info" ng-if="common.selectedJob.JobStatus== 'Hold'">{{common.selectedJob.JobStatus}}</span>
                                <span class="label label-md label-danger" ng-if="common.selectedJob.JobStatus== 'Open'">{{common.selectedJob.JobStatus}}</span>
                                <span ng-if="common.selectedJob.JobStatus=== null"></span>
                            </label>
                        </span>
                        <span class="m-r-xs">
                            <label uib-tooltip="Location">
                                <i class="fa fa-map-marker text-danger" aria-hidden="true"></i>
                                <span class="text-primary">
                                    <span ng-bind="common.selectedJob.City"></span>
                                    <span ng-if="common.selectedJob.City && common.selectedJob.State">,</span>
                                    <span ng-bind="common.selectedJob.State"></span>
                                    <span ng-if="common.selectedJob.State && common.selectedJob.Country">,</span>
                                    <span ng-bind="common.selectedJob.Country"></span>
                                </span>
                            </label>
                        </span>
                        <span class="m-r-xs"><label uib-tooltip="Created By"><i class="fa fa-pencil-square-o text-danger" aria-hidden="true"></i> <span class="text-primary" ng-bind="common.selectedJob.CreatedBy"></span></label></span>
                        <span class="m-r-1"><label uib-tooltip="Experience Level"><i class="fa fa-suitcase text-danger"></i><span class="text-primary" ng-bind="common.candidateSearchBySourceModel.ExperienceLevel"></span><span class="text-primary"> Years</span></label></span>
                    </span>
                </div>
                <div class="col-sm-2 pull-right">
                    <a class="btn btn-danger btn-sm small text-white pull-right m-b-xs" role="button" href="#/requirementList">
                        <i class="fa fa-list"></i>
                        <span>List</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-header p-a-xs no-bg clearfix">
            <div class="card m-a-0">
                <form autocomplete="off" class="form-horizontal" name="candidateSearchBySourceForm" novalidate>
                    <div class="card-block shadow bg-default-light clearfix p-a-xs text-default">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-b-xs">
                                <div class="col-sm-2 noFocus">
                                    <label>Source<span class="bold text-red">*</span></label>
                                </div>
                                <div class="col-sm-10">
                                    <select class="b-a"
                                            name="Source"
                                            ui-select2="{allowClear: true}"
                                            data-placeholder="select source"
                                            multiple="multiple"
                                            ng-model="common.candidateSearchBySourceModel.Sources"
                                            validation="required:alt=source is required">
                                        <option ng-repeat="source in lookupCandidateSearchBySource" value="{{source.Id}}"
                                                ng-bind="source.Name"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-b-xs">
                                <div class="col-sm-2">
                                    <label>Job Title<span class="bold text-red">*</span></label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" placeholder="Enter Job Title"
                                           ng-model="common.candidateSearchBySourceModel.Title"
                                           name="JobTitle"
                                           validation="required:alt=job title is required|max_len:50" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-b-xs">
                                <div class="col-sm-2">
                                    <label>Req. Type<span class="bold text-red">*</span></label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="text"
                                           class="form-control form-control-sm"
                                           placeholder="enter requirement type"
                                           ng-model="common.candidateSearchBySourceModel.Type"
                                           name="jobType"
                                           auto-complete ui-items="JobType"
                                           validation="required:alt=requirement type is required."
                                           ng-click="openGenericMasterModal('Search Requirement Type');"
                                           ng-keyup="openGenericMasterModal('Search Requirement Type');"
                                           uib-tooltip="Requirement Type" tooltip-placement="bottom" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-b-xs">
                                <div class="col-sm-6 col-lg-offset-2">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="submit" class="btn btn-sm small bg-primary btn-secondary" ng-click="searchCandidatesBySource(candidateSearchBySourceForm);"><i class="fa fa-search m-r-xs"></i> Search</button>
                                        <a class="btn bg-primary btn-sm small btn-secondary" uib-tooltip="More" data-toggle="collapse" data-target="#searchCandidate" aria-expanded="false" aria-controls="collapseOne">
                                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-collapse collapse" id="searchCandidate" role="tabpanel" aria-labelledby="headingOne" ng-class="{'in':(!common.candidateListBySource.length && !common.candidateNullLength)||common.candidateListBySource.length == 0}">
                            <hr class="m-b-xs m-t-0" />
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="col-sm-2 m-b-xs">
                                        <label>Exp. Level</label>
                                    </div>
                                    <div class="col-sm-10 p-a-0">
                                        <div class="col-sm-6 m-b-xs">
                                            <select name="MinExperience"
                                                    ui-select2="{allowClear: true}"
                                                    data-placeholder="Min Year(s)"
                                                    ng-model="common.candidateSearchBySourceModel.MinExperience">
                                                <option value=""></option>
                                                <option ng-repeat="i in 50 | range" value="{{i}}">{{i}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 m-b-xs">
                                            <select name="MaxExperience"
                                                    ui-select2="{allowClear: true}"
                                                    data-placeholder="Max Year(s)"
                                                    ng-model="common.candidateSearchBySourceModel.MaxExperience">
                                                <option value=""></option>
                                                <option ng-repeat="i in 50 | range" value="{{i}}">{{i}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-b-xs">
                                    <div class="col-sm-2">
                                        <label>Location</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-sm" placeholder="Enter Location"
                                               ng-model="common.candidateSearchBySourceModel.Location"
                                               name="Location"
                                               validation="max_len:50" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="col-sm-2 m-b-xs">
                                        <label>Salary</label>
                                    </div>
                                    <div class="col-sm-10 p-a-0">
                                        <div class="col-sm-6 m-b-xs">
                                            <input type="text" class="form-control form-control-sm col-sm-6" placeholder="Enter Min Salary"
                                                   ng-model="common.candidateSearchBySourceModel.MinSalary"
                                                   name="MinSalary"
                                                   angular-currency="currencyOptions" />
                                        </div>
                                        <div class="col-sm-6 m-b-xs">
                                            <input type="text" class="form-control form-control-sm col-sm-6" placeholder="Enter Max Salary"
                                                   ng-model="common.candidateSearchBySourceModel.MaxSalary"
                                                   name="MaxSalary"
                                                   angular-currency="currencyOptions" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-b-xs">
                                    <div class="col-sm-2">
                                        <label>Salary Type</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <select name="SalaryType"
                                                ui-select2="{allowClear: true}"
                                                data-placeholder="select salary type"
                                                ng-model="common.candidateSearchBySourceModel.SalaryType">
                                            <option value=""></option>
                                            <option ng-repeat="salaryType in lookupSalaryType" value="{{salaryType.Name}}"
                                                    ng-bind="salaryType.Name"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-1">
                                        <label>Skills</label>
                                    </div>
                                    <div class="col-sm-11">
                                        <select selector
                                                multi="true"
                                                model="common.candidateSearchBySourceModel.Skills"
                                                options="lookup.skillListData"
                                                value-attr="label"
                                                placeholder="type skills..."
                                                create="createFunction(input)"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row p-t-xs">
                <div class="col-sm-6">
                    <input type="checkbox" ng-if="userDetails.Submission_Create == 'True'" type="button" class="btn btn-primary btn-sm small" ng-click="showHideSubmitMultipleCandidate();">
                    Select Multiple
                    <button ng-if="userDetails.Submission_Create == 'True' && showSubmitMultiple" type="button" class="btn m-b-xs btn-primary btn-sm small" ng-click="openCandidateSubmissionModal('Multiple');" ng-disabled="checkedCount== 0">
                        Submit to Company
                    </button>
                </div>
                <div class="col-sm-5 text-xs-right pull-right">
                    <a class="m-r-xs">
                        <label class="label label-default font-14">
                            <strong>Total</strong>
                            <span class="tag bg-grey-darker" ng-if="localCandidateCount + monsterCandidateCount + diceCandidateCount ==null">0</span>
                            <span class="tag bg-grey-darker" ng-if="localCandidateCount + monsterCandidateCount + diceCandidateCount != null">{{localCandidateCount + monsterCandidateCount + diceCandidateCount}}</span>
                        </label>
                    </a>
                    <a class="m-r-xs">
                        <label class="label label-default font-14" uib-tooltip="Local">
                            <img src="{{configuration.XSEED_DEFAULT_IMAGE_PATH + 'Xeed_logo.png'}}" style="height:15px;" class="img-responsive" alt="XSeed Logo" />
                            <span class="tag bg-green-darker" ng-if="localCandidateCount ==null">0</span>
                            <span class="m-auto tag bg-green-darker" ng-if="localCandidateCount !=null" ng-bind="localCandidateCount"></span>
                        </label>
                    </a>
                    <a class="m-r-xs">
                        <label class="label label-default font-14" uib-tooltip="Monster">
                            <img src="{{configuration.XSEED_DEFAULT_IMAGE_PATH + 'monster_logo_70x10px.png'}}" class="img-responsive" alt="Monster Logo" />
                            <span class="tag bg-danger" ng-if="monsterCandidateCount==null">0</span>
                            <span class="m-auto tag bg-danger" ng-bind="monsterCandidateCount" ng-if="monsterCandidateCount!=null"></span>
                        </label>
                    </a>
                    <a class="m-r-xs">
                        <label class="label label-default font-14" uib-tooltip="Dice">
                            <img src="{{configuration.XSEED_DEFAULT_IMAGE_PATH + 'Dice_70x20.png'}}" class="img-responsive" style="height: 13px;border-radius: 2px;width: 70px;" alt="Dice Image" />
                            <span class="tag bg-danger" ng-if="diceCandidateCount==null">0</span>
                            <span class="m-auto tag bg-danger" ng-bind="diceCandidateCount" ng-if="diceCandidateCount!=null"></span>
                        </label>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-block p-t-0 p-l-xs p-r-xs clearfix">
            <div class="col-sm-12 p-a-0" ng-if="common.candidateListBySource.length">
                <div id="requirementDiv" class="table-responsive scroll slimScroll fixed_headers td-col-sm fixed_headers-col-1-xs">
                    <table ng-table="common.tblCandidateListBySource" class="table table-bordered table-sm text-nowrap small m-a-0">
                        <caption></caption>
                        <tbody class="slimScroll">
                            <tr ng-repeat="candidate in CandidateListBySourceData">
                                <td header-class="'bg-primary'" header="'ng-table/headers/checkbox.html'" class="text-xs-center" ng-if="showSubmitMultiple">
                                    <input class="form-check-input" type="checkbox" ng-model="checkboxes.items[candidate.Candidate_Id]" ng-if="candidate.Source == 'Local'">
                                    <input class="form-check-input" type="checkbox" ng-model="checkboxes.items[candidate.ProviderCandidateId]" ng-if="candidate.Source == 'Monster' || candidate.Source == 'Dice'">
                                </td>
                                <td data-title="'Source'" data-sortable="'Source'" header-class="'bg-primary'" class="text-xs-center">
                                    <span ng-if="candidate.Source == 'Monster'">
                                        <img src="{{configuration.XSEED_DEFAULT_IMAGE_PATH + 'Monster_60x60.png'}}" class="img-responsive" style="width:20px;" alt="Monster Logo"/>
                                    </span>
                                    <span ng-if="candidate.Source == 'Local'">
                                        <img src="{{configuration.XSEED_DEFAULT_IMAGE_PATH + 'XSeed_60x60.png'}}" class="img-responsive" style="width:20px;" alt="XSeed Logo" />
                                    </span>
                                    <span ng-if="candidate.Source == 'Dice'">
                                        <img src="{{configuration.XSEED_DEFAULT_IMAGE_PATH + 'Dice_60x60.png'}}" class="img-responsive" style="width:20px;" alt="Dice Logo"/>
                                    </span>
                                </td>
                                <td data-title="'Name'" data-sortable="'Name'" header-class="'bg-primary'">
                                    <span data-title="'Name'" ng-bind="candidate.Name" ng-attr-title="{{candidate.Name}}"></span>
                                </td>
                                <td data-title="'Profile Title'" data-sortable="'Title'" header-class="'bg-primary'" ng-bind="candidate.Title" ng-attr-title="{{candidate.Title}}"></td>
                                <td data-title="'Location'" data-sortable="'Location'" header-class="'bg-primary'" ng-bind="candidate.Location" ng-attr-title="{{candidate.Location}}"></td>
                                <td data-title="'Requirement Type'" data-sortable="'Type'" header-class="'bg-primary'" ng-bind="candidate.Type"></td>
                                <td data-title="'Salary Range'" data-sortable="'SalaryRange'" header-class="'bg-primary'" ng-bind="candidate.SalaryRange"></td>
                                <td data-title="'Zip'" data-sortable="'Zip'" header-class="'bg-primary'" ng-bind="candidate.Zip"></td>
                                <td data-title="'Modified Date'" data-sortable="'ModifiedDate'" header-class="'bg-primary'" ng-bind="candidate.ModifiedDate" ng-attr-title="{{candidate.ModifiedDate|date:'medium'}}"></td>
                                <td data-title="'Created Date'" data-sortable="'CreatedDate'" header-class="'bg-primary'" ng-bind="candidate.CreatedDate" ng-attr-title="{{candidate.CreatedDate}}"></td>
                                <td data-title="'Relevance(%)'" data-sortable="'Relevance'" header-class="'bg-primary'" ng-bind="candidate.Relevance" class="text-xs-center"></td>
                                <td data-title="'Action'" header-class="'bg-primary'" class="text-xs-center">
                                    <span>
                                        <a class="btn btn-sm small btn-primary" uib-tooltip="View" ng-click="candidateDetailViewBySource(candidate)"><i class="fa fa-eye"></i></a>
                                    </span>
                                    <span>
                                        <a ng-if="userDetails.Submission_Create == 'True'" uib-tooltip="Submit" class="btn btn-sm small btn-primary" ng-click="openCandidateSubmissionModal('Single',candidate);" ng-disabled="checkedCount > 0">
                                            <i class="fa fa-share-square" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!common.candidateListBySource.length && !common.candidateNullLength">
                <p class="text-shadow lead text-xs-center">
                    <img src="images/search.png" alt="Search Image" /><br />
                    Please select criteria to search!
                </p>
            </div>
            <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="common.candidateListBySource.length == 0 && common.candidateNullLength">
                <h6 class="text-shadow text-grey">
                    No candidate(s) available with matching criteria.
                </h6>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
</script>
