﻿<div class="row">
    <div class="card">
        <div class="card-header no-bg clearfix p-a-xs">
            <div class="col-sm-4 text-xs-right pull-right" ng-if="!appliedCandidateList">
                <a class="btn btn-danger btn-sm small" role="button" href="#/candidateList">
                    <i class="fa fa-list m-r-xs" aria-hidden="true"></i>Candidate List
                </a>
            </div>
            <div class="col-sm-4 text-xs-right  pull-right" ng-if="appliedCandidateList">
                <a class="btn btn-danger btn-sm small btn-icon" role="button" href="#/appliedCandidates">
                    <i class="material-icons ng-binding" aria-hidden="true">view_list</i>
                    <span>Applied Candidates</span>
                </a>
            </div>
        </div>
        <div class="card-block clearfix">
            <div class="col-sm-12">
                <iframe name="cctsl_frame" title="Frame" id="cctsl_frame" ng-src="{{trustSrc(commonEmailModel.companySubmissionUrl)}}" style="width:100%;border:0px;min-height:500px;"></iframe>
            </div>
        </div>
    </div>
</div>