﻿<div ng-init="checkUserAccess()">
    <div class="row" ng-init="getRequirementTrackerReport();">
        <uib-tabset active="active">
            <uib-tab index="0" ng-click="resetFilter();getRequirementTrackerReport()">
                <uib-tab-heading>
                    <i class="material-icons font-18 text-grey-dark">assignment</i><span class="hidden-sm-down">Requirement Tracker</span>
                </uib-tab-heading>
                <div class="card m-b-0">
                    <div class="card-header no-bg clearfix p-a-xs">
                        <!--
                        <div class="col-sm-10">
                            <form name="myForm">
                                <label class="m-r-1">
                                    Show columns:
                                </label>
                                <label class="m-r-xs c-input c-checkbox">
                                    <input type="checkbox" ng-model="requirementTrackerColumnsCheckboxes.date">
                                    <span class="c-indicator">
                                    </span>
                                    Requirement Date
                                </label>
                                <label class="m-r-xs c-input c-checkbox">
                                    <input type="checkbox" ng-model="requirementTrackerColumnsCheckboxes.title">
                                    Title
                                    <span class="c-indicator">
                                    </span>
                                </label>
                                <label class="m-r-xs c-input c-checkbox">
                                    <input type="checkbox" ng-model="requirementTrackerColumnsCheckboxes.status">
                                    Status
                                    <span class="c-indicator">
                                    </span>
                                </label>
                                <label class="m-r-xs c-input c-checkbox">
                                    <input type="checkbox" ng-model="requirementTrackerColumnsCheckboxes.company">
                                    Company
                                    <span class="c-indicator">
                                    </span>
                                </label>
                                <label class="m-r-xs c-input c-checkbox">
                                    <input type="checkbox" ng-model="requirementTrackerColumnsCheckboxes.companyContact">
                                    Company Contact
                                    <span class="c-indicator">
                                    </span>
                                </label>
                                <label class="m-r-xs c-input c-checkbox">
                                    <input type="checkbox" ng-model="requirementTrackerColumnsCheckboxes.internalSubmissions">
                                    Internal Submissions
                                    <span class="c-indicator">
                                    </span>
                                </label>
                            </form>
                        </div>-->
                        <div class="col-sm-3 col-md-5 col-lg-3">
                            <label class="pull-left"><i class="fa fa-calendar m-r-xs" aria-hidden="true"></i>Report by</label>
                            <div class="pull-right" style="width:150px;">
                                <select class="b-a"
                                        name="Filter"
                                        ui-select2
                                        data-placeholder="select filter"
                                        ng-model="common.advanceSearchModel.filter.days"
                                        validation="required:alt=filter is required"
                                        ng-change="getRequirementTrackerReport()">
                                    <option ng-repeat="filter in reportFilterList" value="{{filter.Id}}"
                                            ng-bind="filter.Name"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-9 col-md-7 col-lg-6 pull-right">
                            <div class="col-sm-12 p-a-0 clearfix">
                                <button type="button" class="btn pull-md-right pull-lg-right btn-primary btn-sm small loading-demo pull-lg-right pull-md-right" ng-click="getExportToExcelDataRequirementTrackerReport()" ng-disabled="requirementTrackerList.length == 0">
                                    <i class="fa fa-download m-r-xs"></i>Export to Excel
                                </button>
                            </div>
                            <div ng-show="isSafariBrowser">
                                <span class="validation text-danger pull-right">{{'menu.BROWSERISSUEMESSAGE'|translate}}</span>
                            </div>                            
                        </div>
                    </div>
                    <div class="card-block p-a-0 clearfix">
                        <div class="table-responsive scroll slimScroll">
                            <table ng-table="requirementTrackerTableParams" class="table table-bordered table-sm table-hover text-nowrap small m-a-0">
                                <tbody>
                                    <tr ng-repeat="requirement in requirementTrackerList">
                                        <td data-title="'Requirement Date'" data-sortable="'CreatedOn'" header-class="'bg-primary'" ng-bind="requirement.RequirementDate | date:dd/MMM/yyyy" ng-if="requirementTrackerColumnsCheckboxes.date"></td>

                                        <td data-title="'Title'" data-sortable="'JobTitle'" ng-bind="requirement.JobTitle" header-class="'bg-primary'" ng-if="requirementTrackerColumnsCheckboxes.title"></td>

                                        <td data-title="'Status'" data-sortable="'JobStatusMaster.Status'" ng-bind="requirement.Status" header-class="'bg-primary'" ng-if="requirementTrackerColumnsCheckboxes.status"></td>

                                        <td data-title="'Company'" data-sortable="'CompanyDetail.Name'" ng-bind="requirement.Company" header-class="'bg-primary'" ng-if="requirementTrackerColumnsCheckboxes.company"></td>

                                        <td data-title="'Company Contact'" header-class="'bg-primary'" ng-bind="requirement.CompanyContact" ng-if="requirementTrackerColumnsCheckboxes.companyContact"></td>

                                        <td data-title="'Internal Submissions'" ng-bind="requirement.InternalSubmissions" header-class="'bg-primary'" ng-if="requirementTrackerColumnsCheckboxes.internalSubmissions"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!requirementTrackerList.length">
                            <p class="text-shadow lead text-xs-center">
                                <img src="images/search.png" /><br />
                                No records found!
                            </p>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" ng-click="resetFilter();getSubmissionTrackerReport()">
                <uib-tab-heading>
                    <i class="material-icons font-18 text-grey-dark">assignment_turned_in</i><span class="hidden-sm-down">Submission</span>
                </uib-tab-heading>
                <div class="card m-b-0">
                    <div class="card-header clearfix no-bg p-a-xs">
                        <div class="col-sm-3 col-md-5 col-lg-3">
                            <label class="pull-left"><i class="fa fa-calendar m-r-xs" aria-hidden="true"></i>Report by</label>
                            <div class="pull-right" style="width:150px;">
                                <select class="b-a"
                                        name="Filter"
                                        ui-select2
                                        data-placeholder="select filter"
                                        ng-model="common.advanceSearchModel.filter.days"
                                        validation="required:alt=filter is required"
                                        ng-change="getSubmissionTrackerReport()">
                                    <option ng-repeat="filter in reportFilterList" value="{{filter.Id}}"
                                            ng-bind="filter.Name"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 pull-lg-right pull-md-right">
                            <button type="button" class="btn btn-primary btn-sm small pull-lg-right pull-md-right" ng-click="getExportToExcelDataSubmissionTrackerReport()" ng-disabled="submissionTrackerList.length == 0">
                                <i class="fa fa-download m-r-xs"></i>Export to Excel
                            </button>
                        </div>
                        <div ng-show="isSafariBrowser">
                            <span class="validation text-danger pull-right">{{'menu.BROWSERISSUEMESSAGE'|translate}}</span>
                        </div>  
                    </div>
                    <div class="card-block clearfix p-a-0">
                        <div class="table-responsive scroll slimScroll">
                            <table ng-table="submissionTrackerTableParams" class="table table-bordered table-sm table-hover text-nowrap small m-a-0">
                                <tbody>
                                    <tr ng-repeat="submission in submissionTrackerList">
                                        <td data-title="'Requirement Date'" data-sortable="'JobDetail.CreatedOn'" header-class="'bg-primary'" ng-bind="submission.RequirementDate | date:dd/MMM/yyyy"></td>
                                        <td data-title="'Submission Date'" data-sortable="'CreatedOn'" header-class="'bg-primary'" ng-bind="submission.SubmissionDate | date:dd/MMM/yyyy"></td>
                                        <td data-title="'Recruiter'" header-class="'bg-primary'" data-sortable="'OrganizationUserDetail.FirstName'">
                                            {{submission.Recruiter}}
                                        </td>
                                        <td data-title="'Company'" data-sortable="'JobDetail.CompanyDetail.Name'" ng-bind="submission.Company" header-class="'bg-primary'"></td>
                                        <td data-title="'Candidate'" data-sortable="'CandidateName'" ng-bind="submission.Candidate" header-class="'bg-primary'"></td>
                                        <td data-title="'Requirement Title'" data-sortable="'JobDetail.JobTitle'" ng-bind="submission.JobTitle" header-class="'bg-primary'"></td>
                                        <td data-title="'Requirement Status'" data-sortable="'JobDetail.JobStatusMaster.Status'" ng-bind="submission.Status" header-class="'bg-primary'"></td>
                                        <td data-title="'Remark'" ng-bind="submission.Remark" header-class="'bg-primary'"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!submissionTrackerList.length">
                            <p class="text-shadow lead text-xs-center">
                                <img src="images/search.png" /><br />
                                No records found!
                            </p>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="2" ng-click="resetFilter();getActivityReport();">
                <uib-tab-heading>
                    <i class="material-icons font-18 text-grey-dark">event_note</i><span class="hidden-sm-down">Activity Report</span>
                </uib-tab-heading>
                <div class="card m-b-0">
                    <div class="card-header clearfix p-a-xs no-bg">
                        <div class="col-sm-3 col-md-5 col-lg-3">
                            <label class="pull-left"><i class="fa fa-calendar m-r-xs" aria-hidden="true"></i>Report by</label>
                            <div class="pull-right" style="width:150px;">
                                <select class="b-a"
                                        name="Filter"
                                        ui-select2
                                        data-placeholder="select filter"
                                        ng-model="common.advanceSearchModel.filter.days"
                                        validation="required:alt=filter is required"
                                        ng-change="getActivityReport()">
                                    <option ng-repeat="filter in reportFilterList" value="{{filter.Id}}"
                                            ng-bind="filter.Name"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 pull-lg-right pull-md-right">
                            <button type="button" class="btn btn-primary btn-sm small loading-demo m-b-0 pull-lg-right pull-md-right" ng-click="getExportToExcelDataActivityReport()" ng-disabled="activityReportList.length == 0">
                                <i class="fa fa-download m-r-xs"></i>Export to Excel
                            </button>   
                        </div>
                        <div ng-show="isSafariBrowser">
                            <span class="validation text-danger pull-right">{{'menu.BROWSERISSUEMESSAGE'|translate}}</span>
                        </div>  
                    </div>
                    <div class="card-block p-a-0 clearfix">
                        <div class="table-responsive scroll slimScroll">
                            <table ng-table="activityReportTableParams" class="table table-bordered table-sm table-hover text-nowrap small m-a-0">
                                <tbody>
                                    <tr ng-repeat="activity in activityReportList">
                                        <td data-title="'User'" header-class="'bg-primary'" data-sortable="'OrganizationUser'" ng-bind="activity.OrganizationUser"></td>

                                        <td data-title="'Company'" ng-bind="activity.CompanyCount" data-sortable="'CompanyCount'" header-class="'bg-primary'"></td>

                                        <td data-title="'Company Contact'" ng-bind="activity.CompanyContactCount" data-sortable="'CompanyContactCount'" header-class="'bg-primary'"></td>

                                        <td data-title="'Requirement'" ng-bind="activity.RequirementCount" data-sortable="'RequirementCount'" header-class="'bg-primary'"></td>

                                        <td data-title="'Candidate'" ng-bind="activity.CandidateCount" data-sortable="'CandidateCount'" header-class="'bg-primary'"></td>

                                        <td data-title="'Submitted'" ng-bind="activity.SubmissionCount" data-sortable="'SubmissionCount'" header-class="'bg-primary'"></td>

                                        <td data-title="'Feedback'" ng-bind="activity.SubmissionFeedbackCount" data-sortable="'SubmissionFeedbackCount'" header-class="'bg-primary'"></td>

                                        <td data-title="'Placements'" ng-bind="activity.SubmissionFeedbackClosedCount" data-sortable="'SubmissionFeedbackClosedCount'" header-class="'bg-primary'"></td>

                                        <td data-title="'Note'" ng-bind="activity.QNoteActivityCount" data-sortable="'QNoteActivityCount'" header-class="'bg-primary'"></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!activityReportList.length">
                            <p class="text-shadow lead text-xs-center">
                                <img src="images/search.png" /><br />
                                No records found!
                            </p>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="3" ng-click="resetFilter();getCandidateReport();">
                <uib-tab-heading>
                    <i class="material-icons font-18 text-grey-dark">person_add</i><span class="hidden-sm-down">Candidate Added</span>
                </uib-tab-heading>
                <div class="card m-b-0">
                    <div class="card-header clearfix p-a-xs no-bg">
                        <div class="col-sm-3 col-md-5 col-lg-3">
                            <label class="pull-left"><i class="fa fa-calendar m-r-xs" aria-hidden="true"></i>Report by</label>
                            <div class="pull-right" style="width:150px;">
                                <select class="b-a"
                                        name="Filter"
                                        ui-select2
                                        data-placeholder="select filter"
                                        ng-model="common.advanceSearchModel.filter.days"
                                        validation="required:alt=filter is required"
                                        ng-change="getCandidateReport()">
                                    <option ng-repeat="filter in reportFilterList" value="{{filter.Id}}"
                                            ng-bind="filter.Name"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 pull-lg-right pull-md-right">
                            <button type="button" class="btn btn-primary btn-sm small loading-demo m-b-0 pull-lg-right pull-md-right" ng-click="getExportToExcelDataCandidateReport()" ng-disabled="candidateAddedList.length == 0">
                                <i class="fa fa-download m-r-xs"></i>Export to Excel
                            </button>
                        </div>
                        <div ng-show="isSafariBrowser">
                            <span class="validation text-danger pull-right">{{'menu.BROWSERISSUEMESSAGE'|translate}}</span>
                        </div>  
                    </div>
                    <div class="card-block p-a-0 clearfix">
                        <div class="table-responsive scroll slimScroll">
                            <table ng-table="candidateAddedTableParams" class="table table-bordered table-sm table-hover text-nowrap small m-a-0">
                                <tbody>
                                    <tr ng-repeat="candidate in candidateAddedList">
                                        <td data-title="'Recruiter'" header-class="'bg-primary'" data-sortable="'Recruiter'" ng-bind="candidate.Recruiter"></td>

                                        <td data-title="'Created On'" header-class="'bg-primary'" data-sortable="'CreatedOn'" ng-bind="candidate.CreatedOn | date:dd/MMM/yyyy"></td>

                                        <td data-title="'Local'" ng-bind="candidate.ManuallyCreatedCount" data-sortable="'ManuallyCreatedCount'" header-class="'bg-primary'"></td>

                                        <td data-title="'Monster'" ng-bind="candidate.MonsterCount" data-sortable="'MonsterCount'" header-class="'bg-primary'"></td>

                                        <td data-title="'Dice'" ng-bind="candidate.DiceCount" data-sortable="'DiceCount'" header-class="'bg-primary'"></td>

                                        <td data-title="'Total'" ng-bind="candidate.Total" data-sortable="'Total'" header-class="'bg-primary'"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!candidateAddedList.length">
                            <p class="text-shadow lead text-xs-center">
                                <img src="images/search.png" /><br />
                                No records found!
                            </p>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="4" ng-click="resetFilter();getClientLeadReport()">
                <uib-tab-heading>
                    <i class="material-icons font-18 text-grey-dark">person_pin</i><span class="hidden-sm-down">Client Lead</span>
                </uib-tab-heading>
                <div class="card">
                    <div class="card-header no-bg p-a-xs clearfix">
                        <div class="col-sm-3 col-md-5 col-lg-3">
                            <label class="pull-left"><i class="fa fa-calendar m-r-xs" aria-hidden="true"></i>Report by</label>
                            <div class="pull-right" style="width:150px;">
                                <select class="b-a"
                                        name="Filter"
                                        ui-select2
                                        data-placeholder="select filter"
                                        ng-model="common.advanceSearchModel.filter.days"
                                        validation="required:alt=filter is required"
                                        ng-change="getClientLeadReport()">
                                    <option ng-repeat="filter in reportFilterList" value="{{filter.Id}}"
                                            ng-bind="filter.Name"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 pull-lg-right pull-md-right">
                            <button type="button" class="btn btn-primary btn-sm small loading-demo pull-lg-right pull-md-right" ng-click="getExportToExcelDataClientLeadReport()" ng-disabled="clientLeadList.length == 0">
                                <i class="fa fa-download m-r-xs"></i>Export to Excel
                            </button>
                        </div>
                        <div ng-show="isSafariBrowser">
                            <span class="validation text-danger pull-right">{{'menu.BROWSERISSUEMESSAGE'|translate}}</span>
                        </div>  
                    </div>
                    <div class="card-block p-a-0 clearfix">
                        <div class="table-responsive scroll slimScroll">
                            <table ng-table="clientLeadTableParams" class="table table-bordered table-sm table-hover text-nowrap small m-a-0">
                                <tbody>
                                    <tr ng-repeat="clientLead in clientLeadList">
                                        <td data-title="'Source Name'" header-class="'bg-primary'" data-sortable="'LeadName'" ng-bind="clientLead.SourceName"></td>
                                        <td data-title="'Company'" data-sortable="'Name'" header-class="'bg-primary'" ng-bind="clientLead.CompanytName"></td>
                                        <td data-title="'Company Type'" data-sortable="'CompanyType'" ng-bind="clientLead.CompanyType" header-class="'bg-primary'"></td>
                                        <td data-title="'Via'" data-sortable="'Via'" ng-bind="clientLead.Via" header-class="'bg-primary'"></td>
                                        <td data-title="'Via Website'" data-sortable="'ViaWebsite'" ng-bind="clientLead.ViaWebsite" header-class="'bg-primary'"></td>
                                        <td data-title="'Requirement Title'" data-sortable="'JobTitle'" ng-bind="clientLead.JobTitle" header-class="'bg-primary'"></td>
                                        <td data-title="'Positions'" data-sortable="'TotalPositions'" ng-bind="clientLead.Positions" header-class="'bg-primary'"></td>
                                        <td data-title="'Requirement Date'" data-sortable="'CreatedOn'" ng-bind="clientLead.RequirementDate | date:dd/MMM/yyyy" header-class=" 'bg-primary' "></td>
                                        <td data-title="'Submissions'" data-sortable="'Count'" ng-bind="clientLead.Submissions" header-class="'bg-primary'"></td>
                                        <td data-title="'Status'" data-sortable="'Status'" ng-bind="clientLead.JobStatus" header-class="'bg-primary'"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!clientLeadList.length">
                            <p class="text-shadow lead text-xs-center">
                                <img src="images/search.png" /><br />
                                No records found!
                            </p>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="5" ng-click="resetFilter();getClosureReport()">
                <uib-tab-heading>
                    <i class="material-icons font-18 text-grey-dark">assignment_turned_in</i><span class="hidden-sm-down">Closure</span>
                </uib-tab-heading>
                <div class="card m-b-0">
                    <div class="card-header clearfix no-bg p-a-xs">
                        <div class="col-sm-3 col-md-5 col-lg-3">
                            <label class="pull-left"><i class="fa fa-calendar m-r-xs" aria-hidden="true"></i>Report by</label>
                            <div class="pull-right" style="width:150px;">
                                <select class="b-a"
                                        name="Filter"
                                        ui-select2
                                        data-placeholder="select filter"
                                        ng-model="common.advanceSearchModel.filter.days"
                                        validation="required:alt=filter is required"
                                        ng-change="getClosureReport()">
                                    <option ng-repeat="filter in reportFilterList" value="{{filter.Id}}"
                                            ng-bind="filter.Name"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 pull-lg-right pull-md-right">
                            <button type="button" class="btn btn-primary btn-sm small pull-lg-right pull-md-right" ng-click="getExportToExcelDataClosureReport()" ng-disabled="closureList.length == 0">
                                <i class="fa fa-download m-r-xs"></i>Export to Excel
                            </button>
                        </div>
                        <div ng-show="isSafariBrowser">
                            <span class="validation text-danger pull-right">{{'menu.BROWSERISSUEMESSAGE'|translate}}</span>
                        </div>  
                    </div>
                    <div class="card-block clearfix p-a-0">
                        <div class="table-responsive scroll slimScroll">
                            <table ng-table="closureTableParams" class="table table-bordered table-sm table-hover text-nowrap small m-a-0">
                                <tbody>
                                    <tr ng-repeat="submission in closureList">
                                        <td data-title="'Requirement Date'" data-sortable="'JobDetail.CreatedOn'" header-class="'bg-primary'" ng-bind="submission.RequirementDate | date:dd/MMM/yyyy"></td>
                                        <td data-title="'Submission Date'" data-sortable="'CreatedOn'" header-class="'bg-primary'" ng-bind="submission.SubmissionDate | date:dd/MMM/yyyy"></td>
                                        <td data-title="'Recruiter'" header-class="'bg-primary'" data-sortable="'OrganizationUserDetail.FirstName'">
                                            {{submission.Recruiter}}
                                        </td>
                                        <td data-title="'Company'" data-sortable="'JobDetail.CompanyDetail.Name'" ng-bind="submission.Company" header-class="'bg-primary'"></td>
                                        <td data-title="'Candidate'" data-sortable="'CandidateName'" ng-bind="submission.Candidate" header-class="'bg-primary'"></td>
                                        <td data-title="'Requirement Title'" data-sortable="'JobDetail.JobTitle'" ng-bind="submission.JobTitle" header-class="'bg-primary'"></td>
                                        <td data-title="'Requirement Status'" data-sortable="'JobDetail.JobStatusMaster.Status'" ng-bind="submission.Status" header-class="'bg-primary'"></td>
                                        <td data-title="'Submission Status'" data-sortable="'SubmissionStatusMaster.Status'" ng-bind="submission.SubmissionStatus" header-class="'bg-primary'"></td>
                                        <td data-title="'Remark'" ng-bind="submission.Remark" header-class="'bg-primary'"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!closureList.length">
                            <p class="text-shadow lead text-xs-center">
                                <img src="images/search.png" /><br />
                                No records found!
                            </p>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>

<script id="uib/template/tabs/tab.html" type="text/ng-template">
    <li class="nav-item">
        <a href class="nav-link" ng-click="select()" uib-tab-heading-transclude ng-class="{active: active
, disabled: disabled}">{{heading}}</a>
    </li>
</script>