﻿<div class="title-section row">
    <div ng-if="userDetails.RoleName == 'Application Administrator'" class="col-sm-4 pull-right">
        <a class="btn btn-danger btn-sm small pull-right m-b-xs" role="button" href="#/userRoles">
            <i class="fa fa-list m-r-xs" aria-hidden="true"></i>
            <span>Users Roles List</span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" name="newUserRoleForm" novalidate>
            <div class="card shadow">
                <div class="card-block">
                    <fieldset class="form-group">
                        <div class="col-sm-6">
                            <label>Role<span class="bold text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Role Name"
                                   ng-model="newUserRole.Role"
                                   name="roleName"
                                   validation="required|min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe" />
                        </div>
                        <div class="col-sm-6">
                            <label>Precedence Level<span class="bold text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Precedence Level"
                                   ng-model="newUserRole.Precedence"
                                   name="rolePrecedenceLevel"
                                   validation="required|integer|max_len:2" />
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="col-sm-6">
                            <label>Role Description<span class="bold text-red">*</span></label>
                            <textarea class="form-control" placeholder="Role Description"
                                      ng-model="newUserRole.Description"
                                      name="roleDescription"
                                      validation="required|min_len:2|max_len:500"></textarea>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="col-sm-12">
                            <label>Area Mappings<span class="bold text-red">*</span></label>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Area</th>
                                        <th colspan="4" style="text-align:center">Permissions</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center">Create</th>
                                        <th style="text-align:center">Update</th>
                                        <th style="text-align:center">Read</th>
                                        <th style="text-align:center">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="areaMapping in newUserRole.AreaMapping">
                                        <td>{{areaMapping.Name}}</td>
                                        <td><input type="checkbox" class="form-control" ng-model="areaMapping.Create" /></td>
                                        <td><input type="checkbox" class="form-control" ng-model="areaMapping.Update" /></td>
                                        <td><input type="checkbox" class="form-control" ng-model="areaMapping.Read" /></td>
                                        <td><input type="checkbox" class="form-control" ng-model="areaMapping.Delete" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
                <div ng-if="userDetails.RoleName == 'Application Administrator'" class="card-footer">
                    <button type="submit" class="btn btn-sm small btn-primary" ng-click="createUserRole(newUserRoleForm);">
                        <i class="material-icons">person_add</i>Create User Role
                    </button>
                    <button type="submit" class="btn btn-sm small btn-default" ng-click="gotoUserRoleList();">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>