﻿<div class="row">
    <div class="card shadow">
        <div class="card-header p-a-xs clearfix">
            <div class="row">
                <div class="col-sm-8">
                    <a class="media-left" href="#">
                        <img ng-if="common.currentOrganizationUserDetails.ProfileImage" class="media-object avatar avatar-4wh img-thumbnail" ng-src="{{common.currentOrganizationUserDetails.ProfileImagePath}}" lazy-src>
                        <img ng-if="!common.currentOrganizationUserDetails.ProfileImage" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src class="avatar-4wh img-circle" title="user" />
                    </a>
                    <div class="media-body col v-align-middle">
                        <h5 class="media-heading">
                            {{common.currentOrganizationUserDetails.FirstName}} {{common.currentOrganizationUserDetails.LastName}}
                            <span ng-if="userDetails.Organization_Update == 'True'">
                                <a class="bg-default-round bg-grey v-align-middle" href="#/editUser" uib-tooltip="Edit">
                                    <i class="material-icons ng-binding" aria-hidden="true">
                                        edit
                                    </i>
                                </a>
                            </span>
                        </h5>
                        <div class="card-subtitle">
                            {{common.currentOrganizationUserDetails.RoleName}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 pull-right">
                    <a class="btn btn-sm btn-danger small pull-right" role="button" href="#/systemUsers">
                        <i class="fa fa-list m-r-xs" aria-hidden="true"></i>List
                    </a>
                    <button class="btn btn-sm btn-danger small pull-right m-r-xs" ng-if="(common.currentOrganizationUserDetails.IsActive  && common.currentOrganizationUserDetails.UserName != userDetails.UserName) && userDetails.RoleName == 'Application Administrator'" ng-click="EnableDisableUser(common.currentOrganizationUserDetails, false);">
                        <i class="fa fa-user-times" aria-hidden="true"></i> Disable
                    </button>
                    <button class="btn btn-sm btn-success small pull-right m-r-xs" ng-if="(!common.currentOrganizationUserDetails.IsActive && common.currentOrganizationUserDetails.UserName != userDetails.UserName) && userDetails.RoleName == 'Application Administrator'" ng-click="EnableDisableUser(common.currentOrganizationUserDetails, true);">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Enable
                    </button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <fieldset class="form-group-lg m-b-xs p-b-xs b-b">
                <div class="col-sm-1 text-primary">
                    <i class="fa fa-envelope fa-2x"></i>
                </div>
                <div class="col-sm-3 break-word">
                    <label class="text-grey">Primary Email</label>
                    <p class="card-text font-14 bold" ng-bind="common.currentOrganizationUserDetails.PrimaryEmail"></p>
                </div>
                <div class="col-sm-3">
                    <label class="text-grey">Secondary Email</label>
                    <p class="card-text font-14 bold" ng-bind="common.currentOrganizationUserDetails.SecondaryEmail"></p>
                </div>
            </fieldset>
            <fieldset class="form-group-lg m-b-xs p-b-xs b-b">
                <div class="col-sm-1 text-green">
                    <i class="fa fa-phone-square fa-2x"></i>
                </div>
                <div class="col-sm-3">
                    <label class="text-grey">Mobile</label>
                    <p class="card-text font-14 bold" ng-bind="common.currentOrganizationUserDetails.Mobile"></p>
                </div>
                <div class="col-sm-3">
                    <label class="text-grey">Phone</label>
                    <p class="card-text font-14 bold" ng-bind="common.currentOrganizationUserDetails.Phone"></p>
                </div>
                <div class="col-sm-3">
                    <label class="text-grey">Fax</label>
                    <p class="card-text font-14 bold" ng-bind="common.currentOrganizationUserDetails.Fax"></p>
                </div>
            </fieldset>
            <fieldset class="form-group-lg m-b-xs p-b-xs b-b">
                <div class="col-sm-1 text-amber">
                    <i class="fa fa-birthday-cake fa-2x"></i>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-6">
                    <label class="text-grey">Birth Date</label>
                    <p class="card-text font-14 bold"><span ng-bind="common.currentOrganizationUserDetails.BirthDate | date:'dd-MMM-yyyy'"></span></p>
                </div>
                <div class="col-sm-4">
                    <label class="text-grey">Anniversary Date</label>
                    <p class="card-text font-14 bold"><span ng-bind="common.currentOrganizationUserDetails.AnniversaryDate | date:'dd-MMM-yyyy'"></span></p>
                </div>
            </fieldset>
            <fieldset class="form-group-lg m-b-xs p-b-xs b-b">
                <div class="col-sm-1 text-cyan">
                    <i class="fa fa-map-marker fa-2x"></i>
                </div>
                <div class="col-sm-3">
                    <label class="text-grey">Address 1</label>
                    <p class="card-text font-14 bold" ng-bind="common.currentOrganizationUserDetails.Address1"></p>
                </div>
                <div class="col-sm-3">
                    <label class="text-grey">Address 2</label>
                    <p class="card-text font-14 bold" ng-bind="common.currentOrganizationUserDetails.Address2"></p>
                </div>
            </fieldset>
            <fieldset class="form-group-lg m-b-xs p-b-xs b-b">
                <div class="col-sm-1 text-brown">
                    <i class="fa fa-map-signs fa-2x"></i>
                </div>
                <div class="col-sm-3">
                    <label class="text-grey">Country</label>
                    <p class="card-text font-14 bold" ng-bind="common.currentOrganizationUserDetails.Country"></p>
                </div>
                <div class="col-sm-3">
                    <label class="text-grey">State</label>
                    <p class="card-text font-14 bold" ng-bind="common.currentOrganizationUserDetails.State"></p>
                </div>
                <div class="col-sm-3">
                    <label class="text-grey">City</label>
                    <p class="card-text font-14 bold" ng-bind="common.currentOrganizationUserDetails.City"></p>
                </div>
                <div class="col-sm-2">
                    <label class="text-grey">Zip</label>
                    <p class="card-text font-14 bold" ng-bind="common.currentOrganizationUserDetails.Zip"></p>
                </div>
            </fieldset>
            <fieldset class="form-group-lg m-b-xs">
                <div class="col-sm-1 text-danger">
                    <i class="fa fa-user fa-2x"></i>
                </div>
                <div class="col-sm-3">
                    <label class="text-grey">Created By</label>
                    <p class="card-text font-14 bold" ng-bind="common.currentOrganizationUserDetails.AuditTrailInfo.CreatedByName"></p>
                </div>
                <div class="col-sm-3">
                    <label class="text-grey">Created Date</label>
                    <p class="card-text font-14 bold" ng-bind="common.currentOrganizationUserDetails.AuditTrailInfo.CreatedOn | date:'dd-MMM-yyyy'"></p>
                </div>
                <div class="col-sm-3">
                    <label class="text-grey">Reporting To</label>
                    <p class="card-text font-14 bold" ng-bind="common.currentOrganizationUserDetails.ReportingToName"></p>
                </div>
            </fieldset>
        </div>
    </div>
</div>
