﻿<div class="title-section row" ng-init="checkUserAccess();getUserRoles();">

</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header no-bg p-a-xs clearfix">
                <div ng-if="userDetails.RoleName == 'Application Administrator'" class="col-sm-2 pull-right">
                    <a class="btn btn-danger small btn-sm pull-right" role="button" href="#/createUserRole">
                        <i class="fa fa-plus m-r-xs" aria-hidden="true"></i>Add User Role
                    </a>
                </div>
            </div>
            <div class="card-block p-a-xs p-a-xs">
                <div class="table-responsive">
                    <table ng-table="userRolesTable" class="table table-bordered table-sm table-hover text-nowrap small m-a-0">
                        <thead class="bg-primary-light">
                            <tr>
                                <th rowspan="2">Role</th>
                                <th class="text-xs-center" colspan="{{userRoleList[0].AreaMapping.length}}">Responsibilities</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th ng-repeat="area in userRoleList[0].AreaMapping" class="bg-primary-lighter">{{area.Name}}</th>
                                <th rowspan="2" class="text-xs-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="userRole in userRoleList">
                                <td data-title="'Role'" ng-bind="userRole.Role"></td>
                                <td ng-repeat="area in userRole.AreaMapping">

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="area.Create" ng-disabled="!editMode" ng-click="checkReadPermission($event, userRole, area)" />
                                            Create
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="area.Update" ng-disabled="!editMode" ng-click="checkReadPermission($event, userRole, area)" />
                                            Update
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="area.Read" ng-disabled="!editMode" ng-click="clearAll($event, userRole, area)" />
                                            Read
                                        </label>
                                    </div>

                                    <div ng-hide="true" class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="area.Delete" ng-disabled="!editMode" ng-click="checkReadPermission($event, userRole, area)" />
                                            Delete
                                        </label>
                                    </div>
                                </td>
                                <td class="text-xs-center">
                                    <a tooltip-placement="top" uib-tooltip="Edit" ng-click="editMode = true;" ng-hide="editMode || userRole.Role == 'Application Administrator'"><i class="fa fa-edit fa-lg"></i></a>
                                    <a tooltip-placement="top" uib-tooltip="Save" ng-click="updateUserRole(userRole);" ng-show="editMode"><i class="fa fa-save fa-lg"></i></a>
                                    <a tooltip-placement="top" uib-tooltip="Cancel" ng-click="editMode = false; cancelUserRoleUpdate();" ng-show="editMode"><i class="fa fa-close fa-lg"></i></a>
                                    <a tooltip-placement="top" uib-tooltip="Delete" ng-click="deleteUserRole(userRole.Id);" ng-hide="true"><i class="fa fa-trash fa-lg"></i></a>
                                    <!--<a tooltip-placement="top" uib-tooltip="Delete" ng-click="deleteUserRole(userRole.Id);" ng-hide="editMode || userRole.Description == 'Application Administrator'"><i class="fa fa-trash fa-lg"></i></a>-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>