﻿<div ng-init="checkUserAccess();getCandidateList()">
    <div class="row">
        <div class="card m-b-0">
            <div class="card-header p-t-xs p-r-xs p-l-xs p-b-2x">
                <div class="row p-b-2x">
                    <div class="col-xs-10 col-sm-11 col-md-8 col-lg-6">
                        <div class="input-group">
                            <input name="searchCandidates" class="form-control form-control-sm" type="text" placeholder="Search by: Candidate Id, Name, Email, Contact, Location, Status, Skills, Profile title" maxlength="100" ng-model="common.advanceSearchModel.SearchAny" ng-enter="getCandidateFilterResult()" style="padding:2px;" title="Search by: Candidate Id, Name, Email, Contact, Location, Status, Skills, Profile Title" />
                            <span class="input-group-btn">
                                <button type="button" class="btn bg-primary btn-secondary small btn-sm pull-right" ng-disabled="!common.advanceSearchModel.SearchAny" ng-click="getCandidateFilterResult()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-1 col-md-1 col-md-push-3 col-lg-3 col-lg-push-3">
                        <a class="btn btn-danger btn-sm pull-right small" role="button" ng-click="createCandidateView();" ng-if="userDetails.Candidate_Create == 'True'">
                            <i class="fa fa-plus"></i>
                            <span class="hidden-sm-down">Add</span>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-md-pull-1 col-lg-3 col-lg-pull-3">
                        <span class="pull-left">
                            <span class="dropdown">
                                <button type="button" class="btn btn-primary btn-sm small dropdown-toggle" data-toggle="dropdown" ng-disabled="common.candidateList.length == 0">
                                    <i class="fa fa-filter"></i><span class="hidden-xs-down m-l-xs">Filter</span>
                                </button>
                                <ul class="dropdown-menu filter-menu p-a-0" role="menu">
                                    <li ng-repeat="lookup in candidateFilterLookup" class="dropdown-item" ng-click="$event.stopPropagation()">
                                        <span ng-repeat="(key1, value1) in lookup">
                                            <a>{{key1}}</a>
                                            <ul class="level-2 slimScroll list-group scroll">
                                                <li ng-repeat="(key2, value2) in value1">
                                                    <span>
                                                        <label>
                                                            <input type="checkbox" id="{{$index}}" ng-model="value2.selected"
                                                                   ng-change="addFilterItemButton(key1, value2.Id, value2.Name, value2.selected)" />
                                                            {{value2.Name}}
                                                        </label>
                                                    </span>
                                                </li>
                                            </ul>
                                        </span>
                                    </li>
                                    <li class="list-group-item p-l-xs p-r-xs p-t-xs" style="height:45px">
                                        <button type="button" class="btn small btn-default btn-md width-100" ng-click="getCandidateSelectedFilterItem()" ng-disabled="filterItemCount == 0" ng-disabled="filterItemCount == 0" ng-class="{'btn-primary':filterItemCount != 0}">
                                            Apply
                                        </button>
                                    </li>
                                </ul>
                            </span>
                            <button class="btn btn-primary btn-sm small loading-demo" tooltip-placement="right" uib-tooltip="Reset" ng-click="resetCandidateAdvanceSearch();" ng-disabled="!flag.advanceSearchFlag">
                                <i class="fa fa-times" aria-hidden="true"></i><span class="hidden-xs-down m-l-xs">Clear</span>
                            </button>
                        </span>
                        <span class="pull-right hidden-md-up">
                            <button class="btn btn-primary-outline btn-sm small" tooltip-placement="top" uib-tooltip="Export to Excel" ng-click="exportToExcel(constants.sectionCandidates);" ng-disabled="!common.candidateList.length">
                                <i class="fa fa-download"></i>
                            </button>
                            <button class="btn btn-primary-outline btn-sm small" tooltip-placement="top" uib-tooltip="Print" ng-click="printDiv('candidateDiv','Candidates')" ng-disabled="!common.candidateList.length">
                                <i class="fa fa-print"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
                        <button ng-if="userDetails.Submission_Create == 'True'" type="button" class="btn btn-primary btn-sm small" ng-click="openCandidateSubmissionModal('Multiple');" ng-disabled="checkedCount== 0">
                            <i class="fa fa-share-square-o" aria-hidden="true"></i><span class="hidden-xs-down m-l-xs">Submit to Company</span>
                        </button>
                        <!--<span class="btn-group dropdown" uib-dropdown="" style="">
                            <button type="button" class="btn btn-sm small btn-info uib-dropdown-toggle dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-calendar-check-o" aria-hidden="true"></i><span class="hidden-xs-down m-l-xs">Schedule</span>
                                <span class="caret">
                                </span>
                            </button>
                            <div class="dropdown-menu m-b-2xs" uib-dropdown-menu="" role="menu">
                                <a class="dropdown-item" ng-click="openCommonScheduleModal('Call');">
                                    Call
                                </a>
                                <a class="dropdown-item" ng-click="openCommonScheduleModal('Interview');">
                                    Interview
                                </a>
                                <a class="dropdown-item" ng-click="openCommonScheduleModal('Meeting');">
                                    Meeting
                                </a>
                                <a class="dropdown-item" ng-click="openCommonScheduleModal('Task');">
                                    Task
                                </a>
                            </div>
                        </span>-->
                        <a type="button" target="_blank" class="btn btn-sm small btn-info" href="#/uploadResumes">
                            <i class="fa fa-files-o" aria-hidden="true"></i><span class="hidden-xs-down m-l-xs">Bulk Upload</span>
                        </a>
                        <button type="button" class="btn btn-sm small btn-info" ng-click="viewParsedResume()">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i><span class="hidden-xs-down m-l-xs">Parsed Resumes</span>
                        </button>
                        <a type="button" target="_blank" class="btn btn-sm small btn-info" href="#/resumeEmails">
                            <i class="fa fa-envelope" aria-hidden="true"></i><span class="hidden-xs-down m-l-xs">Resume Emails</span>
                        </a>
                        <button class="btn btn-primary btn-sm small loading-demo" tooltip-placement="top" uib-tooltip="Compose Mail" ng-click="sendMailToSelectedCandidate();" ng-disabled="!common.candidateList.length">
                            <i class="fa fa-envelope"></i>
                        </button>
                        <button class="btn btn-primary btn-sm small loading-demo" tooltip-placement="top" uib-tooltip="Detail View" ng-click="openCandidateDetailModal();" ng-disabled="!common.candidateList.length">
                            <i class="fa fa-eye fa-lg"></i>
                        </button>
                        <button class="btn btn-primary btn-sm small loading-demo" tooltip-placement="top" uib-tooltip="Edit" ng-click="candidateDirectEditView();" ng-disabled="!common.candidateList.length" ng-if="userDetails.Candidate_Update == 'True'">
                            <i class="fa fa-edit fa-lg"></i>
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-4 text-xs-right hidden-sm-down">
                        <button class="btn btn-primary-outline btn-sm small" tooltip-placement="top" uib-tooltip="Export to Excel" ng-click="exportToExcel(constants.sectionCandidates);" ng-disabled="!common.candidateList.length">
                            <i class="fa fa-download"></i>
                        </button>
                        <button class="btn btn-primary-outline btn-sm small" tooltip-placement="top" uib-tooltip="Print" ng-click="printDiv('candidateDiv','Candidates')" ng-disabled="!common.candidateList.length">
                            <i class="fa fa-print"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 m-t-xs" ng-if="filterItemCount != 0">
                        <div id="filterItem" class="bg-default p-a-xs clearfix">
                            <div class="col-sm-10">
                                <span class="font-weight-medium text-grey-dark m-r-xs pull-left">Filters</span>
                                <span ng-repeat="filterLable in filterItemLable track by $index" class="btn btn-danger-outline btn-sm small btn-round m-t-xd" ng-click="removeFilterItemButton(filterLable.Id)" ng-if="filterLable">{{filterLable.Name}}<i class="fa fa-times-circle"></i></span>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-danger-outline btn-sm small pull-right m-b-2xs" tooltip-placement="right" ng-click="resetCandidateAdvanceSearch();">
                                    <i class="fa fa-times-circle m-r-2xs" aria-hidden="true"></i>Clear All
                                </button>
                                <button type="button" class="btn btn-primary-outline btn-sm small pull-right m-r-xs m-b-2xs" ng-click="getCandidateSelectedFilterItem()" ng-disabled="filterItemCount == 0">
                                    Apply
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="isSafariBrowser">
                    <div class="col-sm-12 pull-md-right pull-lg-right">
                        <span class="validation text-danger pull-right">{{'menu.BROWSERISSUEMESSAGE'|translate}}</span>
                    </div>
                </div>
            </div>
            <div class="card-block clearfix p-l-xs p-r-xs p-t-0 p-b-0">
                <div id="candidateDiv" class="table-responsive scroll slimScroll fixed_headers fixed_headers-col-1-xs td-col-md">
                    <table ng-table="common.tblCandidateList" class="table table-striped table-hover table-bordered table-sm table-hover text-nowrap small m-a-0">
                        <tbody class="slimScroll">
                            <tr ng-repeat="candidate in common.candidateList" ng-class="{'bg-primary-lighter':candidate._id == common.selectedRowCandidate}" sglclick="setClickedRowCandidate(candidate);" ng-dblclick="setClickedRowCandidate(candidate);openCandidateDetailModal();">
                                <td header-class="'bg-primary'" header="'ng-table/headers/checkbox.html'" class="text-xs-center">
                                    <input type="checkbox" ng-model="checkboxes.items[candidate._id]" />
                                </td>
                                <td data-title="'Status'" data-sortable="'Status'" header-class="'bg-primary'" class="text-xs-center">
                                    <span class="label label-md label-danger" ng-if="candidate.Status== 'Active'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                    <span class="label label-md label-primary" ng-if="candidate.Status== 'DNC'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                    <span class="label label-md label-success" ng-if="candidate.Status== 'New'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                    <span class="label label-md label-info" ng-if="candidate.Status== 'Not Looking'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                    <span class="label label-md label-default" ng-if="candidate.Status== 'Passive'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                    <span class="label label-md label-info" ng-if="candidate.Status== 'Placed'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                    <span class="label label-md label-default" ng-if="candidate.Status== 'Unresponsive'" ng-bind="candidate.Status">{{candidate.Status}}</span>
                                    <span ng-if="candidate.Status=== null"></span>
                                </td>
                                <td data-title="'Candidate Id'" data-sortable="'CandidateId'" header-class="'bg-primary'" ng-bind="candidate.CandidateId"></td>
                                <td data-title="'Name'" filter="{ 'FullName': 'text'}" data-sortable="'FirstName'" header-class="'bg-primary'" ng-bind="candidate.FullName" ng-init="candidate.FullName= getCandidateFullName(candidate.Title, candidate.FirstName, candidate.MiddleName, candidate.LastName)" ng-attr-title="{{candidate.FullName}}"></td>
                                <td data-title="'Mobile'" data-sortable="'Mobile'" header-class="'bg-primary'" ng-bind="candidate.Mobile"></td>
                                <td data-title="'Home Phone'" data-sortable="'Phone'" header-class="'bg-primary'" ng-bind="candidate.Phone"></td>
                                <td data-title="'Work Phone'" data-sortable="'WorkPhone'" header-class="'bg-primary'" ng-bind="candidate.WorkPhone"></td>
                                <td data-title="'Company Name'" data-sortable="'CompanyName'" header-class="'bg-primary'" ng-bind="candidate.CompanyName" ng-attr-title="{{candidate.CompanyName}}"></td>
                                <td data-title="'Email'" data-sortable="'PrimaryEmail'" header-class="'bg-primary'" ng-bind="candidate.PrimaryEmail" ng-attr-title="{{candidate.PrimaryEmail}}"></td>
                                <td data-title="'Profile Title'" data-sortable="'ProfileTitle'" header-class="'bg-primary'" ng-bind="candidate.ProfileTitle" ng-attr-title="{{candidate.ProfileTitle}}"></td>
                                <td data-title="'Skill'" filter="{ 'sString': 'text'}" ng-bind="candidate.Skills" data-sortable="'Skills'" header-class="'bg-primary'" ng-attr-title="{{candidate.Skills}}"></td>

                                <td data-title="'Total Exp'" data-sortable="'ExperienceInYear'" header-class="'bg-primary'" class="text-xs-center">
                                    <span ng-bind="candidate.ExperienceInYear"></span>
                                    <span ng-if="candidate.ExperienceInMonth != null && candidate.ExperienceInMonth >= 0">.</span>
                                    <span ng-bind="candidate.ExperienceInMonth"></span>
                                </td>
                                <td data-title="'US Exp'" data-sortable="'USExperienceInYear'" header-class="'bg-primary'" class="text-xs-center">
                                    <span ng-bind="candidate.USExperienceInYear"></span>
                                    <span ng-if="candidate.USExperienceInMonth != null && candidate.USExperienceInMonth >= 0">.</span>
                                    <span ng-bind="candidate.USExperienceInMonth"></span>
                                </td>

                                <td data-title="'SSN'" data-sortable="'SSN'" header-class="'bg-primary'" ng-bind="candidate.SSN"></td>
                                <td data-title="'Categories'" data-sortable="'Categories'" header-class="'bg-primary'" ng-bind="candidate.Categories"></td>
                                <td data-title="'Groups'" data-sortable="'Groups'" header-class="'bg-primary'" ng-bind="candidate.Groups"></td>
                                <td data-title="'Created By'" data-sortable="'CreatedByName'" header-class="'bg-primary'" ng-bind="candidate.CreatedByName" ng-attr-title="{{candidate.CreatedByName + ' on ' + (candidate.CreatedOn | date: MM/dd/yyyy)}}"></td>
                                <td data-title="'Modified By'" data-sortable="'ModifiedOn'" header-class="'bg-primary'" ng-bind="candidate.ModifiedByName" ng-attr-title="{{candidate.ModifiedByName + ' on ' + (candidate.ModifiedOn | date: MM/dd/yyyy)}}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-sm-12 p-a-3" ng-if="common.candidateList.length == 0">
                        <p class="text-shadow lead text-xs-center">
                            <img src="images/search.png" /><br />
                            No candidates found!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card scroll overflow-auto tab-content-scroll m-b-0">
            <div class="card-block p-a-xs">
                <uib-tabset class="m-b-0" active="active">
                    <uib-tab index="0">
                        <uib-tab-heading>
                            <span>Activities</span>
                        </uib-tab-heading>
                        <div class="activity-feed clearfix p-a-0">
                            <div class="feed-item p-a-xs col-sm-12" ng-repeat="activityItem in activityListCandidate" ng-hide="common.candidateList.length == 0">
                                <div class="text-muted font-weight-medium">
                                    <div ng-if="activityItem.ActivityType!='Email'" class="col-sm-12  p-a-0">
                                        <span class="text-grey col-sm-2">{{activityItem.CreatedOn | date:'MM/dd/yyyy h:mma'}}</span>
                                        <span class="col-sm-2">{{activityItem.Activity[0].PropertyName}}</span>
                                        <span class="col-sm-3">
                                            <span tooltip-placement="top" uib-tooltip="Updated value">
                                                {{activityItem.Activity[0].NewValue}}
                                            </span>
                                        </span>
                                        <span class="col-sm-2" tooltip-placement="top" uib-tooltip="Old Value">
                                            <span class="tag bg-grey-dark" ng-if="activityItem.Activity[0].OldValue">
                                                {{activityItem.Activity[0].OldValue}}
                                            </span>
                                        </span>
                                        <span class="col-sm-2">
                                            <i class="fa fa-user m-r-xs"></i>
                                            {{activityItem.CreatedByName }}
                                        </span>
                                        <span class="col-sm-1">
                                            <a class="btn-sm small" ng-if="activityItem.ActivityType!='Email'" data-toggle="collapse" data-target="#{{'more'+$index}}" aria-expanded="false" aria-controls="more">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div ng-if="activityItem.ActivityType=='Email'" class="col-sm-12 p-a-0">
                                        <span class="text-grey col-sm-2 bold">{{activityItem.CreatedOn | date:'MM/dd/yyyy h:mma'}}</span>
                                        <span class="text-danger col-sm-2 bold" ng-click="showActivityEmail(activityItem)">
                                            <a class="btn-link">{{activityItem.ActivityType}}</a>
                                        </span>
                                        <span class="text-danger col-sm-5">{{activityItem.Description}}</span>
                                        <span class="text-grey col-sm-2"><i class="fa fa-user m-r-xs"></i>{{activityItem.CreatedByName }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 p-a-0 p-t-xs collapse" id="{{'more'+$index}}">
                                    <div ng-repeat="activity in activityItem.Activity" class="col-sm-12  p-a-0">
                                        <div class="col-sm-2"></div>
                                        <span class="col-sm-2">{{activity.PropertyName}}</span>
                                        <span class="col-sm-3">
                                            <span class="font-weight-medium" tooltip-placement="top" uib-tooltip="Updated value">
                                                {{activity.NewValue}}
                                            </span>
                                        </span>
                                        <span class="col-sm-3" tooltip-placement="top" uib-tooltip="Old Value">
                                            <span>
                                                {{activity.OldValue}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1">
                        <uib-tab-heading>
                            <span>QNotes</span>
                        </uib-tab-heading>
                        <div class="row m-b-xs" ng-hide="common.candidateList.length == 0">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-sm" title="Save" ng-click="submitQNoteCandidate()" ng-disabled="!qNoteModelCandidate.qNote || qNoteModelCandidate.qNote.length> 200">
                                            <i class="fa fa-floppy-o"></i>
                                        </button>
                                    </span>
                                    <input type="text" class="form-control form-control-sm" placeholder="Please enter the notes and save" ng-model="qNoteModelCandidate.qNote" name="qNote" validation="max_len:200" />
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-repeat="qNote in qNoteListCandidate">
                            <div class="col-sm-12">
                                <div class="card m-b-xs shadow">
                                    <div class="card-header p-a-xs clearfix">
                                        <div class="user-image">
                                            <img ng-if="qNote.ProfileImageName" ng-src="{{ configuration.XSEED_ORGUSER_IMAGE_PATH + qNote.ProfileImageName }}" lazy-src class="avatar-2wh pull-left m-r-xs img-circle" title="user" />
                                            <img ng-if="!qNote.ProfileImageName" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src class="avatar-2wh img-circle pull-left m-r-xs" title="user" />
                                        </div>
                                        <!--<i class="fa fa-user fa-2x pull-left text-grey"></i>-->
                                        <div>{{qNote.CreatedBy}}</div>
                                        <div class="text-grey small">{{qNote.CreatedOn| date:'MM/dd/yyyy h:mma' }}</div>
                                    </div>
                                    <div class="card-block clearfix break-word">
                                        <div class="col-sm-12">
                                            <p class="card-text">{{qNote.Description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
</script>

<script id="uib/template/tabs/tab.html" type="text/ng-template">
    <li class="nav-item">
        <a href class="nav-link" ng-click="select()" uib-tab-heading-transclude ng-class="{active: active
, disabled: disabled}">{{heading}}</a>
    </li>
</script>
