﻿<div ng-switch="subview">
    <div ng-switch-when="candidateList">
        <div ng-include=" 'views/candidate/candidateList.html' "></div>
    </div>
    <div ng-switch-when="createCandidate">
        <div ng-include=" 'views/candidate/createCandidate.html' "></div>
    </div>
    <div ng-switch-when="editCandidate">
        <div ng-include=" 'views/candidate/createCandidate.html' "></div>
    </div>
    <div ng-switch-when="candidateDetail">
        <div ng-include=" 'views/candidate/candidateDetail.html' "></div>
    </div>
    <div ng-switch-when="resumeParser">
        <div ng-include=" 'views/candidate/resumeParser.html' "></div>
    </div>
    <div ng-switch-when="submissionToClient">
        <div ng-include=" 'views/candidate/submissionToClient.html' "></div>
    </div>
    <div ng-switch-when="parsedResumes">
        <div ng-include=" 'views/candidate/parsedResumes.html' "></div>
    </div>
    <div ng-switch-when="resumeEmails">
        <div ng-include=" 'views/candidate/resumeEmailList.html' "></div>
    </div>
</div>