﻿<div class="row" ng-init="getParsedResumeList();">
    <div class="card">
        <div class="card-header p-a-xs no-bg clearfix">
            <div class="row">
                <div class="col-sm-8">
                    <span class="h5">Please verify and approve candidates profile uploaded in bulk</span>
                </div>
                <div class="col-sm-2 pull-right">
                    <a class="btn pull-right btn-danger btn-sm small" role="button" ng-click="goToCandidateList()">
                        <i class=" fa fa-list m-r-xs"></i>List
                    </a>
                </div>
            </div>
        </div>
        <div class="card-block p-t-0 p-b-xs p-l-xs p-r-xs clearfix">
            <div class="table-responsive scroll slimScroll">
                <table ng-table="common.tblParsedResumeList" class="table table-striped table-hover table-bordered table-sm table-hover text-nowrap small m-a-0">
                    <tbody class="slimScroll">
                        <tr ng-repeat="parsedResume in common.parsedResumeList" ng-if="!parsedResume.IsValidResume">
                            <td scope="row" data-title="'Name'" data-sortable="'FirstName'" header-class="'bg-primary'" ng-bind="parsedResume.FullName" ng-init="parsedResume.FullName= getCandidateFullName(parsedResume.Title, parsedResume.FirstName, parsedResume.MiddleName, parsedResume.LastName)" ng-attr-title="{{parsedResume.FullName}}"></td>
                            <td scope="row" data-title="'Email'" data-sortable="'EmailAddress'" header-class="'bg-primary'" ng-bind="parsedResume.EmailAddress" ng-attr-title="{{parsedResume.EmailAddress}}"></td>
                            <td scope="row" data-title="'Contact'" data-sortable="'Mobile'" header-class="'bg-primary'" ng-bind="parsedResume.Mobile" ng-attr-title="{{parsedResume.Mobile}}"></td>
                            <td scope="row" data-title="'Created On'" data-sortable="'CreatedOn'" header-class="'bg-primary'" ng-bind="parsedResume.CreatedOn | date:'medium'" ng-attr-title="{{parsedResume.CreatedOn}}"></td>
                            <td data-title="'Action'" header-class="'bg-primary'" class="text-xs-center">
                                <a tooltip-placement="top" uib-tooltip="Review" ng-click="redirectToCandidateCreateView(parsedResume);">
                                    <i class="fa fa-eye fa-lg text-primary m-r-xs"></i>
                                </a>
                                <a class="p-l-1" tooltip-placement="top" uib-tooltip="Discard" ng-click="rejectParsedResumeWithConfirmation(parsedResume._id);">
                                    <i class="fa fa-close text-danger" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="!common.parsedResumeList.length" class="no-contacts layout-column scroll-y">
                <h3 class="text-shadow text-muted">
                    Seems to be no candidate(s) uploaded yet.
                </h3>
            </div>
        </div>
    </div>
</div>