﻿<div class="app no-padding full-width no-footer" ng-init="checkUserAccess();getResumeEmailList();getUnreadMailCount();">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
                    <label class="label label-default m-a-0 p-b-xs font-14" uib-tooltip="Unread" ng-if="unreadMailCount!=0">
                        <span>New </span><span class="tag bg-red">{{unreadMailCount}}</span>
                    </label>
                    <button class="btn btn-sm small btn-primary" ng-click="getResumeEmailList();getUnreadMailCount();"><i class="fa fa-refresh m-r-xs"></i>Refresh</button>
                </div>
            </div>
        </div>
        <div class="card-block p-a-0">
            <div class="content-view">
                <div class="layout contacts-container">
                    <div class="layout-row">
                        <div class="layout-column contacts-list b-r">
                            <div class="flex scroll-y">
                                <div class="table-responsive pagination-small pagination-fixed-bottom">
                                    <table class="table m-b-0 table-sm" ng-table="tblResumeEmailList">
                                        <thead>
                                            <tr>
                                                <th class="p-a-0">

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="resumeEmail in resumeEmailList" ng-class="{'bg-default text-muted font-weight-normal':resumeEmail.IsRead}" ng-click="showResumeEmailDetails(resumeEmail.Id);">
                                                <td class="column-equal p-a-0">
                                                    <div class="col v-align-middle contact-details">
                                                        <a class="p-a-xs width-100">
                                                            <small class="time" ng-bind="resumeEmail.Date | date:'medium'"></small>
                                                            <div ng-bind="resumeEmail.Name"></div>
                                                            <div class="small" ng-bind="resumeEmail.SourceEmail"></div>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-if="resumeEmailList.length == 0" class="no-contacts layout-column scroll-y">
                                    <h3 class="text-shadow text-muted">
                                        No email received.
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="layout-column contact-view" style="top:0px;" ng-show="showEmailDetail">
                            <div class="contact-header bg-default hidden-lg-up">
                                <div class="contact-toolbar">
                                    <a ng-click="showHideEmail()">
                                        <i class="material-icons visible-xs m-r-1">arrow_back</i>
                                    </a>
                                </div>
                            </div>
                            <div class="flex scroll p-t-xs p-l-2 p-r-2">
                                <div class="column-equal m-b-2">
                                    <div class="row m-b-1">
                                        <div class="col-sm-12">
                                            <span class="h4" ng-bind="selectedResumeEmail.Name"></span>
                                            <span class="pull-right"><i class="fa fa-clock-o m-r-xs text-grey" aria-hidden="true"></i><span ng-bind="selectedResumeEmail.Date | date:'medium'"></span></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8 p-b-xs">
                                            <span class="font-weight-medium">
                                                From:
                                            </span>
                                            <span ng-bind="selectedResumeEmail.SourceEmail"></span>
                                        </div>
                                        <div class="col-sm-12">
                                            <span class="font-weight-medium">
                                                Subject:
                                            </span>
                                            <span ng-bind="selectedResumeEmail.Subject"></span>
                                            <button type="button" class="btn btn-sm btn-round btn-primary pull-right" ng-disabled="selectedResumeEmail.EmailAttachment.length == 0"
                                                    ng-click="getResumeEmailParsingResult(selectedResumeEmail)" ng-if="userDetails.Candidate_Create == 'True'">
                                                Add Candidate
                                            </button>
                                        </div>
                                        <div class="col-sm-12" ng-if="selectedResumeEmail.EmailAttachment.length > 0">
                                            <span class="font-weight-medium">
                                                Attachments:
                                            </span>
                                            <a class="btn btn-default btn-sm small btn-round m-b-xs m-r-xs" uib-tooltip="Download" ng-repeat="attachment in selectedResumeEmail.EmailAttachment" target="_self" ng-href="{{'data:;base64,' + attachment.Data}}" type="application/json" download="{{attachment.Name}}" ng-if="attachment.Name"> {{attachment.Name}}</a>
                                            <a class="btn btn-default btn-sm small btn-round m-b-xs m-r-xs" uib-tooltip="Download" ng-repeat="attachment in selectedResumeEmail.EmailAttachment" target="_self" ng-href="{{'data:;base64,' + attachment.Data}}" type="application/json" download="{{attachment.Name}}" ng-if="!attachment.Name">{{'noName'+ $index}}</a>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-12 font-15">
                                            <p ng-bind-html="trustHtml(selectedResumeEmail.Html);"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

