﻿<div class="card">
    <div class="card-block bg-white clearfix">
        <div class="card">
            <div class="card-block p-a-xs clearfix">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-2 pull-right m-b-xs">
                        <span class="pull-right">
                            <a class="btn btn-danger btn-sm small" role="button" ng-click="goToCandidateList()">
                                <i class=" fa fa-list m-r-xs"></i>List
                            </a>
                        </span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-8">
                        <label class="h6 col-sm-12 col-md-12 col-lg-2 p-t-xs">Resumes<span class="bold text-red">*</span></label>
                        <div class="col-sm-8 m-b-xs">
                            <label class="file width-100">
                                <input type="file" accept=".pdf,.doc,.docx,.txt" ng-bulk-upload="common.bulkUploadResume" multiple />
                                <span class="file-custom" title="You can select multiple files">
                                </span>
                            </label>
                            <br />
                            <span>
                                <i class="fa fa-info-circle text-muted">
                                    <span class="text-muted">
                                        Please select files from pdf,doc,docx or txt. Max upload size is 10 MB.
                                    </span>
                                </i>
                            </span>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-2 m-b-xs">
                            <div ng-show="common.bulkUploadResume.length < 1">
                                <div class="loader-inner line-scale">
                                    <div>
                                    </div>
                                    <div>
                                    </div>
                                    <div>
                                    </div>
                                    <div>
                                    </div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-a-xs animated fadeIn">
            <div class="col-sm-12 p-a-0">
                <div class="col-sm-12 p-a-xs">
                    <span class="font-14 font-weight-medium" ng-show="common.bulkUploadResume.totalFileSize">
                        Total Size: {{ common.bulkUploadResume.totalFileSize/1024/1024|number:3 }} MB
                    </span>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-sm table-bordered" ng-show="common.bulkUploadResume">
                        <thead class="bg-primary-light">
                            <tr>
                                <th class="text-xs-center">File Name</th>
                                <th class="text-xs-center">Size</th>
                                <th class="text-xs-center">Status</th>
                                <th class="text-xs-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in common.bulkUploadResume track by $index" ng-if="item != null">
                                <td>
                                    <span>{{ item.name }}</span>
                                    <div class="text-danger" ng-show="item.invalidResumeFile">Error: Invalid file type!</div>
                                </td>
                                <td class="text-xs-center">{{ item.size/1024/1024|number:3 }} MB</td>
                                <td class="text-xs-center">
                                    <span>
                                        <span ng-show="item.invalidResumeFile" title="Invalid File">
                                            <i class="material-icons ng-binding text-warning" aria-hidden="true">
                                                warning
                                            </i>
                                        </span>
                                        <span ng-show="common.bulkUploadResume.progress != 100 && !item.invalidResumeFile" title="In Queue">
                                            <i class="material-icons text-info">
                                                access_time
                                            </i>
                                        </span>
                                        <span ng-show="common.bulkUploadResume.progress == 100 && !item.invalidResumeFile" title="Success">
                                            <i class="material-icons text-success">
                                                check_circle
                                            </i>
                                        </span>
                                    </span>
                                </td>
                                <td class="text-xs-center">
                                    <span ng-click="removeSelectedResume($index)" title="Remove">
                                        <i class="fa fa-times-circle fa-2x text-danger"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 alert alert-success p-a-xs m-b-xs" ng-show="common.bulkUploadResume.progress == 100">
                    <i class="fa fa-info-circle m-r-xs"></i>File(s) uploaded successfully. You can upload new file(s).
                </div>
                <div class="col-sm-12 alert alert-danger p-a-xs m-b-xs" ng-show="common.maxUploadSize">
                    Error: Max upload size exceeded. Please remove some files!!!
                </div>
                <div class="col-sm-12 alert alert-danger p-a-xs m-b-xs" ng-show="common.invalidBulkUploadResume">
                    Error: The selected files cannot be uploaded. Only files with the extensions pdf,doc,docx or txt are allowed.
                </div>
                <div class="row" ng-if="common.bulkUploadResume">
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <button type="button" class="btn btn-success btn-sm small" ng-click="uploadAllResumes()" ng-disabled="!common.bulkUploadResume.length || common.bulkUploadResume.progress == 100 || !common.bulkUploadResume.totalFileSize">
                            <i class="fa fa-upload m-r-xs"></i>Upload All
                        </button>
                        <!--<button type="button" class="btn btn-warning btn-sm btn-icon" ng-show="common.bulkUploadResume.progress == 100" ng-click=" clearAllResumes()">
                            <i class="material-icons">
                                cancel
                            </i>
                            <span>
                                Clear
                            </span>
                        </button>-->
                        <button type="button" class="btn btn-danger btn-sm small" ng-click="clearAllResumes()">
                            <i class="fa fa-remove m-r-xs"></i>Clear All
                        </button>
                    </div>
                    <!--<div class="col-sm-12 col-md-12 col-lg-9">
                        <span class="m-b-xs">
                            Queue progress:
                        </span>
                        <progress class="progress" value="{{ common.bulkUploadResume.progress }}" max="100">
                            {{ common.bulkUploadResume.progress + '%' }}
                        </progress>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>