﻿<div class="title-section row" ng-init="checkUserAccess()">
    <div class="col-sm-8">
        <h4>Profile</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4 text-lg-right" ng-if="!appliedCandidateList">
        <a class="btn btn-danger btn-icon" role="button" href="#/candidateList">
            <i class="material-icons ng-binding" aria-hidden="true">view_list</i>
            <span>Candidate List</span>
        </a>
    </div>
    <div class="col-sm-4 text-lg-right" ng-if="appliedCandidateList">
        <a class="btn btn-danger btn-icon" role="button" href="#/appliedCandidates">
            <i class="material-icons ng-binding" aria-hidden="true">view_list</i>
            <span>Applied Candidates</span>
        </a>
    </div>
</div>

<div class="row" ng-init="getCandidateDetail()">
    <div class="col-sm-4">
        <div class="card shadow">
            <div class="card-header bg-primary-lighter">
                <div class="row">
                    <div class="col-xl-4">
                        <img ng-if="candidateModel.ProfileImageFile.data" class="avatar avatar-7wh img-circle" ng-src="{{candidateModel.ProfileImageFile.data}}" alt="Generic placeholder image" />
                        <img ng-if="!candidateModel.ProfileImageFile.data" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src class="avatar avatar-7wh img-circle" title="user" />
                    </div>
                    <div class="col-xl-8">
                        <!--<h4 class="card-title">{{candidateModel.Title + " " + candidateModel.FirstName + " " + candidateModel.MiddleName + " " + candidateModel.LastName }}</h4>-->
                        <h4 class="m-t-2">{{candidateModel.FirstName}} {{candidateModel.MiddleName}} {{candidateModel.LastName}}</h4>
                        <p class="font-16 bold" ng-bind="candidateModel.Designation"></p>
                        <!--{{candidateModel.Gender}}-->
                        <!--<h6 class="card-subtitle text-default">
                            <i class="fa fa-map-marker"></i>
                            <span>Medford</span>,
                            <span>Massachusetts</span>,
                            <span>United States</span>
                        </h6>-->
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="form-group break-word">
                    <label class="text-muted">Primary Email</label>
                    <p class="card-text font-15 bold"><i class="fa fa-envelope"></i> <span ng-bind="candidateModel.PrimaryEmail"></span></p>
                </div>
                <div class="form-group">
                    <label class="text-muted">Mobile</label>
                    <p class="card-text font-15 bold"><i class="fa fa-mobile"></i> <span ng-bind="candidateModel.Mobile"></span></p>
                </div>
                <div class="form-group">
                    <label class="text-muted">Birth Date</label>
                    <p class="card-text font-15 bold"><i class="fa fa-birthday-cake"></i> {{candidateModel.BirthDate| date:'MM-dd-yyyy'}}</p>
                </div>
                <div class="form-group">
                    <label class="text-muted">Technical Skills</label>
                    <p class="card-text font-15 bold" ng-bind="candidateModel.Skills"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        <div class="no-bg b-b p-l-1 p-r-1">
            <div class="row">
                <div class="col-sm-9">
                    <h5 class="bold">More Details</h5>
                </div>
                <div ng-if="userDetails.Candidate_Update == 'True'" class="col-sm-3">
                    <h6 class="text-xs-right">
                        <a class="bold font-15" role="button" ng-click="candidateEditView(candidateModel.UserId)"><i class="fa fa-pencil-square-o"></i> Edit Details</a>
                    </h6>
                </div>
            </div>
        </div>

        <div class="card-block">
            <h6 class="card-title text-primary"><i class="material-icons ng-binding" aria-hidden="true">person</i> Personal Details</h6>
            <div class="row p-b-1">
                <div class="col-sm-4">
                    <label class="text-muted">Gender</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.Gender"></span></p>
                    <!--{{candidateModel.Gender}}-->
                </div>
                <div class="col-sm-4">
                    <label class="text-muted">Marital Status</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.MaritalStatus"></span></p>
                    <!--{{candidateModel.MaritalStatus}}-->
                </div>
                <div class="col-sm-4">
                    <label class="text-muted">Interests</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.Interests"></span></p>
                    <!--{{candidateModel.Gender}}-->
                </div>
            </div>
            <div class="row p-b-1">
                <div class="col-sm-4 break-word">
                    <label class="text-muted">Secondary Email</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.SecondaryEmail"></span></p>
                </div>
                <div class="col-sm-4">
                    <label class="text-muted">Phone</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.Phone"></span></p>
                </div>
                <div class="col-sm-4">
                    <label class="text-muted">Fax</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.Fax"></span></p>
                </div>
            </div>
            <div class="row p-b-1">
                <div class="col-sm-4">
                    <label class="text-muted">Address 1</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.Address1"></span></p>
                </div>
                <div class="col-sm-4">
                    <label class="text-muted">Address 2</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.Address2"></span></p>
                </div>
                <div class="col-sm-4">
                    <label class="text-muted">Address 3</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.Address3"></span></p>
                </div>
            </div>
            <div class="row p-b-1">
                <div class="col-sm-4">
                    <label class="text-muted">City</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.City"></span></p>
                </div>
                <div class="col-sm-4">
                    <label class="text-muted">State</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.State"></span></p>
                </div>
                <div class="col-sm-4">
                    <label class="text-muted">Country</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.Country"></span></p>
                </div>
                <div class="col-sm-4 p-t-1">
                    <label class="text-muted">Zip</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.Zip"></span></p>
                </div>
            </div>
        </div>
        <hr />
        <div class="card-block">
            <h6 class="card-title text-primary"><i class="material-icons" aria-hidden="true">school</i> Educational Details</h6>
            <div class="row p-b-1">
                <div class="col-sm-4">
                    <label class="text-muted">Degree</label>
                    <p class="card-text font-15 bold">
                        <span ng-bind="candidateModel.DegreeList"></span>
                        <!--<span ng-repeat-end ng-if="candidateModel.DegreeList.length-1== $index">{{degree}}</span>-->
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <div class="card-block">
            <h6 class="card-title text-primary"><i class="material-icons ng-binding" aria-hidden="true">work</i> Experience Details</h6>
            <!--<div class="row p-b-1">
                <div class="col-sm-3">
                    <label class="text-muted">Is Experienced</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.IsExperienced"></span></p>
                </div>
            </div>-->
            <div class="row p-b-1">
                <div class="col-sm-3">
                    <label class="text-muted">Profile Title</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.ProfileTitle"></span></p>
                </div>
            </div>
            <div class="row p-b-1">
                <div class="col-sm-12">
                    <label class="text-muted">Profile Summary</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.ProfileSummary"></span></p>
                </div>
            </div>
            <div class="row p-b-1">
                <div class="col-sm-4">
                    <label class="text-muted">Total Experience</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.TotalExperience"></span></p>
                </div>
                <div class="col-sm-4">
                    <label class="text-muted">Relevant Experience</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.RelevantExperience"></span></p>
                </div>
                <div class="col-sm-4">
                    <label class="text-muted">Current Salary</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.CurrentSalary"></span></p>
                </div>
            </div>

            <div class="row p-b-1">
                <div class="col-sm-4">
                    <label class="text-muted">Expected Salary</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.ExpectedSalary"></span></p>
                </div>
                <div class="col-sm-4">
                    <label class="text-muted">Current Location</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.CurrentLocation"></span></p>
                </div>
                <div class="col-sm-4">
                    <label class="text-muted">Preferred Location</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.PreferredLocation"></span></p>
                </div>
            </div>
        </div>
        <hr />
        <div class="card-block">
            <h6 class="card-title text-primary">Other Details</h6>
            <div class="row p-b-1">
                <div class="col-sm-4">
                    <label class="text-muted">Send Job Alert</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.SendJobAlert"></span></p>
                </div>
                <div class="col-sm-4">
                    <label class="text-muted">Have Passport</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.HavePassport"></span></p>
                </div>
                <div class="col-sm-4">
                    <label class="text-muted">Can Relocate</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.CanReLocate"></span></p>
                </div>
            </div>
            <div class="row p-b-1">
                <div class="col-sm-4">
                    <label class="text-muted">Passport valid upto</label>
                    <p class="card-text font-14 bold">{{candidateModel.PassportValidUpto| date:'MM-dd-yyyy'}}</p>
                </div>
                <div class="col-sm-4">
                    <label class="text-muted">VISA Type</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.VisaType"></span></p>
                </div>
                <div class="col-sm-4">
                    <label class="text-muted">VISA valid upto</label>
                    <p class="card-text font-14 bold">{{candidateModel.VisaValidUpto| date:'MM-dd-yyyy'}}</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="card-block">
            <h6 class="card-title text-primary">Social Details</h6>
            <div class="row p-b-1">
                <div class="col-sm-4">
                    <label class="text-muted">LinkedIn</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.LinkedInURL"></span></p>
                </div>
                <div class="col-sm-4">
                    <label class="text-muted">Twitter</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.TwitterURL"></span></p>
                </div>
                <div class="col-sm-4">
                    <label class="text-muted">Facebook</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.FacebookURL"></span></p>
                </div>
            </div>
            <div class="row p-b-1">
                <div class="col-sm-4">
                    <label class="text-muted">Google+</label>
                    <p class="card-text font-14 bold"><span ng-bind="candidateModel.GooglePlusURL"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

