﻿
<div class="main-content" >
    <div class="content-view" ng-init="checkUserAccess();getCandidateList()">

        <!-- <input id="input-21d" value="2" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="sm" title=""> -->

        <div class="row">
            <div class="col-md-2">
                <select data-placeholder="Search by status" multiple="multiple" class="select2  full-width-100" style="width: 100%">
                    <option ng-repeat="key1 in candidateFilterLookup[0].Status">{{key1.Name}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <select data-placeholder="Search by status" multiple="multiple" class="select2  full-width-100" style="width: 100%">
                    <option ng-repeat="key1 in candidateFilterLookup[1]['Created By']">{{key1.Name}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <a href="javascript:" class="btn
                                btn-primary btn-sm btn-icon
                                loading-demo m-b-xs font-12">
                    <i class="material-icons">
                        search
                    </i><span>Search</span>
                </a>

            </div>

            <div class="col-md-6">
                <a target="_blank" ng-click="createCandidateView();" ng-if="userDetails.Candidate_Create == 'True'" class="btn
                                        btn-outline-primary btn-sm btn-icon
                                        loading-demo m-b-xs font-12 pull-right">
                    <i class="material-icons">
                        add_circle_outline
                    </i><span>Add candidate</span>
                </a>
                <a href="#/resumeEmails" class="btn
                                        btn-outline-primary btn-sm btn-icon
                                        loading-demo m-r-xs m-b-xs font-12
                                        pull-right"><i class="material-icons">send</i>Resume Emails</a>
                <a target="_blank" href="#/uploadResumes" class="btn
                                        btn-outline-primary btn-sm btn-icon
                                        loading-demo m-r-xs m-b-xs font-12
                                        pull-right"><i class="material-icons"> file_upload</i>Bulk upload</a>
                <a target="_blank" ng-click="viewParsedResume()" class="btn
                                        btn-outline-primary btn-sm btn-icon
                                        loading-demo m-r-xs m-b-xs font-12
                                        pull-right"><i class="material-icons"> insert_drive_file</i>Parsed resumes</a>
                <button ng-if="userDetails.Submission_Create == 'True'" type="button" disabled target="_blank" ng-click="openCandidateSubmissionModal('Multiple');" ng-disabled="checkedCount== 0" class="btn
                                        btn-primary btn-sm  btn-icon
                                        loading-demo m-r-xs m-b-xs font-12
                                        pull-right">
                    <i class="material-icons"> check</i>  Submit to company
                </button>
                <button class="btn btn-outline-primary btn-sm btn-icon loading-demo m-r-xs m-b-xs font-12 pull-right" 
                        tooltip-placement="top" uib-tooltip="Export to Excel" 
                        ng-click="exportToExcel(constants.sectionCandidates);" ng-disabled="!common.candidateList.length">
                    <i class="material-icons">file_download</i>Export
                </button>

                <button class="btn btn-outline-primary btn-sm btn-icon loading-demo m-r-xs m-b-xs font-12 pull-right"
                        tooltip-placement="top" uib-tooltip="Print" ng-click="printDiv('candidateDiv','Candidates')" 
                        ng-disabled="!common.candidateList.length">
                    <i class="material-icons">local_printshop</i>Print
                </button>
</div>
        </div>

        <div class="card-block-outer">

            <div class="no-more-tables" id="candidateDiv">
                <table ng-table="common.tblCandidateList" class="table table-responsive datatable">                    
                        <thead>
                            <tr class="card">
                                <th></th>
                                <th header-class="'bg-primary'" header="'ng-table/headers/checkbox.html'" class="text-xs-center">
                                    <input checked class="to-labelauty-icon labelauty" type="checkbox" id="labelauty-1" style="display:none;" ng-model="checkboxes.items[candidate._id]">
                                    Name
                                </th>
                                <th>Contact</th>
                                <th>Current location</th>
                                <!-- <th>Rate detail</th> -->
                                <th>Experience</th>
                                <th>Skills</th>
                                <th>Created by</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="card panel-heading" id="tr-1" ng-repeat="candidate in common.candidateList">

                                <td data-title="Requirement" class="parenttr">
                                    <label class="labelauty-label">
                                        <p class="card-title display-flex font-12"> <i class="fa fa-chevron-right table-collapse-arrow" aria-hidden="true"></i></p>
                                    </label>
                                </td>

                                <td data-title="Requirement">
                                    <label class="labelauty-label">
                                        <p class="card-title font-12">
                                            <input checked class="to-labelauty-icon labelauty" type="checkbox" id="labelauty-1" style="display:none;">
                                            Mike Adon
                                        </p>
                                        <p class="card-title font-12">
                                            Candidate-10060  <span class="badge bg-danger">Open</span>
                                        </p>

                                    </label>
                                </td>



                                <td data-title="Other">
                                    <label class="labelauty-label">
                                        <!-- <p class="card-title  font-12" data-placement="top" title="Contact"
                        data-trigger="hover" data-toggle="popover" data-container="body"
                         data-placement="right" data-html="true" href="#" id="logout">
                            <span class="fa fa-phone color-gray"></span> +1(234)-5687789
                        </p> -->
                                        <p class="card-title  font-12">
                                            <span class="fa fa-phone color-gray"></span> {{candidate.Mobile}}
                                        </p>
                                        <!-- <div id="popover-content-logout" class="disp-none">
                        <div class="row">
                            <div class="col-md-12">

                                     <i class="material-icons font-12" aria-hidden="true">email </i> <a href="mailto:jamesdoe123@gmail.com">jamesdoe123@gmail.com</a>
                                     <i class="material-icons font-12" aria-hidden="true">local_phone </i> +1 (959 656 44 44)
                                     <i class="material-icons font-12" aria-hidden="true">home </i> +1 (959 656 66 66)
                                     <i class="material-icons font-12" aria-hidden="true">place </i> 4200 Mission Blvd, Appt. 201
                                </div>
                          </div>
                        </div> -->
                                        <p class="card-title  font-12">
                                            <span class="fa fa-envelope color-gray"></span> {{candidate.PrimaryEmail}}
                                        </p>
                                    </label>
                                </td>
                                <td data-title="Location">
                                    <label class="labelauty-label">
                                        <p class="card-title
                                                            display-flex
                                                            font-12">
                                            Mumbai, Maharashtra,<br /> India
                                        </p>

                                    </label>
                                </td>

                                <!-- <td data-title="Other">
                    <label class="labelauty-label">
                                <p class="card-title
                                    display-flex
                                    font-12">
                                    Client rate: $100
                                </p>
                                <p class="card-title
                                    display-flex
                                    font-12">
                                    Permanent - H1B
                                </p>



                            </label>
                </td> -->

                                <td data-title="Contact">
                                    <label class="labelauty-label">
                                        <p class="card-title display-flex font-12">
                                            <span ng-if="candidate.ExperienceInYear != null && candidate.ExperienceInYear >= 0">Total Exp:{{candidate.ExperienceInYear}}</span>
                                            <span ng-if="candidate.ExperienceInMonth != null && candidate.ExperienceInMonth >= 0">.{{candidate.ExperienceInMonth}}</span>

                                        <p class="card-title display-flex font-12">
                                            <span ng-if="candidate.USExperienceInYear != null && candidate.USExperienceInYear >= 0"> US Exp: {{candidate.USExperienceInYear}} </span>
                                            <span ng-if="candidate.USExperienceInMonth != null && candidate.USExperienceInMonth >= 0">.{{candidate.USExperienceInMonth}}</span>
                                        </p>
                                    </label>
                                </td>
                                <td data-title="Skills">
                                    <label class="labelauty-label">
                                        <p class="card-title
                                                            display-flex
                                                            font-12"
                                           title="Skills"
                                           data-placement="top"
                                           data-trigger="hover"
                                           data-toggle="popover"
                                           data-content="{{candidate.Skills}}">
                                            {{candidate.Skills}}
                                        </p>
                                    </label>
                                    <!-- <div class="tr-1-panel text-center collapsed " aria-expanded="true">

                        <button type="button" class="btn btn-outline-primary btn-sm  loading-demo m-r-xs m-b-xs font-12 mb-0" data-toggle="modal" data-target="#Submit-candidate-modal"> <i data-toggle="tooltip" title="" data-original-title="Submit candidates" class="fa fa-send"></i> </button>
                        <button type="button" class="btn btn-outline-primary  btn-sm   loading-demo m-r-xs m-b-xs font-12 mb-0" data-toggle="modal" data-target="#Compose-email-modal">  <i data-toggle="tooltip" title="" data-original-title="Send email" class="fa fa-envelope"></i></button>

                        <button type="button" class="btn btn-outline-primary  btn-sm   loading-demo m-r-xs m-b-xs font-12 mb-0" data-toggle="tooltip" title="" data-original-title="Salary calculator"> <i class="fa fa-calculator"></i></button>
                        <button type="button" class="btn btn-outline-primary  btn-sm   loading-demo m-r-xs m-b-xs font-12 mb-0" data-toggle="modal" data-toggle="modal" data-target=".chat-panel"> <i  data-toggle="tooltip" title="" data-original-title="View details" class="fa fa-eye"></i></button>

                        <a href="applied-candidate.html" class="btn btn-outline-primary  btn-sm   loading-demo   m-b-xs font-12 mb-0" data-toggle="tooltip" title="" data-original-title="Applied candidates"> <i class="fa fa-users"></i> <span class="tag
                            tag-danger" style="  margin-left: 3px;  border-radius: 10px; ">55</span></a>

                    </div> -->
                                </td>
                                <td data-title="Contact">
                                    <label class="labelauty-label" title="Assinged
                                                        recruiters" data-placement="top" data-trigger="hover" data-toggle="popover" data-content="">
                                        <p class="card-title
                                                            display-flex
                                                            font-12">
                                            {{candidate.CreatedByName}}
                                        </p>
                                    </label>
                                </td>
                                <td>

                                    <div class="dropdown
                                                        pull-right">
                                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                        <div class="dropdown-menu
                                                            dropdown-menu-right" role="menu">
                                            <a ng-if="userDetails.Submission_Create == 'True'" class="dropdown-item" href="javascript:;" ng-click="openCandidateSubmissionModal('Multiple');" ng-disabled="checkedCount== 0">
                                                <i class="fa
                                                                    fa-send"></i>
                                                Submit to company
                                            </a>
                                            <a class="dropdown-item" href="javascript:;" data-toggle="modal" data-target="#Compose-email-modal">
                                                <i class="fa
                                                                    fa-envelope"></i>
                                                Send Email
                                            </a>
                                            <a class="dropdown-item" href="javascript:;">
                                                <i class="fa
                                                                    fa-pencil"></i>
                                                Edit details
                                            </a>
                                            <a class="dropdown-item" href="javascript:;">
                                                <i class="fa
                                                                    fa-users"></i>
                                                Share profile <span class="tag
                                                                    tag-danger"
                                                                    style="margin-left:
                                                                    3px;
                                                                    border-radius:
                                                                    10px;">55</span>
                                            </a>
                                        </div>
                                    </div>
                                    <button type="button" class="btn
                                                        btn-outline-primary
                                                        btn-sm m-r-xs
                                                        loading-demo m-b-xs
                                                        font-12 mb-0 pull-right" data-toggle="modal" data-toggle="modal" data-target="#Activity-modal">
                                        <i data-toggle="tooltip"
                                           title=""
                                           data-original-title="View
                                                            details" class="fa
                                                            fa-eye"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="card panel-heading
                                                disp-none childtr">
                                <td data-title="Requirement" colspan="8" class="chart-td">
                                    <div class="row">
                                        <div class="col-md-12 rating-cicle">
                                            <div class="col-md-2">
                                                <label class="labelauty-label">

                                                    <div id="canvas-holder" align="center">
                                                        <canvas width="130" height="130" class="chartarea rate-canvas-big"></canvas>
                                                        <h6 class="color-gray">1,23,232 Ratings</h6>
                                                        <span data-toggle="toggle" data-target="#demo" class="fa fa-chevron-right table-rating-chevron">  </span>

                                                    </div>

                                                </label>
                                            </div>
                                            <div class="col-md-10 rating-details-panel">
                                                <div id="demo" class="rating-panel">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <table class="table table-sm small padd-0">
                                                                <tr>
                                                                    <td class="padd-0" style="width:10%;padding: 0px !important;">
                                                                        5 <span class="fa fa-star"></span>
                                                                    </td>
                                                                    <td class="padd-0" style="width:60%;padding: 0px !important;">
                                                                        <progress class="progress h-4 mt-12 mb-0 progress-success" value="90" max="100"></progress>
                                                                    </td>
                                                                    <td class="padd-0 text-right" style="width:20%;padding: 0px !important;">
                                                                        <span class="color-gray pull-right">132,123</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="padd-0" style="width:10%;padding: 0px !important;">
                                                                        4 <span class="fa fa-star"></span>
                                                                    </td>
                                                                    <td class="padd-0" style="width:60%;padding: 0px !important;">
                                                                        <progress class="progress h-4 mt-12 mb-0 progress-success" value="60" max="100"></progress>
                                                                    </td>
                                                                    <td class="padd-0" style="width:20%;padding: 0px !important;">
                                                                        <span class="color-gray pull-right">132,123</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="padd-0" style="width:10%;padding: 0px !important;">
                                                                        3 <span class="fa fa-star"></span>
                                                                    </td>
                                                                    <td class="padd-0" style="width:60%;padding: 0px !important;">
                                                                        <progress class="progress h-4 mt-12 mb-0 progress-success" value="70" max="100"></progress>
                                                                    </td>
                                                                    <td class="padd-0" style="width:20%;padding: 0px !important;">
                                                                        <span class="color-gray pull-right">12,123</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="padd-0" style="width:10%;padding: 0px !important;">
                                                                        2 <span class="fa fa-star"></span>
                                                                    </td>
                                                                    <td class="padd-0" style="width:60%;padding: 0px !important;">
                                                                        <progress class="progress h-4 mt-12 mb-0 progress-warning" value="50" max="100"></progress>
                                                                    </td>
                                                                    <td class="padd-0" style="width:20%;padding: 0px !important;">
                                                                        <span class="color-gray pull-right">1,234</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="padd-0" style="width:10%;padding: 0px !important;">
                                                                        1 <span class="fa fa-star"></span>
                                                                    </td>
                                                                    <td class="padd-0" style="width:60%;padding: 0px !important;">
                                                                        <progress class="progress h-4 mt-12 mb-0 progress-danger" value="20" max="100"></progress>
                                                                    </td>
                                                                    <td class="padd-0" style="width:20%;padding: 0px !important;">
                                                                        <span class="color-gray pull-right">534</span>
                                                                    </td>
                                                                </tr>
                                                            </table>

                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="col-md-3 col-sm-3 text-center" align="center">
                                                                <canvas width="100" height="80" class="rating-chartarea1"></canvas>
                                                                <h6>Communication</h6>
                                                            </div>
                                                            <div class="col-md-3 col-sm-3" align="center">
                                                                <canvas width="100" height="80" class="rating-chartarea2"></canvas>
                                                                <h6>Experiance</h6>
                                                            </div>
                                                            <div class="col-md-3 col-sm-3" align="center">
                                                                <canvas width="100" height="80" class="rating-chartarea3"></canvas>
                                                                <h6>Technical</h6>
                                                            </div>
                                                            <div class="col-md-3 col-sm-3" align="center">
                                                                <canvas width="100" height="80" class="rating-chartarea4"></canvas>
                                                                <h6>Education</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <ul class="nav
                                                                        nav-tabs" role="tablist">
                                                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#one0" role="tab" aria-expanded="true">Personal</a></li>
                                                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#one1" role="tab" aria-expanded="true">Contact</a></li>
                                                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#three1" role="tab" aria-expanded="false">Education</a></li>
                                                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#three2" role="tab" aria-expanded="false">Employment</a></li>
                                                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#psummary" role="tab" aria-expanded="false">Summary</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a href="javascript:;" data-toggle="modal" data-target="#Resume-modal" class="btn mt-10
                                                                        btn-outline-primary btn-sm btn-icon
                                                                        loading-demo m-r-xs m-b-xs font-12
                                                                        pull-right"><i class="material-icons"> insert_drive_file</i>View resumes</a>
                                                        </div>
                                                    </div>

                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="one0" role="tabpanel" aria-expanded="true">
                                                            <div class="row
                                                                        card-block
                                                                        p-l-0">
                                                                <div class="col-md-12">
                                                                    <div class="">
                                                                        <div class="col-md-4
                                                                                    p-0">
                                                                            <div class="col-md-6
                                                                                        p-0
                                                                                        f-w-600">
                                                                                <div>
                                                                                    Gender
                                                                                </div>
                                                                                <div>
                                                                                    Marital Status
                                                                                </div>
                                                                                <div>
                                                                                    Fax
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6
                                                                                        p-0">
                                                                                <div>Female</div>
                                                                                <div>Married</div>
                                                                                <div>9175824191</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            <div class="col-md-4
                                                                                        p-0
                                                                                        f-w-600">
                                                                                <div>
                                                                                    Sec. Email
                                                                                </div>
                                                                                <div>Home Phone</div>
                                                                                <div>
                                                                                    Interests/Hobbies
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-8
                                                                                        p-0">
                                                                                <div>
                                                                                    sangrambhore3635@gmail.com
                                                                                </div>
                                                                                <div>9175824191</div>
                                                                                <div>Painting</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="one1" role="tabpanel" aria-expanded="false">
                                                            <div class="row
                                                                                        card-block
                                                                                        p-l-0">
                                                                <div class="col-md-12">
                                                                    <div class="">
                                                                        <div class="col-md-5 p-0">
                                                                            <div class="col-md-3
                                                                                                                p-0
                                                                                                                f-w-600">
                                                                                <div>
                                                                                    Address 1
                                                                                </div>
                                                                                <div>Address 2</div>
                                                                                <div>
                                                                                    Address 3
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-9
                                                                                                                p-0">
                                                                                <div>
                                                                                    Kolhapur, india
                                                                                </div>
                                                                                <div>Kolhapur, india</div>
                                                                                <div>Kolhapur, india</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4
                                                                                                    p-0">
                                                                            <div class="col-md-4
                                                                                                        p-0
                                                                                                        f-w-600">
                                                                                <div>
                                                                                    City
                                                                                </div>
                                                                                <div>
                                                                                    State
                                                                                </div>
                                                                                <div>
                                                                                    Country
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-8
                                                                                                        p-0">
                                                                                <div>Kolhapur</div>
                                                                                <div>Maharashtra</div>
                                                                                <div>India, 416310</div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="three1" role="tabpanel" aria-expanded="false">
                                                            <div class="row">
                                                                <div class="col-md-12 p-0">
                                                                    <div class="disp-block">
                                                                        <div class="card-block">
                                                                            <div class="table-responsive scroll slimScroll">
                                                                                <table class="table table-sm small table-bordered">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>
                                                                                                Start Date
                                                                                            </th>
                                                                                            <th>
                                                                                                End Date
                                                                                            </th>
                                                                                            <th>
                                                                                                School
                                                                                            </th>
                                                                                            <th>
                                                                                                School Type
                                                                                            </th>
                                                                                            <th>
                                                                                                Course


                                                                                            </th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                06/06/2000
                                                                                            </td>
                                                                                            <td>
                                                                                                05/06/2010
                                                                                            </td>
                                                                                            <td>
                                                                                                Chikodi public school
                                                                                            </td>
                                                                                            <td>
                                                                                                Public
                                                                                            </td>
                                                                                            <td>
                                                                                                BSC


                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="three2" role="tabpanel" aria-expanded="false">
                                                            <div class="row">
                                                                <div class="col-md-12  p-0">
                                                                    <div class="disp-block">
                                                                        <div class="card-block">
                                                                            <div class="table-responsive scroll slimScroll">
                                                                                <table class="table table-sm small table-bordered ">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>
                                                                                                Start Date
                                                                                            </th>
                                                                                            <th>
                                                                                                End Date
                                                                                            </th>
                                                                                            <th>
                                                                                                Job Title
                                                                                            </th>
                                                                                            <th>
                                                                                                Company Name
                                                                                            </th>
                                                                                            <th>
                                                                                                Employment Type


                                                                                            </th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                05/01/2015
                                                                                            </td>
                                                                                            <td>
                                                                                                05/10/2019
                                                                                            </td>
                                                                                            <td>
                                                                                                Phone Banking Officer
                                                                                            </td>
                                                                                            <td>
                                                                                                Concentrix
                                                                                            </td>
                                                                                            <td>
                                                                                                Full Time


                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="psummary" role="tabpanel" aria-expanded="false">
                                                            <div class="row">
                                                                <div class="col-md-12  p-0">
                                                                    <div class="disp-block">
                                                                        <div class="card-block">
                                                                            <div class="table-responsive scroll slimScroll">
                                                                                Web Developer
                                                                                <p>
                                                                                    Since June 2015, have 3 years plus of extensive hands on experience of website/software design and development.; Currently working as Software Engineer at CyberTriumph Technologies Pvt. Ltd., Kolhapur.; Bachelor in 2015 from the Shivaji University, Kolhapur.
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                                <td class="hidden"></td>
                                <td class="hidden"></td>
                                <td class="hidden"></td>
                                <!-- <td class="hidden"></td> -->
                                <td class="hidden"></td>
                                <td class="hidden"></td>
                                <td class="hidden"></td>
                                <td class="hidden"></td>
                            </tr>

                        </tbody>
                    </table>
            </div>

        </div>
    </div>
</div>

<!-- The Modal - view client profile -->
<div class="modal fade" id="Submit-candidate-confirmation-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <i class="material-icons
                                    font-36 m-r-xs" aria-hidden="true">
                        info_outline
                    </i> Please review your action
                </h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card disp-block">
                            <div class="card-header f-w-500">
                                <i class="material-icons font-21
                                                m-r-xs color-dark-gray" aria-hidden="true">
                                    assignment
                                </i>Requirement
                            </div>
                            <div class="card-block">
                                <label>
                                    Req-10973 : Service Support
                                    Analyst- Junior
                                </label>
                            </div>
                            <div class="card-header f-w-500">
                                <i class="material-icons font-21
                                                m-r-xs color-dark-gray" aria-hidden="true">
                                    account_circle
                                </i>Company
                            </div>
                            <div class="card-block">
                                <label> TATA Consultancy</label>
                            </div>
                            <div class="card-header f-w-500">
                                <i class="material-icons font-21
                                                m-r-xs color-dark-gray" aria-hidden="true">people</i>Selected candidate(s)
                            </div>
                            <div class="card-block">
                                <label>
                                    <input type="text"
                                           id="input-tags4"
                                           class="demo-default
                                                    pointer-none"
                                           value="candidate name1,
                                                    candidate name2, candidate
                                                    name3">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm
                                btn-icon loading-demo m-r-xs font-12">
                    <i class="material-icons">check</i><span>Submit</span>
                </button>
                <button type="button" class="btn btn-outline-danger
                                btn-sm font-12" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- The Modal - view client profile -->
<div class="modal fade" id="Compose-email-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <i class="material-icons
                                    font-36 m-r-xs" aria-hidden="true">
                        email
                    </i> Compose email
                </h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card disp-block">
                            <div class="card-block">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2
                                                        col-sm-2">
                                            <label for="exampleInputPassword1" class="chk-label">From</label>
                                        </div>
                                        <div class="col-md-10
                                                        col-sm-10">
                                            <input readonly value="BettySimmons@xseed.com" class="form-control
                                                            form-control-sm" id="exampleInputPasswordAgain1" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2
                                                        col-sm-2">
                                            <label for="exampleInputPassword1">To</label>
                                        </div>
                                        <div class="col-md-8
                                                        col-sm-8">
                                            <input type="text" id="input-tags" class="demo-default" value="test@test.com">
                                        </div>
                                        <div class="col-md-2
                                                        col-sm-2">
                                            <button data-toggle="collapse" href="#div-add-cc" aria-expanded="false" aria-controls="div-add-cc" type="button" class="btn
                                                            btn-outline-primary
                                                            btn-sm loading-demo
                                                            font-12 mb-0
                                                            email-cc-btn">
                                                CC
                                            </button>
                                            <button data-toggle="collapse" href="#div-add-bcc" aria-expanded="false" aria-controls="div-add-bcc" type="button" class="btn
                                                            btn-outline-primary
                                                            btn-sm loading-demo
                                                            font-12 mb-0
                                                            email-cc-btn">
                                                BCC
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group collapse" id="div-add-cc">
                                    <div class="row">
                                        <div class="col-md-2
                                                        col-sm-2">
                                            <label for="exampleInputPassword1">CC</label>
                                        </div>
                                        <div class="col-md-10
                                                        col-sm-10">
                                            <input type="text" id="input-tags2" class="demo-default" value="cc@test.com">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group collapse" id="div-add-bcc">
                                    <div class="row">
                                        <div class="col-md-2
                                                        col-sm-2">
                                            <label for="exampleInputPassword1">BCC</label>
                                        </div>
                                        <div class="col-md-10
                                                        col-sm-10">
                                            <input type="text" id="input-tags3" class="demo-default" value="bcc@test.com">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card disp-block">
                            <div class="card-block">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2
                                                        col-sm-2">
                                            <label for="exampleInputPassword1">Subject</label>
                                        </div>
                                        <div class="col-md-8
                                                        col-sm-8">
                                            <input class="form-control
                                                            form-control-sm" id="exampleInputPasswordAgain1" type="text">
                                        </div>
                                        <div class="col-md-2
                                                        col-sm-2">
                                            <i class="material-icons color-gray" aria-hidden="true">attachment </i>
                                        </div>
                                    </div> <br>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <span class="badge_large bg-primary bg-grey-dark ">Resume.docs <i class="fa fa-close"></i> </span>
                                            <span class="badge_large bg-primary bg-grey-dark ">Resume.docs <i class="fa fa-close"></i> </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12
                                                        col-sm-12">
                                            <div class="summernote">
                                                <h2>Try me!</h2>
                                                <p>super simple WYSIWYG editor on Bootstrap</p>
                                                <p><b>Features:</b></p>
                                                <ol>
                                                    <li>
                                                        Automatic Seamless Two-Way-Binding
                                                    </li>
                                                    <li style="color:
                                                                    blue">
                                                        Super Easy <b>Theming</b> Options
                                                    </li>
                                                    <li>
                                                        Simple Editor Instance Creation
                                                    </li>
                                                    <li>
                                                        Safely Parses Html for Custom Toolbar Icons
                                                    </li>
                                                    <li>
                                                        Doesn&apos;t Use an iFrame
                                                    </li>
                                                    <li>
                                                        Works with Firefox, Chrome, and IE8+
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger
                                btn-sm font-12" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<!-- //......side panel modal -->
<div class="modal fade sidebar-modal  chat-panel" id="Activity-modal" tabindex="-1" role="dialog" aria-labelledby="chat-panel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="chat-header">
                <a class="pull-right" href="javascript:;" data-dismiss="modal">
                    <i class="material-icons">close</i>
                </a>
                <div class="chat-header-title">
                    <h5>Mike Adon | Web Developer </h5>
                </div>
            </div>
            <div class="modal-body flex scroll-y">
                <div class="container-fluid">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link
                                            active" data-toggle="tab" href="#activity" role="tab" aria-expanded="false">Activity</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Qnotes" role="tab" aria-expanded="false">QNotes</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="activity" role="tabpanel" aria-expanded="true">
                            <div class="timeline stacked">
                                <div id="accordion" role="tablist" aria-multiselectable="true" class="break-word">
                                    <div class="timeline-card m-t-0 m-b-1">
                                        <img src="images\face1.jpeg" class="avatar avatar-xs img-circle m-r-1 pull-left" alt="">
                                        <section class="timeline-content">
                                            <div class="timeline-body color-grey full-width-100">
                                                <div class="timeline-heading">Sangram<span class="p-l-1">Company</span> <span class="pull-right color-dark-gray small">06/15/2019 17:42<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed"><i class="material-icons color-gray font-18 p-l-1 p-r-1" aria-hidden="true">keyboard_arrow_down </i></a></span></div>
                                                <div id="collapseOne" class="card-block panel-collapse collapse pull-left p-0 col-md-12" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                                                    <div class="m-b-0 c1 col-md-4 p-0 bold">Field</div>
                                                    <div class="m-b-0 c1 col-md-4 bold">New value</div>
                                                    <div class="m-b-0 c1 col-md-4 bold">Old value</div>
                                                    <div class="m-b-0 c1 col-md-4 p-0">Company</div>
                                                    <div class="m-b-0 c1 col-md-4">tCognition</div>
                                                    <div class="m-b-0 c1 col-md-4">TCS</div>
                                                </div>


                                            </div>
                                        </section>
                                    </div>
                                    <div class="timeline-card m-t-0 m-b-1">
                                        <img src="images\face1.jpeg" class="avatar avatar-xs img-circle m-r-1 pull-left" alt="">
                                        <section class="timeline-content">
                                            <div class="timeline-body color-grey full-width-100">
                                                <div class="timeline-heading" id="headingTwo">Mayur<span class="p-l-1">Requirement Type</span> <span class="pull-right color-dark-gray small">05/30/2019 07:33<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed"><i class="material-icons color-gray font-18 p-l-1 p-r-1" aria-hidden="true">keyboard_arrow_down </i></a></span></div>
                                                <div id="collapseTwo" class="card-block panel-collapse collapse pull-left p-0 col-md-12" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                                                    <div class="m-b-0 c1 col-md-4 p-0 bold">Field</div>
                                                    <div class="m-b-0 c1 col-md-4 bold">New value</div>
                                                    <div class="m-b-0 c1 col-md-4 bold">Old value</div>
                                                    <div class="m-b-0 c1 col-md-4 p-0">Requirement Type</div>
                                                    <div class="m-b-0 c1 col-md-4">CTH</div>
                                                    <div class="m-b-0 c1 col-md-4">Contract</div>
                                                </div>


                                            </div>
                                        </section>
                                    </div>
                                    <div class="timeline-card m-t-0 m-b-1">
                                        <img src="images\face1.jpeg" class="avatar avatar-xs img-circle m-r-1 pull-left" alt="">
                                        <section class="timeline-content">
                                            <div class="timeline-body color-grey full-width-100">
                                                <div class="timeline-heading" id="headingThree">Parag<span class="p-l-1">Technical Skills</span> <span class="pull-right color-dark-gray small">04/03/2019 22:53<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed"><i class="material-icons color-gray font-18 p-l-1 p-r-1" aria-hidden="true">keyboard_arrow_down </i></a></span></div>
                                                <div id="collapseThree" class="card-block panel-collapse collapse pull-left p-0 col-md-12" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
                                                    <div class="m-b-0 c1 col-md-4 p-0 bold">Field</div>
                                                    <div class="m-b-0 c1 col-md-4 bold">New value</div>
                                                    <div class="m-b-0 c1 col-md-4 bold">Old value</div>
                                                    <div class="m-b-0 c1 col-md-4 p-0">Technical Skills</div>
                                                    <div class="m-b-0 c1 col-md-4">ASP.Net|SQL Server|Access|Application Servers</div>
                                                    <div class="m-b-0 c1 col-md-4">ASP.Net|SQL Server|Access|ActiveX|Application Servers|Business Objects</div>
                                                </div>


                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="Qnotes" role="tabpanel" aria-expanded="false">
                            <form class="form-inline">
                                <div class="form-group full-width-100">
                                    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm" id="note" placeholder="Please enter notes">
                                        <a class="input-group-addon font-12 bg-primary text-white width-100 form-control-sm">Submit</a>
                                        <!-- <a class="btn input-group-addon btn-outline-primary  btn-sm loading-demo font-12 pull-right"> Add client</a> -->
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="chat-conversation-user them p-l-0 p-r-0">
                                    <div class="chat-conversation-title">
                                        <img src="images\face1.jpeg" class="avatar avatar-xs img-circle m-r-1 pull-left" alt="">
                                    </div>
                                    <div class="chat-conversation-message full-width-100 color-grey">
                                        <div class="timeline-heading bold">Sangram<span class="pull-right color-dark-gray small">05/21/2019 13:12 AM</span></div>
                                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                                    </div>
                                </div>
                                <div class="chat-conversation-user them p-l-0 p-r-0">
                                    <div class="chat-conversation-title">
                                        <img src="images\face1.jpeg" class="avatar avatar-xs img-circle m-r-1 pull-left" alt="">
                                    </div>
                                    <div class="chat-conversation-message full-width-100 color-grey">
                                        <div class="timeline-heading bold">Rohit<span class="pull-right color-dark-gray small">05/21/2019 13:12 AM</span></div>
                                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                                    </div>
                                </div>
                                <div class="chat-conversation-user them p-l-0 p-r-0">
                                    <div class="chat-conversation-title">
                                        <img src="images\face1.jpeg" class="avatar avatar-xs img-circle m-r-1 pull-left" alt="">
                                    </div>
                                    <div class="chat-conversation-message full-width-100 color-grey">
                                        <div class="timeline-heading bold">Rajesh<span class="pull-right color-dark-gray small">05/21/2019 13:12 AM</span></div>
                                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                                    </div>
                                </div>
                                <div class="chat-conversation-user them p-l-0 p-r-0">
                                    <div class="chat-conversation-title">
                                        <img src="images\face1.jpeg" class="avatar avatar-xs img-circle m-r-1 pull-left" alt="">
                                    </div>
                                    <div class="chat-conversation-message full-width-100 color-grey">
                                        <div class="timeline-heading bold">Mayur<span class="pull-right color-dark-gray small">05/21/2019 13:12 AM</span></div>
                                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //......side panel modal -->
<div class="modal fade sidebar-modal  chat-panel" id="Resume-modal" tabindex="-1" role="dialog" aria-labelledby="chat-panel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="chat-header">
                <a class="pull-right" href="javascript:;" data-dismiss="modal">
                    <i class="material-icons">close</i>
                </a>
                <div class="chat-header-title">
                    <h5>Mike Adon | Web Developer </h5>
                </div>
            </div>
            <div class="modal-body flex scroll-y">
                <div class="container-fluid">
                    <div class="tab-content">
                        <video controls="" style="width:100%">
                            <source src="images/movie.mp4" type="video/mp4">
                            <source src="images/movie.mp4" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <button type="button" class="btn mt-10 btn-sm btn-outline-primary btn-icon m-r-xs m-b-xs"><i class="material-icons">file_download </i><span>Resume_file.doc</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="vendor\star-rating\star-rating.js"></script>

<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
</script>



<script type="text/javascript">
    $('.datatable').DataTable({
        language: {
            search: "",
            searchPlaceholder: "Search by: Internal Requirement Id, Title, Type, Status, Company, Assigned Recruiter"
        },
        "searching": false,
        ordering: false,
        dom: 'Bfrtip',
        buttons: [
            // {
            //     extend: 'copy',
            //     exportOptions: {
            //         columns: ':visible'
            //     }
            // },
            //  {
            //     extend: 'csv',
            //     exportOptions: {
            //         columns: ':visible'
            //     }
            // },
            //{
            //    extend: 'excel',
            //    exportOptions: {
            //        columns: ':visible'
            //    }
            //},
            //  {
            //     extend: 'pdf',
            //     exportOptions: {
            //         columns: ':visible'
            //     }
            // },
            //{
            //    extend: 'print',
            //    exportOptions: {
            //        columns: ':visible'
            //    }
            //},
            // {
            //     extend: 'colvis',
            //     collectionLayout: 'fixed three-column'
            // },

        ],
        // colvis: {
        //     exclude: [2]
        // },
        autoWidth: false,
        // columnDefs: [{
        //     orderable: false,
        //     targets: 0
        // }, {
        //     class: 'candidate-id-width',
        //     targets: 2
        // }],
        // scrollX: true,
        // fixedColumns: true
        // exportOptions: {
        //     columns: ':visible:not(:eq(2))'
        // }

    });

    oTable = $('.datatable2').DataTable({
        dom: 'rtip',
        aoColumnDefs: [{
            bSortable: false,
            aTargets: [0]
        }]
    });


    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
        $('[data-toggle="tooltip"]').tooltip();


        $(".labelauty").labelauty({

            // Trigger Class
            // This class will be used to apply styles
            class: "labelauty",

            // Use icon?
            // If false, then only a text label represents the input
            icon: true,

            // Use text label ?
            // If false, then only an icon represents the input
            label: false,

            // Separator between labels' messages
            // If you use this separator for anything, choose a new one
            separator: "|"
        });
    });

    $("[data-toggle=popover]").each(function (i, obj) {

        $(this).popover({
            html: true,
            content: function () {
                var id = $(this).attr('id')
                return $('#popover-content-' + id).html();
            }
        });

    });

    // $(".panel-heading").hover(
    //     function() {
    //         $("." + this.id + '-panel').collapse('show');
    //     },
    //     function() {
    //         // $('.panel-collapse').collapse('hide');
    //         $("." + this.id + '-panel').collapse('hide');
    //     }
    // );
    $('.summernote').summernote();

    $(".parenttr").click(function () {
        console.log(this)
        //$(this).prev('tr').next('.childtr').toggle("fast");



        $('.parenttr').find('.fa-chevron-down').removeClass("fa-chevron-down").addClass("fa-chevron-right");
        $('.childtr:visible').not($(this).parent('tr').next('.childtr')).hide();


        console.log($(this).parent('tr').next('.childtr').is(":visible"))
        if ($(this).parent('tr').next('.childtr').is(":visible")) {
            $(this).find('.fa-chevron-down').removeClass("fa-chevron-down").addClass("fa-chevron-right");
        } else {

            $(this).find('.fa-chevron-right').removeClass("fa-chevron-right").addClass("fa-chevron-down");
        }

        //$(this).find('.fa').toggleClass("fa-chevron-right fa-chevron-down");

        $(this).parent('tr').next('.childtr').toggle("fast");

        ///..............pie charts

        if (window.myDoughnut) {
            window.myDoughnut.destroy()
        }

        var randomScalingFactor = function () {
            return Math.round(Math.random() * 100);
        };

        var config = {

            type: 'doughnut',
            radius: "20%",
            innerRadius: "20%",
            data: {
                datasets: [{
                    data: [
                        4.5,
                        0.5
                        // randomScalingFactor(),
                        // randomScalingFactor(),
                    ],
                    backgroundColor: [
                        "#3F9F3F",
                        "#dfe1e6",

                        // window.chartColors.green,
                        // window.chartColors.blue,
                    ],
                    label: 'Dataset 1'
                }],

            },
            options: {

                cutoutPercentage: 80,
                responsive: true,
                legend: {
                    position: 'top',
                    display: false
                },
                tooltips: {
                    enabled: false
                },
                title: {
                    display: false,
                    text: 'Applied Candidates'
                },
                label: {
                    display: false,
                },

                animation: {
                    animateScale: true,
                    animateRotate: true
                },
                elements: {
                    center: {
                        text: '4.5',
                        color: '#4d4d4d',
                        sidePadding: 25,
                        fontStyle: 'bold'
                    }
                },
            }
        };



        //var ctx = document.getElementsByClassName('chartarea').getContext('2d');
        var mycancvas = $(this).parent('tr').next('.childtr').find('td.chart-td').find('canvas');

        var ctx = mycancvas[0].getContext('2d');
        window.myDoughnut = new Chart(ctx, config);


        //........small charts

        var mycancvas_rating1 = $(this).parent('tr').next('.childtr').find('td.chart-td').find('.rating-chartarea1');
        var mycancvas_rating2 = $(this).parent('tr').next('.childtr').find('td.chart-td').find('.rating-chartarea2');
        var mycancvas_rating3 = $(this).parent('tr').next('.childtr').find('td.chart-td').find('.rating-chartarea3');
        var mycancvas_rating4 = $(this).parent('tr').next('.childtr').find('td.chart-td').find('.rating-chartarea4');


        var myPie_rating = mycancvas_rating1[0].getContext('2d');
        window.myDoughnut = new Chart(myPie_rating, config);

        var myPie_rating2 = mycancvas_rating2[0].getContext('2d');
        window.myDoughnut = new Chart(myPie_rating2, config);

        var myPie_rating3 = mycancvas_rating3[0].getContext('2d');
        window.myDoughnut = new Chart(myPie_rating3, config);

        var myPie_rating4 = mycancvas_rating4[0].getContext('2d');
        window.myDoughnut = new Chart(myPie_rating4, config);





    });

    $("[data-toggle='toggle']").click(function () {
        var selector = $(this).data("target");
        $(selector).toggleClass('in');
    });

    $(".table-rating-chevron").click(function () {
        $(this).toggleClass("fa-chevron-right");
        $(this).toggleClass("fa-chevron-left");

    });
</script>

