﻿
<body>
    <div class="main-content" ng-init="getParsedResumeList();">
        <div class="content-view client-profile-list">


            <div class="row">
                <div class="col-md-6">

                    <input id="txt-search" class="form-control form-control-sm" type="text" placeholder="Search candidate">
                </div>
                <div class="col-md-6">
                    <a ng-click="goToCandidateList()" class="btn btn-outline-primary  btn-sm btn-icon  loading-demo  m-b-xs font-12 pull-right"><i class="material-icons"> list</i><span>View candidates</span></a>
                    <a ng-click="createCandidateView();" class="btn btn-outline-primary  btn-sm btn-icon loading-demo m-r-xs m-b-xs font-12 pull-right"><i class="material-icons"> add_circle_outline</i><span>Add candidate</span></a>

                </div>
            </div>


            <div class="card-block-outer back-gray">

                <div class="no-more-tables">
                    <table class="table table-responsive datatable dragscroll" ng-table="common.tblParsedResumeList">
                        <thead>
                            <tr class="card">

                                <th>Name</th>

                                <th>Email</th>
                                <th>Contact</th>
                                <th>Created date</th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="card panel-heading" id="tr-1" ng-repeat="parsedResume in common.parsedResumeList" ng-if="!parsedResume.IsValidResume">
                                <td data-title="Requirement">
                                    <label class="labelauty-label">
                                        <p class="card-title display-flex font-12 text-primary" ng-bind="parsedResume.FullName" ng-init="parsedResume.FullName= getCandidateFullName(parsedResume.Title, parsedResume.FirstName, parsedResume.MiddleName, parsedResume.LastName)" ng-attr-title="{{parsedResume.FullName}}">
                                        </p>
                                    </label>
                                </td>
                                <td data-title="Other">
                                    <label class="labelauty-label">
                                        <p class="card-title display-flex font-12 " ng-bind="parsedResume.EmailAddress" ng-attr-title="{{parsedResume.EmailAddress}}">
                                        </p>
                                    </label>
                                </td>
                                <td data-title="Contact">
                                    <label class="labelauty-label">
                                        <p class="card-title display-flex font-12" ng-bind="parsedResume.Mobile" ng-attr-title="{{parsedResume.Mobile}}">
                                        </p>
                                    </label>
                                </td>


                                <td data-title="Other">
                                    <label class="labelauty-label">
                                        <p class="card-title display-flex font-12" ng-bind="parsedResume.CreatedOn | date:'medium'" ng-attr-title="{{parsedResume.CreatedOn}}">
                                        </p>
                                    </label>
                                </td>




                                <td data-title="Skills">
                                    <label class="labelauty-label">
                                        <p class="card-title display-flex font-12">


                                            <a href="add-candidate.html" class="btn btn-outline-primary  btn-sm   loading-demo m-r-xs m-b-xs font-12 mb-0" data-toggle="tooltip" title="" data-original-title="Review"> <i class="fa fa-eye"></i></a>
                                            <button type="button" class="btn btn-outline-primary  btn-sm   loading-demo   m-b-xs font-12 mb-0" data-toggle="tooltip" title="" data-original-title="Discard">  <i class="fa fa-close"></i></button>
                                        </p>
                                    </label>


                                </td>
                            </tr>



                        </tbody>
                    </table>
                </div>
                <div ng-if="!common.parsedResumeList.length" class="no-contacts layout-column scroll-y">
                    <h5 class="text-shadow text-muted">
                        Seems to be no candidate(s) uploaded yet.
                    </h5>
                </div>


            </div>
        </div>
        <div class="content-footer">
            <nav class="footer-right">
                <ul class="nav">
                    <li><a href="javascript:;">Feedback</a></li>
                </ul>
            </nav>
            <nav class="footer-left">
                <ul class="nav">
                    <li><a href="javascript:;"><span>Copyright</span> &copy; 2016 Your App</a></li>
                    <li class="hidden-md-down"><a href="javascript:;">Privacy</a></li>
                    <li class="hidden-md-down"><a href="javascript:;">Terms</a></li>
                    <li class="hidden-md-down"><a href="javascript:;">help</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <script src="scripts\app.min.js"></script>
    <!-- <script src="vendor\datatables\media\js\jquery.dataTables.js"></script>
    <script src="vendor\datatables\media\js\dataTables.bootstrap4.js"></script> -->
    <!-- Start datatable js -->
    <script src="scripts/datatables/jquery.dataTables.js"></script>
    <script src="scripts/datatables/jquery.dataTables.min.js"></script>
    <script src="scripts/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="scripts/datatables/dataTables.responsive.min.js"></script>
    <script src="scripts\datatables\dataTables.fixedColumns.min.js"></script>
    <script src="scripts\datatables\dataTables.buttons.min.js"></script>
    <script src="scripts\datatables\buttons.bootstrap4.min.js"></script>
    <script src="scripts\datatables\jszip.min.js"></script>
    <script src="scripts\datatables\pdfmake.min.js"></script>
    <script src="scripts\datatables\vfs_fonts.js"></script>
    <script src="scripts\datatables\buttons.html5.min.js"></script>
    <script src="scripts\datatables\buttons.print.min.js"></script>
    <script src="scripts\datatables\buttons.colVis.min.js"></script>

    <script src="vendor/jquery-labelauty/source/jquery-labelauty.js"></script>

    <script type="text/javascript" src="scripts\dragscroll.js"></script>

    <script type="text/javascript">
        oTable = $('.datatable').DataTable({
            dom: 'rtip',
        });

        $('#txt-search').keyup(function () {
            oTable.search($(this).val()).draw();
        })
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

</body>