﻿<!doctype html>
<html lang="en">

<body>
  
    <div class="main-content" ng-init="checkUserAccess();getResumeEmailList();getUnreadMailCount();">
        <div class="content-view">
            <div class="fill-container layout-xs b-b">

                <div class="overflow-hidden col-md-5 p-0">
                    <div class="row m-x-0 fill-container">

                        <div class="col-lg-12 p-a-0 messages-list bg-white b-r flexbox-xs layout-column-xs full-height">
                            <div class="message-header">
                                <div class="message-toolbar">
                                    <form class="form-inline">
                                        <input class="form-control" type="text" placeholder="Search messages">
                                    </form>
                                </div>
                            </div>
                            <div class="flex-xs scroll-y">
                                <div class="table-responsive pagination-small pagination-fixed-bottom">
                                    <table class="message-list w-100" ng-table="tblResumeEmailList">
                                        <tbody>
                                            <tr ng-repeat="resumeEmail in resumeEmailList" class="message-list-item" ng-class="{'bg-default text-muted font-weight-normal':resumeEmail.IsRead}" ng-click="showResumeEmailDetails(resumeEmail.Id);">
                                                <td>
                                                    <a href=" javascript:;" class="b-b" data-toggle="message">
                                                        <div class="circle-icon font-21 bg-primary pull-left m-r-1">{{resumeEmail.Name[0]}}</div>
                                                        <div class="message-list-item-header">
                                                            <div class="time">{{resumeEmail.Date | date:'medium'}}</div> <span class="bold unread" ng-bind="resumeEmail.Name"></span>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-7 p-0">{{resumeEmail.SourceEmail}}</div>
                                                            <div class="col-md-3 p-0" ng-if="selectedResumeEmail.EmailAttachment.length">
                                                                <span title="Contains Attachment" class="pull-right"><i class="material-icons font-16"> attachment</i></span>
                                                            </div>
                                                        </div>

                                                    </a>
                                                </td>
                                            </tr>



                                        </tbody>
                                       
                                    </table>
</div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="flexbox-xs layout-column-xs message-view col-md-7 p-0">
                    <div class="message-header">
                        <div class="message-toolbar">
                            <a ng-disabled="selectedResumeEmail.EmailAttachment.length == 0"
                               ng-click="getResumeEmailParsingResult(selectedResumeEmail)" ng-if="userDetails.Candidate_Create == 'True'" class="btn btn-outline-primary btn-sm ">Add candidate</a>
                            <div class="pull-right">
                                <a href="javascript:;" class="m-l-1" tooltip-placement="bottom" uib-tooltip="Reply to sender"><i class="material-icons">reply </i></a>
                                <a href="javascript:;" class="m-l-1" tooltip-placement="bottom" uib-tooltip="Reply to all recipients"><i class="material-icons">reply_all </i></a>
                                <a href="javascript:;" class="m-l-1" tooltip-placement="bottom" uib-tooltip="Forward message"><i class="material-icons">forward </i></a>
                                <a href="javascript:;" class="m-l-1" tooltip-placement="left" uib-tooltip="Flag message"><i class="material-icons">flag</i></a>
                            </div><a href="javascript:;" class="hidden-lg-up" data-toggle="message"><i class="material-icons m-r-1">arrow_back</i></a>
                        </div>
                    </div>
                    <div class="message-body flex-xs scroll-y">
                        <div class="p-a-1">
                            <div class=" email-circle-icon pull-left m-r-1 circle-icon font-21 bg-primary">{{selectedResumeEmail.Name[0]}}</div>
                            <div class="overflow-hidden">
                                <div class="date" ng-bind="selectedResumeEmail.Date | date:'medium'"></div>
                                <h4 class="lead m-t-0" ng-bind="selectedResumeEmail.Name"></h4>
                                <div class="message-sender">
                                    <p><b ng-bind="selectedResumeEmail.SourceEmail"></b><br/>
                                    <b ng-bind="selectedResumeEmail.Subject"></b></p>
                                </div>
                            </div>
                        </div>
                        <div class="m-a-1">
                            <div class="bg-default rounded p-a-1" ng-if="selectedResumeEmail.EmailAttachment.length > 0">
                                <p>
                                    <a ng-repeat="attachment in selectedResumeEmail.EmailAttachment" target="_self" ng-href="{{'data:;base64,' + attachment.Data}}" type="application/json" download="{{attachment.Name}}" ng-if="attachment.Name" class="btn btn-sm btn-secondary btn-icon"><i class="fa fa-file-o"></i> <span> {{attachment.Name}}</span></a>
                                    <a ng-repeat="attachment in selectedResumeEmail.EmailAttachment" target="_self" ng-href="{{'data:;base64,' + attachment.Data}}" type="application/json" download="{{attachment.Name}}" ng-if="!attachment.Name" class="btn btn-sm btn-secondary btn-icon"><i class="fa fa-file-o"></i> <span>{{'noName'+ $index}}</span></a>
                                   
                                </p>
                            </div>
                        </div>

                        <div class="p-a-1">
                            <p ng-bind-html="trustHtml(selectedResumeEmail.Html);">

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-footer">
            <nav class="footer-right">
                <ul class="nav">
                    <li><a href="javascript:;">Feedback</a></li>
                </ul>
            </nav>
            <nav class="footer-left">
                <ul class="nav">
                    <li><a href="javascript:;"><span>Copyright</span> © 2016 Your App</a></li>
                    <li class="hidden-md-down"><a href="javascript:;">Privacy</a></li>
                    <li class="hidden-md-down"><a href="javascript:;">Terms</a></li>
                    <li class="hidden-md-down"><a href="javascript:;">help</a></li>
                </ul>
            </nav>
        </div>
    </div>
     

    <script src="scripts\app.min.js"></script>
    <script src="vendor\jquery.tagsinput\src\jquery.tagsinput.js"></script>
    <script src="vendor\intl-tel-input\build\js\intlTelInput.min.js"></script>
    <script src="vendor\moment\min\moment.min.js"></script>
    <script src="vendor\bootstrap-daterangepicker\daterangepicker.js"></script>
    <script src="vendor\bootstrap-datepicker\js\bootstrap-datepicker.js"></script>
    <script src="vendor\bootstrap-timepicker\js\bootstrap-timepicker.js"></script>
    <script src="vendor\clockpicker\dist\jquery-clockpicker.min.js"></script>
    <script src="vendor\mjolnic-bootstrap-colorpicker\dist\js\bootstrap-colorpicker.min.js"></script>
    <script src="vendor\bootstrap-touchspin\dist\jquery.bootstrap-touchspin.min.js"></script>
    <script src="vendor\select2\select2.js"></script>
    <script src="vendor\selectize\dist\js\standalone\selectize.min.js"></script>
    <script src="vendor\jquery-labelauty\source\jquery-labelauty.js"></script>
    <script src="vendor\bootstrap-maxlength\src\bootstrap-maxlength.js"></script>
    <script src="vendor\typeahead.js\dist\typeahead.bundle.js"></script>
    <script src="vendor\multiselect\js\jquery.multi-select.js"></script>
    <script src="scripts\forms\plugins.js"></script>
    <script src="scripts\validation\jquery.validate.min.js" type="text/javascript"></script>


    <style>
        .fill-container,
        .page-height {
            height: calc(100vh - 7.5rem);
        }

        .circle-icon {
            line-height: 2.5rem;
            width: 2.5rem;
            height: 2.5rem;
        }

        .font-16 {
            font-size: 16px;
        }

        .message-list .message-list-item a {
            padding: .3rem 1rem;
        }

        .avatar-sm {
            width: 2.5rem;
        }
    </style>

</body>

</html>