﻿<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Milestone">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Milestone">
    <meta name="theme-color" content="#4C7FF0">
    <title>XSeed - Bulk Resume Upload</title>
    <link type="image/x-icon" rel="shortcut icon" href="images/icon/xseed.ico">
    <link rel="stylesheet" href="vendor\datatables\media\css\dataTables.bootstrap4.css">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:500&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="styles/datatables/fixedColumns.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="styles/datatables/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/datatables/responsive.jqueryui.min.css">
    <!-- <link rel="stylesheet" href="styles\app.min.css"> -->
    <link rel="stylesheet" href="styles\app.min-logocolor.css">
    <link rel="stylesheet" href="styles\dt-buttons.css">
    <link rel="stylesheet" href="vendor/jquery-labelauty/source/jquery-labelauty.css">



</head>

<body>
    <div class="app expanding">
        
      
        <div class="main-panel">
            
            <div class="main-content">
                <div class="content-view client-profile-list">


                    <div class="card-block-outer">


                        <div class="row">
                            <div class="col-md-8">

                                <!-- <span class="btn btn-primary btn-icon fileinput-button m-b-xs font-12"><i class="material-icons">add_circle_outline</i> <span></span> <input id="fileupload" class="" type="file" name="files[]" multiple="multiple"> </span> -->
                                <!-- <button class="btn btn-primary  btn-sm btn-icon  loading-demo  m-b-xs font-12"><i class="material-icons"> add_circle_outline</i><span>Select file(s)</span></button> -->

                                <div class="input-container">
                                    <input type="file" accept=".pdf,.doc,.docx,.txt" ng-bulk-upload="common.bulkUploadResume" multiple id="real-input">

                                    <button class="browse-btn chk-label">
                                        Browse Files
                                    </button>
                                    <span class="file-info">Upload a file</span>
                                </div>

                                <span class="fa fa-info-circle ml-16"></span> Please select files from pdf,doc,docx or txt. Max upload size is 10 MB.


                            </div>
                           
                            <div class="col-md-2">
                                <a ng-click="goToCandidateList()" class="btn btn-outline-primary  btn-sm btn-icon  loading-demo  m-b-xs font-12 btn-block"><i class="material-icons"> list</i><span>View candidates</span></a>
                            </div>
                           


                        </div>
                        
                        <div class="row" ng-if="common.bulkUploadResume">
                            <div class="col-md-8">
                              &nbsp;
                                </div>
                            <div class="col-md-2">
                                <a href="javascript:" ng-click="uploadAllResumes()" ng-disabled="!common.bulkUploadResume.length || common.bulkUploadResume.progress == 100 || !common.bulkUploadResume.totalFileSize" class="btn btn-success  btn-sm btn-icon  loading-demo  m-b-xs font-12   btn-block"><i class="material-icons"> file_upload</i><span>Upload all</span></a>

                            </div>
                            <div class="col-md-2">
                                <a href="javascript:" ng-click="clearAllResumes()" class="btn btn-danger  btn-sm btn-icon loading-demo   m-b-xs font-12  btn-block"><i class="material-icons"> remove_circle_outline</i><span>Remove all</span></a>

                            </div>
                        </div>



                    </div>




                    <div class="card-block-outer back-gray">

                        <div class="no-more-tables">
                            <div class="row text-center">
                                <div ng-show="common.bulkUploadResume.length < 1">
                                    <div class="card-block  offset-md-5 text-center">
                                        <div class="sk-wave center-block">
                                            <div class="sk-rect sk-rect1"></div>
                                            <div class="sk-rect sk-rect2"></div>
                                            <div class="sk-rect sk-rect3"></div>
                                            <div class="sk-rect sk-rect4"></div>
                                            <div class="sk-rect sk-rect5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table class="table table-responsive datatable dragscroll" ng-show="common.bulkUploadResume">
                                <thead>
                                    <tr class="card">

                                        <th>File name</th>

                                        <th>Size</th>
                                        <th>Status</th>


                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="card panel-heading" id="tr-1" ng-repeat="item in common.bulkUploadResume track by $index" ng-if="item != null">
                                        <td data-title="Requirement">
                                            <label class="labelauty-label">
                                                <p class="card-title display-flex font-12 text-primary">
                                                    <span>{{ item.name }}</span>
                                                    <div class="text-danger" ng-show="item.invalidResumeFile">Error: Invalid file type!</div>
                                                </p>
                                            </label>
                                        </td>
                                        <td data-title="Other">
                                            <label class="labelauty-label">
                                                <p class="card-title display-flex font-12 ">
                                                    {{ item.size/1024/1024|number:3 }} MB
                                                </p>
                                            </label>
                                        </td>



                                        <td data-title="Other">
                                            <label class="labelauty-label">
                                                <p class="card-title display-flex font-12">
                                                    <span class="fa fa-clock-o font-21 text-danger"></span>
                                                </p>
                                            </label>
                                        </td>




                                        <td data-title="Skills">
                                            <label class="labelauty-label">
                                                <p class="card-title display-flex font-12">
                                                    <button type="button" ng-click="removeSelectedResume($index)" class="btn btn-outline-primary  btn-sm   loading-demo   m-b-xs font-12 mb-0" data-toggle="tooltip" title="" data-original-title="Discard">  <i class="fa fa-close"></i></button>
                                                </p>
                                            </label>


                                        </td>
                                    </tr>
                                    <!----<tr class="card panel-heading" id="tr-1">
                                        <td data-title="Requirement">
                                            <label class="labelauty-label">
                                                <p class="card-title display-flex font-12 text-primary">
                                                    9210654328306_1492_2_HL0_RS1112_David_Schueller_Resume.doc
                                                </p>
                                            </label>
                                        </td>
                                        <td data-title="Other">
                                            <label class="labelauty-label">
                                                <p class="card-title display-flex font-12 ">
                                                    123 MB
                                                </p>
                                            </label>
                                        </td>



                                        <td data-title="Other">
                                            <label class="labelauty-label">
                                                <p class="card-title display-flex font-12">
                                                    <span class="fa fa-check-circle font-21 text-success"></span>
                                                </p>
                                            </label>
                                        </td>




                                        <td data-title="Skills">
                                            <label class="labelauty-label">
                                                <p class="card-title display-flex font-12">
                                                    <button type="button" class="btn btn-outline-primary  btn-sm   loading-demo   m-b-xs font-12 mb-0" data-toggle="tooltip" title="" data-original-title="Discard">  <i class="fa fa-close"></i></button>
                                                </p>
                                            </label>


                                        </td>
                                    </tr>-->



                                </tbody>
                            </table>
                        </div>



                    </div>
                </div>
                <div class="content-footer">
                    <nav class="footer-right">
                        <ul class="nav">
                            <li><a href="javascript:;">Feedback</a></li>
                        </ul>
                    </nav>
                    <nav class="footer-left">
                        <ul class="nav">
                            <li><a href="javascript:;"><span>Copyright</span> &copy; 2016 Your App</a></li>
                            <li class="hidden-md-down"><a href="javascript:;">Privacy</a></li>
                            <li class="hidden-md-down"><a href="javascript:;">Terms</a></li>
                            <li class="hidden-md-down"><a href="javascript:;">help</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>




    </div>

    <script src="scripts\app.min.js"></script>
    <!-- <script src="vendor\datatables\media\js\jquery.dataTables.js"></script>
    <script src="vendor\datatables\media\js\dataTables.bootstrap4.js"></script> -->
    <!-- Start datatable js -->
    <script src="scripts/datatables/jquery.dataTables.js"></script>
    <script src="scripts/datatables/jquery.dataTables.min.js"></script>
    <script src="scripts/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="scripts/datatables/dataTables.responsive.min.js"></script>
    <script src="scripts\datatables\dataTables.fixedColumns.min.js"></script>
    <script src="scripts\datatables\dataTables.buttons.min.js"></script>
    <script src="scripts\datatables\buttons.bootstrap4.min.js"></script>
    <script src="scripts\datatables\jszip.min.js"></script>
    <script src="scripts\datatables\pdfmake.min.js"></script>
    <script src="scripts\datatables\vfs_fonts.js"></script>
    <script src="scripts\datatables\buttons.html5.min.js"></script>
    <script src="scripts\datatables\buttons.print.min.js"></script>
    <script src="scripts\datatables\buttons.colVis.min.js"></script>

    <script src="vendor/jquery-labelauty/source/jquery-labelauty.js"></script>

    <script type="text/javascript" src="scripts\dragscroll.js"></script>

    <script type="text/javascript">
            oTable = $('.datatable').DataTable({
                dom: 'rtip',
            });

            $('#txt-search').keyup(function() {
                oTable.search($(this).val()).draw();
            })
            $(document).ready(function() {
                $('[data-toggle="popover"]').popover();
                $('[data-toggle="tooltip"]').tooltip();
            });


            
    </script>


    <script>
            const uploadButton = document.querySelector('.browse-btn');
            const fileInfo = document.querySelector('.file-info');
            const realInput = document.getElementById('real-input');

            uploadButton.addEventListener('click', (e) => {
                realInput.click();
            });

            realInput.addEventListener('change', () => {
                const name = realInput.value.split(/\\|\//).pop();
                const truncated = name.length > 20 ?
                    name.substr(name.length - 20) :
                    name;

                fileInfo.innerHTML = "..." + truncated;
            });
    </script>

</body>

</html>