﻿
<div class="session-content p-a-0">
    <div class="col-sm-12">
        <div class="p-b-1 text-xs-center">
            <a class="m-b-3" href="#" ng-href="{{configuration.XSEED_HOME_LINK}}">
                <img src="images/logo-b.png" class="img-responsive" />
            </a>
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            <form role="form" name="associateForm" novalidate>
                <div class="card m-b-0">
                    <div class="card-block">
                        <div class="m-b-xs text-xs-center">
                            <h5>
                                Associate your {{externalAuthData.provider}} Account
                            </h5>
                            <p class="text-success">You have successfully authenticated with <strong>{{externalAuthData.provider}} </strong>. Please enter a user name below and click the Continue button to log in into XSeed.</p>
                        </div>
                        <fieldset class="form-group">
                            <label>
                                Enter your username
                            </label>
                            <input type="text" class="form-control form-control-custom" id="userName" placeholder="Email"
                                   name="userName"
                                   ng-model="externalAuthData.userName"
                                   autocomplete="off"
                                   validation="required|min_len:6|max_len:50">
                        </fieldset>
                        <fieldset class="form-group row">
                            <label class="col-sm-12">
                                Name
                                <span class="bold text-red">*</span>
                            </label>
                            <div class="col-sm-6">
                                <input type="text"
                                       class="form-control form-control-custom"
                                       placeholder="First Name"
                                       ng-model="externalAuthData.firstName"
                                       id="FirstName"
                                       name="FirstName"
                                       validation="required|min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe" />

                            </div>
                            <div class="col-sm-6">
                                <input type="text"
                                       class="form-control form-control-custom"
                                       placeholder="Last Name"
                                       ng-model="externalAuthData.lastName"
                                       id="LastName"
                                       name="LastName"
                                       validation="required|min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe" />

                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="email">
                                Email address
                                <span class="bold text-red">*</span>
                            </label>
                            <input type="email"
                                   class="form-control form-control-custom"
                                   id="email"
                                   placeholder="Email"
                                   ng-model="externalAuthData.email"
                                   name="email"
                                   validation="required|xseed_email|min_len:6|max_len:50" />
                        </fieldset>
                        <fieldset class="form-group">
                            <label>Mobile<span class="bold text-red">*</span></label>
                            <!--(E.g: 111-111-1111)-->
                            <input type="text"
                                   class="form-control form-control-custom"
                                   placeholder="enter mobile"
                                   ng-model="externalAuthData.mobile"
                                   name="mobile"
                                   ui-mask="999-999-9999"
                                   ui-mask-placeholder
                                   ui-mask-placeholder-char="_"
                                   ng-blur="removeMask()"
                                   ng-focus="placeMask()"
                                   validation="required:alt=Mobile is required.|xseed_mobile" />
                        </fieldset>
                        <button class="btn btn-primary btn-block btn-login" type="button" ng-click="registerCandidate(associateForm);">
                            Continue
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="text-xs-center m-t-1">
    <span>
        Already have an account?
    </span>
    <a class="bold text-primary" href="#login" ng-click="toggleLoginRegistration(1)">
        LOGIN
    </a>
</div>
<div class="text-xs-center m-t-1" ng-include="'views/common/footer.html'"></div>