﻿
<div class="session-content p-a-0" style="display:block;">
    <div class="row">
        <div class="col-sm-2 hidden-md-up"></div>
        <div class="col-sm-8 col-lg-4">
            <div class="p-a-1">
                <a class="m-b-3" href="#" ng-href="{{configuration.XSEED_HOME_LINK}}">
                    <img src="images/logo-b.png" class="img-responsive" />
                </a>
            </div>
            <div id="login" ng-show="toggleLoginRegistrationFlag == 1">
                <form role="form" name="loginForm" novalidate>
                    <div class="p-a-3">
                        <div class="m-b-2">
                            <h4 class="font-weight-bold">Welcome to VrATS!</h4>
                        </div>
                        <fieldset class="form-group">
                            <input type="text" class="form-control form-control-custom" id="userName" placeholder="Email"
                                   name="loginRequest.userName"
                                   ng-model="loginRequest.userName"
                                   validation="required|min_len:6|max_len:100|email" />
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="password" class="form-control form-control-custom" id="password"
                                   placeholder="Password"
                                   name="loginRequest.password"
                                   ng-model="loginRequest.password"
                                   autocomplete="off"
                                   validation="required|min_len:8|max_len:16|xseed_password"
                                   ng-enter="login(loginForm);" />
                        </fieldset>
                        <div class="row m-b-2">
                            <div class="col-sm-12">
                                <span class="pull-left">
                                    <label class="c-input c-checkbox text-muted">
                                        <input type="checkbox" ng-model="loginRequest.stayLoggedIn" />
                                        <span class="c-indicator">
                                        </span>
                                        Stay logged in
                                    </label>
                                </span>
                                <span class="pull-right">
                                    <a class="text-primary" href="#forgotPassword" ng-click="gotoForgotPassword()">
                                        Forgot Password?
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="row m-b-2">
                            <div class="col-sm-6">
                                <button class="btn btn-primary pull-left btn-block m-b-xs btn-login" type="button" ng-click="login(loginForm);">
                                    LOGIN
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <a ng-click="toggleLoginRegistration(2)" class="btn btn-primary-outline btn-block pull-right btn-login">
                                    SIGN UP
                                </a>
                            </div>
                        </div>
                        <div class="row text-xs-center">
                            <div class="col-sm-12">
                                <h6 class="font-weight-bold">or you can also login using</h6>
                                <div class="animated fadeIn">
                                    <a ng-click="socialLogin('LinkedIn')" title="Linkedin">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x" style="color:#0177B5;"></i>
                                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    <a ng-click="socialLogin('Facebook')" title="Facebook">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x" style="color:#486faa;"></i>
                                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    <a ng-click="socialLogin('Google')" title="Google Plus">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x" style="color:#ea634e;"></i>
                                            <i class="fa fa-google fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    <a ng-click="socialLogin('Twitter')" title="Twitter">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x" style="color:#4dd1f8;"></i>
                                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="register" ng-show="toggleLoginRegistrationFlag == 2">
                <form role="form" name="candidateRegistrationForm" novalidate>
                    <div class="p-l-3 p-r-3 p-b-xs p-t-xs">
                        <div class="m-b-xs">
                            <h4 class="font-weight-bold">Create your account</h4>
                        </div>
                        <fieldset class="form-group row">
                            <label class="col-sm-12">
                                Name
                                <span class="bold text-red">*</span>
                            </label>
                            <div class="col-sm-6">
                                <input type="text"
                                       class="form-control form-control-custom"
                                       placeholder="First Name"
                                       ng-model="registerCandidateRequest.FirstName"
                                       id="FirstName"
                                       name="FirstName"
                                       validation="required|min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe" />

                            </div>

                            <div class="col-sm-6">
                                <input type="text"
                                       class="form-control form-control-custom"
                                       placeholder="Last Name"
                                       ng-model="registerCandidateRequest.LastName"
                                       id="LastName"
                                       name="LastName"
                                       validation="required|min_len:2|max_len:50|xseed_alpha_dash_dot_apostrophe" />

                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="email">
                                Email address
                                <span class="bold text-red">*</span>
                            </label>
                            <input type="email"
                                   class="form-control form-control-custom"
                                   id="email"
                                   placeholder="Email"
                                   ng-model="registerCandidateRequest.userName"
                                   ng-init="registerCandidateRequest.userName=''"
                                   name="email"
                                   validation="required|xseed_email|min_len:6|max_len:100" />
                        </fieldset>
                        <fieldset class="form-group">
                            <label>Mobile<span class="bold text-red">*</span></label>
                            <!--(E.g: 111-111-1111)-->
                            <input type="text"
                                   class="form-control form-control-custom"
                                   placeholder="enter mobile"
                                   ng-model="registerCandidateRequest.Mobile"
                                   name="mobile"
                                   ui-mask="999-999-9999"
                                   ui-mask-placeholder
                                   ui-mask-placeholder-char="_"
                                   ng-blur="removeMask()"
                                   ng-focus="placeMask()"
                                   validation="required:alt=Mobile is required.|xseed_mobile" />
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="password">
                                Password
                                <span class="bold text-red">*</span>
                            </label>
                            <input type="password"
                                   class="form-control form-control-custom"
                                   id="registrationPassword"
                                   placeholder="Password"
                                   ng-model="registerCandidateRequest.password"
                                   name="registerCandidateRequest.password"
                                   block-clipboard
                                   autocomplete="off"
                                   validation="required|min_len:8|max_len:16|xseed_password" />
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="confirmPassword">
                                Confirm password
                                <span class="bold text-red">*</span>
                            </label>
                            <input type="password"
                                   class="form-control form-control-custom"
                                   id="confirmPassword"
                                   placeholder="Confirm Password"
                                   required
                                   ng-model="registerCandidateRequest.confirmPassword"
                                   ng-init=""
                                   block-clipboard
                                   name="registerCandidateRequest.confirmPassword"
                                   autocomplete="off"
                                   validation="required|match:registerCandidateRequest.password,Password:alt=Confirm password does not match." />
                        </fieldset>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary btn-block btn-login" ng-click="registerCandidate(candidateRegistrationForm)">
                                    SIGN UP
                                </button>
                            </div>
                        </div>
                        <div class="text-xs-center m-t-1">
                            <span>
                                Already have an account?
                            </span>
                            <a class="bold text-primary" ng-click="toggleLoginRegistration(1)">
                                LOGIN
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="text-xs-center m-t-xs" ng-include="'views/common/footer.html'"></div>
        </div>
        <div class="hidden-md-down col-lg-8 bg-img-full" style="background-image: url(images/Login_page_background.jpg);">
            <div class="p-a-3">
                <div class="row">
                    <div class="col-sm-12 p-t-3 m-b-3">
                        <div class="p-t-1">
                            <div class="text-white lead">
                                <span style="color: #01ecfc;font-size:30px;">Video Resume Applicant Tracking System</span>
                            </div>
                            <div class="text-white font-18">
                                Designed to achieve the right position for you.
                                Find better jobs, company info and much more.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <ul class="list-inline text-white">
                            <li class="list-inline-item text-xs-center p-r-1">
                                <img src="images/Advance_Search.png" />
                                <h5>Advance<br />Search</h5>
                            </li>
                            <li class="list-inline-item text-xs-center p-r-1">
                                <img src="images/alert.png" />
                                <h5>Job<br />Alerts</h5>
                            </li>
                            <li class="list-inline-item text-xs-center p-r-1">
                                <img src="images/Resume_parser.png" />
                                <h5>Resume<br />Parser</h5>
                            </li>
                            <li class="list-inline-item text-xs-center">
                                <img src="images/Apply_job.png" />
                                <h5>Apply<br />Job</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
