﻿<div class="session-content p-a-0">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 p-a-xs">
        <form role="form" name="forgotPasswordForm" novalidate>
            <div class="p-a-2 text-xs-center">
                <a class="m-b-3" href="#" ng-href="{{configuration.XSEED_HOME_LINK}}">
                    <img src="images/logo-b.png" class="img-responsive" />
                </a>
            </div>
            <div class="card">
                <div class="card-block text-xs-center">
                    <div class="text-xs-center m-b-1">
                        <h5 class="bold">
                            Forgot password!
                        </h5>
                    </div>
                    <fieldset class="form-group">
                        <p class="text-muted">
                            Enter your email address.<br />We will send you information to help you to reset your password.
                        </p>
                        <input type="text" class="form-control form-control-custom" id="userName" placeholder="Enter your email"
                               name="userName"
                               ng-model="forgotPasswordModel.Username"
                               autocomplete="off"
                               validation="required|min_len:6|max_len:100|email">
                    </fieldset>
                    <button class="btn btn-primary btn-block btn-login" type="button" ng-click="forgotPassword(forgotPasswordForm);">
                        Submit
                    </button>
                    <div class="text-xs-center m-t-1">
                        <a class="bold text-primary" href="#candidateLogin" ng-click="toggleLoginRegistration(1)">
                            LOGIN
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="text-xs-center m-t-1" ng-include="'views/common/footer.html'"></div>
</div> 