<!--<div class="col-sm-12 text-xs-center">
    <h2>Candidate Home</h2>
</div>-->
<div class="col-sm-12 text-xs-center">
    <img src="images/dashboard-img.jpg" class="img-responsive img-fluid" />
</div>