﻿
<div class="session-content p-a-0">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="text-xs-center m-a-1">
        <a class="m-b-3" href="#" ng-href="{{configuration.XSEED_HOME_LINK}}">
            <img src="images/logo-b.png" class="img-responsive" />
        </a>
    </div>
        <form role="form" name="resendEmailVerificationForm" novalidate>
                    <div class="card">
            <div class="card-header text-xs-center bg-primary-lighter">
                <h2>Verify Your Email</h2>
            </div>
            <div class="card-block clearfix">
                <div class="col v-align-middle contact-avatar">
                    <div class="circle p-a-2 bg-danger">
                        <i class="fa fa-envelope fa-3x"></i>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div>
                        <strong class="font-14">We’ve just sent an email to your address:</strong><br />
                        <span class="text-indigo bold font-14">{{registerCandidateRequest.userName}}</span>
                    </div>
                    <p>Please check your email and click on the link provided to verify your address</p>
                    <div class="text-primary font-14 bold text-underline">
                        <a ng-click="resendEmailVerification(registerCandidateRequest.userName);"><i class="fa fa-share-square-o m-r-xs" aria-hidden="true"></i>Please re-send that verification email</a>
                    </div>
                </div>
            </div>
                    </div>
        </form>
<div class="text-xs-center m-t-1">
    <a class="bold text-primary" href="#candidateLogin" ng-click="toggleLoginRegistration(1)">
        LOGIN
    </a>
</div>
            </div>
        </div>
    </div>
</div>
<div class="text-xs-center m-t-1" ng-include="'views/common/footer.html'"></div>