﻿<div class="session-content">
    <div class="p-a-2 text-xs-center">
        <a class="m-b-3" href="#" ng-href="{{configuration.XSEED_HOME_LINK}}">
            <img src="images/logo-b.png" class="img-responsive" />
        </a>
    </div>
    <div class="card form-layout">
        <form role="form" name="resetPasswordForm" novalidate>
            <div class="card-block">
                <div class="text-xs-center m-b-1">
                    <h5 class="bold">
                        Reset User Password!
                    </h5>
                </div>
                <fieldset class="form-group">
                    <label>New password</label>
                    <input type="password" class="form-control" id="newPassword"
                           placeholder="New Password"
                           name="newPassword" block-clipboard
                           ng-model="resetPasswordModel.NewPassword"
                           autocomplete="off"
                           validation="required|min_len:8|max_len:16|xseed_password" />
                </fieldset>

                <fieldset class="form-group">
                    <label>Confirm new password</label>
                    <input type="password" class="form-control"
                           placeholder="Confirm Password"
                           id="confirmPassword" block-clipboard name="confirmPassword"
                           ng-model="resetPasswordModel.ConfirmPassword"
                           autocomplete="off"
                           validation="required|match:resetPasswordModel.NewPassword,New Password:alt=Confirm password does not match." />
                </fieldset>
                <button class="btn btn-primary btn-block btn-lg" type="button" ng-click="resetPassword(resetPasswordForm);">
                    Submit
                </button>
                <p class="well-lg">
                </p>
                <div class="text-xs-center m-t-1">
                    <a class="bold text-primary" href="#candidateLogin" ng-click="toggleLoginRegistration(1)">
                        LOGIN
                        </a>
                </div>
            </div>
        </form>
    </div>
    <div class="text-xs-center m-t-1" ng-include="'views/common/footer.html'"></div>
</div>    