﻿<div class="session-content p-a-0" ng-init="verifyEmail()">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="p-a-2 text-xs-center">
                    <a class="m-b-3" href="#" ng-href="{{configuration.XSEED_HOME_LINK}}">
                        <img src="images/logo-b.png" class="img-responsive" />
                    </a>
                </div>
                <form role="form" name="forgotPasswordForm" novalidate>
                    <div class="card">
                        <div class="card-header text-xs-center clearfix no-bg">
                            <h5>
                                Verify Email!
                            </h5>
                        </div>
                        <div class="card-block text-xs-center p-a-1">
                            <p class="text-success font-15" ng-if="verifyEmailMsg">
                                Your username / email address is verified, login to your account to get started.
                            </p>
                            <p class="text-danger font-15" ng-if="!verifyEmailMsg && verifyEmailMsg != undefined">
                                Your username / email address is verification link is not valid.<br />
                                <a href="#/resendEmailVerification" class="text-blue text-underline">Click here</a>
                                to resend email verification link.
                            </p>
                            <div class="text-xs-center m-t-1">
                                <a class="bold text-primary" href="#/candidateLogin" ng-click="toggleLoginRegistration(1)">
                                    LOGIN
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-xs-center m-t-1" ng-include="'views/common/footer.html'"></div>
            </div>
        </div>
    </div>
</div>