﻿<div ng-init="checkIsUserAuthorized();getAppliedJobStatus()">
    <div class="row animated fadeIn">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header no-bg clearfix">
                    <div class="row">
                        <div class="col-sm-4">
                            <h5>Applied Jobs</h5>
                        </div>
                        <div class="col-sm-8">
                            <form class="search-form">
                                <i class="material-icons">search</i>
                                <input class="form-control" type="text" placeholder="Search" ng-focus="main.focusOn()" ng-blur="main.focusOff()" autofocus="true" ng-model="appliedJobStatusFilter.$" maxlength="25">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-block p-a-xs">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive scroll slimScroll">
                                <table ng-table="tblRequirementStatus" class="table table-bordered table-sm table-hover text-nowrap small">
                                    <tbody>
                                        <tr ng-repeat="application in dataAppliedJobStatus">
                                            <td data-title="'Job Title'" filter="{ 'JobTitle': 'text'}" data-sortable="'JobTitle'" header-class="'bg-primary'" ng-bind="application.JobTitle" ng-click="jobDetailView(application.JobId);" href="#" style="color:blue;"></td>
                                            <td data-title="'Job Status'" filter="{ 'JobStatus': 'text'}" data-sortable="'JobStatus'" header-class="'bg-primary'" ng-bind="application.JobStatus"></td>
                                            <td data-title="'Applied Date'" filter="{ 'AppliedDate': 'text'}" data-sortable="'AppliedDate'" header-class="'bg-primary'" ng-bind="application.AppliedDate | date:'MM/dd/yyyy'"></td>
                                            <td data-title="'Application Status'" filter="{ 'ApplicationStatus': 'text'}" data-sortable="'Status'" header-class="'bg-primary'" ng-bind="application.Status"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="dataAppliedJobStatus.length == 0">
                                <p class="text-shadow lead text-xs-center">
                                    <img src="images/search.png" /><br />
                                    Please change criteria to search!
                                </p>
                            </div>
                            <div class="no-contacts p-a-3 border-warning text-xs-center" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!dataAppliedJobStatus">
                                <p class="text-shadow lead">
                                    <img src="images/search.png" /><br />
                                    <div class="m-b-xs">You have not applied to any jobs yet!</div>
                                    <a class="btn btn-lg btn-primary" ng-click="goToOpenings()">Apply Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>