﻿<div ng-init="checkIsUserAuthorized();getDefaultJobOpenings()">
    <div class="row animated fadeIn">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a class="nav-link" ng-class="{'active':selectedTabIndex == 1}" data-toggle="tab" data-target="#topJobs" ng-click="setSelectedTabIndex(1);getDefaultJobOpenings()">
                        <i class="fa fa-suitcase m-r-xs" aria-hidden="true"></i><span class="hidden-sm-down hidden-md-down">Top Jobs</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-class="{'active':selectedTabIndex == 2}" data-toggle="tab" data-target="#matchingJobs" ng-click="setSelectedTabIndex(2);getJobOpenings()">
                        <i class="fa fa-files-o m-r-xs" aria-hidden="true"></i><span class="hidden-sm-down hidden-md-down">Matching Jobs</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-class="{'active':selectedTabIndex == 3}" data-toggle="tab" data-target="#searchJobs" ng-click="setSelectedTabIndex(3);getJobSearchOptions()">
                        <i class="fa fa-search m-r-xs" aria-hidden="true"></i><span class="hidden-sm-down hidden-md-down">Search Jobs</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="topJobs" class="tab-pane fade" ng-class="{'in active':selectedTabIndex == 1}">
                    <h6 class="hidden-lg-up m-b-1">Top Jobs-</h6>
                    <div class="row">
                        <div class="col-sm-12 m-b-xs">
                            <form class="search-form">
                                <i class="material-icons">search</i>
                                <input class="form-control" type="text" placeholder="Search" ng-focus="main.focusOn()" ng-blur="main.focusOff()" autofocus="true" ng-model="requirementFilter.$" maxlength="25">
                            </form>
                        </div>
                        <div class="col-sm-12">
                            <div class="table-responsive scroll slimScroll">
                                <table ng-table="tblRequirementList" class="table table-bordered table-sm text-nowrap small p-a-xs m-a-0">
                                    <tbody>
                                        <tr ng-repeat="job in dataRequirementList">
                                            <td data-title="'Job Title'" filter="{ 'JobTitle': 'text'}" data-sortable="'JobTitle'" header-class="'bg-primary'" ng-bind="job.JobTitle" ng-click="jobDetailView(job.Id);" href="#" style="color:blue;"></td>
                                            <td data-title="'Job Type'" filter="{ 'JobType': 'text'}" data-sortable="'JobType'" header-class="'bg-primary'" ng-bind="job.JobType"></td>
                                            <td data-title="'Technical Skills'" filter="{ 'TechnicalSkills': 'text'}" data-sortable="'TechnicalSkills'" header-class="'bg-primary'">
                                                <span ng-bind="job.TechnicalSkills"><span ng-if="!$last">, </span></span>
                                            </td>
                                            <td data-title="'Location'" filter="{ 'Location': 'text'}" data-sortable="'Location'" header-class="'bg-primary'" ng-bind="job.Location"></td>
                                            <td data-title="'Action'" header-class="'bg-primary'" class="text-xs-center">
                                                <a tooltip-placement="top" ng-if="!job.isApplied" ng-click="applyToSelectedJob(job);" class="btn btn-sm btn-primary small">
                                                    Apply
                                                </a>
                                                <span ng-if="job.isApplied" uib-tooltip="Applied" class="bold"><i class="fa fa-check fa-lg text-success" aria-hidden="true"></i></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!dataRequirementList.length">
                                <p class="text-shadow lead text-xs-center">
                                    <img src="images/search.png" /><br />
                                    Please change criteria to search!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="matchingJobs" class="tab-pane fade" ng-class="{'in active':selectedTabIndex == 2}">
                    <h6 class="hidden-lg-up m-b-1">Matching Jobs-</h6>
                    <div class="row">
                        <div class="col-sm-12 m-b-xs">
                            <form class="search-form">
                                <i class="material-icons">search</i>
                                <input class="form-control" type="text" placeholder="Search" ng-focus="main.focusOn()" ng-blur="main.focusOff()" autofocus="true" ng-model="requirementFilter.$" maxlength="25">
                            </form>
                        </div>
                        <div class="col-sm-12">
                            <div class="table-responsive scroll slimScroll">
                                <table ng-table="tblRequirementList" class="table table-bordered table-sm text-nowrap small p-a-xs m-a-0">
                                    <tbody>
                                        <tr ng-repeat="job in dataRequirementList">
                                            <td data-title="'Job Title'" filter="{ 'JobTitle': 'text'}" data-sortable="'JobTitle'" header-class="'bg-primary'" ng-bind="job.JobTitle" ng-click="jobDetailView(job.Id);" href="#" style="color:blue;"></td>
                                            <td data-title="'Job Type'" filter="{ 'JobType': 'text'}" data-sortable="'JobType'" header-class="'bg-primary'" ng-bind="job.JobType"></td>
                                            <td data-title="'Technical Skills'" filter="{ 'TechnicalSkills': 'text'}" data-sortable="'TechnicalSkills'" header-class="'bg-primary'">
                                                <span ng-bind="job.TechnicalSkills"><span ng-if="!$last">, </span></span>
                                            </td>
                                            <td data-title="'Location'" filter="{ 'Location': 'text'}" data-sortable="'Location'" header-class="'bg-primary'" ng-bind="job.Location"></td>
                                            <td data-title="'Action'" header-class="'bg-primary'" class="text-xs-center">
                                                <a tooltip-placement="top" ng-if="!job.isApplied" ng-click="applyToSelectedJob(job);" class="btn btn-sm btn-primary small">
                                                    Apply
                                                </a>
                                                <span ng-if="job.isApplied" uib-tooltip="Applied" class="bold"><i class="fa fa-check fa-lg text-success" aria-hidden="true"></i></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!dataRequirementList.length">
                                <p class="text-shadow lead text-xs-center">
                                    <img src="images/search.png" /><br />
                                    Please update your profile to get more job openings!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="searchJobs" class="tab-pane fade" ng-class="{'in active':selectedTabIndex == 3}">
                    <h6 class="hidden-lg-up m-b-1">Search Jobs-</h6>
                    <div class="card-block p-a-xs">
                        <form class="form-horizontal input-border-b input-placeholder-normal" name="searchJobsForm" novalidate autocomplete="off">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 p-b-xs">
                                    <div class="col-sm-2">
                                        <label>Skills</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <select selector
                                                multi="true"
                                                model="searchModel.Skills"
                                                options="lookup.skillListData"
                                                value-attr="label"
                                                placeholder="type skills..."
                                                create="createFunction(input)"></select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 p-b-xs">
                                    <div class="col-sm-2">
                                        <label>Degree</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <select tabindex="41"
                                                name="degree"
                                                ui-select2="{allowClear: true}"
                                                multiple
                                                data-placeholder="Select Degree"
                                                ng-model="searchModel.DegreeList"
                                                validation="">
                                            <option ng-repeat="Degree in lookup.degree" value="{{Degree.Name}}">{{Degree.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 p-b-xs">
                                    <div class="col-sm-2">
                                        <label>Job Title</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-sm" placeholder="Search by job title"
                                               ng-model="searchModel.JobTitle"
                                               name="JobTitle"
                                               validation="max_len:50" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label>Location</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-sm" placeholder="Search by location"
                                               ng-model="searchModel.Location"
                                               name="Location"
                                               validation="max_len:50" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 p-b-xs">
                                    <div class="col-sm-2">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select tabindex="41"
                                                name="experienceInYear"
                                                ui-select2="{allowClear: true}"
                                                data-placeholder="Year(s)"
                                                ng-model="searchModel.ExperienceInYear">
                                            <option value=""></option>
                                            <option ng-repeat="i in 50 | range" value="{{i}}">{{i}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select tabindex="42"
                                                name="experienceInMonth"
                                                ui-select2="{allowClear: true}"
                                                data-placeholder="Month(s)"
                                                ng-model="searchModel.ExperienceInMonth">
                                            <option value=""></option>
                                            <option ng-repeat="i in 12 | range" value="{{i}}">{{i}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-primary pull-lg-right pull-md-left btn-sm small" ng-disabled="!searchModel.Skills.length && !searchModel.DegreeList.length && !searchModel.JobTitle && !searchModel.Location && !searchModel.ExperienceInYear && !searchModel.ExperienceInMonth" ng-click="searchJobs(searchJobsForm)">Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive scroll slimScroll">
                            <table ng-table="tblSearchedRequirementList" class="table table-bordered table-sm text-nowrap small p-a-xs m-a-0">
                                <tbody>
                                    <tr ng-repeat="job in dataSearchedRequirementList">
                                        <td data-title="'Job Title'" filter="{ 'JobTitle': 'text'}" data-sortable="'JobTitle'" header-class="'bg-primary'" ng-bind="job.JobTitle" ng-click="jobDetailView(job.Id);" href="#" style="color:blue;"></td>
                                        <td data-title="'Job Type'" filter="{ 'JobType': 'text'}" data-sortable="'JobType'" header-class="'bg-primary'" ng-bind="job.JobType"></td>
                                        <td data-title="'Technical Skills'" filter="{ 'TechnicalSkills': 'text'}" data-sortable="'TechnicalSkills'" header-class="'bg-primary'" ng-attr-title="{{job.TechnicalSkills}}" style=" max-width:100px;overflow:hidden;">
                                            <span ng-bind="job.TechnicalSkills"><span ng-if="!$last">, </span></span>
                                        </td>
                                        <td data-title="'Location'" filter="{ 'Location': 'text'}" data-sortable="'Location'" header-class="'bg-primary'" ng-bind="job.Location"></td>
                                        <td data-title="'Action'" header-class="'bg-primary'" class="text-xs-center">
                                            <a tooltip-placement="top" ng-if="!job.isApplied" ng-click="applyToSelectedJob(job);" class="btn btn-sm btn-primary small">
                                                Apply
                                            </a>
                                            <span ng-if="job.isApplied" uib-tooltip="Applied" class="bold"><i class="fa fa-check fa-lg text-success" aria-hidden="true"></i></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!searchedJobList">
                            <p class="text-shadow lead text-xs-center">
                                <img src="images/search.png" /><br />
                                Please select criteria to search!
                            </p>
                        </div>
                        <div class="no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="searchedJobList.length == 0">
                            <h6 class="text-shadow text-grey">
                                No jobs available with matching criteria.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
