﻿<div class="modal sidebar-modal chat-panel in" tabindex="-1" ng-controller="ModalCtrl" ng-init="CallSelect2();initializeRatings();">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-md">
        <div class="modal-content ">
            <div class="chat-header">
                <a class="pull-right" ng-click="closeEditSubmissionStatusModal()" href="javascript:;" data-dismiss="modal">
                    <i class="material-icons">close</i>
                </a>
                <div class="chat-header-title">
                    <h5>Feedback</h5>
                </div>
            </div>
            <div class="modal-body flex scroll-y">
                <div class="container-fluid">

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item"><a class="nav-link active" target="_self" data-toggle="tab" href="#candidate-feedback" role="tab" aria-expanded="false">Candidate</a></li>
                        <li class="nav-item"><a class="nav-link" target="_self" data-toggle="tab" href="#internal-feedback" role="tab" aria-expanded="false">Internal</a></li>
                        <li class="nav-item"><a class="nav-link" target="_self" data-toggle="tab" href="#client-feedback" role="tab" aria-expanded="false">Client</a></li>
                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane" id="internal-feedback" role="tabpanel" aria-expanded="true">
                            <form autocomplete="off" class="form-horizontal" name="internalFeedbackForm" novalidate>

                                <div class="form-group row">
                                    <label for="status-feedback" class="col-xs-2">Status</label>
                                    <div class="col-xs-10">
                                        <div class="m-b">
                                            <select name="submissionFeedback.submissionFeedbackStatusId" ng-model="submissionFeedback.submissionFeedbackStatusId" ng-change="showInterviewType(submissionFeedback);" validation="required:alt=Status is required." name="submissionFeedback.submissionFeedbackStatusId"
                                                    data-placeholder="Your Favorite Football Team" class="select2 m-b-1" style="width: 100%" id="status-feedback">
                                                <option ng-repeat="status in submissionFeedbackStatusList" value="{{status.Id}}">{{status.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row no-req-star">
                                    <label for="remark-text-input" class="col-xs-2">Remark</label>
                                    <div class="col-xs-10">
                                        <textarea ng-model="submissionFeedback.submissionFeedbackRemark" name="submissionFeedback.submissionFeedbackRemark" validation="min_len:2|max_len:500" class="form-control" id="remark-text-input" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xs-2"></label>
                                    <div class="col-xs-10">
                                        <button ng-click="saveFeedback(internalFeedbackForm,constants.submissionInternalFeedback);" type="submit" class="btn btn-primary pull-right  btn-sm">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane active" id="candidate-feedback" role="tabpanel" aria-expanded="false">
                            <form autocomplete="off" class="form-horizontal" name="candidateFeedbackForm" novalidate>


                                <div class="row">
                                    <label for="candidate-feedback-status" class="col-xs-2">Status</label>
                                    <div class="col-xs-10">
                                        <div class="m-b">
                                            <select ng-model="submissionFeedback.candidateFeedbackStatusId" name="submissionFeedback.candidateFeedbackStatusId" validation="required:alt=Status is required." data-placeholder="Select category" class="select2 m-b-1" style="width: 100%" id="candidate-feedback-status">
                                                <option ng-repeat="status in submissionCandidateFeedbackStatusList" value="{{status.Id}}">{{status.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <label class="f-w-600 form-group">Rate candidate on below categories:</label>
                                <div class="form-group row no-req-star">
                                    <label for="rating-text-input" class="col-xs-3">Communication</label>
                                    <div class="col-xs-9">
                                        <input id="input-21d" ng-model="submissionFeedback.communicationRating" value="1.5" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="sm" title="">
                                    </div>
                                </div>
                                <div class="form-group row no-req-star">
                                    <label for="rating-text-input" class="col-xs-3">Technical</label>
                                    <div class="col-xs-9">
                                        <input id="input-21d" ng-model="submissionFeedback.technicalRating" value="2" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="sm" title="">
                                    </div>
                                </div>
                                <div class="form-group row no-req-star">
                                    <label for="rating-text-input" class="col-xs-3">Experience</label>
                                    <div class="col-xs-9">
                                        <input id="input-21d" ng-model="submissionFeedback.experianceRating" value="2.5" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="sm" title="">
                                    </div>
                                </div>
                                <div class="form-group row no-req-star">
                                    <label for="rating-text-input" class="col-xs-3">Educational</label>
                                    <div class="col-xs-9">
                                        <input id="input-21d" value="3" ng-model="submissionFeedback.educationalRating" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="sm" title="">
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row no-req-star">
                                    <label for="remark-text-input" class="col-xs-2">Remark</label>
                                    <div class="col-xs-10">
                                        <textarea ng-model="submissionFeedback.candidateFeedbackRemark" name="submissionFeedback.candidateFeedbackRemark" validation="min_len:2|max_len:500" class="form-control" id="remark-text-input" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xs-2"></label>
                                    <div class="col-xs-10">
                                        <button ng-click="saveFeedback(candidateFeedbackForm,constants.submissionCandidateFeedback);" type="button" class="btn btn-primary pull-right btn-sm">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="client-feedback" role="tabpanel" aria-expanded="false">
                            <form autocomplete="off" class="form-horizontal" name="clientFeedbackForm" novalidate>

                                <div class="form-group row">
                                    <label for="client-feedback-status" class="col-xs-2">Status</label>
                                    <div class="col-xs-10">
                                        <div class="m-b">
                                            <select ng-model="submissionFeedback.clientFeedbackStatusId" name="submissionFeedback.clientFeedbackStatusId" validation="required:alt=Status is required." data-placeholder="Your Favorite Football Team" class="select2 m-b-1" style="width: 100%" id="client-feedback-status">
                                                <option ng-repeat="status in submissionClientFeedbackStatusList" value="{{status.Id}}">{{status.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row no-req-star">
                                    <label for="remark-text-input" class="col-xs-2">Remark</label>
                                    <div class="col-xs-10">
                                        <textarea ng-model="submissionFeedback.clientFeedbackRemark" name="submissionFeedback.clientFeedbackRemark" validation="min_len:2|max_len:500" class="form-control" id="remark-text-input" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xs-2"></label>
                                    <div class="col-xs-10">
                                        <button ng-click="saveFeedback(clientFeedbackForm,constants.submissionClientFeedback);" type="button" class="btn btn-primary pull-right btn-sm">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>



                    </div>

                </div>
            </div>

        </div>
    </div>
</div>