﻿<div ng-init="checkUserAccess();getSubmissions()">
    <div class="row">
        <div class="col-md-9">
            <div class="row m-b-xs">
                <div class="col-md-12">
                    <div class="input-group">
                        <input style="padding: 2px; height: 28px;" name="searchSubmission" class="form-control form-control-sm border-dark" type="text" placeholder="Search by: Candidate, Company, Internal Requirement Id, Requirement Title/Type, Recruiter" maxlength="25" ng-model="common.advanceSearchModel.SearchIn"
                            ng-enter="searchSubmissions()" style="padding:2px;" title="Search by: Candidate, Company,Internal Requirement Id, Requirement Title/Type, Recruiter" />
                        <span class="input-group-btn">
                            <button style="height: 28px;" type="button" class="btn btn-primary small btn-sm pull-right"
                                ng-disabled="!common.advanceSearchModel.SearchIn" ng-click="searchSubmissions()">
                                <i style="font-size: 14px;" class="fa fa-search"></i> Search
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <select ng-model="submissionFilter.select_filterSubmittedBy" id="select_filterStatus" data-placeholder="Filter by submitted by" ng-change="GetValue()"  multiple="multiple" class="select2  full-width-100" style="width: 100%">
                        <option ng-repeat="key1 in submissionFilterLookup[0].Submitted_By" value="{{key1.Id}}">
                            {{key1.Name}}
                        </option>
                    </select>

                </div>
                <div class="col-md-3">
                    <select ng-model="submissionFilter.select_filterCompany" id="select_filterCompany" data-placeholder="Filter by company" multiple="multiple" ng-change="GetValue()" class="select2  full-width-100" style="width: 100%">
                        <option ng-repeat="key1 in submissionFilterLookup[1].Company" value="{{key1.Id}}">
                            {{key1.Name}}
                        </option>
                    </select>

                </div>
                <div class="col-md-3">
                    <select ng-model="submissionFilter.select_filterTitle" id="select_filterUser" data-placeholder="Filter by requirement" multiple="multiple" ng-change="GetValue()" class="select2  full-width-100" style="width: 100%">
                        <option ng-repeat="key1 in submissionFilterLookup[2].Requirement_Title" value="{{key1.Name}}">
                            {{key1.Name}}
                        </option>
                    </select>
                </div>

                <div class="col-md-3">
                    <button style="width: 49%;" type="button" ng-disabled="filterItemCount== 0" ng-click="getSelectedFilterItem()" class="btn
                                            btn-primary btn-sm btn-icon
                                            loading-demo m-b-xs font-12">
                        <i class="material-icons">
                            filter_list
                        </i><span> Apply&nbsp;</span>
                    </button>

                    <a style="width: 49%;" href="javascript:" onclick="ClearFilter()" ng-disabled="!flag.advanceSearchFlag" ng-click="resetSubmissionSearch();" class="btn
                                                btn-primary btn-sm btn-icon 
                                                loading-demo m-b-xs font-12"><i class="material-icons">close
                        </i><span>Clear</span></a>

                </div>

            </div>

        </div>



        <div class="col-md-3">

            <div class="row m-b-xs">
                <div class="col-md-12">
                    <button ng-click="submissionToClient()" ng-disabled="checkedCount== 0" type="button" class="btn
                            btn-primary btn-sm  btn-icon width-219
                            loading-demo   m-r-xs font-12
                            pull-right"><i class="material-icons"> check</i> Resubmit to client</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class=" btn btn-outline-primary btn-sm btn-icon   loading-demo m-r-xs m-b-xs font-12 pull-right" ng-click="printDiv('submissionDiv',constants.sectionSubmissions)" ng-disabled="!submissions.length">
                        <i class="material-icons">local_printshop</i>Print
                    </button>
                    <button class=" btn btn-outline-primary btn-sm btn-icon loading-demo m-r-xs  m-b-xs font-12 pull-right" ng-click="exportToExcel(constants.sectionSubmissions);" ng-disabled="!submissions.length">
                        <i class="material-icons">file_download</i>Export to excel
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="card-block-outer">

       

        <div id="submissionDiv" class="no-more-tables dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
            <table ng-table="submissionList" class="table table-responsive dataTable datatable">
                <caption></caption>
                <thead>
                    <tr class="card">
                        <th scope="col">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" ng-model="checkboxes.checked"
                                    id="select_all" name="filter-checkbox" value="" />
                                <span class="custom-control-indicator"></span>
                            </label>
                        </th>
                        <th scope="col"> Candidate </th>
                        <th scope="col" style=" width: 200px; ">Requirement</th>
                        <th scope="col">Status</th>
                        <th scope="col">Company</th>
                        <th scope="col">Client emails</th>
                        <th scope="col">Submitted by</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="submission in submissions" repeat-end="InializePopoverAndTooltip()" class="card panel-heading">
                        <td data-title="Select">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" name="SelectBox" id="chk{{$index}}" ng-model="checkboxes.items[submission.Id]"
                                    class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td data-title="Candidate">
                            <label ng-if="submission.CandidateList[0].Name" ng-click="openCandidateDetailView(submission.CandidateList[0].Id);" class="labelauty-label">
                                <p class="card-title  font-12 text-primary">
                                    {{submission.CandidateList[0].Name}}
                                </p>
                            </label>
                        </td>
                        <td data-title="Requirement">
                            <label ng-if="submission.JobTitle" ng-click="openRequirementFromOtherSection(submission.JobId);" class="labelauty-label">
                                <p class="card-title  font-12  text-primary visa-overflow">
                                    {{submission.JobTitle}}
                                </p>
                                <p class="card-title  font-12 visa-overflow">
                                    {{submission.JobCode}} - {{submission.JobType}}
                                </p>
                            </label>
                        </td>
                        <td data-title="Status">
                            <label class="labelauty-label">
                                <p class="card-title  font-12 visa-overflow">
                                    {{submission.Status}}
                                </p>
                            </label>
                        </td>
                        <td data-title="Company">
                            <label class="labelauty-label">
                                <p class="card-title  font-12 visa-overflow">
                                    {{submission.CompanyName}}
                                </p>
                            </label>
                        </td>
                        <td data-title="emails">
                            <label ng-if="null!=submission.ContactEmailList" class="labelauty-label" title="Client emails" data-placement="top" data-trigger="hover" data-toggle="popover" data-content=" {{submission.ContactEmailList}}">
                                <p class="card-title  font-12 visa-overflow" ng-if="null!=submission.ContactEmailList" ng-repeat="email in ConvertToArray(submission.ContactEmailList) | limitTo:2">
                                    {{email}}
                                </p>

                            </label>
                        </td>
                        <td data-title="Submitted by">
                            <label class="labelauty-label" title="Submitted by">
                                <p class="card-title display-flex font-12">
                                    {{submission.CreatedBy}}
                                  
                                </p>
                                <p class="card-title display-flex font-12">
                                    <span ng-if="submission.AssignedDate"> On {{submission.AssignedDate| date: MM/dd/yyyy}}</span>
                                </p>
                            </label>
                        </td>
                        <td data-title="Action">
                            <div class="dropdown pull-right">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">

                                    <a class="dropdown-item" href="javascript:;" ng-click="submissionToClientSingle(submission);">
                                        <i class="fa fa-send"></i> Submit to client
                                    </a>
                                    <a class="dropdown-item" ng-click="openEditSubmissionStatusModal(submission);" href="javascript:;">
                                        <i class="fa fa-comments "></i> Submit feedback
                                    </a>
                                </div>
                            </div>
                            <button type="button" ng-click="GetActivities_notes_for_Submission(submission)" data-toggle="tooltip" title="" data-original-title="Activities" class="btn
                            btn-outline-primary
                            btn-sm m-r-xs
                            loading-demo m-b-xs
                            font-12 mb-0 pull-right ">
                        <i class="fa fa-eye"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!submissions.length">
                <p class="text-shadow lead text-xs-center">
                    <img src="images/search.png" alt="Search Image" /><br /> No records found!
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    function ClearFilter() {
        $("select.select2").each(function() { //added a each loop here
            $(this).val("");
            $(this).trigger("change");
        });
    }
</script>