﻿<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="xseed-apilog-app" ng-controller="ApplicationCtrl as main" translate-cloak>
<head>
    <title>{{configuration.XSEED_APP_NAME}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Milestone">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Milestone">
    <meta name="theme-color" content="#4C7FF0">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache" />
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">

    <link rel="stylesheet" href="" id="load_styles_before" />
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }

        .translate-cloak {
            display: none !important;
        }
    </style>
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/angular-block-ui/dist/angular-block-ui.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/angular-bootstrap-toggle-switch/style/bootstrap3/angular-toggle-switch-bootstrap-3.css" />
    <link href="bower_components/ng-table/dist/ng-table.min.css" rel="stylesheet" />
    <link type="text/css" href="styles/nanoscroller.css" rel="stylesheet" />
    <link href="vendor/angular-datepicker.min.css" rel="stylesheet" />

    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->

    <link href="styles/sweetalert2.css" rel="stylesheet" />
    <link href="styles/angular-selector.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="styles/select.css">
    <link rel="stylesheet" type="text/css" href="styles/accordion.css">
    <link rel="stylesheet" type="text/css" href="styles/animate.css">
    <link rel="stylesheet" type="text/css" href="styles/loaders.css">
    <link rel="stylesheet" type="text/css" href="styles/app.css">
    <link rel="stylesheet" type="text/css" href="styles/app.skins.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <!-- endbuild -->
</head>

<body ng-cloak>
    <!--[if lt IE 7]>
    <p class="browsehappy" translate="UPGRADE_BROWSER_NOTE">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/"> upgrade </a> your browser to improve your experience.
    </p>
    <![endif]-->
    <div class="wrapper">
        <div ng-switch="subview">
            <div ng-switch-when="landing" ng-controller="LandingCtrl">
                <div ng-include=" 'views/templates/landing.html' "></div>
            </div>
            <div ng-switch-when="standard" ng-controller="StandardCtrl">
                <div ng-include=" 'views/templates/standard.html' "></div>
            </div>
        </div>
    </div>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="bower_components/es5-shim/es5-shim.js"></script>
    <script type="text/javascript" src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/angular-ui-select2/src/select2.js"></script>
    <script src="bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/ng-table/dist/ng-table.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angular-bootstrap-toggle-switch/angular-toggle-switch.js"></script>
    <!-- Angular-Translate with the JSON loader -->
    <script type="text/javascript" src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <!-- Angular-Validation library -->
    <!--<script type="text/javascript" src="bower_components/angular-validation-ghiscoding/dist/angular-validation.min.js"></script>-->
    <script src="vendor/angular-validation.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script type="text/javascript" src="scripts/services/ServiceConfig.js"></script>
    <script type="text/javascript" src="vendor/pace.min.js"></script>
    <script type="text/javascript" src="vendor/icheck.min.js"></script>
    <script type="text/javascript" src="vendor/ng-accordian.js"></script>
    <script type="text/javascript" src="vendor/jstz.js"></script>
    <script type="text/javascript" src="vendor/jquery.inputmask.bundle.min.js"></script>
    <script type="text/javascript" src="vendor/green.inputmask4angular.js"></script>
    <script type="text/javascript" src="vendor/ng-table-export.src.js"></script>
    <script type="text/javascript" src="vendor/select.js"></script>

    <!--<script src="vendor/sweet-alert.js"></script>-->
    <script type="text/javascript" src="vendor/angular-idle.js"></script>
    <script type="text/javascript" src="vendor/jquery.nanoscroller.js"></script>
    <script type="text/javascript" src="vendor/scrollable.js"></script>
    <script type="text/javascript" src="vendor/angular-cookie.js"></script>
    <script type="text/javascript" src="vendor/focusIf.js"></script>
    <script type="text/javascript" src="vendor/xseed-app-routing.js"></script>
    <script type="text/javascript" src="vendor/xseed-app-wizard.js"></script>
    <script src="vendor/jquery.noty.packaged.min.js"></script>
    <script src="vendor/sweetalert2.js"></script>
    <script src="vendor/angular-selector.js"></script>
    <!--<script src="//cdn.rawgit.com/indrimuska/angular-selector/master/dist/angular-selector.js"></script>-->


    <script src="vendor/clipboard.min.js"></script>
    <script src="vendor/ngclipboard.min.js"></script>
    <script type="text/javascript" src="vendor/angular-datepicker.min.js"></script>

    <!--<script src="vendor/mask.js"></script>-->
    <script src="vendor/mask.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script type="text/javascript" src="scripts/App.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
    <script type="text/javascript" src="scripts/config/AppConfig.js"></script>
    <script type="text/javascript" src="scripts/routing/RouteConfig.js"></script>
    <script type="text/javascript" src="scripts/controllers/ApplicationCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/StandardCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/LandingCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/ModalCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/CandidateCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/SwitchViewCtrl.js"></script>

    <script type="text/javascript" src="scripts/model/ApiBeans.js"></script>
    <script type="text/javascript" src="scripts/services/ExceptionHandler.js"></script>
    <script type="text/javascript" src="scripts/services/EventBus.js"></script>
    <script type="text/javascript" src="scripts/directives/AppDirectives.js"></script>
    <script type="text/javascript" src="scripts/directives/UIFactory.js"></script>
    <script type="text/javascript" src="scripts/filters/AppFilters.js"></script>
    <script type="text/javascript" src="scripts/services/ModalPopupsFactory.js"></script>
    <script type="text/javascript" src="scripts/services/i18nFactory.js"></script>
    <script type="text/javascript" src="scripts/services/xseed-ng-api.js"></script>
    <script type="text/javascript" src="scripts/dummyData.js"></script>

    <!-- endbuild -->

</body>
</html>