<div class="main-content" ng-init="checkUserAccess();CallSelect2(); getRequirementTitleLookup();
        getRequirementTypeLookup();
        getBusinessUnitLookup();
        getvisaTypeLookup();
        getDegreeLookup(); ">
    <div class="content-view">
        <div class="layout-md b-b">
            <div class="layout-column-md">
                <div class="wizards">
                    <div class="tsf-wizard tsf-wizard-1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="tsf-nav-step">
                                    <ul class="gsi-step-indicator triangle gsi-style-1 gsi-transition">
                                        <li class="current tabclick step1" ng-click="step_tabclick(4,$event,createJobForm,'requirement')" data-target="1">
                                            <a href="javascript:;">
                                                <div class="number">1</div>
                                                <div class="desc">
                                                    <label>Requirement </label><span>Account details</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="tabclick step2" ng-click="step_tabclick(4,$event,createJobForm,'requirement')" data-target="2">
                                            <a href="javascript:;">
                                                <div class="number">2</div>
                                                <div class="desc">
                                                    <label>Rates</label><span>Credit card details</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="tabclick step3" ng-click="step_tabclick(4,$event,createJobForm,'requirement')" data-target="3">
                                            <a href="javascript:;">
                                                <div class="number">3</div>
                                                <div class="desc">
                                                    <label>Location</label><span>Our site policy</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="tabclick step4" ng-click="step_tabclick(4,$event,createJobForm,'requirement')" data-target="4">
                                            <a href="javascript:;">
                                                <div class="number">4</div>
                                                <div class="desc">
                                                    <label>Skills</label><span>Our site policy</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <a href class="btn btn-outline-primary btn-icon btn-sm tsf-wizard-btn pull-right" ng-click="goToRequirementList()">
                                    <i class="material-icons">format_list_bulleted</i><span>
                                        View
                                        requirements
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="tsf-container bg-white">
                            <form class="tsf-content" autocomplete="off" name="createJobForm" novalidate>
                                <div class="tsf-step 1 active">
                                    <fieldset>
                                        <legend></legend>
                                        <div class="tsf-step-content">
                                            <h2 class="custome-devider">
                                                <span>
                                                    <img src="images/requirement.png" alt="requirement image">
                                                    <span> Requirement Details</span>
                                                </span>
                                            </h2>

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">Requirement Title</label>

                                                        <input type="text" class="form-control form-control-sm readOnlyTransperent ng-pristine ui-autocomplete-input ng-invalid ng-invalid-validation ng-touched" placeholder="Enter Requirement Title" ng-model="common.requirementModel.JobTitle" name="jobTitle"
                                                               id="lookupJobTitle" readonly="" auto-complete="" ui-items="jobTitles" validation="required:alt=Requirement title is required." ng-click="openGenericMasterModal('Requirement Title');" ng-keyup="openGenericMasterModal('Requirement Title');"
                                                               autocomplete="off" aria-invalid="true" >

                                                    </div>
                                                </div>

                                                <div class="col-md-3">

                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputPassword1">Internal Job Title</label>
                                                        <input class="form-control form-control-sm" id="InternalJobTitle" placeholder="Internal Job Title" type="text" ng-model="common.requirementModel.InternalJobTitle" name="internalJobTitle" onkeydown="singlespace(this)" onkeypress="return onlyCharacter(event)" validation="max_len:100">
                                                    </div>
                                                 </div>
                                                <div class="col-md-3">
                                                    <div class="form-group pos-relative">
                                                        <label for="exampleInputEmail1">Company</label>
                            <select class="select2 full-width-100" id="companyId" name="companyId" data-placeholder="Select Company" ng-model="common.requirementModel.CompanyId" ng-change="getCompanyContactsLookup(common.requirementModel.CompanyId)" validation="required:alt=Company is required.">
                                                            <option value=""></option>
                                                            <option ng-repeat="company in lookup.company" value="{{company.Id}}"
                                                                    ng-bind="company.Name"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group pos-relative">
                                                        <label for="exampleInputPassword1">Company Contact</label>
                            <select class="select2 full-width-100" id="companyContactId" name="companyContactId" data-placeholder="Select Company Contact" ng-model="common.requirementModel.CompanyContactId" validation="required:alt=Company contact is required.">
                                                            <option value=""></option>
                                                            <option ng-repeat="companyContact in companyContactList" value="{{companyContact.Id}}"
                                                                    ng-bind-template="{{companyContact.Name}}"></option>
                                                        </select>
                                                    </div>
                                                </div>


                                            </div>




                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputPassword1">External Requirement Id</label>
                                                        <input class="form-control form-control-sm" id="ExternalRequirementId" placeholder="External Requirement Id" type="text" ng-model="common.requirementModel.ClientJobCode" name="clientJobCode" onkeydown="singlespace(this)" validation="max_len:50">
                                                    </div>
                                                </div>

                                                <div class="col-md-3">

                                                    <div class="form-group">

                                                        <label for="exampleInputPassword1">Requirement Type</label>
                                                        <input validation="required:alt=Requirement type is required." ng-click="openGenericMasterModal('Requirement Type')" readonly class="form-control form-control-sm" id="JobType" placeholder="Select Requirement Type" type="text" ng-model="common.requirementModel.JobType"
                                                               name="JobType">

                                                        </div>
                                                </div>

                                            
                                                <div class="col-md-3">
                                                    <div class="form-group pos-relative">
                                                        <label for="exampleInputPassword1">Assigned Recruiter</label>
                            <select id="organizationUser" data-placeholder="Assigned Recruiter" multiple="multiple" class="select2" style="width: 100%" name="organizationUserId" ng-model="common.requirementModel.OrganizationUserIdList" validation="required:alt=Assigned recruiter is required.">
                                                            <option ng-repeat="organizationUser in lookup.organizationUser" value="{{organizationUser.Id}}">{{organizationUser.Name}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>




                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputPassword1">Description</label>
                                                        <textarea class="form-control" id="jobDescription" placeholder="Description" ng-model="common.requirementModel.JobDescription" onkeydown="singlespace(this)" name="jobDescription"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>
                                <div class="tsf-step 2">
                                    <fieldset>
                                        <legend></legend>
                                        <div class="tsf-step-content">
                                            <h2 class="custome-devider">
                                                <span>
                                                    <img src="images/rate.png" alt="rate image">
                                                    <span> Rate Details</span>
                                                </span>
                                            </h2>


                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputEmail1">Client Rate</label>
                                                        <div class="input-group">

                              <input type="text" class="form-control form-control-sm " id="ClientRate" placeholder="Client Rate" ng-model="common.requirementModel.ClientRate" name="ClientRate" angular-currency="currencyOptions">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputEmail1">Client Rate Type</label>
                                                        <input class="form-control form-control-sm" id="example_username" placeholder="Client Rate Type" required="" type="text" ng-model="common.requirementModel.ClientRateType" name="ClientRateType" onkeydown="singlespace(this)" onkeypress="return onlyCharacter(event)" validation="max_len:200">
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputPassword1">Pay Rate</label>
                                                        <div class="input-group">

                              <input type="text" class="form-control form-control-sm" id="PayRate" placeholder="Pay Rate" ng-model="common.requirementModel.PayRate" name="PayRate" angular-currency="currencyOptions">


                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputPassword1">Pay Rate Type</label>
                                                        <input class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Pay Rate Type" type="text" ng-model="common.requirementModel.PayRateType" name="PayRateType" onkeydown="singlespace(this)" onkeypress="return onlyCharacter(event)" validation="max_len:200">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">


                                                <div class="col-md-3">
                                                    <label class="chk-label" for="exampleInputPassword1">Min. Salary</label>
                                                    <div class="input-group">
                                                        <input class="form-control form-control-sm" id="minsalExample" placeholder="Min. Salary" type="text" onblur="salaryDemo()" ng-model="common.requirementModel.MinSalary" name="MinSalary" angular-currency="currencyOptions">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="chk-label" for="exampleInputPassword1">Max. Salary</label>
                                                    <div class="input-group">
                                                        <input class="form-control form-control-sm" id="maxsalExample" placeholder="Max. Salary" type="text" onblur="salaryDemo()" ng-model="common.requirementModel.MaxSalary" name="MaxSalary" angular-currency="currencyOptions">
                                                        <span class="errorMessage" style="display:none; color:red">Minimum Salary should not be greater than Maximum Salary. </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputEmail1">Margin</label>
                                                        <div class="input-group">
                              <input class="form-control form-control-sm" id="example_margin" placeholder="Margin" required="" type="text" ng-model="common.requirementModel.Margin" name="margin" angular-currency="currencyOptions">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputPassword1">Fee %</label>
                                                        <div class="input-group">
                                                            <input class="form-control form-control-sm" onkeypress="return onlyNumber(event)" id="fee" onkeydown="singlespace(this)" placeholder="Fee %" type="text" ng-model="common.requirementModel.FeePercent" name="FeePercent">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputPassword1">Per Diem</label>
                                                        <div class="input-group">
                              <input class="form-control form-control-sm" id="PerDiem" placeholder="Per Diem" type="text" ng-model="common.requirementModel.PerDiem" name="PerDiem" angular-currency="currencyOptions">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </fieldset>
                                </div>
                                <div class="tsf-step 3">
                                    <fieldset>
                                        <legend></legend>
                                        <div class="tsf-step-content">
                                            <h2 class="custome-devider">
                                                <span>
                                                    <img src="images/location.png" alt="Location Image">
                                                    <span> Location Details</span>
                                                </span>
                                            </h2>

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Country</label>
                                                        <select class="select2 full-width-100" onchange="ClearError('CountryId', 'CountryIdError')" id="CountryId" data-placeholder="Select Country" ng-model="common.requirementModel.CountryId" ng-change="getStateListByCountry(common.requirementModel.CountryId) ;getCityListByState(common.requirementModel.CountryId)">
                                                            <option value=""></option>
                                                            <option ng-repeat="country in metadata.GetAncillaryInformationResponse.countryList.country" value="{{country.Id}}"
                                                                    ng-bind="country.Name"></option>
                                                        </select>
                                                        <div id="CountryIdError" class="text-danger disp-none">Country is required.</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">State</label>
                                                        <select class="select2 full-width-100" onchange="ClearError('StateId', 'StateIdError')" id="StateId" data-placeholder="Select State" ng-model="common.requirementModel.StateId" ng-change="getCityListByState(common.requirementModel.StateId)">
                                                            <option value=""></option>
                                                            <option ng-repeat="state in stateList" value="{{state.Id}}"
                                                                    ng-bind="state.Name"></option>
                                                        </select>
                                                        <div id="StateIdError" class="text-danger disp-none">State is required.</div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputPassword1">City</label>
                            <select class="select2 full-width-100" ="{allowClear: true}" id="CityId" data-placeholder="Select City" ng-model="common.requirementModel.CityId">
                                                            <option value=""></option>
                                                            <option ng-repeat="city in cityList" value="{{city.Id}}"
                                                                    ng-bind="city.Name"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputPassword1">Zip Code</label>
                                                        <input class="form-control form-control-sm" id="ZipCode" placeholder="Zip Code" type="text" ng-model="common.requirementModel.Zip" name="Zip" onkeydown="return checkForSpace(event)" onkeypress="return onlyNumber(event)" validation="xseed_zip">
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">Job Location</label>
                                                        <input onkeyup="ClearError('location', 'locationError')" class="form-control form-control-sm" id="location" placeholder="Job Location" type="text" ng-model="common.requirementModel.Location" onkeydown="singlespace(this)" onkeypress="return onlyCharacter(event)" name="location">
                                                        <div id="locationError" class="text-danger disp-none">Location is required.</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputPassword1">VISA Type</label>
                                                        <a href="" class="text-primary pull-right" ng-click="openGenericMasterMultiValueModal('Visa Type');">Add/Edit</a>

                                                        <select multiple="multiple" class="select2 full-width-100"
                                                                style="width: 100%"
                                                                data-placeholder="Select VISA type"
                                                                ng-model="common.requirementModel.VisaTypeNameList"
                                                                name="VisaType"
                                                                id="lookupVisaType">
                                                            <option value=""></option>
                                                            <option ng-repeat="lookup in visaTypeList" value="{{lookup.Id}}">
                                                                {{lookup.Name}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputEmail1">Status</label>
                                                        <select class="select2 full-width-100" data-placeholder="Select Status" id="jobStatus" ng-model="common.requirementModel.JobStatusId">
                                                           <option selected value="" hidden>Select Status</option>
                                                            <option ng-repeat="jobStatus in lookup.jobStatus" value="{{jobStatus.Id}}"
                                                                    ng-bind="jobStatus.Name"></option>  
                                                                
                                                            </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputEmail1">Openings</label>
                                                        <input placeholder="Enter Number of Openings" id="totalPositions" type="text" onkeydown="singlespace(this)" onkeypress="return onlyNumber(event)" ng-model="common.requirementModel.TotalPositions" name="totalPositions" validation="max_len:10|integer" class="form-control form-control-sm">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-3" ng-hide="common.requirementModel.JobType == 'Permanent' || common.requirementModel.JobType == 'Full Time' ">
                                                    <div class=" form-group">
                                                        <label>Duration</label>
                                                        <input onkeyup="ClearError('duration','durationError')" id="duration" class="form-control form-control-sm" placeholder="Duration" type="text" ng-model="common.requirementModel.Duration" onkeydown="singlespace(this)" name="duration">
                                                        <div id="durationError" class="text-danger disp-none">Duration is required.</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="RequirementOpenedDate">Requirement Open Date</label>
                                                        <div class="input-group">
                                                           
                                                            <input class="form-control form-control-sm" id="RequirementOpenedDate" placeholder="Requirement Open Date" type="text" data-provide="datepicker" ng-model="common.requirementModel.JobPostedDate" name="requirementModel.jobPostedDate" validation=""
                                                                    ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="RequirementClosedDate">Requirement Close Date</label>
                                                        <div class="input-group">
                                                           
                                                            <input class="form-control form-control-sm" id="RequirementClosedDate" placeholder="Requirement Close Date" type="text" data-provide="datepicker" ng-model="common.requirementModel.JobClosedDate" name="requirementModel.jobClosedDate" validation=""
                                                                   ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="positionexpiry">Position Expiry Date</label>
                                                        <div class="input-group">

                                                            <input class="form-control form-control-sm" id="positionexpiry" placeholder="Position Expiry Date" type="text" data-provide="datepicker" ng-model="common.requirementModel.JobExpiryDate" name="jobExpiryDate" validation="" ui-mask="99/99/9999"
                                                                   ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>



                                        </div>
                                    </fieldset>
                                </div>
                                <div class="tsf-step 4">
                                    <fieldset>
                                        <legend></legend>
                                        <div class="tsf-step-content">
                                            <h2 class="custome-devider">
                                                <span>
                                                    <img src="images/skill.png" alt="skill image">
                                                    <span> Skill Details</span>
                                                </span>
                                            </h2>

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputEmail1">Communication Skills</label>
                                                        <select class="select2 full-width-100" data-placeholder="Select Communication Skills" id="CommunicationSkills" ng-model="common.requirementModel.CommunicationSkills">
                                                            <option selected value="" hidden>Select skill level</option>
                                                            <option>Average</option>
                                                            <option>Excellent</option>
                                                            <option>Good</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputPassword1">Degree</label>
                                                        <input tabindex="36" type="text" class="form-control form-control-sm readOnlyTransperent" placeholder="Enter Degree" ng-model="common.requirementModel.DegreeNameList" name="degree" id="lookupDegree" readonly auto-complete ui-items="degree" ng-click="openGenericMasterMultiValueModal('Degree');"
                                                               ng-keyup="openGenericMasterMultiValueModal('Degree');" />

                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputEmail1">Weekly Hours</label>
                            <input class="form-control form-control-sm" id="WeeklyHours" onkeypress="return onlyNumber(event)" placeholder="Weekly Hours" type="text" ng-model="common.requirementModel.WeeklyHours" name="WeeklyHours" maxlength="2" validation="numeric">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputEmail1">Total Hours</label>
                            <input class="form-control form-control-sm" id="TotalHours" onkeypress="return onlyNumber(event)" placeholder="Total Hours" type="text" ng-model="common.requirementModel.TotalHours" name="TotalHours" maxlength="2" validation="numeric">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputPassword1">Business Unit</label>
                                                        <input ng-click="openGenericMasterModal('Business Unit');" readonly class="form-control form-control-sm" id="lookupBusinessUnit" placeholder="Select Business Unit" type="text" ng-model="common.requirementModel.BusinessUnitName" name="businessUnit">
                                                </div>
                                            </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputPassword1">Security Clearance</label>
                                                        <input class="form-control form-control-sm" id="SecurityClearance" placeholder="Security Clearance" type="text" ng-model="common.requirementModel.SecurityClearance" name="SecurityClearance" onkeydown="singlespace(this)" onkeypress="return onlyCharacter(event)" validation=" max_len:200">
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputPassword1">Quick Notes</label>
                                                        <input class="form-control form-control-sm" id="QuickNotes" placeholder="Quick Notes" type="text" ng-model="common.requirementModel.qNote" onkeydown="singlespace(this)" name="qNote" validation="max_len:200">
                                                    </div>
                                                </div>



                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="chk-label" for="exampleInputPassword1">Technical Skills</label>


                                                        <select ng-model="common.requirementModel.SkillList" id="SkillList" name="SkillList" data-placeholder="Technical Skills" multiple="multiple" class="select2  full-width-100" style="width: 100%">
                                                            <option ng-repeat="lookup in lookup.skillListData" ng-model="lookup.skillListData" value="{{lookup.value}}">
                                                                {{lookup.value}}
                                                            </option>
                                                        </select>



                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-group">

                                                <div class="col-md-6">
                                                    <div class="row ">
                                                        <div class="col-md-12">
                                                            <h6>Total Experience</h6>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="chk-label" for="exampleInputPassword1">Min. Experience (yrs.)</label>
                                                            <select class="select2 full-width-100" name="experienceInYear" ="{allowClear: true}" id="experienceInYear" data-placeholder="Select Minimum Year(s)" id="experienceInYear">

                                                                <option value="{{common.requirementModel.ExperienceInYear}}" ng-if="common.requirementModel.ExperienceInYear" selected hidden>{{common.requirementModel.ExperienceInYear}}</option>
                                                                <option ng-if="!common.requirementModel.ExperienceInYear" value="">Select Experience (Year(s))</option>
                                                                <option ng-repeat="i in 26 | range" value="{{$index}}">{{$index}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="chk-label" for="exampleInputPassword1">Max. Experience (yrs.)</label>
                                                            <select class="select2 full-width-100" name="experienceInMonth" ="{allowClear: true}" id="experienceInMonth" data-placeholder="Select Maximum Year(s)" id="experienceInMonth">
                                                                <option value="{{common.requirementModel.ExperienceInMonth}}" ng-if="common.requirementModel.ExperienceInMonth" selected hidden>{{common.requirementModel.ExperienceInMonth}}</option>
                                                                <option ng-if="!common.requirementModel.ExperienceInMonth" value="">Select Experience (Year(s))</option>

                                                                <option ng-repeat="i in 26 | range" value="{{$index}}">{{$index}}</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h6>US Experience</h6>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="chk-label" for="exampleInputPassword1">Min. Experience (yrs.)</label>
                              <select class="select2 full-width-100" id="usExperienceInYear" name="usExperienceInYear" ="{allowClear: true}" data-placeholder="Select Minimum Year(s)" id="usExperienceInYear">
                                                                <option value="{{common.requirementModel.USExperienceInYear}}" ng-if="common.requirementModel.USExperienceInYear" selected hidden>{{common.requirementModel.USExperienceInYear}}</option>
                                                                <option ng-if="!common.requirementModel.USExperienceInYear" value="">Select Experience (Year(s))</option>


                                                                <option ng-repeat="i in 26 | range" value="{{$index}}">{{$index}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="chk-label" for="exampleInputPassword1">Max. Experience (yrs.)</label>
                              <select class="select2 full-width-100" id="usExperienceInMonth" name="usExperienceInMonth" ="{allowClear: true}" data-placeholder="Select Maximum Year(s)" id="usExperienceInMonth">
                                                                <option value="{{common.requirementModel.USExperienceInMonth}}" ng-if="common.requirementModel.USExperienceInMonth" selected hidden>{{common.requirementModel.USExperienceInMonth}}</option>
                                                                <option ng-if="!common.requirementModel.USExperienceInMonth" value="">Select Experience (Year(s))</option>

                                                                <option ng-repeat="i in 26 | range" value="{{$index}}">{{$index}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                        </div>
                                    </fieldset>
                                </div>
                            </form>
                            <div class="tsf-controls bg-white">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="col-md-1">
                                            <button id="preBtn" ng-click="step_preBtn()" class="btn btn-primary btn-icon btn-left btn-sm tsf-wizard-btn disp-none" data-type="prev" type="button">
                                                <i class="material-icons">arrow_back</i>
                                                <span>Prev</span>
                                            </button>
                                        </div>
                                        <div class="col-md-10" text-align="center">
                                            <button id="preview" data-toggle="tooltip" class="btn btn-primary btn-icon   btn-sm tsf-wizard-btn  disp-none" data-type="next" type="button" ng-click="openrequirementPreviewModal()" ng-if="common.requirementModel.manipulationMode=== 'Create'">
                                                <i class="fa fa-eye"></i>
                                                <span>Preview</span>
                                            </button>

                                            <button id="nextSbmt" class="btn btn-primary btn-icon   btn-sm tsf-wizard-btn  " data-type="next" type="button" ng-click="checkDuplicateRequirementIdNSaveJob(createJobForm);" ng-if="common.requirementModel.manipulationMode=== 'Create'">
                                                <i class="material-icons">check</i>
                                                <span>Submit</span>
                                            </button>

                                            <button id="nextSbmt" class="btn btn-primary btn-icon   btn-sm tsf-wizard-btn  " data-type="next" type="button" ng-click="checkDuplicateRequirementIdNSaveJob(createJobForm);" ng-if="common.requirementModel.manipulationMode=== 'Edit'">
                                                <i class="material-icons">check</i>
                                                <span>Update</span>
                                            </button>
                                            <button id="nextSbmt" class="btn btn-primary btn-icon   btn-sm tsf-wizard-btn  " data-type="next" type="button" ng-click="rejectRequirement(common.requirementModel.emailParserId);" ng-if="common.requirementModel.HtmlText">
                                                <i class="material-icons">check</i>
                                                <span>Reject</span>
                                            </button>
                                            <button ng-click="cancelRequirementDetail()" class="btn btn-danger  btn-icon  btn-sm  " data-type="next" type="button">
                                                <i class="material-icons">close</i>
                                                <span>Cancel</span>
                                            </button>

                                        </div>

                                        
                                            <div class="col-md-1">

                                                <button ng-click="step_nextBtn(4,createJobForm,'requirement')" id="nextBtn" class="btn btn-primary btn-icon btn-right btn-sm tsf-wizard-btn" data-type="next" type="button">
                                                    <i class="material-icons">arrow_forward</i>
                                                    <span>Next</span>
                                                </button>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   </div>
</div>



 <script>
    function ClearError(el, err) {
        
        if ($("#" + el).val() != "") {
            $("#" + err).hide();
        } else {
            $("#" + err).show();
        }
    }
   
   $('#RequirementClosedDate').datepicker('setStartDate', '0d');
    $('#positionexpiry').datepicker('setStartDate', '0d');
    var FromEndDate = new Date();
    
    $(function () {
       
      $('#RequirementOpenedDate').datepicker({
            format:'mm/dd/yyyy',
      endDate: FromEndDate,
      autoclose: true
        });
    });

    
     //$("#exampleInputPasswordAgain123").on("change", function () {
    function salaryDemo() {
      
        var minValue = document.getElementById("minsalExample").value;
    var maxValue = document.getElementById("maxsalExample").value;
      //  minValue=parseInt(minValue)
      //  maxValue=parseInt(maxValue)
    if (isNaN(minValue) && isNaN(maxValue)) {
      if (minValue > maxValue) {
        document.getElementsByClassName("errorMessage")[0].style.display = 'block';
            }
      else {
        document.getElementsByClassName("errorMessage")[0].style.display = 'none';
            }
        }
    }     
</script>
