﻿<div class="modal" tabindex="-1" role="dialog" ng-controller="ModalCtrl">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content animated slideInDown">
            <form autocomplete="off" class="form-horizontal" name="candidateSubmissionPopupForm" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>Requirement Associations</span>
                    </h4>
                </div>
                <div class="modal-body" style="height:400px;" scrollable always-visible="true">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="text-muted">Company</label>
                            <p>{{requirement.CompanyName}} </p>
                        </div>
                        <div class="col-sm-6">
                            <label class="text-muted">Requirement Title</label>
                            <p>{{requirement.JobTitle}} </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="text-muted">Company Requirement Code</label>
                            <p>{{requirement.ClientJobCode}}</p>
                        </div>
                        <div class="col-sm-6">
                            <label class="text-muted">Requirement Type</label>
                            <p>{{requirement.JobType}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="text-muted">Requirement Status</label>
                            <p>{{requirement.JobStatus}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="text-muted">Assigned Recruiter(s)</label>
                            <ul class="list-inline">
                                <li class="list-inline-item" ng-repeat="organizationUser in requirement.OrganizationUser">
                                    <span class="sectionHighlight">
                                        {{organizationUser.Name}}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="text-muted">Associated Candidate(s)</label>
                            <table class="table table-sm table-bordered table-hover">
                                <caption></caption>
                                <thead>
                                    <tr>
                                        <th scope="col">Candidate</th>
                                        <th scope="col">Submitted by</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Remark</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="associatedCandidate in associatedCandidateList">
                                        <td>
                                            <a ng-click="closeRequirementMoreModal();candidateDetailView(associatedCandidate.CandidateId);" style="color:blue;">{{associatedCandidate.CandidateName}}</a>
                                        </td>
                                        <td>{{associatedCandidate.SubmittedByName}}</td>
                                        <td>{{associatedCandidate.Status}}</td>
                                        <td>{{associatedCandidate.Remark}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <label class="text-muted">Applied Candidate(s)</label>
                            <table class="table table-sm table-bordered table-hover">
                                <caption></caption>
                                <thead>
                                    <tr>
                                        <th scope="col">Candidate</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Mobile</th>
                                        <th scope="col">Skills</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="appliedCandidate in requirementModel.appliedCandidateList">
                                        <td>
                                            <a ng-click="closeRequirementMoreModal();candidateDetailView(appliedCandidate._id);" style="color:blue;">{{appliedCandidate.FirstName + " " + appliedCandidate.LastName}}</a>
                                        </td>
                                        <td>{{appliedCandidate.PrimaryEmail}}</td>
                                        <td>{{appliedCandidate.Mobile}}</td>
                                        <td ng-bind="appliedCandidate.Skills"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="closeRequirementMoreModal();">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>