<div ng-init="checkUserAccess();initRequirementList();InializePopoverAndTooltip();requirementFilter.CollapseStatus=false">


    <div class="row">
        <div class="col-md-12 p-0">
            <div class="col-md-8 ">
                <div class="input-group">
                    <input name="searchRequirements" class="form-control  " type="text" placeholder="Search by: Internal Requirement Id, Title, Type, Status, Company, Assigned Recruiter" title="Search by: Internal Requirement Id, Title, Type, Status, Company, Assigned Recruiter"
                        maxlength="100" ng-model="common.advanceSearchModel.SearchAny" ng-enter="getRequirementFilterResult()" style="padding:2px;    height: 28px;">
                    <span class="input-group-btn">
                        <button style=" height: 28px;" type="button"
                                class="btn bg-primary btn-secondary small btn-sm pull-right"
                                ng-disabled="!common.advanceSearchModel.SearchAny" ng-click="getRequirementFilterResult()">
                            <i class="fa fa-search" style="font-size: 14px;"></i> Search
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-1 left-buttons">
                <a href onclick="OpenFilter('filter')" id="btn_filter" class="btn btn-primary btn-filterItem btn-sm btn-icon loading-demo m-b-xs font-12 pull-right">
                    <i class="material-icons">filter_list</i><span>Filter</span>
                </a>

                <a href onclick="OpenFilter('clear')" ng-click="resetRequirementAdvanceSearch(); " ng-disabled="!flag.advanceSearchFlag" id="btn_clearfilter" class="disp-none btn btn-primary  btn-filterItem btn-sm btn-icon loading-demo m-b-xs font-12 pull-right">
                    <i class="material-icons">close</i><span>Clear</span>
                </a>

            </div>
            <div class="col-md-3 left-buttons">
                <a ng-click="createRequirementView()" ng-if="userDetails.Requirement_Create == 'True'" href class="btn btn-outline-primary  btn-sm btn-icon loading-demo m-b-xs font-12 pull-right">
                    <i class="material-icons">add_circle_outline</i><span>Add New</span>
                </a>
                <a ng-href="#/vendorEmailList" ng-if="(userDetails.RoleName == 'Application Administrator' || userDetails.RoleName == 'Delivery Manager' || userDetails.RoleName == 'Team Lead') &&(userDetails.Vendor_Read == 'True')" href class="btn btn-outline-primary width-136 btn-sm btn-icon loading-demo  m-r-xs  m-b-xs font-12 pull-right">
                    <i class="material-icons">email</i> Client email
                </a>
            </div>
        </div>

        <br>
        <div id="div_filter" class="col-md-12  p-0 disp-none">
            <div class="col-md-2">
                <select ng-model="requirementFilter.select_filterUser" id="select_filterUser" ng-change="GetValue()"  data-placeholder="Search by users" multiple="multiple" class="select2  full-width-100" style="width: 100%">
                    <option ng-repeat="key1 in requirementFilterLookup[0].Users" value="{{key1.Id}}">
                        {{key1.Name}}
                    </option>
                </select>
            </div>
            <div class="col-md-2">
                <select ng-model="requirementFilter.select_filterStatus" id="select_filterStatus" ng-change="GetValue()" data-placeholder="Search by status" multiple="multiple" class="select2  full-width-100" style="width: 100%">
                    <option ng-repeat="key1 in requirementFilterLookup[1].Status" value="{{key1.Id}}">
                        {{key1.Name}}
                    </option>
                </select>
            </div>
            <div class="col-md-2">
                <select ng-model="requirementFilter.select_filterType" id="select_filterType" ng-change="GetValue()" data-placeholder="Search by type" multiple="multiple" class="select2  full-width-100" style="width: 100%">
                    <option ng-repeat="key1 in requirementFilterLookup[2].Type" value="{{key1.Id}}">
                        {{key1.Name}}
                    </option>
                </select>
            </div>
            <div class="col-md-2">
                <select ng-model="requirementFilter.select_filterCompany" id="select_filterCompany" ng-change="GetValue()" data-placeholder="Search by company" multiple="multiple" class="select2  full-width-100" style="width: 100%">
                    <option ng-repeat="key1 in requirementFilterLookup[3].Company" value="{{key1.Id}}">
                        {{key1.Name}}
                    </option>
                </select>
            </div>
            <div class="col-md-1 left-buttons">
                <button type="button" ng-click="getSelectedFilterItem()" ng-disabled="filterItemCount== 0" class="btn btn-primary  btn-sm btn-icon loading-demo m-b-xs font-12 pull-right">
                    <i class="material-icons">check</i><span>Apply</span>
                </button>
            </div>


        </div>
    </div>



    <div class="row">
        <div class="col-md-12 p-0">
            <div class="col-md-9">



                <button onclick="MakeBtnActive(this)" ng-click="getJobsByStatus('All')" type="button" class="btn-filter btn btn-default btn-sm m-r-xs m-b-xs font-12">
                    All  <span class="statusspan jobstatusall">{{common.Count1}}</span>
                </button>
                <button onclick="MakeBtnActive(this)" ng-click="getJobsByStatus('MyAll')" type="button" class="btn-filter btn-myall active btn btn-outline-primary btn-sm m-r-xs m-b-xs font-12">
                    My All <span class="statusspan jobstatusmyall">{{common.Count2}}</span>
                </button>
                <button onclick="MakeBtnActive(this)" ng-click="getJobsByStatus('MyOpen')" type="button" class="btn-filter btn btn-outline-danger btn-sm m-r-xs m-b-xs font-12">
                    My Open <span class="statusspan jobstatusopen">{{common.Count3}}</span>
                </button>
                <button onclick="MakeBtnActive(this)" ng-click="getJobsByStatus('MyClosed')" type="button" class="btn-filter btn btn-outline-success btn-sm m-r-xs m-b-xs font-12">
                    My Closed <span class="statusspan jobstatusclose">{{common.Count4}}</span>
                </button>
                <button onclick="MakeBtnActive(this)" ng-click="getJobsByStatus('MyPending')" type="button" class="btn-filter btn btn-outline-warning btn-sm m-r-xs m-b-xs font-12">
                    My Pending <span class="statusspan jobstatuspending">{{common.Count5}}</span>
                </button>
                <button onclick="MakeBtnActive(this)" ng-click="getJobsByStatus('MyHold')" type="button" class="btn-filter btn btn-outline-info btn-sm   m-b-xs font-12">
                    My Hold <span class="statusspan jobstatushold">{{common.Count6}}</span>
                </button>




                </div>

            <div class="col-md-3 left-buttons">

                <button ng-click="printDiv('requirementDiv','Requirements')" class="btn btn-outline-primary  btn-sm btn-icon loading-demo width-100   m-b-xs font-12 pull-right">
                    <i class="material-icons">local_printshop</i> Print
                </button>
                <button ng-click="exportToExcel(constants.sectionRequirements);" class="btn btn-outline-primary  btn-sm btn-icon loading-demo m-b-xs m-r-xs font-12 pull-right">
                    <i class="material-icons">file_download</i><span>Export to excel</span>
                </button>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card-block-outer ">
                <div class="no-more-tables dataTables_wrapper container-fluid dt-bootstrap4 no-footer" id="requirementDiv">

                    <table ng-table="common.tblRequirementList" id="tbl_requirement_list" class="table table-responsive dataTable datatable">
                        <caption></caption>
                        <thead>
                            <tr class="card">
                                <th scope="col">
                                    <i ng-if="requirementFilter.CollapseStatus==true" class="fa fa-chevron-down table-collapse-arrow-th" aria-hidden="true" ng-click="collpaseAll()"> </i>
                                </th>
                                <th scope="col"><button class="btn btn-sm pull-right btnsortstyle" ng-click="sortBy('JobTitle')"><span><i class="btnsort">&#x25B2;</i><i class="btnsort">&#x25BC;</i></span></button>Requirement</th>
                                <th scope="col">Date</th>
                                <th scope="col">Location</th>
                                <th scope="col">Rate Detail</th>
                                <th scope="col">Experience</th>
                                <th scope="col">Skills</th>
                                <th scope="col" data-title="Associated Candidates">Assoc. Candidates</th>
                                <th scope="col"><button class="btn btn-sm pull-right btnsortstyle" ng-click="sortBy('CreatedOn')"><span><i class="btnsort">&#x25B2;</i><i class="btnsort">&#x25BC;</i></span></button>Assigned Recruiters</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr class="card panel-heading" id="tr-1" ng-repeat="job in common.jobList  | orderBy:propertyName:reverse " repeat-end=" inializepopoverandtooltip()">
                                <td id="{{job.Id}}" ng-if="userDetails.Requirement_Read == 'True'" ng-click="openRequirementDetailModal(job);" ng-disabled="common.jobList.length == 0" data-title="Requirement" class="parenttr" status="collapsed" data-order='1'>
                                    <label class="labelauty-label">
                                        <p class="card-title display-flex font-12">
                                            <i class="fa fa-chevron-right table-collapse-arrow" aria-hidden="true"> </i>
                                        </p>
                                    </label>
                                </td>
                                <td data-title="Requirement">

                                    <label class="labelauty-label">
                                        <p class="card-title display-flex font-12 visa-overflow">
                                            {{job.JobTitle}}
                                        </p>
                                        <p class="card-title display-flex font-12">
                                            <span ng-if="job.JobStatus== 'Archive'" class="badge bg-grey text-xs-center">{{job.JobStatus}}</span>
                                            <span ng-if="job.JobStatus== 'Closed'"
                                                  class="badge bg-success text-xs-center">{{job.JobStatus}}</span>
                                            <span ng-if="job.JobStatus== 'Pending'"
                                                  class="badge bg-warning text-xs-center">{{job.JobStatus}}</span>
                                            <span ng-if="job.JobStatus== 'Hold'"
                                                  class="badge bg-info text-xs-center">{{job.JobStatus}}</span>
                                            <span ng-if="job.JobStatus== 'Open'"
                                                  class="badge bg-danger text-xs-center">{{job.JobStatus}}</span>

                                            &nbsp; &nbsp;{{job.RequisitionId}}
                                        </p>


                                    </label>
                                </td>
                                <td data-title="Date">
                                    <label class="labelauty-label">
                                        <p class="card-title display-flex font-12" ng-if="job.JobPostedDate!=null">
                                            Open: {{job.JobPostedDate|date:'MM-dd-yyyy'}}
                                        </p>
                                        <p class="card-title display-flex font-12" ng-if="job.JobClosedDate!=null">
                                            Close: {{job.JobClosedDate|date:'MM-dd-yyyy'}}
                                        </p>
                                    </label>
                                </td>

                                <td data-title="Location">
                                    <label class="labelauty-label">
                                        <p class="card-title display-flex font-12 visa-overflow ">
                                            {{job.Location}}
                                        </p>
                                    </label>
                                </td>


                                <td data-title="Rate">
                                    <label class="labelauty-label">
                                        <p ng-if="job.JobType!='Full Time'" class="card-title display-flex font-12">
                                            Client rate: {{job.ClientRate}}
                                        </p>
                                        <p ng-if="job.JobType=='Full Time'" class="card-title display-flex font-12">
                                            Salary: $ {{job.MinSalary | shortNumber}} - $ {{job.MaxSalary | shortNumber}}
                                        </p>
                                        <p class="card-title display-flex font-12 visa-overflow ">
                                            {{job.JobType}} - {{job.VisaType}}
                                        </p>

                                    </label>
                                </td>
                                <td data-title="Experience">
                                    <label class="labelauty-label">
                                        <p class="card-title display-flex font-12">
                                            <span ng-if="job.ExperienceInYear!=null">
                                                Total Exp: {{job.ExperienceInYear}}
                                                -
                                            </span>
                                            <span ng-if="job.ExperienceInYear==null && job.ExperienceInMonth!=null">
                                                Total Exp: 0
                                                -
                                            </span>
                                            <span ng-if="job.ExperienceInYear==null && job.ExperienceInMonth==null">
                                                Total Exp: NA

                                            </span>

                                            &nbsp;
                                            <span ng-if="job.ExperienceInMonth!=null">
                                                {{job.ExperienceInMonth}}
                                                Yr.
                                            </span>

                                        </p>
                                        <p class="card-title display-flex font-12">

                                            <span ng-if="job.USExperienceInYear!=null">
                                                US Exp:
                                                {{job.USExperienceInYear}}
                                                -
                                            </span>
                                            <span ng-if="job.USExperienceInYear==null && job.USExperienceInMonth!=null">
                                                US Exp: 0
                                                -

                                            </span>
                                            <span ng-if="job.USExperienceInYear==null && job.USExperienceInMonth==null">
                                                US Exp: NA


                                            </span>
                                            &nbsp;
                                            <span ng-if="job.USExperienceInMonth!=null">
                                                {{job.USExperienceInMonth}}
                                                Yr.
                                            </span>
                                        </p>
                                    </label>
                                </td>
                                <td data-title="Skills">
                                    <label class="labelauty-label">
                                        <p ng-show="job.TechnicalSkills" class="card-title display-flex font-12 skill-overflow" title="Skills"
                                           data-placement="top" data-trigger="hover" data-toggle="popover"
                                           data-content="{{GetTechnicalSkillsRequirement(job.TechnicalSkills)}}" ng-bind="GetTechnicalSkillsRequirement(job.TechnicalSkills)">
                                            ...
                                        </p>
                                        <p ng-if="!job.TechnicalSkills" class="card-title display-flex font-12 skill-overflow">
                                            ...
                                        </p>
                                    </label>


                                </td>
                                <td data-title="AsssociatedCandidates">
                                    <label class="labelauty-label" title="AssociatedCandidates"> {{job.count}}
                                    </label>
                                </td>

                                <td data-title="recruiters">
                                    <label class="labelauty-label" title="Assinged recruiters" data-placement="top" data-trigger="hover" data-toggle="popover" data-content="{{CreateArrayToString(job.OrganizationUser)}}">
                                        <p ng-repeat="recruiter in job.OrganizationUser | limitTo:2"
                                           class="card-title display-flex font-12">
                                            {{recruiter.Name}}...
                                        </p>
                                        <p class="card-title display-flex font-12">{{job.CreatedOn|date:'MM-dd-yyyy'}}</p>
                                    </label>
                                </td>
                                <td data-title="Actions" class="disp-flex">

                                    <div class="dropdown pull-right">
                                        <button data-toggle="dropdown" data-original-title="Share" type="button" ng-click="javascript:;" class="btn btn-outline-primary btn-sm m-r-xs loading-demo m-b-xs font-12 mb-0 pull-right dropdown-toggle" aria-expanded="false">
                                            <i class="fa fa-share-alt"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" role="menu">

                                            <a ng-click="requirementShareModal1(job);" class="dropdown-item" href="javascript:;"><i class="fa fa-share-alt"></i> Social Share</a>

                                            <a ng-click="requirementPostingModal1(job);" class="dropdown-item" href="javascript:;">
                                                <i class="fa fa-send"></i> Job Board
                                            </a>
                                        </div>

                                    </div>
                                    <button data-toggle="tooltip" title="" data-original-title="Activities" type="button" ng-click="openrequirementActivityQnotesModal(job)" class="btn btn-outline-primary btn-sm m-r-xs loading-demo m-b-xs font-12 mb-0 pull-right">
                                        <i class="fa fa-eye"></i>
                                    </button>


                                    <div class="dropdown pull-right">
                                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right" role="menu">

                                            <a ng-click="requirementDirectEditView(job);" ng-if="userDetails.Requirement_Update == 'True'" class="dropdown-item" href="javascript:;"><i class="fa fa-pencil"></i> Edit Detail</a>


                                            <a ng-if="userDetails.Submission_Create == 'True' && job.JobStatus!= 'Archive' && job.JobStatus!= 'Closed'" ng-click="openCandidateSearchModal(job);" ng-disabled="common.selectedJob.JobStatus== 'Archive' || common.selectedJob.JobStatus== 'Closed'" class="dropdown-item"
                                               href="javascript:;">
                                                <i class="fa fa-send"></i> Submit Candidate
                                            </a>
                                            <a ng-click="sendMailToAssignedCompanyContact(job);" ng-disabled="common.jobList.length == 0" class="dropdown-item" href="javascript:;"><i class="fa fa-envelope"></i> Send Email</a>
                                            <a ng-if="job.AppliedCandidateCount!=0" ng-click="showAppliedCandidates(job);" class="dropdown-item" href>
                                                <i class="fa fa-users"></i> Applied Candidate <span class="tag tag-danger" ng-if="job.AppliedCandidateCount!=0" style="  margin-left: 3px;  border-radius: 10px; ">{{job.AppliedCandidateCount}}</span>
                                            </a>
                                            <a ng-if="job.JobStatus!= 'Closed'" ng-click="updateJobStatus(job.Id,common.jobClosedStatusId,$index);" class="dropdown-item" href="javascript:;">
                                                <i class="fa fa-close"></i> Close Job
                                            </a>
                                        </div>

                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="col-sm-12 no-contacts p-a-3 border-warning" style="border: 3px dashed #bbb !important;border-radius:4px;" ng-if="!common.jobList.length">
                        <p class="text-shadow lead text-xs-center">
                            <img src="images/search.png" alt="Search Image"/><br /> No records found!
                        </p>
                    </div>

                </div>



            </div>
        </div>
    </div>
</div>
<script>
    function MakeBtnActive(btn) {
        $(".btn-filter").removeClass("active");
        $(btn).addClass("active");

    }

    function OpenFilter(type) {
        $("#div_filter").toggle(500);
        $("#btn_filter").toggle();
        $("#btn_clearfilter").toggle();

        if (type == 'clear') {
            $(".select2").each(function() { //added a each loop here
                $(this).val("");
                $(this).trigger("change");
            });
            $(".btn-filter").removeClass("active");
            $(".btn-myall").addClass("active");
        }
        setTimeout(function() {
            $(".select2").each(function() { //added a each loop here
                $(this).val("");
                $(this).trigger("change");
            });
        }, 500);
    }

    $(document).ready(function () {
        //$('.loading').fadeOut(1000);
    });
</script>

<style>
    .btnsort {
        display: inline-block;
        height: 6px;
        width: 9px;
        color: rgb(128,128,128);
    }

    .btnsortstyle {
        position: absolute;
        margin-top: -4px;
        float: right;
        margin-left: 135px;
    }
</style>