﻿<div class="row" ng-init="getRequirementQueueList()">
    <div class="card">
        <div class="card-header p-a-xs clearfix">
            <div class="col-sm-2 pull-right p-r-0">
                <a class="btn  pull-right btn-danger btn-sm small" role="button" href="#/requirementList">
                    <i class="fa fa-list m-r-xs"></i>List
                </a>
            </div>
        </div>
        <div class="card-block p-l-xs p-r-xs p-t-0 p-b-0">
            <div class="table-responsive scroll slimScroll">
                <table ng-table="tblRequirementQueueList" class="table table-bordered table-sm table-hover text-nowrap small p-a-0 m-a-0">
                    <caption></caption>
                    <tbody>
                        <tr ng-repeat="requirement in requirementQueue" ng-class="{'bg-primary-lighter':requirement.Id == common.selectedRow}" sglclick="setClickedRow(requirement)" ng-dblclick="setClickedRow(requirement);reviewRequirement(requirement.Id);">
                            <td data-title="'Company Contact'" header-class="'bg-primary'" ng-bind="requirement.CompanyContact"></td>
                            <td data-title="'Subject'" header-class="'bg-primary'" ng-bind="requirement.Subject" style="min-width:60px;max-width:100px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;" ng-attr-title="{{requirement.Subject}}"></td>
                            <td data-title="'Email Date'" header-class="'bg-primary'" ng-bind="requirement.EmailDate| date: 'MM/dd/yyyy h:mma'" style="min-width:50px;max-width:50px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;" ng-attr-title="{{requirement.EmailDate}}"></td>
                            <td data-title="'Requirement Title'" header-class="'bg-primary'" ng-bind="requirement.Title"></td>
                            <td data-title="'Requirement Type'" header-class="'bg-primary'" ng-bind="requirement.Type" style="min-width:30px;max-width:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"></td>
                            <td data-title="'State'" header-class="'bg-primary'" ng-bind="requirement.State"></td>
                            <td data-title="'City'" header-class="'bg-primary'" ng-bind="requirement.City"></td>
                            <td data-title="'Skill(s)'" header-class="'bg-primary'" ng-bind="requirement.SkillList" style="min-width:30px;max-width:40px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;" ng-attr-title="{{requirement.SkillList}}"></td>
                            <td data-title="'Action'" header-class="'bg-primary'" class="text-xs-center">
                                <a tooltip-placement="top" uib-tooltip="Review" ng-click="reviewRequirement(requirement.Id);" ng-if="userDetails.Requirement_Read == 'True'">
                                    <i class="fa fa-eye fa-lg text-primary m-r-xs"></i>
                                </a>
                                <a tooltip-placement="top" uib-tooltip="Reject" ng-click="rejectRequirement(requirement.Id);" ng-if="userDetails.Requirement_Update == 'True'">
                                    <i class="fa fa-close text-danger" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-if="requirementQueue.length == 0" class="no-contacts fill-container layout-column scroll-y">
                    <h3 class="text-shadow text-muted">
                        No pending requirements.
                    </h3>
                    <a class="btn btn-primary btn-lg" href="#/requirementList">Click to view other requirements.</a>
                </div>
            </div>
        </div>
    </div>
</div>