<div class="header-inner" ng-class="{'search-focus': main.searchFocus, 'search-focus-active': !main.app.search}">
    <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
        <!-- toggle offscreen menu -->
        <a href="javascript:;" ng-click="main.toggleMenu()" class="toggle-offscreen">
            <i class="material-icons">menu</i>
        </a>
    </div>
    <span class="navbar-item navbar-spacer-right hidden-md-down m-auto">
        <a class="brand-logo" href="#/candidateProfile">
            <img class="expanding-hidden" src="images/logo-b.png" alt="">
        </a>
    </span>
    <div class="navbar-search navbar-item m-auto">
        <div class="pull-right">
            <div class="user-image pull-right hidden-md-down text-xs-right font-15">
                <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>
                        <img ng-if="userDetails.ProfileImageFile && userDetails.ProfileImageFile != ''" ng-src="{{ userDetails.ProfileImageFile }}" lazy-src class="avatar-2wh img-circle" title="{{userDetails.FirstName + ' ' + userDetails.LastName}}" />
                        <img ng-if="!userDetails.ProfileImageFile || userDetails.ProfileImageFile === ''" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src class="avatar-2wh img-circle" title="user" />
                    </span>
                    <span ng-bind="userDetails.FirstName"></span>
                    <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </a>
                <div class="dropdown-menu m-t-n animated fadeInDown z-index-top" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">
                        <div class="user-info expanding-hidden v-align-middle">
                            <span ng-bind="userDetails.FirstName"></span>
                            <span ng-bind="userDetails.LastName"></span>
                            <div class="small" ng-bind="userDetails.RoleName"></div>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" ng-click="logOut()">
                        Logout
                    </a>
                </div>
            </div>
        </div>
        <div class="btn-round btn-sm bg-white m-r-3 text-xs-right pull-right font-14 text-grey-dark">
            <span class="bold">{{pageTitle}}</span>
        </div>
    </div>
    <div class="navbar-item nav navbar-nav">
        <!--<div class="nav-item nav-link uib-dropdown" uib-dropdown>
          <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle>
            <span translate="LANGUAGE"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
            <a class="dropdown-item" href="javascript:;" ng-click="main.setLang('en_US')">English</a>
            <a class="dropdown-item" href="javascript:;" ng-click="main.setLang('en_RU')">Russian</a>
          </div>
        </div>

        <div class="nav-item nav-link dropdown" uib-dropdown>
          <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle>
            <i class="material-icons">notifications</i>
            <span class="label label-danger">4</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right notifications" uib-dropdown-menu>
            <div class="dropdown-item">
              <div class="notifications-wrapper">
                <ul class="notifications-list">
                  <li>
                    <a href="javascript:;">
                      <div class="notification-icon">
                        <div class="circle-icon bg-success text-white">
                          <i class="material-icons">arrow_upward</i>
                        </div>
                      </div>
                      <div class="notification-message">
                        <b>Sean</b>
                        launched a new application
                        <span class="time">2 seconds ago</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <div class="notification-icon">
                        <div class="circle-icon bg-danger text-white">
                          <i class="material-icons">check</i>
                        </div>
                      </div>
                      <div class="notification-message">
                        <b>Removed calendar</b>
                        from app list
                        <span class="time">4 hours ago</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <span class="notification-icon">
                        <div class="circle-icon bg-info text-white">J</div>
                      </span>
                      <div class="notification-message">
                        <b>Jack Hunt</b>
                        has
                        <b>joined</b>
                        mailing list
                        <span class="time">9 days ago</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <span class="notification-icon">
                        <div class="circle-icon bg-primary text-white">C</div>
                      </span>
                      <div class="notification-message">
                        <b>Conan Johns</b>
                        created a new list
                        <span class="time">9 days ago</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="notification-footer">Notifications</div>
            </div>
          </div>
        </div>
        <a href="javascript:;" class="nav-item nav-link nav-link-icon" ng-click="openChat()">
          <i class="material-icons">chat_bubble</i>
        </a>-->
    </div>
</div>