<div class="brand">
    <!-- toggle offscreen menu -->
    <a href="javascript:;" ng-click="main.toggleMenu()" class="toggle-offscreen hidden-lg-up">
        <i class="material-icons">menu</i>
    </a>
    <!-- /toggle offscreen menu -->
    <!-- logo -->
    <a class="brand-logo p-t-xs" ng-href="#/candidateProfile">
        <img class="expanding-hidden" src="images/logo-b.png" alt="" />
    </a>
    <!--a href="#" class="small-menu-visible brand-logo"><b>C</b></a-->
    <!-- /logo -->
</div>

<div class="nav-profile hidden-lg-up" uib-dropdown>
    <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle>
        <div class="user-image">
            <img ng-if="userDetails.ProfileImageFile" ng-src="{{ userDetails.ProfileImageFile }}" lazy-src class="avatar-3wh img-circle" title="user" />
            <img ng-if="!userDetails.ProfileImageFile" ng-src="{{configuration.XSEED_NO_IMAGE_PATH}}" lazy-src class="avatar-3wh img-circle" title="user" />
        </div>
        <div class="user-info expanding-hidden">
            <span ng-bind="userDetails.FirstName"></span>
            <span ng-bind="userDetails.LastName"></span>
            <small class="bold" ng-bind="userDetails.RoleName"></small>
        </div>
    </a>
    <div class="dropdown-menu" uib-dropdown-menu>
        <!--<a class="dropdown-item" href="javascript:;">Settings</a>
        <a class="dropdown-item" href="javascript:;">Upgrade</a>
        <a class="dropdown-item" href="javascript:;">
            <span class="label bg-danger pull-right">34</span>
            <span>Notifications</span>
        </a>
        <div class="dropdown-divider">
        </div>
        <a class="dropdown-item" href="javascript:;">Help</a>-->
        <!--<a class="dropdown-item" ui-sref="user.signin">Logout</a>-->
        <a class="dropdown-item" ng-href="#/changePassword">Change Password</a>
        <a class="dropdown-item" ng-click="logOut()">Logout</a>

    </div>
</div>
<!-- main navigation -->
<nav role="navigation" side-navigation>
    <ul class="nav">
        <!-- dashboard -->
        <!--<li ui-sref-active="active">
            <a ng-href="#/home">
                <i class="material-icons text-primary">home</i>
                <span>Home</span>
            </a>
        </li>-->
        <li ui-sref-active="active">
            <a ng-href="#/candidateProfile" href="javascript: void(0);" ng-click="main.toggleMenu()">
                <i class="material-icons text-deeppurple">people</i>
                <span>Profile</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ng-href="#/openings" href="javascript: void(0);" ng-click="main.toggleMenu()">
                <i class="material-icons text-success">work</i>
                <span>Openings</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ng-href="#/applicationStatus" href="javascript: void(0);" ng-click="main.toggleMenu()">
                <i class="material-icons text-danger">assignment</i>
                <span>Status</span>
            </a>
        </li>
        <li data-ng-class="{open: $state.includes('app.apps')}">
            <a>
                <span class="menu-caret">
                    <i class="material-icons">arrow_drop_down</i>
                </span>
                <i class="material-icons text-teal">settings</i>
                <span translate="menu.Account"></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a ng-href="#/changePassword" href="javascript: void(0);" ng-click="main.toggleMenu()">
                        <span translate="menu.ChangePassword"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<!-- /main navigation -->
