﻿<nav role="navigation">
    <ul class="nav">

        <li title="Profile">
            <a ng-href="#/candidateProfile">
                <i class="material-icons text-deeppurple">person</i>
            </a>
        </li>
        <li title="Openings">
            <a ng-href="#/openings">
                <i class="material-icons text-success">work</i>
            </a>
        </li>
        <li title="Status">
            <a ng-href="#/applicationStatus">
                <i class="material-icons text-danger">assignment</i>
            </a>
        </li>

        <!--<li title="Home">
            <a ng-href="#/dashboard">
                <i class="material-icons text-primary">home</i>
            </a>
        </li>
        <li ng-if="userDetails.Requirement_Read == 'True'" title="Requirements">
            <a ui-sref="app.dashboard" ng-href="#/requirementList">
                <i class="material-icons text-cyan">assignment</i>
            </a>
        </li>
        <li ng-if="userDetails.Candidate_Read == 'True'" title="Candidates">
            <a ui-sref="app.dashboard" ng-href="#/candidateList">
                <i class="material-icons text-deeppurple">people</i>
            </a>
        </li>
        <li ng-if="userDetails.Submission_Read == 'True'" title="Submissions">
            <a ui-sref="app.dashboard" ng-href="#/submissions">
                <i class="material-icons text-indigo">assignment</i>
            </a>
        </li>
        <li title="Company" ng-if="userDetails.Company_Read == 'True'">
            <a ui-sref="app.dashboard" ng-href="#/companyList">
                <i class="material-icons text-success">business</i>
            </a>
        </li>
        <li ng-if="userDetails.Vendor_Read == 'True'" title="Vendor">
            <a ui-sref="app.dashboard" ng-href="#/vendorEmailList">
                <i class="material-icons text-brown">business</i>
            </a>
        </li>
        <li ng-if="userDetails.Vendor_Read == 'True'" title="Resume Emails">
            <a ui-sref="app.dashboard" ng-href="#/resumeEmailList">
                <i class="material-icons text-blue">business</i>
            </a>
        </li>
        <li ng-if="userDetails.Reports_Read == 'True'" title="Report">
            <a ng-href="#/reports">
                <i class="material-icons text-primary">insert_chart</i>
            </a>
        </li>
        <li title="Query Builder">
            <a ng-href="#/queryBuilder">
                <i class="material-icons text-danger">content_paste</i>
            </a>
        </li>
        <li title="Resume Blaster">
            <a ng-href="#/resumeBlasterList">
                <i class="material-icons text-grey-dark">send</i>
            </a>
        </li>-->
    </ul>
</nav>
